[2022-02-11 00:22] bangerth opened #13358 "Introduce single-function consensus algorithm interface"
As a follow-up to #13326 and in pursuit of #13208, introduce global functions that replace `ConsensusAlgorithms::*::run()`.

[2022-02-11 00:34] bangerth opened #13359 "Linker error for matrix-free stuff"
I get the following linker errors when using the current deal.II dev sources with ASPECT:
[code]

The only thing I'm doing different on this system than on my workstation is that I use lld as the linker, rather than gold. Has anyone else seen this? Are we instantiating these functions explicitly?

[2022-02-11 00:36] bangerth commented on #13359
For reference, I can't see for example that `create_cell_subrange_hp_by_index()` is explicitly instantiated somewhere. It is defined in the `matrix_free.template.h` file, which apparently is not `#include`d by ASPECT.

[2022-02-11 20:21] bangerth commented on #13348
This brought the test down to 5min43s. That's still quite close to the threshold, and probably exceeds the threshold if the machine is under load. We'll just see how it goes.

[2022-02-11 20:21] #13348 closed

[2022-02-12 22:34] tjhei commented on #13357
See #13368

[2022-02-14 05:18] bangerth opened #13377 "Thoughts about the interface to query MPI data types?"
#13367 moves the `mpi_type_id()` functions into the public headers. @tjhei beat me to it, but while doing this in an unsubmitted patch myself (which ended up being #13376) I was also thinking about whether the current interface is the best possible. We have in essence this:
[code]
with specializations for all data types supported by MPI. We originally wrote these as functions, but they are really

[2022-02-14 11:49] tjhei commented on #13377
I agree that the current interface is a bit awkward, especially because it requires passing a T*.
Feel free to change it to one of the two versions.

[2022-02-14 20:29] SilverLinings89 commented on #13359
Might this be related to #13098 ?

[2022-02-14 21:39] VictorEijkhout opened #13383 "Pytrilinos fail during test"
[code]

This is not fatal so I'm letting it slide. Is this dependent on the trilinos version?

[2022-02-14 22:18] drwells commented on #13383
`PyObject_GenericGetAttr` is a part of the [python API](https://docs.python.org/3.10/c-api/object.html#c.PyObject_GenericGetAttr) - it looks like `libpytrilinos` is underlinked. We do not use PyTrilinos, so this failure is unrelated to any configuration of our own python bindings.

There's nothing that we can change on our end to fix this so I am going to close this issue. For what it's worth, I p

[2022-02-14 22:18] #13383 closed

[2022-02-15 12:07] kronbichler commented on #13359
It is a regular class member function https://github.com/dealii/dealii/blob/09bae93a06eca37f12e27be378647160377a63a1/include/deal.II/matrix_free/matrix_free.h#L1465-L1468 and gets instantiated by the class instantiation here https://github.com/dealii/dealii/blob/09bae93a06eca37f12e27be378647160377a63a1/source/matrix_free/matrix_free.inst.in#L20-L22

What seems to be happening is that the code trie

[2022-02-16 02:49] #13357 closed

[2022-02-16 05:46] RichardYCJ commented on #13297
Any comments? 👀  @tjhei

[2022-02-16 17:31] bangerth opened #13402 "Remove a pointless assertion."
In one of @tjhei's patches to address #13357, I asked him to add an assert for `count >= 0`, which he did:
[code]
Now we get warnings that that is a pointless comparison against zero (line numbers relative to a different patch):
[code]
That's because I had wrongly assumed that `size_t` is signed, but it is not:
https://en.cppreference.com/w/c/types/size_t
https://en.cppreference.com/w/cpp/types/si

[2022-02-16 18:06] bangerth opened #13404 "HDF5 output doesn't work if a process has no cells"
There are a number of places where the HDF5 writers will fall on their faces if a process has no cells. One is here:
[code]
The one triggered in a post on the mailing list is here:
[code]

In other output writers, we have something like this:
[code]
but we would have to work through the various code paths whether just disabling the assertion for the MPI case works downstream (it wouldn't for the f

[2022-02-16 20:43] #13402 closed

[2022-02-17 15:28] kronbichler opened #13411 "Setup of MatrixFree got slower since release 9.3"
I ran a comparison of the run time of the new step_37 benchmark between the 9.2 release, the 9.3 release and current master. Here is a summary of results:
[code]
Here, the first column is the setup of the grid, the second `distribute_dofs` and `distribute_mg_dofs`, whereas the third is the one of interest here, the setup of the `MatrixFree` objects for the active cells and the level cells. This we

[2022-02-17 16:40] fdrmrc opened #13412 "Buggy constraints in `NonMatching` namespace"
1. If you plug

`  DoFTools::make_zero_boundary_constraints(space_dh, constraints);`

right after https://github.com/dealii/dealii/blob/9bdea9cb9d1b69162181bc14baa0adbf8edc5a22/tests/non_matching/coupling_07.cc#L72

then the constants are not projected correctly onto the immersed space, as you can observe in the following (highlighted with *)

[code]

2. If you use a non-empty `AffineConstraints<d

[2022-02-18 10:11] tjhei commented on #13297
Thanks for investigating. I am not sure what is going on here without looking at the implementation.

[2022-02-18 15:04] simonsticko opened #13418 "Error when extract face dofs of face boardering `FE_Nothing`"
I thought the following would work, but it results in an exception. Is this a bug or not?

Set up a triangulation with 2 cells:

`|cell 0|cell 1|`

 and a `DoFHandler` with elements over the triangulation:

` |FE_Q|FE_Nothing|`

 Try to extract the face dofs of cell 0 at the shared face.

[code]

[code]
--------------------------------------------------------

[2022-02-18 16:12] peterrum commented on #13418
I think this is rather an issue of the size of `dof_indices` and that `get_dof_indices()` does not get the right index. The following code is working:

[code]

[2022-02-18 16:29] kronbichler commented on #13418
Is there a way to print better assertions that inform the user that the wrong size has been handed in?

[2022-02-18 16:31] peterrum commented on #13411
PR https://github.com/dealii/dealii/pull/12617 is going in that direction

[2022-02-19 16:44] tjhei commented on #13377
@bangerth I am learning that ``internal::mpi_type_id`` has been in use in several projects, https://github.com/hyperdeal/hyperdeal/pull/94/files for example.
Maybe we should
a) deprecate internal::mpi_type_id?
b) also keep the old style interface intact to make the transition easier?

[2022-02-21 03:57] bangerth opened #13428 "Failure when building Trilinos matrices with more than 2B entries"
@marcfehling ran into a problem where he has a matrix with 15,110,817 rows and columns, and 2,280,732,000 entries (just barely more than the 2,147,483,647 that form the upper end of what a signed int can represent). This then leads to a segfault as follows:
[code]
He reports that this happens both with compiling in 32- and 64-bit mode.

We should take a look at whether we call one of Trilinos's 32

[2022-02-21 04:06] marcfehling commented on #13428
I triggered the segfault with a *single* MPI process.

The program gets past the `setup_system` part with more than four processes. I get an `unknown exception` when running on two processes, which may or may not be related to this segfault. I encountered this issue when generating strong scaling results.

[2022-02-21 04:48] bangerth commented on #13428
On 2/20/22 21:06, Marc Fehling wrote:

Trilinos occasionally indicates errors by just throwing bare |int| variables.
We tend to not be very graceful with those and report them as |unknown exception|.

[2022-02-21 18:06] #13218 closed

[2022-02-21 19:44] drwells commented on #7071
Fixed by #13425.

[2022-02-21 19:44] #7071 closed

[2022-02-22 11:43] kronbichler commented on #9545
After discussion with @nfehn, we came up with a more detailed plan for approaching the problem.

Regarding the first point:
- [x] Extend the PolynomialsRaviartThomas class https://github.com/dealii/dealii/blob/f541dd4710b82663a96a59ae395609792a91c52d/source/fe/fe_raviart_thomas_nodal.cc#L41-L42 so that also the `d * (k+1)^d` space can be represented besides the RT - this is not strictly needed for

[2022-02-22 15:49] #13418 closed

[2022-02-22 21:28] bangerth commented on #13166
Working on this.

[2022-02-23 04:56] bangerth commented on #13428
The following test fails after we find that Trilinos throws an integer error with code `-99`:
[code]

The test requires about 9GB of memory, and runs for around 4 minutes on my main machine.

[2022-02-23 15:45] gfcas opened #13440 "Step-75 broken"
Executing ``mpirun -n 4 ./step-75`` in the dealii/dealii:master-focal Docker causes the following error:
[code]

[2022-02-23 20:33] #13440 closed

[2022-02-23 20:36] jpthiele commented on #13428
I might be completely mistaken, but isn't the local ordinal type of Epetra hard coded to int?
That would explain why it's fine on 4 processes, as all local indices fit into int with the maximum somewhere around 0.52B
instead of the 2.1B local entries on a single process.

[2022-02-23 20:42] Rombur commented on #13428
Yes, that's correct. You cannot have more than 2B entries per MPI ranks

[2022-02-23 20:50] jpthiele commented on #12774
I'd also be interested as I would like to use ShyLU_DD's preconditioners for Krylow methods.
But I can't get the Epetra->Xpetra conversion to work in Trilinos 13.2-
Is there an overview/checklist of what would have to be done?
For just the basic LA (Block) SparseMatrix and Vector come to mind with matching methods for AffineConstraints.

Additionally I saw that Tpetra has NUMA optimizations which

[2022-02-24 04:32] bangerth commented on #13428
Then that's something we should check on our side :-)

[2022-02-24 07:53] #13412 closed

[2022-02-24 09:10] jpthiele commented on #13428
There is already a [ToDo](https://github.com/dealii/dealii/blob/951db6b4eda1781f9ae1b983df2ffe9162bea546/source/lac/trilinos_sparsity_pattern.cc#L706) in the corresponding case that might be related.

[2022-02-24 09:12] jpthiele commented on #13428
I'm not sure which point would be the best to add the check/assert, but apart from that it might be a quick addition.
My idea for an AssertThrow ExcMessage would be something like
"The TrilinosWrappers use Epetra internally which uses signed int as local indices.
Therefore, an execution with around 2.1B nonzero matrix entries per core is not possible.
If possible, use more MPI processes."

[2022-02-24 22:28] bangerth commented on #9901
Can we close this now? The only place where `tbb::task` is still used is in `source/matrix_free/task_info.cc`, and it is disabled for newer versions of TBB.

[2022-02-24 23:21] #9901 closed

[2022-02-25 17:09] tjhei opened #13447 "drop MPI 2.x support"
I would like to suggest that we drop MPI 2.0 support. The 3.0 standard was released in 2012.

I have the following reasons:
- We are not testing MPI 2.0 (I am not even sure if we compile)
- It is difficult to go back that far (OpenMPI 1.8.x and MPICH 3.0.x are both MPI 3.0 and from 2015/2016)
- I would like to support big messages and large IO and that does not work correctly with MPI 2.0 (``creat

[2022-02-25 17:19] bangerth commented on #13447
I am stuck on a system that has OpenMPI 1.10.7, but that still reports that it provides MPI 3.0.

[2022-02-25 17:37] tjhei commented on #13447
Yes, OpenMPI 1.8 and above are MPI 3.0 (that includes 1.10)

[2022-02-25 19:01] bangerth commented on #13428
As pointed out in #13445, the *real* application doesn't actually go through the paths checked there. Rather, when we call `make_sparsity_pattern()` on Trilinos sparsity patterns, we treat the sparsity pattern as "dynamic", and add entries via this function:
[code]
The problem is that I can't easily check here whether we overflow the allowed number of entries in a sparsity pattern because we may b

[2022-02-25 20:53] jpthiele commented on #13428
From what I read in the Epetra_CrsGraph docs and code your assumption about the buffer is correct.
I think there is an error or a relatively easy fix in FillComplete()
When calculating the local index using int LID = Epetra_BlockMap::LID(gid) it checks for an error code -1
Instead it could check (LID < 0) for about the same price and return an error at that point.

[2022-02-25 21:44] bangerth commented on #13428
I've got some more explanations in #13452. Fundamentally, there are two Trilinos issues:
* The addition of nonzero entries inside `Epetra_CrsGraph` overflows `CrsGraphData_->NumMyNonzeros_`, at which point it becomes a negative number.
* The `Epetra_CrsGraph::OptimizeStorage()` function *should* return error codes as regular return values, but decides to instead use an exception. That's just poor

[2022-02-26 17:58] tjhei commented on #13347
fixed by #13444

[2022-02-26 17:58] #13347 closed

[2022-02-26 17:58] tjhei commented on #3201
fixed by #13444. It only took a couple of years. ;-)

[2022-02-26 17:58] #3201 closed

[2022-02-26 23:58] bangerth opened #13456 "No test failure for wrong output"
I'm working on a new test, and the `.output` file currently is empty. The actual output file I get from running the test is not empty. This should lead to a test failure, but it doesn't:
[code]

Something is clearly wrong...

[2022-02-27 06:37] harmonj commented on #8634
I recently added illustrations for `FE_Nedelec` in #13427 based on this script. Below, I've included a few scripts to automate the generation of these figures using VisIt, for FE_Nedelec or other vector finite elements.

The first is the main python script ("vector_FE_autoplot.py"):
[code]

This script relies on the following script for ensuring the parameters of the visualization are consistent (

[2022-02-27 13:37] tamiko commented on #13456
@bangerth What output does your test create specifically? Does it create the `output` file? Does it output to the file or to stdout?

[2022-02-27 14:20] tamiko commented on #13456
@bangerth Also, would you mind running the `ctest -R a-framework` tests for me quickly?

[2022-02-27 20:59] tjhei opened #13460 "failure in tests/base/aligned_vector_replicate_04.cc"
On my machine and the tester (see https://github.com/dealii/dealii/pull/13458) the test in the subject line fails with
[code]
This is probably because I am using MPICH as my MPI implementation. It fails on the root process with alloc_size=63, align_by=64, disp_unit=0. Maybe ``disp_unit=0`` is considered invalid?

@bangerth ?

[2022-02-28 01:15] bangerth commented on #13460
`disp_unit` is defined as
[code]
Indeed, the test checks what happens for empty objects. I guess we could just skip all of the sharing if the object is empty -- nothing is to be gained from that.

That said, has anyone ever understood what the purpose of `disp_unit` actually is? I remember struggling with what this argument is supposed to indicate at all given that the *size* of the shmem window i

[2022-02-28 03:09] tjhei commented on #13460
First, I don't think sharing an empty vector is useful. I would consider that an error.

Regarding the unit, did you see https://www.open-mpi.org/doc/v3.0/man3/MPI_Win_allocate_shared.3.php#toc8 ?
We don't do RMA calls like MPI_Put so it doesn't matter for us.

[2022-02-28 17:57] tjhei commented on #13447
I see 4 :+1: and no complaints, which makes me think we can move forward with this.

[2022-02-28 17:58] tjhei commented on #13447
todo list:
- [ ] update documentation
- [ ] changelog entry
- [ ] remove MPI 2.x logic

[2022-02-28 18:39] bangerth commented on #13460
Yes, I had read text like that, but it didn't make any sense to me and still doesn't. Maybe it's because I don't know how RMA works. I should just always set it to one and see whether that works.

[2022-02-28 18:40] bangerth commented on #13460
Actually, no, I need to leave it as is:
[code]

[2022-02-28 18:46] bangerth commented on #13460
About the error: it's not useful, but I think it shouldn't be illegal. I'll write a patch that in that case just resets all non-root objects to empty vectors. Does that seem reasonable?

[2022-02-28 22:10] tjhei commented on #13460
I am okay with that, but I have to admit that I don't see a reason to allow it to work for empty vectors. I think it is more likely that this indicates a bug in the user code (but maybe there is a reason to do this?).

[2022-02-28 22:11] tjhei commented on #13460
My understanding: If you use ``MPI_Put`` then the ``disp_unit`` matters. We are not using it, so it doesn't matter.

[2022-02-28 23:00] bangerth commented on #13460
On 2/28/22 15:10, Timo Heister wrote:

I'm thinking of code where you just share each of 17 different data
tables. But depending on input parameters, some may not actually be used
and so process 0 doesn't read it from disk and the other processes don't
care. At the end of the operation, everyone should have an empty table.
(The empty table may not be shared between processes, it just has to be
emp

[2022-02-28 23:11] tjhei commented on #13460
Alright, that seems reasonable.

[2022-03-01 00:42] tamiko commented on #13456
@bangerth *ping*

[2022-03-01 08:12] #13428 closed

[2022-03-01 17:38] tjhei opened #13469 "invalid communicator in tests/fullydistributed_grids/repartitioning_05.cc"
This happens with MPICH:
[code]
call stack:
[code]

It looks like we create a tria with MPI_COMM_NULL and this can't work.

[2022-03-01 18:00] bangerth commented on #13469
It works by changing `MPI_COMM_NULL` to `MPI_COMM_SELF`. Patch coming.

[2022-03-01 20:40] bangerth commented on #13456
I can't reproduce this. Not sure what the cause was, let's just close.

[2022-03-01 20:40] #13456 closed

[2022-03-01 22:37] bangerth opened #13474 "Remove DEAL_II_MPI_CONST_CAST"
Following up on #13465 (see also #13447), we can also remove the `DEAL_II_MPI_CONST_CAST`, which with MPI 3+ is simply defined as
[code]

We should probably retain the macro for a release or two, but we can remove all of its uses.

[2022-03-01 22:41] bangerth opened #13475 "Remove Utilities::MPI::create_group()"
Following #13465 (see also #13447) , we can remove the `Utilities::MPI::create_group()` function, which then simply wraps the call
[code]
It currently does something non-trivial only in the case that we have MPI <3.

Alternatively, maybe better, we can keep the function and make sure we check the return type rather than passing on the error code as we currently do. An even better idea would be to

[2022-03-01 23:10] tjhei commented on #13475
I would deprecate the function and use ``MPI_Comm_create_group`` directly. It is used maybe 5 times in the library.

[2022-03-02 00:28] marcfehling opened #13477 "Quicktests fail with Intel oneAPI suite."
We've added quicktests to the github actions workers in #13467.

When running all quicktests on the Intel oneAPI worker, the following errors occur on all 8 quicktests:
[code]

Compiling the dummy file as well as all quicktests succeed. These errors only occur at runtime.

[2022-03-02 00:47] marcfehling commented on #13477
Might be related: https://gitlab.opengeosys.org/ogs/ogs/-/issues/3259

[2022-03-02 09:50] tamiko commented on #13456
@bangerth My current hypothesis is that you triggered a bug in numdiff. if you ever trigger this again, I would be very interested in the ouptut file that caused that behavior.

[2022-03-02 13:37] nfehn opened #13480 "Does MatrixFree::initialize_dof_vector() set vector entries to zero?"
If I see it correctly, I could not find this information in the documentation, see
https://www.dealii.org/developer/doxygen/deal.II/classMatrixFree.html#a6389c1e91648d277bdd81af095b5296c

[2022-03-02 14:20] kronbichler commented on #13480
Yes, it does, because the function calls https://github.com/dealii/dealii/blob/baf78cb810d186296f083aa0c464c6a88aaaba6d/include/deal.II/matrix_free/matrix_free.h#L2266-L2267 which in turn does https://github.com/dealii/dealii/blob/baf78cb810d186296f083aa0c464c6a88aaaba6d/include/deal.II/lac/la_parallel_vector.templates.h#L661-L662
Do you want to add this information to the documentation here:
http

[2022-03-02 18:48] tjhei commented on #13474
@pengfej Can you remove all usages of the ``DEAL_II_MPI_CONST_CAST`` in the code base? The macro is no longer necessary because it doesn't do anything. Keep the definition (``#define DEAL_II_MPI_CONST_CAST``) for now.
For example
[code]
becomes
[code]
etc.

[2022-03-02 20:08] bangerth commented on #13456
Will do. But not worth chasing.

[2022-03-02 22:06] #13475 closed

[2022-03-02 22:57] pengfej commented on #13474
Sure, I'll work on it.

[2022-03-03 07:14] #13480 closed

[2022-03-03 11:30] #13460 closed

[2022-03-03 16:15] #13469 closed

[2022-03-04 19:23] #13377 closed

[2022-03-05 00:21] marcfehling opened #13491 "`TrilinosWrappers::BlockSparseMatrix` can only be block-symmetric?"
It looks like some `TrilinosWrappers::BlockSparseMatrix::reinit` functions do only work for block-symmetric sparsity patterns, i.e. `n_block_cols  == n_block_rows`.

https://github.com/dealii/dealii/blob/0fe34911473cf605e6c5be320179c7f64c7d368e/source/lac/trilinos_block_sparse_matrix.cc#L84-L99

We should fix this, or at least mention this in the documentation!

[2022-03-07 08:38] nfehn opened #13500 "Rethink whether RemotePointEvaluation should live in namespace MPI"
In my opinion, the serial functionality of `RemotePointEvaluation` should be relevant regarding the namespace in which this class lives. I would suggest something like `GridTools` instead of `Utilities::MPI` (`Triangulation` and many other classes also do not live in a namespace `MPI` just because they work in parallel.).

[2022-03-07 08:54] nfehn opened #13501 "Robustness problem with RemotePointEvaluation"
What happens if `marked_vertices` passed to the constructor of `RemotePointEvaluation` contains `false` only?

I would expect that the search is just less efficient. However, I observed that all data arrays are filled with zeros. So I assume that no points have been found? I did not receive an error/exception. This is quite dangerous since the computed results are just incorrect without an error m

[2022-03-08 00:16] tjhei opened #13509 "doxygen: Simplex tags move functions from namespace"
The function ``GridIn::read_msh()`` (and probably others), are part of the "simplex support page" but they also got removed from the GridIn namespace:
https://www.dealii.org/developer/doxygen/deal.II/classGridIn.html
(click on ``read_msh`` on that page or search for ``read_msh``)

I think ``@ingroup simplex`` is to blame. We should try if ``@relates`` or ``@relatesalso`` works better.

[2022-03-08 00:20] bangerth commented on #13509
Yes, a function can only be in one group.

Broader question: Should we just remove the "simplex" tag? At this point, simplices are known to work well, they're no longer special.

[2022-03-08 00:25] bangerth opened #13510 "For load balancing, should cells have a "base weight" or not?"
#13451 is really about a broader question: The current implementation of `p::d::Triangulation` adds a "base weight" of 1000 to the user-provided weights for each cell. This base weight is supposed to account for the work done in the library itself to set up cell data structures, loops over all cells, etc., which we assumed to be a roughly constant cost per cell. The 1000 was chosen so that it is p

[2022-03-08 02:34] blaisb commented on #13510
Just to be clear, I'm not **agaisnt** it. The reasons that @marcfehling suggested were good ones. I agree with the idea behind the PR and I think the reasoning is sound.

 I just feel that this will break a lot of user code all of a sudden (e.g. the results will change for every code that uses some sort of load balancing that depends on something going on in certain cells). It is not a trivial cha

[2022-03-08 02:50] bangerth commented on #13510
@gassmoeller ?

[2022-03-08 06:02] peterrum commented on #13510
@bangerth I am not sure what gives you the impression that I am against removing the base weight - it should be consistent in the library and the value should be reasonable.

However, I would like to point out that how is it right now it is a very hard incompatibility change. We had a large number of incompatibility changes in the last weeks: but at least they are noticeable during compile time: s

[2022-03-08 07:25] jppelteret commented on #13510
One alternative, which might be a compromise between the two viewpoints, would be to expose the base weight as a static variable somewhere. At least then the user can reference the value in their own code and compose their own weighting functions without necessarily having to know what the value is. So in step-68 we could have
[code]

[2022-03-08 15:47] gfcas commented on #12854
Thanks @sebproell for your patch in #13313. Now I had the time to test the patch for my problem. Unfortunately this patch does not cover my application case. Did it solved your problem?

[2022-03-08 16:42] sebproell commented on #12854
@gfcas Yes, it solved my problem, which uses FE_Q and FE_Nothing.

[2022-03-08 22:34] #13171 closed

[2022-03-09 08:38] nfehn opened #13516 "Should functionality such as triangulation.contains_point/face/cell(point/face/cell) be implemented in deal.II?"
The aim is to find out whether a point/face/cell is located inside a `triangulation`. Let me emphasize that point/face/cell is not an entity (like vertex, face, cell) of the considered `triangulation`, but comes from another triangulation object in general.

Example: consider overlapping grids where you want to mark vertices/faces/cells belonging to the overlapping region.

[2022-03-09 10:50] nfehn opened #13517 "Why does FEPointEvaluation::EvaluatorTypeTraits use Number and not Tensor<0, dim, Number>?"
When using `VectorTools::point_values()`, it would be nice to write application code with the return type `std::vector<Tensor<rank, dim, Number>>`, where `rank` is a parameter of the application code. However, this does not seem to be possible. I think the reason behind is  line 131 in https://www.dealii.org/developer/doxygen/deal.II/fe__point__evaluation_8h_source.html, which reads

`using value_

[2022-03-09 15:56] nfehn commented on #13516
I find it a bit hasty to close this issue immediately. Which function is it? One might want to discuss whether there is an interest that utility functions as mentioned in the description of this issue become part of deal.II, etc. ...

[2022-03-09 16:10] nfehn commented on #13516
So far, the question has been answered to the extent that deal.II provides functionality that helps me to implement what is requested in the title of this issue, if I understand the answer by @drwells correctly. I took this question as a first step towards elaborating whether it would be useful to implement utility functions in deal.II.

[2022-03-09 16:11] nfehn commented on #13516
I changed the title and hope this fits better to the category of issues in deal.II

[2022-03-09 16:14] kronbichler commented on #13516
I guess a good starting point would then be that you try to gather the information you find in the `Cache` class and experiment with it to the extent you understand from that class, the underlying code and possible use cases elsewhere in deal.II, and we then discuss to what extent higher-level functions can be realized (including possible questions in the parallel case) and what other steps might

[2022-03-09 16:46] drwells commented on #13516
By all means, if we want to plan out a new feature and brainstorm, keep this open!

[2022-03-09 17:03] drwells commented on #13242
Update: this moved to the mailing list

https://groups.google.com/g/dealii/c/EJKGT-rfnZw/m/qt_rsgkQCAAJ

and a solution was posted. @keassyguang the more important thing is that your issue gets fixed - more people use VS code on the mailing list than here so its a better place to discuss this topic.

Since this is on the mailing list I'll close this issue - we will continue the discussion there.

[2022-03-09 17:03] #13242 closed

[2022-03-09 17:39] drwells commented on #13517
I've run into a similar problem and I had to write my own conversion stubs:

[code]

which is not ideal. If we didn't have the specialization, though, it would be `Tensor<1, 1, Number>`, not the zero tensor (which only exists for defining things recursively). If I recall correctly, we added this overload to make things match `FEValues` and most other things in the library, where scalars are just `

[2022-03-09 17:50] drwells commented on #13501
We definitely need to document that function argument better. The description isn't enough to answer your question, and its not at all clear from the single sentence what would happen if everything were marked as `false`.

That behavior seems wrong, so I think everyone would agree the answer is 'no, things should not fail silently' in debug mode.

[2022-03-09 17:52] drwells commented on #13500
I agree - things in `base` are not supposed to depend on things in `dofs` or `grid`. This class should be moved into `GridTools`.

[2022-03-09 17:55] tamiko opened #13522 "Compilation error with clang-5"
See https://cdash.43-1.org/viewBuildError.php?buildid=1146

[2022-03-09 18:22] #11955 closed

[2022-03-09 18:22] tjhei commented on #13509
If the simplex group is complete and not out of date, I think it still useful information. How do I discover if simplices are supported for some function/class X? I don't think we document "works with simplices" in the text. Then having the tag is useful.
@peterrum ?

[2022-03-09 18:24] tjhei commented on #13474
done by #13488

[2022-03-09 18:24] #13474 closed

[2022-03-09 18:27] tjhei commented on #13447
This is all I can think of right now...

[2022-03-09 18:27] #13447 closed

[2022-03-09 19:53] peterrum commented on #13509
Do we!? Nice to hear that it works for you!

I also think a tag would be nice as long as we state that the simplices are experimental and we don't have tutorials!

[2022-03-10 04:44] bangerth commented on #13509
On 3/9/22 12:54, Peter Munch wrote:

Absolutely. I had to write a good number of patches about half a year ago to
support one application, but I built a whole industry project on it and it
works just fine.

I'm sure there are a million other places that are still in need of updating,
but I'd say that overall, simplices work just fine.

The problem is that that list isn't up to date. We've fixed a

[2022-03-10 09:55] peterrum commented on #13517
I am not the main author of `FPE` but I would guess the reason for the special treatment is to be consistent with `FEEvalution` where we have special implementations for the 1D and the scalar case (in both cases you normally work with doubles instead of tensors). This is a bit inconsistent with the rest of the library but was done - as far as I am aware - for performance reasons.

[2022-03-11 03:22] bangerth commented on #13166
It compiles now, but it isn't fixed yet.

[2022-03-11 04:25] bangerth commented on #13510
On 3/7/22 23:02, Peter Munch wrote:

I had tacitly interpreted this as "being opposed to". I didn't mean to put
words in your mouth.

I agree on the merits of the points you make.

[2022-03-11 10:04] kronbichler commented on #13517
Indeed, the original reason is that this infrastructure imitates what gets done in `FEEvaluation` in https://github.com/dealii/dealii/blob/5d4eff25ea8677423a0703a85bafc1341dd142d8/include/deal.II/matrix_free/fe_evaluation.h#L771 and https://github.com/dealii/dealii/blob/5d4eff25ea8677423a0703a85bafc1341dd142d8/include/deal.II/matrix_free/fe_evaluation.h#L843 and https://github.com/dealii/dealii/bl

[2022-03-11 10:34] nfehn commented on #13308
Note that geometry info is also used in coding conventions, see https://www.dealii.org/developer/doxygen/deal.II/CodingConventions.html, which might be considered out-dated.

[2022-03-11 10:45] nfehn opened #13531 "Why does "coding conventions" contain information on "indentation"?"
see https://www.dealii.org/developer/doxygen/deal.II/CodingConventions.html

Indentation seems to be described already in the wiki:
https://github.com/dealii/dealii/wiki/Contributing
https://github.com/dealii/dealii/wiki/Indentation

Wouldn't it make sense to have this information only once (in the Wiki)?

[2022-03-11 10:49] nfehn opened #13532 "Shift "coding conventions" to Wiki?"
Since github is the place for code contributions, I think it would make sense to find information on coding conventions (currently here:  https://www.dealii.org/developer/doxygen/deal.II/CodingConventions.html) on github in the Wiki (https://github.com/dealii/dealii/wiki). dealii.org could contain a link to the respective wiki page.

[2022-03-11 15:58] bangerth commented on #13531
Because history :-) Feel free to remove it from one place and point to the other place instead.

[2022-03-12 01:20] donggiang commented on #11846
Hello #peterrum,
Following your comments above, I wonder How much work would I make to use mesh adaptivity with high order (p>=3) for triangular elements? I tried to add p=3 to the current implementation. It seems the code works well with nonadaptive mesh. So do you have any general advice if I want to work with mesh adaptivity for p>=3?
Second, could I renumbering dofs define on elements into a b

[2022-03-12 07:55] peterrum commented on #11846
That sounds great! Would you be willing to share the implementation and open a PR!? Have you also implemented the re-orientation tables? These are needed since we have multiple DoFs on the inside of faces in contrast to `p=1` (no DoFs) and `p=2` (one DoF).

There is already some support for AMR for simplex meshes:
1) in 2D, locally refined meshes should work for p=1/2 (see: https://github.com/deal

[2022-03-14 12:34] nfehn commented on #13531
As a first step, I created a separate wiki page for "commit authorship" (see https://github.com/dealii/dealii/wiki/Commit-authorship), which has previously been part of https://github.com/dealii/dealii/wiki/Indentation.

Up to now, I "merged" the information on indentation from  https://www.dealii.org/developer/doxygen/deal.II/CodingConventions.html into https://github.com/dealii/dealii/wiki/Inden

[2022-03-14 12:36] nfehn commented on #13516
As far as I see it (but I am certainly not a github expert), I can not re-open the issue (maybe because I have not closed it?).

[2022-03-14 12:47] nfehn commented on #13532
I have found other places in the wiki that refer to https://www.dealii.org. So I am not sure right now and I now think one would need to discuss a common strategy before starting with "coding conventions". It does not look like the wiki is maintained a lot (?), so it could make sense to keep information at https://www.dealii.org (while I don't know whether these pages are maintained more regularly

[2022-03-14 12:53] nfehn commented on #13516
To comment on the organizational aspects raised in this issue:

I think this information should be part of the README (where I mean the README on github, https://github.com/dealii/dealii, and not the "readme" https://www.dealii.org/developer/readme.html)?

[2022-03-15 12:56] tjhei commented on #13531
Thanks for improving things!

Two comments:
- I don't think it make sense to teach "clang-format -i", especially before talking about "make indent" or "contrib/utilities/indent". The indent scripts do more than clang-format as well.
- This is not longer up to date: "Check for valid authorship of your commits (see below)."

[2022-03-16 11:59] nfehn opened #13544 "Docu shows wrong header file for GridTools::Cache"
Including `#include <deal.II/grid/grid_tools.h>` leads to the error: dealii::GridTools::Cache<dim,dim> has incomplete type.

Should probably be `#include <deal.II/grid/grid_tools_cache.h>`.

[2022-03-16 15:09] tjhei commented on #13532
It can be used on any page to automatically generate the table of contents with links at the top of the page, but I think we only use this for the FAQ. Feel free to move it.

[2022-03-16 17:32] #13544 closed

[2022-03-16 21:19] peterrum commented on #13501
I would expect that the search is just less efficient. However, I observed that all data arrays are filled with zeros. So I assume that no points have been found? I did not receive an error/exception. This is quite dangerous since the computed results are just incorrect without an error message.
In my opinion, this is a robustness problem in the current implementation. One typically starts with a

[2022-03-17 03:34] donggiang commented on #11846
Thank you for your detailed explanations.
I added calculations for p=3 in functions 'unit_support_points_fe_poly ( )' and 'get_fe_p_basis( )' in  'fe_simplex_p.cc' and 'polynomials_barycentric.cc' respectively (I may forget to mention others as I did 3 months ago). The latter I think is the reorientation tables you mentioned above.  I'm willing to share what I've done if you think those are useful

[2022-03-17 07:06] nfehn commented on #13501
as @drwells said, this should at least be clearly documented.

This is not satisfactory in my opinion. I would argue that there are applications where it matters, see e.g. https://github.com/exadg/exadg/issues/205 ... an application we already have developed before RPE came into dealii ... What brings you to the assumption that "0" would be the correct "neutral element". There are applications con

[2022-03-17 17:28] #11032 closed

[2022-03-21 17:37] marcfehling opened #13555 "For load balancing, should weights of cells be of type `double`?"
As suggested in [#13451](https://github.com/dealii/dealii/pull/13451#pullrequestreview-916094344):

`p4est` requires signed 32-bit integers as weights for each quadrant. I don't know right now what other partitioners like Zoltan or Metis require. But we could switch to `double` on our side, and convert the values to whatever the external partitioners require.

As we deprecate the old weighting sig

[2022-03-21 17:50] tjhei commented on #13555
How would you do the conversion to double without knowing the range of values used?

[2022-03-22 04:09] bangerth commented on #7315
The documentation of the relevant functions should be here: https://ftp.mcs.anl.gov/pub/pdetools/nightlylogs/xsdk/xsdk-configuration-tester/packages/trilinos/packages/zoltan/doc/Zoltan_html/ug_html/ug_interface_lb.html#Zoltan_LB_Partition But I have to admit that I can't easily figure out how one needs to set weights -- the topic requires a bit more than a cursory reading of that page I supposed..

[2022-03-22 04:11] bangerth commented on #13555
Let's not do as suggested. `GridTools::partition()` and `SparsityTools::partition()` also take `unsigned int` weights per cell, and that is (historically) because METIS uses `signed int` as a cell weight and we just adjusted the signedness. (We don't currently support weighting with Zoltan, see #7315, but I believe that Zoltan wants floating point weights.)

As @tjhei pointed out, we cannot easily

[2022-03-22 04:31] bangerth commented on #13532
Coding conventions tend to be contentious, so it makes sense to keep these in the repository where changes need to be peer-reviewed. My vote would be to keep them there.

Thanks for updating the front page of the wiki! I've renamed the last section about the table of contents to make it clearer what it is about. Are there other things that ought to be done for this issue, or can it be closed?

[2022-03-22 07:24] #13510 closed

[2022-03-22 12:00] nfehn commented on #13532
@bangerth, I agree regarding the need for peer-review.

[2022-03-22 12:00] #13532 closed

[2022-03-22 18:02] bangerth commented on #13516
The functionality should be in `namespace GridTools`, and there are already building blocks for this. One place where it could also be built upon is the ArboxX wrappers.

As for the general question of whether this is the right place: We don't have a good track record at doing anything about github issues of the form "It would be nice to have". People implement what they need, and so it's hard to

[2022-03-23 13:25] nfehn opened #13568 "Mapping::get_vertices() uses GeometryInfo::vertices_per_cell"
What happens in the non-hyper-cube case? see also https://github.com/dealii/dealii/issues/13308

[2022-03-23 13:39] peterrum commented on #13568
Could you be a bit more precise? Mapping returns `boost::container::small_vector< Point< spacedim >, GeometryInfo< dim >::vertices_per_cell >`. `GeometryInfo< dim >::vertices_per_cell` is not the size of the vector but the max size.

[2022-03-23 13:58] nfehn commented on #13568
thanks. Ok, so there seems to be no problem in using this function for simplex for example? This information is still somewhat implicit here in this discussion.

I think it would be good to explain this in the documentation, and with your help I can also add this if you want.

More generally, I wonder why this function belongs to Mapping at all, and why it is not associated to Triangulation (and e

[2022-03-23 17:38] bangerth commented on #13568
Would it be easier to understand if the return type was
[code]
instead? I would accept a patch to that end.

As for an explanation of what `boost::small_vector` does, see https://www.boost.org/doc/libs/1_62_0/doc/html/boost/container/small_vector.html

[2022-03-23 17:50] peterrum commented on #13568
Please not. The information (number of max vertices), should become part of `ReferenceCell`.

[2022-03-23 17:56] bangerth commented on #13568
So you'd like to have
[code]
in `namespace ReferenceCell` and use that in place of the template argument? Or make it a template variable? That would both certainly be ok with me as well.

[2022-03-23 17:57] bangerth commented on #13568
(Actually, in namespace `ReferenceCells`, plural.)

[2022-03-23 18:01] nfehn commented on #13568
What I want (as a minimal solution), is to write into the docu "This function assumes the maximum number of vertices of a cell is not larger than 2^dim", if I understood you correctly. Please correct me.

Of course, I would prefer a non-incremental solution even more. One should just not see `GeometryInfo` in the return type in my opinion, and also not something like `(1<<dim)`. I actually thought

[2022-03-23 18:32] nfehn commented on #13568
Would also be a solution for me since this solution is at least clear in terms of documentation.

[2022-03-24 06:04] nfehn commented on #13516
I would base the implementation on all the mapping support points of a cell/face. However, the notion of support points does not exist for all `Mapping`s (see also #13569 ), so that such an implementation might be considered not general/abstract enough for dealii. One could also base the implementation on all vertices of a cell/face, with the obvious restriction that this will not work for high-or

[2022-03-25 21:37] tamiko commented on #8852
I think we made some progress here :-)

[2022-03-25 21:39] tamiko opened #13574 "deal.II Release 9.4 - post-release tasks"
Release: [v9.4.0](https://github.com/dealii/dealii/releases/tag/v9.4.0)
===

For Release Candidate 1:
--
 - [x] remove `p4est_bug_01` test (#13998)
 - [x] remove taskflow (#13999)

For Release Candidate 2:
--
 - [x] Fix compile warnings (#13910)
    - [x] Uninitialized warnings with avx2+: `GNU-12.1.0-master-avx2-O3` [cdash](https://cdash.dealii.43-1.org/viewBuildError.php?type=1&buildid=2335) (#1

[2022-03-25 21:45] tamiko opened #13575 "New website"
Dear all,

we are in the process of migrating the website to a new (cloud based) server instance. Doing so will open up a number of opportunities to:
 - [ ] modernize our website (and base everything on markdown?)
 - [ ] merge the wiki into the website
 - [ ] merge the non-doxygen html part of the documentation into the website (leaving only the doxygen part in the development repository)
 - [ ] m

[2022-03-25 22:47] drwells commented on #13574
We should try to stick to a deadline for getting examples in: how about May 27?

[2022-03-25 22:49] bangerth commented on #13574
Unfinished tutorials: #11998.

[2022-03-26 02:24] tjhei commented on #13575
I would suggest to just do the last point: get everything running, and then consider working on any of the other suggestions. I like small, incremental steps.

[2022-03-26 05:41] marcfehling commented on #13575
In addition to what @tjhei said, I think we should start by copying the website to a new repository in the dealii github group. We can keep it private at first.

This way we can open issues in the new repository right away, and avoid any overlap with the main repository. To keep them separate right from the beginning.

[2022-03-26 06:19] tamiko commented on #13575
Moving the old website to a new place and <i>then</i> throwing everything away to replace it by a new markdown system is significantly more work than to just start with the new website in the first place in a fresh repository.

So my suggestion would be, as @tjhei suggested, to first set up the infrastructure for the new website (complete with a temporary domain) and then start working on the othe

[2022-03-26 16:57] tamiko commented on #13575
Change of plans: We're putting the old website in place and crowd-source writing up the new one under an alternative TLD. Thanks for the input, @marcfehling and @tjhei

[2022-03-26 18:04] blaisb commented on #13575
@tamiko Do you need any help with that? Are there technical jobs that could be outsourced at large in the deal.II community? I'd be glad to be of help :)!

[2022-03-26 22:32] drwells opened #13578 "TLS is quite slow"
I noticed this while profiling #13577. We spend most of our time doing TLS stuff in `FunctionParser::value()`. Consider

[code]

By default this takes 140 milliseconds. If we remove `ThreadLocalStorage` then the loop takes 21 milliseconds: i.e., muparser is expensive, but the multithreading support is very expensive. Here's what callgrind found with TLS:

![TLS](https://user-images.githubuserconte

[2022-03-27 06:20] tamiko commented on #13575
@blaisb Absolutely! I hope that I can make the https://github.com/dealii/website repo public in a day or two and that we can crowdsource the technical development and content migration :-)

[2022-03-27 06:27] tamiko commented on #13575
Short status update: The new webserver is spun up and now hosts the old deal.II website https://dealii.43-1.org/ , a gitweb mirror of our main repositories at https://gitweb.dealii.43-1.org/, and the CDash instance at https://cdash.dealii.43-1.org (the domain will change to `dealii.org` soon).

[2022-03-27 17:15] tjhei commented on #13575
I clicked around a bit and everything looks good (and fast). Thank you!

[2022-03-28 10:22] NiklasWik opened #13580 "`VectorTools::Interpolate()` gives different results for `FE_DGQ` and `FE_RaviartThomasNodal`"
Using the following function:
[code]
while calling `VectorTools::Interpolate()` for `FE_DGQ` and `FE_RaviartThomasNodal` leads to following results

DGQ:
 x-, y- and z-component
<img src="https://user-images.githubusercontent.com/62885387/160376439-cc1ff9d9-ac98-46e6-b781-42ad5a234998.png" width="200">  <img src="https://user-images.githubusercontent.com/62885387/160376441-6deaf707-a706-400e-80f1-

[2022-03-28 10:30] peterrum commented on #13580
How does the result of `VectorTools::project()` looks like? I am sure if is possible to interpolate in the case of `FE_RaviartThomasNodal` (how do the support points looks like?)

[2022-03-28 11:08] kronbichler commented on #13580
Indeed, it is likely the location of the support points that is wrong and that we might want to fix. But in general the `interpolate` function will not work properly because even the nodal version of the RT element is not interpolatory: On the one hand, different components have different support points (which might still be ok in the simple case you are showing, but already leads to trouble for m

[2022-03-28 11:08] nfehn commented on #13580
The code does something for `interpolate()` (it does not throw an exception), so why should interpolate not be possible?

[2022-03-28 11:10] nfehn commented on #13580
But do we agree that the code at least has to assert this, with an error in both debug and release mode?

[2022-03-28 11:14] nfehn commented on #13580
What does "simple"/"complicated" mean in this context?

[2022-03-28 11:21] nfehn commented on #13580
What do you mean with "might want to fix"? Does the problem affect other parts of the dealii code as well? Reading the current discussion, it appears to be most appropriate to `AsserThrow(false, ...)` the RT-case in `VectorTools::interpolate()`.

[2022-03-28 11:27] kronbichler commented on #13580
It helps to look at the implementation of `VectorTools::interpolate`: I realize that this might actually still work for Hdiv and Hcurl functions with generalized support points (as long as we can evaluate the functions properly), as the code aims to compensate for that transformation: https://github.com/dealii/dealii/blob/b0ece6447f96a65f33a269551c61d1dc02e61e76/include/deal.II/numerics/vector_too

[2022-03-28 11:29] kronbichler commented on #13580
That said, `FE_RaviartThomasNodal` has not been widely used inside deal.II yet, so it is not surprising that new use cases uncover small mistakes or conceptual problems here and there.

[2022-03-28 11:37] kronbichler commented on #13580
I was thinking about a function where we can only evaluate all `dim` vector components in a point at once, as opposed to evaluating the component `d` in a certain point and other components in other points. As said in the other message, that might not actually be the distinction I was suggesting because I did not read carefully what the current implementation of `interpolate` does. From my somewha

[2022-03-30 20:57] bangerth commented on #13580
Just to confirm, at least in principle using generalized support points should be able to deal with this situation. In other words, I *think* that the function should work; if it doesn't, that's a bug.

[2022-03-31 13:10] drwells opened #13584 "Get rid of std::abs() when computing tet volumes"
#13579 has a nice fix for triangles with negative measures - we should do the same thing for tets. To start we need to find a grid containing tets with mixed orientations.

[2022-03-31 13:49] NiklasWik commented on #13580
I made this change 880be34008c3a73dd4632f9867a2b2995adccc39 to the renumbering of the anisotropic points in the case of `dim=3`. The plot I get after using `VectorTools::project()` is still the same as before, but now it also corresponds to the result from solving the mass matrix system using the matrixfree implementation I've been working on. Before, the latter solution was flipped in the x and z

[2022-04-02 12:44] ztdepztdep opened #13588 "I want to develop a spectral element code based on the dealii, what is your suggestions?"
I want to develop a spectral element code based on the dealii, what is your suggestions?
which tutorial should i study first.

[2022-04-02 18:52] drwells commented on #13588
If you want to use spectral elements then you should look at the matrix-free solvers, since they typically use higher approximation orders. In particular, step-66 solves a Cahn-Hilliard problem and step-67 solves a hyperbolic evolution problem.

There are more people on the mailing list with expertise on these subjects than here in the issue tracker - if you have more questions that place is a muc

[2022-04-02 18:52] #13588 closed

[2022-04-04 05:52] #13501 closed

[2022-04-06 01:30] marcfehling opened #13595 "Introduce `types::fe_index`."
Currently, `active_fe_index` and `future_fe_index` instances are of `unsigned int` type (32-bit). I don't imagine that we will ever use up to 4 billion different finite elements in a `hp::FECollection` object, so I would propose to use a `char` type (8-bit) in the long run.

To give us more flexibility in choosing datatypes, I would suggest to first introduce `types::fe_index`. We can refactor the

[2022-04-06 05:37] marcfehling opened #13596 "Extend github workers for `MSVC`."
It appears that the library has some issues with the `MSVC` compiler as reported in #13593.

We could catch these problems earlier when we extend the github workers accordingly:

- [ ] compile examples
cmake reports `DEAL_II_COMPONENT_EXAMPLES = ON`, but I see no indication of the examples being compiled in the logs. Source files will be copied to the installation folder, but the examples will nev

[2022-04-06 05:43] marcfehling commented on #12263
@DaneilSun found a solution to the problem in #13593.

The patch just covers a small part of the library. I guess we need to adjust all other occurrences of `.template get_default_linear_mapping` accordingly.

[2022-04-06 05:47] marcfehling commented on #13596
We could also use this [docker image](https://github.com/mstorsjo/msvc-wine) to run MSVC on Linux via wine. It sounds absurd though :-)

[2022-04-06 06:12] marcfehling commented on #13596
Related to #12263 and #13593.

[2022-04-06 13:47] drwells commented on #13595
If we are using inconsistent types in the library then that's a bug - we should clean that up regardless. In the past, though, we have tried to avoid using `unsigned char` et al in public interfaces because it is annoying to print.

Could we instead internally convert back-and-forth between `unsigned char` and `unsigned short int` during serialization?

[2022-04-06 15:47] marcfehling commented on #13595
`uint8_t` or `uint16_t` would also be possible data types. But choosing one would be the very last step :)

[2022-04-07 01:00] bangerth commented on #13595
That ship has long sailed -- we're using `std::uint*_t` all over the place already :-)

I'm in favor of `uint*_t` over `unsigned char` and similar because the former clearly indicates that it is an integer type, whereas the latter suggests an abused character type. They are both equally annoying to print when interpreted as integers...

[2022-04-07 01:39] drwells commented on #13595
You're right - my recollections of these topics have some holes!

[2022-04-08 14:12] nfehn opened #13602 "Improve docu of RPE::get_point_ptrs()"
The docu turned out to be very unclear to me when working on #13601

[2022-04-11 21:59] marcfehling commented on #13595
We will also need to bump the serialization version, as we will use a different datatype for active FE index checkpoints.

https://github.com/dealii/dealii/blob/e6779913e7f770652da442b3c2460dec3e864029/source/distributed/tria.cc#L2024

[2022-04-12 18:18] tjhei opened #13613 "compilation issue step-75 on ARM clang 13"
[code]

problematic line:
https://github.com/dealii/dealii/blob/e6779913e7f770652da442b3c2460dec3e864029/examples/step-75/step-75.cc#L673

relevant error:
[code]

[2022-04-12 18:25] peterrum commented on #13613
I guess it should be like this:

https://github.com/dealii/dealii/blob/e6779913e7f770652da442b3c2460dec3e864029/include/deal.II/multigrid/mg_transfer_global_coarsening.templates.h#L2377-L2378

[2022-04-14 20:09] lucasmyers97 opened #13618 "Autodifferentiable numbers with the `SymmetricTensor` `eigenvectors` method fails for some number of zero entries"
The operation that I'm trying to do is take a five-component vector whose entries correspond to the degrees of freedom in a 3x3 traceless, symmetric tensor then find a rotation matrix whose columns are the eigenvectors. It looks like someone put in some effort to make sure the `eigenvectors` method works for autodifferentiable numbers, so I suspect it is supposed to work if my number type is, say,

[2022-04-14 23:28] CODER591 opened #13619 "How to visualize .vtu files from step-79? What software would be suitable?"
Hello, currently I am trying to visualize the step-79 from examples.

I have built the  example locally, and have visualized the .stl file.
Also I have installed Visit(latest version) to visualize those generated .vtu files(as was referred to step-22), but I am seeing white screen, seems it cant process that file
I am not sure what software to use to see the intermediate parts of that topological

[2022-04-15 13:03] drwells commented on #13619
You should be able to plot the density in VisIt and get something like this:

![visit0000](https://user-images.githubusercontent.com/3917035/163573508-56da84a2-1270-4fc0-81ef-8386dd72c6de.png)

One possible problem is that STL is a 3D format and the VTU files generated by deal.II here are 2D, and VisIt cannot load both 2D and 3D files at the same time. Since this isn't an issue with the library I'

[2022-04-15 13:03] #13619 closed

[2022-04-16 20:56] peterrum opened #13622 "Resolution of identity constraints during FEEvaluation::read_dof_values_plain()"
The following program:
[code]
gives the following output:
[code]
although what I have expected is:
[code]

This means that `FEEvaluation::read_dof_values_plain()` applies constraints (here PBC), what is not what I expect from `DoFAccessor::get_interpolated_dof_values`.

The reason for this behavior is:

https://github.com/dealii/dealii/blob/37b1cca190ea7b0489ed0e4a903201f3ea99e527/include/deal.II/

[2022-04-16 21:38] tamiko opened #13623 "Triangulation::has_hanging_nodes() logic is wrong in case of anisotropic refinement"
I am currently triggering this assert:
[code]
in `flatten_triangulation` (in `source/grid/grid_generator.cc`) with the following code: https://github.com/conservation-laws/ryujin/blob/master/source/grid_airfoil.h#L1224

The problem is that in the above code `coarse_triangulation` (that gets flattened) is an locally anisotropically refined mesh (i.e. it contains different cell levels). But it is re

[2022-04-16 21:41] tamiko commented on #13623
Here is the coarse mesh in question:

![](https://tamiko.43-1.org/temp/zoom-1.png)

![](https://tamiko.43-1.org/temp/zoom-2.png)

[2022-04-17 18:46] tjhei commented on #13623
Makes sense. I think the logic is only correct for isotropic refinement and with a connected domain.

How do you propose we do this correctly? Even letting each process iterate over all owned cells and check if all neighbors are the same level won't work in your case, correct?

[2022-04-17 19:04] kronbichler commented on #13622
In my opinion we should fix the particular case of periodic boundary conditions with simple identity constraints (no transformation matrix) in `DoFHandler`/`DoFAccessor`, as fewer DoFs in the vectors are better and I can't see any application wanting something different. It's an incompatible change, but I would believe that it's less work on the user's side than many other incompatible changes we

[2022-04-18 16:28] tamiko commented on #13623
@peterrum That's correct.

[2022-04-18 19:37] tamiko commented on #13623
@tjhei For the case of anisotropic refinement: what would work is to iterate over all faces of active cells and ask whether the face has children, i.e., whether there is a hanging node.

[2022-04-20 23:09] CODER591 commented on #13619
Everyting is OK with Visit.

Heh, seems I have figured out why I have seen the blank page.
I should`ve add some options to left window.
![image](https://user-images.githubusercontent.com/33939665/164337313-218aaab4-b9c6-45e6-bd36-a5703a52b5de.png)

Could you share screenshot of your left window(share all settings)?

[2022-04-21 02:45] RichardYCJ commented on #13297
Sorry the follow-up takes a bit long time, finally managed to make some time diving into the source code.

I find that if set `use_default_residual=false`, which forces the GMRES to calculate the **actual result x** after i-th iteration rather than indirectly from `gamma[dim]`, gives out unchanged residual during restart.
[code]

I've also tested other `AdditionalData` flags and they all gives out

[2022-04-21 10:07] peterrum commented on #11206
Can we close this issue? Are we all happy with the new design?

[2022-04-21 10:13] peterrum commented on #6255
@marcfehling You could also call `AffineConstraints::make_consistent_in_parallel()`; after that you should be on the safe side.

[2022-04-21 10:21] kronbichler commented on #11206
I think the new design works well, and we made a number of improvements both for the 9.3 release and after that. So from my point of view this can be closed.

[2022-04-21 20:22] jppelteret commented on #13618
HI @lucasmyers97,

Hmm... this algorithm is even more sensitive to the input matrix than I realised. I've had a quick look to see what happens if one forces the matrix to be perturbed before being put through the eigenvector algorithm. I see that there are some large magnitude sensitivities of the `R[0][1]` and `R[1][1]` and `R[2][2]` that are not being picked up right now.

Without perturbation (

[2022-04-22 11:38] blaisb commented on #11206
Agreed. I think this was nice teamwork. The new design is robust, faster and easier to understand.
The addition of the local index by @kronbichler  also enables  a lot more possibilities in parallel (e.g. storing particle propertie in local vectors instead of putting everything as properties, etc.).

I think we have reached a very mature point here...

[2022-04-22 11:47] peterrum commented on #11206
Than let's close!

[2022-04-22 11:47] #11206 closed

[2022-04-22 18:20] peterrum commented on #1496
@marcfehling Are you planing to work on `FE_Nothing` before the release? Else we could change the milestone.

[2022-04-22 18:29] peterrum commented on #9596
A partly related topic: there are people who like to use preconditioned residuals. I guess there is no elegant way to support this by the library. In user code, one could create a new `SolverControl` class that computes the residual from the current solution and after that applies the preconditioner but that means an additional vmult and preconditioner application per iteration.

Currently that is

[2022-04-22 18:30] peterrum commented on #7315
@marcfehling What is the status here?

[2022-04-22 18:33] peterrum commented on #8852
@tamiko Yes, you did! Thanks! Should we keep this issue open to remind us to continue?

[2022-04-22 18:36] peterrum commented on #11585
@agrayver Would you be interested to continue here? It would be nice to support for the other cell shapes!

[2022-04-22 18:40] peterrum commented on #10333
I think we can close this one after the release after the deprecated classes have been removed!

[2022-04-22 18:43] peterrum commented on #8905
This one would be nice sometime, but currently I am happy with DG + global coarsening. Adjusting the milestone....

[2022-04-22 19:00] peterrum commented on #11989
Out of curiosity: which lines lead to the quadratic complexity? I took a quick look at the code and was not sure what causes the issue. Is it the problem that one has to find the first **used** object on the levels? Caching sounds a good idea!

[2022-04-22 19:08] peterrum commented on #7039
@kronbichler We could keep this issue in mind when adding new `EvaluatorTensorProduct` versions!

[2022-04-22 19:10] peterrum commented on #11508
@agrayver What is the status here. Only one item has to be addressed so that we can close this issue!

[2022-04-22 19:12] peterrum commented on #10928
@kronbichler What is missing here? I think you made a lot of progress here last year by introducing `FEEvaluationData`.

[2022-04-22 19:13] peterrum commented on #10921
@kronbichler If I remember `FEEvaluationData` helped here, didn't it?

[2022-04-22 19:16] peterrum commented on #10989
@bangerth  Can we close this PR? We decided on dropping TaskFlow, didn't we?

[2022-04-22 19:18] peterrum commented on #11879
What is realistic here before the release?

Remove all uses of that class in the library.

would be nice and important. But I am afraid many of us don't have time to work on this.

[2022-04-22 19:20] peterrum commented on #11055
@tamiko I guess this issue will be relevant again, once you move your airfold geometry generator to deal.II?

[2022-04-22 19:22] peterrum commented on #11711
@bangerth How do we want to proceed here. The term `quad` is just too often used in the library...

[2022-04-22 19:23] peterrum commented on #11719
@tamiko @tamiko I think you talked about this topic recently. Do we have a plan here?

[2022-04-22 19:28] peterrum commented on #7053
I think we discussed to smooth the mesh in such a way that we don't have any hanging nodes at the periodic boundaries!? Is that correct?

[2022-04-22 19:33] peterrum commented on #9682
@simonsticko How do we want to continue here?

[2022-04-22 19:35] peterrum commented on #12780
@kronbichler Are we confident enough with the new code so that we can remove the flag?

[2022-04-22 20:00] kronbichler commented on #10928
Fixed by #13056.

[2022-04-22 20:00] #10928 closed

[2022-04-22 20:06] kronbichler commented on #10921
It did definitely help, but we need to look at the assembly code at some point before the release, so we should keep this open.

[2022-04-22 20:08] kronbichler commented on #12780
Yes, let us disable this flag. Anything not working can be considered a bug, and we have good coverage of hanging node cases.

[2022-04-22 21:31] tjhei commented on #7053
Yes. I didn't get to make the changes for that yet but it is on my mind to do. Would be great to have in 9.4...

[2022-04-23 14:35] dravinsi commented on #9596
Comment on @peterrum
I hesitate to comment here as it risks derailing a general discussion with specifics about one problem/method. Anyhow, we were working on a problem where the residual <img src="https://render.githubusercontent.com/render/math?math=\| Ax - b\|_2"> was a poor indicator of the error so we made a stopping criterion based on the iteratively calculated preconditioned residual <img s

[2022-04-23 18:57] tjhei commented on #9596
Regarding preconditioned residuals and GCR:
I think doing it in the Solvercontrol is the wrong approach. Take a look at GMRES instead: it uses the preconditioned residual with left preconditioning (because that is cheaply available) but you can switch to the real residual using the AdditionalData setting with additional cost. I think the same should be done for GCR.

I also see no good reason to u

[2022-04-23 19:18] peterrum commented on #9596
@tjhei Thanks for the hint regarding GMRES!

[2022-04-24 12:34] RichardYCJ commented on #13297
Hi @tjhei, did a little further research. If this is the case,

then according to [Saad's book](https://www-users.cse.umn.edu/~saad/IterMethBook_2ndEd.pdf) (Section 9.4), the standard GMRES **may not converge** because it does not span to the right Krylov subspace.

To my understanding, the GMG defined by `PreconditionMG` is essentially a hierarchical smoother that doing specified iterations on ea

[2022-04-24 13:29] #12780 closed

[2022-04-24 15:01] tjhei commented on #13297
It depends on how the GMG is configured: If the smoother and coarse grid operator are linear operators, then the GMG operator should be a linear operator ("constant operator" in what you quote).
Most smoothers satisfy this (including Jacobi, SSOR, etc.) but some coarse solvers do not (for example running a CG solve). That said, I would expect GMRES to work well even with a coarse solver that is no

[2022-04-24 21:11] tjhei opened #13638 "hdf5 tests fail"
The following tests fail for me:
[code]

It looks like the test hdf5_05 does not fill all values for ``dataset_4`` when running with one MPI rank. On my machine the default values are "nan", while they are "0" in the blessed output:
[code]

I am a bit confused because hdf5 is supposed to use 0 as the default: https://docs.hdfgroup.org/hdf5/develop/group___d_c_p_l.html#ga4335bb45b35386daa837b4ff1b9

[2022-04-25 02:16] yuzibo opened #13639 "build fail on riscv64 arch"
Hi,
I am porting debian package to riscv64 arch.
And the dealii package has FTBFS(fail to boot from source) issue on riscv64, the full buildd log is:

https://buildd.debian.org/status/fetch.php?pkg=deal.ii&arch=riscv64&ver=9.3.2-1&stamp=1648050393&raw=0

The special build error is：
[code]
And i think this is dealii source code does not support build on riscv64,  right?
Could you have a look to sol

[2022-04-25 05:35] RichardYCJ commented on #13297
Hi @tjhei, thanks for the quick reply. Trying to give it a sum up here:

- Geometrical Multigrid Preconditioner
  - a non-constant operator in most case (depend on smoother and coarse solver)
  - could be considered as quasi-constant (if smoother to be linear)
- Residual jump of GMRES
  - caused by both **indirect residual** and **non-constant operator**
  - better to set `use_default_residual=fal

[2022-04-25 07:20] peterrum opened #13640 "Deprecated boost header"
The Linux tests give the following warnings:

[code]

[2022-04-25 12:34] drwells commented on #13639
The backtrace shows that the `string_view` header failed to compile - this has to be a GCC bug. I can think of a few things to try:
1. Can you explicitly compile with C++14 (e.g., pass `-DDEAL_II_CXX_FLAGS='-c++14'` to cmake)? That avoids the problematic header.
2. What happens if you compile

[code]
on that machine with `-std=c++17`? I suspect it will also crash.

[2022-04-25 12:35] drwells commented on #13639
Regardless - thanks for porting deal.II to new machines!

[2022-04-25 21:44] tjhei commented on #13297
I would say that it is "constant" (I don't like that name, "linear operator" is more appropriate) in many situations. What smoother are you using that you think is not linear?

Do you get fewer FGMRES iterations than GMRES+right preconditioning?

[2022-04-26 07:12] yuzibo commented on #13639
I tested option 2  you mentioned, and it seems look ok:
[code]
It test build that compile with C++14 will cast a little more time

[2022-04-26 14:51] drwells commented on #13639
Can you do that test also with the same flags (removing the irrelevant ones from your original output):
[code]
I suspect this will also be OK but if it fails we have a very easy to reproduce bug report.

[2022-04-26 15:42] shahabgol opened #13643 "A bug in particles class"
There is a bug in the particles class (probably in exchange_ghost_particles() function)  that I reproduced using step-68. In the following code, I have only added the line: **particle_handler.exchange_ghost_particles(false);** after calling **sort_particles_into_subdomains_and_cells()** function (**line 745**). If you run this example on **two cores in parallel**, in **Debug** mode it breaks becau

[2022-04-26 18:35] bangerth commented on #13643
Do you think you could come up with a minimal test case?

[2022-04-26 19:39] blaisb commented on #13643
I have a feeling that adding
`particle_handler.exchange_ghost_particles(false)`
to any MPI test will break them if you have particles moving around. I think  I can cook one up by modifying [this test ](https://github.com/dealii/dealii/blob/master/tests/particles/particle_handler_21.cc)

Let me do this tonight and I'll open a PR with a test that breaks. Should make the work easier.

[2022-04-26 22:40] kronbichler commented on #8852
I think it makes sense to keep it open as of now, to push the final parts on presenting results, but we should move it out of the current milestone.

[2022-04-26 22:42] kronbichler commented on #12337
I think this one has been worked around by some other means, hasn't it @peterrum ?

[2022-04-26 22:44] kronbichler commented on #13098
This should be fixed indeed. We need to make sure that complex numbers do either not get instantiated at all, or that they end up in the correct place.

[2022-04-27 02:16] zjiaqi2018 commented on #11464
Yes, but only for scalar problems.

[2022-04-27 02:38] blaisb commented on #13643
I created a test in a PR that reproduces this exact bug. Hopefully this can help us move forward.
We need more of these tests anyway. Sounds like  a good Hackathon goal :)!

[2022-04-27 07:06] peterrum commented on #12337
I have only added an assert that one should compile deal.II with 64bit indices, since the class operates on `types::global_cell_index`:

https://github.com/dealii/dealii/blob/7e1892d3381e93ad2af8d5c2f3a51af23bef2ac1/include/deal.II/grid/cell_id_translator.h#L136-L148

One could, work always on 64bit integers as done here:

https://github.com/dealii/dealii/blob/7e1892d3381e93ad2af8d5c2f3a51af23bef2

[2022-04-27 15:09] tjhei commented on #11464
I would argue that one would normally use an extractor when using vector valued problems, but @luca-heltai thinks it is useful:
https://github.com/dealii/dealii/pull/13610#issuecomment-1098258020

[2022-04-27 16:06] drwells commented on #13639
Got it - looks like this is not a straightforward compiler bug. Did the C++14 build succeed?

[2022-04-27 19:21] luca-heltai commented on #11464
I too use extractors, but I found that those are difficult concepts for new students, who have already a lot of information to take in. Not finding the same interface in `FEInterfaceValues` that you can find in `FEValues` was, at least in a couple of cases that I have seen, confusing for them.

My observation was there just to have a somewhat consistent interface between FEValues and FEInterfaceVa

[2022-04-27 21:20] jppelteret commented on #11612
I've attached some logs below for tests using poly orders 1-4 with the grid refinement level decreased as _p_ increases. There's no change in the number of linear solver iterations for _p=1_, but a significant improvement at _p=4_.

`DGP_Monomial`
[step-44-dgp_monomial-P1_Q2_GR_4.txt](https://github.com/dealii/dealii/files/8577800/step-44-dgp_monomial-P1_Q2_GR_4.txt)
[step-44-dgp_monomial-P2_Q3_GR

[2022-04-27 23:09] bangerth opened #13649 "Failing test with bundled BOOST"
On my system, using the bundled BOOST version, the following tests fail:
[code]
That's because of this failure:
[code]

The code was added as part of #13536 by @drwells . We should either add that file to the bundled version, or find a different way to express the operation that doesn't require the boost algorithm.

[2022-04-28 01:08] #11612 closed

[2022-04-28 01:47] #13649 closed

[2022-04-28 05:06] yuzibo commented on #13639
yes. C++14 is build ok also with the same options above.

[2022-04-28 16:23] RichardYCJ commented on #13297
Any comments about the update? @tjhei

[2022-04-28 18:21] lucasmyers97 commented on #13618
Hi @jppelteret,

Just to be clear, the numbers that you report "with perturbation" are perturbed using the trick already in the `eigenvectors` method?

Also, as far as what I'm expecting: I *think* that looks right, but my only way to check is by first computing the Jacobian of my function (nevermind what function) in the original frame, and then comparing that to the Jacobian produced by (1) tran

[2022-04-29 04:54] RichardYCJ commented on #13297
Hi @tjhei, I agree with your point. Though technically speaking, they have a slight difference which can be seen on the second test after iteration 19 before restart:

and I think this can be neglected considering the residual level.

However things get messed after restart. Especially when matrices get ill-conditioned (matrix-free with asymmetric pattern almost has no good smoother but jacobi) an

[2022-04-30 08:46] marcfehling commented on #7315
I'm not actively working on this, or plan on doing so in the near future. I suggest to remove this issue from our milestones, but to leave it open to document the missing feature.

[2022-04-30 08:49] marcfehling commented on #10333
Indeed! However, there is still "compress indices" left in the original list of things to do.

[2022-04-30 09:17] marcfehling commented on #1496
It's on a high priority on my list, but I'm almost sure that it won't make it in the next release. Let's adjust the milestone.

[2022-05-01 18:21] blaisb commented on #13643
@shahabgol I think you can close this issue now. This has been solved by @gassmoeller last PR :)

[2022-05-01 18:30] shahabgol commented on #13643
@gassmoeller @blaisb @bangerth Thank you all :)

[2022-05-01 18:30] #13643 closed

[2022-05-02 06:19] RichardYCJ opened #13662 "Redundant template parameter for MGSmoother"
Hi all,

It seems that the `MatrixType` is no longer used by `MGSmootherRelaxation`, `MGSmootherPrecondition` after this [commit](https://github.com/dealii/dealii/commit/b96d0c1870a6515400071a9ca287c5df6023a922) and `MGSmootherBlock` after this [commit](https://github.com/dealii/dealii/commit/fd787b698a1385d31b3c332b21a24f3cc4d77ee3).

I am wondering if it is doable to remove this redundant templa

[2022-05-02 06:36] RichardYCJ commented on #13662
BTW, Is there a special intension to design `mg::SmootherRelaxation` on top of `MGSmootherRelaxation`? Or is it caused by historical problem?

The only difference I see is that `mg::SmootherRelaxation` publicly inherit the `MGLevelObject<SmootherType>` while the latter one contains a public member of `MGLevelObject<SmootherType>`. Hence it causes difference while taking out the smoother.

And `mg:

[2022-05-02 13:16] gassmoeller commented on #13643
Just for future reference the PR was #13654

[2022-05-02 21:04] #13531 closed

[2022-05-04 06:56] luca-heltai opened #13668 "Make CGAL detection robust"
Currently we support CGAL versions > 5.0. From 5.0 onwards, cgal is a header only library. While this should simplify its detection and installation, there are issues in the ways we currently process our external libraries that do not make it easy to extract information about the linking interface of the external libraries.

In pricinciple, for user codes, we use

[code]
and this works fine.

Howe

[2022-05-04 06:57] luca-heltai commented on #13668
FYI @fdrmrc.

[2022-05-04 15:12] luca-heltai commented on #13668
This is fixed here. If CGAL uses gmp and mpfr, then its CGAL_LIBRARIES field contains them.

[2022-05-04 17:53] tamiko commented on #13668
@luca-heltai I think the time has come to rewrite our external feature setup: I am thinking of something on the line of the following:
 - [ ] augment the `DEAL_II_PACKAGE_HANDLE` macro to recursively resolve targets in the link interface
 - [ ] add a new keyword to supply targets directly
 - [ ] and switch our build system to create import targets for external dependencies.
 - [ ] properly export

[2022-05-04 19:35] dougshidong opened #13670 "Rol::VectorAdaptor::reduce() does not perform parallel reduction"
https://github.com/dealii/dealii/blob/e0c486b9ce1d2b2ce176eb4903849644f7945c1f/include/deal.II/optimization/rol/vector_adaptor.h#L472-L488

Line 485 above hints that a parallel reduction occurs, however the VectorAdaptor::reduce() is a public function of the parent class ROL::Vector. Therefore, the resulting value is directly returned without a parallel reduction being done "internally".

See belo

[2022-05-04 19:50] dougshidong commented on #13670
Looking through the ReductionOp class function reductionType()

https://github.com/trilinos/Trilinos/blob/0bd35b1d0298b79ab6e18619e61fa364c84a6267/packages/rol/src/elementwise/ROL_Elementwise_Reduce.hpp#L70

It looks like it could guide the type of MPI call needed for the parallel reduction at the end of VectorAdaptor::reduce.

[2022-05-05 22:01] luca-heltai opened #13680 "Wrong assertion when creating co-dimension one quad grids."
When creating a co-dimension one grid like this one:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/2919756/167032123-0164842f-4611-4c61-b362-f051595812c2.png">

deal.II fails with this assertion:

[code]

This happens inside a loop right after the creation of the grid, where we check that normals are consistently oriented. The mesh above has normals consistently orie

[2022-05-06 03:20] bangerth commented on #13670
I'm not sure any of us have residual knowledge how ROL works. I *think* you are saying is that there is a bug here?

[2022-05-06 03:46] dougshidong commented on #13670
Yes, there is a bug and the comment in line 485 is a "lie".

The `dealii::VectorAdaptor` does not correctly implement the expected `ROL::Vector::reduce()` operation for parallel vectors. And the parallel reduction is not dealt with within ROL either. e.g. `dealii::VectorAdaptor::reduce(equivalent_op_to_MPI_MIN)` will return the minimum of the locally-owned elements, not the minimum across all the

[2022-05-06 16:19] bangerth commented on #13670
Any patch is always fantastic -- thanks in advance!

Yes, we don't use `MPI_COMM_WORLD`. You'll have to ask the vector in question for which communicator it uses.

[2022-05-06 20:16] mwichro opened #13686 "MUMPS from Trilinos requires matrix to exist on destruction/ reinitialization"
TrilinosWrappers::SolverDirect crashes with segfault on destruction if the matrix it was initialized with does not exist anymore. The same problem occurs while calling initialize (if  SolverDirect was previously initialized).

I only noticed this behavior with Amesos_Mumps, Amesos_Klu works fine. For this reason, the problem was particularly hard to locate in larger project. It would be nice to ha

[2022-05-06 22:51] bangerth commented on #13686
Do you think you can come up with a small test case that shows this?

The way we often deal with this is that we keep pointers to objects such as `SparseMatrix` via `SmartPointer`. If you delete the matrix while something else still points to it, you'll get an error message.

[2022-05-06 22:57] bangerth commented on #7723
Out of curiosity, the "flexible" variant is useful when one has a non-constant preconditioner such as an approximate inverse provided via an iterative solver. Does it also help if the matrix itself is non-constant?

My student @juleoc02 has a problem where he's trying to solve with a matrix of the form `K=BA^{-1}B^T` (actually, much more complex, but this will do for exposition) where `A^{-1}` is

[2022-05-06 23:01] bangerth commented on #13662
If I understand you right, this class now takes a template argument that is never actually used. In that case, the backward compatible first step would be to provide a default argument such as `void` for the template argument, and make sure all current users of the class no longer use the additional template argument.

Then, after some time, we can just remove the argument altogether.

[2022-05-07 12:14] RichardYCJ commented on #13662
The problem here is that `MatrixType` is the first template parameter and thus you need to write it explicitly if the latter parameters fail to deduce automatically (before c++17 you have to write it out).

So I would say the better way is either to **add an wrapper alias** or **write a new class similar to** `mg::SmootherRelaxation`

[2022-05-07 13:49] RichardYCJ commented on #13297
Hi @tjhei, maybe add an Bug label?

[2022-05-07 15:55] peterrum commented on #13297
Hi @RichardYCJ!

I have extended your program from above with a third variant: GMRES + GMG (but GMG is setup again before each preconditioner application). For me there is no difference, if I setup GMG only once or during each application. Maybe you could check this for you? If the result is the same, that would mean that `GMG` is not the problem.

Peter

Here the program:
[code]

[2022-05-07 18:49] peterrum opened #13687 "Behavior of `FEEvaluation::reinit()`"
The function `FEEvaluation::reinit()` can be called either with a cell-batch index or with an array of indices of cells that should make up a new macro cell. Calling the first function and after that the second one works. But it does not work in the opposite way around,  due to the assert:
[code]

What do we want? Should we allow switching between modi? Or should we add an additional assert in the

[2022-05-07 19:49] kronbichler commented on #7723
I would have to check the optimization literature about nonlinear conjugate gradient operations. I would intuitively say that a different form of the residual rather than the incremental update `r = r - alpha * (A * p)` would be necessary, but it might still be worth a try to check the F-CG.

[2022-05-09 19:10] bangerth commented on #10989
Yes, if we decided to drop taskflow, then we can close.

[2022-05-09 19:10] #10989 closed

[2022-05-09 19:14] kronbichler commented on #13580
@NiklasWik I guess this was resolved by #13586, right?

[2022-05-09 19:16] NiklasWik commented on #13580
Pretty sure it wasn't. I can double check.

[2022-05-09 19:43] #7723 closed

[2022-05-09 20:03] peterrum opened #13703 "List of currently failing tests"
(Matthias) Failing tests with RC1:
--
| Host | Configuration | Commit | Build errors | Build warnings | Failing tests | Passing tests |
| - | - | - | :-: | :-: | :-: | :-: |
| tester | [Clang-14.0.5-dealii-9.4-unity_build](https://cdash.dealii.org/buildSummary.php?buildid=2788) | [5303c8](https://cdash.dealii.org/viewUpdate.php?buildid=2788) | [0](https://cdash.dealii.org/viewBuildError.php?buildi

[2022-05-09 20:09] marcfehling commented on #13703
I will have a look at the `sharedtria/refine_and_coarsen` test (provided I can reproduce the problem).

[2022-05-09 20:18] kronbichler commented on #9682
I guess this is not critical, so we can postpone the target milestone (and if we happen to have time for this one we can still work on it).

[2022-05-09 20:54] kronbichler commented on #13703
@drwells how should be handle the `nodal_renumbering` cases? They fail on my machine because my compiler generates a different error message, namely
[code]
rather than the one you added:
[code]
Since the exact error message is not critical, and it seems to be a lot of manual work to get this robust on all different compilers and compiler versions, I suggest to simply remove the lines https://githu

[2022-05-09 23:42] marcfehling commented on #13703
@peterrum `sharedtria/refine_and_coarsen_01` works on my machine. Before changing the partitioner as a shot in the dark, could you provide a verbose error message here? Thanks.

[2022-05-10 00:01] drwells commented on #13703
Yes, I think the nodal renumbering test fails because the assertions try to be too clever. I'll fix it.

[2022-05-10 02:19] marcfehling commented on #9596
I've removed the milestone as this turned into a general discussion about the matter.

[2022-05-10 02:20] marcfehling commented on #13555
I also do not like floating point values for this matter.

Let's close this issue.

[2022-05-10 02:20] #13555 closed

[2022-05-10 02:21] marcfehling commented on #13491
No high priority, but we should fix this rather sooner than later.

[2022-05-10 02:24] marcfehling commented on #12439
We will most certainly not get this done until the next release, so let's adjust the milestone.

[2022-05-10 07:48] NiklasWik commented on #13580
The y-component now looks like this for the RT case, given the same sin-function as above.
<img src="https://user-images.githubusercontent.com/62885387/167575460-d5232963-915b-42c3-917b-aa759ec8a467.png" width="300">

Also, I tried to use `VectorTools::compute_nonzero_normal_flux_constraints` with RT as well and it gave me this exception
<img src="https://user-images.githubusercontent.com/62885387

[2022-05-10 07:51] sebproell commented on #12102
I am also interested in this feature. I want to evaluate a boundary condition on faces that separate `FE_Nothing` from (in my case) `FE_Q`s. I am not sure if I understood the discussion correctly, but for me faces that border `FE_Nothing` would need to be inlcuded in the loop.

[2022-05-10 09:09] peterrum commented on #13703
For some reason, CDash does not show the error messages. What happens? Which assert is triggered?

[2022-05-10 20:01] tjhei commented on #13345
@zjiaqi2018 and @singima together tested the output and got a ~ 200 GB .h5 file:
[code]
with a correct .xdmf:
[code]

[2022-05-10 20:02] tjhei commented on #13345
This now works correctly, thanks guys.

[2022-05-10 20:02] #13345 closed

[2022-05-10 20:19] marcfehling commented on #13703
In addition, the following tests fail on our machine:
- [ ] distributed_grids/3d_coarse_grid_02.debug
- [ ] matrix_free/ecl_03.mpirun=5.debug
- [ ] matrix_free/ecl_03.mpirun=5.release
- [ ] matrix_free/ecl_04.mpirun=5.debug
- [ ] matrix_free/ecl_04.mpirun=5.release
- [ ] mpi/create_mpi_datatype_01.mpirun=2.debug
- [ ] mpi/create_mpi_datatype_01.mpirun=2.release
- [ ] optimization/bfgs_05.debug
- [

[2022-05-10 20:22] tjhei commented on #13703
I assume this is because your MPI version is very, very old. Not sure what to do about it.

[2022-05-10 20:23] tjhei commented on #13703
Also see #13638

[2022-05-11 16:09] bangerth commented on #13358
Fixed by #13414.

[2022-05-11 16:09] #13358 closed

[2022-05-12 09:15] kronbichler commented on #10947
This has now been fixed by the code https://github.com/dealii/dealii/blob/ddcce6ffcb19f65bac07d01626d3e84e89099613/include/deal.II/matrix_free/fe_evaluation.h#L2153-L2158

Compared to #6039, we now also do not bail out in case we do not support a particular degree pre-compiled, but switch to a slower algorithm. Hence, I'm closing this PR.

[2022-05-12 09:15] #10947 closed

[2022-05-13 06:08] luca-heltai opened #13727 "CGAL Support Open Issues"
- [ ] Make sure `cgal_triangulation_to_dealii_triangulation` works with c3t3
- [ ] Extract boundary mesh `dealii::Triangulation<3,3>` to `CGAL::Surface_mesh`
- [ ] Create a deal.II triangulation from any CGAL supported file
- [ ] Create a deal.II triangulation from any CGAL supporte surface mesh file
- [ ] Create wrappers to perform boolean operations on deal.II Grids

[2022-05-13 22:40] tamiko opened #13734 "TransfiniteInterpolationManifold in co-dimension 1"
The following snippet of code
[code]
Fails with an assertion:
[code]

GDB stacktrace:
[code]

[2022-05-13 22:52] tamiko commented on #13734
In `source/grid/manifold_lib.cc` we do:
[code]
This amounts to 9 dim-dimensional unit points. But then in `include/deal.II/fe/mapping_q_internal.h` we have this if condition:
[code]
which is now taken because `dim < spacedim`. Unfortunately, the first condition is necessary for the call to `GridTools::affine_cell_approximation<dim>()` which expects 4 support points (for the 4 vertices of the mesh)

[2022-05-13 22:54] tamiko commented on #13734
@kronbichler *ping*

[2022-05-14 09:48] luca-heltai commented on #13734
I think we should be able to fix this by just *using* the first 4 points (which should be associated to the vertices)

[2022-05-14 12:20] peterrum commented on #13703
@marcfehling

 matrix_free/ecl_03.mpirun=5.release
 matrix_free/ecl_04.mpirun=5.debug
 matrix_free/ecl_04.mpirun=5.release

What is the output here?

[2022-05-14 12:21] peterrum commented on #13640
@marcfehling These warnings also happen in our GitHub actions.

[2022-05-14 12:28] peterrum commented on #13580
@NiklasWik What is working and what is not? `interpolate()`? `project()`? `project_boundary_values_div_conforming()`? It would be great to have `interpolate()` and one of the `project()` functions working. Maybe we could also extend the documentation of `VectorTools::project_boundary_values_div_conforming` so that it states that it also works for `FE_RaviartThomasNodal`? Adding some assert might b

[2022-05-15 15:25] tjhei commented on #13703
also see the failing tests in #13458

[2022-05-15 21:45] marcfehling commented on #13477
See also:
- https://gitlab.kitware.com/cmake/cmake/-/issues/22831

[2022-05-15 23:00] marcfehling commented on #13703
It looks like these tests are flagged `Unstable` on CDash https://cdash.dealii.43-1.org/test/8538014

I will check the output on our machines in a moment and provide them here.

[2022-05-16 00:08] marcfehling opened #13740 "pipe junction: setting manifold ids fails with clang"
Some manifold ids are not set correctly, see https://cdash.dealii.43-1.org/test/8772570

https://github.com/dealii/dealii/blob/99b9d4fc63e9cb02945c127215dcb7c1d5291213/tests/grid/grid_generator_pipe_junction.output#L4480

---

It's either while setting manifold ids on the temporary cylinders (maybe changing the tolerance helps?),
https://github.com/dealii/dealii/blob/99b9d4fc63e9cb02945c127215dcb7

[2022-05-16 05:27] marcfehling commented on #13703
We have OpenMPI 1.10.7 on our machines. It believe this is the reason why these tests fail. Do we have an elegant way how to disable tests if the MPI library is too old? We could add an `#ifdef` in the main function, but maybe you have a better idea :)

Please find the ctest output to the tests here:
- [create_mpi_datatype_01.log](https://github.com/dealii/dealii/files/8697363/create_mpi_datatype_

[2022-05-16 07:47] NiklasWik commented on #13580
`interpolate()` does not work.

`project()` works.

I have only tried `project_boundary_values_div_conforming()` with a zero-function, which works. Here I had to change the function as it previously asserts if `FE_RaviartThomas` is used. I can create the pr later.

[2022-05-16 17:21] tamiko commented on #13734
@luca-heltai This seems to work. I'll verify and make a pull request.

[2022-05-17 05:47] #13734 closed

[2022-05-17 08:17] #13613 closed

[2022-05-19 02:17] marcfehling commented on #13575
The `doxygen` bibliography is not available for the continuous builds:
https://www.dealii.org/developer/doxygen/deal.II/citelist.html

The one of the 9.3 release is available though:
https://www.dealii.org/current/doxygen/deal.II/citelist.html

[2022-05-19 17:58] #12660 closed

[2022-05-19 20:19] #12141 closed

[2022-05-19 20:22] #13578 closed

[2022-05-20 07:19] kronbichler commented on #13703
I also see test failures on the test `matrix_free/ecl_01`, see e.g. https://cdash.dealii.43-1.org/test/10060936 and https://cdash.dealii.43-1.org/test/10048075 (the latter is when we build with SSE2 vectorization only, so that might give a hint). @peterrum can you take a look?

[2022-05-20 13:54] drwells opened #13764 "Resolving external library interdependencies"
Previously, I thought that the file names of scripts in `cmake/configure` established dependencies since we include them in sorted order:

https://github.com/dealii/dealii/blob/ed3f42a2f15a8bdda1e7789a39840ef71c60e43a/CMakeLists.txt#L122-L129

However, only about half of the files contain a digit in them (e.g., `configure_0_threads.cmake` is always first). We also have `FEATURE_${_feature}_AFTER`

[2022-05-22 02:43] #13584 closed

[2022-05-22 20:01] tamiko opened #13782 "TBB oneAPI: thread concurrency limiting does not get applied."
I made a mistake with this piece of code:
[code]
Here, `global_control` is not a function but a class. So we have to do the same static object dance that we do with `tbb::task_scheduler_init`. I'll fix this and add a test.

[2022-05-22 20:31] peterrum commented on #13703
@kronbichler I am able to reproduce the error locally when compiling with `-msse2`. I'll try to fix this, but not sure when.

[2022-05-22 21:01] peterrum commented on #13703
@kronbichler I am pretty sure that the problem is the following lines

https://github.com/dealii/dealii/blob/a56c2ee2e15b54833bcdd02162a620285e84d56c/include/deal.II/matrix_free/mapping_info.templates.h#L3013

https://github.com/dealii/dealii/blob/a56c2ee2e15b54833bcdd02162a620285e84d56c/include/deal.II/matrix_free/mapping_info.templates.h#L3036-L3046

The reduced mapping of the neighbors is set u

[2022-05-23 10:15] #13782 closed

[2022-05-23 16:08] zjiaqi2018 opened #13794 "Undefined reference to void Utilities::MPI::internal::all_reduce<bool>()"
I compiled ASPECT in the release mode but got the following error:
`ld.bfd: /work2/08254/jiaqi2/frontera/dealii/installed_intel_O3/lib/libdeal_II.so.9.4.0-pre: undefined reference to void dealii::Utilities::MPI::internal::all_reduce<bool>(int const&, dealii::ArrayView<bool const, dealii::MemorySpace::Host> const&, int const&, dealii::ArrayView<bool, dealii::MemorySpace::Host> const&)`

The functio

[2022-05-23 18:54] kronbichler commented on #11989
While it would be nice to get this fixed eventually, I think this is low on our priority list, so I am moving the milestone for now.

[2022-05-23 20:48] #13794 closed

[2022-05-23 20:53] drwells commented on #13794
@zjiaqi2018 thanks for the report - the fix for this is pretty clear. Can you give this a try and reopen the issue if this doesn't work? Thanks!

[2022-05-24 00:53] zjiaqi2018 commented on #13794
Thanks for fixing the issue. I got new errors building deal.ii master, not sure if it's related.
[code]

[2022-05-24 02:29] drwells commented on #13794
Unfortunately two independent PRs combined recently broke master - see also #13799. This is now fixed if you're willing to give this another try.

[2022-05-24 04:07] zjiaqi2018 commented on #13794
It works now, thanks!

[2022-05-24 12:35] drwells commented on #13794
Great!

[2022-05-24 21:25] marcfehling commented on #13703
After updating to `petsc 3.17.1` and `trilinos 13.2.0`, the following tests fail:

- [ ] petsc/preconditioner_tvmult_01.mpirun=3.debug (Failed)
- [ ] petsc/preconditioner_tvmult_01.mpirun=3.release (Failed)
- [ ] petsc/solver_08.debug (Failed)
- [ ] petsc/solver_08.release (Failed)
- [ ] rol/vector_adaptor_no_ghost_01.mpirun=1.debug (Failed)
- [ ] rol/vector_adaptor_no_ghost_01.mpirun=1.release (F

[2022-05-25 17:45] tamiko commented on #13575
@marcfehling fixed.

[2022-05-25 17:51] peterrum commented on #12594
@bangerth

[2022-05-25 17:51] peterrum commented on #12689
@luca-heltai

[2022-05-25 20:34] marcfehling opened #13821 "Compilation fails for `Intel 18`"
With the `Intel 18.0.2` suite (compiler, MPI, MKL), we can not compile the current master branch. It succeeds with `Intel 19.1.1` though.

The following error recurs:
[code]
The line is part of a `std::enable_if` construct: https://github.com/dealii/dealii/blob/9dd448b6463d02ca4056dd55dee4ce28259ce151/include/deal.II/lac/la_parallel_vector.h#L1935-L1939

Seems to be a compiler bug. Any idea how to

[2022-05-25 20:46] marcfehling commented on #13821
Maybe reverting parts of #13291 and #13320 will allow compilation again.

[2022-05-25 21:35] tamiko opened #13822 "Compilation fails for opencascade 7.6.1"
See https://cdash.dealii.43-1.org/viewBuildError.php?buildid=1948

[code]

[2022-05-25 22:26] tamiko commented on #13822
I am downgrading the testsuite to 7.5.3 for the time being and will upgrade back to 7.6.1 once we have resolved this.

[2022-05-25 23:10] bangerth commented on #11879
Needs to wait for the next release to be completely finished.

[2022-05-25 23:10] bangerth commented on #11711
Needs to wait for the next release.

[2022-05-25 23:13] bangerth commented on #10391
@tamiko I think we agreed that TaskFlow is not, after all, the right direction. Should we just close this?

[2022-05-25 23:14] bangerth commented on #10175
@nfehn You mention that this should have been fixed by a patch a couple of years ago. Can you confirm that this is so?

[2022-05-25 23:16] #13359 closed

[2022-05-25 23:17] bangerth commented on #13098
What's the status here? @SilverLinings89 can you test your little test with the current developer version?

[2022-05-25 23:17] bangerth commented on #13522
Did we decide today that we no longer care about clang-5?

[2022-05-25 23:21] bangerth commented on #13580
What should we do about this in view of the upcoming release? Can we fix it before the release, or does it have to be postponed?

[2022-05-26 01:09] marcfehling commented on #13821
That does not work, unfortunately. I swapped positions of this and the following function, as the latter doesn't use the `&&` operator. Still the same problem.
[code]

I will try to revert the old PRs partially and then add some preprocessor conditional with respect to the Intel compiler version. This way we still have the new, elegant way, and the old, compatible implementation. Plus we can easil

[2022-05-26 02:56] bangerth commented on #13821
I played with this a bit earlier and pretty much instantly got into hot water when trying to replace `std::enable_if` by `std::enable_if_t`. I think it is because in essence we are doing this:
[code]
These functions have the same signature, and if there are template arguments so that both `cond1` and `cond2` are both true, then the compiler complained that we end up with a redeclaration of a funct

[2022-05-26 18:16] tamiko commented on #13703
I currently see 39 failing tests for the main configuration [1] on `tester`: https://cdash.dealii.43-1.org/viewTest.php?onlyfailed&buildid=1986 - this is actually not too bad. Obviously this number has to go down to zero over the next two weeks :grin:

[1] (almost everything up to date), including all external dependencies except arborx, cuda and symengine. (The latter I am working on reviving.)

[2022-05-26 18:24] #13764 closed

[2022-05-26 19:32] bangerth commented on #13640
[code]

[2022-05-26 19:59] peterrum commented on #13640
This was introduced by https://github.com/dealii/dealii/pull/13451.

[2022-05-27 09:13] kronbichler commented on #12337
I think we should be fine with the assertion, the workaround (enable 64 bit integers), and keeping the current non-templated code. If one works with those still reasonably large problems, going to 64 bit integers does not seem to be outrageous, unless the work on our side is very low (which it does not seem at first sight).

[2022-05-27 09:40] kronbichler commented on #13703
I had a look at the failing test [multigrid-global-coarsening/interpolate_01.mpirun=1.release](https://cdash.dealii.43-1.org/test/11208158), which only fails in release mode and only recently, at some point during the last week. I see with valgrind:
[code]
While I can't see line numbers (and I can't run valgrind on the debug version right now, it seems our library is too big for valgrind), I belie

[2022-05-27 16:40] marcfehling commented on #13821
I still get the same error if I get rid of the second overload entirely. Moving the `enable_if` statement into a function parameter also didn't work.

However, getting rid of the `static constexpr` variables and writing for example
[code]
instead of
[code]
worked!

Do you prefer getting rid of the `static constexpr` variables entirely, or shall I write a conditional as described in https://github.

[2022-05-27 16:52] marcfehling commented on #13821
This seems to work:
https://github.com/marcfehling/dealii/blob/1c589dd470598440bdbf59a0d3bb6b7cbe2bd610/include/deal.II/lac/la_parallel_vector.h#L1935-L1945

[2022-05-27 18:39] drwells opened #13837 "Replace FE_PolyTensor::inverse_node_matrix with something more accurate"
If I run the test suite without LAPACK I still get a few failling tests:
[code]
The commonality between these is that all of these tests rely on inverting a relatively large (192 x 192) dense matrix with our own naive Gauss-Jordan algorithm - the result is not so good (I see a maximum difference of 1e-9 between LAPACK and no-LAPACK versions, while the largest value the matrix is about 1).

We shou

[2022-05-27 19:47] marcfehling commented on #13703
For the `petsc/preconditioner_tvmult_01` test, some exception is caused with the latest version of petsc 3.17.1. It also occurs if only a single process is used. With gdb I get the following info...
[code]
...and the following backtrace
[code]

[2022-05-27 21:07] marcfehling commented on #13821
When compiling the examples, I am now facing linker problems:
[code]

[2022-05-27 21:37] tjhei commented on #13821
This looks like #13794, which should have been fixed already.

[2022-05-27 21:47] marcfehling commented on #13821
Thank you for the hint! #13794 is already part of my feature branch, but it didn't fix the problem. Interestingly, linking succeeds with `Intel 19` - it's just `Intel 18` that causes trouble.

I will double-check that my configuration is correct.

[2022-05-27 21:51] marcfehling commented on #13821
Actually, `Intel 19` bails out with a different error message when building in release mode:
[code]

[2022-05-27 22:28] marcfehling commented on #13822
Maybe we can do something like these guys: https://github.com/IfcOpenShell/IfcOpenShell/commit/461b78665a726e91954cfea4e2658213b0da4161

[2022-05-27 22:34] marcfehling commented on #13822
Do we need the `<BRepAdaptor_HCompCurve.hxx>` header at all?

[2022-05-27 22:40] marcfehling commented on #13821
I take everything back. My feature branch did not include https://github.com/dealii/dealii/issues/13794.

[2022-05-27 23:05] marcfehling commented on #13822
I can compile deal.II with opencascade 7.4.0 and run the opencascade tests successfully if I remove the `<BRepAdaptor_HCompCurve.hxx>` header.

[2022-05-28 19:12] marcfehling commented on #13822
Upgrade instructions:
https://dev.opencascade.org/doc/overview/html/occt__upgrade.html

[2022-05-29 18:37] willi-z opened #13848 "[Tutorial step-1] part of the HTML is malformed."
Hi,
I am new to dealii and I currently started to go through the dealii-tutorial.
In [step-1](https://www.dealii.org/current/doxygen/deal.II/step_1.html) the last paragraph seems to be malformed.
As an outsider there seems to be an issue with ``@code`` and ``@endcode`` not being parsed correctly.
Also there are some wierdly intertwined ``<a href/>`` tags, that might not be the way the author origi

[2022-05-29 18:47] tjhei commented on #13848
Thank you for reporting this. We are aware of this and the fix for the 9.3 documentation should be online in the next few days. @tamiko will just need to regenerate the documentation.

Until then, you can take a look at https://www.dealii.org/developer/doxygen/deal.II/step_1.html (this is the development version of step-1, but there should be little to no changes to 9.3).

[2022-05-30 01:10] tamiko commented on #13848
@willi-z @tjhei I have regenerated the documentation with out doxygen fixes. Please have a look!
Let's close after you two have confirmed that all issues are resolved.
See, https://www.dealii.org/current/doxygen/deal.II/step_1.html

[2022-05-30 01:11] tamiko commented on #13668
I will postpone this fix to 9.5. This is a major  overhaul of the build system that I think should get in after the 9.4 release.

[2022-05-30 01:40] tjhei commented on #13848
Looks good to me.

[2022-05-30 03:32] #13848 closed

[2022-05-30 08:41] kronbichler commented on #10763
We won't have this until the 9.4 release, either, even though we made progress on some related topics. Adjusting target milestone.

[2022-05-30 08:43] kronbichler commented on #13580
I will have a look on this.

[2022-05-30 08:45] kronbichler commented on #10945
I guess this is a very minor topic and does not distract from the main innovation of the tutorial, so I simply adjust the milestone for now. If we have a last-minute fix, I will be fine with it as well.

[2022-05-30 16:42] tjhei opened #13859 "write_hdf5 does not support mixed meshes and has no warning"
When looking at
https://github.com/dealii/dealii/blob/31efc61df35ed443176f7aa54c7a044015c97c56/source/base/data_out_base.cc#L8026
It looks like we just grab the first cell to determine the cell type. We should at least ``assert()`` that all cells have the same type.

[2022-05-30 16:55] bangerth commented on #7053
I don't think this is going to make it for 9.4. Re-tagging for 9.5.

[2022-05-30 16:56] bangerth commented on #11055
I don't think this is going to make it for 9.4. Re-tagging for 9.5.

[2022-05-30 16:57] bangerth commented on #10391
@tamiko Ping?

[2022-05-30 16:58] bangerth commented on #13098
@SilverLinings89 Any news?

[2022-05-30 17:01] bangerth commented on #10388
This could have been done using TaskFlow 2.7 and later, but we decided not to go with TaskFlow for now.

[2022-05-30 17:01] #10388 closed

[2022-05-30 17:05] kronbichler commented on #13098
I could reproduce the issue from the code snippet above. With that, I know what happens and how to possibly work around it.

[2022-05-30 17:09] bangerth commented on #13859
I've got a patch.

[2022-05-30 17:13] bangerth commented on #13821
What's left here? Did #13838 and #13841 fix this?

[2022-05-30 19:56] tjhei commented on #10391
Well, I am unhappy with the current situation (buggy, new versions requiring c++17) and I am also not super motivated to invest more time into this right now. I do remember getting better performance even from the initial, simple taskflow implementation, though.

An alternative would be to import the newest taskflow (and disabling if we don't have c++17 support). We don't really need TBB and taskf

[2022-05-30 19:58] #13859 closed

[2022-05-31 00:37] bangerth commented on #10391
I thought we *had* already ripped everything out. Did we not? Or did we only *decide* that we wanted to?

We should at least do so for the release. Nothing uses TaskFlow, there is no point shipping it as part of the release.

I think we had solutions for all places where we use the TBB right now with the exception of `parallel_for`. I do think that there is value in using something as widely distr

[2022-05-31 02:22] marcfehling commented on #13821
I encountered one more (and hopefully the last) linker error with both Intel 18 and Intel 19.
[code]
But I have no idea how to figure out the cause for this one.

[2022-05-31 02:44] tjhei commented on #13821
Can you try without the gold linker?

[2022-05-31 03:29] marcfehling commented on #13640
We don't explicitly include any of the headers that trigger the warnings anywhere in the deal.II library.

I think this is a problem that comes from inside the boost library. Bumping the bundled boost version could fix these warnings.

[2022-05-31 03:47] marcfehling commented on #13640
The warnings you refer to are different ones: https://github.com/dealii/dealii/pull/13451#issuecomment-1073996161

[2022-05-31 04:45] tamiko commented on #10391
@bangerth No we haven't ripped out everything yet. We did postpone the discussion the last time because @tjhei wasn't present :-)

As for taskflow - I think the safest option to proceed would be to simply remove the CMake taskflow bits on the release branch after we branched off. We have done so already for the last release.

[2022-05-31 04:48] tamiko commented on #10391
Another important thing to consider is what @kronbichler wrote about the matrix free thread support:

That is essentially implementing a kind of task graph with TBB, but the code is super ugly. This should be much easier to implement with a DAG-based library like taskflow - but it needs to be done.

I want to point out that we lost thread support in matrix free for One API TBB at the moment. (The

[2022-05-31 05:09] marcfehling commented on #13821
Thanks for the hint @tjhei.

It indeed works when disabling `gold` by adding `-D DEAL_II_COMPILER_HAS_FUSE_LD_GOLD=OFF` to the cmake configuration, for both Intel 18 and Intel 19.

I guess we can close the issue now.

---

For completion, these are the errors I get:

- Intel 18:
[code]
- Intel 19:
[code]

[2022-05-31 05:09] #13821 closed

[2022-05-31 07:28] kronbichler commented on #12025
I think we will not get around to this one for this release, so we need to postpone it.

[2022-05-31 08:59] SilverLinings89 commented on #13098
Hi, sorry for the late reply, do you still need me to run a test?

[2022-05-31 16:57] bangerth commented on #10391
I don't know how TaskFlow and TBB compare for the execution of task graphs, but it has become quite simple to construct very powerful task graphs (including flowing data from one task to another) in new versions of the TBB. I quite liked the examples the documentation gives.

[2022-05-31 17:24] tamiko opened #13877 "DataOut::write_vtu_in_parallel: missing closing xml elements"
I am not sure why this happens but I encounter missing closing xml elements in the generated vtu files with `DataOut::write_vtu_in_parallel`:

[code]

This might be related to the size of the file - I am not sure.

[2022-05-31 19:34] #13098 closed

[2022-06-01 05:03] tamiko opened #13881 "Unity build is broken"
For the upcoming 9.4 release we should fix our unity build again :-)

https://cdash.dealii.43-1.org/viewBuildError.php?buildid=2195

[2022-06-01 15:28] drwells commented on #13881
I can reproduce this - I am working on a fix.

[2022-06-01 15:50] drwells commented on #13881
https://github.com/petsc/petsc/blob/27c9ef7be839ca1f58a90cb820253679fac370b3/include/petsclog.h#L460-L462

defines
[code]

so its not possible to define a function with that name after including a PETSc header - we will always get errors resulting from macros. More generally, the big mpi library is not compatible with PETSc for this reason so this problem extends past the issue of unity builds.

T

[2022-06-01 16:08] bangerth commented on #13881
Ugh, what a moronic system for them to use...

[2022-06-01 16:30] tamiko commented on #10391
Let's postpone the thread cleanup to 9.5 :-)
We will gut taskflow again for the release.

[2022-06-01 17:06] bangerth commented on #13837
Yes, we should know better than to do an explicit inversion. Can you point me at the place where that happens?

[2022-06-01 17:09] #12974 closed

[2022-06-01 17:16] tjhei commented on #12873
#13611 is the facility to use

[2022-06-01 17:16] #12873 closed

[2022-06-01 17:31] peterrum commented on #13509
-> https://github.com/dealii/dealii/pull/11581

[2022-06-01 19:18] bangerth commented on #13837
That second hunk is in `FE_PolyTensor<dim, spacedim>::shape_value_component()`, which means that we do a matrix-vector product there anytime we ask for shape values. That's kind of expensive, but I guess that happens when you store the wrong basis :-)

What would be a better approach to the conundrum? Build the inverse matrix column by column running GMRES? Requiring LAPACK?

[2022-06-01 19:24] zjiaqi2018 opened #13890 "Warning in step-81"
Got this warning while building deal.ii master:
[code]
configuration:
[code]

[2022-06-01 19:43] zjiaqi2018 commented on #13890
Yes, the warnings are gone. I will open a PR. Thanks!

[2022-06-01 21:40] marcfehling commented on #13477
As only the quick tests are affected and the rest of the testsuite is fine, I would say it's safe to postpone this until the next release.

[2022-06-01 21:42] bangerth commented on #12689
What should we do here in view of the release coming? Can this be fixed within the next week?

[2022-06-01 22:43] #13509 closed

[2022-06-02 02:21] #13881 closed

[2022-06-02 06:48] richardschu commented on #12689
I planned to work on this finally after handing in my thesis - so, mid July. I did not look further into this issue since I did not need it for my own work though!

[2022-06-02 08:03] kronbichler commented on #6255
Is there anything more we plan to do on this topic before the release?

[2022-06-02 08:07] kronbichler commented on #13166
@drwells @bangerth has this been addressed by #13793 or is this still on our todo list for the release?

[2022-06-03 03:42] #13318 closed

[2022-06-03 03:42] #13822 closed

[2022-06-03 07:23] kronbichler commented on #12689
Let us move the milestone then, we need to live with the current behavior.

[2022-06-05 15:19] #12594 closed

[2022-06-06 03:04] tamiko opened #13910 "Fix compile warnings"
We still emit a (massive) number of warnings on certain configurations. Most notably:
 - [x] Two unused warnings with clang (various configurations): `Clang-8.0.1-master-autodetection ` [cdash](https://cdash.dealii.43-1.org/viewBuildError.php?type=1&buildid=2317) -> #13911
 - [x] Array bounds warnings with tets: `GNU-12.1.0-master-tets` [cdash](https://cdash.dealii.43-1.org/viewBuildError.php?type

[2022-06-06 11:21] peterrum commented on #13910
@NiklasWik Could you take a look at https://cdash.dealii.43-1.org/viewBuildError.php?type=1&buildid=2339, where there some warnings regarding `interpolate_generic_raviart_thomas` (1D).

[2022-06-08 00:29] tamiko opened #13926 "gcc-11/12: Bogus warnings emitted notifying about disabled misleading indentation warning"
This is highly annoying: Depending on the userland / configuration gcc will emit a warning as follows:
[code]

Unfortunately, our `DEAL_II_DISABLE_EXTRA_DIAGNOSTICS` pragma doesn't work due to an unresolved upstream bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81334

The only thing I can see to stop the warning is by setting `-Wno-misleading-indentation` globally :disappointed:

In reference

[2022-06-08 00:50] tamiko commented on #13926
This is hilarious, the preprocessed compilation unit corresponding to `grid_generator_pipe_junction.cc` contains a line with 130062 characters:
[code]

[2022-06-08 02:00] tjhei commented on #13926
Beautiful! But it does compile correctly?!

[2022-06-08 02:11] tamiko commented on #13926
It does compile. I am contemplating about adding a configure check (if I can get the compilation unit down in size - that is in number of lines, not columns :smiling_imp:)

[2022-06-08 07:23] luca-heltai commented on #13640
This maybe resolved similarly to #13927

[2022-06-08 14:52] drwells commented on #13926
The long line comes from `CGAL/Surface_mesh.h`. I think I know how to fix it.

[2022-06-08 15:38] tamiko commented on #13640
The issue with this deprecated header warning is that the include chain you're seeing `In file included ...` is for the chain how the macro got defined and not indicative for what header is actually including the deprecated header.

[2022-06-08 15:39] tamiko commented on #13640
I will now try to find what is responsible for the warning on Debian and Ubuntu.

[2022-06-09 01:23] tamiko opened #13942 "matrix_free/ecl_01: fails with different l2 norm"
In `matrix_free/ecl_01` currently fails on a number of configurations where a matrix-vector product is computed slightly differently (for one test vector). More precisely, configurations with avx512 pass the test while everything else (independent of avx2, sse, optimization level, compiler) fail with pretty much the same vector [1].

If this would be more random I would have just added an output v

[2022-06-09 01:23] tamiko commented on #13942
@kronbichler @peterrum *ping*

[2022-06-09 06:42] kronbichler commented on #13942
Yes, it is a bug. See https://github.com/dealii/dealii/issues/13703#issuecomment-1133978999 as an answer to https://github.com/dealii/dealii/issues/13703#issuecomment-1132564790. And regarding the question

I think this makes sense @peterrum.

[2022-06-09 09:43] kronbichler commented on #12102
Let us remove this from the current release milestone. It would be great to soon provide a fix, but I fear we won't manage to do it in the next few days.

[2022-06-09 14:40] nicola-giuliani opened #13948 "MappingFEField does not support hessian"
I have tried to use FEValues with a MappingFEField and the flag update_hessian triggers an assert. It appears the functionality is not yet implemented.

[2022-06-09 14:53] drwells commented on #13638
Related to #12247.

[2022-06-09 23:46] tamiko opened #13949 "Optimize compilation units and object libraries: investigate sizes, minimize includes, minimize compilation times, enforce DAG"
Having in investigated #13926 and the apparent #13932 teaches us a valuable lession: In this instance removing external library includes from our own header into a single compilation unit does speed up the compilation process by a factor of 20%.

In general, after the 9.4 release we should quantify how large our compilation units are (meaning the preprocessed CC file prior to compilation) for two

[2022-06-09 23:48] tamiko commented on #13949
Just as an example that this is possible for a (really) large scale project: The linux kernel is moving towards merging the "fast kernel headers" patchset: https://lwn.net/ml/linux-kernel/YdIfz+LMewetSaEB@gmail.com/

[2022-06-10 00:12] tamiko commented on #13926
@bangerth With #13932 we only need to compile a single compilation unit with `-Wno-misleading-indentation`, see #13950 :smiley:

[2022-06-10 08:57] #13926 closed

[2022-06-10 09:20] kronbichler commented on #13942
I am on this problem and hope to have a solution soon.

[2022-06-10 16:16] #13942 closed

[2022-06-10 17:52] drwells commented on #13166
This is fixed by #13903 and #13918.

[2022-06-10 17:52] #13166 closed

[2022-06-11 14:15] RichardYCJ opened #13957 "Some comments on the type constraint of `PreconditionRelaxation::step`"
Hi @peterrum ,

Got a few comments regarding to [your commit](https://github.com/dealii/dealii/commit/a56894899e0e89269758cfc246cf1a7a37e3e133) about preconditioner relaxation.

First of all, great appreciation for your job to add type constraints to `step` method for different preconditioner.

I notice that you use the template overload to check whether `MatrixType` has a `XXX_step` method and sk

[2022-06-11 15:58] peterrum commented on #13957
:) The goal of the PRs was to improve `PreconditionRelaxation` so that one can switch more easily preconditioners, just like in the Chebyshev case.

In #13958, I switched from `Assert` to `AsserThrow`. I played around with static asserts but they gave me some false positives. Does this solution work for you?

[2022-06-12 11:31] #13957 closed

[2022-06-12 11:47] RichardYCJ commented on #13957
I understand that if it is needed to supress the compile error while switching between preconditioners.

Though I still think to add type constraints and no overload to step is more expressive since we can do nothing about the preconditioner if MatrixType does not offer the step implementation. But this still needs thorough discussion in the community.

Using `AssertThrow` is more easily for devel

[2022-06-12 18:12] kronbichler commented on #2000
I think we should try to get some solution ready for the next release. With 6.5 years passed since the issue was opened, I think it is time to reconsider our options and reflect on what has currently been achieved:
- We have unified the hp capabilities into the standard `DoFHandler` structure.
- We have unified more of the multigrid capabilities, even though the index storage and access to `get_do

[2022-06-13 04:10] tamiko commented on #13522
It turns out that clang-5 was unhappy with `-std=c++17` but seems to work fine with `-std=c++14`. So - working enough :-D

[2022-06-13 04:10] #13522 closed

[2022-06-13 04:30] #13640 closed

[2022-06-13 04:30] tamiko commented on #13640
This seems to be resolved with the latest change.

[2022-06-13 04:38] tamiko commented on #13580
@kronbichler @bangerth I need a call on this issue regarding the release. :slightly_smiling_face:

[2022-06-13 05:32] kronbichler commented on #13910
I looked into the warning `Uninitialized warnings with avx2+: GNU-12.1.0-master-avx2-O3` [cdash](https://cdash.dealii.43-1.org/viewBuildError.php?type=1&buildid=2335) and if I understand things correctly, it warns because of the variable declared `_mm256_undefined_pd` in this code:
[code]
where the variable `undefined` is in turn coming from
[code]

In other words, gcc warns about its own definiti

[2022-06-13 07:15] tamiko opened #13965 "Assertion in AlignedVector<T>::Deleter::MPISharedMemDeleterAction::delete_arry with libc++"
When compiling against LLVM/Clangs libc++ we hit the following assertion on a number of tests [1]:
[code]

Such issues typically arise because libc++ is stricter with pointer validity and pointer equality in different compilation units. We should investigate this one for the release.
(For completeness: this test failure does not happen for clang with GNU's libstdc++, so it is a libc++ incompatibil

[2022-06-13 07:16] tamiko commented on #13965
@bangerth (as the one having edited that particular code last) any idea what might be going on?

[2022-06-13 07:21] tamiko opened #13966 "Missing explicit instantiations of dealii::NonMatching::internal::QuadratureGeneratorImplementation::pointwise_definiteness<1>"
As evidenced by the testsuite when using clang/libc++ [1]:
[code]

[1] https://cdash.dealii.43-1.org/test/14963056

[2022-06-13 08:04] simonsticko commented on #13966
I'm looking into this now.

[2022-06-13 16:30] #13966 closed

[2022-06-13 20:53] peterrum opened #13970 "Should `ParameterHandler::add_parameter()` execute the action?"
As pointed out by @mschreter, the following program has an odd behavior:
[code]
The function `ParameterHandler::add_parameter()` overrides the old value with a new values plus minus a small rounding error.

The problem is that the created action (which serializes the double to a string and than back o double)

https://github.com/dealii/dealii/blob/9c9671466f02f6eb4692eabd8f6a37880ed7f3bf/include/d

[2022-06-13 22:25] tamiko opened #13972 "Compatibility with Tpetra in Trilinos 13.4.0 / 13.2.0"
We currently deploy the following sanity check for Tpetra:
[code]
which leads to a linker error on my systems because none of the Tpetra types are instantiated for `GO = unsigned int`, but for `GO = long long`. Similarly, if Trilinos happens to be compiled with openmp support then everything is instantiated for `Kokkos::OpenMP` and not `Kokkos::Serial`.

In order to fix at least the second issue (

[2022-06-13 22:42] Rombur commented on #13972
By default Trilinos uses `long long` for `GO`, you can enable `unsigned int` or `unsigned long long` at configure time.

If you don't set the node, the backend  will be chosen in the following order, CUDA, OpenMP, and finally Serial. The new test should work as long as you don't compile with CUDA (or another GPU) backend. If CUDA is enabled, we need to make sure that we use the CXX compiler provid

[2022-06-13 22:44] tamiko commented on #13972
@Rombur The problem is that configuring with openmp does instantiate the backend for `Kokkos::OpenMP` and not `Kokkos::Serial`, meaning the test will fail.

[2022-06-13 23:00] Rombur commented on #13972
In Kokkos there is the backend `DefaultHostSpace` which is either OpenMP or Serial depending on how Kokkos was configured. Let me look if Tpetra has something similar

[2022-06-13 23:11] Rombur commented on #13972
You can see [here](https://github.com/trilinos/Trilinos/blob/81f76193e6e42796da076fe4bed906c647515ae2/packages/tpetra/classic/NodeAPI/Kokkos_DefaultNode.hpp#L71-L85) how it works. If you don't set the node, Tpetra just goes down the list of backend and then, it picks the first one that is enable which could be a GPU backend.

It looks like Tpetra does not expose `DefaultHostSpace` but I guess you

[2022-06-13 23:50] tamiko commented on #13972
ll, let me summarize my current understanding of the Tpetra change (either in version 13.2 or 13.4).

Tpetra has gained (compile time) support to choose a different global index type. During configure you will see something like this:
[code]
This implies that simply compiling Trilinos with instantiate Tpetra with `long long` (which is equivalent to `std::int64_t`), which does neither match our 32b

[2022-06-13 23:53] tamiko commented on #13972
Looking at some instances how we use Tpetra at the moment I think a possible fix could be to replace all instances of `Tpetra::Import<int, types::global_dof_index>` and similar uses by something like `Tpetra::Impor<int, types::tpetra_global_dof_index>` which will lead to a number of unsigned to signed integer casts.

[2022-06-14 00:41] Rombur commented on #13972
We do have support for Trilinos 13.2, I use it all the time.

So just a little of background, Trilinos 13.4 is the last 13.x version of Trilinos. The next version is Trilinos 14.0 and, last I heard, a _lot_ of code will be removed (the Epetra stack will probably be removed). The Tpetra interface will probably be changed too and so, the default template instantiation has been changed to get ready f

[2022-06-14 03:39] tamiko commented on #13972
Short update, the missing `Kokkos::Serial` instantiations is an easy fix, just make sure that `-DTpetra_INST_SERIAL=ON` is around unconditionally.

[2022-06-14 16:16] drwells commented on #13965
I think @bangerth might be on vacation. I can reproduce this on my mac - I'll see if I can make some progress towards understanding the failure.

[2022-06-14 18:56] tamiko commented on #13972
Reassigning to the 9.5 milestone.

[2022-06-14 22:27] #13965 closed

[2022-06-14 22:42] tamiko commented on #13580
I do not think that this fix will happen before the Thursday - I am reassigning to 9.5. We can simply cherry pick to the release branch next week.

[2022-06-15 09:37] kronbichler commented on #13580
I pushed a fix in #13976. It is a small adjustment and should be safe.

[2022-06-15 09:38] gfcas opened #13977 "block_info for hp enabled DoFHandler"
[code]
I recently noticed, that this is missing. Maybe a future project?!

[2022-06-15 09:39] kronbichler commented on #13580
That would be great.

[2022-06-15 10:22] NiklasWik commented on #13580
Already merged! #13907

[2022-06-15 10:43] kronbichler commented on #13580
But then me looking at the wrong place was not for vein, since I noticed this one:
https://github.com/dealii/dealii/blob/0ab370fc8a9a95efd51167a788df28a276d29d8b/include/deal.II/numerics/vector_tools_boundary.templates.h#L2652-L2654
and
https://github.com/dealii/dealii/blob/0ab370fc8a9a95efd51167a788df28a276d29d8b/include/deal.II/numerics/vector_tools_boundary.templates.h#L2600-L2602
further down

[2022-06-15 11:15] kronbichler commented on #13638
I would be fine with another output variant. We have a clear understanding of the problem. I guess everything else would be too much work at this stage.

[2022-06-15 13:12] drwells commented on #13977
Yes, this would be good to have!

[2022-06-15 13:45] #13580 closed

[2022-06-15 21:17] fdrmrc opened #13984 "Quadrature rules and `NonMatching` namespace"
Dear all,

we currently have the`NonMatching::QuadratureGenerator` class to generate high-order quadrature rules for different regions of a bounding box.

A "similar" function (as it should be used to assemble coupling terms on interfaces) has just been added to the `CGALWrappers` namespace, but its natural place would really be inside `NonMatching::`. The signature is the following

[code]

Also,

[2022-06-15 22:04] peterrum commented on #13984
@simonsticko @fdrmrc My take is that what you are doing quite similar: one with a level-set function, the other with overlapping of two grids (as far as I see at the moment only working in serial). Let's take https://epubs.siam.org/doi/epdf/10.1137/11085949X and https://link.springer.com/content/pdf/10.1007/s10915-017-0637-y.pdf, both solve very similar problems differently.

To make definite deci

[2022-06-16 00:16] fdrmrc commented on #13984
Thanks @peterrum .

Taking as a reference step-60, we'd like to have a version of `NonMatching::create_coupling_mass_matrix()` which computes exactly the integrals on polyhedra arising from intersections (In that case, the boolean operation is an intersection, but there are other situations we want to cover, that's the reason for the `boolean_operation` argument).

First we need to collect all Qua

[2022-06-16 07:04] luca-heltai commented on #13984
Just to clarify a bit more:  [ImmersedSurfaceQuadrature](https://www.dealii.org/current/doxygen/deal.II/classNonMatching_1_1ImmersedSurfaceQuadrature.html) takes a vector of points and weights (which is, incidentally, exactly what a `Quadrature` is). In the case where the immersed triangulation is of co-dimension 1, this is exactly the output of `compute_quadrature(cell0, cell1)`, where cell1 is t

[2022-06-16 08:05] simonsticko commented on #13984
I agree that
- `compute_quadrature_on_boolean_operation`
- `compute_quadrature_on_intersection`

fits better in `NonMatching`. I do **not** think that these functions must be in the same header as everything that is currently in `non_matching/quadrature_generator.h`. One would typically either use overlapping meshes or level set, not both at the same time.

Thus, I think it would make sense to add

[2022-06-16 15:26] #13638 closed

[2022-06-16 16:28] drwells opened #13996 "Add a 'documentation only' tag for the CI"
It would be nice if we could disable the test runners which actually compile and test things when we only change documentation.

[2022-06-16 16:31] drwells opened #13997 "Delete trailing whitespace in the changes.h file"
This is mildly annoying - we should modify the cmake script to delete trailing whitespace.

[2022-06-16 17:34] tamiko opened #14000 "Clean up external dependencies"
We currently have the following list of external dependencies:

 - DEAL_II_WITH_ADOLC
 - DEAL_II_WITH_ARBORX
 - DEAL_II_WITH_ARPACK
 - DEAL_II_WITH_ASSIMP
 - DEAL_II_WITH_BOOST
 - DEAL_II_WITH_CGAL
 - DEAL_II_WITH_CUDA
 - DEAL_II_WITH_GINKGO
 - DEAL_II_WITH_GMSH
 - DEAL_II_WITH_GSL
 - DEAL_II_WITH_HDF5
 - DEAL_II_WITH_KOKKOS
 - DEAL_II_WITH_LAPACK
 - DEAL_II_WITH_METIS
 - DEAL_II_WITH_MPI
 - DEAL_

[2022-06-16 18:05] drwells commented on #14000
One possibility would be to settle on a single sparse eigenvalue/eigenvector package: we have our own stuff (which should be deprecated), arpack, and slepc.

[2022-06-16 21:22] kronbichler commented on #13910
What do we want to do about the avx2 warning? I could work around it in a way that pleases gcc (by adding a suitable initial state and choosing the masked load), but I am not sure it will not regress on other compilers. In any case, this is a bug in the compiler in my opinion.

[2022-06-16 21:35] tamiko commented on #13910
@kronbichler I think we have to address the avx2 warning - because this compiler version might end up somewhere in Ubuntu or Debian and it is highly annoying. Would it be possible to make your workaround dependent on a preprocessor macro `DEAL_II_GCC_WITH_BOGUS_AVX_WARNINGS` or something like this and we only enable it if we encounter the warning? (or for precisely gcc-12)?

[2022-06-17 14:51] drwells opened #14004 "compilation failure with clang 13 and grid generator"
I am getting an internal clang error when compiling both master and the release candidate:

[code]
This is with clang-13 on Arch Linux. I'm investigating.

[2022-06-17 15:06] Rombur commented on #14004
I have seen this error before with `amdclang` but I could not reproduce it with plain clang. I wonder if it depends on how clang was compiled. I reported to the error to amd but never heard anything back.

[2022-06-17 19:43] kronbichler opened #14008 "FEEvaluation: Unify code for Jacobian gradient"
With #13990, we introduced a second variable for storing the plain Jacobian gradients, without the inverse Jacobians applied as a transformation as in the field https://github.com/dealii/dealii/blob/23cfb2bfcd7711e751a500ecfec8319c9300213a/include/deal.II/matrix_free/mapping_info_storage.h#L256-L261
It would be better to use the untransformed Jacobian gradient also for the Hessian, in order to red

[2022-06-17 22:03] tamiko commented on #14004
Also related to #13954.

@drwells Incidentally, I do not observe this with the latest clang-13 on the tester.

[2022-06-18 01:17] #14004 closed

[2022-06-21 07:02] kronbichler commented on #13910
What should we do about the warning left for gcc-12: https://cdash.dealii.43-1.org/viewBuildError.php?type=1&buildid=2832
The problem:
[code]
This is likely because we keep various static arrays and the compiler can't determine that we end up in the `if` case where we do not exceed the bounds. This is annoying. Any ideas?

[2022-06-21 07:07] peterrum commented on #13910
Cannot we convert those to constant expressions?

[2022-06-24 03:36] #13703 closed

[2022-06-24 03:36] #13910 closed

[2022-06-24 04:30] tamiko commented on #13574
@luca-heltai *ping* I gently request Mac packages :-)

[2022-06-24 04:30] tamiko commented on #13574
@tjhei *ping* I would like to ask you to regenerate the Virtualbox image :-)

[2022-06-24 04:31] tamiko commented on #13574
@drwells Would you mind updating the AUR package? :-)

[2022-06-24 05:03] tjhei commented on #13574
I can only start with the VM once the release is done.

[2022-06-24 05:03] tjhei commented on #13574
Wait, you tagged 9.4.0 already?! Yay!

[2022-06-24 12:19] #11222 closed

[2022-06-24 12:19] #12327 closed

[2022-06-24 12:19] #12340 closed

[2022-06-26 07:35] Hedilict opened #14053 "Sundials test fail."
Hi, everyone, I just have installed the deal.II-v9.3.3 using the proposed candi project. Most of the issues in installing it have been solved and the install sees fine. However, when I do a quick test, the module sundials just failed. In particular, I do a full test of the sundials, and the log is as follow:
[code]
I have check the error detailly,  it seems that there exists a typename error:
[cod

[2022-06-26 09:43] luca-heltai commented on #13574
During my intensive deal.II course, I managed to play a bit with an apple M1 mac, and got 95% of the packages working with spack. The only ones I did not manage were gmsh and oce. I will try to get access again to an M1 mac to build also an image for it. Later today I'll upload the Mac package for intel.

[2022-06-26 12:27] drwells commented on #14053
Thanks for reporting this. I suspect this bug has already been fixed by one of the many patches to SUNDIALS since 9.3. Could you give this another try with 9.4 once candi is updated to support it?

[2022-06-27 04:16] Hedilict commented on #14053
Ok, I will try the new version 9.4 later.

[2022-06-27 09:42] blaisb commented on #13574
Very very cool @luca-heltai ! Looking forward to that.

[2022-06-27 21:10] jppelteret opened #14065 "Configuration: Checking for parallel HDF5 fails"
The check for parallel HDF5 (version 1.10.7, built through spack) is failing for my configuration. Specifically, [this line](https://github.com/dealii/dealii/blob/master/cmake/configure/configure_50_hdf5.cmake#L28) seems to be the culprit. Maybe this flag is not present in all versions of HDF5?

Here is the relevant part of the configuration output:
[code]

I also attach two of the HDF5 configurat

[2022-06-27 21:16] tjhei commented on #14065
I am not sure if it is related, but I had an issue before where ``HDF5_IS_PARALLEL`` sometimes (rarely) seem to have the wrong value if you run cmake again in an existing build directory as if is is not cached correctly. When I start from a fresh directory it always worked.

[2022-06-28 14:50] gfcas opened #14069 "LA::d::Vector<double> for component wise reordered FESystem"
In a current application program I work with TrilinosWrappers::MPI::Vector. However in a subroutine I do a L2 projection of the gradient of the TrilinosWrappers::MPI::Vector. Therefore I looked into VectorTools::project and set up the mass matrix as MatrixFreeOperator. However, I need to transfer the TrilinosWrappers::MPI::Vector to a LinearAlgebra::distributed::Vector<double>. The problem is, tha

[2022-06-28 19:14] #12728 closed

[2022-06-29 06:47] kronbichler commented on #14069
The assumption of a contiguous index range for the locally owned dofs is to render certain operations more efficient.

Whichever way we put it, I think there will be some need for adaptations in the deal.II source code to support your case. Since you mention the desire to work on a block preconditioner later, would it be an option to fill a `LinearAlgebra::distributed::BlockVector` instead? In tha

[2022-06-29 07:54] gfcas commented on #14069
Many thanks for your suggestion! Yesterday evening I was thinking a lot on this problem and using a ``LinearAlgebra::distributed::BlockVector<double>`` was also my final thought. I will work on this as I need it for my own ``project_gradient`` function. I have also #12699 open. Should I do the major revision of ``VectorTools::project`` there or open different minor PRs for this.

[2022-06-29 18:04] tjhei commented on #14065
1. Is this with a clean build directory?
2. What is your cmake version?

It could be related to https://gitlab.kitware.com/cmake/cmake/-/issues/16257 https://gitlab.kitware.com/cmake/cmake/-/merge_requests/83

[2022-07-01 06:37] Hedilict commented on #14053
This issue has been solved in deal.II-v9.4.0. Thanks a lot!

[2022-07-03 15:37] drwells commented on #14053
Thanks for checking!

[2022-07-03 15:37] #14053 closed

[2022-07-03 15:40] drwells commented on #13574
If we ever do a 9.4.1 we should think about porting

- #14044
- #14087

[2022-07-04 20:49] tjhei opened #14095 "doxygen errors"
I am seeing the following doxygen errors/warnings:
[code]
It is not immediately clear to me where the offending code block is. I assume there is a pair of ``@{`` and ``@}`` that is incorrect, but where?

[2022-07-05 23:23] nlewycky commented on #3705
I'm a former clang developer and I pushed for this warning to be enabled by default. I'm going to comment the rationale on this closed issue mainly because I see other repos referring to this bug's description of this warning and the problem it prevents, and are basing their decisions on it.

You might or you might not.

Have you ever gotten into a situation where your template-using C++ code some

[2022-07-05 23:33] tamiko commented on #3705
@nlewycky Thanks a lot for the detailed information. We'll have a second look at the compiler warning and will discuss how to refactor our code appropriately.

[2022-07-06 01:32] tjhei commented on #3705
Fascinating.

Would this mean that we need to include the .inst files in our headers?

[2022-07-06 02:26] tamiko commented on #3705
We can certainly automate creating explicit `extern` instantiations header files from our `inst.in` files

But I am not sure this is a feasible approach.
Our explicit instantiations `inst.in` files expand to half a million lines of code:
[code]
and our header files under `./include` are about half the size:
[code]
So adding all of the explicit instantiations to our header files will blow up our he

[2022-07-06 02:34] tamiko commented on #3705
Reenabling the warning doesn't actually produce that much fallout:
https://gist.github.com/tamiko/57bad6bba0c2f92994cc7af816df0693

I think we can easily fix these warnings in the library. The bigger question will be how this will affect user projects (i.e. do we need an extern declaration for every possible use case?)

[2022-07-06 08:14] kronbichler opened #14098 "Performance of FEEvaluation::read_dof_values with masks"
In https://github.com/dealii/dealii/pull/14085#issuecomment-1173676299 I noted that the matrix-vector product sees a slowdown of about 2% (consistent in terms of the statistical distribution), see also this image:
![step-37](https://user-images.githubusercontent.com/8276200/177502913-f059d27b-28ee-421e-b68d-b1e09d303e02.png)
Look at the dark blue and red lines around commit with index 870 or so. F

[2022-07-06 12:31] peterrum opened #14100 "GridTools::compute_active_cell_halo_layer() not working for PBC"
While having a look at the implementation of `GridTools::compute_active_cell_halo_layer()`, I have noticed that they cannot work for periodicity, since they do not consider coinciding vertices here:

https://github.com/dealii/dealii/blob/0c0c4557472f13911a42b390c5597383c02a0f72/source/grid/grid_tools_dof_handlers.cc#L748-L751

They should however, as done here:

https://github.com/dealii/dealii/bl

[2022-07-07 08:06] kronbichler opened #14106 "Robustness of FEEvaluation's pre-compiled evaluation routines"
In https://github.com/exadg/exadg/issues/241, we discussed the following problem:
- The ExaDG code wants more polynomial degrees inside the FEEvaluation evaluators to be pre-compiled with high efficiency (polynomial degree and number of quadrature points are compile-time constants), so it compiles deal.II's file https://github.com/dealii/dealii/blob/master/include/deal.II/matrix_free/evaluation_te

[2022-07-08 09:56] kronbichler opened #14117 "BarycentricPolynomial::value() optimizations - get rid of `pow`"
We currently do this:
https://github.com/dealii/dealii/blob/5559d13c25867af27ebdbf7cd7832442dedac8d9/include/deal.II/base/polynomials_barycentric.h#L682-L690
Notice `std::pow`. Since the power is not known at compile time, the code steps into the very slow `pow` function. I believe there is some equivalent to Horner that applies powers by multiplication one at a time, probably also without unrolli

[2022-07-11 23:13] bangerth opened #14127 "compute_local_to_global_vertex_index_map does not wait for communication to finish"
This function starts communication via `MPI_Isend` and puts the requests into the `first_requests` object, but then never waits for these sends to complete. This is a potential data race.

[2022-07-11 23:26] bangerth commented on #14127
The same is true for the `second_requests` array, by the way.

[2022-07-12 15:01] blaisb opened #14129 "Warning when compiling TableHandler"
When compiling user code that uses the TableHandler, I get the following warning. I can't say what is the root cause of this issue.

[code]

[2022-07-14 13:08] fdrmrc opened #14133 "Is `point_inside()` failing with an hyper_ball?"
Dear all,

If I ask whether a vertex of a boundary cell of an `hyper_ball` is inside the cell itself, it turns out that some vertices are inside, while others aren't.
According to the documentation of [point_inside()](https://www.dealii.org/current/doxygen/deal.II/classCellAccessor.html#adb8a0465d3d7145513463b6a4a215fbc), the result should always be true, isn't it?

See also the output of the foll

[2022-07-14 21:04] bangerth commented on #14133
In principle yes, at least the documentation says so. In practice, it is a boundary point for these cells, and so round-off is a problem. It would probably be useful to extend the documentation to say that points that are within round-off of the boundary may or may not be considered inside the cell.

[2022-07-15 02:43] tjhei commented on #14129
What compiler is this? We should keep this in mind for 9.4.1.

[2022-07-16 08:01] #13574 closed

[2022-07-16 08:03] tamiko commented on #13639
@yuzibo Would you mind to have a look at the newly uploaded debian package for 9.4.0?

[2022-07-16 08:05] #13639 closed

[2022-07-16 08:10] yuzibo commented on #13639
Oh, It works!
Thanks all

[2022-07-16 13:04] tamiko commented on #13477
*mhm* I have no issues with the tbb quicktests on my machines (Gentoo and Debian).

[2022-07-16 16:28] drwells commented on #13477
This also works just fine for me under Arch with both MKL and the oneAPI TBB - does it still fail on ubuntu?

[2022-07-18 12:31] blaisb commented on #14129
@tjhei That's the full compiler info:
`COLLECT_GCC=g++
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-pc-linux-gnu/12.1.0/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: /build/gcc/src/gcc/configure --enable-languages=c,c++,ada,fortran,go,lto,objc,obj-c++ --enable-bootstrap --prefix=/usr --libdir=/usr/lib --libexecdir=/usr/lib --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=https

[2022-07-18 14:29] kronbichler commented on #14098
The fix in #14119 does improve things a bit, performance is now halfway between the regression of #14085 and the previous state.
![step-37](https://user-images.githubusercontent.com/8276200/179533132-134b0aea-bf6a-4dda-86e9-4b0be17b6291.png)

I think we should use this issue to collect some additional improvements in reading the values for continuous elements:
- The most obvious improvements is to

[2022-07-20 02:16] #13477 closed

[2022-07-20 02:27] bangerth commented on #14129
@blaisb: Can you try what happens when you replace
[code]
by
[code]
?

[2022-07-23 16:47] mathsen commented on #14065
Hello,

I just wanted to open an issue with exactly this problem, that I have since [this commit](https://github.com/dealii/dealii/commit/b20e6e8d118d8256f07b82b6fafd84516777f32e). I normally use spack (as @jppelteret in the issue description) to install dealii with all dependencies. Since the spack hdf5 is definitely compiled with MPI support I first assumed an issue with spack or cmake and simpl

[2022-07-23 17:00] tjhei commented on #14065
@tamiko Can you take a look?

[2022-07-23 23:23] tamiko commented on #14065
Fascinating. I'll have a look how to fix this.

[2022-07-24 00:18] bangerth commented on #14129
Yes please.

[2022-07-24 06:26] RichardYCJ commented on #14065
Hi, @tamiko @jppelteret. Here's an extra supplementary to @mathsen's found.

I've also encounter this problem while trying to install from `spack` with `hdf5@1.12.2`. **Downgrading to `hdf5@1.10.7` could avoid this problem.**

## One sentence conclusion
It turns out the `FIND_PACKAGE(HDF5)` command also invokes `FIND_PACKAGE` inside itself and the dealii defined same-name macro does not expect thi

[2022-07-24 19:44] #14095 closed

[2022-07-25 21:05] #14065 closed

[2022-07-27 23:06] bangerth opened #14163 "Tutorial graph is no longer working"
The graph at https://dealii.org/developer/doxygen/deal.II/Tutorial.html is no longer there. I *think* that it has to do with the new code gallery program, but I don't know for sure and I don't have the time this week figuring out what the cause is. Help would be appreciated.

[2022-07-28 12:40] jpthiele opened #14164 "AffineConstraints distribute_local_to_global not throwing errors using Trilinos Matrices"
I am currently working on parallelizing a tensor-product space-time code using Trilinos.
Without going into too much detail the structure of the matrix for 2 temporal elements basically looks like this
M+A , 0
-M    , M+A
where M is the mass matrix and A the discretized elliptic operator. Both are NxN matrices with N as the number of spatial DoFs.
The local matrix in the assembly has the same stru

[2022-07-28 18:40] jpthiele commented on #14164
I investigated further and there were indeed some missing entries in the sparsity pattern.
Now single core MPI runs work but after adding a second core distribute fails after assembly of the first element.
I checked the two local matrix index sets for the nonzero entries and the corresponding sparsity patterns.
All needed indices are in there so I have no idea why the call to distribute causes the

[2022-07-29 10:50] jpthiele commented on #13686
I also came across this recently. I'm not sure whether we can fix this in deal.II as either Mumps or Amesos keeps a pointer to the original matrix, so the change would have to be done there I suppose.
Also afaik a segfault cannot be caught from inside the program, so I guess it would be hard to catch.

[2022-07-29 19:34] #14163 closed

[2022-07-30 20:06] marcfehling opened #14169 "`VectorTools::project` not implemented for hp parallel"
`VectorTools::project` has not been implemented for hp-adaptive applications in parallel yet. The problem surfaces when using a `QCollection` object for the project function.

As a quick workaround I only use the highest order `Quadrature` in the collection.

I ran into this problem when porting `step-32` for hp-adaptive methods.

[2022-07-30 20:54] peterrum commented on #14169
My guess is that only

https://github.com/dealii/dealii/blob/b0114df040e3873837fa5ac149dafb05dc4dfabe/include/deal.II/numerics/vector_tools_project.templates.h#L797-L800

has to be adjusted.

[2022-07-31 18:16] marcfehling commented on #14169
Will try and also come up with a test.

[2022-07-31 21:49] marcfehling commented on #14169
In the `project_matrix_free` function, the number of FEs is specifically restricted to one, which is used for some more assertions and to build a quadrature rule. The rest of the code is written in a way that multiple FEs should be possible.

https://github.com/dealii/dealii/blob/b0114df040e3873837fa5ac149dafb05dc4dfabe/include/deal.II/numerics/vector_tools_project.templates.h#L182

Any idea if th

[2022-08-01 00:15] lucasmyers97 opened #14170 "Trilinos AD `declared to take const reference, but implicit declaration would take non-const` error during compilation of user program"
I'm trying to recompile some code of mine which uses deal.II on an HPC system. In it I have a small example file `simple_auto_diff.cpp` which uses the Sacado Fad functionality. However, when I try to compile that program it throws an error which I am not so sure how to parse. This doesn't happen on my local machine, so I'm somewhat confused (thought it might have something to do with the differenc

[2022-08-01 01:41] lucasmyers97 commented on #14170
For more info I tried to compile on my local machine with clang-13. It threw an error in the same place, though with slightly different specifics:

[code]

[2022-08-01 10:15] Rombur commented on #14170
By any chance are you using a different compiler than the one you used to compile deal.II? There is a problem with sacado and some compilers. When you configure deal.II, we detected if there is a problem with compiler (see [here](https://github.com/dealii/dealii/blob/a42bb0de5c7183c5c2b12fe68959c8973d1e336b/cmake/configure/configure_20_trilinos.cmake#L351-L359)) and modify the code accordingly. No

[2022-08-01 13:52] lucasmyers97 commented on #14170
Good Q: For the initial comment running on the cluster, I had both the GCC-10.2.0 and OpenMPI-4.0.4 modules loaded when compiling all three of Trilinos, deal.II, and my library giving the following results in the respective `CMakeCache.txt` files:
[code]
and
[code]
The corresponding section in the library that I have written is identical to the section in the deal.II CMakeCache.txt file. Could it

[2022-08-01 14:33] Rombur commented on #14170
I don't know if there is a problem with GCC 10.2 but it works for me with 9.4 I don't think that the problem is OpenMPI, this problem had nothing to do with MPI.

Depends on which compilers you are using but normally mixing gcc and clang is safe.

[2022-08-01 17:06] blaisb commented on #14129
@bangerth  sorry for the delay. I tried to emplace back and I get the same compilation warning (Which I do not fully understand to be honest).

[2022-08-02 14:14] jpthiele commented on #14164
After further investigation I found the following somehow odd behaviour:
- when using dealii::SparsityPattern in the SparseMatrix reinit with locally owned index sets and mpi_comm the diagonal only entries of the sparsity pattern are there in the original sp but not in the trilinos_sparsity_pattern() of the resulting matrix.
This then causes distribute_local_to_global to fail but somehow without t

[2022-08-04 22:22] drwells commented on #13949
clang now has an option `-ftime-trace` which prints fairly detailed profiling information for each compilation unit. I went through a dozen or so files and found a few easy things we can fix:
- remove `utilities.h` from `index_set.h`
- Move the Trilinos headers out of `utilities.h` and into something else
- remove `sparsity_tools.h` from `graph_coloring.h`
- remove `tria_base.h` from `dof_handler.

[2022-08-07 02:52] zjiaqi2018 opened #14176 "no normal flux normal vector issue with half_hyper_shell"
Got the following error when using `VectorTools::compute_no_normal_flux_constraints` to compute the no-normal-flux constraints on a triangulation created by `GridGenerator::half_hyper_shell(triangulation, Point<dim>(), 0.5, 1.)`
[code]

backtrace:
[code]
The normal vector is a zero vector, because it has two identical tangent vectors:
https://github.com/dealii/dealii/blob/f8d87ffe952726ec8e78249e3

[2022-08-08 08:13] RichardYCJ opened #14179 "cmake fail to set CXX_FLAGS correctly with independent external kokkos"
It seems that the cmake of dealii does not handle the compile/link flags correctly from independent external kokkos. I encountered the following errors while building with spack:

[code]
Detailed logs can be seen [here](https://github.com/dealii/dealii/files/9279986/spack-build-out.txt).

I noticed there're **two replicated march/mtune flags** and one **separated by semi-colon**, which is not reco

[2022-08-08 09:02] RichardYCJ commented on #14179
Besides, does `kokkos/arborx` need any extra configuration if built with cuda? I see from #12894 that part of `cuda::MatrixFree` is implemented using kokkos but the spack uses the default configuration without cuda aware.

[2022-08-08 13:07] masterleinad commented on #14179
At the moment, `ArborX` only uses the Host execution space and it's the only dependency using `Kokkos`. Thus, there is not much of a point configuring the `Kokkos` library used with `Cuda` support.
There are plans to let the CUDA implementation of the `MatrixFree` backend use `Kokkos`, also see #13549, but that pull request is very much work in progress.
As for the flags, there are some changes in

[2022-08-08 17:26] tjhei commented on #14176
@bangerth You are probably most familiar with ``compute_no_normal_flux_constraints``. Any suggestion on how to approach this?

[2022-08-08 18:13] RichardYCJ commented on #14179
Seems right for me to address this problem. Though I think to directly use the compile/link flag offerred by kokkos is more straightforward, since this is safer **in case the language is not CXX** (almost impossible, like build in an project with extra language support?)

Totally agreed! Migrate to modern cmake would make the code more clear and expressive, but the risk of refactoring is also big.

[2022-08-08 19:43] zjiaqi2018 commented on #14176
The cell vertices and p (the bottom cell in the figure)
x y z
v0 | 0 | 0.7071067812 | -0.7071067812
v1  | 0 | 0.3535533906 | -0.3535533906
v2  | 0 | -0.7071067812 | -0.7071067812
v3 | 0 | -0.3535533906 | -0.3535533906
p | 0 | 0 | -0.5

p, v1 and p, v3 are used to compute the tangent vectors, but I am not sure why they produce the same tangent vector.

![image](https://user-images.githubusercontent

[2022-08-09 03:19] zjiaqi2018 commented on #14176
@tjhei you are right, when we remove the spherical manifold from the flat boundary, the issue is fixed.

[2022-08-09 05:35] tjhei commented on #14176
I am glad that this is the issue. Can you open a PR to fix GridGenerator::half_hyper_shell?

[2022-08-09 05:38] zjiaqi2018 commented on #14176
Sure

[2022-08-11 18:48] tjhei commented on #14176
I thought about this some more and I have to admit that I am confused. The flat faces are all on a plane through the origin and it should not be a problem that we have a spherical manifold. Did you check how the refined mesh looks like with your changes? I am not sure if new vertices would now be introduced with a different distance from the origin compared to before.

[2022-08-11 18:53] tjhei commented on #14176
Does the issue disappear with an additional global refinement?

[2022-08-11 19:01] zjiaqi2018 commented on #14176
Yes, it disappears.

On Thu, Aug 11, 2022 at 14:53 Timo Heister ***@***.***> wrote:

--
************************************
Jiaqi Zhang, Postdoctoral Fellow
Mathematical and Statistical Sciences
Clemson University, Clemson, SC 29634-0975
https://zjiaqi2018.github.io/

[2022-08-11 20:47] zjiaqi2018 commented on #14176
We should keep the spherical manifold on the flat surface. Here is the comparison.
Right: no spherical manifold on the flat plane
![image](https://user-images.githubusercontent.com/36655731/184239092-fa6c1693-d68d-4823-812a-b6cd71e3652d.png)

[2022-08-11 22:07] tjhei commented on #14176
Yes, like i thought. Can you reduce the test case to a single call to normal_vector given the cell?

[2022-08-12 05:51] zjiaqi2018 commented on #14176
I think this is a very special case that will always give two parallel tangent vectors and will only occur on the coarsest mesh. The vertices we chose to compute the two tangent vectors at p(0,0,0.5) are v1(0, 0.3535533906, -0.3535533906) and v3( 0, -0.3535533906, -0.3535533906) because the angle v1pv2 is closest to pi/2. But p, v1, and v2 are all on the same sphere, leading to two parallel tangen

[2022-08-15 14:29] bangerth opened #14189 "Internal error in SolutionTransfer"
This is a shrunk version of a test case provided by M. Baensch on the mailing list a couple of days ago:
https://groups.google.com/g/dealii/c/us2AK80OjUU/
[code]

It fails with this assertion:
[code]

Unfortunately, I don't have the time to debug this now :-(

[2022-08-16 01:40] tjhei commented on #14189
I see two calls to  ``soltrans.prepare_for_coarsening_and_refinement``. That can't be right. But we should have a better error message. :-)

[2022-08-17 17:23] bangerth opened #14195 "Wrong generalized support points for FESystem(FE_Ndelec)"
As reported on the mailing list, this code:
[code]
produces this non-sensical output:
[code]

[2022-08-17 17:26] bangerth commented on #14195
Actually, the loop reads past the end of the array. We only have 12 generalized support points, and that is correct.

[2022-08-17 17:26] #14195 closed

[2022-08-17 20:32] #14189 closed

[2022-08-18 19:46] drwells commented on #13949
Another thing to check out is how expensive individual headers are. Here are the top 20 from parsing test output data:

[code]

[2022-08-21 07:32] tjhei commented on #14176
Can you create a minimal example that just contains a single call to normal_vector and post it here?

[2022-08-24 21:24] tamiko opened #14217 "Undefined references when linking with ld.lld"
[code]

[2022-08-24 22:20] tamiko commented on #14217
Setting `DEAL_II_LINKER_FLAGS="-Wl,--allow-shlib-undefined"` works around the issue. Ideally, however, we should fix all undefined references.

[2022-08-26 22:28] marcfehling commented on #13595
I've been working on this recently to create a coherent interface. I realize that the collection objects in the `hp` namespace can potentially contain more elements than `active_fe_index` allows us to address.

I would like to limit the size of at least the `FECollection` object. We can leave `QCollection` and `MappingCollection` etc untouched for now.

Do you think we should extend this limit on

[2022-08-28 04:43] zjiaqi2018 commented on #14176
Like this? @tjhei
https://github.com/dealii/dealii/compare/master...zjiaqi2018:dealii:manifold-normal-issue?expand=1
[code]

[2022-08-28 06:34] tjhei commented on #14176
Yeah. It can still be simplified a bit, but this is probably good enough.

@luca-heltai Do you have a suggestion for fixing this problem? See the last comment for a minimal test case that shows the crash.

[2022-08-29 12:53] masterleinad commented on #14179
Fixed by #14203.

[2022-08-29 12:53] #14179 closed

[2022-09-01 09:31] peterrum opened #14233 "`n_blocks()` and `block()` for non-block vectors"
To be able to write code that works both for block and for non-block vectors, function like `n_blocks()` and `block()` are helpful also for non-block vectors. Since non-block vectors do not have such functions, we have at multiple places template specialized free function of the form:

https://github.com/dealii/dealii/blob/af39fb6aac333127d1c3918d8aed892d63df0af4/include/deal.II/lac/solver_idr.h#L

[2022-09-08 03:23] peterrum opened #14247 "VectorizedArray Warning"
Using `GNU 9.4.0`, we get the following warning:

[code]

@kronbichler I guess we are setting the values not to zero intentionally?

FYI @mschreter

[2022-09-08 05:34] kronbichler commented on #14247
Yes, this is intentional, and it would indeed be very bad from a performance point of view if we had to initialize this field. What is the context in which a compiler would raise the warning, as I can't imagine (or don't hope) that it would always come up with the warning in regular code as we use it right now.

[2022-09-08 10:36] peterrum commented on #14247
OK, it helped to initialize the object by `0.0`, i.e., `VectorizedArray<double> a = 0.0;`, in user code. The warning is very cryptic but I don't know how to improve the situation.

@mschreter You had this problem also recently? Was that when you compiled deal.II or MeltPoolDG?

[2022-09-08 15:40] drwells commented on #14233
This is a tricky decision. Right now we have `IsBlockVector` - would we be able to get rid of all of those checks if we implemented `n_blocks()` etc. for non-block vectors? I'd prefer to avoid having multiple ways of writing code that works for blocks and non-blocks.

[2022-09-09 19:16] kronbichler commented on #14247
One should get a similar warning also for plain `double` variables, albeit in a different form (not complaining about the constructor, but about being potentially uninitialized).

[2022-09-12 17:50] peterrum opened #14260 "Implement `ReferenceCell::project_to_unit_cell()`"
See the comment in #14259:

https://github.com/dealii/dealii/blob/c3b9c68c4bc3d12e8184102f34ec466130867902/source/grid/grid_tools.cc#L6096-L6101

[2022-09-13 06:25] mschreter opened #14263 "Undefined behavior warning: `Triangulation::execute_refinement_isotropic/execute_coarsening`"
With GCC 12.1.1 I get the following warning

[code]
and

[code]
Could it be that an array access might be out of bounds in iteration 12? I quickly went through the code but unfortunately could not identify the issue. It might be related to https://github.com/dealii/dealii/pull/14221, so maybe @kronbichler you know immediately if it is relevant and what it might cause.

[2022-09-13 07:03] kronbichler commented on #14263
This should not actually be an out-of-bound access, because for all cell types we have `n_lines() <= 12`, hence there can never be a loop iteration 12. I don't know why the compiler won't see this: https://github.com/dealii/dealii/blob/ce01b6b551a06c3003d4a8edcea15134c46ced27/include/deal.II/grid/reference_cell.h#L989-L1008

Since I do not really feel like adding a separate statement `l < std::min

[2022-09-13 07:14] mschreter commented on #14263
Your guess is right: if we change the default value of `ReferenceCell::n_lines()` to 0, the warning is gone.

[2022-09-13 07:17] kronbichler commented on #14263
So do we want to proceed by letting the code return `0` in the undefined case, which is in fact unreachable for debug mode due to the `Assert` in the line above?

[2022-09-13 07:20] peterrum commented on #14263
I guess so.

But returning `numbers::invalid_unsigned_int` in the invalid case is what we normally do in deal.II. For instance in the same file, there are additional 14 instances of this usage...

[2022-09-14 23:02] bangerth commented on #14260
Can I suggest that we call this `project_to_reference_cell()`? The notation that is widely used in the FE community is "reference cell", and I have for decades regretted that we used "unit cell" instead.

[2022-09-16 02:11] Wayne901 opened #14274 "Triangulation distributed without p4est"
Hi dealii community,
I'm new to dealii and attracted by its comprehensive tutorials, but I have one question. Thats is can mesh be distributed in parallel computation without p4est framework? I came to this question when reading [step-40](https://www.dealii.org/current/doxygen/deal.II/step_40.html#:~:text=for%20this%20to%20be%20moderately%20simple%20to%20implement%2C%20each%20MPI%20processor%20had

[2022-09-16 12:36] drwells commented on #14274
It sounds like `parallel::fullydistributed::Triangulation` might be the data structure you want.

In general, yes, but fundamentally `p4est` works well with any mesh with a coarse grid of a few thousand cells which has been adaptively or uniformly refined - whether it comes from a cube or a mesh of some complex object isn't really relevant to `p4est` since it just manages topology.

If you still h

[2022-09-16 12:41] Wayne901 commented on #14274
Hi Wells.
Great to here p4est works for arbitrary quad/hex mesh. I'll post questions to mail the next time.
Thank you!

[2022-09-16 12:41] #14274 closed

[2022-09-17 18:59] mschreter opened #14275 "`DataOut::write_vtu_in_parallel`+ `DataOutBase::VtkFlags::write_higher_order_cells` + `dim==3`: distorted cells in Paraview"
While using `DataOut::write_vtu_in_parallel` (with #processes>1) together with `DataOutBase::VtkFlags::write_higher_order_cells=true`, `n_subdivisons>1` and `dim==3`, I obtain distorted cells in Paraview (v5.10.0), see right picture in the following figure. To me it looks like a numbering issue, but I am not sure. Does someone have a suspicion what might go wrong here or have similar problems? It

[2022-09-18 09:15] peterrum opened #14277 "`GridOutFlags::Vtk`: add flag to enable ascii output"
... motivated by the work on https://github.com/dealii/dealii/issues/14275.

[2022-09-18 14:11] kronbichler commented on #14263
How do we want to proceed here? I think it would be good to fix this warning in some way, as we generally strive for zero warnings when compiling deal.II with our main compilers.

[2022-09-18 14:12] kronbichler commented on #14247
Do we still want to keep this open? Is there anything we can do?

[2022-09-18 14:25] #14247 closed

[2022-09-18 14:27] peterrum commented on #14263
Let's go with the `0` solution for now.

[2022-09-18 15:13] mschreter commented on #14263
Shall I take this one over since I am using GCC 12.1.1?

[2022-09-18 15:15] mschreter commented on #14277
I've also thought about that during debugging!

[2022-09-18 15:22] kronbichler commented on #14263
That would be great, thank you @mschreter!

[2022-09-19 13:38] #14263 closed

[2022-09-19 14:56] #14275 closed

[2022-09-19 17:07] luca-heltai commented on #14176
From my understanding, it should be possible to fix this issue by adding before the incriminating assert something like:
[code]
I have not tested this yet. @zjiaqi2018, would you mind checking if this change solves the issue?
The idea is that the normal to the manifold at a point surrounded by some vertices can be computed in most occasions, unless, as in this very particular case, you pick the wr

[2022-09-21 14:13] #14176 closed

[2022-09-27 06:23] kronbichler commented on #13411
This issue has been addressed by a series of patches, namely #14311, #14115, #13951, #13884, #13873, #13872, #13869

[2022-09-27 06:23] #13411 closed

[2022-09-27 06:37] kronbichler commented on #14098
As a note to future work: Apart from the changes in #14314, there is a number of similar things to be fixed up in the `else` branch of the reads where we use scalar loads.

[2022-09-28 02:24] tamiko opened #14319 "Compilation failure on the tester when compiling with clang (cgal 5.2.2)"
I encounter the following compilation error on the tester for the last two weeks: [1, 2]
[code]

<s>This doesn't seem to happen with CGAL 5.5.</s>

@luca-heltai @jh66637 A wild guess that this is related to 41630d07d67adc1361e9d18d7b3368add10fda16

[1] https://cdash.dealii.org/viewBuildError.php?buildid=227
[2] https://github.com/dealii/dealii/blob/master/source/cgal/intersections.cc#L719

[2022-09-28 02:27] tamiko commented on #14319
Trying to reproduce...

[2022-09-28 02:52] tamiko commented on #14319
Ah, this is ill-formed: (introduced in 41630d07d67)
[code]

In this context the call to `std::pow` loses the constexpr and the final expression cannot be used as template argument. gcc seems to be incorrectly accepting it. See https://bugs.llvm.org/show_bug.cgi?id=41093 for a related discussion.

[2022-09-28 02:56] tamiko commented on #14319
Minimal reproducer:
[code]
gcc compiles this expression, clang correctly complains:
[code]

[2022-09-28 06:43] #14319 closed

[2022-09-28 16:03] tamiko opened #14322 "Compilation failure with CGAL <5.5 when compiling with clang"
I am not sure there is much we can do about this one. But compiling deal.II with clang against CGAL versions prior to 5.5 fails:
[code]

This is fixed in the newest version (5.5)

[2022-09-29 12:23] fdrmrc commented on #14322
Thanks for this check and the other patches. There's only one function triggering this (so far). It is `compute_intersection_of_cells()` and it requires versions >= 5.1.5.

https://github.com/dealii/dealii/blob/915ca70fa7c3c2cfa68b632aa162226145b1907f/source/cgal/intersections.cc#L467

In 9.5, we could directly require CGAL versions >= 5.5.x for this routine(s).

[2022-09-29 18:00] luca-heltai commented on #14322
If this does not compile with CGAL < 5.5, let's just update the requirement. This is not even in 9.4, so we can be very liberal in changing compatibilities....

[2022-09-30 18:50] #14322 closed

[2022-10-03 20:05] mwichro opened #14333 "MatrixFree with different quadratures for each row leads to an exception while FEEvaluation::evaluate"
Initializing MatrixFree:

  const std::vector<QGauss<1>> quads = {QGauss<1>(fe_degree + 1),
                                        QGauss<1>(fe_degree)};

  mf_data->reinit<QGauss<1>, double, MappingQ1<dim>>(
    mapping,
    {&dof_handler, &dof_handler_sec},
    {&constraints, &constraints},
    quads,
    additional_data);

Results in failure while calling FEEvaluation::evaluate if selectoed ro

[2022-10-03 20:22] peterrum commented on #14333
Have you added the right files? The output seem empty and where can I find the includes!?

[2022-10-03 20:25] mwichro commented on #14333
You are right, I uploaded the correct files now.

[2022-10-03 20:46] peterrum commented on #14333
This does not look correct.
[code]
write instead:
[code]

[2022-10-03 21:02] mwichro commented on #14333
Sorry, my fault, works.
It took me a good couple hours to narrow the problem to that point.

[2022-10-03 21:02] #14333 closed

[2022-10-05 12:36] jh66637 opened #14338 "Generalized interface to collect CGAL intersections"
I have been working with CGAL during the last weeks. During this time, I wrote a class that collects intersections between ```spacedim``` elements and ```spacedim-1``` elements on distributed triangulations. Currently, I have a class called ```ExactFaceIntersections``` for this purpose and I hand over the boundary_id on which ```spacedim-1``` elements are located and a ```marked_vertices``` functi

[2022-10-05 20:01] peterrum commented on #14338
@jh66637 Thanks for working on this topic!

Before digging into a user-friendly interface, let's discuss what the class actually does (in comparison to RPE).

To set up PRE, you give a list a points you want query some, e.g., solution, on a mesh. The points may come from the quadrature point of another mesh. The points are communicated and a communication is set up, which can be used in a second s

[2022-10-06 08:50] fdrmrc commented on #14338
Hi,

I'd like to share here what we did so far to assemble interface terms with different intrinsic dimensions in the context of immersed methods. Unfortunately I am not a `RPE` user, so this surely affects my considerations.

In order to get the collection of quadratures on intersections of two trias, we start from two cached ones and return a vector of tuples `v` where each tuple consists of thr

[2022-10-06 21:15] peterrum commented on #14338
@jh66637 Question what are you communicating during setup? I guess the intersections are never communicated but only the geometric entities that might cut?

[2022-10-07 01:51] jh66637 commented on #14338
@peterrum I am communicating all vertices of the cells or faces I want the intersections on (to the relevant ranks). After doing some work the vertices of the found intersection patches are sent back.

Regarding the interface I proposed in my last comment. I think it would be nice to be able to search 2D/2D intersections on 3D/3D triangulations. Proposed interface can't do that.

[2022-10-14 09:26] peterrum commented on #14338
Let me allow to shortly summarize the algorithm we talked about. For me a geometric entity is defined as a vector of vertices (2 points for a line, 3 points for a triangle, and 4 for a quad).

1) collect relevant geometric entities on master side and categorize them by processes that have - on the slave side - geometric entities that might cut them (a possible heuristic is using bounding boxes)
2)

[2022-10-14 11:17] jh66637 commented on #14338
Thanks for the reminder. Regarding the interface:
The core of the algorithm is the same, independent on the dimensions (only relying on vertices). The interface is realized by overloading multiple functions that call the core functions internally. I think this is a good solution :)

From my side, the Issue is resolved. I know what to do and will push a first attempt soon.

[2022-10-18 02:31] codeplayerpk opened #14358 "dealii&openfoam:when i use Gmsh to generate .msh file, Number of coupling nodes: 0"
Hi,guys,when i used Gmeh to generate .msh file, something is wrong here. console message: Number of coupling nodes: 0, I dont know how to do .
when i use openfoam&dealii to simulate FSI case
Grid:
Reference volume: 0.5
Triangulation:
Number of active cells: 32
Polynomial degree: 4
Number of degrees of freedom: 7,803
Setting up quadrature point data…
Output written to solution-000.vtk

 Number of c

[2022-10-18 02:37] codeplayerpk commented on #14358
[Grid:
Reference volume: 0.5
Triangulation:
Number of active cells: 32
Polynomial degree: 4
Number of degrees of freedom: 7,803
Setting up quadrature point data…
Output written to solution-000.vtk

Number of coupling nodes: 0

—[precice] Setting up master communication to coupling partner/s](url)

[2022-10-18 13:26] jh66637 opened #14359 "CGAL intersection bug"
@fdrmrc  While introducing a tolerance for intersections (https://github.com/dealii/dealii/pull/14353), I might have found a bug. Maby this is a CGAL bug (I am using version 5.5).

I am trying to find the intersection between a line and a rectangular cell. While there is no chance in finding the intersection without rounding the vertex locations, I already used the tolerance from https://github.co

[2022-10-18 17:04] fdrmrc commented on #14359
The problem is that the skeleton of the 2d cell is as in picture. `vertex(2)` and `vertex(3)` for `tria0` are swapped. If you swap them, the intersection is correctly found.

![johannes_issue](https://user-images.githubusercontent.com/50499769/196496897-3eb1ad01-5e87-489d-b162-5dc87d4cecab.png)

[2022-10-18 17:25] fdrmrc commented on #14359
You're welcome! Sure, keep me posted.

[2022-10-19 18:31] jpthiele opened #14363 "Missing cmake policy CMP0074 for use of -DBOOST_DIR"
When specifying -D BOOST_DIR in the cmake configure stage this is ignored and only and export of BOOST_DIR works at the moment.

Internally FindBOOST.cmake sets BOOST_ROOT but as policy CMP0074 is not set to NEW this is ignored in the call(s) of find_package().

So I suppose this policy should be set unless there are good reasons not to set it?

[2022-10-19 19:04] drwells commented on #14358
It looks like you are using precice - while a couple of people here also use precice I don't think that any of us are going to be able to answer this question. In particular, deal.II itself does not have any notion of a 'coupling node' so we cannot address that problem from this side.

Can you instead post your question to precice's mailing list (or whatever equivalent help channel they provide)?

[2022-10-20 05:43] jh66637 commented on #14359
The problem I had was that I used the vertex version of ```compute_intersection_of_cells()```. This triggered the function definition in the header instead of an explicit instantiation. I couldn't see the assert of the header function definition because I aborted the program before. When trying to reproduce, I used the iterator version of the same function and forgot that the vertices I obtained b

[2022-10-22 14:31] tjhei opened #14368 "Epetra, Tpetra, and MueLu"
We currently have separate Trilinos wrappers for Epetra and Tpetra linear algebra, but Trilinos is clearly moving away from the older Epetra.

In fact, MueLu in Trilinos 13.2 only supports Tpetra (if Tpetra is enabled), so our MueLu wrapper that uses Epetra does not work. Sadly, disabling Tpetra inside Trilinos 13.2 is not possible (I am hitting Kokkos-related compile errors). See https://github.c

[2022-10-23 00:18] Rombur commented on #14368
If you do 2, you will break people's code because the options in ML and MueLu are different. They used to try to map some of the ML options to the MueLu options but I don't know if they still do that and it was only for a subset of options. It's probably fine for the majority if users but it's something to keep in mind.

[2022-10-23 19:56] blaisb commented on #14368
Sorry for the dumb question, but what are the ramifications of this?
Do the Vectors / BlockVectors behave identically? In this case, the only transition would be in the setup of the preconditioners, or is there more to it?
I think before we make this transition, we should make sure we support the same kind of control of the preconditioners and the linear solver for Tpetra than we do for Epetra. Ot

[2022-10-23 20:48] bangerth commented on #14368
Is it an option to just deprecate our ML wrappers and drop them as part of the conversion? ML is for all practical purposes replaced by MueLu, and I'd be ok with just requiring people to use the latter. The question is more what we should do with the Trilinos solvers (AztecOO) and preconditioners (Ifpack), and if there are equivalent classes and functions we can call from our wrappers.

My prefere

[2022-10-23 20:52] bangerth opened #14372 "Question about cmake Tpetra detection"
We have the following piece of code: https://github.com/dealii/dealii/blob/master/cmake/configure/configure_20_trilinos.cmake#L230-L254 Specifically, we have this code snippet we want to compile:
[code]
It is, interestingly, allowed to *redeclare* the same type via `using`, but only if the right hand side is the same. It is *not* allowed to declare it to a different type. In other words, compiling

[2022-10-24 00:04] Rombur commented on #14368
@blaisb The biggest problem is the move from ML to MueLu (mainly because some options have disappeared and others have been renamed). Everything else should be identical or only very slightly different. Would I expect the Tpetra stack to be faster than the Epetra stack? Not really but because all the new development is done in Tpetra you can have access to more modern algorithms, which may be usef

[2022-10-24 00:06] blaisb commented on #14368
@Rombur Personnaly I am cool with it. As long as the changes is well documented? Maybe ping me when you open the branch? I'd be glad to test it in Lethe. We use a lot of the advanced parameter for the ML preconditioner, the rest is pretty standard...

I would be glad to be a tester!

[2022-10-24 12:31] Francyrad opened #14373 "Impossible to build dealii (Trilinos problem) on Macbook pro with M1Pro"
Dear developers,

I was trying to install dealii as described in the guide for m1pro. However, I encounter an error during the installation as the Candi fails to install trilinos as it lacks support for arm64.

I report below the error, I hope you can help me solve the problem.

Thanks in advance
Francis

[ 70%] Linking CXX shared library libstratimikosamesos2.dylib
Undefined symbols for architect

[2022-10-24 14:43] gassmoeller commented on #14368
I am open to testing this within ASPECT as well. Feel free to go ahead @tjhei and make the changes.

[2022-10-24 16:26] drwells commented on #14373
I like the name dealinos.

How did you configure Trilinos? If you can, it would help if you could post this to the deal.II mailing list too - while there are a lot of "dealinos" users here there are more there.

[2022-10-24 16:35] drwells commented on #14358
This is really a precice question so, unless there is a deal.II issue to address, lets close this.

[2022-10-24 16:35] #14358 closed

[2022-10-24 16:36] drwells commented on #14372
Possibly related to #13972.

[2022-10-24 16:47] Francyrad commented on #14373
Sorry for the wrong name, i just absorbed by confusion (lol).

I didn't configure anything honestly. I just followed the guide for M1, which doesn't say to install prerequisites except for clang, or i'm getting something wrong? I just installed hdf5 for other reasons, but i didn't installed trilnos or others...

If i have to install trillnos for arm64 prior to install dealii for M1, i'll find a wa

[2022-10-24 18:42] jpthiele commented on #14373
Are you building Trilinos by hand with cmake or are you using a seperate build manager like candi?
If you are using cmake I can heartily recommend to use the OS-independent calls i.e.
cmake -S. -Bbuild <further specifications for Trilinos>
cmake --build build

This will tell cmake that the config Source dir ss . (current dir) and the Build dir is build

[2022-10-24 18:56] jpthiele commented on #14373
I am not sure whether candi actually supports ARM processors and it seems to me like it wants to use some linker flag that is not supported for arm64 but somehow set somewhere.
On the other hand there have been some problems with Trilinos major version 13, so it might be worth it to try and change that in the candi.cfg
So comment out TRILINOS_MAJOR_VERSION=AUTO
and comment in TRILINOS_MAJOR_VERSIO

[2022-10-24 19:34] Francyrad commented on #14373
It didn't work. My question is: why candi is indicated to install dealii in amr64 if it cannot support arm64?

[ 77%] Linking CXX shared library libstratimikosbelos.dylib
ld: warning: direct access in function 'Thyra::BelosLinearOpWithSolve<float>& Teuchos::dyn_cast<Thyra::BelosLinearOpWithSolve<float>, Thyra::LinearOpWithSolveBase<float> >(Thyra::LinearOpWithSolveBase<float>&)' from file 'CMakeFi

[2022-10-24 19:47] jpthiele commented on #14373
candi has no other Option since the processor installed on M1 Macs is ARM based and not x86_64 so candi tries it's best to find out your system and what flags it needs. Seems to me like something is missing or broken somewhere.
Sadly I am not aware that any of the candi maintainers would have access to an M1 Mac to try and fix this easily.
However the problem only seems to occur in Stratimikos whi

[2022-10-24 20:05] Francyrad commented on #14373
Now it says, even if i disable version 13:

[ 69%] Linking CXX shared library libstratimikosbelos.dylib
Undefined symbols for architecture arm64:
  "Amesos2::TachoSolver<Tpetra::CrsMatrix<float, int, long long, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::HostSpace> >, Tpetra::MultiVector<float, int, long long, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::Host

[2022-10-25 02:20] tjhei commented on #14373
@Francyrad Take a look at the M1 instructions at https://github.com/dealii/dealii/wiki/Apple-ARM-M1-OSX if you haven't. I was able to compile using candi using those instructions.

What compiler version are you using (``mpicxx -v``)?

While we have initial reports that deal.II is working on arm64, none of the developers actively uses an arm machine.

[2022-10-25 05:45] Francyrad commented on #14373
It says:

 mpicxx -v
Apple clang version 13.1.6 (clang-1316.0.21.2.5)
Target: arm64-apple-darwin21.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

I can borrow you my arm64 machine via remote session if needed. I really need Dealii to run an important program for me

[2022-10-25 12:14] jpthiele commented on #14368
As for performance and restructuring the Trilinos developers stated the following at the european Trilinos user group meeting (EuroTUG) this year.
- Just doing a one-to-one switch from Epetra to Tpetra with sequential Kokkos is relatively straightforward and
  a good way to start as Epetra is not maintained anymore and all new functionality is introduced only to the Tpetra stack
- Doing that the p

[2022-10-25 13:32] jpthiele commented on #14363
Addendum: Boost is not the only library with this problem.
LAPACK_DIR for pointing to the MKL for example is also ignored

For anyone having this error on older deal.II versions the fix is to add
-D CMAKE_POLICY_DEFAULT_CMP0074:STRING=NEW to the (first) cmake call for deal.II

This would possibly also be a fix for proper behaviour in candi @tjhei

[2022-10-25 17:42] tjhei commented on #14368
I didn't realize that we are still missing a wrapper for ``Tpetra::CrsMatrix``, https://docs.trilinos.org/latest-release/packages/tpetra/doc/html/classTpetra_1_1CrsMatrix.html, so this whole process will be more complicated than expected. @zjiaqi2018

[2022-10-25 17:48] kronbichler commented on #14368
I support this change. When working on the `Tpetra::CrsMatrix` interface, I suggest to make the variant with a separate object for the non-local part the default choice; we have this in the `TrilinosWrappers::SparseMatrix` (wrapper around Epetra) as one code path. Even though newer versions of Tpetra do support the non-local indices, I do not think this is the recommended way of using the interfac

[2022-10-25 18:26] jpthiele opened #14375 "Missing library name(s) for IntelMKL in FindSCALAPACK"
I am currently working on installing deal.II with our pre-installed IntelMKL.
For BLAS and LAPACK deal.II finds the MKL and is happy.
I am not completely sure what to set in that file but at least MUMPS is happy with it.

[2022-10-25 19:19] mayrmt commented on #14368
@jpthiele wrote:

a good way to start as Epetra is not maintained anymore and all new functionality is introduced only to the Tpetra stack

Yes, that's the key message.

[2022-10-25 19:33] mayrmt commented on #14368
I have opened #12774 a while ago, when I realized that deal.ii cannot be build with Tpetra only. I look into this fora bit and it became apparent, that many Tpetra wrappers are still missing. So, yes, quite some work to do.

[2022-10-25 20:06] blaisb commented on #14373
Dear @Francyrad , we have managed to compiled deal.II and Lethe (our code which depends on Deal.II, Trilinos and P4est among others) on apple M1 and apple M2 under two differents machines.
The instructions are all there in our documentation:
https://lethe-cfd.github.io/lethe/installation/apple_arm.html

[2022-10-25 20:33] Francyrad commented on #14373
dear @blaisb, i followed the instructions as the guide says. However i still got the same error: i cannot install trilnos.
I attach you a .txt file with the whole compilation, i hope it can be of help...
[candi_error.txt](https://github.com/dealii/dealii/files/9863856/candi_error.txt)

[2022-10-25 22:37] jpthiele commented on #8219
Just found this and I wholeheartedly support this. I just went through all current steps and here's the list which still has rainbow/jet plots. Also @bangerth it would be good to know where to "publish" these images so they end up at the right place.
Also which colorbar was used for the already changed ones, so it's consistent?
(Even though personally I'd prefer viridis or cividis)
- [ ] step-4
-

[2022-10-25 22:39] jpthiele commented on #8219
Cividis is a color vision deficiency optimized version of viridis as described here:
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0199239

I'm not sure whether doxygen would support this but if it does maybe there could be a switch between different colorscales, i.e. viridis, cividis and bw maybe.

[2022-10-26 14:29] tjhei commented on #14373
This is not really a deal.II issue, but an issue related to candi. I opened https://github.com/dealii/candi/issues/309 to track it. I will close the issue here. Feel free to comment in the candi issue.

I will investigate in the next few days and report back.

[2022-10-26 14:29] #14373 closed

[2022-10-29 04:35] ztdepztdep opened #14379 "grid_in unv file error"
`terminate called after throwing an instance of 'dealii::StandardExceptions::ExcIO'
  what():
--------------------------------------------------------
An error occurred in line <864> of file </home/ztdep/Downloads/dealii-9.4.0/source/grid/grid_in.cc> in function
    void dealii::GridIn<dim, spacedim>::read_unv(std::istream&) [with int dim = 2; int spacedim = 2; std::istream = std::basic_istream<ch

[2022-10-29 18:12] drwells commented on #14379
Thanks for the report - the precise problem with that input file is that the boundary ids are set to `L`, `R`, `B`, and `T`, whereas we require integer values.

[2022-10-31 08:08] ztdepztdep opened #14382 "Does dealii support 1D problem."
I want to develop a code for the DNS of turbulent flow in a channel based on dealii package. The channel has two periodic directions which can be treated with fft and the wall-normal direction need te be resolved with the dealii package.
So does dealii support the 1D problems.

[2022-10-31 12:46] blaisb commented on #14382
Dear @ztdepztdep, those questions are more adequate on the deal.II google group since they do not constitute issues per se.
https://groups.google.com/g/dealii

However, to answer your question, deal.II supports 1D, 2D and 3D elements.

[2022-10-31 12:57] drwells commented on #14382
Indeed, this is more suitable for the mailing list - lets continue the discussion there.

[2022-10-31 12:57] #14382 closed

[2022-10-31 18:49] #14379 closed

[2022-10-31 20:43] GrahamBenHarper commented on #14368
Just a side note: I talked with @cgcgcg, and while the automated ML to MueLu conversion doesn't convert 100% of the options, it covers everything that we know is being used.

[2022-11-02 11:12] kronbichler commented on #9544
In #14385 we noticed that the cases where we need special treatments, to be addressed by this PR, just keep increasing. I think we should aim for this effort before the next release.

[2022-11-03 03:40] sdomingue opened #14390 "A tutorial on an eigensolver for linear elasticity"
I was wondering if it would be of interest to the audience to have another eigenvalue solver as part of the tutorials. So far, there is only one, step-36. I have been working with eigenproblems for linear elasticity for some time now and I would gladly create a tutorial on this if it is of interest. I'd plan the tutorial to work in parallel with the use of SLEPc.

[2022-11-04 21:30] bangerth commented on #14390
The tutorials are meant as a place where we introduce *new* material, not show the application of already discussed material to a new problem. So the question would be "what is new in the tutorial you propose".

But regardless, the place where what you suggest would definitely fit is the code gallery: https://dealii.org/code-gallery.html We'd be excited to have your program there! I think it would

[2022-11-05 21:36] Rombur commented on #12102
In #14014, we said that the problem I reported here is fixed but we have only partially fix it. The problem appears if you use a different quadrature for `FE_Nothing` than for the `FE_Q`. For some faces you hit a bug in the code below

https://github.com/dealii/dealii/blob/1c182b617df9171bee39aae0ef9c456713a6332a/include/deal.II/matrix_free/mapping_info.templates.h#L1880-L1883

because `n_q_points

[2022-11-08 13:03] ztdepztdep opened #14399 "compile error when i enable the p4est ."
When enabling the p4est, the cmake configure gives me the following error. if i turn the p4est off, everything is ok . Could you pleae give me some sugesstions.

Performing Test DEAL_II_HAVE_USABLE_FLAGS_RELEASE - Failed
CMake Error at cmake/setup_finalize.cmake:137 (MESSAGE):
      Configuration error: Cannot compile a test program with the final set of
    compiler and linker flags:
      CXX fl

[2022-11-08 14:17] tjhei opened #14400 "MGTranferMatrixFree custom constraints optimization"
We are calling ``AffineConstraints::distribute()`` when we have custom constraints in MGTransferMatrixFree here:
https://github.com/dealii/dealii/blob/182084be79f1342d4b96bca900cc2a069bb0a6b8/source/multigrid/mg_transfer_matrix_free.cc#L435-L436

``AffineConstraints`` creates a temporary vector with ghost indices to do the ``distribute()`` operation, which in turn runs the ``ConsensusAlgorithm`` (

[2022-11-08 15:38] drwells commented on #14399
This is much more likely to be an issue with the way these libraries were installed than an issue with deal.II itself - can you post this message as well as `CMakeFiles/CMakeError.txt` and `CMakeFiles/CMakeOutput.txt` to the mailing list instead? Thanks!

[2022-11-08 22:06] bangerth opened #14403 "Remove VtuStream class, make write_vtu_main multi-tasked"
#14402 is my first step in refactoring an odd class that I don't think was a good idea: `VtuStream`. It has a somewhat funny data model in that it passes some data right onto an underlying `std::ostream` whereas other things are passed to it via `operator<<` but cached and only written into the underlying stream when one `flush`es this kind of data. I don't think that there is much value in this c

[2022-11-09 11:25] ztdepztdep commented on #14399
[CMakeError.log](https://github.com/dealii/dealii/files/9969785/CMakeError.log)
[CMakeOutput.log](https://github.com/dealii/dealii/files/9969786/CMakeOutput.log)

[2022-11-09 11:47] gassmoeller opened #14405 "Potential deadlock in ConsensusAlgorithm::NBX on some systems"
I think I finally found the place of the deadlock in ConsensusAlgorithm::NBX I was hunting for in geodynamics/aspect#4984 (and dealii/dealii#14391). It may or may not be specific to our cluster so I send a bug report to our support team, but I wanted to ask if someone else has seen the same behavior. I have written up a lengthy description [here](https://support.rc.ufl.edu/show_bug.cgi?id=55770).

[2022-11-10 00:47] bangerth commented on #14405
As discussed this morning in the ASPECT dev meeting, neither of these workarounds work in general: The algorithm is specifically designed to deal with the situation where we don't know which other processes we will get messages from (or even how many other processes); and (many years ago) I've had a similar bug where after many many communicator duplications, MPI conked out and wouldn't create mor

[2022-11-10 16:16] gassmoeller commented on #14405
Yes, I hadnt thought of that. Here it comes (Hipergator is of course the name of the cluster):

I am investigating an MPI deadlock in our main software package ASPECT that seems to be Hipergator specific. We have tracked the issue down to a communication algorithm in the underlying library deal.II (which we compiled on Hipergator). We have verified that the issue does not appear on our local works

[2022-11-10 16:19] gassmoeller commented on #14405
I have also two more pieces of information:

- Running on only 2 ranks instead of 128 (full node) does not trigger the bug.
- I have compiled my own versions of openmpi/4.1.4 on the cluster, one version with default configuration (no additional external libraries), one version with the same configuration as our current mpi module (linking to external slurm, pmix, libevent, hwloc). The bug disappea

[2022-11-10 17:17] bangerth commented on #14405
This definitely looks like a buffer overflow inside MPI to me. Report it to the OpenMPI team. Possibly related issue: https://github.com/open-mpi/ompi/issues/174.

Since you suspect that the infiniband is the problem, you might want to set environment variables to select which network to use. This way you might be able to pinpoint the issue. I would try to narrow down the exact number of iteration

[2022-11-10 17:19] bangerth commented on #14405
That removes the lower half of main(), so the only thing that remains is the part that uses the blocking probe (above the lines you suggest), and that one worked for me. I'm assuming you meant for me to keep the part that says "Using IProbe in same communicator:", and that part then results in the following:
[code]

[2022-11-11 08:27] zhiweizong opened #14412 "Warning when compiling with adaptive mesh refinement with triangles"
When compiling with adaptive mesh refinement with triangles in FESubfaceValues<dim>::reinit (cell,face_no,subface), I get the following warning. The same problem arises when I replace quadrilateral by triangles in step-6. The triangles I use are created by Gmsh.

--------------------------------------------------------
An error occurred in line <1667> of file </build/deal.ii-GDzU95/deal.ii-9.4.0/s

[2022-11-11 15:12] bangerth commented on #14412
This is one of the reasons why support for triangles is still experimental. Can you create a small testcase that illustrates how you get this error?

[2022-11-11 16:52] zhiweizong commented on #14412
Thank you for your reply, professor. I create a simple testcase as shown below. The purpose of doing this is for assembling a DG operator for integrating over the "sub-faces" .  The problem I want to solve is a neutron transport equation which is similar to step-28.

----------------------------------------------------------------------------------------------------------
#include <deal.II/dofs/do

[2022-11-15 20:26] marcfehling opened #14426 "Unify interfaces of data structures for Trilinos/Petsc/Deal"
Related to #4011.

The ways how to initialize and handle data structures differ between our in-house classes and the wrappers to the external libraries. This makes writing code with `VectorType` or `MatrixType` templates difficult.

Some parts of the interface are similar (as demonstrated in `step-40`), but the code base has grown and we should pay more attention to keep a uniform interface (of co

[2022-11-15 21:46] drwells commented on #14426
Relatedly, it would be nice if we could deprecate the serial ctors and reinit functions for the PETSc and Trilinos data structures - the ones taking `IndexSet`s work in both circumstances and I think its unusual for someone to want to use these purely in serial.

[2022-11-15 22:20] blaisb opened #14430 "Ghost particles are not generated across periodic boundaries"
Dear all,
The ParticleHandler has the capability to generate ghost particles in cells which are ghost for other subdomains. This is achieved by identifying if a cell has neighbouring cells that belong to another subdomain. When this is the case, the exchange_ghost() routine of the particle_handler sends the necessary information to generate the ghost on the other side.

To identify if a cell is a