[2020-03-29 13:27] kronbichler commented on #9757
I have a solution. It was the cell similarity, giving a broken reference result with `MappingFEField`. I am working on a test right now.

[2020-03-29 13:29] masterleinad commented on #9768
Yes, I accidentally also deleted the (deprecated) call to `set_debug` here already. I will fix this in one way or the other likely today.

[2020-03-29 16:07] #9762 closed

[2020-03-29 17:39] #8974 closed

[2020-03-29 22:41] Rombur commented on #7191
Your test case doesn't show that the diffusion is not working. If you want to use nonzero boundary condition, you need to change the code.

[2020-03-30 04:23] tyszwh opened #9774 "spack install dealii build error (due to gmsh and sundials)"
Hi,
I try to install Dealii by " Spack install Dealii".But some problems arising.
1 The GMSH can not be built correctly untile the Oce package has been removed(~Oce).
2 The sundials-3.2.1 build failed with the error message as follows.
[spack-build-out.txt](https://github.com/dealii/dealii/files/4400762/spack-build-out.txt)

Is the new version of sundials still not be supported?

[2020-03-30 05:15] #9757 closed

[2020-03-30 13:06] masterleinad commented on #9774
What kind of error do you get when building `gmsh` and `Oce`?

Yes, so far no one has spent the effort to rewrite the sundials interface to also support newer versions. See https://github.com/dealii/dealii/issues/7597.

[2020-03-30 13:55] tyszwh commented on #9774
The error message from gmsh+oce
[spack-build-out.txt](https://github.com/dealii/dealii/files/4403234/spack-build-out.txt)

So, I need to add the "~sundials"  or change the package.py file for now when I use "spack install dealii". Is it right?

[2020-03-30 19:11] #9768 closed

[2020-03-30 20:41] jppelteret commented on #9774
Hmm... I'm surprised about this, because I've recently managed to build deal.II through Spack on both Linux and OSX with almost all the bells and whistles, and I didn't run into these problems.

I don't know what the problem with GMSH+OCE could be, but you could just specify `spack install dealii ^gmsh~oce` to at least remove that dependence (if you don't need it, of course). As for Sundials, here

[2020-03-30 20:44] bangerth opened #9782 "Names and functionality of VectorizedArray and std::simd"
There is a Technical Specification for parallelism that is likely going to make it into C++23. That's a ways to go, but I'm bringing it up because it has a class `std::simd` that is, for all practical purposes, similar to `VectorizedArray`. It might be useful to think about whether there are names in the latter class that we could adjust and make similar to the ones in `std::simd`, or whether we c

[2020-03-31 07:32] jodlbauer commented on #9782
What about using std::simd directly? There is already an implementation [VcDevel](https://github.com/VcDevel/Vc), and with only few minor changes, I was able to run my matrix-free code using std::simd instead of VectorizedArray. Performance was essentially the same.

[2020-03-31 08:17] peterrum commented on #9782
@jodlbauer Could you share what changes you had to do? I guess some functions have to be renamed and others have to become free functions.

[2020-03-31 09:08] kronbichler commented on #9782
Clearly, this is the long-term strategy for this functionality in deal.II - however, the question is how to deal with things in the meantime until compilers have caught up. At this point, we could only pull things into by another library. Adding another external dependency is some effort for users and developers, so this cost has to be weighed against the benefits.

At this point, it would be good

[2020-03-31 09:19] peterrum commented on #9782
For these I would suggest free functions.

are already free functions.

My suggestion, would be that we don't switch right away, but modify the `VectorizedArray` interface so that it looks like that of `std::simd`. We could create some tests (maybe not on master - but locally where we have a copy of the external library), in which instead of `VectorizedArray` `std::simd` is used as `VectorizedArra

[2020-03-31 09:23] tyszwh commented on #9774
The first problem is solved by removing the conflict opencascade library that exists in another place.
 For Sundials, yes, the error message looks like a syntax error of CMake. The CMake version is  3.14.3, but I can build it correctly through manual configuration (without spack). However, I still cannot figure out the reason.

[2020-03-31 09:41] kronbichler commented on #9782
This would also be what I would suggest. I don't think we need fancy tests as we're not making changes in these interfaces that often, so the few ones we make must be compared to the standard. This also minimizes the work to be done by users if they want to switch out our `VectorizedArray` because they need additional functionality that we do not provide.

[2020-03-31 13:31] bangerth commented on #9782
For similar cases in the past, we've had headers such as `include/deal.II/base/std_cxx14/memory.h` etc.

I didn't mean to suggest that you need to go about anything right away (it'll be 3 years before C++23 comes out, and probably another 3 years before we can use it, after all :-) ). Just to keep it in mind when thinking about naming things.

(I do think it's interesting that there are external p

[2020-03-31 16:09] kronbichler commented on #8198
I now have a solution to the mesh for the hyper ball around locally - the only question is how we want to proceed with the interface. Given that we have
[code]
We can
- create a second function `hyper_ball_balanced` (or any other attribute that describes what this does) as suggested by @tjhei with three/four arguments mirroring `hyper_ball`
- create a second function and add an integer parameter a

[2020-04-01 13:01] jodlbauer commented on #9782
Could't find the code anymore, but as far as I remember it was not too much work to do.
However, I just realized that I didn't actually use the std::simd implementation but Vc-devel, which seems to be more similar to VectorizedArray (has load/store/gather/scatter with same interface).
I just tried it with std::simd, but operator[] does not return a reference, which makes some things a bit more com

[2020-04-01 20:19] tjhei opened #9790 "compilation speed-up"
@masterleinad generated a compile analysis using ClangBuildAnalyzer of a current build. I am attaching the info below in the hope that we can pick off a couple of items to improve compilation speed.

[code]

[2020-04-01 21:39] masterleinad commented on #9790
It would probably help to split `vector_tools.[templates.]h` up into parts that we only need for the various `vector_tools*.cc` files.

[2020-04-01 21:49] kronbichler commented on #9790
I fully agree - for compatibility we will need a user-visible header `vector_tools.templates.h` that includes all sub-functionality, whereas the `.cc` files only include the individual files.

[2020-04-02 06:41] kronbichler opened #9794 "pre-compiled polynomial degrees for FEEvaluation"
Looking at #9790, I see a lot of expensive functions in `EvaluatorTensorProduct::apply`. This gets called in by the templated class `FEEvaluation<dim,fe_degree,n_q_points,n_components,Number>`. While this function is the main worker for the sum factorization algorithms for matrix-free code, its prominent case suggests we should look into this. The main problem is the template on the polynomial deg

[2020-04-02 21:39] kronbichler opened #9804 "GridGenerator::hyper_ball with internal manifolds"
I cannot make much sense out of the `internal_manifolds` part of the hyperball mesh. Currently, it sets a spherical manifold on the four coarse grid cells with contact to the boundary and a flat manifold for the center. This leads to somewhat strange cells; while we have the transfinite weights also within cells to avoid really bad effects, it still creates a mesh that is worse than without the in

[2020-04-03 12:18] jppelteret commented on #9804
I would prefer if we add a flag to switch away from the flat manifold for the centre cell. I currently use/abuse the "squareness" of the centre cell in some of my simulations (that cell gets a different material id). So this would be a breaking change for me, and perhaps others.

[2020-04-03 12:27] kronbichler commented on #9804
I would not change the default behavior of the square cell; the question is about what to do with the `internal_manifolds` switch that we have and the rather unsatisfactory results it produces right now.

[2020-04-03 13:24] jppelteret commented on #9804
Ah, ok. Thanks for the explanation. Clearly I misunderstood what your intent was.

[2020-04-03 13:58] blaisb commented on #9804
We use this type of mesh frequently for reactor simualtion. I would be greatly interested in that change! The final mesh with transfinite interpolation looks very well behaved.

[2020-04-04 04:14] bangerth commented on #8625
@dangars -- should finally be fixed by #9815.

[2020-04-04 17:27] bangerth commented on #8184
Can someone outline what changed between gcc 4.8 and 4.9, and between clang 3.3 and 4.0 that makes it worthwhile requiring the latter? Or is it simply that we no longer test the former?

[2020-04-04 17:32] bangerth commented on #8184
For reference, gcc 4.9.0 was released in April 2014. clang 4.0 was released in March 2017.

[2020-04-04 17:41] bangerth commented on #8297
Let's postpone this until after the new paper is out with a page number.

[2020-04-04 18:08] bangerth commented on #7730
I've tried to figure out what's going on here several times but can't seem to make progress. There is no error in `doxygen.log`, and no other indication of what's going wrong. I've also tried to replace the `enum class` by `enum` or `class` to see whether doxygen likes that better, but the answer is no for `enum`. For `class`, it seems to work, but that's of course not useful. I'm not sure what we

[2020-04-04 18:41] tjhei commented on #7730
I changed the settings
[code]
and now it shows up for me. I am not sure which of those settings did it, though. Worth changing the defaults for?

[2020-04-04 18:57] bangerth commented on #7730
Which of these settings is it?

[2020-04-05 00:10] #9703 closed

[2020-04-05 00:14] rezarastak opened #9820 "Warning in release mode with no MPI"
Related to #9613. I am observing these warnings while compiling in release mode with no MPI with gcc 7.5.0.
[code]
I was not able to figure out how to fix it, but I tracked the source of one of these warnings to #9600 using `git bisect`.

[2020-04-05 05:48] masterleinad commented on #9820
I can reproduce.

[2020-04-05 07:40] jppelteret opened #9823 "Implement coupled material invariants & derivatives"
Add a general data structure to the `Physics` namespace that implements the derivatives of material invariants for coupled media.

[2020-04-05 07:41] jppelteret commented on #9823
I already have an implementation for this, so this is just a reminder to add it to the library when I can.

[2020-04-05 07:46] jppelteret opened #9824 "Add specialised transformations for stress tensors and material tangents"
Some stress tensors and material tangents don't directly transform using the already implemented functions in the `Physics::Transformation` namespace (e.g. Piola (two-point config)  -> Piola Kirchhoff (full referential config)). These should be implemented in the namespace `Physcis`, possibly under a child namespace `Constitutive_Laws::Transformations`.

[2020-04-05 07:47] jppelteret commented on #9824
I already have an implementation for this, so this is just a reminder to add it to the library when I can.

[2020-04-05 09:25] peterrum commented on #9820
@rezarastak Could you try out the following diff:
[code]

Thanks!

[2020-04-05 10:00] rezarastak commented on #9820
@peterrum Your patch fixes the issue on my machine. No warnings.

Do you think there might be a performance penalty for initializing these variables?

[2020-04-05 10:01] peterrum commented on #9820
Nope. Let me create a PR.

[2020-04-05 10:02] peterrum commented on #9820
I am just wondering why #9600 caused the problem. It is not even related (only uses `Utilties::MPI::max()`).

[2020-04-05 10:05] rezarastak commented on #9820
Here I reported multiple warnings. only one of them
[code]
is from #9600.

[2020-04-05 10:05] kronbichler commented on #9820
I guess `git bisect` is not perfect; we were moving things around in those files around that time.

[2020-04-05 11:29] kronbichler commented on #8850
I think the culprit is this line here:
https://github.com/dealii/dealii/blob/c87481cc7e6f18f4dd81726262b7144898343964/include/deal.II/numerics/vector_tools.templates.h#L9700
It should be `MappingQGeneric` because `MappingQ` does not curve the inner cells. I am working on a smaller test to reproduce things.
This issue again raises the question that we should make `MappingQ == MappingQGeneric` and r

[2020-04-05 17:43] krishnakumarg1984 commented on #9722
@bangerth We probably need to quickly reopen this again #9754 does not fix this for embedded Runge Kutta methods.

[2020-04-05 18:15] krishnakumarg1984 commented on #9722
@marcfehling  While step-23 does indeed demonstrate the `vtkflags` feature, it is done in the context of using the zlib compression algorithm for faster plotting speeds and to optimise disk space. I am interested in how to get the running time information on the `.vtu` files.

[2020-04-05 19:17] tjhei commented on #7730
I played with this some more (including other extract_* flags we don't have in our options, setting ``@file``, settings ``@relates``, etc.): The only thing that makes this enum show up is ``EXTRACT_ALL=YES`` or putting it into a namespace (*).
*: we delete the "namespace dealii{" for doxygen, which makes this enum a global symbol. A workaround would be to move it into a namespace (or class scope).

[2020-04-05 21:36] krishnakumarg1984 commented on #9722
@bangerth  I have worked on a patch myself and submitted a PR #9754.

[2020-04-06 06:16] rezarastak commented on #9820
This issue was solved by #9825. So I am closing it. Thank you @peterrum.

It is useful to have a dedicated tester for release mode to check for these warning (#9613).

[2020-04-06 06:16] #9820 closed

[2020-04-06 06:57] kronbichler commented on #8850
I have added a slight variant (lower degree in 3D to keep cost for test suite feasible, running both MappingQGeneric and MappingFEField) to #9827.

[2020-04-06 16:02] peterrum opened #9839 "Merge DoFHandler and hp::DoFHandler"
The purpose of this issue is to collect the PRs related to merging `DoFHandler` and `hp::DoFHanlder` (as explained in https://github.com/dealii/dealii/pull/9760#issue-395116540). The first phase includes the introduction of an `(internal::)DoFHandlerBase`.

[2020-04-06 16:35] dougshidong commented on #8850
I had forgotten about this issue; it was definitely the MappingQ/MappingQGeneric, I fixed this in my code about 2 weeks ago.

Additionally, the use of MappingQ over MappingQGeneric to initialize MappingFEField offers no advantage since the MappingFEField will be the same high-order degree everywhere, cancelling any cost savings from bi/tri/linear elements.

Thank you for the follow-up.

[2020-04-06 18:17] kronbichler commented on #8850
I was a bit slow on this, but worked on a related topic (test failure during development) and noticed this problem. It's good to have things fixed, and thanks for the nice test case!

[2020-04-06 19:53] #8850 closed

[2020-04-06 20:01] bangerth commented on #8850
I would not object making `using MappingQ = MappingQGeneric` the default. The `MappingQ` class comes from an era when we did not have manifolds. It should just go.

[2020-04-07 13:39] #9613 closed

[2020-04-07 17:54] #8625 closed

[2020-04-07 20:33] luca-heltai opened #9853 "Current master does not build on github CI."
I was trying to create a new action to build the deal.II package for mac and a static library for windows, but the latest master does not build anymore on github ci...

I'm not sure what went wrong.

[2020-04-07 20:48] masterleinad commented on #9853
I think this should be fixed by https://github.com/dealii/dealii/pull/9849.

[2020-04-07 21:38] luca-heltai commented on #9853
I still get the same problem:

https://github.com/luca-heltai/dealii/runs/568695580?check_suite_focus=true

This was rebased on top of 98ab8ec0b0 (#9849)

[2020-04-07 21:46] masterleinad commented on #9853
Hmm... looking at that link,
the Windows build fails with
[code]
and the other two still show the error due to the unused variable which is fixed by that pull request.

[2020-04-07 22:23] #9853 closed

[2020-04-08 08:59] #8184 closed

[2020-04-09 21:18] tamiko commented on #9009
@kronbichler One interesting aspect of the failing build you are referring to is the fact that libmkl (as lapack dependency) and libopenblas (pulled in by petsc and trilinos) are getting mixed. Maybe they clash with multithreading.

[2020-04-10 05:11] kronbichler commented on #9009
That's a good point; I thought I had updated the deal.II configuration to OpenBLAS but apparently forgot. Let me fire up the tests again.

[2020-04-10 06:54] kronbichler opened #9867 "Use tensor product evaluation for MappingQGeneric::fill_fe_face_values"
`MappingQGeneric` already supports the fast tensorized evaluation of quantities on cells via the code
https://github.com/dealii/dealii/blob/f40be01994c320236edb775d09a9c89c0f118386/source/fe/mapping_q_generic.cc#L1555-L1565
We should introduce the same for the FEFaceValues (geometry part). The reason for this is that the constructor of `FEFaceValues` is very expensive for higher mapping degrees an

[2020-04-10 06:54] kronbichler commented on #9867
FYI @nfehn

[2020-04-10 07:39] luca-heltai commented on #9009
But this happens also when lapack is *not* called....

[2020-04-10 07:43] kronbichler commented on #9009
I know, but it is nonetheless good to exclude flaws in my setup just to maximize chances for reproducing - it takes 5 more minutes, then my results should be online.

[2020-04-10 07:55] kronbichler commented on #9009
As suggested by @luca-heltai, we still fail on my machine (now without MKL and openblas uniformly):
https://cdash.43-1.org/viewTest.php?onlyfailed&buildid=5550
So this means I have a machine where it happens. It does not happen all the time (which is why cdash gives those step-51 tests the "unstable" label), but it does happen. I will try to attach with gdb later today.

[2020-04-10 14:11] #7730 closed

[2020-04-10 17:44] peterrum commented on #9839
I have closed the two PRs related to this issue for now (#9840 and #9760). I will open a new PR targeting the merge of `DoFHandler` with `hp::DoFHandler` after the release of 9.2.

A first implementation shows that merging `DoFHandler` and `hp::DoFHandler` could be possible without any major compatibility issues if the internal data structures are changed and merged. The current code can be found

[2020-04-10 22:15] bangerth commented on #9839
I think that's the right approach -- let's wait until after 9.2.

If you have smaller pieces that only move code around in ways not visible to users (e.g., does not move public member functions), then I'd be happy to consider them separately now already.

[2020-04-12 07:22] nfehn opened #9878 "Deprecate ParameterHandler::parse_input_...() functions to make them private in the long run?"
I think it would make sense to reduce the interface to ``ParameterHandler`` by removing some of the ``parse_input()`` functions from the public interface, especially those with ending `_from_json()`, `from_xml()`.

[2020-04-13 20:39] #8306 closed

[2020-04-13 21:23] tjhei commented on #8482
Hi Daniel,

@tcclevenger and I will open a PR for the updated step-50 version in the next couple of days (based on the version for a publication). Many things have changed compared to the current version on master.

I will fix this (the call to reinit() is just slightly different).

Would you mind submitting a PR for this?

The updated version works without damping, so we can make things work with

[2020-04-14 02:46] tyszwh commented on #9774
This problem is solved when I change the oringal gcc-7.5 to gcc-9.2. It may not related to the gcc version. It should be some conflict in system.

[2020-04-14 02:46] #9774 closed

[2020-04-14 15:34] dangars commented on #8482
@tjhei Thanks a lot for your reply.

I added Tvmult to PETSc PreconditionJacobi. See #9887

[2020-04-14 18:12] peterrum opened #9888 "Configuration of I/O of ParameterHandler"
Recently there have been a couple of additions to the `ParameterHandler` class, in particular to its I/O functionalities.

In the case of output, the additions are:
* `ShortXML` and `ShortJSON`
* the optional `sort_alphabetical` flag

To handle all the new cases and the old cases and to be backwards compatible, we could modify the `OutputStyle` the following way:
[code]

Any options on such a way

[2020-04-14 19:48] nfehn commented on #9888
Is the idea to use ``sort_alphabetically`` similarly to ``without_documentation`` and introduce further types of `OutputStyle`?

My way to address the question regarding a good design would be to look at the code and choose a design for which the implementation is most simple and easy to understand. In my experience this also leads to a user friendly interface. I'm not sure if the user interface i

[2020-04-14 22:11] luca-heltai commented on #9888
This would allow a code like

[code]

which is much better, in my opinion, w.r.t
[code]
where `MarkMandatory` is just an example of an additional argument that will find its way in the implementation at some point.

The code path is actually simpler:
[code]

[2020-04-14 22:15] elauksap commented on #9888
Agree with @luca-heltai!
Such a switch can just be implemented in the same fashion as the already-mentioned update flags in `FEValues`. I find it more readable and, most of all, more easily mantainable in case new flags need to be added in the future!

[2020-04-14 22:21] luca-heltai opened #9889 "ParameterAcceptor::initialize broken"
`ParameterAcceptor::initialize` tries to read a file, and upon failure it creates a default one and throws an exception.
The try catch block expects a `dealii::PathSearch::ExcFileNotFound` but currently this has been changed to `ExcIO`, and `ParameterAcceptor::initialize` no longer creates the default file.

Let's make sure that #9862 also fixes this.

[2020-04-15 05:40] kronbichler commented on #8041
This has been resolved by taking simply the `IndexSet` of the present processor in #9710.

[2020-04-15 05:40] #8041 closed

[2020-04-15 06:48] nfehn commented on #9888
What about such an Assert in `ParameterHandler::recursively_print_parameters()`

[code]

@luca-heltai Maybe I did not understand you correctly, but you say that `ShortXML` will also run into this assert and throw an exception? so you will not have to change this part of the code, or do you (`XML=32`, `ShortXML=33`)?

[2020-04-15 06:56] elauksap commented on #9888
It should be enough to check `(style & XML) == 0`, this will consider both XML and ShortXML automatically.

[2020-04-15 07:05] nfehn commented on #9888
So we can consider this a bug in the current implementation? My point is that you have to change the code, not that you can fix it.

[2020-04-15 07:07] nfehn commented on #9888
@luca-heltai Regarding complecity, how does the number of entities of `OutputStyle` grow with the number of independent parameters for your example `Text | Short | Alphabetical | MarkMandatory`?

[2020-04-15 07:14] nfehn commented on #9888
Another example taken from `ParameterHandler::print_parameters()`

[code]

A better design in my opinion is using a bool `short` along with `enum OutputStyle { Text, JSON, XML}`

[code]

Maybe one can also write the above code example more elegantly with the new `OutputStyle` design, but my suggestion does not make implicit assumptions about how `OutputStyle` has been constructed, the parameters a

[2020-04-15 07:15] elauksap commented on #9888
I suspect it is wrong, also `ShortXML` should be asserted as well!

`OutputStyle` is going to contain only the list of independent parameters, not all the possible combination! One bit for short/long, one bit for alphabetical/unsorted, one bit for each style (Text, XML, ecc) and so on.
Then all the combinations are exposed to the user via the bitwise operators.

I think we should take care of not

[2020-04-15 07:18] elauksap commented on #9888
That's a good and elegant solution for sure, but - as already stated by @luca-heltai - it is poorly scalable as the number of inputs increases!

[2020-04-15 07:19] nfehn commented on #9888
Why not choosing a design where errors are excluded by design?

[2020-04-15 07:30] nfehn commented on #9888
What do you mean exactly by `scalable`? Do you refer to concrete examples from the code or is this a worst case scenario? I think we should take into account that not every parameter will enter the same function.

[2020-04-15 07:32] nfehn commented on #9888
to be more precise, not every parameter will enter every function within the implementation

[2020-04-15 07:35] nfehn commented on #9888
So `OutputStyle` would look differently than introduced in the very beginning? How would it look like?

[2020-04-15 07:36] elauksap commented on #9888
I only mean that the number of inputs would necessarily grow in case new options need to be added: one more input for every new option to set.

[2020-04-15 07:50] nfehn commented on #9888
Ok, I agree. Maybe I just don't know what you plan for the future. Regarding the current code version, I actually do not have the impression that interfaces are too fat.

[2020-04-15 07:58] nfehn commented on #9888
@luca-heltai: Regarding your example

`prm.print_parameters("file.prm", Text | Short | Alphabetical | MarkMandatory);`

which is much better, in my opinion, w.r.t

`prm.print_parameters("file.prm", ShortText, true, false, false, ...);`

Why don't you need a class name or namespace in front of `Text`, `Short`, etc.?

[2020-04-15 08:04] peterrum commented on #9888
Thanks for the vivid discussion! Let's wait until the weekend to make a final decision. Personally I would favor the new enum-approach.

@nfehn Regarding your comments:
* the line shown in https://github.com/dealii/dealii/issues/9888#issuecomment-613850600 is obviously a bug (introduced by me - since I have not added `ShortXML` and `ShortJSON` there) but should be fixed with the new enum approach

[2020-04-15 08:35] nfehn commented on #9888
I hope you don't feel accused because of the bug but I am convinced that we have to discuss these things concretely and not with `foo-bar` toy examples. Nevertheless, the bug shows that the design is error prone and errors pass peer-review because of its complexity. We simply have to accept that we make mistakes and should therefore choose a design that minimizes these kinds of errors. I am sharin

[2020-04-15 08:39] elauksap commented on #9888
It can be something like:
[code]

Then you can check (omitting the namespace for brevity):
[code]
and so on.

I don't know either what is coming in the future! But we better get ready, since in my opinion the effort of writing a more general interface using bitwise flags is the same than other approaches, so it is worth it! 😄

[2020-04-15 09:22] nfehn commented on #9888
@elauksap

  Short = 0x0001,
  Alphabetical = 0x0002,
  MarkMandatory = 0x0004,
  Text = 0x0010,
  LaTex = 0x0020,
  Description = 0x0040,
  XML = 0x0080,
  JSON = 0x0100,
}

For me, this is a `struct` with one `enum` and three `bool`s. Why can't we just be explicit about what is going on.

[2020-04-15 10:14] nfehn commented on #9888
@luca-heltai regarding the example in the beginning: I agree regarding the idea, but there is more to it (I will skip `mark_mandatory` because this does currently not exist in the code): I think you would have to write

[code]
Is this really much simpler than
[code]
or using the new function introduces in #9862

[code]
? I agree that a sequence of  `true, false, false` is not perfect because one d

[2020-04-15 11:05] luca-heltai commented on #9888
This is not performance critical code. It will be run once (maybe twice) per program. I don't think we should worry about the "code complexity" at all. I don't really care how ugly the code looks like internally.

What I care about is the following observation: we have been struggling in the past in several places where we had booleans , and then every function call in the user code became
[code]

[2020-04-15 11:37] peterrum commented on #9888
I agree with @nfehn that the extended enum is somewhat a struct with one enum (`OutputStyle`) and two bools (`short` and `alphabetical`). Merging these two one enum as proposed in the description is possible since the two parameters are of type bool. However, maybe in the future this might change?

Just like @luca-heltai, I don't like such long parameter lists (what is one reason for this issue).

[2020-04-15 11:40] nfehn commented on #9888
Sorry, there has been a misunderstanding, I am talking about complexity from an OO design perspective.

Unfortunately I do. Are we really already at the point that the discussion needs to be stalled like this?

 I agree with the points in which your preferred design makes certain things simpler at first sight, but I have the feeling you currently do not address the problems it will raise. Your `FE

[2020-04-15 11:49] nfehn commented on #9888
I claim you can also not do this in general for the enum design (hence, is it really a con of the struct design?), see

I have the concern that we will give up a lot of flexibility by the enum OutputStyle design, and in the end not make things simpler.

[2020-04-15 12:38] luca-heltai commented on #9888
I think `Alphabetical` and `Sorted` belong to the category `OutputStyle`.  These are not booleans but output styles. What is a good reason to keep them separated?
The internal complexity is really not an issue. Again, this is code that will be executed once per program.

I don't think that writing in one line is an issue: how many lines do you need to define your booleans (if you want to use named

[2020-04-15 13:24] nfehn commented on #9888
I thought that this is not your honest conviction

For me, it seems you are following another intention by such statements, because I raised concerns that at some points the internal implementation might become more complicated. I gave concrete examples taken from the code and also identified a bug in the implementation. Instead you try to circumvent these discussions about the questions of intere

[2020-04-15 15:15] luca-heltai commented on #9888
I don't know why, but this has become a bit too personal.

It looks to me you are getting frustrated over this argument. That's not my intention, was not my intention, and I apologize if you get frustrated about this.

Let's go back to code.

I cannot find real questions in your comments, just a general sense of frustration which I did not want to provoke. Let me be clear about what I meant:

Any

[2020-04-15 16:40] nfehn commented on #9888
I think it is not difficult to identify questions, see for example

When you write

then this is again provocation, unfortunately. According to your argumentation everything seems to be obvious,

For me, this is not a language where others have the feeling you are respecting their arguments. But it is really not something personal, don't worry. Let's do it as you want and I will be fine with it.

[2020-04-15 16:49] bangerth commented on #9888
Children, children, would you all please take a 24 time out before coming back to this discussion?

[2020-04-15 17:04] nfehn commented on #9888
Independently of the refactoring, @peterrum do you create an issue or PR for the bug fix?

[2020-04-15 17:17] jfriedlein commented on #9164
@jppelteret The fix solves the issue on my machine. Thanks, I appreciate it. (Sorry to keep you waiting so long)
I tested this with the current develop versions of spack and dealii.
@krishnakumarg1984 Can you also confirm this?

Can/Shall we close this issue then?

[2020-04-15 18:09] krishnakumarg1984 commented on #9164
The fix is just a manual workaround. People normally expect spack packages to just work immediately after installation without the need to tweak any config files.

I still think that the spack install recipe need to be updated, and the fix PR be linked to this issue before formally closing this. Else the developers will never remember that this issue exists.

[2020-04-15 18:19] masterleinad commented on #9164
@krishnakumarg1984 We are referring to the fix in https://github.com/spack/spack/pull/15731 which is merged in `spack`.

[2020-04-15 19:55] drwells opened #9901 "tbb::task is deprecated"
I just got the most recent (2020.2) version of TBB and I now get the following deprecation warnings:
[code]
The manual doesn't state much other than acknowledging that this is deprecated. `tbb::task` (and `tbb::task_group`) are foundational to the way we implement multithreading so I really think we should address this in time for the release.

[2020-04-15 20:04] tjhei commented on #9901
This is weird. I can't find anything about this in https://www.threadingbuildingblocks.org/docs/help/index.htm#reference/appendices/deprecated_features.html

[2020-04-15 20:05] bangerth commented on #9901
Or here: https://software.intel.com/sites/default/files/managed/b2/d2/TBBRevamp.pdf

[2020-04-15 20:18] tjhei commented on #9901
I created https://github.com/oneapi-src/oneTBB/issues/243, we'll see what they say.

[2020-04-15 20:56] drwells commented on #9901
The manual I referred to is this one:

https://software.intel.com/en-us/node/851749

[2020-04-15 21:01] peterrum opened #9903 "Check the usage of OutputStyle::XML and ::JSON in ParameterHandler"
As noted in https://github.com/dealii/dealii/issues/9888#issuecomment-613850600, the following lines:

https://github.com/dealii/dealii/blob/5637bcf9db09af419ea5bbb3c92e5b262fc603aa/source/base/parameter_handler.cc#L1331-L1332

should be:
[code]
or
[code]

[2020-04-15 21:25] krishnakumarg1984 commented on #9164
Ah I am sorry. I shall kick off a spack-based install, and test it out soon.

[2020-04-15 23:06] luca-heltai commented on #9888
@bangerth , sorry, I won't have too much time tomorrow. I promise I'll try to keep this post as polite as possible. :)

@nfehn, I sincerely thought that all the questions you posed had been answered in previous posts, and there were no more questions that could be found on your replies to my comments, except

Of course they need a class name in front. The design principle is under discussion, not

[2020-04-16 00:33] rumajo commented on #9319
Looks like the wrong issue was referenced in #9379 which meant this didn't get closed automatically when the PR was merged. Looks like it can be closed now?

[2020-04-16 01:39] #9319 closed

[2020-04-16 05:20] nfehn commented on #9888
I think you made your point clear that a bitwise enum = a collection of booleans, and I like that the discussion is beginning to become more open. Now by looking at `OutputStyle` posted above, I am not sure that this is just a collection of booleans. You can combine `short` with `alphabetical`, but you can not combine `XML` with `JSON`, while you can again combine `XML` with `short`. You mention t

[2020-04-16 09:18] kronbichler commented on #9729
As mentioned in #9826, we currently have somewhat too many test failures on the official `tester` machine:
https://cdash.43-1.org/viewTest.php?onlyfailed&buildid=5664
The configuration I picked is one where we should aim for zero test failures, IIRC we had 0 failures for the last release there.

[2020-04-16 14:25] tjhei commented on #8482
awesome. This was all that was needed to make it work!

[2020-04-16 14:59] dangars commented on #8482
Happy to hear that :)

[2020-04-16 16:31] bangerth commented on #9901
Question: Can we find out whether TBB used C++11 facilities for tasks? The C++11 tasking facilities are actually much easier to use than the TBB ones and it would not be very difficult to use `std::async` and `std::future` to replace our calls to the TBB in `Threads::Task`. It might enable us to just get rid of all of that `TBB:task` stuff altogether.

I haven't done that yet because I did not wan

[2020-04-17 05:47] kronbichler opened #9914 "Doxygen shows template specializations"
Probably due to #9855, doxygen now seems to list template specializations of classes. Look for example at the GridGenerator page:
https://dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html
Here, you see `hyper_ball` not only for the templated case `dim` with documentation
https://dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html#a533c4778cbc9bcbed365dcab42ca4418
but al

[2020-04-17 06:31] kronbichler commented on #9009
I looked into the test `bits/step-51.debug` a bit more. I could reproduce the original problem of an incorrect matrix inversion after `FullMatrix::gauss_jordan()`, but I sometimes get wrong convergence tables also when the `gauss_jordan` call creates correct results. As the problem only happens sometimes (but more often when I increase the number of threads from 3 to say 6), this very much looks l

[2020-04-17 13:11] tjhei commented on #9009
There is other multithreaded code running in this example (FE/Mapping, output, etc.). I am worried that we are mixing different paradigms (std::thread, OMP, tbb:task, etc.) and they interfere with the workstream. Does gdb show anything interesting on your end?
I found a large number of ``Task``s created during setup and while running a work stream (FEFaceValues::initialize inside ScratchData insid

[2020-04-17 13:12] tjhei commented on #9009
I put a breakpoint here:
https://github.com/dealii/dealii/blob/master/include/deal.II/base/thread_management.h#L1512

[2020-04-17 13:16] tjhei commented on #9914
This is not ideal. I can see two solutions:
a) disable HIDE_UNDOC_MEMBERS again
b) do not parse .cc files (see #9876)

[2020-04-17 13:16] tjhei commented on #9914
I think @bangerth enabled parsing of .cc files, maybe he has an idea why we should/should not merge #9876.

[2020-04-17 13:19] kronbichler commented on #9009
I can check that in a minute. For the record, I have removed `FEFaceValues` and a number of other things for my minimized test case:
[code]

[2020-04-17 13:34] kronbichler commented on #9009
Now I tried with this setting:
[code]
which should disable tasks if I understand things correctly, but I still get the error 1-2 times per 10 runs.

[2020-04-17 13:59] kronbichler commented on #9009
Now I realize that I probably did a rookie mistake: I had verified that we do call `FullMatrix::gauss_jordan()`, but what I did not verify is that we do `FullMatrix::mmult()` just a few lines below. At least on my machine, that calls into `dgemm_` due to the function here:
https://github.com/dealii/dealii/blob/33245a616fc9f7084fa9468c80589e1cc2417b01/include/deal.II/lac/full_matrix.templates.h#L55

[2020-04-17 14:47] bangerth commented on #9009
Poking in the dark: You mentioning thread-local variables reminds me of a realization @tjhei pointed me to many years ago on a bike ride in College Station (somewhere on Rock Prairie or Birdpond) when I was very frustrated with a bug I couldn't find in the `WorkStream` implementation. Imagine you have code like this:
[code]
If you run this on a threaded code, you'd expect the assertion to succeed.

[2020-04-17 15:03] kronbichler commented on #9009
From the changelog from [OpenBLAS](https://www.openblas.net/Changelog.txt) from Aug 2019:
[code]
I will try that version on my machine.

[2020-04-17 17:35] kronbichler commented on #9009
At least for me a thread-safe BLAS/LAPACK seems to do the trick. Failing tests are down to 1:
https://cdash.43-1.org/viewTest.php?onlyfailed&buildid=5705
(and that is p4est-related).

[2020-04-17 17:53] bangerth commented on #9009
It's a relief every time to know that the bug is in someone else's package :-)

The question then is: How do we detect and rule this version of BLAS out?

[2020-04-18 06:37] nfehn commented on #9888
I think for a decision one needs to compare to the alternative

[code]

Let me explain the advantages such a design could have:
- no implicit logic and incompatible parameter combinations because the enum `OutputFormat` can only take one value. The `enum OutputStyle` design allows to write `short | Text | JSON` (which would be invalid)?
- the data structure can be understood immediately. This is n

[2020-04-18 15:10] jppelteret opened #9923 "Generate documentation where is BOOST_SERIALIZATION_SPLIT_MEMBER used"
There are a number of places where the `BOOST_SERIALIZATION_SPLIT_MEMBER()` macro is used. This creates a `serialize()` function, but its effectively hidden. In can document it using this approach:
[code]

[2020-04-18 18:34] bangerth commented on #9923
Nice idea! Go about it!

[2020-04-18 18:53] bangerth commented on #9888
It isn't quite correct that the `enum` in the description above can not have invalid values. It's perfectly legal to write
[code]
or
[code]
It's of course a semantic bug to do this, but the language doesn't prevent you from doing it -- in the same way as you're not prevented from writing
[code]
in @luca-heltai 's style. In reality, one would have to write assertions in either case; in practice, we

[2020-04-18 19:52] nfehn commented on #9888
Yes, I agree. Maybe I should have written `enum class` which I use in my code. I think scoped enums (C++ 11) do not allow implicit conversions and the code should not compile when using the `|` operator?

[2020-04-19 07:55] nfehn commented on #9888
@bangerth Also for plain enums, implicit conversions are actually only possible from enum to int, not in the other direction?

[code]
I don't think so: I think you will have to write
[code]
similarly, you will have to write
[code]
Did you assume that the operator `|` has already been overloaded? I would not do that in my approach (C++  gives us freedom, and responsibility coming along with it). Le

[2020-04-19 08:29] elauksap commented on #9888
Yes, this is true. The compiler is not able to implicitly cast `245` to the `OutputFormat` type.

This is exactly what I personally dislike in your approach.

Also, I think that keeping the two booleans separated from `OutputFormat` exposes a less clear interface to the user, who may think that, _e.g._, `with_documentation` has less/nothing to do with `OutputFormat::Text`, whereas they may refer t

[2020-04-19 10:00] nfehn commented on #9888
I am not sure about this. Let's make another example/comparison

[code]

@elauksap Can you write the same code in your favorite version? Please also use `ParameterHandler::` as discussed somewhere above.

[2020-04-19 10:18] elauksap commented on #9888
@nfehn sorry I don't understand your question. `with_documentation` and `alphabetical` are booleans used only to specify the output style, why would anyone need to declare them elsewhere in the code?

By the way, if this was the case it would still be legal to write, _e.g._:
[code]

[2020-04-19 10:31] nfehn commented on #9888
"unconvenient" and "error prone" might be debatable. Could we first make the comparison please? What do you have to lose? Otherwise I get the impression you are picking those examples that underpin your hypothesis. Again, please use ``ParameterHandler::Short``, ``ParameterHandler::XML``, etc.

[2020-04-19 10:37] elauksap commented on #9888
We can debate the meaning of "unconvenient", but not that 5 lines code are more than 1 😄

Sorry again, I don't really get your question so I'm not able to answer. What is "the comparison" you are referring to? You asked

and I replied in my last comment. What other comparison would you like to see?

[2020-04-19 10:43] nfehn commented on #9888
This code is written in the `struct OutputStyle` design

[code]

Can you write the same code in your favorite ``enum OutputStyle`` version? Sure, 5 lines is more than 1 line of code. In these words, show me that you can do a 1-liner with your favorite version for the above code, that is also convenient and not error prone. Again, is there something to hide?

As a motivation, assume tests are imple

[2020-04-19 10:47] elauksap commented on #9888
@nfehn sorry, but why should we choose the design depending on whether some test or application prefers to use `bool`s? Usually applications are written depending on the interface exposed by the library they use, and not vice-versa 😄

By the way, I already answered to your question in a previous reply, so I don't know why you keep asking it.

[2020-04-19 10:53] elauksap commented on #9888
For the sake of completeness, a one-liner would still be possible:
[code]

Does this make sense to you?

[2020-04-19 10:57] nfehn commented on #9888
Now, please add ``ParameterHandler::``, you have to add it three times. Please also format your code in a way that one does not have to shift the horizontal bar from left to right to read your code, just for fairness.

[2020-04-19 11:11] elauksap commented on #9888
`ParameterHandler::` needs to be added in either case, so what is the point?
Since when this has become a matter of indentation style?

I don't want this discussion to become (again) a personal attack, but we just got to the point of discussing about how long one line of code would become when writing the full scope names, in a case that will most likely never happen (there would be no reason to k

[2020-04-19 11:17] nfehn commented on #9888
We are currently discussing one argument. Let's do one step after the other. Let's please complete this argument and then we go on with the next.

[2020-04-19 11:33] nfehn commented on #9888
Sorry, you can't accuse me of trying to bring facts on the table.

Here is a suggestion, please correct me

[code]

[2020-04-19 11:59] elauksap commented on #9888
Templatize the bitwise `or` operator and there will be no more need to statically cast the `0`.

[code]

At least, assuming that it is really relevant to provide compatibility with a pointless interface (personal opinion).

[2020-04-19 12:14] nfehn commented on #9888
Type `T` could be identical to `ParameterHandler::OutputStyle` (one could implement the other `operator|` function as specialization of this one). I think you should assert in this function that one can not combine, e.g., JSON with XML? Now assume someone is adding another output style, do you have to touch this function again?

[2020-04-19 12:23] elauksap commented on #9888
Yes, at least in a strongly defensive programming style. Or we can stick with the solution pointed out by @bangerth. Or we may decide that `Text | XML` is an admissible option and design `print_parameters` in such a way that in that case it prints both in `Text` and `XML` format (_e.g._ using only `if` statements rather than `else if` or `switch`).
But this is a different point of discussion.

[2020-04-19 12:27] nfehn commented on #9888
Not really, you asked me for the advantages of the ``struct OutputStyle`` design: I believe this is clearly one (see above for a more complete discussion).

[2020-04-19 12:38] elauksap commented on #9888
First, this has nothing to do with the `bool param_a, param_b` example so it's a different point of discussion (the `operator|` overload would be there regardless of the `int` specialization).

Second: yes, I agree that this can an advantage for the internal implementation of the class, but it also results in multiple (debatable) disadvantages from the users' perspective (see above for a more comp

[2020-04-19 15:54] luca-heltai commented on #9888
I think everyone will simply keep their own idea on this topic. There is no way to have everyone happy.

Please comment with a   🚀 for the solution proposed by me, and implemented by @peterrum , or with
 👀 for the solution proposed by @nfehn

[2020-04-19 16:14] krishnakumarg1984 commented on #9164
Yup. this now works!

[2020-04-19 16:14] #9164 closed

[2020-04-20 11:56] tjhei opened #9928 "CI: update clang-tidy version"
based on comment in #9927

[2020-04-20 22:38] masterleinad commented on #9790
I am looking into splitting up `VectorTools`.

[2020-04-21 15:15] tjhei opened #9933 "CI: let clang-tidy also parse all headers"
mentioned in #9927

it is not as easy as running ``make setup_tests_all-headers`` as they don't end up as compile commands in the ``compile_commands.json`` that run-clang-tidy.py would pick up.

Maybe it would be easier to create an unused cmake target for a cc file for each folder that includes all the headers in question?

@tamiko do you have a suggestion?

[2020-04-22 11:33] VictorEijkhout commented on #9316
I think I solved this one by rebuilding petsc with the mpi libraries that deal wants.

[2020-04-22 11:33] #9316 closed

[2020-04-22 11:35] VictorEijkhout opened #9939 ""libpthreads"?"
It looks like cmake bombs on a request for "-lpthreads" which I have no idea which it wants why. Cmake logs attached.

[CMakeError.log](https://github.com/dealii/dealii/files/4515809/CMakeError.log)
[CMakeOutput.log](https://github.com/dealii/dealii/files/4515810/CMakeOutput.log)

[2020-04-22 12:27] masterleinad commented on #9939
Probably, the better place to ask your question (is there any here?) is [Google Groups](https://groups.google.com/forum/#!forum/dealii).

[2020-04-22 12:27] #9939 closed

[2020-04-22 23:41] rezarastak opened #9942 "Doxygen creates pages for built-in types"
Very recently, the online documentation includes empty pages for built-in types `int`, `int *`, `bool`, `double`, `const unsigned int`, `static const unsigned int`, `static constexpr bool`, `static constexpr unsigned int`, `unsigned int` and for template types such as `number *`, `inverse_type`, `inverse_type *`. The existence of these files are okay, but the problem is that Doxygen creates many l

[2020-04-23 02:55] bangerth commented on #9942
I've got to say that that's a bit funny :-)

[2020-04-23 10:00] #9888 closed

[2020-04-23 20:51] drwells commented on #9901
I believe that our tentative plan is to not rewrite our interface this close to the release and instead add a symbol to remove the deprecation warnings - I'll put up a PR to do this.

[2020-04-24 10:29] peterrum opened #9947 "Doxygen: copy_new_triangulation_to_p4est"
The function `parallel::distributed::Triangulation< dim, spacedim >::copy_new_triangulation_to_p4est` is for some reason shown in the documentation of `Triangulation`.

[2020-04-24 13:24] tjhei commented on #9947
can you try to wrap the implementation in the .cc with an ``#ifndef DOXYGEN``? I fear that it comes from parsing the .cc.

[2020-04-24 20:13] peterrum commented on #9538
Closed by #9687.

[2020-04-24 20:13] #9538 closed

[2020-04-24 20:20] peterrum commented on #8460
@kronbichler  Isn't this already closed by #8909?

[2020-04-24 20:45] kronbichler commented on #8460
Closed by #8909.

[2020-04-24 20:45] #8460 closed

[2020-04-25 05:44] kronbichler commented on #2004
Given the work on `DiscreteTime`, #8824, I wonder if we should do more here? If yes, it probably won't happen for this release.

[2020-04-25 14:33] jppelteret opened #9957 "Implicit conversion warning in trilinos_block_sparse_matrix"
[code]
This line was changed in 756c54b30c9745be729557d147634c75645e6682.
It looks like the `reinit` function with this signature is being now called:
[code]

[2020-04-25 14:38] masterleinad commented on #8658
Would you be able to share a minimal example that reproduces the problem?

[2020-04-25 14:40] jppelteret commented on #9957
I can't decide what the correct thing to do here is. Do we now just want to ignore the `drop_tolerance` parameter, since it cannot be propogated to any other `reinit()` call, or do we need to partially revert the old commit?

[2020-04-25 14:41] masterleinad commented on #8297
This looks independent of any release if we are to mention the new overview paper.

[2020-04-25 15:10] masterleinad commented on #7922
@luca-heltai As far as I can see this case was already considered in https://github.com/dealii/dealii/commit/fcbc08d4de5. In particular, there is https://github.com/dealii/dealii/blob/755e9fd4a0668909fb0fae3f70af47d1adf872eb/source/grid/grid_tools.cc#L1314-L1366.
Can you provide a case that is failing for you?

[2020-04-25 15:12] masterleinad commented on #5012
It seems there was no action on this one from anyone and this takes more time. Postponing again.

[2020-04-25 15:24] tjhei commented on #9901
so we should just define ``TBB_SUPPRESS_DEPRECATED_MESSAGES`` for now.
see https://github.com/oneapi-src/oneTBB/blob/60b7d0a78f8910976678ba63a19fdaee22c0ef65/include/tbb/internal/_deprecated_header_message_guard.h#L19

[2020-04-25 15:57] masterleinad commented on #7577
I guess this isn't high-priority for the release. Postponing.

[2020-04-25 16:16] masterleinad commented on #9756
Do you still intend to do this for the release?

[2020-04-25 16:19] masterleinad commented on #9689
Do you still want to do this for the release?

[2020-04-25 16:34] masterleinad commented on #9682
I don't think this is crucial for the release and would move the milestone unless there are volunteers to tackle it.

[2020-04-25 16:51] masterleinad commented on #9618
Again, unless someone wants to tackle this, I see no reason not to postpone it.

[2020-04-25 17:25] masterleinad commented on #6750
Since there was no activity on this and it's a feature request, not a bug, let's postpone it.

[2020-04-25 17:27] masterleinad commented on #4092
Should have the same milestone as #7970.

[2020-04-25 17:30] masterleinad commented on #7315
There seems to be no activity here and it's no bug. Postponing.

[2020-04-25 17:41] masterleinad commented on #1973
Depends on #8711.

[2020-04-25 17:42] masterleinad commented on #7428
If we don't find a volunteer here, let's postpone.

[2020-04-25 17:44] masterleinad commented on #3230
No high priority. Postponing.

[2020-04-25 17:48] masterleinad commented on #5657
Since there is no demand, let's postpone.

[2020-04-25 17:54] #9923 closed

[2020-04-25 18:15] kronbichler commented on #9689
I have hopes to do it, but I will see next Tuesday whether my hopes are realistic. I am always on the border of too optimistic.

[2020-04-25 18:24] masterleinad commented on #7723
Let's postpone.

[2020-04-25 18:31] masterleinad commented on #6510
No priority here. Moving.

[2020-04-25 18:40] masterleinad commented on #6941
Postponing.

[2020-04-25 18:42] masterleinad commented on #1984
No activity here, postponing.

[2020-04-25 18:58] masterleinad commented on #9426
@sophy1029 What's the status here?

[2020-04-25 19:00] masterleinad commented on #9596
No high priority.

[2020-04-25 19:07] #9947 closed

[2020-04-26 05:05] dougshidong opened #9961 "Reinitialize vector with any matrix's domain/range"
Following #9951 and the discussion in https://groups.google.com/forum/#!topic/dealii/MZS13T-UE6E, we want to allow `LinearOperator` to wrap around a `TrilinosWrappers::SparseMatrix` while still using `LinearAlgebra::distributed::Vector`, instead of only allowing `MatrixFree`.

The pull request #9951 fixes this by checking whether some specific functions of `MatrixFree` and `SparseMatrix` using SFI

[2020-04-26 05:37] #9957 closed

[2020-04-26 05:40] kronbichler commented on #9009
@lwy5515 @luca-heltai do we need to keep this open?

[2020-04-27 02:56] tjhei commented on #9933
The following seems to work:
[code]
But:
1. This seems to be very slow (has not finished yet after an hour). I assume that most headers will be parsed many-many times as headers include each other.
2. Clang-tidy doesn't like the interrupt-guard logic. I get hundreds of errors of the kind:
[code]

It might be more economical to create a .cc for each deal.II folder (or a collection of headers) and r

[2020-04-27 07:29] cburstedde commented on #7428
I'm not clear on how this file got generated.  If it comes from deal.II core
routines, the issue may be more pressing compared to the file just being
user-generated input.

Best regards,

Carsten

[2020-04-27 09:02] nfehn opened #9965 "Improve docu of DataOut::add_data_vector()"
A note could/should be added to the documentation mentioning that ghost values of the vector have to be updated, e.g.

@note When working in parallel, the vector to be written needs to be ghosted with read access to all degrees of freedom on the locally owned cells, see the step-40 or step-37 tutorial programs for details, i.e., it might be necessary to call vector.update_ghost_values().

[2020-04-27 09:42] peterrum commented on #9965
That might be useful indeed. It is already asserted but a note would be helpful, too! The question is which function should get the note. I don't think the function `add_data_vector()` is actually causing the problem, but `build_patches()` (since this is when the vectors are actually read). Maybe both functions should get the note?

[2020-04-27 13:11] masterleinad commented on #7428
@cburstedde #9047 shows a (seemingly) similar issue with `GridGenerator::quarter_hyper_shell()`.

[2020-04-27 13:56] bangerth commented on #9965
The error might currently come from `build_patches()`, but `add_data_vector()` is the one that people call with the wrong vector. I think that's the right place.

@nfehn -- you already have the right kind of text. Want to write a patch? Thanks in advance!

[2020-04-27 14:03] nfehn commented on #9965
@bangerth There are several functions (6x add_data_vector(), 2x add_mg_data_vector()). I am not so familiar with this code. Should I put the same text everywhere, or in a master-slave style with reference to master for the slaves, and which function would then be the master?

[2020-04-27 14:06] kronbichler commented on #9965
I would suggest to put the documentation to one function only. The central one which others are referring to is this one here:
https://www.dealii.org/current/doxygen/deal.II/classDataOut__DoFData.html#ace4b76e565ba0701c4d32c26075ed3b9
(The function taking a vector, a vector of strings with names, a vector "type" argument, and a vector of component interpretations).

[2020-04-27 15:16] tjhei commented on #9933
so, I aborted after 10 hours. Instead, I cooked up something else. PR coming in a bit.

[2020-04-27 15:31] sophy1029 commented on #9426
@masterleinad  Please check #9558
We are checking whether the derivation for the new boundary condition case is correct.

[2020-04-27 21:01] jppelteret opened #9971 "Mesh loop assemble_boundary_faces uses empty data structures"
I've attached a test where I'm just trying to compute the volume of a triangulation and the area of its boundary using `mesh_loop()`; something easily verifiable on a 1x1 domain. Volume integration seems to work fine. But when I do the boundary integral alone by specifying to `mesh_loop` that it must only `MeshWorker::assemble_boundary_faces`, then I do not get the expected value for the boundary

[2020-04-27 21:18] jppelteret opened #9972 "Add quadrature_point_indices() to FeValuesBase"
Mimicking `GeometryInfo<dim>::face_indices()`, we should have something like `FeValuesBase::quadrature_point_indices()` that allows us to write `for (const unsigned int q_point : fe_values.quadrature_point_indices())`.

[2020-04-27 21:24] bangerth commented on #9972
Ah yes, that would be nice!

I've been wondering for the past 11 years already why the standard does not overload `...` so that one can write
[code]
That would seem like a rather nice, idiomatic, way to write these loops these days...

[2020-04-27 21:42] masterleinad commented on #9972
@bangerth You can always write a proposal. :wink:

[2020-04-28 10:11] luca-heltai commented on #9009
I think we can close this, but we should make a comment in step-51 that issues may occur if you use a non-threadsafe BLAS/LAPACK

[2020-04-28 11:48] #9965 closed

[2020-04-29 06:02] jppelteret opened #9988 "Add ranged based loops for local DoF indices to FEValuesBase"
As an extension to #9987, should we have something like `FEValuesBase::dof_indices()` that allows us to write
[code]
? We may then also wish to consider some mechanism to get out the diagonal + upper/lower indices too. This would be useful for assembling symmetric systems. One implementation that I've thought of thus far would be to have three separate functions `dof_indices()`, `dof_indices_start

[2020-04-29 21:09] bangerth commented on #9988
I like it, but we should name the function `local_dof_indices()` to make clear that it's a local numbering, not the global indices.

[2020-04-29 21:16] jppelteret commented on #9988
Great! I've actually just finished putting this together and, after being reminded that `FEValuesBase` has `cell_dof_indices` as a static member, was going to propose the names `cell_dof_indices()`, `cell_dof_indices_starting_at()` and `cell_dof_indices_ending_at()`. Which would you prefer?

[2020-04-29 21:21] jppelteret commented on #9988
Nevermind -- I've thought about it a little and `local_dof_indices()` is the right choice. Thanks for the suggestion!

[2020-04-29 21:23] kronbichler opened #9989 "create_coupling_mass_matrix too slow"
The test `non_matching/coupling_08.debug` regularly times out on some machines, like this one:
https://cdash.43-1.org/viewTest.php?onlyfailed&buildid=5877
The test runs a ridiculously small problem with 125 and 729 dofs, so I think we should be able to reduce the work. What I don't like in the code is this part:
https://github.com/dealii/dealii/blob/ea67b44dc1891da7aab1648f6c6f71143f7c7803/source/

[2020-04-29 23:27] #9933 closed

[2020-04-30 00:20] tjhei commented on #9989
and it is itself inside a loop of all matching cells.

I checked and unsurprisingly, it is the last step in the test that is slow (3min without load on the machine). I noticed that the line
https://github.com/dealii/dealii/blob/ea67b44dc1891da7aab1648f6c6f71143f7c7803/source/non_matching/coupling.cc#L857
is executed 2 million times for that.

.. and that can be combined with refining fewer times a

[2020-04-30 08:59] #9889 closed

[2020-04-30 14:45] drwells commented on #9989
Fixed by #9992.

[2020-04-30 14:48] kronbichler commented on #9989
We have addressed the test, but I'm not sure if we have addressed the underlying issue of a high complexity. Is someone with insight into the code wanting to have thought?

[2020-04-30 14:50] drwells commented on #9989
Reducing the total number of global refinements and number of quadrature points should lower the total compute time by a factor of 12 so I assumed we could close this. Should we keep this open until we figure out if there is a better algorithm?

[2020-04-30 14:52] drwells commented on #9989
Lets keep it open :)

[2020-04-30 16:13] nfehn commented on #9903
i guess this issue can also be closed now?

[2020-04-30 18:18] #9903 closed

[2020-04-30 20:40] rezarastak opened #9995 "Possible memory leak with Zoltan package in release mode"
I ran the whole testsuite on my ubuntu 18.04 machine and submitted the results to [here](https://cdash.43-1.org/buildSummary.php?buildid=5920).

When my machine started the test `zoltan/zoltan_04.release`, it quickly exhausted my 24GB ram and consumed an additional 12GB of my swap space until I had to kill the process. That is why it shows the abort signal in [here](https://cdash.43-1.org/testDeta

[2020-04-30 20:47] rezarastak commented on #9995
The outcome of running this test is not always repeatable. Sometimes it eats the ram out of control. However, sometimes it fails with this message.
[code]

[2020-04-30 21:01] jppelteret commented on #9971
OK, so I figured out my mistake. It is incorrect to call `copy_data=0` inside of a `boundary_worker`. If you arrive at a cell that has two or more faces on the cell, then the same `copy_data` is used on those faces. So resetting it somewhere along the way is clearly impermissible.

I propose that we remove [`CopyData::operator=`](https://dealii.org/developer/doxygen/deal.II/structMeshWorker_1_1Cop

[2020-04-30 21:08] tjhei commented on #9971
I will let @luca-heltai comment on this but I also don't see a reason to clear out a CopyData object.

[2020-04-30 21:09] #9972 closed

[2020-04-30 21:20] jppelteret commented on #9971
If we do decide to remove it, should we deprecate the function or just get rid of it outright and add an incompatibility entry? I'm in favour of the latter, since this is potentially dangerous and could let to erroneous results if you do something stupid like I did.

[2020-04-30 21:27] bangerth commented on #9971
I remember that we had that discussion recently with @tjhei, but I don't remember which PR that was in -- maybe a new tutorial program (12?)?

In any case, the paragraph in the documentation of `mesh_loop()` got in there for precisely this reason: The `copier` is reset at the beginning of working on one cell, and is not reset (nor should be reset) between faces. I too thought that that was confusi

[2020-04-30 21:28] bangerth commented on #9971
Which function specifically do you refer to that you want to remove?

[2020-04-30 21:30] jppelteret commented on #9971
I propose that we remove [`CopyData::operator=`](https://dealii.org/developer/doxygen/deal.II/structMeshWorker_1_1CopyData.html#ade60931cf6448124c79f04016f471c5d).

[2020-04-30 21:31] rezarastak commented on #9995
`zoltan/zoltan_04.debug` also behaves similar to `zoltan/zoltan_04.release`

[2020-04-30 21:32] bangerth commented on #9971
Oh, I had assumed that `CopyData` is a template argument type :-)

But that won't work:
https://github.com/dealii/dealii/blob/master/include/deal.II/meshworker/mesh_loop.h#L271

[2020-04-30 21:33] jppelteret commented on #9971
Yes, I see it somewhere there :-D

<img width="1671" alt="Screen Shot 2020-04-30 at 23 31 15" src="https://user-images.githubusercontent.com/10460610/80761440-dc621180-8b3a-11ea-8f34-b1c8e26ac0fb.png">

It was actually just bad luck. The critical sentence was just pushed off the page, so it didn't catch my attention when I was skimming through the docs.

[2020-04-30 21:40] masterleinad commented on #9995
Hmmm... all the other regression tests for this one pass, though (https://cdash.43-1.org/testSummary.php?project=1&name=zoltan%2Fzoltan_04.release&date=2020-04-28). It looks like the other setups use 12.14 and 12.18 while you are at 12.12. Maybe, that's the issue?

[2020-04-30 21:40] jppelteret commented on #9971
@bangerth I think that we're getting mixed up. I was suggesting that we remove the one that takes in a `double` as an argument (mirroring `cell_matrix=0;`).
[code]
But I can also see your point, that a user could in principle just use the copy constructor. Could we somehow these private and make `mesh_loop` a friend that may invoke the copy constructor?

[2020-04-30 21:42] jppelteret commented on #9971
Yes, I can do that.

[2020-04-30 21:43] rezarastak commented on #9995
Okay I will try again with a newer Trilinos installation and I will report the results. Thanks!

[2020-04-30 21:45] bangerth commented on #9971
Oh, I missed that there are multiple. Yes, we can `=delete` the one that takes a double as argument. Or just remove it.

[2020-04-30 22:13] masterleinad commented on #9971
You might also just be able to define some `copy_from` function as we do in other classes.

[2020-04-30 22:17] jppelteret commented on #9971
Thanks for the suggestion @masterleinad. The one drawback with that is that you can inherit from `CopyData` and then inject your own data structures into the class. We'd then have to make `copy_from` virtual and expect the user to write a proper copy function that invokes the base class's. Then again, I guess its much of the same with the copy constructor...

[2020-04-30 22:18] bangerth commented on #9971
On 4/30/20 4:14 PM, Daniel Arndt wrote:

That doesn't solve the problem. People might still be tempted to do something
like 'copy_object.cell_matrix = 0'. The problem isn't going away by removing
the operator.

[2020-05-01 03:57] bangerth opened #10000 "Create alias for std::ranges::views::iota_view"
We have started to use `boost::irange` in a number of places. For example, #9990 and #9987 add members to `FEValues`. `GeometryInfo` gained some uses in #9415 and #9622.

But I think of `boost::irange` as only a temporary solution -- C++20 has `std::ranges::views::iota_view`. I wonder whether we should do as we've done in other cases: Put a header file into `include/deal.II/base/std_cxx20` that ei

[2020-05-01 03:58] bangerth commented on #10000
I gave you all every chance to get the 10,000. Looks like you're all just hanging out at home watching TV or something!

[2020-05-01 07:45] kronbichler commented on #9756
Let's move this, I do not want to do this remotely at this point.

[2020-05-01 10:21] kronbichler commented on #8905
With #10004, we have a warning for the user that avoids the problem. A proper resolution of this issue is
- some cleanup in the setup of the refinement edges to make their boundary indicator appear in the face loops so a user can add appropriate face integrals with a suitable id,
- to provide a *separate* matrix-free object on refinement edges that specifically takes the coupling terms into accoun

[2020-05-01 10:25] kronbichler commented on #10000
I like this setup - `std` is the way to go as it is available.

[2020-05-01 10:32] kronbichler commented on #6433
Anyone interested in this feature - if not, we should move this to the 9.3 milestone.

[2020-05-01 10:35] luca-heltai commented on #6433
I agree. I think I'm the only one who noticed this. I have left marks in the codes where this is used, that can be updated when the feature is implemented.

[2020-05-01 13:15] masterleinad commented on #10000
Since there are no releases that support `ranges`, I would at least wait for after the release to do this.

[2020-05-01 14:17] tjhei commented on #10000
... and you wasted it for this?!? :-)

[2020-05-01 14:19] #9989 closed

[2020-05-01 14:20] bangerth commented on #9009
By the way, wasn't there a comment above that said that this also happens for matrices that are so small that we don't even call BLAS?

[2020-05-01 14:21] #9009 closed

[2020-05-01 14:22] bangerth commented on #10000
On 5/1/20 8:17 AM, Timo Heister wrote:

Did you think I have an epic re-implementation of the Triangulation class in
my pocket? I'm an opportunist -- every petty issue is good enough for me to
claim that #10000!

[2020-05-01 14:23] kronbichler commented on #9009
We had this comment, yes, but what happened (at least for my experiments) is that while we don't use LAPACK for the matrix inversion, we use it for the subsequent matrix-matrix multiplication (`dgemm`), so it was the same context any way. And since mat-mat multiplication is faster than the inversion, serializing the inversion also serializes the mat-mat multiplication afterwards and makes the prob

[2020-05-01 14:33] bangerth commented on #9009
Oh, good analysis. Yes, thanks!

[2020-05-01 14:41] luca-heltai opened #10006 "Instantiate all OpenCASCADE classes also for dim=2, spacedim=2"
Some of these are still missing. It should be relatively straight forward to do.

[2020-05-01 15:30] tjhei commented on #10000
implementation of triangle support maybe? :-)

[2020-05-01 15:44] bangerth commented on #10000
On 5/1/20 9:30 AM, Timo Heister wrote:

That would have been worth the number. #2000 was also a good one in this regard.

[2020-05-01 20:30] tamiko opened #10008 "Compilation failure with current development version of ginkgo"
https://cdash.43-1.org/viewBuildError.php?buildid=5961

[2020-05-01 20:30] rezarastak opened #10009 "Some improvements for project_onto_orthogonal_tensors"
I looked into the function [project_onto_orthogonal_tensors](https://dealii.org/developer/doxygen/deal.II/classTensor.html#af4119f350cc384d64433dd9d325dc412), introduced in #9580, and I like the functionality it provides. It is a great addition to the new release of dealii.

However, I found areas that can be improved:
 - [x] It is tested within `tests/tensors/constexpr_tensor.cc` but this functio

[2020-05-02 20:14] tamiko opened #10016 "Compatibility with current symengine dev version"
I have uniform fallout with the current development version of symengine, trying again locally with version 0.6.0:
  https://cdash.43-1.org/viewTest.php?onlyfailed&buildid=5978

[2020-05-02 20:29] jppelteret commented on #10016
I'm going to be doing a version bump for SymEngine in an upcoming PR, so if the tests pass with 0.6 then I'd say that you shouldn't worry about any failures.

[2020-05-02 22:33] bangerth opened #10017 "operator << (std::ostream&, const Vector &) does not respect stream settings"
In the process of a difficult to trace test failure, I came across the following oddity:
[code]
which calls this function:
[code]

In other words, calling
[code]
does not respect the precision and other settings of the stream. This took me a rather long time to figure out because I needed to increase the precision with which one test outputs its results and I just wasn't getting any results.

Prop

[2020-05-03 02:01] iiamdone opened #10023 "Error when Using deal.II on native Windows"
Dear all:
i meet a problem when i try to complier dealii on Windows, i follow exactly the way:
[code]
But there turn out an error:
[code]
i am sorry for if this is a basic question. can you give me some advice to deal with this problem.
Many thanks

[2020-05-03 02:40] masterleinad commented on #10023
It looks like you missed the two dots at the end. It should be
[code]
if you have a newer version you would do
[code]

[2020-05-03 02:43] tamiko commented on #10016
@jppelteret On my laptop version symengine-0.6 is fine verifying on the tester now.

[2020-05-03 07:09] jppelteret commented on #10016
Agreed 100%. In the past I had a lot of test breakages between versions. It was often due to the terms in expressions being reordered, or some optimisations being done leading to simplifications in the expressions. Without seeing the test results, its hard to say if that's the case here. If so, and these become be a huge pain, then I'll just convert the tests to be numeric in nature and will outpu

[2020-05-03 10:38] iiamdone commented on #10023
Thanks  masterleinad

As your advice i add up two dots and new error comes up,

the command i input:
`d:\dealii\build>cmake -G"Visual Studio 15 2017 Win64"..`

error shows:
`CMake Error: Could not create named generator Visual Studio 15 2017 Win64..`

And my CMAKE version is 3.17.2 , Visual studio version is 2017

many thanks，

[2020-05-03 13:05] masterleinad commented on #10023
It's hard to diagnose the problem here remotely. You might get away with omitting to specify the generator and just do
[code]

[2020-05-03 13:28] jppelteret commented on #10023
Could it be that there's no space between the last `"` and `..`?

[2020-05-03 14:27] iiamdone commented on #10023
Thanks masterleinad and jppelteret.

The problem have solved by i edit  `CMAKE - Tools - generate and set the default generator to "Visual Studio 15 2017" `and it was success to build.
and i try  `d:\dealii\build>cmake -G "Visual Studio 15 2017 Win64" ..`again it was success too.

it is a very basic question and thanks again for both of you for the time.

[2020-05-03 17:31] jppelteret commented on #10016
Oh, these results do not look good at all...
[code]
[code]
Those both look like one of the evaluation methods (probably the `LambdaOptimizer`) is not producing the correct results. But it seems to work properly with some compilers but not others (the newer ones), right?

The last test, `basic_06`, _might_ be failing due to a reordering of terms. So I should then look into the other tests to see if

[2020-05-03 21:01] tamiko commented on #10023
@iiamdone You're welcome. Closing now :smile:

[2020-05-03 21:01] #10023 closed

[2020-05-04 01:59] rezarastak commented on #9995
It seems that @masterleinad's diagnosis is perhaps correct. I am getting the same error as trilinos/Trilinos#1010 , which possibly means my OpenMPI version (3.1) is too new and my trilinos version (12.12) is too old.

I didn't install these packages by candi or spack. I used the ubuntu [package](https://launchpad.net/~ginggs/+archive/ubuntu/deal.ii-backports) `libdeal.ii-dev` from a PPA repository

[2020-05-05 03:51] bangerth commented on #10009
Let's bring @MFraters into the picture :-)

[2020-05-05 04:32] MFraters commented on #10009
@bangerth Thanks for involving me :)

@rezarastak, these are great proposals and I think you are correct that it is best done incrementally. This code can certainly use improvement and I will be following this with interest!

Point 5: Yes, that was something we left open.

Point 6: Like I said in #10033, I don't think it is correct to just remove the tolerance parameters, but let's discuss it in t

[2020-05-05 14:14] masterleinad commented on #10009
This function is projecting a tensor onto the space of orthogonal tensors and I am pretty sure that is the reason for @bangerth suggesting the name.

[2020-05-05 14:23] bangerth opened #10037 "Coupling bulk and surface processes"
On my long-term to do list (as part of the Integrated Earth project) is to implement algorithms and data structures to allow coupling bulk and surface processes. For sequential computations, this shouldn't be too difficult, but for parallel computations the fact that surface and bulk meshes are independently partitioned is going to lead to some headache when one needs to exchange the relevant data

[2020-05-05 14:27] bangerth commented on #10009
Yep, like @masterleinad says. (Except it's not a space but just a set -- think of it like the surface of a ball.)

[2020-05-05 14:28] bangerth commented on #10037
@starki0815 mentioned in https://github.com/dealii/dealii/pull/10036#issuecomment-624034416 that he's been doing something like this already. @starki0815 -- can you explain what you had to implement to make this work?

[2020-05-05 15:43] starki0815 commented on #10037
Well, then we have a common interest :)

Last year I have written a library, which automates most of the assembly work for standard Galerkin based finite element formulations based on deal.II (basically, it allows to define the weak form and then assembles automatically). One of the main goals was to allow for different domain portions with different physics and, also, interfaces associated with u

[2020-05-05 17:53] rezarastak commented on #10009
Okay, now I understand the name better. The current name is reasonable and we can keep it. We can also think of alternative names such as `closest_orthogonal_tensor` or `orthogonal_projection`

[2020-05-05 18:00] bangerth commented on #10037
Nice, thanks for providing some links already! This will have to wait until after my semester is over, but then I'll take a look and we collaborate on it!

[2020-05-05 18:03] jppelteret commented on #10037
Cool stuff!

[2020-05-05 22:07] bangerth opened #10043 "Tutorial introducing particles (step-68?)"
There is currently no tutorial that shows how to create simulations that use `ParticleHandler`. step-70 (see #9078) uses particles but in a non-trivial way, and it would be useful to have a more introductory way to show what the `ParticleHandler` class is about and can do.

In a comment (https://github.com/dealii/dealii/pull/9078#issuecomment-623132157) @blaisb mentions that he and @tonielgeitani

[2020-05-06 00:46] blaisb commented on #10043
Absolutely.
I slightly disagree with you in the fact that step-70 uses particles in a trivial way. I think it uses particle in a non-typical fashion by coupling particles to distributed vectors. Even the passive tracer are moved using this vector structure which I believe is also a non-typical use of particles (e.g. in Aspect the particles are moved one by one using the cell they are in by looping

[2020-05-06 03:23] rezarastak commented on #2004
I am planning to use `DiscreteTime` within the implementations of many algorithms that use time-stepping. `DiscreteTime` is designed to be algorithm-agnostic and can be used in many situations. The transformation of the implementations might take a some time but hopefully it can be done before 9.3 release.

[2020-05-06 03:58] #9971 closed

[2020-05-06 04:06] bangerth commented on #10043
I mis-spoke when I said that step-70 uses particles in a rather trivial way. I really meant "non-trivial" (edited above) and that is of course the rationale for having a simpler tutorial program.

I think your plan is good. Maybe we should have two tutorial programs. Let's see who finds time to make it happen -- I'm looking forward to seeing what you have!

[2020-05-06 13:11] #9928 closed

[2020-05-06 15:33] #10017 closed

[2020-05-07 01:30] blaisb commented on #10043
Perfect.
So the current optimistic time-line is to have an initial version before the hackathon, but early june might be more realistic. This will be @tonielgeitani and I first step from scratch, so reviews will be very much appreciated :).

[2020-05-07 01:40] bangerth commented on #10043
Oh, take your time -- there is really no rush on this!

[2020-05-07 03:46] #9988 closed

[2020-05-07 07:25] peterrum commented on #10043
@blaisb I would recommend that you reserve the number 68 by a WIP PR (as was done in #8229).

[2020-05-07 07:32] peterrum opened #10057 "Introduce a function indicating the compiler that a number is a power of 2"
In #10012, following lines of codes were inducted:
[code]
This code *tells* the compile that the non-static number `vectorization_length` is a power of 2.

It might be useful to convert these lines to a always-inline utility function and use it at places at which `VectorizedArrayType` is not a template argument. See also the discussion in https://github.com/dealii/dealii/pull/10012#discussion_r421

[2020-05-07 12:14] bangerth opened #10058 "Convert FEValuesBase::dof_indices_*() to std_cxx20::ranges::iota_view"
We need to adapt the functions introduced in #9990 in the same way as we do with the other functions in #10018 .

[2020-05-07 15:20] kronbichler commented on #1894
I adjusted the target milestone for the remaining pieces (DataOutFaces, DataOutRotation).

[2020-05-07 20:22] tjhei commented on #7428
or #8603 for the test itself.

[2020-05-07 20:28] drwells commented on #8914
I haven't had time to work on this and its not critical so lets move this off 9.2.

[2020-05-07 21:02] tjhei commented on #7428
@tamiko : #8603 still fails with p4est/develop

[2020-05-07 21:46] kronbichler commented on #9729
We plan to branch off to the release branch on Wednesday May 13. To give some time to review the open 47 pull requests/issues and reschedule some of them, I suggest to bring up all pull requests that are not purely bug fixes that target the 9.2 release within the next 32 hours, i.e., until the end of May 8.

[2020-05-08 01:00] tamiko opened #10072 "deal.II Release 9.2.0 (released 2020/05/20)"
<b>Release [9.2.0](https://github.com/dealii/dealii/releases/tag/v9.2.0)</b>
===
 - [generated documentation](https://dealii.43-1.org/documentation/9.2.0)

Check list for [release-tasks](https://github.com/dealii/release-papers/blob/master/release-tasks)
===

Release preparation steps:
--

- [x] <b>-3</b>  Send out notice to the mailinglist if anyone has outstanding issues or patches. (@drwells)
-

[2020-05-08 01:02] tamiko commented on #10072
@bangerth This should have been issue number 10000 :smile_cat:

[2020-05-08 01:05] tamiko opened #10073 "deal.II Release 9.2.0 - Testsuite status"
Jenkins CI:
---
Linux: [![Build Status](https://jenkins.tjhei.info/job/dealii/job/dealii-9.2/badge/icon)](https://jenkins.tjhei.info/job/dealii/job/dealii-9.2/)   OSX: [![Build Status](https://jenkins.tjhei.info/job/dealii-OSX/job/dealii-9.2/badge/icon)](https://jenkins.tjhei.info/job/dealii-OSX/job/dealii-9.2/)   tidy: [![Build Status](https://jenkins.tjhei.info/job/dealii-tidy/job/dealii-9.2/bad

[2020-05-08 01:05] tamiko commented on #10073
(comment reserved)

[2020-05-08 02:09] drwells commented on #10072
Do we want to increment to 10.0.0 after this release? We discussed this on the call today and, if I recall correctly, no one explicitly opposed it.

[2020-05-08 04:19] bangerth commented on #10072
Ha, yes, *that* would have deserved the 10,000!

I wasn't on the call at that point (sorry, guys) but once we bump to 10.0.pre, you can't go back to 9.3.pre any more if we decide that the next release isn't worth the major version number upgrade. My preference would be to stick with the 9.x scheme unless we have a good reason to actually *want* a new major version number. (I suspect that you *had*

[2020-05-08 06:37] jppelteret opened #10082 "Revisit and simplify SymEngine test output"
Try as much as possible to limit the amount of symbolic output, and focus on numerical values instead. Although it was good for initial development, the symbolic output may potentially vary with each new release of SymEngine and may be affected by machine setup as well.

[2020-05-08 11:02] kronbichler commented on #8658
While probably not difficult to address, there seems no activity here, so I'm postponing to the next release.

[2020-05-08 11:05] kronbichler commented on #4092
I guess we do not have the resources to fix this for the release. Adjusting milestone here and in #7970.

[2020-05-08 11:06] kronbichler commented on #7053
Postponing.

[2020-05-08 11:07] kronbichler commented on #7191
@Rombur any action necessary here?

[2020-05-08 11:10] kronbichler commented on #9271
@bangerth any plans to still work on that for the release? If not, please adjust the target milestone.

[2020-05-08 11:11] kronbichler commented on #9341
Not high priority, so I'm postponing it.

[2020-05-08 11:23] kronbichler commented on #9684
@Rombur should we postpone?

[2020-05-08 12:34] Rombur commented on #9684
I'll try to take a look this week end

[2020-05-08 12:35] Rombur commented on #7191
No, I don't think so

[2020-05-08 12:45] bangerth commented on #7191
I think what the example shows is that the example step-52 solves is not well chosen. The solution *may* not be constant, but it *looks* constant. We ought to fix that eventually.

[2020-05-08 13:16] tjhei commented on #10072
We were chatting about some bigger changes that might happen after this release (merge hp and non-hp dofhandler, bigger linear algebra changes, etc.). This might justify breaking a few things and calling it a new major release.

But I agree, we should bump to 9.3.pre because this allows us to delay this decision.

[2020-05-08 13:19] agrayver opened #10085 "p::f::t crash with a multi-level mesh"
I try to construct a p::f::t like that

[code]

And I get:

[code]

Here is a callstack:
[code]

I attach the triangulation file (17k cells).
[tria.zip](https://github.com/dealii/dealii/files/4599129/tria.zip)

[2020-05-08 13:20] masterleinad opened #10086 "opencascade/stl_* failing"
The opencascade/stl_* tests are all failing on all configurations in the CI, but locally it works for me with oce 6.9.1. The CI is using `OPENCASCADE_VERSION: 6.8.0`. We might want to restrict the version for that feature.

[2020-05-08 13:30] peterrum commented on #10085
Thanks for the bug report! I will try to fix this asap.

[2020-05-08 14:22] tjhei opened #10088 "boost 1.73 compile issues"
I am seeing
[code]
will investigate...

[2020-05-08 14:34] peterrum commented on #10085
@agrayver Do you have any info how the base triangulation was created?

[2020-05-08 14:48] tjhei opened #10090 "boost placeholder warning with 1.73"
I am getting the following warning (many times):
[code]
which is silly, because we only include json_parser, which includes the deprecated header.

I guess our only option is to set this define mentioned above.

[2020-05-08 14:55] bangerth commented on #10090
Yes.

[2020-05-08 15:24] #8920 closed

[2020-05-08 15:41] #9689 closed

[2020-05-08 15:43] peterrum commented on #10085
@agrayver I have create a patch (see PR). Thanks for reporting the bug! Please keep on reporting the remaining `p:f:t` bugs! Only by using in by me unexpected circumstances, we will be able fix all remaining bugs!

[2020-05-08 15:44] tamiko commented on #10086
The testsuite (bob) usess opencascade version 7.4.0 (the non-oce version) - that's also the same version bundled in Debian/Ubuntu and Debian/Ubuntu recently moved away from oce altogether.

[2020-05-08 15:49] masterleinad commented on #10086
@luca-heltai What are you using?

[2020-05-08 16:32] #10088 closed

[2020-05-08 17:10] #10090 closed

[2020-05-08 22:52] #10085 closed

[2020-05-09 00:52] #9405 closed

[2020-05-09 06:26] kronbichler commented on #7191
You are right, but I guess this is not time-critical, so I suggest to move the target milestone to the 9.3 release.

[2020-05-09 06:44] kronbichler commented on #9729
Apart from the pull requests that are open and either wait to be reviewed or to get the review comments fixed, the following issues with the 9.2 milestone need our attention:
- #6625 will likely get postponed, unless @tamiko makes a heroic effort or assigns someone else to do that
- #7922 - we might probably ignore it once @luca-heltai confirms, it could be that some fixes in the meantime have res

[2020-05-09 08:30] jppelteret opened #10104 "Modules for pre- and post-processing"
This relates to @bangerth's [recent comment](https://groups.google.com/d/msgid/dealii/f5d39635-4854-96b6-be11-99ee420754a9%40colostate.edu) on the forum. I had absolutely no idea that this class existed, and could have used it on many occasions. It got me wondering: Should we made two new modules that collect up all of the classes that could be useful for pre- and post-processing?

[2020-05-09 10:54] agrayver commented on #10085
Thanks for addressing this so quickly.

[2020-05-09 11:01] peterrum commented on #10085
@agrayver You are welcome! Could you nevertheless answer the question how you have created the file? Are you running adaptive simulations, in which you adapt the serial mesh, and then copy the result to p:f:T? I am curios, what the source of this huge mesh and the last one was!

Maybe that gives me also a hint why the mesh was not accepted. I know there was a bug, but it has accepted other meshes

[2020-05-09 11:07] agrayver commented on #10085
This was a hyper_cube with two global refinements and adaptive refinement at a material interface. The mesh was created in python, saved and then loaded within a C++ program.

[2020-05-09 11:15] peterrum commented on #10085
Have you done the same steps in C++? Maybe there s.th. I am missing... Could you share your Python code here. If not, could you send me it per mail? I am honestly puzzled by this issue since. I would like to understand it better, since I have the feeling that I have somewhere a faulty assumption.

[2020-05-09 11:31] agrayver commented on #10085
Here is the code that reproduces the mesh:

[code]

[2020-05-09 15:49] dsambit opened #10105 "Compilation issue in mapping_info.templates.h (version 9.2.0-pre)"
I am trying to compile the current master branch (pulled in an hour back) using intel 18 compiler and cmake/3.13.2 (see attached [detailed.log](https://github.com/dealii/dealii/files/4603943/detailed.log)), but I get the following error

I used the following cmake line:
cmake -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_Fortran_COMPILER=mpif90 ../dealii

[2020-05-09 15:57] peterrum commented on #10105
@dsambit May I ask you to attach the complete error output. Thanks.

[2020-05-09 16:10] dsambit commented on #10105
@peterrum Sure!

[2020-05-09 16:33] bangerth commented on #10104
There is already this: https://dealii.org/developer/doxygen/deal.II/group__IO.html  Maybe it could be keyed off it as a sub-module?

[2020-05-09 16:36] peterrum commented on #10105
I must admit I don't see the problem. Maybe you could try out this diff:
[code]

[2020-05-09 20:39] peterrum commented on #10085
@agrayver I am currently implementing your code in C++ and reading through your code. One suggestion to it:
[code]
I'd wish there would be s.t. like this also in C++ ;)

[2020-05-09 23:02] luca-heltai commented on #10086
@nicola-giuliani , I thought we solved this. Would you mind taking a look?

I'm using OCE 0.18.3 (through spack).

[2020-05-09 23:14] luca-heltai commented on #7922
The example you refer to is for `find_closest_vertex`, not `find_closest_vertex_of_cell`. The second function is used in the ParticleHandler class (@gassmoeller, you may be interested in this as well). It should take an additional mapping argument, otherwise the returned result makes no sense whenever a MappingFEField or MappingQEulerian is used.

[2020-05-09 23:15] luca-heltai commented on #7922
Incidentally, `find_closest_vertex` works correctly.

[2020-05-10 00:29] luca-heltai commented on #7922
Addressed in #10108

[2020-05-10 00:42] luca-heltai commented on #9729
#7922 - I confirm it is an issue. I opened a PR to fix it (it was an easy fix). This will make all codes that use mapping + compute point locations + particles much faster.

[2020-05-10 01:42] tjhei commented on #10105
I will look at intel compilation in the next few days.

[2020-05-10 05:53] kronbichler opened #10109 "Order of arguments in GridTools::compute_aspect_ratio_of_cells"
When looking at #10108 I realized that we place the `Mapping` argument either first, like for `find_closest_vertex` or the various `find_active_cell_around_point` functions, or last to support a default argument of type `MappingQ1`. The one function that sticks out are the newly added `compute_aspect_ratio_of_cells` and `compute_maximum_aspect_ratio` that place the `mapping` argument after the `tr

[2020-05-10 06:05] peterrum commented on #10109
I think it is more common to have mapping in the first place: e.g. `MatrixFree` and `VectorTools`.

[2020-05-10 06:16] #10000 closed

[2020-05-10 06:29] kronbichler commented on #9729
I will now post updates in the top post with a tick list. Feel free to add topics there or to tick them once we are done with a topic.

[2020-05-10 07:10] agrayver commented on #10085
indeed, this is better!

Well, [ boost::adaptors::indexed](https://www.boost.org/doc/libs/1_73_0/libs/range/doc/html/range/reference/adaptors/reference/indexed.html) :)

[2020-05-10 07:39] nfehn commented on #10109
changes probably make sense if this is the deal.II standard

[2020-05-10 08:37] #10105 closed

[2020-05-10 08:58] peterrum commented on #10085
OK. Now I understand it. It is not guaranteed that `tria.cell_iterators_on_level (level)` iterates through the cells in the right order. The reason is that there are two types of level cells on level l+1.
- Type 1) created by refinement of cells on levels l
- Type 2) created by indirectly by smoothing condition

The first category of cells is created first (put first in the internal arrays) and as

[2020-05-10 11:41] #7922 closed

[2020-05-10 12:24] kronbichler opened #10114 "[step-50] Missing references in introduction"
I observed that there are (at least) two spots in the introduction of the new step-50 tutorial program where a proper reference is missing (I overlooked that in the final review), marked `CITE EST PAPER` and `CITE MG PAPER`. I think the former is Karakashian and Pascal. Furthermore, the tutorial needs to be re-classified:
https://github.com/dealii/dealii/blob/c263c822384df26821c770e92f36fc93799547

[2020-05-10 13:54] marcfehling opened #10115 "New feature: VectorNorm for fixed_fraction refinement."
For fixed fraction refinement, we concatenate refinement criteria of multiple cells to decide which ones will be refined.

Right now, we invoke the `l1`-norm to estimate the total error and the error on subsets of cells. This is sufficient for refinement heuristics, however users may invoke a different norm in this context, especially the `l2`-norm to reconstruct results from the original paper of

[2020-05-10 13:57] tjhei commented on #10114
Will fix that.

[2020-05-10 15:09] tjhei opened #10119 "linker errors with Intel compiler"
I see errors like
[code]
I will investigate.

[2020-05-10 15:11] #10114 closed

[2020-05-10 15:28] jppelteret opened #10120 "Compiler warning in matrix free task_info.cc"
[code]

[2020-05-10 15:29] jppelteret commented on #10120
I just rebased on c263c822384df26821c770e92f36fc93799547ab and saw this warning. Sorry for the noise if its already been noted / fixed.

[2020-05-10 15:33] jppelteret commented on #10104
Yes, that's a good idea and definitely seems like the right place to put it. Its nice that the "Graphical Output" submodule already has the DataPostprocessor[Scalar/Vector/Tensor] classes listed there.

[2020-05-10 15:47] tjhei commented on #10109
yes, sounds good!

[2020-05-10 19:39] #10119 closed

[2020-05-10 20:56] tamiko commented on #9212
Let's close for now :-)

[2020-05-10 20:56] #9212 closed

[2020-05-10 20:58] tjhei commented on #10072
I can confirm that we now build cleanly with:
[code]

[2020-05-10 20:58] #10120 closed

[2020-05-10 21:17] #8198 closed

[2020-05-10 21:28] tamiko commented on #6625
I will try to work on this during our current release :-)

[2020-05-10 21:31] tamiko commented on #9729
@kronbichler I will work on #6625 after our current release when I package for debian/ubuntu.

[2020-05-10 21:58] tamiko commented on #10072
I have just set up 19.1.1.217 on bob. Compilation succeeds - the test
results of the dozen tests I ran scared me. I will enable the variant
for the next test run.

[2020-05-10 21:59] #10109 closed

[2020-05-11 00:51] krishnakumarg1984 commented on #9684
@bangerth and @kronbichler  Can you also please take a look at the issue wherein with adaptive RK methods, the simulation does not stop at exactly the final time-step?

[2020-05-11 01:23] rezarastak commented on #9684
kind of stretching.

Yes! By using `DiscreteTime` we can ensure that in all cases, the time-stepping ends exactly at the final time. Perhaps that would allow more consistent comparison of the performances of the solvers.

[2020-05-11 06:17] #9426 closed

[2020-05-11 07:22] nicola-giuliani commented on #10086
@luca-heltai  we should have solved this, in fact the CI was running fine after @tamiko took a look at it.

[2020-05-11 13:15] kronbichler commented on #9914
Anything we want to do here for the release? I think a page like [this](https://dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html) confuses users. Besides trying `HIDE_UNDOC_MEMBERS`, we could selectively add `#ifndef DOXYGEN`.

[2020-05-11 14:24] simonsticko opened #10137 "dealii.org Certificate Expired"
It seems that the certificate of the website has expired. Trying to reach it gives the following error:

![image](https://user-images.githubusercontent.com/9609727/81572604-b2fb7e00-93a3-11ea-807d-c6f902fa27c6.png)

[2020-05-11 14:29] jppelteret commented on #10137
Thanks for the report. I [noted](https://github.com/dealii/dealii/pull/10134#issuecomment-626726252) the same as well. Hopefully we'll get this fixed promptly!

[2020-05-11 14:55] tamiko commented on #10137
@guidokanschat *ping*

[2020-05-11 15:02] tjhei commented on #10137
Guido fixed it.

[2020-05-11 15:02] #10137 closed

[2020-05-11 15:19] tjhei commented on #10072
Yeah, there have been really scary incorrect optimizations in the past. Do you want to share some to look into?

[2020-05-11 15:42] tamiko commented on #10072
@tjhei The testsuite (aka bob) should be done in about 8-10h. We will have a detailed testsuite run then.

[2020-05-11 15:52] bangerth commented on #10115
Good plan!

[2020-05-11 16:05] tjhei commented on #9914
I tried, but changing HIDE_UNDOC_MEMBERS back to YES doesn't work. Stuff is still there. :-(

[2020-05-11 16:52] #10086 closed

[2020-05-11 17:18] drwells commented on #9914
I think the cure for #7730 is worse than the disease - unless we have a fix I believe it is preferable to revert #9855. Thoughts?

[2020-05-11 17:56] tjhei commented on #9914
or we disable .cc parsing and keep the current settings...

[2020-05-11 19:04] tamiko opened #10146 "Compilation failure with gcc-4.9.4"
@kronbichler *ping*, @bangerth *ping*

With the latest changes on the matrix-free code we are now failing to compile with gcc-4.9.4 with an internal compiler error.
https://cdash.43-1.org/viewBuildError.php?buildid=6296

I will try to work around this issue in a moment - I think it is valuable to maintain gcc-4.9.4 compatibility, at least for this release.

Might be related to our old friend: http

[2020-05-11 19:12] bangerth commented on #10146
Do we know which patch caused this?

[2020-05-11 19:20] bangerth commented on #9914
I'd really like to keep the parsing of .cc files. Didn't someone (@masterleinad?) do a lot of work of explicitly hiding template specializations already? I think we should do the same here.

[2020-05-11 19:32] masterleinad commented on #9914
I was hiding everything in source files doxygen was complaining about I couldn't fix. The problem here is rather to find all the places we are thinking that are messed up. Of course, I still agree that hiding itself is OK.

[2020-05-11 20:10] kronbichler commented on #10146
Would it help if we create a separate variable for the template argument,
[code]
The code in question comes from #9656, but that has been merged for a while. Where we failing since March 28? Or was it only the combination with the recently merged #9835 that triggered the ICE?

[2020-05-11 20:36] tamiko commented on #10008
@ginkgo-project *ping*

[2020-05-11 20:43] kronbichler commented on #7428
We need to investigate this topic systematically on our meshes to see if we have some wrong translations between the deal.II and p4est data structures or there is a problem somewhere else.

[2020-05-11 21:14] tjhei commented on #9942
do you have an example of a page linking to it?

[2020-05-11 21:18] rezarastak commented on #9942
@tjhei For example in [this](https://dealii.org/developer/doxygen/deal.II/namespacenumbers.html) documentation page you can see the words `bool`, `int` and `double` are hyperlinks to empty doc pages.

[2020-05-12 02:16] Rombur commented on #9684
Which time does the simulation stop for you? It works correctly for me on the current master. These [lines](https://github.com/dealii/dealii/blob/master/examples/step-52/step-52.cc#L626-L627) should make sure that we get the exact final time. I am not sure why it wouldn't work.
As for the difference in errors, I have re-run with gcc 8.0 and an updated version of clang 10 with Ofast (I was using a

[2020-05-12 05:18] kronbichler commented on #9914
I guess #10147 solves the problem at hand, which is the only place where I had the impression something needed to be done. I suggest we close this issue here and take subsequent topics we find on a case-by-case basis, given that the global settings seem to reflect the current consensus.

[2020-05-12 05:18] #9914 closed

[2020-05-12 05:56] #10146 closed

[2020-05-12 09:10] #9597 closed

[2020-05-12 13:50] tamiko commented on #10072
@tjhei https://cdash.43-1.org/buildSummary.php?buildid=6316 - this doesn't look good.

[2020-05-12 13:56] masterleinad commented on #10058
I already did that in #10018 because we were missing headers after rebasing.

[2020-05-12 13:56] #10058 closed

[2020-05-12 14:04] tjhei commented on #10072
Wow, those are some interesting problems. Lots of different stuff!

[2020-05-12 14:05] tjhei commented on #10072
It is slow because we use ld, I think.

[2020-05-12 15:10] tjhei commented on #10072
So, something is wrong with your configuration as all MPI related tests fail. On my machine, many of the tests pass (I haven't done a whole run though).

[2020-05-12 15:19] drwells commented on #10072
I'm working on the bounding box failure.

[2020-05-12 15:21] tamiko commented on #10072
@drwells Hold your horses on that one - I think we're good for all sensible compilers.

[2020-05-12 15:22] tamiko commented on #10072
@tjhei Well then, would you mind to shed some light what "on my machine" precisely means? You did recompile the whole dependency tree with icc?

[2020-05-12 15:31] tamiko commented on #10072
@dealii/dealii All, I think we reached a very good state to branch off and tag an rc1. I suggest we wait for #7513 (which is reasonably self contained) and we tag afterwards. We can selectively cherry pick to the release branch afterwards. I suggest we extend the "merge window" by one day to Wednesday next week (because we tag one day earlier).

[2020-05-12 15:33] drwells commented on #10072
@tamiko Would you prefer that we ignore these failures on the release branch?

[2020-05-12 15:34] drwells commented on #10072
(You're right that it's not a big deal - I just want to see what your plan is).

[2020-05-12 15:38] tamiko commented on #10072
@drwells As @tjhei pointed out the test failures above are very likely at least in part also an issue with the environment in the container (I did install icc into my gcc-8 container and did not check whether the openmpi version installed in the container is actually compatible, etc.). My call is to ignore this test result and tag the rc1 now in order to have a known release candidate that everyon

[2020-05-12 15:58] tamiko commented on #10072
@tjhei The build actually uses ld.gold (icc supports that at least in the lastest version). :smile:

[2020-05-12 16:31] peterrum opened #10153 "Create MatrixFree::recategorize()"
to which you can pass a new set of:
- `std::vector< unsigned int > cell_vectorization_category` 
- `bool cell_vectorization_categories_strict`.

In contrast to `MatrixFree::reinit()`, this function would reshuffle the internal data structures (e.g. `MappingInfo`, `DoFInfo`) without having to recompute e.th.

[2020-05-12 17:10] #10006 closed

[2020-05-12 18:14] tjhei commented on #10072
[code]
dependencies compiled with gcc.

[2020-05-12 18:17] kronbichler commented on #7428
One more topic to investigate is the test `distributed_grids/3d_coarse_grid_02.debug`. When building p4est in debug version, we get
[code]
(I see this on a machine where all other tests of the testsuite are passing.) This might be related to the topic observed here.

[2020-05-12 18:31] tamiko commented on #10072
@tjhei Merci!

[2020-05-12 20:11] tamiko opened #10160 "Segfault in tests/manifold_wrapper.py"
I experience a segfault in the python_wrapper component in one of the unit tests. The backtrace is as follows:
[code]

[2020-05-12 20:48] drwells commented on #10160
Yup - I can reproduce this. The problematic statement seems to be `self.manifold_1.create_function("x^2;y^2", "sqrt(x);sqrt(y)")`.

[2020-05-13 01:28] tjhei commented on #10072
- [ ] cherry-pick #10161

[2020-05-13 02:07] luca-heltai opened #10175 "Bug on find_active_cell_around_point for p::d::t."
PR #10174 reminded us that there is a problem in the fast algorithm, so we had to resort to the slow function
[code]
in case the initial search did not succeed. This should be investigated and fixed.

[2020-05-13 03:30] tamiko commented on #9729
Closing now in favor of #10072

[2020-05-13 03:30] #9729 closed

[2020-05-13 06:46] tamiko opened #10180 "Release 9.2.0: unable to generate non-mathjax offline doc"
doxygen bails out with the following in `_formulas.log` (while trying to run latex on `_formulas.tex`:
[code]

[2020-05-13 07:10] cburstedde commented on #7428
Thanks!  Would you be able to call p8est_save just before this point so we can
load and examine the mesh?  Ideally, if you could hack the p4est assertion to
tell us which tree, quadrant and edge cause it, that would be great.

[2020-05-13 12:18] agrayver commented on #10160
There seem to be several problems. I'm looking into it...

[2020-05-13 12:44] masterleinad commented on #7428
@burstedde Any progress on allowing the file referenced in https://github.com/dealii/dealii/issues/7428#issuecomment-449188048?

[2020-05-13 13:31] bangerth commented on #10180
This is out of step-47. Looking at it.

[2020-05-13 13:41] masterleinad commented on #10180
The \jumps are missing closing brackets.

[2020-05-13 13:41] bangerth commented on #10180
Yes. Got a patch ready, just testing.

[2020-05-13 13:42] masterleinad commented on #10180
Me, too. You go ahead!

[2020-05-13 13:59] #10180 closed

[2020-05-13 14:23] agrayver commented on #10160
Ok, there are several problems, which are easy to fix and I will make a PR, but here is one fundamental issue. This code

[code]

triggers this assert:

https://github.com/dealii/dealii/blob/19a2df2d185427b5616d5ed5b9f6d1c4397740fd/source/grid/manifold_lib.cc#L1476

Probably we did not run this in debug and hence missed it. The clone is required by `tria.set_manifold()` and I see no principal reas

[2020-05-13 15:09] bangerth commented on #10085
C++20 std::ranges offers these sorts of facilities. It would probably not be very difficult to convert what `triangulation.active_cell_iterators()` returns to something that could be used with `boost::adaptors::indexed` and similar things.

[2020-05-13 16:02] bangerth opened #10188 "step-50 question: what is n_p?"
@tjhei @tcclevenger : I'm trying to work through step-50 for some edits and in the section on the workload, https://dealii.org/developer/doxygen/deal.II/step_50.html#Workloadimbalance, the formula contains a symbol `n_p`. It's not explained, and I'm not sure what it's supposed to be.

If you tell me what it stands for, I'll include that into my changes.

[2020-05-13 16:05] tcclevenger commented on #10188
Yes, good catch. This represents the total number of mpi processes used to distribute the mesh.

[2020-05-13 16:25] bangerth commented on #10188
Great, thanks! Would you have grave objections if I just renamed this `P`?

[2020-05-13 16:26] tcclevenger commented on #10188
Not at all!

[2020-05-13 16:27] bangerth commented on #10188
(Because lower-case `p` is already used to denote a particular processor's index.)

[2020-05-13 16:52] bangerth commented on #10188
Separately, while I have your attention: The introduction talks about adaptively refined meshes. But the results section only shows globally refined results. I haven't looked at the code yet, but I guess this is on purpose?

[2020-05-13 17:11] tcclevenger commented on #10188
The results are also on adaptively refined meshes. We use the estimator from the intro for the number of cycles listed in the table.The number of DoFs increases by roughly 2x per cycle.

[2020-05-13 17:46] bangerth commented on #10188
Oh, I hadn't realized that. The numbers seemed so nice :-)

[2020-05-13 19:37] tjhei commented on #9942
we are not the only one with this problem, if you google ``doxygen "classint"`` :-)

[2020-05-13 19:48] bangerth commented on #9942
Well, I only get to see an R package of that name :-) Not sure what google knows about me that makes the difference -- I did read an R book over the past month, but I didn't buy it myself and I don't think I googled anything about R while reading it...

[2020-05-13 20:18] agrayver commented on #10160
To be more specific: if we remove this assert and allow the object to clone itself, it will call this constructor:

https://github.com/dealii/dealii/blob/19a2df2d185427b5616d5ed5b9f6d1c4397740fd/source/grid/manifold_lib.cc#L1360-L1375

As you see, this constructor will set "owns_pointers(false)", hence a situation where two objects own the pointer is ruled out. The only requirement is that the ori

[2020-05-13 21:07] badshah400 opened #10197 "Building with MPI requires arpack even though parpack is found"
When building dealii 9.1.1 with MPI enabled, it requires libarpack.so to be in the libdir even though libparpack.so is already there. I pass the option `-DARPACK_DIR=/usr/lib64//mpi/gcc/openmpi3` and libparpack.so is present in `/usr/lib64//mpi/gcc/openmpi3/lib64` (but libarpack.so isn't; it's located somewhere else more appropriate for serial libs without MPI support). Shouldn't it be enough to f

[2020-05-13 22:26] masterleinad commented on #10160
No, I think it is OK to remove the assertion.
Since we are using `SmartPointer` objects, we at least detect dangling pointers.

[2020-05-13 22:42] tamiko commented on #10197
In our case not quite. The way how we we set up the arpack/parpack interfaces we always require at least arpack and enable the parallel variants if parpack is also present.

The offending CMake configuration is the following in `FindARPACK.cmake`:
[code]
I will open a pull request changing this behavior in a moment - the underlying assumption that arpack and parpack are always residing in the same

[2020-05-13 23:09] badshah400 commented on #10197
Many thanks for the quick response and PR to fix this.

Yes, this works, thanks for the suggestion.

But I suppose I'll just go ahead and use your PR #10201 as a patch.

[2020-05-14 03:25] bangerth opened #10205 "Rename TriaAccessor::number_of_children"
The `TriaAccessor` class has a (rarely used) function `number_of_children()`. But it also has `n_children()`. The latter returns the number of immediate children, whereas the former returns the total number of descendants. The similarity in naming is certainly confusing.

We should return `number_of_children()` to `n_descendants()` to make it clearer that it is a recursive relationship.

[2020-05-14 03:28] bangerth opened #10206 "Introduce cell->child_iterators()"
In the same way as we already have `cell->face_iterators()`.

[2020-05-14 07:58] agrayver commented on #10160
Ok, PR is on the way...

[2020-05-14 08:34] cburstedde commented on #7428
This file is a wontfix.  It is outside of specification.

[2020-05-14 11:01] marcfehling commented on #10206
Feel free to assign this to me!

[2020-05-14 11:05] peterrum commented on #10206
@marcfehling You might want to checkout #8569.

[2020-05-14 11:55] #10197 closed

[2020-05-14 11:59] tjhei commented on #10188
It looks like you opened #10198. Closing this.

[2020-05-14 11:59] #10188 closed

[2020-05-14 15:41] bangerth commented on #10206
@marcfehling -- are you in need of projects? ;-)

[2020-05-14 15:42] bangerth commented on #10188
Yes, this is fixed by #10198.

[2020-05-14 19:21] marcfehling commented on #10206
@bangerth Ha! Not necessarily, but there are so many iterations over children in the library that writing it out started to bug me (along with finding the most dominant finite element among siblings). We need more elegant ways to deal with that :-)

[2020-05-14 20:03] luca-heltai opened #10211 "Bug in ParticleHandler."
It looks like we inherited this bug:

https://github.com/geodynamics/aspect/issues/3354

[2020-05-14 20:03] luca-heltai commented on #10211
This is high priority if we want step-70 in 9.2, otherwise it can wait for 9.3

[2020-05-14 22:06] Rombur opened #10214 "Multiple valid CUDAWrappers::MatrixFree objects is not allowed"
For performance reasons, we store [shape_values](https://github.com/dealii/dealii/blob/master/include/deal.II/matrix_free/cuda_matrix_free.templates.h#L57-L60) and [shape_gradients](https://github.com/dealii/dealii/blob/master/include/deal.II/matrix_free/cuda_matrix_free.templates.h#L80-L83) in constant memory, i.e. in a global variable. The problem arises if you want to have two `CUDAWrappers::Ma

[2020-05-14 22:06] rezarastak commented on #9995
This issue with Zoltan produces most of the remaining test failures with Ubuntu 18.04 LTS. Should we disable `DEAL_II_TRILINOS_WITH_ZOLTAN` when we detect an old version of Trilinos (for example if version <= 12.12)? This will fix the problem.

[2020-05-14 22:07] marcfehling commented on #10211
I remember rewriting parts of the `ParticleHandler` class when I refactored the data transfer in parallel distributed applications back in 2018.

These two PRs changed the crucial parts of the `ParticleHandler` class:
#6864 -  Refactored data transfer across distributed meshes.
#7002 - Applies variable size transfer to 'ParticleHandler'.
This bug must be part of 9.1 as well if one of these PRs is

[2020-05-14 22:18] krishnakumarg1984 commented on #9684
@bangerth @Rombur  Apologies for asking. A code that I am currently developing depends upon precise termination time of adaptive solvers. Are we planning to address this issue for the 9.2 release?

[2020-05-14 22:23] Rombur commented on #9684
@krishnakumarg1984 I am sorry but I cannot reproduce your problem. step-52 stops exactly at the time it should. You will need to provide the exact step to reproduce the problem.

[2020-05-14 22:25] marcfehling commented on #10211
https://github.com/dealii/dealii/blob/32e187ae4afd9027d4ad33de075c3df231beed2d/source/distributed/tria.cc#L1621-L1623
Reading over these lines again, I think that this assertion is not necessary. We will always receive fixed size data (i.e. `CellStatus` information), but not necessarily variable size data (i.e. if a cell does not own any particle at all). Thus we should be able to simply skip it.

[2020-05-14 22:43] bangerth commented on #9684
@krishnakumarg1984 -- I'm afraid it's too late in the release cycle to get this fixed. We should make fixing this a priority for 9.3, but whatever limited resources we have as a project are tied up in other things until the release, and the combined effort to test and re-test after every patch just doesn't justify holding up things any further.

What it will take to get this fixed is (i) being abl

[2020-05-14 22:51] luca-heltai commented on #10211
I agree. @gassmoeller was suggesting the same. They have not fixed this either in aspect. I'm now creating a minimal test that fails, will remove the assert, and see what else breaks down.

[2020-05-15 01:25] gassmoeller commented on #10211
I suggested a solution in #10219. Sorry Luca I did not see this conversation before starting to work on a fix, I hope we did not duplicate too much work.

[2020-05-15 01:26] gassmoeller commented on #10211
And yes @marcfehling: I removed the Assert and everything still works nicely.

[2020-05-15 01:31] tjhei commented on #10072
Jenkins CI status of the branch:
Linux: [![Build Status](https://jenkins.tjhei.info/job/dealii/job/dealii-9.2/badge/icon)](https://jenkins.tjhei.info/job/dealii/job/dealii-9.2/)
OSX: [![Build Status](https://jenkins.tjhei.info/job/dealii-OSX/job/dealii-9.2/badge/icon)](https://jenkins.tjhei.info/job/dealii-OSX/job/dealii-9.2/)
tidy: [![Build Status](https://jenkins.tjhei.info/job/dealii-tidy/job/d

[2020-05-15 02:09] tjhei opened #10221 "boundingbox_6 and dim==0 errors"
as discussed on slack with @luca-heltai and @drwells a few days ago but I don't think the fix has landed yet. @drwells did you want to look at it?

I think we need to:
1. static_ssert dim>=1 in BoundingBox.
2. Adapt the test (and anything else that breaks afterwards)

Also see:
https://cdash.43-1.org/testDetails.php?test=44333311&build=6387

[2020-05-15 02:12] tjhei opened #10222 "intel constexpr failure"
as reported by @tamiko at https://cdash.43-1.org/testDetails.php?test=44331408&build=6387:
in Test: tensors/constexpr_tensor.debug:
[code]

[2020-05-15 04:41] rezarastak commented on #10222
Reminds me of #8410 and #8413 where there was also some issue with `DEAL_II_CONSTEXPR` and the intel compiler. We can possibly disable `DEAL_II_CONSTEXPR` for icc altogether.

[2020-05-15 05:00] #10211 closed

[2020-05-15 15:14] tamiko commented on #10160
Much better (i.e. no segfault) but we're still failing with an assert:
[code]
https://cdash.43-1.org/testDetails.php?test=44352889&build=6401

[2020-05-15 15:20] drwells commented on #10221
I thought we agreed to not put the fix in 9.2. Nevertheless I did write a patch - I'll put it up in a moment.

[2020-05-15 15:33] tjhei commented on #10221
Oh, I must have forgotten. We do see test failures right now, though. If we just want to fix this test for now, that could go into 9.2.

[2020-05-15 16:04] drwells commented on #10221
I got GCC 10.1 last night and now I need to recompile everything, so this is taking a little longer than planned.

[2020-05-15 16:15] bangerth opened #10233 "step-70: Can't use formulas in tutorial section headings"
Looking at the table of contents here: https://dealii.org/developer/doxygen/deal.II/step_70.html
Our scripts just don't allow formulas in headings.

I'll see that I read through a good part of step-70 today. Will fix this along the way.

[2020-05-15 16:31] bangerth opened #10234 "step-70: Reclassify as a "fluids" kind of tutorial"
@luca-heltai @blaisb @gassmoeller : Any objection to reclassifying step-70 as a fluid dynamics kind of tutorial? It sure demonstrates techniques, but I think it actually fits more into the fluids category.

If yes, then I'll integrate that into my list of changes I'm working on.

[2020-05-15 16:45] tjhei commented on #10234
I think it is fine either way, but I would think the coupling and particles are the more important aspect in step-70?

[2020-05-15 17:09] bangerth commented on #10234
I'm thinking forward to when we have other particle tutorials. And the introduction spends several pages on immersed boundary methods and barely any on particles :-)

[2020-05-15 17:39] luca-heltai commented on #10234
I'm perfectly ok with whatever you think is more appropriate. :-)

[2020-05-15 17:55] agrayver commented on #10160
Hm, weird:

https://github.com/dealii/dealii/blob/ce25602ca54ccc212e7bd875f53df04b6d793f08/contrib/python-bindings/tests/manifold_wrapper.vtk#L1

[2020-05-15 19:29] agrayver commented on #10160
I can't reproduce this on Ubuntu with gcc 7.2 with the master...

[2020-05-15 19:45] simonsticko opened #10239 "void cast in Assert"
Maybe this is more of a question than an issue, but anyway...

Often when there is an `Assert` in the code there is also a void cast to suppress the "unused variable warning" in release mode. For example:

[code]

Is there any reason why the void-cast isn't in the release version of the Assert-macro? :thinking: If it were, the void cast wouldn't be needed. Something like this:

[code]

[2020-05-15 19:51] drwells commented on #10239
I think that we want to avoid the second case because it will evaluate `cond`. In principle, one could write
[code]
and, if we have `(void)(cond)`, we end up evaluating the check outside of debug mode. Does this make sense?

[2020-05-15 20:20] simonsticko commented on #10239
Yeah, okey that makes sense. :+1:

[2020-05-15 20:20] #10239 closed

[2020-05-15 22:34] marcfehling opened #10240 "Issues with copyright script."
I just stumbled over a line that the copyright script misinterpreted in #10097 and found a few other candidates:
[code]

However I also noted that nested directories in the `include` and `source` folder over more than two levels are entirely ignored by the script:

https://github.com/dealii/dealii/blob/b2ab70f362646eefc964d308e2f42de3c6bf5cf6/contrib/utilities/update-copyright#L28-L38

---

EDIT:

[2020-05-15 22:43] tjhei commented on #10240
would you mind prepping a PR to fix these 4 cases?

[2020-05-15 22:43] tjhei commented on #10240
I can take care of that

[2020-05-15 22:44] bangerth commented on #10240
We should be using `find .` for subdirectories.

[2020-05-15 22:47] tjhei commented on #10240
yes, see #10241

[2020-05-15 22:52] marcfehling commented on #10240
We should rerun the copyright script in a succeeding step.

[2020-05-15 22:53] tjhei commented on #10240
certainly, running it right now.

[2020-05-15 23:05] bangerth opened #10243 "step-70: Missing viz file"
The results section references https://www.dealii.org/images/steps/developer/step-70.2d_tracing.gif, but this file does not exist.

[2020-05-15 23:09] bangerth commented on #10243
That's also true for the images further down in the results section -- see https://dealii.org/developer/doxygen/deal.II/step_70.html#Results

[2020-05-16 02:41] tamiko opened #10246 "complex number product type deduction is wrong"
I have some code that due to some design decisions does a rather interesting tensor product:

[code]

This code fails now (and compiled in December 2019):
[code]
Note that no matter what, we should never deduce a type ` 'complex<std::complex<double>>'.
Note the the corresponding snippet of code works for `typedef double rank0_type;`

I have no time right now to bisect. But this clearly has to be f

[2020-05-16 03:18] bangerth commented on #10246
[code]
It's a bit funny to define `permeability_type` as a `Tensor<0,2>`. That's a scalar. But I think if you want to multiply with a `Tensor<1,1>`, it needs to either be a `Tensor<0,1>` or a `Tensor<2,1>`. The latter seems like the appropriate type to begin with, the former could possibly work, but `Tensor<0,2>` just seems wrong.

[2020-05-16 03:24] #10221 closed

[2020-05-16 03:45] tamiko commented on #10246
@bangerth Yes, it is a bit funny. It was a very pragmatic way of implementing `curl * mu_inv * curl - vec * epsilon * vec` in a dimenationally independent way (and working around the unfortunate design decision that `FEValuesViews::Vector::curl` returns a `Tensor<1, 1>` instead of a scalar...

In any case. The following code fails as well (with the 2 replaced by a 1):

[code]

[2020-05-16 03:49] tamiko commented on #10246
Also, for the record: `mu_inv * u * u` and `mu_inv * u` fail to produce the right tensor.

[2020-05-16 04:14] bangerth commented on #10246
Yes, this code looks better. I think it should compile.

`curl_type` -- yes, that might have been an unfortunate choice. At the same time, there is genuinely not a good way to use it in a dimension-independent way...

[2020-05-16 04:42] drwells commented on #10246
I was curious so I bisected - it looks like the problem started in 32ecab6f7ffd314b45f4a6682b583482eff79850.

[2020-05-16 05:01] masterleinad commented on #10246
Also, see https://godbolt.org/z/9393R6.

[2020-05-16 07:20] kronbichler commented on #10175
Adjusting to the 9.3 milestone now that we have the temporary solution.

[2020-05-16 10:47] marcfehling commented on #10240
With #10241, #10242, and #10245 I consider this issue closed.

[2020-05-16 10:47] #10240 closed

[2020-05-16 13:37] masterleinad commented on #10246
This patch fixes it for me:
[code]

[2020-05-16 13:43] drwells commented on #10246
We should definitely add a test for this and also for the original case that prompted https://github.com/dealii/dealii/commit/32ecab6f7ffd314b45f4a6682b583482eff79850.

[2020-05-16 13:58] masterleinad commented on #10246
Yes, I don't have time right now to finish this, though. I could maybe do it this night. Otherwise, just go ahead!

[2020-05-16 14:17] tamiko commented on #10246
@drwells @masterleinad Thanks for bisecting this so quickly! (Sorry for having been offline - my better half did confiscate my laptop ^^).

One quick thought: The code in question was introduced as a workaround for an old compiler, see https://github.com/dealii/dealii/pull/9456.

What about we also add a guard around the code in question with the corresponding compiler version? That way we avoid k

[2020-05-16 14:31] bangerth commented on #10246
@jppelteret states that it was Apple Clang 8.0.0. I don't know what clang version that corresponds to.

But the changes suggested above by @masterleinad aren't wrong. The question is, though, why the existing `ProductType` specializations in that file aren't triggering.

[2020-05-16 15:02] tamiko commented on #10246
@bangerth

I am not saying that the changes are wrong :smiley:
But I think that the original workaround:
[code]
are unnecessary (for anything newer than clang-3.2) and indeed now let the compiler use
[code]
determining the wrong product.

[2020-05-16 16:36] bangerth commented on #10246
What other `ProductType` rule will then be used?

That said, I don't care one way or the other as long as we only put any patch into 9.3 :-)

[2020-05-16 16:55] tamiko commented on #10246
@bangerth Otherwise it still uses the same product (for `mu_inv * u`) but now the more general
[code]
(in `template_constraints.h`) is used to resolve the underlying number type to `std::complex<double>`.

What about we add @masterleinad fix and add an `#if` clause around the whole thing explaining that we only need that for apple clang...

[2020-05-16 17:36] #10233 closed

[2020-05-16 17:36] #10234 closed

[2020-05-16 21:23] #10246 closed

[2020-05-18 11:55] nfehn opened #10255 "improve docu of MatrixFree::get_cell_iterator()"
The documentation of MatrixFree::get_cell_iterator() (and similar functions) does not explain the parameters, especially `vector_number`.

[2020-05-18 14:33] #5938 closed

[2020-05-18 23:21] bangerth opened #10262 "step-70: Misnamed variables"
step-70 uses variable names `owned_tracer_particles` and `relevant_tracer_particles`. But it's not actually the particles that are mentioned here, but the *coordinates of their location vectors*. I think a better name would be `owned_tracer_particle_coordinates`.

[2020-05-18 23:26] bangerth opened #10263 "ParticleHandler documentation issue"
@luca-heltai @blaisb -- FYI

The `ParticleHandler` has a member function like this:
[code]
What's a bit confusing is that the function documentation talks about "locally owned particles" whereas the function name mentions "locally relevant". We should clarify.

[2020-05-19 04:01] masterleinad commented on #10160
#10266 should fix this.

[2020-05-19 07:19] #10160 closed

[2020-05-19 13:41] tjhei opened #10270 "step-70: PETSc version is broken"
[code]

investigating...

[2020-05-19 13:56] tjhei opened #10273 "step-70: included prms are broken"
The included prms ``parameters.prm`` and ``parameters_23.prm`` are not descriptive (what is the difference?) and don't work. Annoyingly, they crash with the indescriptive error
[code]

@luca-heltai ?

[2020-05-19 14:02] luca-heltai commented on #10273
The tutorial explains what is the difference between the two. I think the issue is in the `output directory `results_23` which is non-existant. We should set that parameter to `.`.

[2020-05-19 14:05] luca-heltai commented on #10273
The same is true for the `parameters.prm`. We should either add the two directories, or change the value of the parameter to `.`. I think it was a mistake to add the files. The program generates working ones by default.

[2020-05-19 14:06] luca-heltai commented on #10273
How do you want me to proceed?

[2020-05-19 14:28] bangerth commented on #10243
We need to address this before the release. @luca-heltai @blaisb -- what's your plan?

[2020-05-19 14:32] luca-heltai commented on #10243
I have no longer access to the svn server. These are all available in the gist that @blaisb published at the end of the step-70 PR, and someone with svn access should upload them on the webserver.

[2020-05-19 15:13] blaisb commented on #10243
All files are under the right name in the gist :  https://gist.github.com/blaisb/a211c601067bb853a23c5beae3af0d9c
I do not have access to the svn to upload the files. Ping me if there is anything you need.

[2020-05-19 15:39] #10270 closed

[2020-05-19 15:50] tjhei commented on #10273
The most simple fix is fine for 9.2. Longer term, I would prefer the code to just auto-create the directory.

[2020-05-19 18:01] #10262 closed

[2020-05-19 18:05] bangerth commented on #10243
@blaisb The results section also references a 3d gif file that's not in the gist. Do you happen to still have the vtk files for that? I could do the same as for the 2d video.

[2020-05-19 20:58] bangerth opened #10281 "[C++17] step-70: Create output directory if necessary"
See this comment:
https://github.com/dealii/dealii/pull/10274/files#diff-5e19932b9e815b576e4bb4f4bacac9ca

There may be other steps to which this applies as well.

[2020-05-19 22:46] MFraters commented on #9621
I am closing this issue because the problem has been resolved starting with ninja 1.10.0 and make >= 3.7 according to the documentation. I have tested it with cmake version 3.16.3 and ninja version 1.10.0 and cmake generates fine and ninja also successfully compiles the latest master.

[2020-05-19 22:46] #9621 closed

[2020-05-20 01:53] tamiko commented on #9621
Yes, the issue is that ninja did not support dynamic dependencies for a while (which are necessary for fortran and c++20 modules), see https://github.com/ninja-build/ninja/issues/1265

[2020-05-20 04:08] bangerth opened #10284 "Bug in AffineConstraintsData"
Here's a bug that takes a good long time to explain -- story time:

`AffineConstraints::distribute_local_to_global()` in its various incarnations uses an object of type `internals::AffineConstraintsData<number>` as a scratch object to work on. That class is, in essence, a singleton:
[code]
All accesses are then through the `static` member variable, which is thread-local and consequently doesn't ge

[2020-05-20 05:00] tamiko commented on #10284
We had been pretty consistent in using `ThreadLocalStorage` for all our caching. I'd say it is time simply reimplement the class using native C++11 thread support (and remove the dependency on tbb by throwing out `tbb::enumerable_thread_specific<T>`). This should be little more than using a `std::map<std::thread::id, T>` and guarding an insert with a mutex.
This has the advantage that we can simpl

[2020-05-20 12:30] tjhei commented on #8482
done, closing...

[2020-05-20 12:30] #8482 closed

[2020-05-20 14:54] bangerth commented on #10284
Implicitly, what this issue really uncovers is what semantics we want to give to `DEAL_II_WITH_THREADS=OFF`: That deal.II *promises* to not use threads on its own, or that we *require* that user code also doesn't use threads. I don't think we ever thought about that.

[2020-05-20 19:13] drwells commented on #711
It looks like this was fixed by #9287 since we now attach a `FilteredIterator` object to `DataOut`.

[2020-05-20 19:27] bangerth commented on #711
Ha, I had totally forgotten about that. But it seems like good ideas stick around somewhere in the back of my brain...

[2020-05-20 19:40] tamiko commented on #10243
All files referenced by step-70 are now in place.

[2020-05-20 19:40] #10243 closed

[2020-05-20 20:14] drwells commented on #8544
We fixed this in #8736.

[2020-05-20 20:14] #8544 closed

[2020-05-20 20:17] drwells commented on #8735
Fixed by #8736.

[2020-05-20 20:17] #8735 closed

[2020-05-20 20:19] drwells commented on #1681
Is there anything else to do here now that we have the artifacts exported via appveyor? If not we should close.

[2020-05-20 20:23] drwells commented on #3774
Fixed by #8623.

[2020-05-20 20:23] #3774 closed

[2020-05-20 20:34] drwells commented on #2914
@agrayver I think that your work on the python bindings has addressed nearly everything outlined above (except 'a way to deserialize a refined Triangulation to a refined distributed::Triangulation'). Do you think that we can now close this issue?

[2020-05-20 20:43] #1681 closed

[2020-05-20 20:46] drwells commented on #2795
At this point we have addressed all five points so lets close.

[2020-05-20 20:46] #2795 closed

[2020-05-20 20:50] drwells commented on #5627
`VectorView` is now gone and this issue has not, since that point, received any traffic. Hence there does not seem to be a lot of interest in solving this issue.

Since we have gone 2.5 years without comments on it I will close this - if someone is interested in resurrecting it then go ahead.

[2020-05-20 20:50] #5627 closed

[2020-05-20 21:38] drwells commented on #5746
Fixed by #9892 et al.

[2020-05-20 21:38] #5746 closed

[2020-05-20 21:42] #10073 closed

[2020-05-20 21:45] drwells commented on #9068
Fixed by #9078.

[2020-05-20 21:45] #9068 closed

[2020-05-20 21:52] drwells commented on #7183
Fixed by #7368.

[2020-05-20 21:52] #7183 closed

[2020-05-20 22:18] philm001 commented on #7524
@bangerth Hey guys sorry for disappearing on this! My life got crazy for awhile and I had to drop alot of the things that I was doing. But since quarantine life kicked, I have a lot of free on my hands. A better update will be coming soon-ish on this. Currently need to update my copy of dealii. It is a little out of date

[2020-05-21 06:19] agrayver commented on #2914
@drwells probably yes, although I have not done much on the actual FE side (DoFHandler, FiniteElement), but I plan to do that. My long-term goal is to use python + deal.II for the teaching, which will require that.

For cross-reference, #9015 is the issue that summarizes current efforts in this direction.

[2020-05-21 13:55] drwells commented on #2914
The remaining feature seems very specialized - I don't think we can do this even in the main library yet. Since the current state of the bindings is tracked elsewhere lets close this.

[2020-05-21 13:55] #2914 closed

[2020-05-21 13:56] drwells commented on #2914
Like the other old issues I have closed recently, if anyone believes that we should keep this open then please do so.

[2020-05-21 18:45] stmcgovern opened #10295 "code gallery: broken internal hyperlinks"
Hi,
I was doing some browsing of the code gallery today and I noticed that the "(click to inspect):" links were not returning pages, while the main descriptions pages of codes are fine.
Example:
https://dealii.org/developer/doxygen/code-gallery/time_dependent_navier_stokes/Readme.md

Just feedback.
Best,
Sean

[2020-05-21 19:07] #9135 closed

[2020-05-21 21:04] masterleinad commented on #9790
With 9.2 I am seeing
[code]

[2020-05-21 22:05] tjhei opened #10296 "switch to c++ 14"
I would propose moving to requiring c++ 14 for the dev version. As a consequence, we would require:
- clang 4.0
- gcc 5
- visual studio 15 2017 (?)

which, I don't think is a big issue.

As a consequence, we need to retire older cuda support: https://github.com/dealii/dealii/blob/4532d87a1a7f4893c8090321442a8c70e3c72e40/cmake/configure/configure_1_cuda.cmake#L79
but I don't think this is a problem

[2020-05-21 22:06] tamiko commented on #10296
I will make a tentative pull request for the necessary cmake changes in a minute.

[2020-05-21 22:14] masterleinad commented on #10296
Disabling support for `CUDA 8` is not an issue for us.

[2020-05-21 22:24] masterleinad commented on #10296
According to https://en.cppreference.com/w/cpp/compiler_support#cpp14 it's more MSVC 2019 but it's enabled in https://github.com/dealii/dealii/runs/697804125 so at least the subset of features we currently require is supported.

[2020-05-21 22:27] bangerth commented on #10296
As mentioned today, we greatly benefit from having good CI checkers. Do we have MSVC versions we can check that support C++14?

[2020-05-21 22:30] tjhei commented on #10296
both MSVC version we run support CXX14.

[2020-05-21 22:30] masterleinad commented on #10296
I am not quite sure that I understand the question. We are already testing with `Visual Studio 16 2019` and `Visual Studio 15 2017` (and the latter also has `DEAL_WITH_CXX14=ON`).

[2020-05-21 22:38] tamiko commented on #10296
The only configuration on the tester that we lose is `gcc-4.9.4`.

[2020-05-21 22:40] masterleinad commented on #10296
which is a terrible compiler anyway.

[2020-05-21 22:46] Rombur commented on #10296
If you put your mouse over 19.0, you will see that it is VS 2015 and 19.10 is VS 2017. So we should be good.

[2020-05-21 22:56] masterleinad commented on #10296
Thanks! MSVC and their versioning...

[2020-05-22 00:29] marcfehling opened #10304 "Output of write_vtu_in_parallel() not readable with VisIt"
The function `DataOutInterface::write_vtu_in_parallel` simplfies writing data of parallel applications.

However, `VisIt 3.1.1` seems to have problems to read output written with this particular function. Mesh plots throw an error. Pseudocolor plots only display the legend (including min and max values) and raise the following warning:
[code]

Everything is fine with `Paraview 5.8.0` though. The a

[2020-05-22 09:46] #1973 closed

[2020-05-22 11:19] kronbichler commented on #9790
Thanks for posting the numbers. I have one question: In the expensive functions list, I see a lot of things like
[code]
Unfortunately the interesting name of the function is hidden. From the code size I would believe it must be `initialize_indices`, which is a monster function of more than 1000 lines of code. I think we should aim to split it up into a large part that does not need the `Vectorized

[2020-05-22 12:53] philm001 commented on #7524
@masterleinad Hello, I have pulled the latest version of dealii. When you state config.h, do you mean the config.h.in?

is this file meant for define statement related to building Dealii?

[2020-05-22 13:27] drwells commented on #9790
Another view: here are the top 20 most expensive files for debug on my desktop:
[code]

and release:
[code]

[2020-05-22 13:43] masterleinad commented on #9790
@kronbichler I updated the output to not truncate names. It's `initialize_indices` indeed.

[2020-05-22 13:52] peterrum commented on #9790
Mainly `VectorizedArrayType::size()` is used. Can we replace `internal::MatrixFreeFunctions::ShapeInfo<VectorizedArrayType>` by `internal::MatrixFreeFunctions::ShapeInfo<Number>` in that function?

[2020-05-22 13:55] kronbichler commented on #9790
We can, but the function needs to be split up anyway because there is some face information that also has `size()` as template. I have an idea already. If I get stuck, I'll gladly take your help @peterrum.

[2020-05-22 14:01] drwells commented on #7524
config.h is the configuration header generated by CMake - if your build directory is named `build`, then it is `build/include/deal.II/base/config.h`.

[2020-05-22 14:20] drwells opened #10310 "Deprecate all implicit mappings?"
@tjhei and others pointed out during our standup that the function overloads that implicitly use a MappingQ1 (e.g., FEValues, VectorTools::interpolate) are the source of many bugs. It also violates our usual philosophy of doing things explicitly.

On the other hand I estimate that nearly every user code uses these functions.

Pros:
1. explicit is better than implicit
2. a lot of applications shoul

[2020-05-22 14:25] drwells commented on #10310
Lets start by seeing where people are at with a quick poll:
:+1: for 'deprecate implicit mappings'
:-1: for 'do not deprecate implicit mappings'

[2020-05-22 14:36] masterleinad commented on #9790
This is with a unity build:
[code]

[2020-05-22 15:21] bangerth opened #10311 "Replace the TBB pipeline with C++14 or TaskFlow features"
That's a precondition for getting rid of the TBB.

[2020-05-22 15:26] bangerth commented on #10311
The `pipeline.h` file has ~600 lines of code. The `pipeline.cpp` file has another ~700.

The code is difficult to read, and likely has a lot of stuff that results from supporting different configurations, so one might suspect that it could be possible to implement the whole thing with less code. On the other hand, it has rather little commentary, so it would probably not be particularly easy to un

[2020-05-22 15:34] bangerth commented on #10311
Their current implementation is here: https://github.com/oneapi-src/oneTBB/blob/tbb_2020/include/tbb/pipeline.h and https://github.com/oneapi-src/oneTBB/blob/tbb_2020/src/tbb/pipeline.cpp .

[2020-05-22 15:48] bangerth commented on #10311
Here's some literature:
* https://onlinelibrary.wiley.com/doi/full/10.1002/cpe.4175 What we need is their `MapReduce` algorithm. Our "worker" is the "map" phase, the "copier" is the "reduce" phase. They use a library called GRPPI: https://github.com/arcosuc3m/grppi and I believe their MapReduce implementation is here: https://github.com/arcosuc3m/grppi/blob/master/include/grppi/native/parallel_exe

[2020-05-22 15:51] bangerth commented on #10311
Here's a code example from the Google Concurrency Library for their MapReduce:
[code]

[2020-05-22 15:53] bangerth commented on #10310
Lots of pain for lots of people who don't need and don't use curved boundaries :-( I wished we had done this right back in 1999...

[2020-05-22 16:23] bangerth commented on #10284
Here's what I'll try to do: The problem is that `AffineConstraintsData` uses a global (`static` variable). Instead, we should make that variable a member of `AffineConstraints`. This way, separate threads using separate `AffineConstraints` objects don't step on each other.

[2020-05-22 17:43] gassmoeller opened #10314 "Add a function to get a DoFHandler iterator from a particle"
As @peterrum pointed out in #10308 it would be useful to have the following function for particles:
[code]
In addition to what we already have:
[code]

This issue is to remind me to implement it.

[2020-05-22 17:49] jppelteret commented on #10314
Maybe its a one-liner implementation?
https://github.com/dealii/dealii/wiki/Frequently-Asked-Questions#can-i-convert-triangulation-cell-iterators-to-dofhandler-cell-iterators

[2020-05-22 18:29] marcfehling commented on #10304
There is nothing wrong with `write_vtu_in_parallel`, but we used `VTKFlags::write_higher_order_cells` which cause those issues with VisIt.

This particular VTKFlag has been in introduces in https://github.com/dealii/dealii/issues/6931. Support for arbitrary-order Lagrange-interpolated cells has been added to [`VTK 8.1.0` (Dec 2017)](https://blog.kitware.com/vtk-8-1-0/) and [`Paraview 5.5.0` (April

[2020-05-22 18:29] #10304 closed

[2020-05-22 19:26] drwells commented on #4608
Fixed by #9740.

[2020-05-22 19:26] #4608 closed

[2020-05-22 20:48] bangerth commented on #10314
Make the argument a `Container` like in many of the `GridTools` functions. Then we can also pass in a `hp::DoFHandler` (even if that is going to go away) or any other kind of triangulation.

[2020-05-22 22:50] tamiko opened #10321 "Remove `Threads::Thread` and associated `Threads::new_thread`"
Dear all. I have a thorough look at all the code in `thread_management.h` and I would like to put a slightly more radical cleanup up for discussion: I would like to remove the `Threads::Thread` class and associated `Threads::new_thread` functions entirely. The rationale is that this mechanism is only used in `deal.II/lac/sparse_vanka.templates.h` and in `step-28/step-28.cc` and a couple of tests.

[2020-05-22 22:58] bangerth commented on #10321
You have my blessing. Do the deprecations.

[2020-05-23 12:05] Fanxiaotsing opened #10330 "dyld: malformed mach-o: load commands size (33848) > 32768"
All the examples can not run on macos catalina10.15.4 with 9.2.0 installed,can anyone  fix this problem?use the "otool -l"can get
otool -l /Applications/deal.II.app/Contents/Resources/Libraries/lib/libdeal_II.g.9.2.0.dylib
/Applications/deal.II.app/Contents/Resources/Libraries/lib/libdeal_II.g.9.2.0.dylib:
Mach header
      magic cputype cpusubtype  caps    filetype ncmds sizeofcmds      flags
 0x

[2020-05-23 12:19] drwells commented on #10330
This looks like a problem with our mac bundle. Let me see if I can replicate it.

[2020-05-23 13:08] drwells commented on #10330
@luca-heltai I can reproduce this issue on my mac (a week-old mac mini running Catalina). Let me know when you are available to take a look.

[2020-05-23 13:30] drwells commented on #10295
Thanks for the report. @jppelteret do you have time to take a look?

[2020-05-23 13:32] drwells opened #10331 "Configuration, make setup_tests etc. succeed even if MPIEXEC_EXECUTABLE is not found"
We should check that `MPIEXEC_EXECUTABLE` is actually found as a precondition for `make setup_tests`.

[2020-05-23 13:46] philm001 commented on #7524
So if config.h is a file generated by cmake, I don't think that placing the warning in config.h is a good idea since this file is a cmake processed file and is local to the user's build.  I would want to place in the library perhaps? config.h.in is a good contender since that file becomes config.h after running cmake. I can place the warning there.

My next option on where to place would be tri.h

[2020-05-23 14:06] #10273 closed

[2020-05-23 14:51] peterrum opened #10333 "Merge DoFHandler and hp::DoFHandler - follow up tasks"
Following tasks need to done after PR #10328 has been merged (and before release 9.4):
- [x] remove template parameter `DoFHandlerType` (EDIT @marcfehling #13808)
- [x] do not instantiate `hp::DoFHandler` in `templates-arguments.in`
- [x] go through documentation
- [x] update tests so that they don't use `hp::DoFHandler`
- [x] deprecated `hp::DoFHandler`
- [ ] compress indices
- [x] how to determi

[2020-05-23 15:01] masterleinad commented on #7524
I think having it at the top of `include/deal.II/grid/tria.h` and `include/deal.II/multigrid/multigrid.h` is suitable.

[2020-05-23 19:02] jppelteret commented on #10295
I don't think that I'm the right person for the job @drwells. The can confirm that the generated links point to some non-existent place on the website, and since I don't have access to the website data I cannot infer where it should be pointing to! Or am I missing something obvious?

[2020-05-23 23:17] #10296 closed

[2020-05-23 23:58] drwells commented on #10295
The issue is a result of how we generate the code gallery programs - we create links to all the files in the repository, if I recall correctly. It's not directly related to what is on the website.

[2020-05-24 05:26] tamiko opened #10339 "Update documentation for C++14"
In addition to #10338 we also need to update the documentation on the C++ standard being used in `doxygen/headers/c++.h`

[2020-05-24 05:47] tamiko opened #10340 "Ensure ABI stability with C++17/20 feature selection"
We currently switch between boost and standard library variants of certain classes in our `base/std_cxx17` and `base/std_cxx20` dynamically based on whether a C++20 preprocessor macro is set.

This has one significant issue: If the library gets compiled with say default C++14 support we will select boost variants and compile the library with that. If a user now sets C++17/20 support in a user prog

[2020-05-24 05:47] tamiko commented on #10340
@masterleinad *ping*

[2020-05-24 13:23] masterleinad commented on #10340
I am fine with adding the feature check macros to our configure time checks.

[2020-05-24 14:41] bangerth commented on #10340
Ugh, yes. How did we not think of that back when...

[2020-05-24 15:36] masterleinad commented on #10340
If you want me to, I can fix this later.

[2020-05-24 16:49] tamiko commented on #10340
I am happy to make the change. Pull request incoming.

[2020-05-24 21:00] tamiko opened #10349 "Fix compilation with -std=c++20 and gcc-10"
It is currently not possible to compile deal.II with `-std=c++20` due to new rules regarding operator overloading as evidenced here: https://cdash.43-1.org/viewBuildError.php?buildid=6688

As a temporary workaround it is enough to remove `LinearIndexIterator::operator!=()` which allows the compiler to resolve the overload in some compatibility mode (that simply emits a warning instead).

A proper

[2020-05-24 21:19] bangerth commented on #10349
There ought to be a way to make this work with C++17 facilities by just adding a sufficient number of overloads, without resorting to `operator <=>`.

[2020-05-24 22:08] philm001 commented on #7524
@masterleinad ok, I will place it there

[2020-05-24 23:03] bangerth opened #10350 "Particles: Need a way to get notified when a particle is lost"
@gassmoeller For the particle tutorial, I'd like to know if a particle is lost, for example because I'd like to count the ones leaving through a particular part of the domain.

I believe that right now, these particles are just deleted. Would it be possible to have a signal to which one can attach oneself that is triggered for each particle that is deleted? Maybe with a pointer to the particle, it

[2020-05-24 23:21] bangerth opened #10351 "particles/particle_handler_06 fails with an error"
My patch #10320 also broke another test, `particles/particle_handler_06`:
[code]
That's because before, if `ParticleHandler::particles_on_cell()` was called on an artificial cell, it simply returned zero, whereas now it throws an error. That makes sense because we just don't know anything about artificial cells. We shouldn't be calling this function on these cells, but the testcase apparently does

[2020-05-24 23:22] tamiko commented on #10349
Minimal testcase:
[code]
This emits a warning:
[code]
Now changing `==` to `!=`  as follows:
[code]
emits an error:
[code]

[2020-05-24 23:24] bangerth commented on #10351
Awkwardly, this happens not from user code, but from `exchange_ghost_particles()`. That will require a bit more debugging than I can do on a Sunday afternoon.

[2020-05-24 23:25] tamiko commented on #10349
The issue at hand is that we should probably not have such "unmatched" operands in the first place but should define `operator@(const Derived &, const Derived &)` instead.

[2020-05-24 23:41] bangerth commented on #10349
Ugh, what a disaster. What happens if you add operators to the base class whose arguments are of type `Iterator` (not `Derived`)?

[2020-05-24 23:42] bangerth commented on #10349
The matched version you state has the disadvantage that it needs to be a global operator, and you really don't want to introduce
[code]
without restricting what `T` actually is :-)

[2020-05-24 23:46] tamiko commented on #10349
A symmetric global variant aka
[code]
seems to be promising. Let's see whether I can get that to compile.

[2020-05-25 00:51] #10340 closed

[2020-05-25 01:31] drwells commented on #10340
This seems like a reasonable candidate for 9.2.1. Should we start collecting such patches?

[2020-05-25 02:08] drwells commented on #10349
That symmetric variant doesn't work when we compare const and non-const `LinearIndexIterator`s since those have different accessor types.

[2020-05-25 07:59] luca-heltai commented on #10330
Unfortunately, I cannot reproduce on my mac. We could take a look at this today?

[2020-05-25 16:47] bangerth commented on #10311
The way to ensure the ordering of the reduce stage (the "copier") in `WorkStream` in a DAG is to create tasks as follows:
[code]
etc. In other words, copier Cn depends on worker Wn and copier Cn-1. The workers Wn are all independent of each other.

This DAG should be relatively easy to implement in any DAG language with a `for` loop. It also shouldn't be very difficult to append to each task Cn an

[2020-05-25 16:49] bangerth commented on #10311
You'll note that this DAG automatically sequentializes the copier operations.

[2020-05-25 17:24] gassmoeller commented on #10350
I think that should be possible, but it will require some changes to the used data structures in `sort_particles_into_subdomains_and_cells`. Currently we do not keep track of which particles are reinserted and which ones are lost and we need to make sure the tracking does not mess up the scalability of the function. It would probably be a signal that gets a list of all the locally lost particles (

[2020-05-25 19:07] bangerth opened #10358 "step-69: Need videos on youtube"
@tamiko Can you give me links to the 2d and 3d videos (the latter the one you have at https://tamiko.43-1.org/developer/mach-3-cylinder-3D-1817M.mp4 ) on youtube? Then I will hook them into the results section of step-69.

[2020-05-25 19:50] bangerth commented on #10350
If you have time and interest, that would be fantastic!

I think there's no downside to calling it once for each particle. The number of particles lost is probably going to be small, and I'm pretty sure that the cost of the call is substantially smaller than moving a particle, for example.

[2020-05-25 22:19] gassmoeller commented on #10350
See #10362, I think that should allow you to do what you intend in the step.

[2020-05-26 08:28] agrayver commented on #2914
BTW, this is not true. You can create a refined p::d::t from a deserialized serial triangulation by using this constructor:

https://www.dealii.org/current/doxygen/deal.II/classparallel_1_1distributed_1_1Triangulation.html#ae09eb5f25fd81eca041851bd8eedec15

[2020-05-26 14:50] krishnakumarg1984 opened #10365 "Remove the redundant edge (40->67) in the tutorial dependency graph"
In the current `dev` version of the tutorial [dependency graph](https://dealii.org/developer/doxygen/deal.II/Tutorial.html), the directed link 40->67 is redundant, and can be removed.

This will allow a cleaner and better layout of the dot diagram.

[2020-05-26 15:02] krishnakumarg1984 opened #10366 "Better visibility for the AD feature from recent versions of deal.ii (beginning from 9.1)"
Automatic differentiation example is currently included in Step-33. This is slightly harder to access because

1.  Euler laws of gas dynamics are generally a more specialised problem to CFD (and not in the solid mechanics community) and thus a lot of people will miss out, and

2. Lots of beginners will never reach Step-33 (or will take a long time to reach there)

It would lend better visibility t

[2020-05-26 15:04] bangerth commented on #10365
But it isn't redundant. There is no other path from step-40 to step-67...

[2020-05-26 15:05] bangerth commented on #10365
Oh, not quite: 40->37->59->67.

So yes, maybe we should remove it. Want to write a patch? It's in `examples/step-67/doc/builds-on`.

[2020-05-26 15:28] tamiko commented on #10358
@bangerth Here you go: https://www.youtube.com/channel/UCIuee-M5TX35L7cfjkch6aA/

In particular:
 - https://www.youtube.com/watch?v=vBCRAF_c8m8
 - https://www.youtube.com/watch?v=xIwJZlsXpZ4

[2020-05-26 15:58] jppelteret commented on #10366
Firstly, let me say that your suggestion has caught our interest; @bangerth in particular agrees that this would be a nice tutorial to have a variant for that uses AD.

Although not yet visible to the community, I have already two AD/SD tutorials lined up for integration into the library. Both of them have full implementations but are yet to be documented. The first is one that shows how to use AD

[2020-05-26 18:59] dpeschka commented on #10037
@luca-heltai and myself work on a project, where we solve a free boundary problem using an energetic-variational approach, where some dofs couple to dofs soley defined on the boundary. While the implementation of the mixed FE problem relies on GridGenerator::extract_boundary_mesh, we still needed to define the mapping of dofs and some aspects of the quadrature "by hand". Having this included into/

[2020-05-26 19:06] #10350 closed

[2020-05-26 21:31] gassmoeller opened #10370 "Allow changing the quadrature for a FEValuesBase object?"
We have a number of places in the particle steps (and ASPECT) that do the following:
[code]

This could be much simpler (and save some memory allocations) if we could to the following:
[code]

The `set_quadrature` would need to invalidate the current cell of course. Do you think it makes sense to introduce such a function? Should it instead be implemented as a `reinit(cell,quadrature)` function? A

[2020-05-26 21:40] bangerth commented on #10370
Maybe calling it `replace_quadrature()` to make it even clearer that we're invalidating all internal data structures?

This isn't faster than what we're doing right now. You're just saving a single line of code. On the downside, you'd have to make some variables non-`const`. I think that the current setup has the benefit of making it clear that you're starting from scratch.

[2020-05-27 02:52] #10365 closed

[2020-05-27 04:26] #10358 closed

[2020-05-27 13:04] bangerth commented on #10284
Not fixed yet.

[2020-05-27 13:12] bangerth opened #10381 "Code gallery isn't linked into the documentation any more"
No code gallery little circles here: https://dealii.org/developer/doxygen/deal.II/Tutorial.html
Also no codes listed here: https://dealii.org/developer/doxygen/deal.II/CodeGallery.html

Anyone has an idea what happened?

[2020-05-27 13:13] bangerth commented on #10381
The same is true for the 9.2.0 documentation here: https://dealii.org/current/doxygen/deal.II/Tutorial.html

We ought to fix that pronto :-(

[2020-05-27 14:01] drwells commented on #10381
That's weird - I verified that we can build it correctly as part of the release step. Perhaps the website isn't configured to pull it in?

[2020-05-27 14:59] kronbichler commented on #10370
If that is really a pressing need, one thing that could be done more efficiently in case there is pressing need is to provide the evaluation of *all* basis functions (and their gradients, or whatever an `UpdateFlags` object instructs us to do) in a single point. This is potentially more efficient because we could only query the 1D polynomials in a tensor product element that needs to be collected

[2020-05-27 17:52] bangerth opened #10388 "TaskFlow: How to start a single task"
Here's a question I can't seem to figure out on my own: For our own `Threads::new_task()` function, what I want to do is in essence what `std::async` does -- create a task, hand it off to the powers to be, walk away and return a handle so that someone can later check whether the task has finished.

I can't see how TaskFlow does that. Their executor takes a `tf::TaskFlow` objects, which of course I

[2020-05-27 19:00] tamiko commented on #10321
Closed in favor of a new issue

[2020-05-27 19:00] #10321 closed

[2020-05-27 19:10] tamiko opened #10391 "Thread cleanup"
Dear all - just to be on the same page - I think we should quickly discuss what should happen regarding our Thread support cleanup.

I suggest to:

 - [ ] Remove direct thread handling from `SparseVanka` and port to `TaskGroup` (@drwells is working on this)
 - [ ] Port `step-28` to `TaskGroup` (instead of using threads directly)
 - [ ] Deprecate `ThreadGroup` and our `Thread` wrapper
 - [ ] Deprec

[2020-05-27 19:16] kronbichler commented on #10391
One thing that will be a bit of work to port are the matrix-free loops here: https://github.com/dealii/dealii/blob/master/source/matrix_free/task_info.cc#L353-L585
That is essentially implementing a kind of task graph with TBB, but the code is super ugly. This should be much easier to implement with a DAG-based library like `taskflow` - but it needs to be done.

[2020-05-27 19:16] tjhei commented on #10391
I fully agree (we came up with this together on zoom).

To add to this:
ThreadGroup/Thread is not useful for any part inside the library as one should create a task instead. The only reason to spawn a thread is to do background I/O. Matthias points out that this doesn't need any fancy wrappers in the library.

[2020-05-27 19:17] tjhei commented on #10391
ah, okay. I will take a look at that as well.

[2020-05-27 19:18] kronbichler commented on #10391
I could help because the code is, well, involved, and I would need to somewhere sketch the dependencies. This is not super urgent, so if we run the stuff in serial for a week or two it won't hurt too much.

[2020-05-27 19:18] tjhei commented on #10388
My understanding is that the taskflow object needs to be alive:

see https://cpp-taskflow.github.io/cpp-taskflow/chapter1.html#C1_LifetimeOfATask

[2020-05-27 19:19] tjhei commented on #10391
That would be helpful. We can also video chat about it, if you think that helps.

[2020-05-27 19:27] bangerth commented on #10321
What's the other issue?

[2020-05-27 19:29] bangerth commented on #10388
Ugh. That's awkward. I wouldn't know where to put the taskflow object. (I guess I could stick it into our `Task` object...) I'll ask on their forum.

[2020-05-27 19:42] bangerth commented on #10388
See https://github.com/cpp-taskflow/cpp-taskflow/issues/172

[2020-05-27 19:46] tamiko commented on #10391
Some of our polynomials/fe classes use a `Thread::mutex` to guard scratch data. How shall I proceed? I can give all of them appropriate copy constructors/etc. or make the scratch area thread local (which would avoid contention)?

[2020-05-27 19:51] bangerth commented on #10391
`TaskGroup` should stay since we want to keep `Task`. `TaskGroup` is a useful concept .

`Threads::Mutex` is difficult to replace by `std::mutex` because the former is copyable whereas the latter is not. In essence, if you want to make the replacement, you will have to write lots of copy operators by hand that would otherwise be trivial.

[2020-05-27 19:56] tamiko commented on #10391
It doesn't look too bad. Also, this is the perfect chance to remove most of the awkward mutexes that guard scratch data and use thread local storage instead.

[2020-05-27 19:58] bangerth commented on #10391
No, that's really not the right thing to do. If an operation in a protected region creates a different task that is run on the same thread, you will get corrupted data. If you use a mutex, you will get a deadlock. I much prefer the deadlock.

[2020-05-27 20:18] tamiko commented on #10391
@bangerth I don't understand. I think we are talking about different things here.

[2020-05-27 23:00] bangerth commented on #10284
Nope, I think that the problem may have been worked around, but that it isn't properly fixed yet. I still have plans for this :-)

[2020-05-28 01:48] tjhei commented on #10388
that wouldn't be too bad, I would think. Do you want to play with this or do you want me to take a look?

[2020-05-28 02:07] tjhei opened #10400 "clang-10 PETSc/Trilinos warnings"
Not sure why I didn't see them before, but I am getting
[code]

I don't have time to look at them right now...

[2020-05-28 02:15] tamiko commented on #10400
@tjhei Also see https://cdash.43-1.org/viewBuildError.php?type=1&buildid=6843
You didn't see warnings before because you probably compiled with "-std=c++17" before but we now default to whatever the compiler sets as default and this is `-std=c++14`.

[2020-05-28 12:44] kronbichler commented on #9347
Partly addressed by #10328.

[2020-05-28 12:49] kronbichler opened #10401 "Implement FEEvaluation::submit_hessian()"
We currently support `FEEvaluation::evaluate(EvaluationFlags::hessians)` and the access `FEEvaluation::get_hessian()` but not `FEEvaluation::integrate(EvaluationFlags::hessians)` and `FEEvaluation::submit_hessian()`. This should be addressed for the next release. One thing that makes things slightly more complicated is the fact that `submit_hessian()` will accumulate contributions both for the sec

[2020-05-28 16:04] bangerth commented on #10388
No worries, I know how to do it. But only after #10389.

[2020-05-28 18:36] tamiko commented on #10349
We're almost there (clang is now fine - more or less) - gcc is still a bit unhappy:
  https://cdash.43-1.org/viewBuildError.php?buildid=6866

[2020-05-28 20:56] tjhei commented on #10391
@tamiko I don't understand https://github.com/dealii/dealii/blob/bbd65bc0527d84c18670ff7014e42aae1768ac77/cmake/config/CMakeLists.txt#L202
can you explain?

[2020-05-28 21:35] bangerth opened #10414 "Multithreaded direct solvers"
The only direct solver we currently have is UMFPACK, which unfortunately is not multithreaded. We should look around to what else we can find.

There is currently a pending patch to integrate SuperLU_mt (see #9828) that would get us in the right direction. SuperLU has a good reputation and I suspect that its multithreaded version will be a good fit for us as well. I definitely think that we should

[2020-05-28 21:43] tamiko commented on #10391
@tjhei Yes. This line unconditionally sets `SET(DEAL_II_WITH_THREADS ON)` in the project configuration. If you want to have a different behavior for now you can simply replace the `ON` by `${DEAL_II_WITH_TBB}` (or whatever).

[2020-05-29 13:54] tjhei commented on #10391
We now always support creation of threads, so I don't see a situation where this would be necessary. Maybe we should just remove this define after #10418 is merged?

[2020-05-29 14:33] tamiko commented on #10391
On Fri, May 29, 2020, at 08:54 CDT, Timo Heister <notifications@github.com> wrote:

Let's keep it there for backwards compatibility :-)

[2020-05-30 01:34] Fanxiaotsing commented on #10330
So that means I have to build the library from the bottom?

[2020-05-30 12:52] badshah400 opened #10423 "Configuring error when turning python bindings on"
Trying to enable python bindings on openSUSE packages, I run into the following problem:

[code]

However, boost's python bindings/libs are installed; the cmake files for them are present in the system at `/usr/lib64/cmake/boost_python-1.71.0/`.

The full cmake command used is as follows:

[code]

[2020-05-30 20:50] philm001 commented on #7524
ok, I have made the modifications, I just need to run some tests and issue a pull request. Here is the message that I wrote. Let me know if you want to change it:

The data type signals is already defined. You are most likely using the QT library \
and using the signals keyword. You can either #include the Qt headers (or any conflicting headers) \
after the deal.ii headers or you can define the QT

[2020-05-31 16:03] tamiko commented on #10423
Most likely the issue is the following: It finds python version 3.8.3. After that it tries to find a suitable Boost with python-bindings precompiled and installed for version 3.8.3 but couldn't find it (`missing: python38`). Would you mind checking what versions of python your boost-python package supports?

[2020-05-31 16:38] badshah400 commented on #10423
The system boost (including its python bindings) is version 1.71.0 and is built against python 3.8.3, so it should support the same version of python. These are system packages installed on the latest openSUSE Tumbleweed; this ensures that the same python3 is used both for building boost-python and for other packages, such as dealii.

[2020-05-31 17:57] peterrum opened #10431 "Make the use of int and unsigned int consistent in Triangulation"
... noticed while working on #10430.

[2020-05-31 23:07] bangerth commented on #10431
That's partly historical -- `numbers::invalid_unsigned_int` postdates the use of `-1` as a marker for invalid things in `TriaAccessorBase`.

[2020-06-01 13:37] bangerth opened #10438 "Rename TriaAccessor::set() to TriaAccessor::set_bounding_object_indices()"
Follow-up to #10434: There is the awkwardly named function `TriaAccessor::set()` that just takes a bunch of integers. Its name really doesn't give away much. We should rename it to `TriaAccessor::set_bounding_object_indices()` because that's what it does: For cells, it sets the indices of the faces, for quads those of lines, for lines those of vertices.

@peterrum -- FYI. I'll let you beat me to i

[2020-06-01 13:40] bangerth commented on #10438
By the way, all uses of this function are in `tria.cc` and are of the form `->set(`. It should be easy to find-replace.

[2020-06-01 13:47] peterrum commented on #10438
I can do it if you want; shouldn't take too long. However, I would be happy if all open PRs related to triangulation could be merged till the morning (CET). I am going through the whole `tria.cc` file and analyzing which function is limited to one type of meshes. I will probably tomorrow move these functions to a single place as a preparation for generalization.

[2020-06-01 17:50] drwells commented on #10330
Unfortunately, until we get this fixed that will be necessary.

[2020-06-02 04:20] #10438 closed

[2020-06-02 15:41] blaisb opened #10443 "Possible bug with Particles::DataOut in parallel for particle with properties"
While finalizing the development of step-68 I am facing some sort of issue with the Particles::DataOut. I attach dim+1 properties to my particles, the first dim are a vector and the following one is a scalar.
When running on 1, 2 or 3 processor, everything works perfectly fine as expected. When running on 4 processor, I an error at a seemingly random moment (see below).

The problem appears to be

[2020-06-02 15:46] bangerth commented on #10443
I wonder whether that processor simply has not particles.

[2020-06-02 15:47] blaisb commented on #10443
That is absolutely possible. I will check it out.

[2020-06-02 15:58] gassmoeller commented on #10443
Repost of my message on slack:

Yes, I think I know whats happening. I did not test the particles property output if a process has no particles. In that case one of the asserts calls particles.begin()->get_properties().size(), but if there are no particles particles.begin() == particles.end() and we can not ask for the properties of a particle that does not exist. Can you check if the error goes a

[2020-06-02 16:21] blaisb commented on #10443
Yes, it works just fine if you compile in release mode! Seems like your instinct is spot-on

[2020-06-02 16:22] blaisb commented on #10443
Yes! It works perfectly fine in release mode. Your instinct is spot-on. Do you want to make a pull request or I take care of it?

[2020-06-02 16:54] gassmoeller commented on #10443
See #10444.

[2020-06-02 18:24] #10214 closed

[2020-06-02 19:19] #10443 closed

[2020-06-02 20:25] agrayver opened #10447 "Document binary incompatibility of the Triangulation post 9.2"
The changes done in https://github.com/dealii/dealii/pull/10326 led to binary incompatibility of the serialized triangulations.

This concerns both triangulations saved via `tria.save` as well as those saved by using `GridOut::write_vtu` (with the GridOutFlags::Vtu::serialize_triangulation flag).

Should be this be properly documented by adding an incompatibility item?

I've just hit this issue an

[2020-06-02 20:38] bangerth commented on #10447
Yes, I think that is legitimate. In reality, this is by far not the first time this has happened, and we don't think that there should ever be an expectation that you can read anything that was serialized with anything other than the exact version you saved it with. But we should probably be clearer about that.

@peterrum -- FYI.

[2020-06-02 20:43] agrayver commented on #10447
Well, apart from my personal frustration of debugging this, there is a positive side -- new triangulations became lighter and faster to read :)

[2020-06-02 20:43] peterrum commented on #10447
I can write an incompatibility entry tomorrow! But, for me the binary output should be readable by the same program version (as normally done during restart). Everything else would prevent adding new features (or at least would make it very difficult).

[2020-06-02 20:44] peterrum commented on #10447
I can understand that. Sorry about this!

Is that actually noticeable!?

[2020-06-02 20:59] agrayver commented on #10447
If only I knew about this expectation! ;)

Anyway, this is minor, but it could be easily handled through the boost::serialization [versioning](https://www.boost.org/doc/libs/1_73_0/libs/serialization/doc/tutorial.html#versioning) mechanism. In the end, there is no other mechanism to save a deal.II triangulation for a later use than serialize it. Versioning this `file format` would not harm.

[2020-06-02 22:07] bangerth commented on #10447
I'm not sure it is practical to read older formats of a triangulation. But it is definitely reasonable that we just write out a version number and throw an exception of the file we're trying to read is from an older version.

[2020-06-03 09:44] agrayver opened #10449 "Memory consumption of p::f::t"
Here is what I get by calling `tria.memory_consumption` for p::f::t:

[code]

I wonder why is there such an imbalance for rank = 0?

For reference, here is p::s::t result:

[code]

[2020-06-03 09:52] peterrum commented on #10449
That shouldn't be the case. Is the mesh equally partitioned?

[2020-06-03 10:52] agrayver commented on #10449
The problem is not in the partitioner. Rank = 0 occupies the same memory independent of number of mpi processes:

[code]

It feels like some structures of the base triangulation are not freed?

[2020-06-03 11:29] peterrum commented on #10449
Do you happen to have a small test progam?

[2020-06-03 12:09] agrayver commented on #10449
Here is an example:
[code]

Here is output with 8 processes:

[code]

[2020-06-03 12:46] peterrum commented on #10449
May I ask you to remove the if-statement here so that the partitioning on the levels is also performed:

https://github.com/dealii/dealii/blob/6c3defc1fd9146366409316a92da7a7dbdbc954a/source/distributed/fully_distributed_tria.cc#L265-L267

My feeling is that all levels are owned by rank 0...

I will try it out myself later today!

[2020-06-03 12:55] agrayver commented on #10449
Yes, calling `GridTools::partition_multigrid_levels` fixed the problem...

[2020-06-03 13:24] peterrum commented on #10449
Thanks for trying out!

[2020-06-03 14:29] agrayver commented on #10449
So is this an intented logic or it requires a fix?

[2020-06-03 15:45] peterrum commented on #10449
@agrayver May I ask you to try out the fix in #10453. Thanks!

[2020-06-03 18:29] agrayver commented on #10449
Yes, this seems to work, thanks.

[2020-06-04 19:42] nfehn opened #10459 "Clarify expected behavior of GridTools::find_active_cell_around_point()"
The documentation of ``GridTools::find_active_cell_around_point()`` says that the cell returned may be an artificial cell, but it is unclear whether this makes sense or whether this is possible, see PR #10456.

This issue should clarify the expected behavior.

[2020-06-04 21:36] bangerth commented on #10284
Well, still not fixed :-)

[2020-06-04 23:16] CL-Jeremy commented on #8274
This seems to be due to the immaturity of the lld linker for macOS targets. It is lacking some features native to macOS (cf. https://stackoverflow.com/questions/60944732/using-fuse-ld-lld-with-clang-on-macos).

[2020-06-05 03:59] bangerth opened #10462 "ThreadLocalStorage needs a move operator="
For #10284, it turns out that I need a move `operator=` for `AffineConstraints`, but that's not so easy because that class will have a `ThreadLocalStorage` which does not have a move version of `operator=`. (It doesn't have one because it has a `std::mutex` member, which makes the compiler-generated move `operator=` `=delete`d.)

@tamiko -- do you see a good reason not to add one?

[2020-06-05 03:59] bangerth commented on #10462
(I'm not sure whether `ThreadLocalStorage` had such an operator before #10285, but that's not an important thought anyway.)

[2020-06-05 05:15] tamiko commented on #10462
@bangerth I simply copied the interface from the old class and added move variants for the existing operations. We subsequently removed the copy constructor in #10184 .

Providing a move constructor and a move assignment operator is a good idea. I originally didn't do it because I didn't want to think about the correct locking policy and mutex handling in this case.

But I guess the semantics are

[2020-06-05 20:43] luca-heltai opened #10472 "Update web page news section."
![image](https://user-images.githubusercontent.com/2919756/83921083-ee5c5300-a77d-11ea-8de1-ec8b0a6fe34a.png)

[2020-06-05 20:48] luca-heltai commented on #10284
@bangerth : why do you say so?

We actually do. We have some configurations with TBB working perfectly fine on MSVSC.

[2020-06-05 21:52] bangerth commented on #10462
I'm confused. The `ThreadLocalStorage` class has a move `operator=` and move constructors alright. And `AffineConstraints` has its move constructor `=default`ed, yet this is the error I get:
[code]
Note how `AffineConstraints(AffineConstraints &&)` is calling `ThreadLocalStorage(const ThreadLocalStorage &)` despite the fact that there is `ThreadLocalStorage(ThreadLocalStorage&&)`.

Similarly:
[cod

[2020-06-05 22:17] masterleinad commented on #10462
It's easier to help if there is a pull request or a branch to share. :slightly_smiling_face:

[2020-06-06 03:12] bangerth commented on #10462
Good point -- see #10473. To reproduce the issue that gives me the error message above, do
[code]

[2020-06-06 16:27] kronbichler commented on #5112
Fixed by #9100.

[2020-06-06 16:27] #5112 closed

[2020-06-06 16:44] kronbichler opened #10474 "DataOut::add_data_vector vector handling"
The current design of `DataOut::add_data_vector` seems to be a bit annoying for several reasons:
- The vectors passed to `add_data_vector` need to survive until "build_patches" - or is it the write_out functions? This makes writing modular code where the `add_data_vector` function is called in a different module than `build_patches()`/`write_...` cumbersome because one cannot use locally created v

[2020-06-06 23:22] krishnakumarg1984 commented on #9684
Can we start looking into this now that 9.2 release is done?

[2020-06-06 23:48] krishnakumarg1984 opened #10476 "[Step-52 doc] Consider using a different mathematical variable for one time-step increment"
In Step-52 for deal.ii v9.2 release, we currently use `h` for the local time-step difference. However, this is confusing for someone coming to step-52 solve a diffusion equation after reading Step-6 (which talks about adaptive mesh refinement), wherein `h` (and its variants with subscripts) is used for the local mesh size/cell diameter etc.

Can we instead use `$\Delta t$` instead for the time-ste

[2020-06-07 18:50] tjhei commented on #10391
I am looking for some initial feedback for an implementation of Workstream::run() using taskflow. I have made 4 different implementations so far and benchmark them against TBB. v4 seems to be more or less competitive on my laptop and my workstation (shown below).

Questions:
1. Right now the benchmark is hacked into step-9 and only considers the step-9 assembly. What other cases situations do we n

[2020-06-07 22:26] masterleinad commented on #10462
Because they don't exist. You also get:
[code]
The copy assignment for `std::shared_timed_mutex` is explicitly deleted and hence user-defined. Thus, no implicit move assignment operator is defined. Similarly, for the copy constructor/move constructor.

Copy constructor, move constructor, copy assignment operator, and move assignment operator for `ThreadLocalStorage` must be defined explicitly beca

[2020-06-07 22:28] masterleinad commented on #10462
It's probably a good idea to use both the locks of the source and the target object when implementing these functions.

[2020-06-08 10:46] dangars opened #10479 "Remove QuadratureCache from step-62"
In step-62 a frequency sweep is done to calculate the spectrum of an elastic structure.

The mass and stiffness matrices are the same for all the frequency steps. We store them
 in the `QuadratureCache` buffer in order to improve the assembly speed. This has the following advantages/disadvantages:
- Advantange: Assembly is faster
- Disadvantage: It takes lot of memory. The amount of memory is very

[2020-06-08 19:51] bangerth commented on #10462
Locks: I think it makes no difference -- when you move, the state of the old and new objects irrevocably change: Whoever is accessing the data stored in these objects at the time is going to be screwed anyway. In other words, any other thread's use of these objects creates a race condition with or without lock: it can only start using the new object once it has been moved to, and must stop using t

[2020-06-08 19:54] bangerth commented on #10462
As for the error message: I think you didn't read that right. `AffineConstraints (AffineConstraints &&)` is deleted because it wants to use the deleted constructor `ThreadLocalStorage(const ThreadLocalStorage<T>&)`. But I would have expected that is uses `ThreadLocalStorage(ThreadLocalStorage<T>&&)` instead, which exists alright.

[2020-06-08 19:56] bangerth commented on #10462
Oh, I think now I get it: `ThreadLocalStorage(ThreadLocalStorage<T>&&)` is declared as `=default`, but that here implies `=delete` because one of the members can't be moved. It would have been nice if the compiler told me that...

So long story short, we do need the move constructors and operators after all, and need to implement them rather than `=default` them.

[2020-06-08 20:00] masterleinad commented on #10462
Yes. :slightly_smiling_face:

Yes, but for the copy constructor, the old object can still be used. I wasn't sure if you also wanted to implement that or not in the end.

[2020-06-08 20:31] tamiko commented on #10391
@tjhei The results for taskflow v4 look very promising.

Out of curiosity: Would you mind to run the assembly also for, say about 2-4M DoF (just comparing taskflow v4 versus TBB on say 16 cores). Maybe this shifts the sweet spot towards 32 threads - who knows.

It would be possible to look into this a bit with instrumentation via performance counters (e.g., looking at cache miss rates and false sh

[2020-06-08 21:36] bangerth commented on #10391
Nice. I agree that it would be nice to see the same data for a larger problem. I can also easily try this on my 96-core (physical cores) machine one of these days!

[2020-06-08 22:00] tjhei commented on #10391
bigger run shows the same behavior:
[code]

Yes, I agree that this is sensible. I would also want to move to a working version without TBB as soon as possible, though. Maybe put v4 in and go from there?

Should we preserve these different versions? I could convert this into a test.

[2020-06-08 23:16] bangerth commented on #10391
Yes, make a patch for `workstream.h` of v4 and I'll review. Make the other versions into a test just because you can and to give us confidence in TaskFlow going forward.

My take is that we want to get rid of TBB, so I don't see a need to keep the TBB version around in the long run. It may be interesting to keep it available as a backup for now, but would not object if you wanted to make TaskFlow

[2020-06-09 17:38] jppelteret commented on #10479
Yes, that looks like it must store a lot of data, and could be a bottleneck for scaling up the problem size. What is the approximate difference in speed when using it versus the standard non-cached assembly approach? If its just a few percent, then I think that removing it to further simplify the code would be sufficient justification for the change.

[2020-06-09 17:47] jppelteret commented on #10479
The other thing to remember is that the original implementation will be memorialised in the 9.2 release documentation. So, if the change does get made, then its always possible to direct someone's attention to that version if necessary. The "possibilities for extension" part could also be amended to suggest this (or some other) caching mechanism in cases where its needed (e.g. when using expensive

[2020-06-09 21:30] tjhei commented on #10381
On it. I am discussing the fix with Guido.

I think we only should have it in the /developer/ version so that it is always up to date. Otherwise the version under current/ or 9.2.0/ will be out-of-date (or would require rebuilding). Let me know if you disagree.

[2020-06-10 00:19] bangerth commented on #10462
I'm stuck again. I can't seem to figure this out. Above I convinced myself that I need `ThreadLocalStorage(ThreadLocalStorage<T>&&)` but that I don't have it because is declared as `=default`.

I don't know what I was looking at, though. That function is there and not `=default`: https://github.com/dealii/dealii/blob/master/include/deal.II/base/thread_local_storage.h#L127 And so is the move operat

[2020-06-10 01:01] tamiko commented on #10462
@bangerth I took the liberaty to push a quick implementation of the missing copy and move constructor and assignment operators to your affine-2 branch. This seems to compile :-)

[2020-06-10 02:58] blaisb opened #10489 "Travis-CI for documentations throws error when DiscreteTime::get_step_number() is called in a step"
The DiscreteTime class contains a useful function called get_step_number().
However, it seems the doxygen tries to interpret that as step_something (e.g. step_58) and this leads the TravisCI to crash when building documentation. For example :
https://travis-ci.org/github/dealii/dealii/builds/696674291

To be honest, I am absolutely clueless about these things and I do not know which solution to su

[2020-06-10 07:36] nfehn commented on #10459
There are other points that are not clear to me: There are several issues on the topic of fixing bugs for find_active_cell_around_point(), issues #10175, #7930, #7576. And other issues deal with the unclear aspect of how to deal with artificial cells for GridTools functions as well. Especially #7576 seems to be closely related to the recent issue #10459. The documentation of find_active_cells_arou

[2020-06-10 10:12] dangars commented on #10479
In step-62 the assembly takes 27% of the total time (total_time = 0.467s). In step-62 there is only 12000 dofs.

But the code of step-62 can be used for more complex structures. For 1M dofs, the assembly takes 2.5% of the total time, this is because a direct solver is used. It is not easy to develop an iterative solver for the equation of step-62.

I'll remove `QuadratureCache` but I'll discuss `Q

[2020-06-10 14:02] tjhei opened #10494 "[CI] windows github actions quick test link failure"
master is failing with
[code]
see https://github.com/dealii/dealii/actions?query=workflow%3Agithub-windows

[2020-06-10 15:24] tamiko opened #10500 "Detangle DEAL_II_WITH_ZLIB and boost::iostreams"
We currently try to find and link against an external zlib library which is controlled by `DEAL_II_WITH_ZLIB`. However, we mainly use `DEAL_II_WITH_ZLIB` as a heuristic whether boost has gzip compression/decompression capabilities. This is wrong because
 - we might accidentally pick up the wrong zlib library, see #10499,
 - finding zlib doesn't actually guarantee that boost has enabled zlib suppor

[2020-06-10 16:03] #10494 closed, assigned to nobody

[2020-06-10 19:57] bangerth opened #10506 "Test failures in find_active_cell_around_point_tolerance"
I get a substantial number of failures on master that all look like this:
[code]

This is the list of tests that, I believe, now fails:
[code]
Anyone have a guess which recent patch caused this, and what needs to be done to fix this?

[2020-06-10 23:48] bangerth commented on #9901
`source/matrix_free/task_info.cc` is now the only file that still uses the TBB task interface.

[2020-06-11 00:38] bangerth commented on #10500
Just as a side remark: Whenever we use the bundled boost, we compile the `boost::iostreams` library ourselves and for that, we need to know whether we can link against `libz`.

[2020-06-11 00:40] bangerth commented on #10391
Then put the v4 into a namespace `WorkStream::v4` and when we get around to removing the old version, we just move stuff out of that namespace and into `WorkStream`.

[2020-06-11 03:01] tamiko commented on #10500
Ah. I forgot about that.

[2020-06-11 03:01] #10500 closed

[2020-06-11 03:44] #10072 closed

[2020-06-11 07:02] kronbichler commented on #9901
I will try to port that to taskflow, but I won't manage to do so in the next three weeks. The functionality is not super high priority, so we could simply disable threading in the meantime if we want to move ahead and enable it again when I'm ready.

[2020-06-11 12:26] #10462 closed

[2020-06-11 12:50] #10472 closed

[2020-06-11 12:57] bangerth commented on #9901
I don't think we're in a particular hurry with this.

[2020-06-11 13:19] luca-heltai commented on #10175
So, this has been around for a long time: #7576. I think it is time we think of a permanent solution... (see also #10459, and #10506)

[2020-06-11 14:04] tjhei commented on #10072
Wait, who checked "celebration" and celebrated without me? :-)

Thanks, @tamiko and @kronbichler for your hard work over the last couple of weeks!

[2020-06-11 14:59] #10284 closed

[2020-06-11 17:49] tamiko commented on #10459
I have opened #10514 in the meantime to fix all failing tests (see also #10506). We will have to update these tests again in case we decide to adapt the behavior of `GridTools::find_active_cell_around_point` again.

[2020-06-11 17:53] tamiko opened #10515 "test particles/particle_handler_06 is broken"
Some of the recent changes broke this test reproducibly:

https://cdash.43-1.org/testSummary.php?project=1&name=particles/particle_handler_06.mpirun=2.debug&date=2020-06-10

@gassmoeller @luca-heltai  @blaisb @peterrum  *ping*

[2020-06-11 19:10] #10506 closed

[2020-06-11 19:39] bangerth commented on #10515
See #10351 .

[2020-06-11 19:39] #10515 closed

[2020-06-11 21:00] bangerth commented on #10381
I don't know where people look up their documentation, but I think it would be nice to have a frozen version also for the releases. It's not really any different than the tutorials we have -- their also shown in their frozen versions.

[2020-06-12 09:15] kronbichler commented on #10459
Thanks @tamiko.

[2020-06-12 10:04] guidokanschat commented on #10381
Sorry guys, when I did the 9.2 documentation, I accidentally deleted the development clone.

Currently recompiling the documentation after fixing the directory.

[2020-06-12 12:19] tjhei commented on #10381
looks good, thank you Guido. :+1:

[2020-06-12 13:10] #10447 closed

[2020-06-12 15:02] guidokanschat commented on #10381
Might be a good idea to check after the next change in the gallery

[2020-06-12 22:46] #9839 closed

[2020-06-14 10:19] peterrum opened #10530 "Redefinition of CellAccessor::active_cell_index()"
PR #10490 introduces globally cell unique indices for active and multigrid levels for locally owned and ghost cells. Furthermore, it introduces partitioners. The global indices and the partitioners could be used to redefine consistently `active_cell_index()`. A code might look like this:
[code]
the values could be of course be pre-computed. This way to define `active_cell_index()`  would enable to

[2020-06-14 10:19] jppelteret opened #10531 "shared_timed_mutex not available on older versions of MacOS"
[code]

I just rolled back to version 9.2, which is OK for now. @tamiko I think that you introduced this change a short while ago. Is there an easy(ish) workaround for this? I know that my OS is old (circa Sept 2015), so if the answer is "no" then I recognise that I might just need to upgrade everything. I wonder, though, if there are users that might hit the same issue.

[2020-06-14 23:19] masterleinad commented on #10531
What's your compiler and version?

[2020-06-15 03:54] bangerth commented on #10531
That's disappointing -- it's clearly marked as C++14:  https://en.cppreference.com/w/cpp/thread/shared_timed_mutex

[2020-06-15 06:59] jppelteret commented on #10531
[code]
It looks like this is based off of [LLVM 3.9](https://en.wikipedia.org/wiki/Xcode#Xcode_7.0_-_11.x_(since_Free_On-Device_Development)). So it looks like this falls below our minimum supported version of "Clang version 4.0 or later", and from the table I linked to we should blacklist everything below `Apple LLVM version 9.0.0 (clang-900.0.37)`.

[2020-06-15 07:01] jppelteret commented on #10531
It looks like there is a boost version of `shared_mutex` (which I could use as a workaround) but I feel that we should probably respect our minimum compiler requirements.

[2020-06-15 15:22] tamiko commented on #10531
We can make a simple feature test for
std::shared_timed_mutex/shared_mutex and if not available fall back to
the boost version. I will make a pull request for this sometime this
week.

Best,
Matthias

[2020-06-15 15:48] nfehn commented on #10175
@luca-heltai what is the relation to #7930, which you did not mention above?

[2020-06-15 16:02] nfehn opened #10535 "Improve design of GridTools::find_active_cell_around_point()"
This issue discusses design changes of `GridTools::find_active_cell_around_point()`, but not bug fixes:

Let's collect the opinions mentioned so far in other chats:

@nfehn: throwing exceptions

@kronbichler: Default parameters

@tamiko: Backward compatibility

@luca-heltai: throwing exceptions

[2020-06-15 16:09] nfehn commented on #7576
@luca-heltai @tamiko @kronbichler Can we close this issue since #10456 and #10514 have already been merged? It should now be clear how the algorithm deals with artificial cells

[2020-06-15 22:23] bangerth commented on #10391
OK, so here's what I get on my 96 core-machine (x2 hyperthreaded) in debug mode, for refinement cycle 1 (16k cells, 410k unknowns):
![image](https://user-images.githubusercontent.com/7504421/84711504-c9a56f80-af23-11ea-9baa-50ae98ba6bbc.png)
So all of your versions scale about as well as the TBB version, with v4 slightly better than the TBB. All stop scaling beyond 24 cores.

In release mode, thin

[2020-06-15 22:24] bangerth commented on #10391
The separated point off to the right is the "automatic" choice the program outputs, which I believe means "no limit".

[2020-06-16 02:53] bangerth commented on #10391
And here are corresponding 3d results. Note that v4 scales substantially better than the TBB in release mode:
![image](https://user-images.githubusercontent.com/7504421/84726374-f8ced780-af49-11ea-94d5-936fec2bcff8.png)
This is using 64 cells and 9261 DoFs -- far too small to actually matter, but nice to see!

[2020-06-16 03:00] bangerth commented on #10391
For reference, I've added the data files from which these graphics are generated to the 9.3 release paper directory. I'm sure we'll want to write something about that.

[2020-06-16 08:31] kronbichler commented on #9790
#10328 must have helped on this issue. I observed for the size of the compiled library (which is at least somehow related to compile times) for the current master compared to the last time that particular machine compiled the 9.2 branch before release:
[code]
#10334 will bring things down by another 1% or so, so we seem to progress in the right direction.

[2020-06-16 09:42] luca-heltai opened #10537 "Boost signals overkill for particle_lost()?"
Discussing with Prof. Michael Westdickenberg, he pointed out that boost::signals2 may be an overkill for particles (especially in the cases where we have many particles).

The discussion he pointed me to was this one:

https://stackoverflow.com/questions/22416860/is-boostsignals2-overkill-for-simple-applications

What are your opinion on this? @gassmoeller @blaisb , @bangerth.

[2020-06-16 12:04] tjhei commented on #10391
While not amazing, this is at least not worse than TBB.

Yes, I am starting with the default setting without imposing a limit. This was mainly to test that our multithread-initialization is doing the right thing. :-)

Any thoughts for improvements? I would assume that the sequential copying is to blame for the limit in scaling, which depends on the cost of copying vs working. This is especially vi

[2020-06-16 14:04] bangerth commented on #10391
Yes, precisely: This limits 2d scalability and is better in 3d because the work/copy ratio is better in 3d.

I think this data is pretty good, and would be happy to just replace the existing implementation by the one you have (v4). Or, if you have other examples you'd like me to test, I can do that too.

[2020-06-16 14:08] bangerth commented on #10537
The very first comment on the question is this:

I think that in practice, the action one would perform in the function called in the signal is likely vastly more expensive than triggering the signal. The same is almost certainly true for the cost of moving particles around. So my take on these signals is: They're pretty convenient in practice and offer nice functionality; they're not a performanc

[2020-06-16 14:14] masterleinad commented on #8852
These are my latest results for 9be00d223413f1ac774810aa7ddbdf248a1be3b9
[code]

[2020-06-16 14:20] masterleinad commented on #9790
These are my latest results for 9be00d223413f1ac774810aa7ddbdf248a1be3b9
[code]

[2020-06-16 15:50] gassmoeller commented on #10537
I agree with Wolfgang. We benchmarked the whole algorithm for the initial particle paper and moving particles and potentially updating their properties was always the main cost (even after numerous optimizations). In particular I would expect the calls to any higher order mapping and evaluating finite element solutions at particle locations to be more expensive than any signal call could be, but a

[2020-06-16 16:51] luca-heltai commented on #10537
I agree with your analysis. :) I'll close this.

[2020-06-16 16:51] #10537 closed

[2020-06-16 17:36] blaisb commented on #10537
I think it was an interesting discussion nonetheless :)!

[2020-06-16 18:02] jppelteret commented on #10531
std::shared_timed_mutex/shared_mutex and if not available fall back to
the boost version. I will make a pull request for this sometime this
week.

Thanks a lot for being willing to do that, but if we go with #10532 then I don't think that a workaround is necessary any more. The next version of MacOS (apparently) shipped with a compiler that provided this feature, and if we test the minimum require

[2020-06-16 18:06] jppelteret commented on #10381
Thank you very much for the fix @guidokanschat! Much appreciated :-)

[2020-06-16 18:31] tamiko commented on #10531
Your call entirely :-)
I am happy with either solution.

[2020-06-16 19:07] bangerth commented on #10381
Thanks, indeed, @guidokanschat !

It works now on the dev page, but I had hoped that we could also do that on the 9.2 page at https://dealii.org/current/doxygen/deal.II/Tutorial.html . What would it take to get the code gallery on there as well?