[2014-07-22 23:40] luca-heltai opened #12 "Migrate issues from google code?"
There is a script that seems to do a decent job in migrating all issues from google code:

https://github.com/arthur-debert/google-code-issues-migrator

what do people think about this?

L.

[2014-07-23 15:48] luca-heltai opened #16 "Add rights to developers..."
At the moment me (and probably other developers as well), do not have the rights to merge pull requests, nor to assign labels to issues (or close them).

I receive pull requests, but from the web, I'm not allowed to merge them. I can create issues, but I cannot assign labels nor owners...

Is this intented?

L.

[2014-07-23 17:13] #16 closed, assigned to nobody

[2014-07-23 17:25] luca-heltai opened #18 "README, VERSION, etc."
Since github is capable of automatically (and nicely!) formatting markdown text, should we change the README, VERSION and LICENCE files to be properly formatted markdown? (i.e., adding md extension, and using indentation in a way that makes markdown see command prompts, code snippets, links, etc.)

L.

[2014-07-23 21:27] bangerth opened #19 "Dev documentation on web site needs to build from git"
The scripts that automatically build the documentation periodically and put it up at
  http://www.dealii.org/developer
still seem to get their information from the svn repo. They need to be converted to git to be up to date.

[2014-07-24 02:52] bangerth opened #22 "Expand $Id$ in file headers"
There are currently many files that have a  $Id$ string at the top of the file, but don't have it expanded:

dealii> grep -r Id | grep '\$Id\$' | wc -l
3957

There do not appear any files where it currently is expanded. How do we switch this back on?

(Background: I regularly get patches from other people who only send me their most current version of a file. It is very useful to know the revision

[2014-07-24 13:25] #22 closed, assigned to nobody

[2014-07-24 22:59] #18 closed, assigned to nobody

[2014-07-24 23:13] luca-heltai opened #27 "Honor Manifold ID for cell refinements"
I'm assigning this to me:

I want to proceed step by step, incorporating part of what is in my

manifold_id_review branch

into a new branch. The first step is simply to add the four methods

get_new_point_on_cell
get_new_point_on_hex
get_new_point
project_to_manifold

to Boundary<dim,spacedim>, and make all get_new_point_on_\* by default call get_new_point, which in turns query project_to_manifol

[2014-07-28 08:42] luca-heltai opened #38 "default numdiff behavior"
We have several tests in which numdiff fails to recognize a number, because the output contains some unknown delimiters. For example:

[code]

or

[code]

We should at least add `<`,`>`,`=`,`,` to the list of separators/delimiters for numdiff. I tried looking this up, and I think that either of these two options could be used

[code]

Matthias, where is a sensible place to insert this?

L.

[2014-08-01 05:32] #19 closed, assigned to nobody

[2014-08-04 08:38] #38 closed, assigned to nobody

[2014-08-05 15:51] #27 closed, assigned to luca-heltai

[2014-08-05 15:53] #12 closed, assigned to nobody

[2014-08-06 18:01] tamiko opened #56 "Build failures introduced with commit 6a36497 and commit bfe1138"
Luca, we miss some instantiations [1].

Reminds me that I plan to change the regression tester such that it can also test pull requests on demand and posts the results onto the pull-request...

[1] http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=11062

[2014-08-07 13:04] #56 closed, assigned to luca-heltai

[2014-08-08 14:03] luca-heltai opened #71 "Configure Travis CI"
The .travis.yml file is present, but Travis CI was not configured to fetch this information from github. One of the administrators of the repository should do this, if we want to test pull merges "on the fly".

L

[2014-08-08 22:04] #71 closed, assigned to nobody

[2014-08-14 11:49] tamiko opened #84 "Continuous Integration - provide our own infrastructure"
Well, it seems that around one third of the CI tests on travis fail due to quota - which renders the whole thing a bit questionable.

I think the only viable solution in the long run will be to have our own CI infrastructure. And setting up this basically boils down to use the github API to trigger a build and report back the result.

Does anyone have a good idea to achieve this?
- Shall we use Je

[2014-08-15 08:57] luca-heltai opened #86 "Get FE From Name: codimension 1 and 2 support"
The FETools::get_fe_from_name and FiniteElement::get_name functions, currently assume that spacedim is always equal to dim. This should be fixed to reflect also spacedim.

[2014-08-17 12:41] guidokanschat opened #89 "Indentation and code formatting"
Currently, when discussing pull requests, we are at the mercy of different text editors when it comes to indentation or code formatting in general. In the long run, we should implement tests running on pull requests which compare to the standardized formatting.

Before doing so, we have to discuss, whether we are happy with `astyle`. There are reports that it may not reproduce the same result if r

[2014-08-18 12:07] luca-heltai opened #92 "Missing implementations/instantiations of some Finite Elements in codimension codes"
Some Finite Elements (like `FE_Q_Hierarchical` or `FE_DGP_NonParametric`) either have missing instantiations for codimension one and two, or they have incomplete implementations, making their use  impossible in codimension != 0.

[2014-08-21 08:24] #86 closed, assigned to nobody

[2014-08-25 15:24] #89 closed, assigned to nobody

[2014-09-01 19:15] tamiko opened #122 "Remove old external dependencies"
Something we discussed briefly in Heidelberg: What about removing the external dependencies for mumps and netcdf?

* mumps should be fully available through our trilinos wrappers. Furthermore, our direct interface is not very elaborate (no thread safety, concurrent jobs, reinvocation...).

 * We only support netcdf up to version 4.1 - and only the <code>TAU grid format</code>.

Opinions?

[2014-09-02 14:47] bangerth opened #128 "step-53 doesn't install topography.txt.gz"
@tamiko : step-53 has the topography.txt.gz file that needs to be installed. This is similar to step-5 that needs to install circle-grid.inp. However, while circle-grid.inp is installed, topography.txt.gz is not although the two CMakeLists.txt are identical. How do I achieve that topography.txt.gz is installed?

[2014-09-02 15:34] #128 closed, assigned to nobody

[2014-09-18 08:10] luca-heltai opened #158 "PR #146 introduced a bug: non-mpi versions of deal.II no longer compile"
See, for example:

http://cdash.kyomu.43-1.org/buildSummary.php?buildid=12565

@bangerth

[2014-09-18 10:24] #158 closed, assigned to nobody

[2014-09-28 21:33] #84 closed, assigned to nobody

[2014-10-17 13:07] luca-heltai opened #203 "Documentation bug"
When compiling off source, if `DEAL_II_COMPONENT_DOCUMENTATION=ON`, at least with doxygen 1.6.1, we (@andreamola and I) get this error:

[code]

[2014-11-13 18:19] luca-heltai opened #248 "Bug in commit 23a290bff3516a3f7831f6ab39dd5f99562ce6ff ?"
../source/grid/grid_tools.cc: In instantiation of 'void dealii::GridTools::distort_random(double, dealii::Triangulation<dim, spacedim>&, bool) [with int dim = 1; int spacedim = 1]':
source/grid/grid_tools.inst:1556:12:   required from here
../source/grid/grid_tools.cc:758:9: error: 'class dealii::parallel::distributed::Triangulation<1, 1>' has no member named 'communicate_locally_moved_vertices'
.

[2014-11-14 10:49] #248 closed, assigned to nobody

[2014-12-12 20:33] tamiko opened #300 "Port to netcdf-4.2*"
Please note that netcdf-4.2* (and its C++ bindings) is currently unsupported by deal.II.

netcdf-4.2 has changed the C++ bindings and the header names significantly, so this will require some porting.

For the time being, please use netcdf-4.1* instead - or, even better, help with the porting to netcdf-4.2* :-)

[2014-12-15 16:31] luca-heltai opened #302 "Separation of Mesh topology and geometry"
_From [dr.guido.kanschat](https://code.google.com/u/dr.guido.kanschat/) on September 17, 2012 15:27:07_

For handling of degrees of freedom and most of the structure of finite element data and code, the actual geometry of the mesh is irrelevant.

Therefore, it is suggested to create a class Mesh, which has a minimal comfortable interface to handle mesh topologies and create DoFHandler and similar

[2014-12-15 16:32] luca-heltai opened #303 "Replace all uses of std::auto_ptr"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on December 25, 2012 16:26:11_

std::auto_ptr has been deprecated in C++11 and we should replace it.

What we should use is unique_ptr. The problem is that we use either the C++11 facilities or the fallback BOOST classes (if the compiler doesn't support C++11 yet) and BOOST doesn't have unique_ptr -- it has scoped_ptr tha

[2014-12-15 16:32] luca-heltai opened #304 "Use lower_bound more intelligently"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on April 02, 2013 22:31:42_

There are a bunch of places in the library where we use std::lower_bound or Utilities::lower_bound to find the place to insert or lookup an element into a sorted array. Importantly, some of these places actually look up or insert _several_ elements and in this case we can optimize things a bit

[2014-12-15 16:32] luca-heltai opened #305 "add GridIn::parse_parameters, format detection"
_From [timo.heister](https://code.google.com/u/timo.heister/) on May 15, 2013 10:05:14_

It would be great to have GridIn::declare/parse_parameters. Additionally, the read() routine could guess the format from the file ending.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=56_

[2014-12-15 16:32] luca-heltai opened #306 "Change step-20 to use CompressedSparsityPattern"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on August 07, 2013 13:28:11_

step-20 still uses the direct way to compute the sparsity pattern. We've moved away from this, so do the same in step-20 as well.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=79_

[2014-12-15 16:32] luca-heltai opened #307 "fix step-18/19"
_From [timo.heister](https://code.google.com/u/timo.heister/) on August 14, 2013 20:09:55_

1. step 18 is somewhat out of date and should be updated. We can probably do parallel vtk output and remove step-19 (which is the file merger program).

2. I got the report that merged file output using step-19 is missing a few  elements, when merging a parallel output with >1 CPU. Investigate that.

3. ste

[2014-12-15 16:33] luca-heltai opened #308 "Extend DataOutBase to also accept 0-dimensional patches"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on August 15, 2013 03:19:04_

Aspect already does output of particles, and there's been discussion on the mailing list about outputting data at quadrature points. This could all easily be incorporated into DataOutBase if we allowed patches to store zero-dimensional data.

I'll eventually get around to this, but wanted to

[2014-12-15 16:33] luca-heltai opened #309 "Create a module discussing the various ways to assemble"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on August 20, 2013 00:08:11_

Link to it starting in step-3. The module should compare the ways to assemble using straight up code (step-3), WorkStream, MeshWorker

_Original issue: http://code.google.com/p/dealii/issues/detail?id=87_

[2014-12-15 16:33] luca-heltai opened #310 "Verify in multigrid that Triangulation is sufficiently smooth"
_From [dr.guido.kanschat](https://code.google.com/u/dr.guido.kanschat/) on August 22, 2013 18:28:58_

Multigrid methods will not complain if limit_level_difference_at_vertices is not set, but they produce wrong results at least with H1-conforming elements.

One of the multigrid classes should check whether this smoothness is needed, and if so, throw an exception if the Triangulation does not confo

[2014-12-15 16:33] luca-heltai opened #311 "Regulate the distribution of the active cells on each core with p4est"
_From [fro...@mathematik.uni-siegen.de](https://code.google.com/u/109209230224152200061/) on August 22, 2013 21:16:04_

If there would be the possibility to use hp-adaptive refinement in parallel with p4est, it would be more efficient to regulate the distribution of the number of the active cells on each core.
This is also useful for elastoplastic contact simulation, where the assembling of plasti

[2014-12-15 16:34] luca-heltai opened #312 "Cleanup HTML and make it standard conforming"
_From [dr.guido.kanschat](https://code.google.com/u/dr.guido.kanschat/) on August 28, 2013 06:24:35_

The html pages, documentation and homepage are to a large portion not standard conforming. Furthermore, they contain a lot of repetitive markup and text. In order to keep maintenance simple, this should be cleaned up.

Some items to observe are:

1. \<p> cannot contain block elements! http://docs.

[2014-12-15 16:35] luca-heltai opened #313 "Provide facilities to compute the most inclusive element in an hp::FECollection"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on January 25, 2014 04:57:31_

SolutionTransfer::prepare_for_coarsening_and_refinement has this lovely piece of code (or will at least soon):

[code]

Comparing numbers of degrees of freedom is a really crude way to find out which element we can interpolate to from children that carry different FEs. We need to implement s

[2014-12-15 16:36] luca-heltai opened #314 "Improve inverse mapping approaches"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on February 19, 2014 04:45:39_

We have a number of places where we compute the inverse of the mapping F(hat x)=x for a point x in real space, finding the reference coordinates hat x. One of the places is the function that returns whether a point is inside a cell.

We do this in a sort of ad-hoc way that occasionally fail

[2014-12-15 16:36] luca-heltai opened #315 "Inconsistent interface between Trilinos and PETSc wrappers"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on March 15, 2014 03:32:44_

Following a thread on the mailing list, we seem to have an inconsistent set of interfaces between PETSc and the other matrix types. We should deprecate the old functions and add the ones that make the interface consistent.

Following the relevant messages:
.....................................

[2014-12-15 16:36] luca-heltai opened #316 "Document iterators at the place where they are typedef'ed"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on April 09, 2014 12:46:51_

I don't know why this took me 16 years to realize: People always have trouble figuring out which class actually implements the particular iterator they look at (rightfully so, the structure is complicated). There is even a report on just this issue.

What we should be doing is point to the con

[2014-12-15 16:36] luca-heltai opened #317 "implement integrate_difference for div"
_From [timo.heister](https://code.google.com/u/timo.heister/) on April 24, 2014 21:53:53_

Computing divergence error is something VectorTools::integrate_difference() should handle.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=205_

[2014-12-15 16:36] luca-heltai opened #318 "implement DataComponentInterpretation::ignore"
_From [timo.heister](https://code.google.com/u/timo.heister/) on May 01, 2014 16:15:48_

I want to be able to output only the components with DataOut that I am interested in and not all components in the DoFHandler. Using a postprocessor here is too complicated in my opinion.

Additionally, while paraview allows me to look at vectors and their individual components, this is much more difficult in

[2014-12-15 16:36] luca-heltai opened #319 "Need (?) to check METIS integer size against our own"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on May 05, 2014 05:04:41_

METIS can use either 32- or 64-bit indices. This is determined at the top of metis.h which in 64-bit mode looks like this:

\#define METIS_USE_LONGINDEX

\#ifdef METIS_USE_LONGINDEX
\#define IDXTYPEWIDTH 64
\#else
\#define IDXTYPEWIDTH 32
\#endif

Do we need to worry about this? Should we make s

[2014-12-15 16:36] luca-heltai opened #320 "Functions in GridGenerator need more documentation"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on May 07, 2014 22:25:04_

The functions in namespace GridGenerator should be more explicit about the fact that you need to apply a boundary object to the geometry so generated for it all to work when you actually refine the mesh.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=212_

[2014-12-15 16:37] luca-heltai opened #321 "write trilinos quick_test"
_From [timo.heister](https://code.google.com/u/timo.heister/) on May 15, 2014 16:41:48_

Trilinos ML is crashing for Ian on his machine.

1. Create a quicktest out of step-40 (Trilinos mode).
2. Ask Ian to make sure that the test fails on his machine.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=214_

[2014-12-15 16:37] luca-heltai opened #322 "Have member functions in DoFHandler to compute cell colorization"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on May 15, 2014 18:23:39_

To support multithreading better, we should provide default ways to get colorized arrays of cells, like we use in the paper with Turcksin and Kronbichler.

_Original issue: http://code.google.com/p/dealii/issues/detail?id=215_

[2014-12-15 16:37] luca-heltai opened #323 "parallel::distributed::Triangulation should be able to transfer vertex data"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on May 16, 2014 17:30:30_

For problems where we move around vertices, it is currently complicated to use distributed triangulations because the vertex locations are lost upon rebalancing. ASPECT current implements a scheme for free surfaces that we should migrate into deal.II proper.

_Original issue: http://code.google.

[2014-12-15 16:37] luca-heltai opened #324 "Cannot link tutorial with static executable"
_From [Bruno.Tu...@gmail.com](https://code.google.com/u/108807043379354454976/) on June 11, 2014 18:05:26_

When compiling deal.II with -DDEAL_II_STATIC_EXECUTABLE=ON, I cannot link the tutorials.

I tried on different computers but none of them work and the errors are different on each machine :(

gcc 4.8.2 on Titan
/usr/bin/ld: warning: libsci_gnu_48_mp.so.3, needed by /opt/cray/tpsl/1.3.04/GNU/

[2014-12-15 16:38] luca-heltai opened #325 "Do ConstraintMatrix::distribute() after SolutionTransfer::interpolate()"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on June 22, 2014 04:35:22_

From a recent mailing list discussion:

\>> Is this correct? We have previously stored data on either the current cells
\>> (if they remain the same or get refined) or their parent (if they will be
\>> coarsened) and then we call set_dof_values_by_interpolation() on each of the
\>> these cells

[2014-12-15 16:38] luca-heltai opened #326 "Poor performance for constructor of FE_Nedelec in 3D."
_From [w0ss...@gmail.com](https://code.google.com/u/103951838845227944973/) on June 30, 2014 14:04:03_

For order 4 and above the time to call the constructor is taking 1000 seconds or more. I didn't bother to go past order 5.

E.g. running this code on my imac desktop (OSX 10.9.3)

int main ()
{
    const unsigned int dim=3;
    Timer timer;
    for (unsigned int k=0;k<6;k++)
    {
        timer.

[2014-12-15 16:38] luca-heltai opened #327 "More flexible FunctionMap with one ComponentMask per boundary indicator"
_From [florian....@gmail.com](https://code.google.com/u/103174404746239284090/) on July 04, 2014 14:42:12_

In my application I solve a system of equations with solution components u and v on a domain with boundaries A and B. I have Dirichlet values for u on the boundary A and Neumann boundaries on B. For v I have Dirichlet boundaries on both A and B.

deal.ii doesn't support this use case as the

[2014-12-15 16:39] luca-heltai opened #328 "Incorrect behaviour of FE_Nedelec::interpolate"
_From [agray...@gfz-potsdam.de](https://code.google.com/u/116043767735290287173/) on July 05, 2014 00:20:34_

It seems that FE_Nedelec::interpolate does not work correctly for high orders. I have replicated the interpolate_rt.cc test in the attached file  and the output it gives is:

FE_Nedelec<3>(0) 12  vector 1.66533e-16 Vector 1.66533e-16
FE_Nedelec<3>(1) 56  vector 2.77556e-17 Vector 2.77556e-

[2014-12-15 16:39] luca-heltai opened #329 "doxygen uses wrong style file"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on July 14, 2014 02:54:51_

I don't quite understand what is going on here, but it is annoying:

When I generate the documentation locally, the html files I get all have this header:
...............................
\<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-tra

[2014-12-15 16:39] luca-heltai opened #330 "Implement a way to get a cell based on a CellId"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on August 15, 2014 08:00:05_

As discussed in a recent thread on the mailing list, there is currently no way to get a cell iterator for a given CellId. This would be useful for parallel computations that attach data to cells and need to send it to other processors upon repartitioning.

My suspicion is that we'd need a fun

[2014-12-15 16:40] luca-heltai opened #331 "Fix poor attempt at thread safety"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on August 22, 2014 14:29:52_

FE_DGQ and FE_Nedelec use a scheme whereby they defer construction of embedding and/or restriction matrices until they are in fact needed. The guard code looks like this:

[code]

The problem with this code is that the swap operation is not atomic: the first or second "if" may see a matrix th

[2014-12-15 16:40] luca-heltai opened #332 "Non-convergence using higher order FE_Nedelec and Dirichlet BCs on cells with non-rectangular faces"
_From [w0ss...@gmail.com](https://code.google.com/u/103951838845227944973/) on September 05, 2014 17:07:08_

As mentioned on the user forum a few weeks ago, (see one of my later posts here https://groups.google.com/forum/#!topic/dealii/1g3YSUdPSGY ):

When using cells with non-rectangular faces, convergence is lost when using order > 0 for Nedelec elements and Dirichlet boundary conditions (enforc

[2014-12-15 16:40] luca-heltai opened #333 "Allow continuation lines in ParameterHandler"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on September 26, 2014 04:14:20_

There are situations where one would really like to extend long lines in parameter files to the next line, for example using a backslash at the end of a line in much the same way as the C preprocessor allows.

This could be done relatively easily using the functions in https://github.com/g

[2014-12-15 16:40] luca-heltai opened #334 "Improve storage of AffineConstraints"
_From [kronbich...@gmail.com](https://code.google.com/u/107881102392393767705/) on September 26, 2014 10:44:50_

Due to the high memory consumption of ConstraintMatrix, it is suggested to improve the storage scheme in the 'close()' call by at least some of the following ideas:
- Detect re-occuring weights between different constraint lines
- Detect when we constrain to the same indices several tim

[2014-12-15 16:40] luca-heltai opened #335 "Precompute things in the background"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on September 26, 2014 17:45:43_

There are things every program needs at one point or another but that either
- could be precomputed in the background by the object that will eventually have to provide it, or
- could be computed in the background by objects that current compute it as part of their regular constructor.

In

[2014-12-15 16:40] luca-heltai opened #336 "Inefficient preallocation in PETScWrappers::MPI::SparseMatrix"
_From [agray...@gmail.com](https://code.google.com/u/102807770450641062241/) on October 03, 2014 14:18:24_

Dear Devs,

From here: http://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/Mat/MatCreateAIJ.html One can see that in order to efficiently preallocate a sparse matrix in parallel one has to specify nnz for both diagonal and off-diagonal portion of the matrix.

Currently, PETScWrappers

[2014-12-15 16:41] luca-heltai opened #337 "recheck nonlocal graph in Trilinos sparsity pattern"
_From [timo.heister](https://code.google.com/u/timo.heister/) on October 23, 2014 15:56:01_

Trilinos 11.12 and earlier have a bug that we can not use a nonlocal graph. Revisit this after 11.13 is released. See https://github.com/dealii/dealii/pull/209 and a914565

_Original issue: http://code.google.com/p/dealii/issues/detail?id=260_

[2014-12-15 16:41] luca-heltai opened #338 "High-order MappingQ, Manifold and vector-valued FEs"
_From [agray...@gmail.com](https://code.google.com/u/102807770450641062241/) on November 10, 2014 16:46:16_

This issue originates from this topic: https://groups.google.com/forum/#!topic/dealii-developers/oMxq_t4rNz0 However, it turns out that the problem is not confined to FE_Nedelec.

Here is small program to reproduce the issue: https://dl.dropboxusercontent.com/u/60982984/test_mapping.cc The

[2014-12-15 16:42] luca-heltai opened #339 "Convert boundaries->manifolds"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on November 14, 2014 03:28:58_

Now that we have manifolds well supported, we should go through the tutorial programs and replace boundary objects by manifold objects where appropriate.

I think that this would apply to steps 1, 2, 5, 6, 10, 11, 15, 16, 18, 24, 29, 32, 34, 38, 42, 47. What a depressingly long list :-(

_O

[2014-12-15 16:42] luca-heltai opened #340 "Missing check for 1d and 2d triangulations"
_From [bange...@gmail.com](https://code.google.com/u/111126369971033778052/) on November 26, 2014 18:32:44_

(Reported by Lukas Korous in an earlier pull request.)

In the 3d specialization of Triangulation::create_triangulation() (currently around line 1940 of tria.cc, we have this piece of code:

        // check that all cells have
        // positive volume. if not call the
        // invert_a

[2014-12-15 16:42] luca-heltai opened #341 "Installation Problem!"
_From [kristoff...@gmail.com](https://code.google.com/u/109532948618944524334/) on December 03, 2014 10:24:46_

What steps will reproduce the problem? 1.mkdir build
2.cd build
3.cmake -DDEAL_INSTALL_PREFIX=/User/Shoopawax/deal.II-pre ../
4. make
5. make install

I try using ls -l /User/Shoopawax/deal.II-pre/ it says there is no directory, but it is clearly there, but unfortunately it is empty. I h

[2014-12-17 13:33] luca-heltai opened #351 "step-32 issue with latest Trilinos"
I think this problem has been reported also some other times, and I thought it was related to mac os X, however it surfaced also on a fresh installation on our new Linux cluster:

when running step-32, with any number of processors, after the first solution step I get this segmentation violation:

[code]

[2014-12-19 12:51] #351 closed, assigned to kronbichler

[2014-12-19 12:52] #341 closed, assigned to nobody

[2014-12-29 23:50] bangerth opened #387 "Change error messages when no complete BLAS/LAPACK is found"
It used to be that we checked every BLAS and LAPACK function separately, but this is no longer the case now (see `cmake/configure/configure_1_lapack.cmake`). That's ok, but it makes the error messages in `include/deal.II/lac/lapack_templates.h` nonsensical:
[code]
where
[code]
We just can't provide error messages with this granularity any more. The error messages should all be replaced by somethin

[2014-12-30 02:12] bangerth opened #391 "Implement a better interface for DataPostprocessor"
DataPostprocessor currently declares virtual functions like this:

[code]

The problem is that if we ever decide that we want to pass more information (e.g., the `material_id` of the cell on which we are currently evaluating, so that a user program can look up cell information), then this doesn't work: we can't just change the signature of the function to pass an additional value, since that would

[2014-12-30 02:33] bangerth opened #392 "Make MGSmootherBlock similar to MGSmoother-derived classes"
The `MGSmoother`-derived classes had the constructor that takes a `VectorMemory` object as argument deprecated for a long time already, in favor of a version that uses an internally provided memory object. (And I'm about to remove these deprecated functions in a second.)

On the other hand, `MGSmootherBlock` did not make this change, i.e. the constructor of this class still requires such an object

[2014-12-30 14:15] bangerth opened #393 "More problems with @ref in comments"
grid_generator.h has this comment:
- of the boundary receive different boundary indicators (
- @ref GlossBoundaryIndicator),

I think the script that breaks comments so that @ref is on a line by its own should allow for open parentheses to precede @ref.

[2014-12-31 15:06] #393 closed, assigned to tjhei

[2015-01-05 14:54] bangerth opened #403 "Uses of compress() in matrix classes"
I think we agreed a good long while ago that `compress()` without argument is bad and that's why the version with the `VectorOperation` argument was introduced. In fact, `compress()` without argument is deprecated in all classes.

I've tried to remove this function which is not overly difficult in the vector classes, but this function is used in quite a number of places in `trilinos_sparse_matrix.

[2015-01-08 18:33] bangerth opened #409 "Remove MUMPS interfaces"
Installing MUMPS is a disaster. Let's remove the direct MUMPS interfaces, since we still have the interfaces through PETSc that probably work better anyway.

[2015-01-08 18:44] tamiko commented on #409
Will do.

[2015-01-08 18:46] tamiko commented on #122
Duplicate of isse #409

[2015-01-08 18:46] #122 closed

[2015-01-08 18:47] luca-heltai commented on #339
I'll start with the first ones...

[2015-01-08 19:07] luca-heltai opened #410 "Find a way to read and write manifold indicators"
We support some mesh formats which have one *single* indicator (ucd, gmsh, may be vtk?), and so far we have always used this indicator to store and retrieve `boundary_ids`.

Unfortunately, none of these allow the specification of **two** such indicators, to store both boundary *and* manifold id.

We could make an optional switch that by default copies the boundary indicator to the manifold indicat

[2015-01-08 19:11] tjhei commented on #410
I think it would be more flexible and cleaner to provide this as a separate function, something like ```GridTools::copy_boundary_to_manifold_id```.

[2015-01-09 07:13] bangerth opened #411 "MGMatrix is deprecated but used in tutorials"
class `MGMatrix` is deprecated in `include/deal.II/multigrid/mg_matrix.h`, but it is used in steps 37, 39 and 50. One or the other should change.

[2015-01-09 07:29] bangerth commented on #410
Or `move_boundary_to_manifold_id`, which clears the boundary id. It may require less code duplication to do it Timo's way, but I think if you introduce the function he suggests, writing the call to it from the various grid readers is not overly onerous either.

[2015-01-09 14:45] tjhei commented on #410
Maybe we can look into extending the vtk reader/writer to also output the manifold id (if this is possible with the vtk legacy format). Alternatively, I am pretty sure you can output additional information with the xml based vtk format.

[2015-01-09 19:37] tjhei opened #415 "thread initialization"
```MPI_InitFinalize``` calls ```set_thread_limit``` which parses the environment variable ```DEAL_II_NUM_THREADS```. We obviously don't require calling ```MPI_InitFinalize``` for a serial program. I think it is confusing, that the environment variable is ignored in that case. I see the following options:

1. Call ```MPI_InitFinalize``` in every program. Maybe rename it to something more generic.
2

[2015-01-09 19:41] bangerth commented on #415
We could call `set_thread_limit` in `main()` of all of the programs that don't call `MPI_InitFinalize`. In practice, I'm inclined to ignore the issue -- if you're going to set an environment variable, it's fair to also require you to add a line to `main()`.

[2015-01-09 20:21] Rombur commented on #415
If I think that we could just call set_thread_limit in the tutorials that explicitly use multithreading. I think that we should to do something, every couple of months someone as the same question...

[2015-01-11 14:04] luca-heltai commented on #339
I started doing step-1. This raises an issue, that I'd like to discuss here. In #413  I added a couple of functions which copy boundary and material ids to manifold ids. Now I'm creating another couple which simply sets all these ids to a given value, either for all ids or only for faces at the boundary. Should this go into `GridTools`, or should I add this directly to `Triangulation`?

Triangulat

[2015-01-11 21:57] #409 closed

[2015-01-12 12:19] tamiko opened #421 "[RFC] Remove <code>compat</code> feature"
One question that I had on mind for quite a while now:
Do we still need the compat feature stuff? Specifically
 - <code>Make.global_options</code>
 - the awkward directory layout that forces a bunch of special code in the cmake configuration
 - installation of <code>make_dependencies</code> executable

If it is just about providing a Makefile includable configuration file (similar to <code>deal.II

[2015-01-12 13:26] luca-heltai commented on #339
I've just issued PR #422 which implements the Triangulation version...

[2015-01-12 13:28] bangerth commented on #421
I'm in favor. We will have had 2 years or releases, it's time to allow cleanups.

[2015-01-12 15:20] bangerth commented on #339
You already made the decision, and I'm ok with it. I think as a general rule, we've come to the conclusion that it's best to keep the interface of `Triangulation` as small as possible. In particular, I view `Triangulation` as a container that stores cells, faces, etc. Operations that act on this container should go into `GridTools`.

[2015-01-14 16:24] jppelteret opened #439 "Broken image links in documentation"
The pictures showing the shape functions for FE_Q and FE_Q_Heirachical appear not to be linked correctly in either 8.2.0 or devel.
Examples of the links in question:
http://www.dealii.org/images/shape-%20%20functions/lagrange/Q3/Q3_shape0000.png
http://www.dealii.org/images/shape-%20%20functions/hierarchical/Q2/Q2H_shape0003.png

[2015-01-14 16:29] kronbichler commented on #439
This is very likely because of the wrapcomments.py that was run over fe_q.h, since the link results in a line break at "shape-functions". Anyone who can formulate a separate rule for this?

[2015-01-14 16:31] bangerth commented on #439
@tjhei ?

[2015-01-14 17:13] #439 closed

[2015-01-17 20:27] bangerth opened #452 "mpi/step-39 fails because a Trilinos matrix is copied"
See
http://cdash.kyomu.43-1.org/testDetails.php?test=4621292&build=2674

I think this is due to a recent change by @tjhei . Failure is like this:

/node/bangerth/trunk/dealii/include/deal.II/lac/trilinos_sparse_matrix.h:1844:5: error: ‘dealii::TrilinosWrappers::SparseMatrix::SparseMatrix(const dealii::TrilinosWrappers::SparseMatrix&)’ is private
/node/bangerth/trunk/dealii/tests/mpi/step-39.cc:566

[2015-01-18 19:11] #421 closed

[2015-01-21 19:33] bangerth opened #461 "FilteredMatrix::apply_constraints no longer makes use of its second argument"
As discovered by Dakshina Ilangovan: Said function no longer makes use of its second argument (it always works, whether the matrix is symmetric or not). We should remove that part of the documentation, deprecate the function and introduce a function that only takes a single argument.

[2015-01-21 20:47] bangerth opened #462 "Documentation of SchurMatrix is unclear"
Also found by Dakshina Ilangovan:

The documentation of `SchurMatrix` states this:

[code]

This last sentence suggests that the matrices all really just have to have a `vmult/Tvmult` functions plus maybe something that queries their sizes. But in reality, around line 246 of `schur_matrix.h`, there is this code:

[code]

which seems to suggest that the matrices `B` and `Dt` really need to be block

[2015-01-21 20:48] bangerth commented on #462
In the latter case, the block `A` would have dxd blocks, `B` and `D` would be 1xd blocks.

[2015-01-21 22:36] bangerth commented on #410
I'm pretty sure we can write this information in gmsh format as well (I think I remember it supports attaching zero or more scalars to each mesh object). In the end, I do not think that we currently have reliable ways to save meshes and then re-read them to get the same mesh. This is particular true because no format I know of supports refined meshes. The only thing I can think of is reading the c

[2015-01-22 18:36] hovey opened #463 ".png file links broken in http://dealii.org/8.2.1/doxygen/deal.II/classFE__Q.html"
In the file http://dealii.org/8.2.1/doxygen/deal.II/classFE__Q.html,
think links to .png files are broken and show only placeholders, e.g. ![broken image](https://www.dealii.org/images/shape-%20%20functions/lagrange/Q2/Q2_shape0000.png)

The beginning of the errors starts at:
[code]
Thank you.
- Chad Hovey

[2015-01-23 15:25] kuberry opened #468 "Fix rotation matrix as described in step-18"
In step 18, the rotation matrix is defined as

 const double rotation[3][3]
= {{
t *axis[0] *axis[0]+c,
t *axis[0] *axis[1]+s *axis[2],
t *axis[0] *axis[2]-s *axis[1]
},
{
t *axis[0] *axis[1]-s *axis[2],
t *axis[1] *axis[1]+c,
t *axis[1] *axis[2]+s *axis[0]
},
{
t *axis[0] *axis[2]+s *axis[1],
t *axis[1] *axis[1]-s *axis[0],
t *axis[2] *axis[2]+c
}
};

However, entry (3,2) should be:
t *axis[1] *a

[2015-01-23 23:38] tamiko commented on #452
@tjhei:  "Closes #452" only works from within a commit - as far as I recall.

[2015-01-23 23:38] #452 closed

[2015-01-26 23:02] bangerth opened #474 "FE_QHierarchical declares that it has unit support points"
I think that it is wrong that the FE_QHierarchical says that it has unit support points. It is not interpolatory and it says that all shape functions associated with an edge have a support point that sits at the center of the edge. This doesn't make any sense.

The glossary defines the concept of a "generalized" support point, though I will admit that I fail to understand what it is supposed to me

[2015-01-26 23:05] bangerth commented on #474
Just to wit, `VectorTools::interpolate` almost certainly produces the wrong results for `FE_QHierarchical(p)` for p>2.

[2015-01-30 00:20] bangerth commented on #463
Chad -- yes, a change just before the release broke the links :-( There is little we can do at this point (this is part of the release) other than actually fixing the file on the server by hand (which I can't do because I don't have access to the machine).

On the other hand, the developer version is fixed:
  http://dealii.org/developer/doxygen/deal.II/classFE__Q.html

[2015-01-30 00:21] #463 closed

[2015-02-01 22:00] bangerth opened #486 "Need a testcase for hp::DoFHandler::serialize"

[2015-02-04 20:26] bangerth opened #496 "Normal vectors use wrong data type"
We have a problem with FEValues and normal vectors:
[code]
The thing is that we use `Point<dim>` in places where we mean a physical point in space, whereas the difference between two points is a `Tensor<1,dim>`. A normal vector is most definitely of the "difference" kind and consequently should be represented by a tensor, not a point. I could change that in the first of the two places without too

[2015-02-05 07:32] kronbichler commented on #496
The questions are:
a) How many people use this access method for actually creating a variable with references? We use this only four times in the library and maybe a dozen times in the test suite.
b) In case one's code is affected, the changes to be made a very simple. If it is stated in the 'incompatibilities' list, this is a no-brainer.

Given these facts, I would say that it won't hurt much and

[2015-02-05 10:10] l-korous opened #500 "The type SuiteSparse_long might be different from long int"
See

include/deal.II/lac/sparse_direct.h

[2015-02-05 12:34] bangerth commented on #500
Feel free to create a patch and pull request for this one issue from your existing patches. This seems like a no-brainer.

[2015-02-05 12:56] tjhei commented on #496
The only backwards compatible way would be to deprecate the current function and introduce get_all_normal_vectors() or something. Not great but maybe better than breaking applications?

[2015-02-10 20:14] guidokanschat commented on #462
I fear I cannot even remember what assumptions I made back then, given that I have not used Schur complement solvers in a decade.

But what I get from the code is the following: both vector types can be block vectors with arbitrarily many blocks... this is from the time of the LDG method for Stokes equations. If you have a system of ``n`` blocks, the matrix ``A`` covers say ``k`` of them and ``C``

[2015-02-10 20:20] bangerth opened #511 "Rename `boundary` to `manifold`"
Some of the tutorial programs use manifold descriptions, but the corresponding variables are still called `boundary`. This is a reminder for myself to fix it.

[2015-02-10 20:21] bangerth opened #512 "Explain causes when you get a negative Jacobian"
There are a number of places where we assert that the (determinant of the) Jacobian is positive. These error message you get could do with an explanation of typical causes, e.g., distorted cells.

[2015-02-10 23:31] bangerth commented on #511
Never mind. @luca-heltai did get it right, I just didn't get it when talking to the students in my class.

[2015-02-10 23:31] #511 closed

[2015-02-10 23:40] bangerth commented on #411
It is now only used in step-50, which is not ready anyway. Whenever someone starts looking at it again, this will have to be addressed.

@tjhei : Or you could look at it right away. I think the change would simply have to be `MGMatrix<M,V>` -> `mg::Matrix<V>` but I'm not feeling comfortable doing this.

[2015-02-11 04:28] bangerth commented on #496
@kronbichler : We use this in the testsuite as well :-(
[code]
Presumably people copy-paste this kind of code into their programs :-( I'm really quite disappointed that it would take us a decade to spot this problem. It's a shame that we can't make this backward compatible because there is this nice relationship between `fe_values.something(q)` and `fe_values.get_somethings()`. @tjhei 's name sugg

[2015-02-11 08:01] kronbichler commented on #496
Right, we have it in the tutorials and therefore, it is certainly more critical. Thinking this way, I would agree with @tjhei 's suggestion, too.

[2015-02-11 13:32] bangerth commented on #461
Fixed with #508

[2015-02-11 13:32] #461 closed

[2015-02-11 13:32] bangerth commented on #410
@luca-heltai : I think this has been implemented and can be closed now, right?

[2015-02-11 13:44] luca-heltai commented on #410
Yes. I'm closing it.

[2015-02-11 13:44] #410 closed

[2015-02-11 15:15] tjhei commented on #411
will do

[2015-02-11 15:21] guidokanschat commented on #411
I'm already at it!

[2015-02-11 15:27] tjhei commented on #411
me too, done with mg::matrix, working on the other function calls...

[2015-02-11 15:30] #411 closed

[2015-02-12 13:54] bangerth opened #526 "Remove second argument of type Point<dim,Number>?"
When `Tensor<rank,dim,Number>` got its type argument `Number`, `Point<dim>` also got such an argument. But I can't really see why given how we use it, and I would like to propose to get rid of it again.

There are currently only a handful of instances where this type is anything other than `double`:
- `Function<dim,Number>` takes `Point<dim,Number>` as arguments. I think this is actually a mistake

[2015-02-12 13:58] bangerth commented on #526
To be clear about the use in `Function`, I think this actually makes it rather impossible to use the `Function` class for anything other than `double`. It does make sense to have a `Function<dim,std::complex<double> >` for example, which would describe a complex-valued field on the domain. But for that to work, the interface would have to be
[code]
and not as currently
[code]

[2015-02-12 14:47] tjhei commented on #526
I agree that the main usage of ```Point<dim>``` is a position in space for FE computations, so restricting to double sounds reasonable.

Martin probably has a good reason to pack the data that way for performance reasons.

[2015-02-12 16:10] kronbichler commented on #526
Regarding Point<dim,VectorizedArray<double> >: This order is intentional and cannot easily be changed.  If it is packed the other way around, the explicit vectorization is destroyed. Due to the construction of VectorizedArray, VectorizedArray<Point<dim> > contains just one single entry. Performance-wise, it also means that you need to convert from one type to the other when you intend to work on '

[2015-02-12 16:12] bangerth commented on #526
OK, thanks for the explanation. Would you be willing to make the conversion to `Tensor`, or would you prefer I do it?

[2015-02-13 08:17] kronbichler commented on #526
Yes, I will add a patch this afternoon. I can actually also remove the template argument of Point as well (and fix the case in Function<dim,Number>), or are we expecting user errors when changing the signature of the virtual functions?

[2015-02-13 13:58] bangerth commented on #526
I already have a patch for `Function` that I tested overnight, to be submitted in a few minutes. If you want to do the rest for `Point`, that would be fantastic!

[2015-02-13 14:19] bangerth opened #542 "[RFC] Remove template argument of `FunctionTime`"
When the type argument was added to `Tensor`, `Point` and `Function`, someone went a bit overboard and added such a type also to `FunctionTime` -- which now allows to store the *time* as a complex-valued number :-)

I don't see anyone using `FunctionTime` by itself other than as a base class for `Function`, so removing its template argument again should not cause too much trouble.

Opinions?

[2015-02-13 17:18] luca-heltai commented on #542
Actually, having a templated FunctionTime also allows for Sacado types to be used. Maybe not a complex type, but automatic differentiation with time dependent functions, why not?

L.

--
Luca Heltai <luca.heltai@gmail.com>
http://people.sissa.it/~heltai/
Scuola Internazionale Superiore di Studi Avanzati
Phone:  +39 040 3787 449, Office: 622
--
There are no answers, only cross references

[2015-02-13 17:27] luca-heltai commented on #526
I know I'm late for the party, but removing the Number template argument from `Point<dim, Number>` broke half of my codes which use heavily Sacado...

I'll work around it, but I'd like to raise this issue here. Having also a template parameter in `Point<dim>` allowed pretty nice tricks...

[2015-02-13 17:32] kronbichler commented on #526
I see your point regarding Sacado and automatic differentiation of Function objects because those do specifically take points as arguments. Apart from the Function interface, is there anything else where Point is mandatory and not the more flexible Tensor variant that still supports the templated number types? Just to make the picture more complete.

Basically, the problem with this issue is that

[2015-02-13 17:37] luca-heltai commented on #526
I'm not suggesting to put the argument back, since I also agree with @bangerth that having the parameter as before meant not being able to create complex valued functions, unless we introduce **two** parameters for functions, i.e.,

[code]

This seems overly complex to me...

[2015-02-13 17:43] luca-heltai commented on #526
The other possibility would be to set directly `Point` as a templated type. This would also partially answer @tjhei requirements of having more complicated schemes for functions of points/parameters...

Something like
[code]

With this, one could have `Point` to be any of`Point<dim>`, `std::vector<double>`, `Tensor<1,dim,SacadoDouble>`, etc.

[2015-02-13 21:20] bangerth commented on #526
I think you have a good point there (no pun intended). I had not considered the issue of Sacado types.

My preference would be to separate the underlying type for the domain and the range. Having both be the same type clearly makes no sense, and I think we agree on that. So if we want to support what you suggest, then
[code]
clearly seems like the right way to go.

[2015-02-13 21:21] bangerth commented on #526
Rather than undoing the previous patch(es), I think it would be useful to first find out which of our function classes (other than the base class) really need this second argument. I assume `ZeroFunction`, `ConstantFunction`, etc, are probably quite happy with a regular `Point<dim>`.

[2015-02-14 12:45] bangerth commented on #542
Fair enough. In that case, let's rename the template argument `TimeType` and document the intended use of the template argument in the class docs.

[2015-02-15 21:10] bangerth opened #551 "Update the doc wrapper script for @relates"
We have a bunch of comments that now look like this:
[code]
I think `@relates` should be on a line of its own as well.

[2015-02-16 19:01] tjhei opened #553 "Rework user_index/ptr"
There are several problems with user_index and user_ptr:
  - user_index on faces is not retained after mesh refinement, while it is for cells
  - internal algorithms have to save/restore user_indices even if they are not used by the user
  - not allowing arbitrary data is limiting
  - the exclusive choice between ptr and index is confusing

I would prefer an external object (maybe called Triangula

[2015-02-16 19:12] bangerth opened #554 "Write glossary entry on periodic boundaries"
There are three references in dof_tools.h to a `@ref GlossPeriodicConstraints` but no such entry exists in the glossary. If we reference it, it should be written :-)

[2015-02-16 19:14] bangerth commented on #554
There are additional references also in `grid_tools.h`.

[2015-02-16 19:27] bangerth commented on #553
Yes, I agree. I could imagine an interface of the kind
[code]
It could internally use two `std::map<typename Container::{cell,face}_iterator, Value>` objects.

[2015-02-16 19:40] tjhei commented on #553
I think cell/face/vertex data should be separate (that is why I included a ```dim``` parameter). I agree with the ```operator []`` syntax, but the internal storage mustn't depend on the iterators to persist between refinements.

[2015-02-16 19:44] bangerth commented on #553
Fair enough. One could use the `CellIndex` you wrote (assuming a way can be found to re-create a cell from its `CellIndex`. The same could be done with face iterators.

[2015-02-16 21:37] tamiko opened #557 "build failure with DEAL_II_WITH_OPENCASCADE=ON"
As evidenced by [1], the latest changes in template arguments broke the opencascade feature.
@bangerth, @luca-heltai: Can someone have a look?

[1] http://cdash.kyomu.43-1.org/viewBuildError.php?buildid=3852

[2015-02-16 22:09] bangerth commented on #557
Interesting case. Patch forthcoming.

[2015-02-17 15:21] bangerth opened #561 "Better document the argument of DataOut::build_patches"
This is used in the tutorials, but poorly explained in the documentation at http://dealii.org/developer/doxygen/deal.II/classDataOut.html#ab3d44201acb97fba286a897452236b51

[2015-02-17 23:52] bangerth commented on #557
Also addressed by #562

[2015-02-18 14:22] guidokanschat commented on #553
I am wondering: how does the conversion from an index to a cell position and back work in p4est? Maybe we can learn how to do this without another vector?

[2015-02-18 14:25] bangerth commented on #553
In p4est, they are the same: `CellIndex==cell_iterator`.

[2015-02-18 14:28] guidokanschat opened #564 "UMFPack directory not handed to applications"
I am using an external installation of UMFPack and deal.II configures and compiles correctly using
[code]
I am initializing my application with
[code]
The include directory is not forwarded and eventually my compiler fails:
[code]
Should all include directories be set in the compiler flags for applications or should I configure UMFPack myself?

Best,
Guido

[2015-02-18 14:57] tamiko commented on #564
This regression was introduced with 053bb824000d7aeb0edb37d125eff7a9e417bc8a

Prior to above merge it was not necessary to directly include suite
sparse headers, thus they were not present in the project configuration.
A fix is:

diff --git a/cmake/modules/FindUMFPACK.cmake b/cmake/modules/FindUMFPACK.cmake
index 88e439c..bd26c93 100644
--- a/cmake/modules/FindUMFPACK.cmake
+++ b/cmake/modules/Fin

[2015-02-18 19:50] #564 closed

[2015-02-19 10:03] tamiko commented on #557
Seems to be resolved with the latest commits.

We have one test failing due to the latest Tensor changes [1].
Otherwise everything is back to normal.

[1] http://cdash.kyomu.43-1.org/testDetails.php?test=6713614&build=4090

[2015-02-19 10:03] #557 closed

[2015-02-19 12:17] bangerth opened #573 "Fix an HDF5 test"
We have a test that uses an HDF5 function that had previously been removed:
http://cdash.kyomu.43-1.org/testDetails.php?test=6728357&build=4094

The error message goes like this:
[code]
This needs to be adjusted.

[2015-02-19 12:18] bangerth commented on #561
Fixed by #563

[2015-02-19 12:18] #561 closed

[2015-02-19 12:19] bangerth commented on #500
Fixed by commit 1c364d20115d4027ecdfb871e8e757f44ab90874

[2015-02-19 12:19] #500 closed

[2015-02-19 14:20] tjhei commented on #553
The problems with ```CellIndex``` are:
  - finding the cell iterator takes log(level) operations
  - querying the ```CellIndex``` takes log(level) operations (we could precompute them)
  - the representation is not efficient (we use a std::vector so we can support anisotropic refinement)

Really? I thought p4est stores a flat array of active quadrants and their id but you can not directly jump fro

[2015-02-19 22:02] bangerth commented on #553
Yes, it's true that access to the data in the array given a quadrant/CellIndex requires log(N) effort (namely a search for an element in a sorted, linear array using something like bisection search).

[2015-02-19 23:10] bangerth opened #579 "Help CMake export the name of the executable into Eclipse projects"
When you call
[code]
in a tutorial program directory, it very nicely sets up an Eclipse project that has all of the include directories and Makefile targets set up already -- outstanding service. Eclipse resolves practically all of the symbols in the step-XX.cc source files correctly and offers auto-completion, etc.

The one piece that's missing is that it doesn't know about any of the "Run config

[2015-02-19 23:11] bangerth commented on #579
This comments on the problem:
  http://www.cmake.org/pipermail/cmake/2012-June/050582.html
But I don't understand the person's self-reply...

[2015-02-19 23:26] bangerth commented on #387
Fixed with #532

[2015-02-19 23:26] #387 closed

[2015-02-20 19:56] Rombur commented on #415
I think this is in a much better shape. I'm going to close it. We can reopen it if we still have confused people on the mailing list

[2015-02-20 19:56] #415 closed

[2015-02-21 03:50] bangerth opened #583 "Expand the kinds of information that can be passed through Triangulation::create_triangulation"
Right now, one can only set material_id in CellData and boundary_id in SubCellData. It would be nice if one could pass other information as well. This is motivated by a question by Pavel Kus on the mailing list in the last week. But it should in fact be quite useful also for mesh files that allow specifying other fields than just vertices, cells, and material ids.

It should actually not be partic

[2015-02-22 19:30] #573 closed

[2015-02-23 21:31] bangerth commented on #551
Fixed by #591

[2015-02-23 21:31] #551 closed

[2015-02-24 00:18] bangerth commented on #403
For reference, these are the functions that should go as they have been deprecated for quite a while already:
[code]

[2015-02-24 11:51] tjhei commented on #403
At least the petsc part is something I will look at.

[2015-02-25 13:07] bangerth opened #598 "Assert vs AssertThrow in the testsuite"
@Rombur writes:
...................
I checked in the testsuite and we use Assert 2644 times and AssertThrow 63 times. I found several tests that do nothing in release in mode :( Should we just change all of the Assert to AssertThrow or go through all the tests and see what's appropriate ?
...................

It's a good question. I don't know what to do. We could:
- Ignore the issue. Most of thes

[2015-02-25 13:29] tjhei commented on #598
While I haven't seen/fixed any bug by running the release mode tests, I do think it would be useful to have better coverage in release mode. This is because I had problems with the Intel compiler generating wrong optimized code in the past (hey, that is why we are disabling vectorization...).

But yes, there are several tests that expect exceptions/asserts to trigger so we need to be careful there

[2015-02-25 13:33] tjhei opened #600 "Tensor issues"
A bunch of tests are failing due to Tensor related changes on Intel:
http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=4338

@bangerth ?

[2015-02-25 14:20] bangerth commented on #600
I'm on it. It's a non-C++11 problem.

[2015-02-25 14:24] koecher opened #605 "if configured WITH_MPI=OFF: data_out.write_hdf5_parallel does not create the h5 file"
With the stable version 8.2.0, everything works fine, but the current 8.3pre from today, only the xmdf file is written and not the h5 file.
I'll attach the minimal test program to the google group, since I don't know how to append general files here.

[2015-02-25 14:25] koecher commented on #605
https://groups.google.com/forum/?hl=en-GB#!topic/dealii/duAcI-BNC-M

[2015-02-25 15:46] Rombur commented on #598
I checked in the testsuite and, for the Intel compiler, there are tests that fail only in release mode. So the Intel compiler is probably in worse shape that we think. I will go through the testsuite and change Assert to AssertThrow when I think it's appropriate.

[2015-02-25 15:49] tjhei commented on #598
That might also be due to different output/rounding. What tests do you refer to?

[2015-02-25 16:19] Rombur commented on #598
These two tests fail in release mode with nan:
http://cdash.kyomu.43-1.org/testDetails.php?test=7269087&build=4338
http://cdash.kyomu.43-1.org/testDetails.php?test=7270748&build=4338

[2015-02-25 16:28] tjhei commented on #598
Urgh. That boils down to
[code]
forgetting the last element. Has anybody looked into this further?

[2015-02-25 16:32] tjhei commented on #598
(otherwise we need to blacklist DEAL_II_HAVE_OPENMP_SIMD)

[2015-02-25 20:15] Rombur commented on #598
We could but that's kinda sad that we have to disable vectorization on the only compiler that supports Xeon Phi.

[2015-02-25 20:19] bangerth commented on #598
Is this reproducible on a smaller, self-contained testcase? It's a common enough operation, and a common enough compiler, that it worries me :-(

[2015-02-25 21:02] tjhei commented on #598
Vectorization is already disabled on intel (see check_03_compiler_bugs):
[code]
I should probably revisit this with Intel 15...

[2015-02-25 21:02] tjhei commented on #598
@bangerth I will take a look.

[2015-02-25 21:03] Rombur commented on #598
Yeah but that's the autovectorization. DEAL_II_HAVE_OPENMP_SIMD is the vectorization through OpenMP 4 that's another flag.

[2015-02-25 22:36] tjhei commented on #598
see #607.

[2015-02-25 22:37] tjhei commented on #598
So it is a combination of TBB and SIMD and only for ```long double```. :-(

[2015-02-25 23:02] Rombur commented on #598
That's strange, long double should be 128 bits which means that only Haswell and Broadwell can use the SIMD instructions. Well if it only affects long double that's a good news.

[2015-02-25 23:20] Rombur commented on #598
Apparently vectorization is not supported for long double.  I guess we can specialize the template so we don't use SIMD for long double.

[2015-02-25 23:56] bangerth commented on #598
I thought long double uses the crazy and ill-conceived 80-bit floating point format on Intel. Or did they fix this wart in the x86_64 ABI?

[2015-02-26 00:17] Rombur commented on #598
It is 80-bit plus padding to get 128-bit... But I found a post on Intel forum where they say that you cannot use vectorization for either long double or quad precision.

[2015-02-26 00:19] bangerth commented on #598
Sure would have been nice if they just disabled it in that case...

[2015-02-26 01:12] tjhei commented on #598
So what do we do, add this as a compiler check and disable SIMD conditionally?

[2015-02-26 01:34] bangerth commented on #598
I like Bruno's suggestion of using an explicit specialization for this one function.

[2015-02-26 07:59] kronbichler commented on #598
Just one more comment on long double and vectorization to extend on @Rombur : For 80-bit calculations, legacy x87 instructions are used instead of the SSE2 or AVX instructions that get used for double and single precision. Before SSE2/SSE, all computations were done with 80 bit internally but got truncated/rounded before saved to memory. Now the hardware for float and double has introduced vectori

[2015-02-26 13:33] tjhei commented on #598
Okay, easy enough. I will prepare a patch.

[2015-02-27 02:31] bangerth opened #610 "Eradicate exceptions without argument"
One of the first lessons I teach my students is to read the error messages. Once they get used to it, it actually works reasonably well. But only for those errors that do actually print anything useful. Many of our messages do that, but we have ~250 exceptions declared with `DeclException0` that, in essence, only print the name of the exception but nothing else. I think the original idea was that

[2015-02-27 15:15] tjhei commented on #610
Good idea. I vote for adding a text argument (optional?) for ```ExcInternalError``` and ```ExcNotImplemented```. The reason is that I often end up using ```ExcMessage``` because I can not add a short description. I guess ```ExcMessage``` should be a last resort.

I am happy to do this if you agree.

[2015-02-27 19:18] bangerth commented on #610
I think `ExcInternalError` is truly an internal error only developers should be get (or that at the very least require a developer to fix). `ExcNotImplemented` could take an argument though I'm not sure what one would say? I'm definitely ok with it, though, if you want to add an argument and go through our code base to change it throughout (for both of these exceptions).

I've been using `ExcMessa

[2015-02-27 19:36] tjhei commented on #610
The reason I bring this up is because you introduced code of the form ```ExcMessage("Internal Error: ...")``` (see 96e0ffb). I don't care strongly about all this, but I always tried to shy away from ```ExcMessage``` because it is not descriptive, hard to grep for, and awful to catch. It is easy to have a sentence of why I think this is an internal error (I don't want to require a message of course

[2015-02-27 20:01] bangerth opened #617 "Deprecated functions in MG classes"
The remaining functions in MG that were deprecated a while ago already are these:
[code]

Other than these, there is only a pair of functions in `SparsityPattern` and then we've removed everything that was already deprecated in 8.2.

[2015-02-27 20:01] bangerth commented on #617
@tjhei ?  @guidokanschat ?

[2015-02-27 21:15] tjhei commented on #617
Yes, on my list. I think we addressed some of them on the parmg branch already. I have to resurrect the branch.

[2015-02-28 02:18] bangerth commented on #610
That's a good point. I'll have to think about this.

Maybe we should just think about an alternative way of using `DeclException0`. Let's say something like `DeclExceptionMsg` that creates an exception class that takes no argument, but where the exception declaration still contains a descriptive string. Thinking about it, that actually seems like the best of all worlds since it only requires chang

[2015-02-28 03:39] tjhei commented on #610
Yes, that is what I meant. As long as we make it optional so we don't have to go through the whole library. Maybe something like:
[code]
So we can do this:
[code]

[2015-02-28 21:10] bangerth commented on #605
@koecher : Can you try again with the current version (which includes the patch by David Wells)?

[2015-03-01 09:20] koecher commented on #605
My test application now produces h5-files, I think this issue is resolved. I'll test this tomorrow a little deeper.

[2015-03-02 14:35] tjhei commented on #600
There are still some issues: http://cdash.kyomu.43-1.org/testDetails.php?test=7732557&build=4545

[2015-03-02 15:01] bangerth commented on #600
Should be fixed again now.

[2015-03-02 15:01] #600 closed

[2015-03-02 23:21] bangerth opened #636 "Make step-8 use CompressedSparsityPattern"
We've moved away from direct initialization of SparsityPattern objects and use the CompressedSparsityPattern intermediate everywhere. step-8 still needs to learn this trick.

[2015-03-02 23:56] tjhei commented on #636
My vote is for ```CompressedSimpleSparsityPattern``` (and maybe even retire the other two).

[2015-03-03 00:10] bangerth commented on #636
I'm ok with either. I vote to use whatever we use in the other tutorials.

[2015-03-03 07:30] kronbichler commented on #636
I agree with Timo. Our current data structures favor CompressedSimpleSparsityPattern over the other two; those basically only increase the amount of code we have to maintain in my opinion. Is it enough to rename CompressedSimpleSparsityPattern into CompressedSparsityPattern, remove the other two straight away and keep them alive by a 'typedef'? The user interface is pretty much identical, so I see

[2015-03-03 12:36] tjhei commented on #636
Agreed. I am happy to do this but not today.

[2015-03-03 20:20] bangerth opened #637 "Explain operator| and update_* better"
I see students struggle with sequences like
[code]
pretty much every time. This is an obvious statement to C programmers, but not to people who are not used to think in terms of binary operations etc.

I think we should find a way to hide what exactly it is we're doing here. For example, it uses the fact that each element of this list has only one bit set, but that's not clear to a reader. Can we

[2015-03-03 20:23] bangerth opened #638 "Don't use the name of classes as template arguments"
We have instances like this:
[code]
Thing is, `SparsityPattern` here is not the name of the class, but just a free template parameter. But that's hardly visible in the doxygen output, and doxygen also links to the documentation of the class (unhelpful). This then confuses readers who see
[code]
They say that this call shouldn't succeed.

Easy solution: Don't use the name of a class as a template a

[2015-03-03 20:23] bangerth commented on #638
Case in point:
http://www.dealii.org/8.2.1/doxygen/deal.II/group__constraints.html#gab627b1d4845c9526521dbd1be83469dc

[2015-03-03 21:54] QiaoLei-88 commented on #637
I think it is OK to keep the form like

    update_values | update_gradients | update_JxW_values
.

Because "binary or" is  not a deprecated operator in C++ language. The C++ standard library also employ this convention:

    std::cout << std::setiosflags (std::ios::showbase | std::ios::uppercase);

And, hiding up things not necessarily make them clear. I believe you have to explain what

	update_

[2015-03-03 21:56] bangerth commented on #637
It's true that it's not deprecated, nor wrong. It's just hard to understand to all who are not as good programmers as @QiaoLei-88  :-)

[2015-03-03 22:30] tjhei commented on #638
Do we have a style guide for the capitalization, defaults, ```typename``` vs ```class``` etc. for template arguments?

I can think of ```Number```, ```DH``` (for DoFHandler types), ```Container``` and ```CONTAINER``` (for Triangulation or DoFHandler), ```CSP_t``` (that must have been me :-) )

My vote would be to always use ```typename``` and use ALL_CAPS for the name to completely avoid confusion

[2015-03-03 23:05] QiaoLei-88 commented on #637
I think I can understand their feeling -- it should just like what I feel when reading math books.

I don’t mean to ignore their confusing. Just leave explanation to comment and keep executable code in a efficiency and elegant shape.

Or, one can change
  update_values | update_gradients
into
  update_values + update_gradients
This would more like to say “update values and update gradients”, even

[2015-03-03 23:35] Rombur commented on #638
We don't have a rule for the template arguments, I have checked before. I have seen ```Number```, ``number```, ```Number2``, ```OtherNumber``` ...

I also prefer ```typename``` and ALL_CAPS.

[2015-03-04 00:11] bangerth commented on #638
Let's not use ALLCAPS :-) How about I use `SP` for sparsity patterns?

[2015-03-04 00:33] tjhei commented on #638
SP for static ones and CSP for compressed ones?

[2015-03-04 00:33] tjhei commented on #638
And isn't ```SP``` all caps? :-)

[2015-03-04 00:34] bangerth commented on #638
Damn, we really need C++ concepts to even keep static and compressed sparsity patterns apart :-(

I'm ok with your suggestion. What to do in cases where the type of sparsity pattern doesn't actually make any difference?

[2015-03-04 00:36] tjhei commented on #638
I think ```SP``` is fine then.

[2015-03-04 03:49] bangerth opened #641 "Remove/update references to NamedData"
The `NamedData` has this comment, right at the top of the class documentation:
[code]
However, it is used in a great many places that aren't themselves deprecated:
[code]

@guidokanschat : What's the long term plan for this class? Should we formally attach `DEAL_II_DEPRECATED` to the class and all of the member functions that use it? Or what is your preference?

[2015-03-04 08:27] guidokanschat commented on #641
The NamedData in Newton's method is for compatibility. I will look into it
when I have done my reviewing duties.
On Mar 4, 2015 4:50 AM, "Wolfgang Bangerth" <notifications@github.com>
wrote:

[2015-03-04 11:24] tamiko commented on #637
I completely agree with @QiaoLei-88 at this point.

I do not see any syntactical benefit of using
[code]
or any similar construct, instead of the current syntax
[code]

Contrary, and as was already rightfully mentioned, the latter is actually a common idiom used throughout different C++/C projects and not that hard to grasp. [1]

I think that we shouldn't try too hard to hide such implementational

[2015-03-04 15:35] bangerth opened #642 "Test nedelec_non_rect_face.debug runs way too long"

[2015-03-04 15:44] bangerth commented on #642
The test `nedelec_non_rect_face.debug` runs about 78 minutes on my system without load, so it fails every single time because we have a 10 minute timeout limit. I suppose that's the case for everyone else as well.

We should see if we can reduce the run-time of this somehow, or to split it up into more than one test so that they can run in parallel.

This came in through a patch by Ross Kynch in #

[2015-03-04 16:09] rosskynch commented on #642
It's due to the length of time to call the constructor for FE_Nedelec in debug mode and also the large linear system which needs solving for the higher p. I'll reduce it to p=3 and start the mesh refinement from 1 element instead of 8.

[2015-03-04 16:34] bangerth commented on #637
I hear y'all.

I come from a pragmatic point of view that if I have to explain something to 5 out of 20 students every time I teach deal.II, then it's either poorly explained or just genuinely difficult to understand. I think the latter is the case here given that (i) today's students, and (ii) high-level C++ programmers are just not used thinking in bit patterns any more.

But be that as it may,

[2015-03-04 16:44] rosskynch commented on #642
Removing the p=3 seems to quicken it up a lot.
[100%] Run nedelec_non_rect_face with Debug configuration
[100%] Built target run
real	1m13.862s
user	1m6.778s
sys	0m0.166s

It's still enough to see it's working, so I'll do a pull req now.

[2015-03-04 16:46] bangerth commented on #642
Fantastic -- many thanks!

[2015-03-04 23:27] bangerth opened #646 "Intro of step-33 has formula errors"
See the yellow boxes at https://www.dealii.org/developer/doxygen/deal.II/step_33.html

[2015-03-05 13:34] bangerth commented on #646
Fixed by #647

[2015-03-05 13:34] #646 closed

[2015-03-05 13:46] bangerth commented on #642
Fixed by #645

[2015-03-05 13:46] #642 closed

[2015-03-05 15:32] rosskynch commented on #328
Has anyone got the test code that @agrayver originally posted?

[2015-03-05 15:47] agrayver commented on #328
@rosskynch here it is (could not attach the file, just paste):

#include <deal.II/base/logstream.h>
#include <deal.II/base/quadrature_lib.h>
#include <deal.II/base/function.h>
#include <deal.II/fe/fe_raviart_thomas.h>
#include <deal.II/fe/fe_nedelec.h>
#include <deal.II/fe/fe_q.h>

#include <fstream>

using namespace dealii;

#include "interpolate_common.h"

template <int dim>
void check1(const Fu

[2015-03-05 18:29] rosskynch commented on #328
Thanks Alex!

[2015-03-05 22:53] bangerth opened #650 "Don't use classes derived from Function in the early steps"
The early steps introduce classes derived from `Function<dim>` even though that is not actually necessary -- we just call their `value` function, but we never pass such objects around. There is, consequently, no gain in introducing the whole situation.

Worse, in some of these codes, we implement both the `value` and `value_list` function, even though we only ever call one of the two. We then go t

[2015-03-06 02:24] tjhei commented on #650
We need the whole function explanation in step-4 for ```BoundaryValues``` (well, and there is ```ZeroFunction``` in step -3) and step-7 for ```integrate_difference``` anyways. The only advantage would be that coefficients and right hand sides are a bit simpler.

[2015-03-06 02:28] bangerth commented on #650
That's what I mean.

[2015-03-08 22:24] #306 closed

[2015-03-11 13:57] tjhei opened #655 "Assert compressed state in parallel linear algebra objects"
We should implement functionality similar to ```PETScWrappers::MatrixBase::assert_is_compressed ()``` in all Vector and SparseMatrix objects in PETSc and Trilinos and add this check at the beginning of most functions (for example ```clear_row```).

Maybe ```assert_is_compressed``` should do a collective operation in debug mode to help find bugs.

Also see #616

[2015-03-11 20:12] #403 closed

[2015-03-12 01:09] bangerth opened #657 "Need a way to run MueLu tests only if TrilinosVersion >= 10.12"
The MueLu tests currently run whenever you have Trilinos installed (starting with #214 ), but they should only run if TRILINOS_VERSION >= 10.12.

@tamiko : Any good way of doing this?

[2015-03-12 10:24] #637 closed

[2015-03-12 21:08] bangerth opened #659 "Allow aliases in ParameterHandler"
There are cases where one wants to rename parameters in .prm files handled by ParameterHandler. This is currently not possible in a way that would be backward compatible, but it could be done using aliases: this would simply map the old name to the new parameter.

I think I have an idea of how to do it, just need to get around to it.

[2015-03-12 21:12] bangerth opened #660 "Add GridGenerator::remove_cells"
We have functions that create meshes by adding cells to an existing triangulation. I've seen a number of cases where it would be useful to create a mesh by *removing* cells from another. We could well use a function like
[code]

[2015-03-12 21:53] tjhei commented on #659
We might also need this for renaming whole subsections (some of the names in ASPECT are not consistent). Bonus points for implementing a "deprecated" feature that warns when you use the old name. :-)

[2015-03-12 22:20] bangerth opened #661 "trilinos/assemble_matrix_parallel_01 fails"
The trilinos/assemble_matrix_parallel_01 test currently fails. We call
[code]
which ends up here:
[code]
I suspect that we don't actually need to call compress here because we just copy stuff. If anything, maybe we should at one point enforce that one calls `compress` on the source matrix. In any case, the call fails with the exception
[code]
but I don't feel confident in my ability to understand

[2015-03-13 14:24] #660 closed

[2015-03-15 06:54] #661 closed

[2015-03-16 14:52] rosskynch commented on #328
I've had a brief look through this and I do feel that the problem is very likely to be related to the projection used in the interpolation. However the code for the interpolation is ~2000 lines and I'm struggling to pinpoint exactly what the error is.

I suspect that it'll be due to the edge residuals not being taken into account. They are non-zero on faces, so when projecting for the faces, the r

[2015-03-16 16:16] tamiko commented on #657
@bangerth : I'm currently thinking about a somewhat not totally messy solution. Unfortunately, it is not that simple. The big problem is that in the testsuite we do not have all configuration variables available, but only the subset exported in <code>deal.IIConfig.cmake</code>.

Personally, I dislike the idea of inflating <code>deal.IIConfig.cmake</code> and the testsuite logic... It is already ho

[2015-03-18 20:14] tjhei opened #670 "implement map_dofs_to_support_points for subset"
It would be useful to have a function like map_dofs_to_support_points but only for a given list of dof indices. Also see https://github.com/dealii/dealii/wiki/Frequently-Asked-Questions#how-to-get-the-mapped-position-of-support-points-of-my-element

[2015-03-18 20:24] bangerth commented on #670
Why would you not call the existing function and then just index into the result?

[2015-03-18 22:00] tjhei commented on #670
That is possible but I was thinking about the performance when all you need is the info of a single DoF for example.

[2015-03-18 23:26] tjhei commented on #657
Also fine in my opinion: the test is run for >=11.14 even if muelu is optional. It is just for the tester after all.

[2015-03-20 02:27] tjhei opened #672 "fix link to non-existing paper"
The grid renumbering documentation contains
" * linear time as well. Both algorithms are described in a paper by Agelek,
 * Anderson, Bangerth and Barth, see the publications page of the deal.II
 * library.
"
but that paper never made it into existence, or did it, @bangerth ?

[2015-03-20 17:34] tjhei opened #673 "make repartitioning in distributed::Tria optional"
- add a flag to the constructor MANUAL_REPARTITIONING
- add a function repartition() that is called automatically unless MANUAL_REPARTITIONING is set

[2015-03-21 15:56] bangerth commented on #672
It has been 90% ready since 2005 but we never finished it. Maybe I should get
it into a good enough shape to upload it to arXiv at least...

[2015-03-21 16:03] bangerth opened #674 "Don't use rand_r"
rand_r doesn't seem to be available readily with cygwin, and it's not a good solution anyway. It's also not C99. We should replace it by one of the BOOST random number generators.

Occurrences:
[code]

[2015-03-21 17:39] tjhei commented on #672
I got told you would get at least one citation if you do. :-)

[2015-03-21 20:20] tjhei opened #675 "condense() after vs. inside make_sparsity_pattern"
There are two common ways to remove constraints from a sparsity pattern:
1) condense after:

[code]

2) condense inside `make_sparsity_pattern`:

[code]

Method 2 is shorter, works very similar in parallel with PETSc/Trilinos, and is likely faster. We end up teaching method 1 in most tutorials.

I was wondering if we should replace it with method 2 right from the start. Thoughts?

[2015-03-21 20:46] tjhei commented on #675
Oh, and I guess using ```distribute_local_to_global``` vs. ```condense(matrix)``` is the same issue.

[2015-03-22 10:16] bangerth commented on #675
I think option 1 has the advantage that newbies actually see what is happening. I believe that there is pedagogical value in this. We can always (and do) introduce more concise methods in later tutorials.

[2015-03-22 13:12] bangerth commented on #672
I might make that my motivation :-)

[2015-03-22 14:38] bangerth commented on #659
Question: It shouldn't be very difficult to create aliases for parameters within the same section. Do we need the ability to create an alias in one section for a parameter in another?

[2015-03-22 15:44] tjhei commented on #659
How difficult is it to alias section names?

[2015-03-22 16:07] bangerth commented on #659
One thing at a time :-)

[2015-03-22 16:43] tjhei commented on #659
What I am trying to say: In my opinion it would be enough to only allow aliases within the same section and not support aliasing a parameter in a different section, if we also support aliasing section names (with other section names). Does that make sense?

[2015-03-22 16:48] #673 closed

[2015-03-22 16:50] bangerth commented on #659
So you think that there is no need to do something like
[code]
If so, that should be relatively simple.

[2015-03-22 19:33] tjhei commented on #659
Correct.

[2015-03-23 15:12] #657 closed

[2015-03-23 19:10] bangerth opened #683 "tests/integrators/cochain_01 no longer compiles"
@tjhei : This is fallout from your `CompressedSparsityPattern` patch:

[code]

[2015-03-23 19:49] tjhei commented on #683
Yes, saw it earlier. Will fix it.

[2015-03-23 20:48] bangerth opened #684 "Simplify vector-vector operation interfaces"
Our vector classes have all of these `equ`, `add` and `sadd` functions that do vector-vector operations, but I would venture the guess that fewer than half of these are actually used anywhere. On the other hand, they produce a very significant maintenance burden every time we write or update one of the many linear algebra interfaces we have.

I would favor us deprecating all of those functions tha

[2015-03-23 20:49] bangerth commented on #684
@Rombur was going to look into this at one point or other.

[2015-03-23 21:23] tjhei commented on #684
Agreed. My idea would be to make a clean cut before we implement the TPetra interfaces and define a new minimal interface for vectors and matrices.

[2015-03-23 21:24] tjhei commented on #684
Anyone starting to work on this: please keep me in the loop.

[2015-03-23 21:29] #683 closed

[2015-03-23 22:10] bangerth commented on #684
Yes, that was the idea: identify which functions we need, deprecate the rest, and in new interfaces only implement those that are not deprecated in the other vector classes.

[2015-03-24 00:11] bangerth opened #686 "Documentation talks about Dirichlet boundary conditions when it should be "strong" boundary conditions"
For example, in the documentation of various functions in `MatrixTools`. These functions apply _strong_ boundary conditions, not _Dirichlet_ boundary conditions. This is often the same, but not always.

[2015-03-26 21:50] Rombur commented on #684
Since changing the vector interface is a pretty big change, I want to talk about it here before I start doing changes everywhere. We can talk about the details when I create the pull request but I would rather not deprecate your favorite function ;-) .

Right now, I have looked at the serial vector and my first question is, do we need to have a serial implementation for petsc and trilinos vectors?

[2015-03-26 22:56] tamiko commented on #684
I agree with almost all of it - with one notable exception. I would opt to keep the iterator interfaces <code>begin(), end()</code> etc. (and even add <code>rbegin/rend/cbegin/cend/crbegin/crend</code>) when appropriate. Otherwise we lose all of the nice C++11 features for operating with sequencing containers....

[2015-03-26 23:07] Rombur commented on #684
I removed them because they don't exist for the petsc interface but it should be easy to add them.

[2015-03-27 11:52] tjhei commented on #684
I don't think so, but I am not sure if the SLEPc stuff is only available in serial.

These are kind of nice because they are more flexible than the std::vector<> variant.

We should keep some functionality to known if the vector is a ghosted vector or not.

Other thoughts:
1. We might need to change assembly (which is currently ended with ```compress``), to be wrapped in something like:
[code]
so

[2015-03-27 12:13] kronbichler commented on #684
I agree with @Rombur that having separate serial and MPI vectors in PETSc and Trilinos is redundant. Especially for the Trilinos interface which I know well. It makes sense to have the distinction for the deal.II vectors (Vector vs parallel::distributed::Vector) because the former can do direct array access upon operator() whereas the latter cannot, but the implementation for PETSc/Trilinos is the

[2015-03-27 14:04] bangerth commented on #684
I agree with @Rombur 's list for deprecation except the `begin/end` pair which I think I would like to keep -- we use iterators throughout, so let's keep them here as well if only for consistency. It's the C++ way of doing things.

About `has_ghost_elements()` -- do we not use this in all sorts of places?

About `Vector` vs `GhostedVector` -- I feel that that would make things unnecessarily compli

[2015-03-27 14:47] Rombur commented on #684
@tjhei according to our documentation SLEPc works in parallel.

I don't want to have to deal with Trilinos and PETSc in serial because like @kronbichler pointed out things like operator() don't exist in parallel. It's was not easy to do with Epetra but it's worse with Tpetra: you need to create a view every time you want to access an element and I can image people using it to copy vector... That's

[2015-03-27 15:57] bangerth commented on #684
The issue with creating a view is the same in PETSc. It's incredibly inefficient. It's also not possible to make this efficient in a multithreaded context.

[2015-03-27 16:44] Rombur commented on #684
I have to think more about it but I feel that, for parallel vector, we could force people to fill a Vector or a std::vector and then, use it to fill the petsc/trilinos vector.

Anyway, I think we agree on the serial interface. I will start working on a pull request and we can discuss the detail there. The only question left is: Do we want to keep the serial petsc and trilinos interfaces? @kronbich

[2015-03-27 23:50] bangerth commented on #684
I do like `operator()`. There are many cases where not having it would certainly make code much more awkward. I believe, for example, that step-42 pokes into Trilinos vectors all the time to figure out whether a Lagrange multiplier is larger or smaller than zero. There is no real alternative to doing this, so not having `operator()` would just lead to code obfuscation.

As for the removal of the s

[2015-03-28 05:01] bangerth opened #699 "Unclear documentation of IndexSet::create_trilinos_map()"
@kronbichler : In the context of #698 I looked at the function in the title and was confused by the documentation which says:
[code]
I believe that the second part of the sentence "though they still need to contain each index exactly once" is not true, at least that's what I get when I run the testsuite. For example, we do this in creating a Trilinos sparsity pattern:
[code]
Do you agree that the

[2015-03-28 16:58] QiaoLei-88 opened #701 "dead link on wiki/Build-Tests"
The link behind "build test page" on the page "https://github.com/dealii/dealii/wiki/Build-Tests" is "http://www.dealii.org/cgi-bin/build.pl" witch is a dead 404 link.

[2015-03-28 18:49] Rombur commented on #684
My problem with ```operator()``` is what do you do once you have created the view ? If you are using ```operator ()``` in a loop, you want to keep the view but if you need access to only one element, there is no point in keeping the view around. I would prefer to let the user get the view and decide what to do with it.

[2015-03-28 19:43] kronbichler commented on #699
I agree. It should be 'at least once' and not 'exactly once'. We require the map to be surjective, if it is one-to-one we have a non-ghosted version.

[2015-03-28 20:21] bangerth commented on #699
Well, but that's not true either. I think that's what the "overlapping" referred to, namely that multiple processors could nominate the same index. But, as I showed in the source snippet I quoted, there are cases where the index sets do not cover the index space at all but are only subsets.

[2015-03-28 20:28] kronbichler commented on #699
Right, there is no restriction as long as one does not expect to access all the elements - it was actually me writing the code you point to :-). I will adjust the code.

[2015-03-28 21:11] #699 closed

[2015-03-28 21:14] #598 closed

[2015-03-28 21:32] Ampaduj commented on #674
Thanks for the information. I am new to FEM as well as dealii. Today, March 29, 2015, I tried installing deal on windows using the cygwin interface and after about 40% of installation I had the same error:
/cygdrive/f/computation/dealii-8.2.1/source/base/utilities.cc: In function ‘double dealii::Utilities::generate_normal_random_number(double, double)’:
/cygdrive/f/computation/dealii-8.2.1/source/

[2015-03-28 21:39] drwells commented on #674
@Ampaduj: what a coincidence. I had been writing this comment and digging through headers for about an hour when you posted.

I spent some time looking at this and it is surprisingly complicated to replace `rand_r` with one of the nice BOOST random number generators without running into the static initialization problem. We could do something like (this is C++11, but BOOST has all of this too)
[co

[2015-03-28 21:51] Ampaduj commented on #674
@drwells: Thanks for information provided. Although you insist that the function is not really necessary, I think the information provided is very important at least for a beginner like me for the sake of learning!!
Thanks.

[2015-03-28 22:26] tjhei commented on #674
@bangerth one work-around would be to modify the function ```rand``` in tests/tests.h to make it thread-safe (by making the static variables thread local):
[code]

[2015-03-29 02:47] bangerth commented on #674
Yes, I think that would be one way. Another option would be something of this kind:
[code]

[2015-03-29 07:46] Ampaduj commented on #674
@bangerth
I am having some sort of difficulty in making a test run. I had successfully installed via:
make prefix=c:/cygwin64/usr/local install

Now I try the following command and it takes forever (more than 4 hours now):

make prefix=c:/cygwin64/usr/local test

The only output that appeared on the screen was:

Test project /cygdrive/f/computation/dealii-8.2.1/tests/quick_tests
    Start 1: step.

[2015-03-29 08:09] bangerth commented on #674
No, it shouldn't take 4 hours to run a single test, regardless of your machine :-) This should take a couple of seconds at most. Can you see in your process monitor whether the program is really still running?

(This issue is really unrelated to the `rand_r` problem discussed here. Please take your question to the mailing list or forum.)

[2015-03-29 14:03] Ampaduj commented on #674
Okay, advice well noted.
I have put the question on the dealii google mail list.

At the processes tab of my task manager, I do not explicitly see Cygwin terminal.
However I do see the following processes names:
make, cmake, ctest, sh, as well as step.debug

Thanks.

[2015-03-30 22:26] bangerth opened #711 "Better ways to filter which cells to consider in DataOut"
Currently, we use about the most clumsy way to filter which cells `DataOut` (and friends) consider, namely a pair of member functions `first_cell` and `next_cell`. To use these, one has to derive a class from `DataOut` and overload these functions.

A much better approach would be something along the following line:
[code]
Inside `build_patches`, we then simply have to call the filter on successiv

[2015-04-02 11:40] bangerth commented on #610
I admit that I think that it is your loss if you feel that you have to teach discontent with longer error messages.

I fully understand that you and I don't need to read long error messages. We've been doing this for 20 years -- we look at the location and the backtrace of the error and I know what I need to fix and where. But you will have made the experience that *none* of those in your deal.II

[2015-04-02 13:43] tamiko commented on #610
There is a difference between verbose information about an exception and a verbose explanation about the cause and reasons for an exception. Personally, I do not think that it helps very much to print several paragraphs of documentation in "Additional Information".

This is first of all a clear distraction for advanced users. Further, I doubt that it fulfills its primary purpose. From a psychologi

[2015-04-02 13:52] tjhei commented on #610
Do you mean we should print the URL that links to the doxygen page? That is a good idea if we can figure out how to automate this!

[2015-04-02 14:02] tamiko commented on #610
Yes.

Let's have a look at the doxygen documentation. I'm sure such a
functionality exists.

[2015-04-02 16:27] tjhei commented on #610
One thing I found is http://www.stack.nl/~dimitri/doxygen/manual/external.html
We already generate the deal.tag file that we could parse to find the URL+anchor. It looks like the anchor is an md5 of the function signature, so we might just hard-code the URL and hope it doesn't change over night. :-)
Alternatively, we create a small script that forwards to the correct page by looking it up in deal.

[2015-04-06 20:59] bangerth opened #745 "Future interfaces to vectors from other libraries"
[This is related to #684 but addresses a bigger issue.]

Timo, Bruno and I have brainstormed a bit about how we think the vector classes (and, ultimately, maybe also the matrix classes, but this is for a future discussion) should look like. The fundamental issues are:

1/ PETSc does not provide efficient element-wise access to vectors. It is also not thread-safe. The same is going to be true for t

[2015-04-07 06:54] kronbichler commented on #745
Here a few thoughts from my point of view:
- I like the idea of a clear separation between the deal.II infrastructure and external vector interfaces. In particular with respect to things like KellyErrorEstimator, FEValues::get_function_* and so on. So :+1: for that. As suggested, this would share some code with parallel::distributed::Vector but in order to fulfill the requirements above, several t

[2015-04-07 14:09] Rombur commented on #745
* I like the idea of using the ghosted vector in serial. It would make it so simple to change a program to use MPI
* I don't think that this interface will lock us in using CPU. We could use a library like ViennaCL to represent the underlying data of the ghosted vectors. Thus we will only have to change the ghosted vector but we should be able to keep interface. We will still have a problem when w

[2015-04-07 14:59] luca-heltai opened #747 "Deprecate `cell->set_boundary_indicator` and `cell->boundary_indicator`"
In many other places we use `*_id` instead of `*_indicator`. We should deprecate `boundary_indicator` and use `boundary_id`.

[2015-04-07 15:00] bangerth opened #748 "Unconditional use of _mm_malloc/_mm_free"
I'm trying to compile on an IBM Power7 machine, and I run into these errors:
[code]
The problem is that we use these functions unconditionally:
[code]
What's the appropriate solution to this?

[2015-04-07 16:30] Rombur commented on #748
We talked about in #109
So do we change it to ``` posix_memalign()``` ? C++11 or boost 1.56 or later have functions to align the memory.

[2015-04-07 18:54] kronbichler commented on #748
I'd say let's try with posix_memalign(). To be addressed in `parallel_vector.templates.h` and `vector.templates.h`. If we are there, the same trick can be applied to the (conditional) inclusion in `base/aligned_vector.h` with the same approach.

[2015-04-09 12:44] bangerth opened #755 "Change order of arguments to MappingQEulerian constructor"
`MappingQEulerian` has this constructor:
[code]
The order of arguments is confusing because the vector is defined on the DoFHandler. I would find it far more logical to have the DoFHandler come before the vector.

Thus: Introduce another constructor, deprecate the existing one.

[2015-04-09 19:00] jixiang7 opened #757 "on constraints.distribute(solution) after solution_trans.interpolate within the function refine_mesh"
In step-26, we did not call constraints.distribute(solution) after calling solution_trans.interpolate. Should we add it?

[2015-04-10 12:18] bangerth commented on #757
Yes, we should. @jixiang7 : Want to give this a try yourself? ;-)

[2015-04-10 12:27] bangerth opened #761 "Add cell->active_cell_index()"
We have a lot of places where we create vectors with a number of elements equal to the number of active cells (e.g., creating error estimates, refinement criteria, generating output, etc). These are typically treated with code such as
[code]
This is clumsy. Worse, it is not possible to look up the values on neighboring cells because we, in essence, can only walk through the vector in forward direc

[2015-04-10 13:38] guidokanschat commented on #761
Yes!

[2015-04-10 14:05] QiaoLei-88 commented on #761
How about add some flags tuning on and off such indices just as "update_values    |  update_gradients". Maybe the active_cell_index is not always needed.

[2015-04-10 14:12] tamiko commented on #761
@QiaoLei-88 This is a completely different context. <code>active_cell_index()</code> as described above will provide "static" information for a cell iteration and not from a <code>FEValues</code> object (that in fact does have to do expensive computation for updates).

[2015-04-10 14:16] davydden commented on #474
is there any fe class which has generalised support points implemented together with "more general interpolation operators" (from glossary)?

I would say if generalised support points are not degenerate (as it is currently the case), it should be possible to write an interpolation matrix from values of a function at those points to FE space on a single element. To that end one could just invert a

[2015-04-10 14:33] bangerth commented on #761
The memory consumption of the triangulation is entirely irrelevant in all problems where memory really matters. For example for Stokes in 3d, the matrix alone stores about 5kB per degree of freedom, and we have 25 degrees of freedom owned per cell. The preconditioner probably stores even more. I am not concerned about the extra 4 bytes per cell for this flag :-)

[2015-04-10 14:40] davydden commented on #474
btw `has_generalized_support_points` and `has_support_points` are not virtual in the `FiniteElement` class. How would those be overloaded in derived classes? I don't see any `bool` attribute in the base class which could have been returned within those functions.

[2015-04-10 15:45] QiaoLei-88 commented on #761
The flag can also save some time. Why we generate this index when we don't need it?

[2015-04-10 17:01] Rombur commented on #761
@QiaoLei-88 This won't save you any time.  Your code is going to spend most of its time in the solver. This kind of micro-optimizations seems nice but you gain nothing and now you have two cases to take into account. Run one of your code in a profiler and you will see that this is totally negligible.

[2015-04-10 17:34] QiaoLei-88 commented on #761
Yes. I agree this is just a tiny piece of work. I just want to follow the "lazy" pattern, which means the code will not do something until explicitely required and by default the code will stay in a lean and nice state.

[2015-04-10 17:37] tamiko commented on #761
And exactly this will not be guaranteed. With the addition of such a
flag the validity of calling active_cell_index() will depend on the fact
whether a flag was set some arbitrary time beforehand.

This adds complexity. And worse, in return, we gain very little.

[2015-04-10 17:47] tjhei commented on #761
Do you want this index to be equal to ```distance(begin_active(), cell)```?

We should discuss if this index includes artificial cells or not. I think we made a big mistake in including artificial cells in begin_active() and I wonder if we can still change this.

Wolfgang, can you think of a way to get a cell iterator using an active_cell_index in O(1)?

[2015-04-10 18:37] bangerth commented on #761
Yes, it's the equivalent of the `std::distance` call you have. It includes active artificial and ghost cells.

I understand your point, but I think the boat has sailed as for what these vectors represent -- they uniformly, throughout the library, reference active cells whether locally owned or not. That may have been a poor decision, but in the end it's not like it costs us a lot of memory (almost

[2015-04-10 18:41] davydden opened #763 "hyperlink to Polynomials::Hierarchical from FE_Q_Hierarchical"
subj.
This hyperlink is not working currently.

Here is a relevant paragraph in the header:
[code]

[2015-04-10 20:46] jixiang7 commented on #757
I compared the final results after adding constraints.distribute(solution). There is only a very small difference in results.

I did a test and found the size of solution vector does not change after calling distribute but ordering changes. Then I checked the online documentation and it only says "Re-distribute the elements of the vector in-place." So could you explain to me what this function is

[2015-04-10 21:07] bangerth opened #764 "mpi/step-39 fails after removal of NamedData"
@guidokanschat : mpi/step-39 now fails after your removal of `NamedData`:
[code]
Can you take a look?

[2015-04-10 22:37] tamiko commented on #92
Feel free to close if this is not relevant any more.

[2015-04-10 22:37] #203 closed

[2015-04-10 22:37] #300 closed

[2015-04-10 22:45] #312 closed

[2015-04-10 22:49] bangerth commented on #761
OK, patch for basic functionality is submitted. I will go through the code base on occasion adjusting the following places where we currently use the active cell index by hand:
[code]

[2015-04-10 23:08] #319 closed

[2015-04-10 23:08] #321 closed

[2015-04-10 23:19] #329 closed

[2015-04-10 23:23] tamiko commented on #337
@tjhei, @kronbichler 11.14 is availabe - mind to have a look?

[2015-04-11 01:56] #339 closed

[2015-04-11 06:55] #763 closed

[2015-04-11 16:59] #92 closed

[2015-04-11 18:29] tjhei commented on #745
I was arguing along those lines (represent everything in deal.II using local indices) when chatting with Bruno and Wolfgang but this would require some deeper changes inside deal.II and they were not convinced it is worth it (only small performance win; amount of work ...). I think we should have this discussion though.

The main change would be to have DoFHandler return local indices in ```get_do

[2015-04-11 18:51] kronbichler commented on #745
Thinking about this some more, I see two variants which would provide some benefit:
- Take the path described by @bangerth in the original post, i.e., introduce GhostedVector alongside with our distributed vectors which are reduced to a minimal configuration, though.
- Taking @tjhei and my suggestion of keeping local dof indices in most data structures allows for a very neat code structure: The gh

[2015-04-11 19:37] tjhei commented on #745
I would think the local enumeration would need to be owned, active, then relevant enumerated from 0...n_owned+n_active+n_relevant. Otherwise operations like DataOut won't work.

[2015-04-11 22:09] jixiang7 commented on #757
@bangerth

[2015-04-12 01:29] tjhei commented on #757
```distribute(solution)``` sets constrained entries to the correct values. The size of the vector or the ordering is not going to change. The call to ```distribute``` needs to happen after ```interpolate``` because otherwise the solution might not satisfy boundary conditions or hanging node constraints exactly. For example boundary values of refined cells will be set to the interpolated boundary v

[2015-04-12 09:33] luca-heltai opened #781 "Tiny bug in utilities.cc?"
When compiling with clang, I get the following warning:

[code]

I don't know what the assert wanted to test...

[2015-04-12 14:18] kronbichler commented on #781
I guess we should simply delete this assertion. Fix forthcoming.

[2015-04-12 14:33] #781 closed

[2015-04-12 14:42] luca-heltai opened #783 "Deprecate all functions acting on meshes in GridGenerator. Move them to GridTools"
The GridGenerator namespace contains functions which *create* grids from scratch. All tools that *manipulate* grids (either extracting part of a grid, or flattening, etc.) should be marked deprecated in GridGenerator and moved to GridTools.

[2015-04-12 16:15] jixiang7 commented on #757
@tjhei Thanks for clarifying it.

[2015-04-12 16:31] #747 closed

[2015-04-12 16:35] bangerth commented on #783
Agreed. Do you have a list of functions?

[2015-04-12 16:38] luca-heltai commented on #783
I think these belong to `GridTools`

- merge_triangulations
- create_union_triangulation
- create_triangulation_with_removed_cells
- extract_boundary_mesh
- flatten_triangulation

[2015-04-12 16:42] bangerth commented on #783
But all of these five create a new triangulation from existing ones, not just modify an existing one. Why do you want to move them?

[2015-04-12 16:49] luca-heltai commented on #783
Good point. Then it's perfectly fine to have them there. I didn't see it that way, but I guess it makes sense.

[2015-04-12 16:49] #783 closed

[2015-04-12 17:01] bangerth commented on #757
See also #785

[2015-04-12 21:53] jixiang7 commented on #757
@tjhei As you said, the distribute(solution) is to satisfy the boundary conditions or constraints. Then I still do not understand why we also call hanging_node_constraints.distribute (newton_update) in step-15? The newton_update is not supposed to satisfy boundary conditions but zero.

[2015-04-12 22:05] tjhei commented on #757
This is done so that the newton update satisfies the hanging nodes constraints exactly.

[2015-04-13 02:58] bangerth commented on #757
#787 adds the missing call in step-26. But I think that a similar call is also missing in steps 31, 32, 33, 42, 43. It is there in step-15.

[2015-04-13 03:05] bangerth commented on #757
@jixiang7 : The call adjusts the solution so that it satisfies whatever constraints are represented in the `ConstraintMatrix` object. In both step-15 and step-26, these are hanging node constraints but not boundary values. One can, however, also represent boundary values with `ConstraintMatrix` objects -- but step-15 and 26 just choose to not do this.

[2015-04-13 13:34] bangerth commented on #474
These functions are implemented as follows:
[code]

So they do not need to be virtual as long as they can get the returned arrays to test for their sizes. `unit_support_points` is typically set in the constructor of derived classes. The function called in `has_generalized_support_points()` is implemented as
[code]
It is also non-virtual, but derived classes could, again, set the `generalized_suppo

[2015-04-13 15:19] qaimirah opened #791 "Cannot start deal.ii image on VirtualBox 4.3.26"
I have had two major issues in getting deal.ii to run.  Attached is a log.  Below are some additional details regarding my physical machine, as well as the steps I've taken thus far.

My physical machine:
Processor: Intel Core i1-2760QM CPU @ 2.40GHz
RAM: 8GB
System type: 64-bit OS (Windows 7 Professional)

I already had VirtualBox 4.3.26 installed and had run Clawpack 4.6 on it-- it worked perfec

[2015-04-13 19:57] tjhei commented on #791
1.  did you try turning on VT-x in your bios of your computer?
2. Can you try http://www.ces.clemson.edu/dealii/deal_aspect-v11.ova (newer version of the image) and report if it works for you?

[2015-04-14 00:59] qaimirah commented on #791
I did eventually learn how to turn on virtualization in the BIOS.  (Being new to all this, I had no idea it was a common issue or an easy fix.)  I was then able to get the image to run.  I will also try the new image.  Thanks!

[2015-04-14 04:10] QiaoLei-88 opened #795 "TimerOutput for CPU time seems not correct"
Firstly I modified step-40 to output both cpu time and wall time, then
I run step-40 with 4 processes, and involuntarily 2 threads per process. (See https://groups.google.com/forum/#!topic/dealii/XJUrCGIEasE for discussion on this "unstoppable" multithread.)

And I got timer output like this:
//////////////////////////////////////////////////////////////////////////////////
$ mpirun -n 4 ./step-40

[2015-04-14 13:11] bangerth commented on #745
On @kronbichler 's points:

2/ "Can we go one step further and make the ghosted vector the only way to enter the above deal.II functions, i.e., also remove dealii::Vector instantiations": I thought about that as well, but couldn't get warm with the idea. The basic fact is that most people don't use deal.II in parallel and what concerns me is that we would have to spend a significant amount of time

[2015-04-14 13:33] bangerth commented on #610
I've given this some thought, and I've also taken a poll among my students. I believe that your arguments above start from the wrong place, though, namely:
1/ That everyone is like us in that they don't need explanatory error messages.
2/ That explanatory and possibly lengthy error messages are a *general* problem (as opposed to specific examples of long messages -- which I'm quite happy to discus

[2015-04-14 13:55] tjhei commented on #610
Valid arguments, @bangerth. One advantage for pointing to an online source is that we can update the error messages after the fact and we can even allow discussion/questions about it if it is in a wiki of some sort.

Also, it would be great to have the long descriptions in doxygen. This is independent of how much info is displayed when thrown, but I hate to duplicate the text. This was the main re

[2015-04-14 17:17] QiaoLei-88 commented on #795
CPU time looks good with just one mpi process:

And with 2 processes, the CPU time becomes 4 times to wall time

And with three processors, CPU time goes to roughly 9 times to wall time:

Now the situation is quite obvious: too much addition is done on cpu time.

[2015-04-14 17:40] QiaoLei-88 commented on #795
I believe this is the trouble maker:

from line 409 in timer.cc

This is the right way to do

Now I have to find out where is the proper place to insert the new variable local_total_cpu_time.

[2015-04-14 18:25] tjhei commented on #795
Yes, that makes sense.

[2015-04-14 20:27] Rombur commented on #745
On @kronbichler 's point number 2: I don't think that it would make the serial tutorial more complicated. I don't think that's harder to understand than having to build a SparsityPattern to use a SparseMatrix.  We could also delay the detailed explanation of the ghosted vector for the MPI tutorials. I think that simplifying the switch from a serial code to a parallel code is worth the small hassle

[2015-04-14 23:47] QiaoLei-88 commented on #795
The bug is here bu the previous suggested fix doesn't work.
I created pull request #799 to address issue.
To complete this discussion, I post the key part of the patch there again:

from line 409 in timer.cc

[2015-04-15 07:07] kronbichler commented on #334
I will work on the iterators and parts of the suggested improvement during the next weeks.

[2015-04-15 07:56] kronbichler commented on #745
I do agree on the educational aspect of using the simple dealii::Vector for serial programs as suggested by @bangerth.

*Regarding local vs. global indices:* The point of my last post was that using local indices throughout with dealii::Vector only does indeed have educational value too because this approach allows you to easily switch between serial and MPI computations. All you change is the lay

[2015-04-15 08:00] davydden opened #800 "no viable conversion from Tensor<1, dim, double> to const dealii::Point<dim>"
something that appeared recently (1-2 months).
A simple test case is:

[code]

p.s. I am os-x
[code]

[2015-04-15 08:06] kronbichler commented on #800
This is on purpose, see #503 and related patches from the beginning of February. You need to make the difference type a Tensor.

[2015-04-15 08:07] davydden commented on #800
i see, thanks!

[2015-04-15 08:07] #800 closed

[2015-04-15 11:13] bangerth commented on #334
Awesome. I have always envisioned having a function
[code]
that would constrain $U_i$ to the specified sum of other DoFs. The current interface rips the creation of the constraint apart from setting the components of the linear combination and the inhomogeneity. Not my best idea ever to create the interface this way.

Having such a function would also allow for compressing data storage, for exampl

[2015-04-15 12:45] bangerth commented on #764
@guidokanschat : ping?

[2015-04-15 17:37] ian-r-rose opened #806 "Compilation error with gcc 4.4.7"
I ran into this compilation error trying to compile deal.ii using gcc 4.4.7:

/home/ian.rose/dealii/build/source/grid/grid_generator.inst:45: error: using ‘typename’ outside of template

It appears to have been introduced with 2204ca401663ce0db9b547c0c03e196d02468850 , being some sort of issue with differences in the typename keyword between C++11 and C++03, though I don't really understand the is

[2015-04-15 17:46] Rombur commented on #806
Ian,

can you delete the typename in grid_generator and see if it works ? I
don't think that the typename is necessary here since it's a specialization.

Best,

Bruno

On 04/15/2015 12:37 PM, Ian Rose wrote:

[2015-04-15 18:03] bangerth commented on #806
Yes, the typename must go. @ian-r-rose : Are you set up with a current deal.II version for which you could create a pull request?

[2015-04-15 18:05] ian-r-rose commented on #806
Yes, I am just waiting to make sure the compile works, and can submit a PR in a few minutes.

[2015-04-16 16:30] bangerth opened #814 "Wrong code in GridOut"
#804 caught @tjhei 's eye with this piece of code at the end of `GridOut::write_msh`:
[code]
This is fishy because `cell_index` is passed by value, not by reference. So, if faces and lines are both output, they will get the same object ids. This seems wrong.

There is a similar place in `GridOut::write_ucd` below.

[2015-04-17 02:04] bangerth opened #819 "New warnings from Trilinos"
@tamiko: I'm now getting these warnings that we didn't get before:

[code]

Any idea?

[2015-04-17 08:51] tamiko commented on #819
This seems to happen when compiling in C++98 mode, [1]. Also happens for Trilinos 11.14, and did not show up when compiling in C++11 (if I recall correctly).

[1] https://cdash.kyomu.43-1.org/viewBuildError.php?type=1&buildid=5891

[2015-04-17 08:54] tamiko commented on #819
Here, we have the same problem as in the case of opencascade. The only thing we can do is to disable <code>-Wextra</code>.

Could you live with a preprocessor macro guarding the <code>#pragma</code> foo? Something like
[code]

and we put the contents of those two macros into <code>config.h.in</code>?
With this, we do not clutter up our headers too badly.

[2015-04-17 20:56] #806 closed

[2015-04-17 21:08] bangerth commented on #806
@Rombur : Was this fixed?

[2015-04-17 21:09] Rombur commented on #806
Yes, I merged the patch but I forgot to close the issue.

[2015-04-17 21:14] bangerth commented on #806
OK, thanks.

[2015-04-17 21:16] bangerth commented on #806
I totally missed this patch in my emails. My brain stores no recollection having seen this -- a reflection of my week, I guess :-(

[2015-04-17 22:39] Rombur opened #829 "Improve step-17"
Step-17 is well documented but there is no subsection in the commented program (it's just one huge block). There is also a big TODO in the middle of ```assemble_system()```.

[2015-04-18 02:52] #819 closed

[2015-04-18 02:52] bangerth commented on #829
Oh, I clicked on the link at the bottom of the email thinking that I would get to approve a pull request -- I guess that was wishful thinking. I'm not too fond of step-17/18, but you're right that eventually we should think about what we want to do with them.

@davydov had this nice patch with the shared triangulation that would have neatly replaced the program by something I'd much more happy wit

[2015-04-18 08:48] #748 closed

[2015-04-18 13:53] tamiko commented on #791
:-)

[2015-04-18 13:53] #791 closed

[2015-04-19 10:20] #764 closed

[2015-04-19 20:57] bangerth commented on #761
It turns out that contrary to my recollection, both `DataOut` and `KellyErrorEstimator` use other methods to keep track of which cell they're on (in the case of `DataOut`, this makes sense since we may not output data on some cells, or may indeed output from non-active cells).

So the only places that need to be converted are the tutorials.

[2015-04-19 21:46] bangerth commented on #641
I believe that `NamedData` has been removed as a class, but there are still a few occurrences of it in comments:
[code]

@guidokanschat : Can these all be removed or replaced?

[2015-04-19 22:03] #755 closed

[2015-04-19 22:05] bangerth commented on #636
This has apparently happened, maybe with #653.

[2015-04-19 22:05] #636 closed

[2015-04-19 22:18] bangerth commented on #542
Given the arguments we've had elsewhere, I'll leave the name of the scalar type as it is, but document its intent.

[2015-04-19 23:00] #674 closed

[2015-04-20 00:43] QiaoLei-88 commented on #795
Closed by PR #799.

[2015-04-20 00:43] #795 closed

[2015-04-20 01:49] bangerth opened #842 "New testsuite failures with LinearOperator"
@tamiko : The 'tester' fails with errors like this:
[code]
See, for example, http://cdash.kyomu.43-1.org/testDetails.php?test=10643725&build=6017

I have no idea what this error means, to be honest.

There are other errors as well:
http://cdash.kyomu.43-1.org/testDetails.php?test=10643729&build=6017

For reference, this is with GCC 4.6.3. It may simply still have bugs in handling lambda functions.

[2015-04-20 07:08] tamiko commented on #842
It is a bug in gcc up to 4.7 [1]

[1] https://github.com/dealii/dealii/pull/843

I'll prepare a patch.

[2015-04-20 07:39] #842 closed

[2015-04-20 13:02] #542 closed

[2015-04-20 15:11] #829 closed

[2015-04-20 16:29] tamiko opened #850 "Explicit instantiation after template specialization warning"
clang in c++98 mode issues the following warning [1]:
[code]

This might be a subtle problem we should address.

[1] http://cdash.kyomu.43-1.org/viewBuildError.php?type=1&buildid=6058

[2015-04-20 16:44] tamiko commented on #842
I meant https://gcc.gnu.org/bugzilla/show_bug.cgi?id=53624

[2015-04-20 17:08] bangerth commented on #850
No real problem, just duplicative. Patch coming.

[2015-04-20 17:18] bangerth opened #853 "Too many inline functions in trilinos_sparse_matrix.h"
There are a lot of inline functions at the bottom of trilinos_sparse_matrix.h -- many of which do expensive stuff such as matrix-vector products, for which inlining certainly isn't going to help much. Many of these functions should, IMHO, move to the .cc file.

[2015-04-20 18:41] #850 closed

[2015-04-20 21:29] tamiko commented on #853
Or, for which inlining is certainly not happening :-]

[2015-04-21 06:23] kronbichler commented on #853
I agree on the case for the functions `SparseMatrix::set` and `SparseMatrix::add` that both span more than 100 lines. The reason they are inline is because these used to be reasonably small (and performance-sensitive) methods back in 2008, but they have grown way beyond the point where inlining would make any sense. Also, basically all former bottlenecks have been removed when I rewrote `Constrain

[2015-04-21 12:15] bangerth commented on #853
@kronbichler : I didn't mean for you to get to it right away -- more as a reminder to myself. But thanks of course for taking care of it! I think any kind of reduction is already better, no need to go to lengths moving functions for which this would be a major hassle including instantiations etc.

[2015-04-21 12:19] kronbichler commented on #853
No problem, I had this on my agenda as well... ;-)

[2015-04-21 12:30] #853 closed

[2015-04-22 21:47] tamiko opened #862 "Failing tests wrt changes in boundary lib"
Luca,

can you have a look at those failing tests, please? [1]
[code]

[1] http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=6147

[2015-04-22 22:02] Rombur opened #863 "petsc 3.5.3 doesn't work with 64 bit indices"
PETSc 3.5.3 crashes when using 64 bit indices. I'll look into it when I'm back in College Station at the end of the week.

[2015-04-23 11:33] bangerth opened #866 "Implement exact inverse transformation"
Against all odds, I have been pointed to the fact that at least in 2d, one can write down an exact answer to the inverse of the mapping from reference cell to real cell. We currently use a Newton method. The formula is here:
http://nbviewer.ipython.org/gist/nicoguaro/73d1cd14b1aa19a4b817

Given how much trouble the Newton iteration is often giving us, we might want to try this!

[2015-04-23 11:39] bangerth commented on #866
And here it is in Maple, already with coordinates:
[code]

[2015-04-23 12:39] bangerth commented on #711
It won't be quite that simple because we currently also allow output from non-active cells, and the current setup allows to completely *replace* the set of cells on which data is output.

But this should work:
[code]

[2015-04-23 12:47] bangerth commented on #317
This was implemented in #836

[2015-04-23 12:47] #317 closed

[2015-04-23 12:48] bangerth commented on #314
See also #866

[2015-04-23 13:28] bangerth opened #868 "Remove references to the STL"
We make reference to the STL in a great many places:
[code]
The thing is: the STL was a library back in the 1990s and only old-timers will still remember what it stands for. We should replace the term in the documentation by something that is closer to what current C++ users would understand.

[2015-04-23 16:13] agrayver opened #870 "Bug in FE_Q_Hierachical"
It seems something goes wrong in FE_Q_Hierachical element. Attached is a simple program that solves \Delta u + u = \delta(0).
The solution is compared against analytc formula. While element works for p = 1, it does not work for higher degrees as can clearly be seen from the program's output:

FE_Q<2>(1)
  DoFs  L2 Error
     9 3.3235e-03
    25 5.4732e-04
    81 1.2942e-04
   289 3.1854e-05
  1089

[2015-04-23 16:44] tamiko opened #871 "Missing ``block_wise``` renumbering for multigrid"
The old interface had a function
[code]
After the removal of ```MGDoFHandler``` there is no equivalent for ```DoFHandler``` left. However, in ```dof_renumbering.cc``` (as well as the corresponding ```inst.in``` file) there is a corresponding function defined (and instantiated):
[code]
This function is not declared in the corresponding header. Calling it leads to an assertion getting triggered.

Wh

[2015-04-23 20:10] kronbichler commented on #870
You call `VectorTools::interpolate_boundary_values` for FE_Q_Hierarchical which is not interpolatory. Changing the call to `VectorTools::project_boundary_values` fixes the problem. If anything, there should be warning/exception that you are trying to do something wrong here.

[2015-04-23 21:11] bangerth commented on #870
This goes back to #474, namely that `FE_Q_Hierarchical` declares that it has support points. I think this is the basic mistake that allows `VectorTools::interpolate_boundary_values` to produce anything at all (it would abort -- I believe -- if `FE_Q_Hierarchical` correctly said that it has no support point).

[2015-04-23 21:59] bangerth commented on #871
The function is likely an orphan. What's the assertion you get when calling it?

[2015-04-24 03:07] YongYang86 opened #872 "Not convergence in MappingQEulerian.transform_real_to_unit_cell"
An example to show MappingQEulerian.transform_real_to_unit_cell is not convergent. It comes from the debug information. dim = 2.
[code]

[2015-04-24 07:43] agrayver commented on #870
Ok, thank you, makes sense now. I was mislead by the fact that for zero homogeneous Dirichlet conditionds tutorial's results were very close, at least visually.

[2015-04-24 10:05] fsonner commented on #871
I am the one who wanted to use this functionality and asked Matthias about it. The exception I get is the following:

[code]

[2015-04-24 12:06] tjhei commented on #871
How are you calling the function? It doesn't exist in dof_renumbering.h?!

[2015-04-24 12:10] tjhei commented on #871
@fsonner can you give us a minimal program that shows the problem? The fix inside compute_block_wise() shouldn't be difficult (see the logic in compute_component_wise). Instead of
[code]
we need something like
[code]

[2015-04-24 14:28] bangerth commented on #872
I think this is not a failure of `MappingQEulerian` but in fact of the underlying code. Can you try to move the points of the original mesh according to your displacements and simply use a `MappingQ`? Do you observe the same problem in that case?

[2015-04-24 15:33] fsonner commented on #871
@tjhei Below is a minimal example which demonstrates the problem. I had to add the missing function declaration to the header first, of course. As far as I can see your proposed change fixed the problem, I will open a pull request in a minute.

[code]

[2015-04-24 18:37] YongYang86 commented on #872
It is strange. If I add `MappingQ<dim> map_q(map);` after `MappingQEulerian<dim> map(1,sltn,dof_h_new);` and use `pt2 = map_q.transform_real_to_unit_cell(dof_h_new.begin_active(),pt1);`, then it works. The original exception information is
`libc++abi.dylib: terminating with uncaught exception of type dealii::Mapping<2, 2>::ExcTransformationFailed:
An error occurred in line <1818> of file <../sourc

[2015-04-24 18:49] bangerth commented on #872
What I meant is not to simply replace the MappingQEulerian by MappingQ, but to also move the points by hand. For example, the MappingQEulerian moves vertex 0 to
[code]
What happens if you do this by hand and then use a zero displacement vector? If this still produces the same error as before, then you can replace MappingQEulerian + zero displacement by a direct MappingQ object.

[2015-04-24 20:30] Rombur commented on #863
The tests passed on my machine with PETSc 3.5.3 and gcc-4.9.1 @tamiko can you check that PETSc is configured correctly on simserv04.

[2015-04-24 20:56] YongYang86 commented on #872
After moving points by hand, both of methods generate same exception as before.(1. zero displacement + MappingQEulerian; 2. MappingQ).
[code]

[2015-04-24 21:13] tamiko commented on #863
@rombur Can you provide me with a working ```$PETSC_ARCH/conf/configure.log```, please? I cannot spot an obvious mistake, i.e. PETSc was configured with ```--with-64-bit-indices```.

[2015-04-24 21:14] tamiko commented on #863
@rombur Ah, stop. I have an idea. This is a Gentoo prefix setup that has the tendency to mess with rpaths. Let me check.

[2015-04-24 21:30] tamiko commented on #863
Ok. Should be fixed now.

[2015-04-25 00:09] bangerth commented on #872
For reference, here is a picture of the cell and the point. The point is far outside, I'm not surprised that the inversion formula fails.
![x](https://cloud.githubusercontent.com/assets/7504421/7330515/6ddb76aa-eab5-11e4-95aa-511be17390c2.png)

[2015-04-25 00:10] bangerth commented on #866
The place to implement this is in `MappingQ1::transform_real_to_unit_cell`.

[2015-04-25 00:11] bangerth commented on #872
Related issues: #866 and #314.

@YongYang86 : If you feel adventurous, you could try to implement the idea in issue #866 and we will see whether that helps any.

[2015-04-25 00:25] YongYang86 commented on #872
It is interesting. I will try to implement it following the reference #866 . Thanks.

[2015-04-25 00:35] QiaoLei-88 opened #876 "minor documentation flaw in step-51"
Something wrong at
"this term simply reads Undefined control sequence \ve".

I am not familiar this tutorial and don't know how to fix it at this moment.
Maybe someone else could fix this easily.

[2015-04-25 00:42] bangerth commented on #876
Is this your local installation or the website? It looks ok to me at
http://dealii.org/developer/doxygen/deal.II/step_51.html

[2015-04-25 00:45] QiaoLei-88 commented on #876
Sorry. It's in version 8.2.0.
I was led to there by Google.

[2015-04-25 00:45] #876 closed

[2015-04-25 09:25] tamiko commented on #863
@rombur Now we have ```libbob``` (which is ```libdeal_II```) linking against ```libbobsc``` (which is ```libpetsc```):

[code]

[2015-04-25 09:25] #863 closed

[2015-04-26 17:18] #868 closed

[2015-04-27 16:35] fsonner opened #885 "GMRES causes segmentation fault in corner case"
If the GMRES setting `use_default_residual` is set to `false` and the initial value is already a solution the solver produces a `segmentation fault`.

The reason for this is that the memory for the temporary variables `r`, `x_` and `gamma_` is freed twice in this scenario: Once directly inside the check if the initial solution is good enough ([here](https://github.com/dealii/dealii/blob/1d8716d2b3

[2015-04-28 03:51] bangerth opened #888 "step-20 defines Tvmult but then never uses it"
Might as well get rid of it, to keep things cleaner.

[2015-04-28 13:54] #885 closed

[2015-04-28 21:28] luca-heltai opened #889 "Bug in DynamicSparsityPattern. Broken on Macs"
From the mailing list:

dear all,

I am trying to compile and run step-40 of dev release on my mac ( version 10.10.3 ).
Two days ago I did not get any problems.
Moreover, the same step works in deal.II 8.2 without errors.

sha1: 1d8716d

The error message I get is the following:

[code]

[2015-04-29 02:32] bangerth commented on #889
Strange. I don't get this error. Is this an unchanged version of step-40? How do you run it?

[2015-04-29 10:45] luca-heltai commented on #889
mpirun -np 2 ./step-40

Freshly updated and installed. Unmodified version....

[2015-04-29 10:56] bangerth commented on #889
Hm. That worked for me last night. Can you provide a back trace?

[2015-05-01 20:14] bangerth opened #892 "step-22 uses a definition of Stokes that nobody uses"
When I wrote step-22, I was stupid and didn't know that the equation with the symmetric gradient is physically more correct, but requires a factor of two (which it doesn't have).

When I realized that, I got defensive and tried to explain that there is a genuine disagreement between different parts of the sciences of whether the factor of 2 should be there or not. That's b.s.. I should have just f

[2015-05-01 23:22] tamiko opened #894 "Missing classes in Vectors doxygen module"
Somehow not all of vector classes show up [1].

[1] https://www.dealii.org/developer/doxygen/deal.II/group__Vectors.html

[2015-05-02 02:21] tjhei commented on #894
Yeah, SparseMatrix has been broken for a long time too. Please see https://bugzilla.gnome.org/show_bug.cgi?id=722940 (finally fixed? Yay!)

[2015-05-04 08:32] luca-heltai commented on #889
This is with the latest version of everything. I recompiled all libraries. The bug appears in all example programs, including `step-3`. Currently dealii 97c54f59 is broken on all macs I could test it on.

[code]

[2015-05-04 12:58] bangerth commented on #889
Bummer. I can't reproduce this on linux. How would we go about debugging this?

[2015-05-04 13:08] tjhei commented on #889
@luca-heltai can you run step-3 under gdb and print the ```backtrace``` please?

[2015-05-04 13:17] tamiko commented on #889
@bangerth I think this is a libc++ issue - at least simserv04 is also failing recently on its libc++ test. I'll have a look.

[2015-05-04 13:48] bangerth commented on #889
(@tjhei: He really meant step-32, not step-3.)

[2015-05-04 14:18] tamiko commented on #889
Under the assumption that this is the same bug I currently encounter with libc++:
[code]

[2015-05-04 14:21] tamiko commented on #889
Backtrace:
[code]

[2015-05-04 14:31] luca-heltai commented on #889
@bangerth I really mean *all* example programs. This happens in all examples to me. I see that @tamiko is too efficient and already provided a backtrace...

:)

[2015-05-04 14:49] tjhei commented on #889
Weird. I don't see an obvious problem. One option would be to look around in gdb (what is current_row? What is sparsity_pattern->n_rows()? What is the row length? etc.).

I can look at this at some point, but I don't have a system with libc++ set up right now, so I let you guys play with it first.

@tamiko : what is the easiest way to get libc++ to work on linux? Without compiling from source, hop

[2015-05-04 15:30] tamiko commented on #889
On a recent Debian, or derivative, # apt-get install "libc++-dev" should
do the trick. Configuration with

  cmake -DDEAL_II_CXX_FLAGS="-stdlib=libc++" -DDEAL_II_LINKER_FLAGS="-stdlib=libc++" [...]

(and clang)

[2015-05-04 18:18] luca-heltai commented on #889
I'm exploring a little bit around, and I get this error in the debugger:

[code]

I'm not really making sense of what's happening... The Assert is triggered in this loop:

[code]

and I currently have

[code]

clearly `current_entry` and `end_of_row` are wrong for active `col_num`.

I get similar problems with my debugger if I do:

[code]

At the time the Assert is triggered, I have:

[code]

and

[2015-05-04 18:39] luca-heltai commented on #889
I think it is triggered at the end of the loop:

[code]

when `col_num == end_row` should evaluate to true, but fails. I'm trying to figure out what happens here...

[2015-05-04 22:43] bangerth commented on #889
I see that this is the problem:
[code]
Here, `colnum` and `endrow` are both one-past-the-end-pointers for the sparsity pattern (as indicated by `current_row==(unsigned int)-1`) which happens in this constructor:
[code]
The problem is that they do not compare equal via
[code]
because their `current_entries` are different. A quick fix would then be something of this kind:
[code]

The thing that conf

[2015-05-04 22:48] tamiko opened #898 "Add move constructors and operators"
The following vector classes currently lack move contructors and move operators

[code]

[2015-05-05 11:42] tamiko commented on #889
@bangerth I'd guess that libc++ uses different implementational liberties with respect to standard iterators.

[2015-05-05 12:16] bangerth commented on #889
I think my confusion resulted from the fact that
[code]
does not appear to initialize `p` to a defined value even though I call its default constructor in `X::X`. Independent of what type `std::vector::iterator` is, I would have expected that to work, i.e., even if it is just a plain old scalar POD `int*`. But I must have been wrong.

Either way, the patch in #901 is fine by me if it fixes the pro

[2015-05-05 12:24] #889 closed

[2015-05-05 13:06] bangerth opened #902 "Develop pretty-printers for gdb"
gdb allows loading python modules that provide pretty-printers for user-defined data types. This is also how it presents nicer output for C++ standard types. We should develop some of these for common types such as `Point`, `Tensor`, `Vector`, etc.

[2015-05-05 13:43] tamiko opened #903 "PointerComparison::equal incorrectly assumes that pointers with different types point to different memory locations"
Minimal example:
[code]

[2015-05-05 18:24] bangerth commented on #903
Interesting case. I'm not sure whether the cast to `void*` is the best approach to test for object equality because this will fail even though you probably still want to say that the objects are equal:
[code]
Here, both lines will report `false`. What you need to achieve is that you test whether one is convertible to the other, and then compare the converted pointers. Of course, this still fails i

[2015-05-05 18:41] tamiko commented on #903
But here p_a1 and p_a2 refer to distinct memory locations.

[2015-05-05 21:01] bangerth commented on #903
As they do in my first example above. You are using the fact that the pointers point to the same address only because the first base object and the derived object happen to be at the same location. (Which may or may not be guaranteed by the standard.) But the second base and the derived object definitely are not -- so the pointers point to different locations, but still to the same object.

[2015-05-05 21:01] #684 closed

[2015-05-07 00:24] luca-heltai opened #905 "Web page: link to recent changes?"
There used to be a link to the changes done to the library since the last release (the file generated from changes.h).

There are links for changes from 8.1 and 8.2 (as well as older ones), but I could not find the current one,  even if the page is still generated by doxygen...

A link to this page should be in the news section, in the home page, as well as in the news submenu...

[2015-05-07 01:49] tjhei commented on #905
If you go to dealii.org, there is "recent changes" under "dev" linking to https://github.com/dealii/dealii/commits/master

[2015-05-07 01:51] tjhei commented on #905
Or do you mean https://www.dealii.org/developer/doxygen/deal.II/changes_after_8_2_1.html instead?

[2015-05-07 02:31] bangerth commented on #889
There are still a bunch of similar fails in
  http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=6666
See, for example,
  http://cdash.kyomu.43-1.org/testDetails.php?test=11696341&build=6666

@luca-heltai : Do you still see this?

[2015-05-07 06:42] luca-heltai commented on #905
I mean  https://www.dealii.org/developer/doxygen/deal.II/changes_after_8_2_1.html

I could not find a direct link to that. Is it anywhere?

[2015-05-07 09:17] fsonner opened #909 "MultipleParameterLoop::UserClass::declare_parameters(…) unused"
The class `MultipleParameterLoop::UserClass` declares the pure virtual function `declare_parameters(…)` but this function is never used in the library. Therefore I propose the removal of this function, even if it is considered best practice.

In the examples the function could then be made static, which prevents any confusion about whether or not the parameter declaration can use the problem objec

[2015-05-07 11:44] tjhei commented on #905
No, how about we replace the somewhat useless current link behind "recent changes"?

[2015-05-07 12:36] bangerth commented on #909
I agree. I'd be happy to see a patch that removes the function and updates the documentation accordingly.

[2015-05-07 12:48] bangerth commented on #905
How about we keep both? I'll take care of it later today.

[2015-05-07 13:13] tjhei commented on #905
I don't feel strongly about it, but https://github.com/dealii/dealii/commits/master is kind of useless (and you can get there by clicking on "github repository" -> "commits").

[2015-05-07 16:21] bangerth commented on #905
I made the change. Unfortunately, something with the script to update the website doesn't quite seem to work. I suppose the change will eventually propagate to the public pages.

[2015-05-07 16:21] #905 closed

[2015-05-07 16:22] #909 closed

[2015-05-08 00:01] bangerth commented on #898
This is actually a difficult proposition. You need to steal the MPI state from these vectors. How would one implement a move operator for `MPI_Comm`?

[2015-05-08 00:02] bangerth commented on #903
So how do we resolve this issue?

[2015-05-08 02:23] bangerth commented on #902
For reference, this is what I had developed a while back for my .gdbinit. I commented it out -- I don't recall why, but it must have not worked:
[code]

[2015-05-08 02:33] bangerth commented on #902
Upon trying this, it turns out to actually work. The output is so much less verbose because it hides the various nested classes and base classes. Who knew?

[2015-05-08 13:23] bangerth commented on #902
But it looks like Eclipse doesn't use the pretty printers :-(

[2015-05-08 13:29] tjhei commented on #902
It should work though: http://wiki.eclipse.org/CDT/User/FAQ#How_can_I_inspect_the_contents_of_STL_containers.3F

[2015-05-08 13:31] bangerth commented on #902
Yes, I had found that via google too. But it doesn't seem to work, at least for me. Will try again after this year's Eclipse release. (I'm still back on the 2013 release.)

[2015-05-08 21:04] bangerth opened #917 "UpdateFlags defines update_support_points but they are not used"
This makes no sense. We should just remove the flag to avoid confusion.

[2015-05-12 13:22] bangerth opened #928 "step-42 uses unusual formulas"
Specifically, we say `\sigma \cdot n` in a couple of places, as pointed out also in the review of the paper. Fix this in the same way as was done in the paper.

[2015-05-14 10:53] luca-heltai commented on #862
I've asked Andrea to provide a PR with a fix to this. PR is coming.

L.

[2015-05-14 22:19] #862 closed

[2015-05-16 21:19] QiaoLei-88 opened #938 "unused-function warning in lac/matrix_out.h"
/Users/qiaol/devel/dealii/include/deal.II/lac/matrix_out.h:227:14: warning: unused function 'get_element' [-Wunused-function]
/Users/qiaol/devel/dealii/include/deal.II/lac/matrix_out.h:240:14: warning: unused function 'get_element' [-Wunused-function]

[2015-05-17 16:49] bangerth commented on #938
Does the warning disappear if you make these functions `inline`? If so, feel free to submit a patch!

[2015-05-17 20:47] luca-heltai opened #941 "Possible race conditions with `MappingFEField`"
PR #935 addressed a race condition issue with a possibly not definitive fix. Local data should be moved inside InternalData.

[2015-05-18 21:29] QiaoLei-88 commented on #938
Closed by #939

[2015-05-18 21:29] #938 closed

[2015-05-20 10:51] #892 closed

[2015-05-21 03:53] QiaoLei-88 opened #948 "Max cell number limit may freeze grid refinement"
When cell number exceed the required max_n_cells, current mechanism in refine_and_coarsen_fixed_number will do no grid refinement and just coarsen some cells to
reach the cell number limit. Consequently, in next grid refinement very little number of cells, or even none, will be refined or coarsened. Thus the grid refinement is frozen.

This is quite problematic when the solution is not steady.

Th

[2015-05-21 23:30] bangerth opened #951 "ParameterHandler: no test for MultipleSelection"
There turns out to be no test for Patterns::MultipleSelection. Add this.

[2015-05-21 23:31] bangerth opened #952 "ParameterHandler: provide text and latex forms of the pattern"
When outputting the types of parameter arguments that are accepted by an object of a class derived from Patterns::Base, the `description()` function currently only outputs a machine-interpretable version that is hard on the eyes both in a .prm file and in a latex manual. Provide something better for this.

[2015-05-22 17:04] bangerth opened #955 "DataOutBase needs to learn different names for axes"
If you use DataOutStack, for example, the x- and y-axis typically represent things like "distance" and "time". Yet, the various output generators (most specifically the gnuplot generator) still label these axes as "x" and "y". We should come up with a way to name axes based on user needs.

[2015-05-23 16:36] QiaoLei-88 opened #956 "step-2 failed on my mac outside debugger"
Debug version of step-2 failed on my mac with error

An error occurred in line <712> of file </Users/qiaol/devel/dealii/include/deal.II/lac/dynamic_sparsity_pattern.h> in function
    size_type dealii::DynamicSparsityPatternIterators::Accessor::column() const
The violated condition was:
    current_row < sparsity_pattern->n_rows()
The name and call sequence of the exception was:
    ExcInternalErr

[2015-05-23 17:02] bangerth commented on #956
This may be yet another unintended consequence of a change I made a while back. I thought I fixed it in all places, though. Are you on the latest git version?

[2015-05-23 17:05] bangerth commented on #956
It would really help me if you could find out in which line in sparsity_tools.cc the problem happens, for example by printing debug strings at a number of places in that function.

[2015-05-23 17:08] QiaoLei-88 commented on #956
The oldest version I tried which has this error is 123e0e0606d748bdd7a0cb3d9bcf7cc8c899fa83.
I did found one that doesn't have this problem.

[2015-05-23 17:14] QiaoLei-88 commented on #956
The backtrace triggered by Assert is:

Stacktrace:
-----------
#0  2   libdeal_II.g.8.3.pre.dylib          0x00000001096304aa _ZNK6dealii31DynamicSparsityPatternIterators8Accessor6columnEv + 250: 2   libdeal_II.g.8.3.pre.dylib          0x00000001096304aa _ZNK6dealii31DynamicSparsityPatternIterators8Accessor6columnEv
#1  3   libdeal_II.g.8.3.pre.dylib          0x000000010a4e3200 _ZN6dealii13Sparsit

[2015-05-23 17:21] bangerth commented on #956
Right. What I need to know is which line in reorder_CuthillMcKee triggers this.

[2015-05-23 17:49] QiaoLei-88 commented on #956
Caught it.

The last voice of debug strings is

In the original code, it is the "round_dofs.push_back (j->column());" in line 253 triggered the Assert.
But, If I try to output something inside the for loop, the error disappeared.

[2015-05-23 18:03] QiaoLei-88 commented on #956
One more piece of information, The for loop failed at last step of the outer loop:

last_round_dofs.size() = 159
i  = 158

For this loop at line 250

        for (DynamicSparsityPattern::size_type i=0; i<last_round_dofs.size(); ++i)
          for (DynamicSparsityPattern::iterator j=sparsity.begin(last_round_dofs[i]);
               j<sparsity.end(last_round_dofs[i]); ++j)
            next_round_do

[2015-05-23 20:09] bangerth commented on #956
Can you say what the values of last_round_dofs are (the last few are the important ones) when it fails? E.g., is `last_round_dofs[158]` equal to 1023 and the size of the matrix is 1024? Or similar?

[2015-05-23 20:44] QiaoLei-88 commented on #956
last_round_dofs.size() = 159
i  = 158
last_round_dofs[158] =  1259
dof_handler.n_dofs() =  1260

Looks good

[2015-05-23 21:15] QiaoLei-88 commented on #956
Access to the last element at last i explicitly could trigger the Assert

i = 158
sparsity.end(last_round_dofs[i])->column()

[2015-05-23 21:33] QiaoLei-88 commented on #956
The for loop over run too much in the erroneous case.

The outer loop stopped at i=31 when it run successfully inside debugger.

[2015-05-23 21:35] QiaoLei-88 commented on #956
The while (true) loop stopped at the 14th time for both cases.

[2015-05-23 22:25] QiaoLei-88 commented on #956
The previous comment was wrong.
The correct version is:
The erroneous case stopped at 6th while loop, and the finished run also reached i=158 at the 6th while loop. Nothing wrong here.

[2015-05-23 22:33] bangerth commented on #956
Try whether this works:
[code]
If it does, please submit a pull request.

[2015-05-23 23:09] QiaoLei-88 commented on #956
This patch does't work.

Now I think the problem is not DynamicSparsityPattern::iterator run beyond boundary due to the failure of
'<' operator. It is the upper bound sparsity.end(last_round_dofs[i]) itself goes wrong.

Now I can trigger the Assert with a nop access to column()
sparsity.end(last_round_dofs[i])->column();
before the inner for loop when i=158.

[2015-05-23 23:31] QiaoLei-88 commented on #956
at dynamic_sparsity_pattern.h:711
   708 	  size_type
   709 	  Accessor::column() const
   710 	  {
-> 711 	    Assert (current_row < sparsity_pattern->n_rows(),
   712 	            ExcInternalError());
   713
   714 	    return *current_entry;
(lldb) p current_row
(unsigned int) $426 = 4294967295

That's it

[2015-05-24 00:16] bangerth commented on #956
But we should never call `sparsity.end(...)->column()` because the loop looks like
[code]
So `j` should never equal `sparsity.end(...)`. The fact that it apparently is is the problem, so I thought that the `operator<` is wrong. What happens if you replace the condition in the loop by
[code]
(note: `operator!=`)?

[2015-05-24 01:58] QiaoLei-88 commented on #956
Oops, I was stupid on the loop end.

Good news is operator != works.

[2015-05-24 04:43] QiaoLei-88 commented on #956
If I change your patch into

    // if both of them are past-the-end, then none is less than
    // the other
    if ((current_row >= sparsity_pattern->n_rows())
        &&
        (other.current_row >= sparsity_pattern->n_rows()))
      return false;

The the < operator also works. The ++ operator may turn this-> current_row into numbers::invalid_unsigned_int and fail the test 'current_row == spa

[2015-05-24 05:22] QiaoLei-88 commented on #956
However I have no idea to confirm this guess sine the abnormal behavior disappears when running with debugger.

[2015-05-24 17:19] bangerth commented on #956
By the way, this is just another incarnation of #889

[2015-05-26 16:33] jaustermann opened #958 "compile warning '-openmp-simd'"
I compiled dealii (version 8.2.1) with Intel 13.0.0.20120731 on platform Linux x86_64 and got a warning related to '-openmp-simd' for every CXX object that was built. This is an example:

[ 77%] Building CXX object source/fe/CMakeFiles/obj_fe.release.dir/fe_tools_interpolate.cc.o
icpc: command line warning #10122: overriding '-openmp-simd' with '-oCMakeFiles/obj_fe.release.dir/fe_tools_interpolate

[2015-05-27 06:49] bangerth commented on #956
Fixed by #957

[2015-05-27 06:49] #956 closed

[2015-05-27 23:14] bangerth opened #963 "Algorithms::Newton has assemble_threshold but treats it incorrectly"
Algorithms::Newton has a member assemble_threshold that upon construction is set to zero. Then, in line 125 of newton.templates.h, it has
[code]
i.e., it divides by zero. This of course is not overly useful.

This happens, for example, in the test algorithms/newton_01 where the threshold is never set to anything other than the zero default value.

[2015-05-28 16:01] bangerth commented on #963
Fixed by #970

[2015-05-28 16:01] #963 closed

[2015-05-28 19:02] guidokanschat commented on #948
If you set `max_n_cells`, I assume you want to limit the cells. Which means you cannot refine. The only possible improvement I see is, that if you coarsen some cells, you can replace them. Otherwise, do not set a limit. Do I get something wrong? If not, I suggest to close the issue.

[2015-05-29 01:43] QiaoLei-88 commented on #948
I agree. I found no perfect solution for this issue and closed the PR. I just forgot to close this issue.

[2015-05-29 01:43] #948 closed

[2015-05-29 06:06] tjhei opened #974 "update muparser to 2.2.4"
This will (hopefully) fix a parser problem we have in ASPECT involving four digit numbers as described in [1].

[1]: https://code.google.com/p/muparser/issues/detail?id=4

[2015-05-29 16:37] guidokanschat commented on #894
Check out the online documentation!

Close?

[2015-05-29 17:00] guidokanschat opened #976 "Pull request #943 has side effects"
Pull request #943 copies the matrix elements from one triangle to the other.

This is fine, if you only assemble Laplace matrices. If not, it has side effects, if the previous matrix was non-symmetric.

I am not sure, but I guess adding both into M(i,j) and M(j,i) inside the fitst loop would fix it. Not sure though it has the same saving.

[2015-05-29 17:53] bangerth commented on #894
Yes, looks good. What did you change to make this happen? Just upgrade doxygen?

[2015-05-29 17:53] #894 closed

[2015-05-29 18:04] bangerth commented on #976
Good point. Feel free to revert the original patch.

[2015-05-29 18:04] bangerth commented on #976
@davydden ?

[2015-05-29 18:11] davydden commented on #976
are there any user cases when one would like to add a local symmetric laplace matrix to the previous one which is not symmetric?
If this is indeed crucial, one could still split the loops into:
- adding to diagonal
- calculating upper triangle and adding to both upper and lower of the original matrix.
That would still be much faster than looping over all dofs.
I clearly see the difference in perfo

[2015-05-29 18:45] QiaoLei-88 opened #977 "No documentation on parameter starting_indices in function DoFRenumbering::Cuthill_McKee"
For now I have two questions on this parameter:
1. How many indices should I provide?
2. What will happen if specified starting index is not locally owned in parallel mode?

[2015-05-29 22:05] guidokanschat commented on #976
I use the local integrators to build my systems, adding several of them let's say, advection and diffusion.

[2015-05-29 22:16] #976 closed

[2015-05-29 22:27] guidokanschat commented on #894
Indeed. I also fixed the documentation of 8.2.1

[2015-05-29 22:31] guidokanschat commented on #892
Well, as long as you have only no-slip boundary conditions, it does not matter if you use the divergence of the gradient or of the strain tensor. But it's surely better with strain tensors.

[2015-05-29 22:56] guidokanschat commented on #917
I agree. If you need mapped support points, you can create a quadrature rule from the unit support points and map this.

[2015-05-29 23:15] bangerth commented on #917
Correct, and that is what we do everywhere anyway.

[2015-05-29 23:16] bangerth commented on #894
Nice, thank you!

[2015-06-01 16:45] Rombur commented on #958
You get this warning because the flag -openmp-simd was introduced with Intel 13.1 Thus, the flag is ignored. The code will run fine but some operations will not be vectorized.

[2015-06-01 16:55] bangerth commented on #958
Could we disable the flag for compilers that are older? A check such as this would probably do:
https://github.com/geodynamics/aspect/pull/516/files

[2015-06-01 17:45] tjhei commented on #958
It is better to do a compilation check vs. hard-coding compiler versions. We do check using CHECK_CXX_COMPILER_FLAG but it doesn't detect this warning. Maybe add a  CHECK_CXX_SOURCE_COMPILES with a regex?

[2015-06-01 18:37] bangerth commented on #958
That might work. We've had trouble in the past because some compilers just silently produce a warning but still return a zero error code. In any case, worth trying.

[2015-06-01 19:13] bangerth opened #984 "step-33 does not wrap solver"
step-33 uses the low-level, direct interface to AztecOO:

[code]

I think we should wrap this as everywhere else with our own classes from `TrilinosWrappers`.

[2015-06-01 20:26] QiaoLei-88 commented on #984
As mentioned in documentation,
"Aztec's internal preconditioner implementations are superior over the ones deal.II has wrapper classes to",
deal.II seems has no wrapper to domain decomposition preconditioner.

[2015-06-02 06:18] Rombur commented on #958
We could also just get ride of the flag for Intel compiler. I think that @tjhei added a flag that disables vectorization because we have some tests that fail because of it.

[2015-06-02 07:58] tjhei commented on #958
I thought openmp-simd works on intel 15? We can disable the check for <15, though. I just realized that the compiler warning mentioned above shows that the compiler confuses -openmp-simd with the -o option.

[2015-06-02 08:07] Rombur commented on #958
Right now we always use -no-vec for the intel compiler. There is no check on the version.

[2015-06-02 20:30] #958 closed

[2015-06-03 10:20] rosskynch commented on #338
I just wanted to add to this issue: I am seeing a similar behaviour when using the mapping for an Eddy current problem on a conducting sphere in a background uniform field. I have an analytical solution for this problem, so capturing the spherical geometry is important to show full error convergence. However, as I increase the mapping degree, I see a stagnation in the error with p-refinement. The

[2015-06-03 13:06] rosskynch commented on #332
I have a fix for this issue, although I have not implemented much more than the basic element, i.e. there are no hanging nodes and so on.

You can see this here: https://github.com/rosskynch/new_fenedelec

I'm unsure of how exactly to add this to the library as it is essentially a very different way of handling the Nedelec element. I define a global edge/face ordering and must generate shape funct

[2015-06-04 19:56] Rombur opened #994 "Double check whether Trilinos's TrilinosConfig.cmake is really correct"
So I found this bug with Trilinos 12.0.1 but it probably exists in older version too. Basically the config file of Trilinos says that a package has been compiled but in reality it wasn't. Trilinos compiles without problem but cmake can't create a Makefile. The problem is that the cause of the bug is not obvious because cmake says that Trilinos was successfully set up.

Here is the error that I got

[2015-06-10 08:16] Rombur commented on #324
Compiling PETSc using  --with-batch=1 and --known-mpi-shared-libraries=0 should fix  the problem but I still need to try it.

[2015-06-10 08:34] Rombur commented on #324
Maybe we also need --with-shared-ld=ar

[2015-06-10 17:25] bangerth commented on #324
Fascinating -- I would have no idea what each of these options do. Do you know?

[2015-06-10 17:52] Rombur commented on #324
-with-batch=1  --known-mpi-shared-libraries=0 are needed for cross-compiling
--with-shared-ld=ar I don't know but I assume it's just make sure that we use ar instead of ld

[2015-06-11 07:44] agrayver commented on #324
I can confirm now that the deal.II + p4est + PETSc + SLEPc runs on Cray XC30 cluster and gives correct results.
for details see: https://groups.google.com/forum/#!topic/dealii/2rSdfcsgfbE

[2015-06-11 13:57] #303 closed

[2015-06-11 23:17] bangerth commented on #974
Fixed by #989.

[2015-06-11 23:17] #974 closed

[2015-06-12 02:35] bangerth commented on #977
The answers are:
1/ Your choice.
2/ So far, nothing good will happen. But #1001 changes that :-)

[2015-06-12 06:52] #977 closed

[2015-06-12 22:47] bangerth commented on #955
(Specifically, this relates to the explanatory text at the top of gnuplot output files.)

[2015-06-13 08:06] #928 closed

[2015-06-14 16:34] drwells opened #1005 "Test failures when compiling without zlib"
Here is an example of a `failing_diff` file:

[code]

Tests fail in other places because with zlib the output is in base64 and without it the output is unencoded.

[2015-06-14 17:01] bangerth commented on #1005
These tests should then only be run if zlib was found, by adding the appropriate selector to the name of the output file. Do you have a list of tests for which this is relevant?

[2015-06-14 17:22] drwells commented on #1005
I generated this list yesterday while working on something else so it may be missing some entries (I will double check). These tests pass when I compile with zlib and fail when I compile without zlib:

[code]

These tests fail either way (and I think that is because I am using opencascade 6.9 (so issues unrelated to this one), but I did not investigate):
[code]

[2015-06-14 20:25] bangerth commented on #1005
Hm, some of these clearly do need libz, and I have marked those as such in #1007. Some others I'm not quite sure. For example, `opencascade/plane_intersection` and `opencascade/arclength_boundary` don't seem to put anything compressed into their output files. The same is true for `bits/max_n_cells_0{1,2}` and `hp/hp_constraints_dgq` as well as `fe/mapping_fe_field_01`. Any insight why they would f

[2015-06-15 12:03] drwells commented on #1005
I just reran those tests and they currently fail for both my no-libz and plain copies, so I probably did something wrong yesterday when compiling that list.

[2015-06-15 12:30] bangerth commented on #1005
OK, so is this issue fixed then?

[2015-06-15 14:38] bangerth opened #1013 "Cylinder mesh should not have nonstandard face orientation"
The mesh for the cylinder is an extruded 2d mesh, so it should not have nonstandard face orientations. But it does, as shown by #1009. A separate testcase comes from @rosskynch and is copied below.

[code]

[2015-06-15 16:30] drwells commented on #1005
Yes.

[2015-06-15 16:30] #1005 closed

[2015-06-15 17:05] bangerth opened #1015 "#987 (VectorTools::interpolate) broke tests/hp/hp_constraints_dgq."
#987 broke tests/hp/hp_constraints_dgq. The proximal cause is that in this code
[code]
interpolant_1 comes out as a zero vector when it should be something different. I believe that the element we are testing at the time of the failure is FE_DGQ(0) in 1d.

[2015-06-15 18:52] #1015 closed

[2015-06-15 21:38] bangerth opened #1017 "fe/mapping_fe_field_01 test fails"
This test currently fails with this assertion:
[code]

For as far back as I have records, this test seems to have always failed.

@mtezzele and @luca-heltai : Does this test work for you?

[2015-06-16 10:09] luca-heltai commented on #1017
No. If you recall the discussion, this was a bug we discovered, but didn't have the time to fix. The output of the test is the one which is expected, but we don't have a fix yet. @mtezzele  is working on it.

[2015-06-16 16:36] bangerth opened #1022 "Bug in 3d GridReordering"
3d grid reordering may not find a face- and edge-consistent ordering, but it should at least produce a vertex (re-)ordering for each cell that is a valid permutation and rotation of its input. Here is a testcase where this fails.

Apply the following patch:
[code]
Then run `grid/extrude_orientation_02.debug` which produces an exception in `create_triangulation`. Looking at the place where this hap

[2015-06-16 16:40] bangerth commented on #1013
After roughly 6 hours of debugging, I have come to conclude that even for extruded meshes, it is not always possible to find both a consistent face and edge orientation. There are simple examples of just 3 2d cells touching in one point that when extruded can either produce a consistent face orientation or a consistent edge orientation, but not both.

Who knew. This shatters a belief of mine that

[2015-06-16 16:41] #1013 closed

[2015-06-16 16:46] bangerth commented on #1022
![2015-06-16-114631](https://cloud.githubusercontent.com/assets/7504421/8188710/15cdd174-141d-11e5-9caa-c93ca61a8a42.jpg)

This is the vertex ordering of the bottom 8 vertices (arranged as the coarse mesh of the circle). The top 8 vertices are simply at the same location shifted one unit up and with indices 8 larger. As can be seen, the center cell has vertices `2,3,4,5 -- 10,11,12,13`. No reasona

[2015-06-16 16:53] bangerth commented on #1013
![2015-06-16-115011](https://cloud.githubusercontent.com/assets/7504421/8188797/96056ca8-141d-11e5-866d-d335a54681c4.jpg)

Here is the proof. Left is a top-down view on 3 cubes that result from extruding 3 quadrilaterals. Arrows present a consistent face orientation (into the cell on one side, out of the cell on the opposite). The origin of the cell then needs to lie at the vertex where two inflow

[2015-06-16 17:42] rosskynch commented on #1013
Have quickly tried the other 7 orientations and come to the same conclusion. Thanks for spending the time on this!

[2015-06-20 09:34] luca-heltai opened #1029 "Too many deprecation in TrilinosWrappers."
`LinearOperator`s require that an object which only knows a matrix be able to generate temporary vectors which are consistent with the matrix parallel structure.

This used to work fine, but now

`Trilinos::MPI::Vector::reinit(const Epetra_Map &parallel_partitioning, bool fast)`

and many more like this have been deprecated.

Since the alternatives require user input (i.e., for the moment our Tril

[2015-06-20 11:30] bangerth commented on #1029
On 06/20/2015 04:34 AM, Luca Heltai wrote:

Or make these functions return an IndexSet. That's an incompatible change, but
IndexSet has the ability to convert to Epetra_Map.

The idea of these deprecations was that we wanted to get rid of using Epetra
data types in our public interfaces. We cannot be compatible between the PETSc
and Trilinos wrappers if we use the internal classes of these librari

[2015-06-20 11:36] luca-heltai commented on #1029
Yes, I understand the concern, and I agree with it. I don't mind about what solution we choose...

Or we could just deprecate those and introduce

[code]

for all our matrices types.

[2015-06-21 16:15] bangerth commented on #1029
These names do not reflect that it is about the subdivision of elements onto processors. Maybe
[code]
or
[code]
? I think I like these last ones best, also because the prefix is a good way to have them grouped mentally.

On a separate note, aren't the last two of these duplicative of the first two? The documentation doesn't seem to make a difference, so I'd suggest to only use the `row` and `colum

[2015-06-21 16:16] bangerth commented on #1029
Oh, on second look, the row/range are the same but the documentation says that the col/domain are not the same.

I think we don't actually care how exactly the matrix is partitioned. What we care about is what the vectors we multiply by and into are partitioned. So I would suggest only having functions for range and domain partitioning, in contrast to my previous comment.

[2015-06-23 08:14] Rombur opened #1034 "Tests failing when using Intel 15"
We have more than 6000 tests failing using Intel 15 compiler due to this pull request: #1027

[2015-06-23 15:14] davydden opened #1035 "Table<2,T>::reinit(TableIndices<2>) does not work"
subj due to a compiling error:
[code]

here's a short example:
[code]

[2015-06-23 15:20] bangerth commented on #1035
What needs to be done is add a
[code]
to the `Table<2,T>` class, e.g., around line 868 of `table.h`. Can you try this?

[2015-06-23 15:59] davydden commented on #1035
it worked, do you want a PR with a unit test?

[2015-06-23 16:06] bangerth commented on #1035
Yes, please.

I'm tempted to say that we should make the same change in the other `Table<*>` classes, but I'm not going to require you to do it.

[2015-06-23 17:48] davydden commented on #1035
it does work for `Table<3,T>`, so perhaps it's not needed elsewhere

[2015-06-23 18:16] #1035 closed

[2015-06-25 14:32] bavier opened #1041 "source/distributed/tria.cc does not follow API for p*est_connectivity_load"
source/distributed/tria.cc uses `long unsigned int` as the second argument for the p*est_connectivity_load routines for versions after 0.3.4.3, while the actual declaration in the p4est header uses `size_t`.

This leads to build failures on 32-bit/i686 architectures, where `long unsigned int` and `size_t` are incompatible.

[2015-06-25 15:12] bangerth commented on #1041
Are you using the current development sources or the 8.2 release? I think I fixed this a while back.

[2015-06-25 15:34] bavier commented on #1041
Yes, I'm using the 8.2.1 release.  My apologies for not checking the development source first.  Thanks for pointing out the fix; I see it's in f764598c.

[2015-06-25 15:47] bangerth commented on #1041
Already fixed by #749.

[2015-06-25 15:47] #1041 closed

[2015-06-25 19:56] bangerth commented on #1013
I am no longer certain that we really want the origin to be in the place where three inbound faces come together. I suppose this is how deal.II currently handles it, but the case is really so underspecified that it is hard to tell what is correct and what is not. Someone really needs to write up what the intent is.

[2015-06-26 19:44] bangerth commented on #1034
Example: http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=9364

A randomly chosen one has these failures:
[code]

[2015-06-26 21:24] bangerth opened #1043 "Make docs of DoFTools::make_sparsity_pattern clearer"
There was a recent thread on the mailing list about how `DoFTools::make_sparsity_pattern` works, and the upshot was the the poster thought that it operates on the blocks of a block matrix (i.e., on global DoF indices) when of course it really operates on the *vector components* of the solution field. Indeed, that is not clearly described there: https://www.dealii.org/8.2.0/doxygen/deal.II/group__c

[2015-06-28 11:15] guidokanschat commented on #1013
The theorem you proved could have two forms:

1. The way we currently define orientations, such a thing is impossible

2. There is no way to define local face and edge numbering with orientation, such that the extruded mesh you used can be consistently oriented

Which one do you think is true?

[2015-06-28 18:41] guidokanschat opened #1046 "DEAL_II_COMPILER_HAS_DIAGNOSTIC_PRAGMA is set with clang 3.4"
DEAL_II_COMPILER_HAS_DIAGNOSTIC_PRAGMA is set with clang 3.4 and causes tons of warnings.

Switching it off by hand in the build directory let's clang compile without complaints.

It seems like it should not be on with clang 3.4

[2015-06-28 22:01] bangerth commented on #1013
Part 1 is true: with our current definitions, no orientation is possible for the cylinder mesh.

Part 2, somewhat: I can come up with face orientations for which the cylinder mesh is orientable. The way this works goes like this: on each face, consider the restriction of the cell's xyz-coordinate system to that face; that gives you a local xi-eta coordinate system where xi is the first of the rest

[2015-06-28 23:14] luca-heltai opened #1049 "CXX11 and CXX14 detection don't work any more on Apple clang."
Setting them on manually using cmake `-DDEAL_II_WITH_CXX11=TRUE -DDEAL_II_WITH_CXX14=TRUE ` works, but autodetection is now broken.

[2015-06-29 21:44] bangerth opened #1058 "QGaussLogR does invalid math"
This is another issue uncovered by #965:

`QGaussLogR` has this code:
[code]
The assertion correctly filters out the case where we apply the log to a zero argument. But, in `tests/codim_one/integrate_log_2`, we end up with a case where `origin[0]=0`, `quadrature_points[i][0]==alpha`, and consequently `log` is applied to 1.0 as argument, yielding zero. This then ends up dividing by zero.

I don't u

[2015-06-30 08:19] davydden commented on #1049
as far as i can tell, the auto-detection for CXX14 is still broken, whereas CXX11 works fine for me on the current HEAD with 'Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)'

[2015-06-30 11:48] drwells commented on #1049
That is surprising (and disturbing) to hear since things seem fine on my mac with `clang-600.0.56` (it detects `-std=c++1y` without problems). If you have time, could you please post (or send me) both your CMake version and the complete output from CMake?

[2015-06-30 11:58] davydden commented on #1049
nevermind, my bad. The wrong value was cached, when I did a clean cmake init, it all worked good and picked up CXX14 nicely!

[2015-06-30 12:13] drwells commented on #1049
That is a relief to hear.

[2015-06-30 22:20] bangerth commented on #1034
Tests are back to normal.

[2015-06-30 22:20] #1034 closed

[2015-06-30 22:24] bangerth opened #1064 "bits/max_n_cells_01/02 are failing"
For the past several weeks, bits/max_n_cells_01/02 have been failing on all platforms. I suspect that this may have something to do with @QiaoLei-88 's patch in #979 but didn't pay attention at the time whether the tests really started failing back then.

@QiaoLei-88 is going to take a look.

[2015-07-01 04:43] bangerth commented on #1064
Excellent, #1066 fixed it indeed. Thanks very much, @QiaoLei-88 !

[2015-07-01 04:43] #1064 closed

[2015-07-01 04:56] QiaoLei-88 commented on #1064
You are welcome. I just fixed what I have broken :-]

But how do know it is fixed. The dashboard is still not updated.

[2015-07-01 05:10] bangerth commented on #1064
I ran it on one of our workstations. The test works again correctly. The dashboard should also be updated in an hour or two (I.e., tomorrow morning).

[2015-07-01 05:18] QiaoLei-88 commented on #1064
WoW, you are so impatient :-)
Actually I have run the test before I submit the PR.

[2015-07-01 10:48] bangerth commented on #1064
Don't you know yet?

As you should have! :-)

[2015-07-02 07:59] davydden opened #1069 "minor issues in PETScWrappers::MatrixBase::print() and write_ascii()"
1) alternative_output variable is not documented in print().
2) the link in write_ascii() got split into
`http://www.mcs.anl.gov/petsc/petsc-` and `current/docs/manualpages/Mat/MatView.html` and thus is broken.

[2015-07-09 13:20] tjhei opened #1095 "mac test failures"
We have a bunch of tests failing on the new mac tester. I would like to discuss how to fix them:

1. fixed with #1094 hopefully:
base/functions_12
flag base/number_traits_complex

2. because GridTools::distort_random works differently:
bits/refine_and_coarsen_for_active_cell_index_05
bits/rt_2
deal.II/distort_random
deal.II/nedelec_non_rect_2d
deal.II/nedelec_non_rect_face
fe/rt_normal_02
This is

[2015-07-09 13:42] bangerth commented on #1095
We only use mt19937 for parallel::distributed::Triangulation. Maybe its time
to change this.

The error message says that
[code]
I'm willing to believe that we need to increase the limit. The standard
suggests that compilers allow up to 1024 template instantiations, not just
128. Are you able to try with `-ftemplate-depth-1024`?

[2015-07-09 15:30] drwells commented on #1049
It looks like this has been resolved. Is there anything else needed so that this issue may be closed?

[2015-07-09 15:56] tjhei commented on #1095
okay, see #1097.

I don't have access to the machine. @guidokanschat can you please take a look?

[2015-07-09 18:19] tjhei opened #1098 "deal.II 8.3 planning"
we would like to finish the next deal.II release before the deal.II workshop in August. I thought we might collect references to other issues and PRs here.

List of open PRs:
 - ~~#1133 configuration fixes~~
 - ~~#1117 Slepc fixes~~ (postponed)
 - ~~#1090 periodicity~~
 - #1046 clang warnings
 - ~~#1123 ParameterHandler::MultipleSelection~~
 - ~~#1135~~

[2015-07-09 18:19] tjhei commented on #1098
@bangerth can you please do step -1? I am happy to take it from there.

[2015-07-11 05:44] davydden opened #1117 "SLEPc 3.6. requires to choose a linear solver in parallel run with ShiftInvert"
although deal.II compiles fine with PETSc/SLEPc 3.6, i don't think there is interface in SLEPc solvers / spectral transformation to choose a linear solver for `TransformationShiftInvert`.
That used to be a non-issue before 3.6, but now:
[code]

So everything that use SLPEc in parallel will fail unless something like `-st_ksp_type gmres -st_pc_type gamg -st_ksp_rtol 1e-12` is provided from the comm

[2015-07-11 10:57] bangerth opened #1119 "Reduce code duplication in Utilities::MPI::internal::all_reduce"
#1093 introduced a triplication of code in `Utilities::MPI::internal::all_reduce`. It should be relatively simple to avoid this by creating a fourth variant of that function that simply takes a pointer and a size argument, and letting the existing 3 functions call it.

I'll eventually get to this.

[2015-07-11 11:51] oneliefleft commented on #1117
Thanks for reporting this Denis.

This looks like a parallel specific problem; right? Does your code work on
a single processor?
We'll have to look into modifying the SLEPcWrappers (SpectralTransformtion
part) to deal with this - possibly we can hijack SolverControl for this.
I am downloading the latest PETSc/SLEPc combo right now... and will have a
play.

Although this looks like a SLEPc specific

[2015-07-11 15:15] guidokanschat commented on #1095
Will try with the next run: -ftemplate-depth=1024.

As for the distort random: I suggest to replace it by a reasonably odd mesh.

[2015-07-11 16:27] tjhei commented on #1095
Guido,

the distort_random is already fixed to be deterministic now.

It seems the mac tester didn't run the last 2-3 days. Can you check please?

[2015-07-11 16:33] davydden commented on #1117
yes, it is indeed a MPI specific problem, more precisely when MPI matrices are used. To my understanding the reason is that by default SLEPc uses direct serial solver in ShiftAndInvert, and that is not good for parallel runs. Since `3.6` PETSc aborts such attempts.

I would say we need to provide an extra argument to either constructor of `TransformationShiftInvert` or via a function in `Transform

[2015-07-11 17:02] oneliefleft commented on #1117
That is what it looks like to me too.

Yes and no. We should think about this a little. Yes, it would be nice to
reuse parts of the existing PETScWrappers though I do not think we need
access to private functions... (do we?) However, most of the auxiliary
functionality in SLEPcWrappers work by set_XXX () functions. Maybe we could
get away with a set_spectral_transformation_solver (something, somet

[2015-07-11 18:08] davydden commented on #1117
makes sense.

i quickly looked through `SLEPc` documentation, so possible areas of linear solvers are
1) spectral transformations:
`-st_ksp_type preonly -st_pc_type lu -st_pc_factor_mat_solver_package mumps`
`-st_ksp_type preonly -st_pc_type lu -st_pc_factor_mat_solver_package superlu_dist`
the first one effectively mimics `PETScWrappers::SparseDirectMUMPS`.

`-st_ksp_type gmres -st_pc_type bjacob

[2015-07-12 20:09] tjhei commented on #951
see #1123

[2015-07-12 20:29] tjhei commented on #1095
Okay, it looks like we are down to the template-depth related errors. Yay! :+1:

[2015-07-12 20:32] tjhei commented on #1098
Thanks.

Things we should wait for: https://github.com/dealii/dealii/issues/1117

Anything else that really needs to go in?

[2015-07-12 20:41] tamiko commented on #1098
What about #1090 ?

[2015-07-12 22:35] tjhei commented on #1098
@kronbichler what is the latest Trilinos version that we know works?

[2015-07-12 22:53] tjhei commented on #1046
We have changed a couple of things. What is the status of this, Guido?

[2015-07-13 06:48] kronbichler commented on #1098
I've been working with 11.15 and 12.1 (developer versions), so I think that all of 11.12, 11.14 and 12.0 should be fine. I've not tested the issue with trilinos_sparsity_pattern.cc (regarding the non-local entries) yet so I would not include it in the release. My recent test results with Trilinos 11.15 show the following data:
http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=9987
(There

[2015-07-13 09:55] oneliefleft commented on #1117
Now this reminds me of some experimental code I wrote a long time ago with
Eloy from SLEPc exactly for the Solver::GeneralizedDavidson (never got
round to putting it into the subversion though). Eigensolvers are easy. We
pass the dealii::PETScWrappers::SolverXXX and dealii::SolverData types in
as AdditionalData which is activated in the SLEPcWrappers::solve routines
by some additional functions, s

[2015-07-13 11:18] davydden commented on #1117
i don't quite understand yet why would you pass both `dealii::PETScWrappers::SolverXXX` and `dealii::SolverData`, as the latter is actually an attribute of `dealii::PETScWrappers::SolverBase`? If you could pull-out that chunk of code and set up a pull-request, it would be easier to discuss.

Some spectral transformation already have `AdditionalData`, so I guess then we just need to add two additio

[2015-07-13 13:09] tjhei commented on #1098
Can you please explain what this is about?

does this patch https://github.com/tjhei/dealii/commit/9ef7ea0965f2e991069dcf0829981d98a37a69c1  look okay to you?

[2015-07-13 13:11] tjhei commented on #1049
@luca-heltai ?

[2015-07-13 15:08] kronbichler commented on #1098
This is an internal remark that we put to the code at some point because we want to use advanced features of the Epetra_FECrsGraph (to avoid re-allocating memory and make assembly with MPI thread-safe for the non-local part of the matrix that is going to be exported to other processors). I will re-evaluate this after the release to be on the safe side.

Yes, this looks good to me.

[2015-07-13 15:14] Rombur commented on #1098
The patch looks fine. I have been using Trilinos 12.0 and 12.1 and it is working fine.

[2015-07-13 15:36] bangerth commented on #745
I've looked through this thread again and it seems that we all agree that the
original proposal is probably going in the right direction. In particular,
this would include:

1/ Creating a mental model in which there are two kinds of vectors
- a kind (called GhostedVector) that (i) stores a subset of all elements,
   (ii) allows element access, (iii) knows nothing about similar objects on
   other

[2015-07-13 17:07] masterleinad opened #1128 "Enable periodicity_03.cc when p4est 1.2 is released"
The test periodicity_03.cc relies on a fix in p4est 1.1. Due to the fact that there is no release in which this is fixed, this test is disabled.
Add the output files when there is a new p4est release.

[2015-07-13 17:33] bangerth commented on #1128
For reference, the test was added through #1090.

[2015-07-13 17:54] tjhei commented on #1117
Do you guys think you can work it out for the 8.3 release (in the next couple of days)? Note that we don't have any parallel slepc tests in our testsuite (and basically no other slepc tests for that matter):
[code]
That is also something we should work on!

[2015-07-13 19:01] oneliefleft commented on #1117
Sorry, I doubt it is possible. I expect in the next couple of weeks. At
least, I can not do much on this for a few days, though I am eager to make
it happen.

Absolutely right! Not enough SLEPc tests in general. :-)

[2015-07-13 19:54] tjhei commented on #1117
Okay, what do you suggest we do: recommend an older version, just ignore the issue altogether?

[2015-07-13 19:56] davydden commented on #1117
one does not need to recommend an older version. As long as a user choose linear solver from the command line (e.g. `-st_ksp_type gmres -st_pc_type bjacobi -st_ksp_rtol 1e-9`), it's all good. It just there is not mechanism yet to do it within the deal.II.

[2015-07-13 20:01] davydden commented on #1117
and this applies to MPI matrices only as SLEPc's default direct lu is good for serial matrices.

[2015-07-13 20:14] oneliefleft commented on #1117
one does not need to recommend an older version. As long as a user choose

Exactly right. Command-line options always work with PETSc and SLEPc. It is
just that we do not have a happy user-friendly interface to do it deal.II
style. We will make this work in due course. That, I can promise.

@timo My recommendation is to quietly ignore this issue on the next
release, though I would like to build up

[2015-07-13 21:31] tjhei commented on #1117
Sure. ;-)

[2015-07-14 13:03] #1049 closed

[2015-07-14 13:15] tjhei commented on #1098
I think after #1133 we should be able to create the release branch. If I don't hear objections, I will go ahead with it later today.

[2015-07-14 13:24] tamiko commented on #1098
@tjhei I restart simserv04 to test the latest version. I suggest we wait for the run to finish before we branch.

So far, I had no time to
 - reenable icc tests on simserv04
 - update to trilinos 12.0.1 on simserv04

[2015-07-14 16:58] tjhei opened #1134 "clang 3.6 + libc++ compilation error"
installed from ubuntu packages, configured with "-stdlib=libc++":
[code]

This seems to be related: https://llvm.org/bugs/show_bug.cgi?id=20084

What do we do, disable cxx11 if we detect the bug?

[2015-07-14 18:01] tjhei commented on #1134
minimal failing test
[code]

[2015-07-14 20:35] tjhei commented on #1098
I just created the release branch, please go ahead and start testing.

[2015-07-14 20:47] tjhei commented on #1098
(and we are at step 9/10)

[2015-07-14 22:29] tamiko commented on #1134
Sounds good.

[2015-07-14 22:29] #1134 closed

[2015-07-14 22:51] tamiko opened #1138 "fe/mapping_fe_field_real_to_unit_b2_mask failing"
What about this one test that keeps failing on all testing sites? [1]

[1] http://cdash.kyomu.43-1.org/testDetails.php?test=16722329&build=10086

[2015-07-14 23:14] bangerth commented on #1134
This was fixed by #1135.

[2015-07-14 23:17] bangerth commented on #1138
This is discussed in #1025 and is related to #1017. I'm going to close the latter since the synopsis is of that one is now wrong. @luca-heltai and @mtezzele promised a fix.

[2015-07-14 23:18] bangerth commented on #1017
Superseded by #1138. See also #1025.

[2015-07-14 23:18] #1017 closed

[2015-07-14 23:52] bangerth opened #1139 "Get statistics about timing sections across different processors"
Scalability to large numbers of processors is disproportionately affected by processors that have _more_ work than the average, as they keep on hold a potentially very large number of other processors while they finish up their work.
#1131 now provides a facility where we can rebalance a mesh if it turns out that some processors repeatedly have more work to do than others. We could use this to mak

[2015-07-15 01:35] tjhei commented on #1138
I looked into it for a few minutes:
The case that fails tries to interpolate from a given FESystemto a FE_Q with different number of components and shape functions using a square interpolation matrix (that needs to be inverted). That won't work of course.

[2015-07-15 07:05] luca-heltai commented on #1138
I think the issue is the following: interpolation using an *interpolation matrix* do require to invert what in Lagrangian FE is always the Identity Matrix.

@mtezzele , if we want this to work, we should extract a square matrix corresponding to the masked dofs, invert that, and then copy it back to the rectangular interpolation matrix, with the other dofs set to zero.

[2015-07-15 08:00] kronbichler commented on #1139
I like the idea. However, I would not expect too much in terms of revealing all imbalance bottlenecks (FWIR about the timer structure in ASPECT). The reason is communication that is done in different phases.

I did a detailed check for the analysis of one of my programs with a solver similar to the Stokes solver in ASPECT/step-32. The solver uses the following blocks:
- Matrix-vector product
- App

[2015-07-15 14:13] tjhei commented on #1139
A lightweight tool to instrument MPI calls is IPM (http://ipm-hpc.sourceforge.net/), which I used successfully a couple years ago. It was the only one I tried that did not introduce significant overhead (tau, vampir, ...).  The load balance info (memory, flops, timings, communication) might be interesting, see http://ipm-hpc.sourceforge.net/examples/ex3/ for an example.

I just saw that you can ad

[2015-07-15 14:37] bangerth commented on #1139
@kronbichler : Yes, I believe that it's hard to see any differences if there are synchronization points somewhere in the timed code. I think your example shows that at least in that code, there are no obvious things that can be addressed.

[2015-07-15 14:38] bangerth commented on #311
This is addressed by #1131 .

[2015-07-15 14:49] tjhei commented on #1095
@guidokanschat You can remove the -ftemplate-depth switch because #1133 does this automatically now.

Closing this issue because tests are working well now.

[2015-07-15 14:49] #1095 closed

[2015-07-15 15:09] tjhei commented on #1098
step 11 is done. Tasks right now:
- write announce-8.3
- write release paper
- 10/ Test the branch thoroughly

[2015-07-15 20:27] bangerth commented on #1098
I wrote most of the announcement. @tamiko and @luca-heltai: can you please add a sentence about the linear operators?

I made a start with the release paper but am hampered that the file can't be compiled with latex right now because it relies on the ansarticle and anslisting style files. Can someone add those to the directory?

[2015-07-15 21:38] tjhei commented on #1098
Thanks, @bangerth . I added the ANS files.

[2015-07-15 21:40] tjhei commented on #1098
Did you go through the changelog to find if there are any other features worth mentioning (beside what you already have in the announcement?)?

[2015-07-15 21:52] bangerth commented on #1098
@tjhei : Yes. Only the linear operator stuff I asked @tamiko  and @luca-heltai about.

Thanks for the style files. ansarticle.sty required a bunch of 'algorithm' packages that aren't on my system. They don't seem to be necessary, so I just commented out the line.

[2015-07-15 21:55] bangerth commented on #1098
Now we only need to write the release paper. There isn't likely going to be very much to write about, but I'd appreciate if someone could take a stab.

[2015-07-15 23:38] tamiko commented on #1098
@bangerth : I have it on my radar. I'll complete the announcement this evening

@tjhei : There seems nothing left to do so far - what about a first release candidate?

[2015-07-16 01:51] tjhei commented on #1098
I will do an RC tomorrow, but there is some weird stuff happening with Intel 15 on my machine: http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=10165

[2015-07-16 01:55] tjhei commented on #1098
@tamiko do you want to take a look at the LinearOperator stuff on Intel?

[2015-07-16 02:08] tamiko commented on #1098
Am 15. Jul 2015, 20:51 schrieb Timo Heister <notifications@github.com>:

*ugh*

It seems that intel is not quite happy with what everybody else
understands as standard conformant C++11.

I'll have a look at it.

Let's not postpone the release candidate - we can merge a fix also after
rc1 is tagged.

[2015-07-16 02:11] tjhei commented on #1098
Yeah, no worries. I'll take ec1 tomorrow morning.

[2015-07-16 02:37] Rombur commented on #1139
What do you want to do with it? If you just want to profile the code after a run, you can use hpctoolkit (http://hpctoolkit.org/) I have used it last year. It's really easy to use (you don't need to modify your code), there is almost no overhead, and it can even tell you which function does not scale and how "far" from scalability you are. If you want to get the information during a run to rebalan

[2015-07-16 13:41] tjhei commented on #1098
Release tagged and all files added: https://github.com/dealii/dealii/releases/tag/v8.3.rc1

[2015-07-16 17:13] tamiko commented on #1098
@tjhei: So, the majority of the linear_operator test failures vanish with 15.0.3?

[2015-07-16 17:48] tjhei commented on #1098
Well, we had a ton of blocklinearoperator failures (now gone of course), but there is still  http://cdash.kyomu.43-1.org/testDetails.php?test=16831888&build=10165

[2015-07-16 18:02] tamiko commented on #1098
@tjhei Yes... I'm currently working on it. This seems to be an sfinae bug in intel-15.

[2015-07-16 18:06] tjhei commented on #1098
Well, I am trying to understand what the heck is happening here: http://cdash.kyomu.43-1.org/testDetails.php?test=16830069&build=10165
It looks like fe_values[extractor].divergence (i,q) is just wrong. Sadly I can not run in the debugger so I am stuck. If it stays as is, your test doesn't matter at all. Can we drop support for the intel compiler please? :-)

[2015-07-16 18:49] tjhei commented on #1098
Oh, and we should try gcc 5.2 clang 3.6.2 (both just released). @tamiko do you have a way to set them up? I am too lazy to compile compilers from source and I don't know about ubuntu binaries for gcc 5.2.

[2015-07-16 18:54] tamiko commented on #1098
Yes. I'll take care of this.

[2015-07-17 12:59] #311 closed

[2015-07-17 13:30] bangerth commented on #1139
Maybe when Rene is finally in Texas, I'll ask you to demonstrate its use for all who are interested. I would be interested in running it on a typical 3d case. I have no real idea what we will find but am curious.

[2015-07-17 19:56] tamiko commented on #1098
@tjhei: A testsuite run for clang-3.6.2 is under way on my laptop.

[2015-07-17 21:40] tjhei opened #1154 "intel bug"
I am investigating the weird bug in http://cdash.kyomu.43-1.org/testDetails.php?test=16888618&build=10183

It turns out
[code]
is returning [0,0] instead of [1,1] because the static variable ```table[3]``` in symmetric_tensor.h:1903 is not initialized correctly. It looks like an optimization bug (even though we are in debug mode with all optimizations turned off), because rearranging statements in

[2015-07-17 22:29] bangerth commented on #1154
Does it work if you make these local tables non-static? I suspect that in many cases that will yield code that is no worse (and in some actually better).

[2015-07-17 23:40] tamiko commented on #1098
@tjhei Results for clang 3.6.2 http://cdash.kyomu.43-1.org/buildSummary.php?buildid=10245

[2015-07-18 00:15] tjhei commented on #1098
Clang 3.6.2 is looking good. Thanks.

[2015-07-18 06:43] guidokanschat opened #1156 "Arpack interface broken and insufficient"
The class ArpackSolver is pretty much broken and does not utilize Arpack well. An easy fix does not seem possible until we know what Arpack does and what its options are. In #759, it was fixed at least so that it would output eigenvectors instead of Schur vectors. Here, I would like to start a list of requirements on the new interface.
- Allow for symmetric and nonsymmetric EVP as well as SVD. Cur

[2015-07-18 16:27] tjhei commented on #1154
Thanks for the good idea, seems to work! :-) It is probably related to the function being inlined in some branch and not inlined in another...

[2015-07-18 16:28] tjhei commented on #1154
See #1158

[2015-07-18 16:28] #1154 closed

[2015-07-18 18:01] tjhei commented on #1098
Any issues found so far?

[2015-07-18 18:05] tamiko commented on #1098
@tjhei not with clang 3.6.2 - I recompile part of my userland at the moment. As soon as this is finished, I'll fire up a test with gcc-5.2.0.

[2015-07-20 01:30] tamiko commented on #1098
@tjhei - gcc-5.2.0 looks pretty fine, too [1]. Ignore the serialization tests - those require an interface with std::string and fail due to incompatible ABIs.

[1] http://cdash.kyomu.43-1.org/buildSummary.php?buildid=10277

[2015-07-20 06:40] kronbichler commented on #1098
@tjhei @tamiko As listed in #1164, I also checked the pre-release version of clang-3.7. It looks very good and problems are only due to my aggressive FMA settings.

[2015-07-20 13:30] tjhei commented on #1098
Great. And intel 15 is finally happy too: http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=10268

[2015-07-21 08:19] kronbichler opened #1168 "#1155 breaks non-C++11 code"
If deal.II is compiled without C++11, the patch #1155 makes compilation fail (see http://cdash.kyomu.43-1.org/viewBuildError.php?buildid=10278). The reason is that the compiler does not seem to recognize `&FESystem<dim,spacedim>::template compute_fill_one_base<dim_1>` as first argument to boost::bind. @bangerth could you please take a look? I tried to fix it but error messages for boost::bind are

[2015-07-21 13:11] bangerth commented on #1168
Can you copy the entire error message here? From the text shown at cdash, namely
[code]
it looks to me that it can take the address just fine, and that there are corresponding functions `boost::bind`, just not ones with 12 arguments. It may be that for reasons of efficiency, they limited the number of arguments one can provide to `boost::bind` to ten, or so. But I'd like to see the entire error me

[2015-07-21 13:17] bangerth commented on #1168
Indeed, looking at the boost code, this is how it looks like. We do the same with `Threads::new_task` which is why I chose to package things up into a `std::function` first. What one needs to do is combine several of the arguments into one, e.g., using `std::pair` or `std_cxx11::tuple` and then unpack again in the called function.

Do you want to try, or should I see if I can come up with somethin

[2015-07-21 13:36] kronbichler commented on #1168
Good point. I can reduce the function arguments to 10 and try...

[2015-07-21 13:37] kronbichler commented on #1168
Give me an hour or two, must finish some other work first...

[2015-07-21 15:24] tjhei commented on #994
I don't think there is a way to intercept errors inside FIND_PACKAGE(). The problem is that finding the package succeeds (TRILINOS_FOUND is set). Right, @tamiko ?

[2015-07-21 15:32] tamiko commented on #994
@tjhei No - <code>FIND_PACKAGE()</code> just looks for a config file and includes it. Basically, we're completely out of control. Further, there is no way for introspection - you cannot ask cmake whether it encountered an error during configure so far...

[2015-07-21 15:37] tjhei commented on #994
That is annoying. The only thing I can think of for Trilinos would be to do a ```CHECK_CXX_SOURCE_RUNS``` if we think that might happen often enough. What do you say?

[2015-07-21 15:41] luca-heltai opened #1172 "8ef4ae56 introduces bug in CMake on MAC os X"
[code]

With the above commit, on Mac OS TBB is no longer functional and cmake fails with the following error:

[code]

[2015-07-21 15:46] #1168 closed

[2015-07-21 16:25] Rombur commented on #994
Can't we look at all the packages that are in TrilinosConfig.cmake and then set TRILINOS_FOUND only if we find the PackageConfig.cmake for every package in the list? If we don't find the package, we can just throw a message that package needs to be turned off when configuring Trilinos.

[2015-07-21 17:11] tjhei commented on #994
That would be possible (assuming they won't change their setup): Trilinos_PACKAGE_LIST contains a list of all packages. I have no idea what to check for in an individual package though. ${package}_LIBRARIES (even if empty)?

[2015-07-21 19:23] Rombur commented on #994
We can look in TrilinosConfig.cmake At the end of the file, there is the include of the configuration file of all the packages that are supposed to be installed. If the file doesn't exist then the package has not been installed.

[2015-07-22 10:57] l-korous opened #1175 "Problem with SparsityPattern::copy_from"
We are having a problem with this method on Windows (using MSVC). Here is the code including the export of entities (exports are available via the Dropbox link below), DoFHandler and Triangulation(= Agros2D::problem()->calculationMesh()) are exported to "doFHandler" and "triangulation" files respectively:

[code]

Constraints are left out, the issue appears without them as well as with.

Upon exec

[2015-07-22 12:28] tjhei commented on #1175
Can you post the compiler errors please?

[2015-07-22 12:36] l-korous commented on #1175
There are no compiler errors, sorry if this was not clear -> there is a runtime error (executing the last line). The error says iterators not compatible, and it comes from vector.h (from STL implementation).

[2015-07-22 12:43] tjhei commented on #1175
Well, can you post the exact error and stack trace then?

[2015-07-22 12:56] l-korous commented on #1175
I uploaded error and call stack to Dropbox (same link), I am afraid it will not be of much help though
(only one call - the one on the top of stack - is inside deal.ii, calls below are from our application, plus the error is not particularly verbose).

You can see the exact line where it fails (it is the #511 I sent a link to).

I sent the exported DoFHandler and Triangulation for potential replic

[2015-07-22 16:53] tjhei commented on #1175
It is not showing inline functions, sadly. I think I understand what is going on though. Can you try the following changes:
[code]

[2015-07-22 16:54] tjhei commented on #1175
If that doesn't work, please inspect the local variables (row, col_num, end_row and their members).

[2015-07-22 19:43] tjhei commented on #1175
see #1176.

[2015-07-22 20:39] l-korous commented on #1175
Thank you, this solves the problem.

[2015-07-22 21:07] #1175 closed

[2015-07-23 03:53] bangerth commented on #1046
@guidokanschat : Can you try again?

[2015-07-23 12:15] tjhei commented on #1172
I don't see how this commit is related to TBB though. Did you start from a clean build dir?

[2015-07-23 13:02] tjhei commented on #1098
maybe take over #1176 ?

[2015-07-23 13:23] tjhei commented on #1172
Oh, I think there is a
[code]
missing at https://github.com/dealii/dealii/commit/e02e450e8a647c685201dcdbffdd19226e30e4d5#diff-f0fedc8bd6b765acb1b0fcad9930539eR423

[2015-07-23 13:29] tjhei commented on #1172
see #1179 for a potential fix.

[2015-07-23 13:29] tjhei commented on #1098
and #1179...

[2015-07-23 13:41] tamiko commented on #1172
@luca-heltai Please verify and close.

[2015-07-23 17:26] luca-heltai commented on #1172
Verified. #1179 Fixed it.

[2015-07-23 17:26] #1172 closed

[2015-07-23 19:39] guidokanschat commented on #1046
I removed the -w option from the tests. But they are still running, so I do not want to restart

[2015-07-24 16:30] bangerth commented on #1098
Andrea Bonito ran into the problem fixed in #1180 (and a follow-up in #1188). It's a pretty self-contained issue. Would it be worth moving this to 8.3?