[2021-06-11 15:43] #2300 closed

[2021-06-11 15:45] drwells commented on #2252
Since the mass matrix needs to be real I believe its fine if we let the official answer be 'solve twice'.

[2021-06-11 15:45] #2252 closed

[2021-06-11 15:48] drwells commented on #2904
We have long since fixed this - in particular, the original code path has been deprecated.

[2021-06-11 15:48] #2904 closed

[2021-06-11 15:49] marcfehling commented on #12439
See also #5972.

[2021-06-11 15:52] drwells commented on #4871
I think we should just stick to block vectors as the official solution.

[2021-06-11 15:52] #4871 closed

[2021-06-11 15:53] drwells commented on #4962
This has long since been worked on and merged.

[2021-06-11 15:53] #4962 closed

[2021-06-11 15:54] drwells commented on #4537
I don't think we have ever managed to reproduce this. Since macOS changes substantially with each new release I don't believe this is still an issue.

[2021-06-11 15:54] #4537 closed

[2021-06-11 15:55] drwells commented on #2947
This is tracked in #1921.

[2021-06-11 15:55] #2947 closed

[2021-06-11 15:56] drwells commented on #3063
This hasn't been a high-priority item - I think its fine if we leave our answer as 'use PETSc for exporting'.

[2021-06-11 15:56] #3063 closed

[2021-06-11 15:59] drwells commented on #323
There doesn't seem to be much interest in this so lets close.

[2021-06-11 15:59] #323 closed, assigned to bangerth

[2021-06-11 16:01] drwells commented on #583
I'd prefer not to do this since it adds a rather complex amount of data that needs to be tracked in `create_triangulation`. Users should instead use the material id to track these things.

[2021-06-11 16:01] #583 closed

[2021-06-11 16:07] drwells commented on #3072
We have done most of these - I migrated the rest into a project.

[2021-06-11 16:07] #3072 closed

[2021-06-11 16:08] drwells commented on #1889
I don't think that this is still an issue - if it is we should reopen.

[2021-06-11 16:08] #1889 closed

[2021-06-11 16:09] drwells commented on #1946
We now support this.

[2021-06-11 16:09] #1946 closed

[2021-06-11 16:09] jppelteret opened #12444 "Investigate the Target Matrix Optimisation Paradigm for mesh improvement"
The TMOP (Target Matrix Optimisation Paradigm) is an alternative approach to mesh improvement that, it would appear, supersedes the approach implemented by MESQUITE. It has been adopted by MFEM (https://computing.llnl.gov/projects/ethos-enabling-technologies-high-order-simulations), and seems to be a more modern approach to this problem as:
- it looks to be more suitable when considering problems

[2021-06-11 16:10] drwells commented on #2268
I believe we finished implementing this at the 2019 workshop.

[2021-06-11 16:10] #2268 closed

[2021-06-11 16:11] drwells commented on #1338
This would be nice to have but we haven't made any progress in four years so lets close.

[2021-06-11 16:11] #1338 closed

[2021-06-11 16:11] drwells commented on #1325
It sounds like this is IDE-dependent - it's outside our control.

[2021-06-11 16:11] #1325 closed

[2021-06-11 16:12] drwells commented on #3312
This system is complex enough that I think we should keep all of the lists in one place.

[2021-06-11 16:12] #3312 closed

[2021-06-11 16:14] drwells commented on #2511
Our own linear algebra classes are generic enough that it's not that hard to switch between them (e.g., see step-40). I believe that should be the preferred solution instead of doing copies.

[2021-06-11 16:14] #2511 closed

[2021-06-11 16:15] drwells commented on #4363
If someone is interested in using PGI then they should take this over, but we have gone in a different direction with our CUDA wrappings.

[2021-06-11 16:15] #4363 closed

[2021-06-11 16:16] drwells commented on #4239
I think this has been fixed in newer versions of boost. If not we should reopen this issue.

[2021-06-11 16:16] #4239 closed

[2021-06-11 16:17] drwells commented on #4211
This is really something that needs to be tackled by the GUI itself, not us. We don't really have a good way to parse and store comments.

[2021-06-11 16:17] #4211 closed

[2021-06-11 16:18] drwells commented on #4169
The reality of the situation is that the shim works and should continue to work - if it ever breaks we'll know and we can fix this then.

[2021-06-11 16:18] #4169 closed

[2021-06-11 16:19] kronbichler commented on #1139
I think #9472 does this.

[2021-06-11 16:19] drwells commented on #5367
This is yet another issue related to `find_active_cell_around_point()` which is being tracked elsewhere.

[2021-06-11 16:19] #5367 closed

[2021-06-11 16:19] #1139 closed

[2021-06-11 16:20] drwells commented on #5045
We've made a lot of independent progress on SUNDIALS recently that is tracked elsewhere.

[2021-06-11 16:20] #5045 closed

[2021-06-11 16:20] drwells commented on #5042
We've made a lot of independent progress on SUNDIALS recently that is tracked elsewhere.

[2021-06-11 16:20] #5042 closed

[2021-06-11 16:20] drwells commented on #5027
We've made a lot of independent progress on SUNDIALS recently that is tracked elsewhere.

[2021-06-11 16:20] #5027 closed

[2021-06-11 16:21] kronbichler commented on #1894
While we might at some point use those the DataOutFaces or DataOutRotation with complex numbers, I don't think it helps to have an open issue. The main achievement has been made for a while already.

[2021-06-11 16:21] #1894 closed

[2021-06-11 16:24] #5972 closed

[2021-06-11 16:27] drwells commented on #5889
ultimately we only use this in internal places (like storing orientations) - since `unsigned char` is widely understood, we never print these things, and its portable we should stick with it unless someone is willing to rewrite these parts of the library.

[2021-06-11 16:27] #5889 closed

[2021-06-11 16:31] kronbichler commented on #2206
Checking the code, this will be solved by replacing
[code]
by
[code]
After tackling #12423 (this one is a manifestation that we should use the new variant without `MappingQ`), we should also make `curved_inner_cells` the default in the mapping in case we build more than one patch or in case the mapping defines `preserves_vertex_locations`.

[2021-06-11 16:31] #2206 closed

[2021-06-11 16:49] #6890 closed

[2021-06-11 16:49] drwells commented on #7005
@jppelteret Any chance you still have this code? This would be easy to add.

[2021-06-11 16:50] drwells commented on #7649
Users can construct this from `plate_with_a_hole` by deleting the cells they don't want, so lets close this unless someone wants to implement the specialized function.

[2021-06-11 16:50] #7649 closed

[2021-06-11 16:52] drwells commented on #1156
This would be good to have but lets close this for now - if anyone is interested we can pick it up again.

[2021-06-11 16:52] #1156 closed

[2021-06-11 17:04] drwells commented on #5986
We have since shortened the worst offenders so lets close.

[2021-06-11 17:04] #5986 closed

[2021-06-11 17:07] jppelteret commented on #7005
I'm just going to paste some unedited code here, and will look at adding it soon (whatever that means).
[code]

[2021-06-11 17:10] drwells commented on #9743
I think we addressed this well enough with `DEAL_II_DEPRECATED_EARLY`.

[2021-06-11 17:10] #9743 closed

[2021-06-11 17:11] drwells commented on #9577
We support compilers that don't have full constexpr support - the definition of the macro is essentially whatever constexpr stuff we want to use that our oldest compilers cannot handle.

[2021-06-11 17:11] #9577 closed

[2021-06-11 17:12] drwells commented on #9369
Has there been any progress on this?

[2021-06-11 17:13] drwells commented on #9123
While this is technically a problem, in practice we are yet to actually encounter this bug so we can't do anything. Lets close until one of us can actually reproduce this - until then there is nothing to do.

[2021-06-11 17:13] #9123 closed

[2021-06-11 17:14] drwells commented on #9153
I believe ECL is now mostly done - if not lets reopen this.

[2021-06-11 17:14] #9153 closed

[2021-06-11 17:17] drwells commented on #8755
We should have added a check for this, but since intel 20 compiles cleanly and no one managed to write a fix I don't think its worth going back and adding a check for this older compiler.

[2021-06-11 17:17] #8755 closed

[2021-06-11 17:18] drwells commented on #8003
I think we have made most of the progress that is possible to make on this with our current compiler support.

[2021-06-11 17:18] #8003 closed

[2021-06-11 17:19] drwells commented on #7963
This isn't a high-priority issue and the conversion is easy enough - lets close for now.

[2021-06-11 17:19] #7963 closed

[2021-06-11 17:19] drwells commented on #7888
We cannot reproduce without more information. Closing.

[2021-06-11 17:19] #7888 closed

[2021-06-11 17:20] drwells commented on #7536
I believe this has since been fixed (especially by #7583).

[2021-06-11 17:20] #7536 closed

[2021-06-11 17:23] drwells commented on #7093
We have since rewritten the binary representation of particles - lets close unless there is another report.

[2021-06-11 17:23] #7093 closed

[2021-06-11 17:26] drwells commented on #6886
There isn't really a next action associated with this - lets close unless someone is interested in implementing this.

[2021-06-11 17:26] #6886 closed

[2021-06-11 17:26] drwells commented on #6672
At this point anything that doesn't work with complex numbers should be a bug.

[2021-06-11 17:26] #6672 closed

[2021-06-11 17:28] drwells commented on #6724
This change complicates the macros quite a bit - lets keep the clang-tidy solution unless someone is willing to fix this.

[2021-06-11 17:28] #6724 closed

[2021-06-11 17:28] bangerth commented on #5889
We could use `std::uint8_t` in newer versions of C++. I forgot when that was introduced.

[2021-06-11 17:29] bangerth commented on #5889
Ah, should have just read the many comments about this above :-)

[2021-06-11 17:32] #3972 closed

[2021-06-11 17:35] drwells commented on #2209
This has mostly been solved with the introduction of `p::f::T`. I don't think `p::d::T` is conceptually the correct distributed triangulation class to use in this circumstance so lets close.

[2021-06-11 17:35] #2209 closed

[2021-06-11 17:36] drwells commented on #984
This would be nice to have but ultimately its not too bad to show that one can use Trilinos features directly.

[2021-06-11 17:36] #984 closed

[2021-06-11 17:37] bangerth commented on #6724
The easier way to do this might have been to just use `const decltype(typex) &`. No need for a `using` declaration.

Regardless, not worth anyone's effort :-)

[2021-06-11 18:03] dangars commented on #7963
Hi @drwells, thanks for closing this. I should I have closed it long time ago.

I realized that this could introduce bugs.

HDF5 compound types need to know to position in memory of the variable members. That is easy with `std::complex` because the position is fixed in the standard and that is not going to change.

The problem with `Point<dim>` is that if I write the conversion based on the curren

[2021-06-11 19:37] drwells commented on #2510
We can always view the PETSc objects from PETSc's own viewer code - lets leave that as the preferred solution.

[2021-06-11 19:38] drwells commented on #2334
Without a minimum working example there is nothing for us to do here. We can always reopen the issue if we have a clear bug report.

[2021-06-11 19:38] #2334 closed

[2021-06-11 20:06] #2969 closed

[2021-06-11 20:09] kronbichler commented on #10882
Fixed by #10883.

[2021-06-11 20:09] #10882 closed

[2021-06-11 20:16] drwells commented on #6750
There has not been any followup so lets close.

[2021-06-11 20:16] #6750 closed

[2021-06-11 20:18] bangerth commented on #2510
I agree. There is also `MatrixOut` to help.

[2021-06-11 20:18] #2510 closed

[2021-06-11 20:27] drwells commented on #7821
Do we still need to keep this open?

[2021-06-11 20:31] drwells commented on #7378
This would be a nice feature to have but ultimately I think Matthias' solution is the preferrable one since it is the simplest. We can reopen this later if people want to do more sophisticated things with iterators but its a bit of a niche application.

[2021-06-11 20:31] #7378 closed

[2021-06-11 20:33] #7821 closed

[2021-06-11 20:33] drwells commented on #7300
We've done a decent job getting rid of tbb-specific stuff recently so that we can switch to task flow or something else. Are people still interested in considering openMP? If not we should just migrate this discussion into the more general one on future threading.

[2021-06-11 20:35] drwells commented on #6847
There hasn't been any followup on this in a few years so demand is low - lets close the issue for now.

[2021-06-11 20:35] #6847 closed

[2021-06-11 20:36] drwells commented on #6219
We've gotten by this far without this and it's not an issue in high demand - lets close.

[2021-06-11 20:36] #6219 closed

[2021-06-11 20:39] drwells commented on #5219
This is a decent idea for a tutorial (or a tutorial extension). Rather than keep this and the other tutorial issues I migrated it over to

https://github.com/dealii/dealii/projects/22

[2021-06-11 20:39] #5219 closed

[2021-06-11 20:39] drwells commented on #5054
We have decent CI for doxygen warnings now so this isn't a big deal any more.

[2021-06-11 20:39] #5054 closed

[2021-06-11 22:13] bangerth commented on #7300
No, moving from TBB to TaskFlow will move us from homegrown solutions to C++ standards features which are also the basis for compilers' OpenMP implementations. There is no longer a reason to build on OpenMP given that we can do most of what we want with standard C++ and libraries built on it.

[2021-06-11 22:13] #7300 closed

[2021-06-12 05:54] kronbichler commented on #12336
I don't think we have a good idea immediately, and the release has happened, so I don't see how keeping this open would help us.

[2021-06-12 05:54] #12336 closed

[2021-06-12 06:00] kronbichler commented on #326
I don't think we have an immediate solution here as one would need to manually go through the code, which will only happen if someone intensively works with that code. On the other hand, I plan to work on a nodal variant of Nedelec spaces in #9545 in the near future where these things should be easier, so I'm closing this for now.

[2021-06-12 06:00] #326 closed

[2021-06-12 07:47] kronbichler commented on #9598
I don't think there is much left to do here and leave this issue open - can you verify @marcfehling ? In 3D, one should really not use sparse matrices for polynomial degrees `>= 3` because the coupling between unknowns is too dense, it only leads to disappointments. And regarding performance, even for p=2 one leaves a factor of 3-5 on the table against matrix-free methods.

[2021-06-12 07:51] kronbichler commented on #9099
Given the recent work also on #12408, I think we should aim to address/close this issue in one way or the other - I feel keeping it open invites someone to re-invent the wheels.

[2021-06-12 16:59] drwells commented on #11589
This was discussed in #11913 and we decided to keep the arrays. In particular, we serialize and unserialize the array, loop over it to do consistency checks, and directly index it (with indices calculated by p4est) - it's unlikely that a map is going to be a better choice.

[2021-06-12 16:59] #11589 closed

[2021-06-12 17:01] drwells commented on #11769
If we cannot reproduce the problem then there is nothing to do.

[2021-06-12 17:01] #11769 closed

[2021-06-12 17:06] drwells commented on #10400
We fixed these last year - see #10403.

[2021-06-12 17:06] #10400 closed

[2021-06-12 17:08] drwells commented on #10222
Do we remember which version of ICC this was? I am pretty sure we fixed this but I'd like to check.

[2021-06-12 17:12] drwells commented on #8744
This would be a cool feature but that page has a large number of caveats when it comes to building C++ libraries - I don't think we have the manpower to maintain something like this. I'm going to close this for now - we can reopen it if someone is explicitly interested in adding this functionality to compiler explorer.

[2021-06-12 17:12] #8744 closed

[2021-06-12 20:04] peterrum opened #12456 "Latex representation of the enumeration of the reference cells"
see: https://gist.github.com/peterrum/09924dbac0454f3e9afbd0fd2bb285fd

FYI @bangerth

[2021-06-13 20:33] #8653 closed

[2021-06-14 05:59] simonsticko opened #12458 "dealii.com certificate expired"
![image](https://user-images.githubusercontent.com/9609727/121845867-642ac100-cce6-11eb-96ee-b92dea594683.png)

[2021-06-14 06:46] jppelteret commented on #12458
Thanks for reporting this. We became aware of the problem yesterday and are in the process of updating the certificates.

[2021-06-14 11:42] simonsticko commented on #12458
Seems fixed, so closing this.

[2021-06-14 11:42] #12458 closed

[2021-06-15 11:15] jppelteret opened #12466 "Improve documentation of Trilinos LA support for linear operators"
As recently indicated on the mailing list (re. "Linear operators - TrilinosWrappers"), the documentation on how to use linear operators in conjunction with the Trilinos LA classes is a bit sparse. Perhaps its worth putting in a couple of examples, like what's below, to indicate what's important when setting them up.

From https://github.com/dealii/dealii/blob/master/tests/lac/schur_complement_04.c

[2021-06-18 01:41] tjhei commented on #12117
documentation is online, so I updated the website header.

[2021-06-18 02:04] tamiko commented on #12117
@tjhei In the mood of sending the announcement e-mail? :-)

[2021-06-18 02:25] tjhei commented on #12117
Not tonight. Trying to work on candi stuff...

[2021-06-18 07:00] #3756 closed

[2021-06-18 13:03] gfcas commented on #12102
May I ask: I consider multi-physical problems, where the solution has a jump over the interface. Therefore I use the comibantion FE_QxFE_Nothing and FE_NothingxFE_Q (according to step-46). At the interface the coupling is described by an nonlinear Neumann condition. So this would be a missing part for the matrix-free implementation of my problem right? In that case I would also be interested in fi

[2021-06-18 14:42] Rombur commented on #12102
Yes, you will hit the same problem. We need to decide how we should fix this. @kronbichler any preference? Should we ignore FE_Nothing faces in `internal::MatrixFreeFunctions::FaceInfo` or should we loop only on cells that do not use FE_Nothing.

[2021-06-18 18:42] bergbauer commented on #12102
I am also interested in this feature and thought about tackling it in the near future.

[2021-06-18 23:52] tckosvic opened #12474 "Compilation fails at link ld - "libpthread.so: error adding symbols: DSO missing from command line""
I am compiling download tar file from home page.  I am following install instructions explicitly.  Compilation fails at 87% at a ld command where DSO is said to be missing.  A code snippet is `below:

[code]

I have run make with -j8 and -j10 and gotten same error.  I will run with just 1 processor for an additional test.
If I need to add a library, I need to know what one and where to add it.

An

[2021-06-19 07:10] anuvyklack opened #12475 "LAPACKFullMatrix instantiation"
I have just compiled 9.3.0 and get the next error in my header file:
[code]
However, I have the file
[code]
with next lines in it:
[code]

[2021-06-19 07:24] anuvyklack commented on #12475
I fix this problem: you need to include the next header:
[code]
but not this one
[code]
how it written in [documentation](https://www.dealii.org/current/doxygen/deal.II/classLAPACKFullMatrix.html).

[2021-06-19 07:36] anuvyklack opened #12476 "No matching function LAPACKFullMatrix.end()"
I am trying to use [LAPACKFullMatrix::fill](https://www.dealii.org/current/doxygen/deal.II/classLAPACKFullMatrix.html#af7a94112bbb40331fa4de8f2b502af8b) method and get the next error:
[code]

[2021-06-19 10:08] peterrum commented on #12476
It seem that there is no function `LAPACKFullMatrix::end(int)` (needed here: https://github.com/dealii/dealii/blob/9f731344ce4ed0ac2cab7e3273da48db35050316/include/deal.II/lac/lapack_full_matrix.h#L1072-L1073). However, `FullMatrix` has such a function. We might need to specialize the function `LAPACKFullMatrix<number>::fill` for `LAPACKFullMatrix`. Do you want to give it a shot?

[2021-06-19 10:11] peterrum commented on #12475
What you describe is a known issue. Unfortunately, Doxygen picks up sometimes the wrong header files. I am not sure how one can fix this.

[2021-06-19 10:14] peterrum commented on #10474
I think we can close this issue?

[2021-06-19 16:48] sebproell opened #12477 "ParameterHandler::add_parameter fails for map<int,pair<int,int>> with custom separators"
I wanted to add a parameter of type `std::map<int, std::pair<int,int>>` with `ParameterHandler::add_parameter`. This works as long as I use the default separators. However, if I use (prettier) custom separators, the verfication of the default value fails. A subsequent read also fails. I added a test here: https://github.com/sebproell/dealii/blob/add-parameter-map-tuple/tests/parameter_handler/patt

[2021-06-19 20:02] anuvyklack commented on #12476
Could you explain how to do this? You mean, it is need to add explicit instantiation of `LAPACKFullMatrix<number>::fill()` with `LAPACKFullMatrix` as template parameter?

[2021-06-19 23:17] tckosvic commented on #12474
I got further but still link failure.  I ran with verbose=on to get more detailed info on linklibraries and link failure.  See below:

`[ 86%] Linking CXX executable ../bin/step-65.debug
cd /home/tom/dealii/build/examples && /usr/bin/cmake -E cmake_link_script CMakeFiles/step-65.debug.dir/link.txt --verbose=ON
/usr/bin/c++    -rdynamic -Wl,--as-needed -rdynamic -lpthread -ggdb CMakeFiles/step-65.d

[2021-06-22 19:36] tjhei opened #12490 "link failure OSX gcc 9 in step-66"
I am seeing the following with gcc on OSX:
[code]
We will need to investigate missing instantiations.

[2021-06-22 19:39] tjhei commented on #12490
see https://github.com/dealii/candi/runs/2879997322#step:5:4453

[2021-06-24 12:52] drwells opened #12494 "9.3.1 cherry-picking candidates"
We have gotten a few bug reports since the release that may be worth cherry-picking:

- [x] MPI underlinkage: handled in #12488
- [x] ExodusII should reorder elements: #12398 (#12519)
- [x] Segmentation faults in MappingQGeneric: #12468 (#12518)
- [x] Whatever fix makes both intel 19 and GCC 11 happy: WIP (#12507)
- [x] #12490
- [ ] #12474
- [x] #12506, done in #12510
- [x] #12505 done in #12509
-

[2021-06-24 12:55] drwells commented on #12475
I am not sure I understand the description of this issue. Is the library failing to compile?

[2021-06-24 14:53] masterleinad commented on #12475
Don't let `Doxygen` see any forward-declarations. :slightly_smiling_face:

[2021-06-24 16:09] drwells commented on #12474
I set up a suse virtual machine and I cannot reproduce this.

Would you please post the contents of `detailed.log` from the build directory here?

[2021-06-25 02:36] shahabgol opened #12496 "Problem in insert_global_particles"
There is a problem in insert_global_particles used in Lethe-DEM.
An extra particle is inserted at the center or corner of the triangulation (box). This is new and it did not happen using previous versions of deal.II.
So, I tried to find the commit after which this problem appears:
https://github.com/dealii/dealii/commit/870f097bc9ce582dd0a9e738990567256fc228d7
As insert_global_particles has three

[2021-06-25 02:54] blaisb commented on #12496
A first wild guess, but could it be because of the tolerance parameter that was introduced (https://github.com/dealii/dealii/commit/870f097bc9ce582dd0a9e738990567256fc228d7#diff-e5ceab61fa9d695e5ecb26f3c0b82e9b07ff73103ec6986fbb4c1da577203ee3R1013)
Could this lead to point duplication accross multiple cores?

[2021-06-25 12:22] blaisb commented on #12496
@shahabgol What I would suggest is that you make a very small executable that reproduces the case you encounter with just a call to insert_global_particles. This way it would be easier to help you identify what is the reason for what is happening. If it related to the tolerance, the solution might just be to pass an additional argument to insert_global_particles that includes the tolerance, if it

[2021-06-25 15:45] luca-heltai opened #12497 "Allow ParticleHandler to get cache at construction time, or to associated an already existing cache."
Often one has already a `GridTools::Cache` around. It should be possible to use an existing Cache, instead of creating a new one inside ParticleHandler.

This could be done by
- add a std::unique_ptr<GT::C> own_cache;
- add a SmartPointer<GT::C> cache;
- create own_cache in current constructors, point cache to own_cache, replace `cache.` by `cache->` in implementation
- create new constructor that

[2021-06-25 15:49] blaisb commented on #12496
After much investigation with @shahabgol and discussion with @peterrum. The issue is that insert_global_particles does not work correctly with the new distributed_compute_point_location when a particle lies **exactly** on a face. In this case, the insertion mechanism will try to insert two particles instead of one, because insert_global_particles assumes a unicity of the cell and this is not coher

[2021-06-25 17:23] luca-heltai opened #12500 "Discussion on FEInterfaceValues for AD"
In order to use FEInterfaceValues with AD, we still need to add some  interfaces to the extractors (similarly to what happens in `FEValuesViews` and, possibly, to ScratchData.

In particular, following FEValuesViews, we would need for each `FEInterfaceValuesViews`,

- `void get_function_* (const InputVector &fe_function, std::vector<solution_value_type<typename InputVector::value_type >> &values)

[2021-06-25 18:28] #605 closed

[2021-06-25 20:22] #12496 closed

[2021-06-25 21:01] tjhei commented on #12500
Alright, thank you. Help me understand one thing: we want to query function values (for example) at the given quadrature points. There are two values though (left and right). I don't see that reflected above. If you don't want to return two values in each point, you still need to decide if you want an average, jump, or upstream value.
Or am I missing something?

[2021-06-26 02:36] zjiaqi2018 commented on #12500
I guess we need averages, jumps, and upstream values. Can we get `FEFaveValues` from `FEInterfaceValues` and compute averages:
[code]

[2021-06-26 05:07] bangerth opened #12501 "Missing symbol in xSDK link"
As reported at https://github.com/xsdk-project/xsdk-issues/issues/144, we must be forgetting to explicitly instantiate the following symbol:
[code]
Does anyone see right away where that would have to be instantiated and where we are forgetting it?

[2021-06-26 05:08] bangerth commented on #12501
To be very specific, this is about `void MGLevelGlobalTransfer::copy_to_mg`.

@peterrum ?

[2021-06-26 07:45] peterrum commented on #12501
The implementation of that function is in the header:

https://github.com/dealii/dealii/blob/779a3a250fc869cf98e03e7689db775d0e7cf554/include/deal.II/multigrid/mg_transfer_global_coarsening.h#L471-L475

https://github.com/dealii/dealii/blob/779a3a250fc869cf98e03e7689db775d0e7cf554/include/deal.II/multigrid/mg_transfer_global_coarsening.h#L565-L586

Would it help to add a inline keyword?

[2021-06-26 12:14] tjhei commented on #12501
Duplicate of #12490?

[2021-06-26 12:17] peterrum commented on #12501
@tjhei Could you I ask to add an inline keyword. I don't have a way to reproduce this error.

[2021-06-26 16:09] tjhei commented on #12500
Yes, makes sense. Thank you.

[2021-06-26 18:09] zjiaqi2018 commented on #12500
Thanks, I will work on it.

[2021-06-26 22:44] marcfehling commented on #12494
There seems to be a compilation issue with `intel-18` as well, see https://github.com/xsdk-project/xsdk-issues/issues/148.
We should incorporate a fix for this in 9.3.1 as well.

[2021-06-27 01:27] tjhei opened #12507 "Intel 19.1 and 19.0 constexpr error"
9.3 and master fails with
[code]
As reported by @tamiko and @zjiaqi2018

@tamiko has narrowed it down to a single patch. Can you share?

[2021-06-27 01:29] tjhei commented on #12507
The problem is 6353b518b2b0918940c8776037f2c0610466d66
?

[2021-06-27 01:29] tjhei commented on #12494
Also #12507 once we have a fix

[2021-06-27 06:45] #12490 closed

[2021-06-27 06:45] #12501 closed

[2021-06-27 07:19] tamiko commented on #12507
@tjhei Yes, the issue is precisely this commit. I can confirm that reverting (the entire changeset in the pull request in question) fixes the compilation issue with intel 19.1.

[2021-06-27 07:21] tamiko commented on #12507
@tjhei I will test tomorrow whether gcc-11 still needs that patchset, or wether gcc's behavior has been changed/fixed.

[2021-06-27 12:03] tjhei commented on #12501
@bangerth can you report back if this fixes it?

[2021-06-28 08:43] anne-glerum opened #12512 "9.3 MacOS image is 9.2?"
I've downloaded the dealii-9.3.0-bigsur-intel.dmg from the mirror link. However, when I open the app, it seems to be 9.2 from last year. This is what /Applications/deal.II.app/Contents/MacOS/summary.log says:
[code]
The timestamp in Finder is also the same as last year (9 November 2020).

According to Finder, I downloaded the image from: https://www.dealii.org/download.html
https://dealii.43-1.org

[2021-06-28 10:17] peterrum commented on #12337
@kronbichler PR #12513 adds an assert that recommends to configure deal.II with 64bit indices. For more, one needs to (significantly) more work. In particular, within the global coarsening algorithm `ComputeIndexOwner` is used which is built around index sets...

[2021-06-28 11:23] tjhei commented on #12512
@tamiko ?

[2021-06-28 11:24] tjhei commented on #12512
Can you check if the "GitHub" link is the same file?

[2021-06-28 13:07] anne-glerum commented on #12512
It seems to be the same file.

[2021-06-28 13:51] #11725 closed

[2021-06-28 14:25] tamiko commented on #12512
Let me check.

[2021-06-28 16:03] tjhei commented on #12512
Anne, did you uninstall/delete any old packages?

[2021-06-29 06:39] luca-heltai commented on #12512
Can you run `spack find` and print the output? I get  ***@***.***

The true summary.log is in

spack cd -i ***@***.***

that is:

/Applications/deal.II.app/Contents/Resources/spack/opt/spack/dealii-9.3.0-zy7k/share/deal.II/summary.log

The summary log in Contents/MacOS/summary.log is a leftover of the old installation I had.

L.

--
Luca Heltai ***@***.***>
http://people.sissa.it/~heltai/
Scuola I

[2021-06-29 06:41] luca-heltai commented on #12512
In other words: the `summary.log` there has nothing to do with the installed packages. It should have been replaced (my bad), but the library is definitely 9.3.0.

[2021-06-29 08:29] anne-glerum commented on #12512
Thank you all for the quick replies! I can confirm that `spack find` returns v9.3 and ASPECT installation was successful against this 9.3. Apologies for the confusion, I'll close the issue.

[2021-06-29 08:29] #12512 closed

[2021-06-29 16:13] TLJB opened #12522 "GDB Pretty Printing of Vector depends on deprecated member"
I have recently tried to use the pretty printer functions for gdb supplied in contrib/utilities/dotgdbinit.py  to print the values
of a Vector object. This fails with the error message:
[code]
This problem first ocured after upgrading from version 9.2 to  #9.3.
Other pretty printer functions (for example for tensors and points) function as expected.
After some digging I've found that gdb tries to

[2021-06-29 21:49] #12507 closed

[2021-06-30 20:24] tamiko commented on #12494
OK. I think everything we can meaningfully fixed is fixed. Tagging the release now.

[2021-06-30 20:24] #12494 closed

[2021-06-30 23:55] bangerth commented on #12501
Yes, seems to have worked!

[2021-07-01 20:53] bangerth opened #12534 "DoFAccessor::vertex_dof_index doesn't work in the hp case"
This program crashes:
[code]
with this backtrace:
[code]

@juleoc02 FYI.

[2021-07-01 21:24] peterrum commented on #12534
I don't think this is a bug. Simply write:
[code]
The function call `dh.begin_active()->active_fe_index()` will return "1" and not "0". You cannot query "0" for vertex 0 of cell 0, since it is not connected to any cell with such a fe-index.

For all other vertices of that cell however you can:
[code]

[2021-07-02 21:05] drwells commented on #12474
@tckosvic It isn't really possible to proceed towards fixing this without more information. Please let us know if there is something else we can do to help with reporting!

[2021-07-02 23:16] bangerth commented on #12534
Ah, my mistake. I meant to omit the final argument in my test. I'm calling this function on a cell, so there it is clear what `active_fe_index` I'm requesting. But the logic in `get_vertex_dof_index()` doesn't catch this:
[code]
I'll extend this in a separate PR.

[2021-07-02 23:24] bangerth commented on #12534
@juleoc02 For your error, what you should just do is call the function in the following way:
[code]
and this should work as expected.

[2021-07-02 23:33] bangerth commented on #12522
True. The same is the case for the `AlignedVector` class. We ought to fix this.

@TLJB Is this something you'd like to try your hand on? I think this could make for a good patch!

[2021-07-04 23:28] tckosvic commented on #12474
I had other things to do gor a few days.  I went and recimpiled with no changes except I ran with one cpu dedicated to dealii.  I got same DSO missing error but at a different place but at 86% completion.  Error messages are as below:

`Scanning dependencies of target step_3_mixed.debug
[ 86%] Building CXX object examples/CMakeFiles/step_3_mixed.debug.dir/doxygen/step_3_mixed.cc.o
[ 86%] Linking C

[2021-07-05 02:06] tckosvic commented on #12474
Compilation problem solved.  Error "error adding symbols: DSO missing" stopping compilation was seen in internet research to possibly be related to the link order in a compilation.  Specifically the library -lpthread should be placed after object files in link list order.  Some testing showed that this indeed would movethe dealii compilation further along.

There are files in the dealii example di

[2021-07-05 11:40] drwells commented on #12474
The `link.txt` files are generated by CMake automatically.

Looking again at your original message, I noticed `'pthread_rwlock_unlock@@GLIBC_2.2.5'` - i.e., the missing symbol is a versioned one from glibc. I believe this means that the root cause of the problem was that you updated your system's copy of glibc but did not rerun cmake for the examples - hence it tried to link against a version of g

[2021-07-05 11:47] rgoermer commented on #11723
Dear @bangerth, since I only need user_pointer and user_index, wouldn't it be sufficient to add those functions / members to the specialization of `TriaAccessor<0, dim, structdim>`?
To be frank, I have only slight ideas what vertex_user_data should be of a type; possibly `std::vector<UserData>`?

[2021-07-05 12:05] TLJB commented on #12522
I fixed the issue and made a pull request ( #12546 ).
This is my first time contributing so if anything is not up to code please let me know and I'll try to fix it.

[2021-07-05 12:58] tckosvic commented on #12474
I did no intentional upgrade of glibc. I do not recall any daily upgrades that included glibc in the last month. Major software in opensuse is generally updated within a version change.  I upgraded opensuse tp 15.3 in early june.  That may have had an updated glibc.  But, that was long before I had even heard of dealii or tried to compile it.  I am very certain that I did not run cmake/configure o

[2021-07-05 15:31] #12534 closed

[2021-07-06 22:02] xywei opened #12549 "OSX: 'shared_timed_mutex' is unavailable"
[code]

The issue was revealed by https://github.com/conda-forge/dealii-feedstock/pull/22
[code]

Detailed build log [here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=347871&view=logs&jobId=15f8dc28-9f6f-5e3a-5b3c-2b169071e5be&j=15f8dc28-9f6f-5e3a-5b3c-2b169071e5be&t=63fa899e-c160-5185-75c4-c5fd30c90374)

[2021-07-06 22:06] drwells commented on #12549
This is a very weird error message - it says this feature was introduced in macOS 10.12 yet we are compiling on 10.15: i.e., I don't understand why it isn't available. Do you have any idea?

[2021-07-07 05:26] jppelteret commented on #12549
I had the same (or a very similar) problem to @xywei . I tried a lot of different things to fix it, but ultimately ended up upgrading my machine to 10.15. I actually added a check for this here:
https://github.com/dealii/dealii/blob/master/cmake/setup_compiler_flags_gnu.cmake#L31-L37
Maybe its not sufficiently robust, or the minimal apple-clang version needs to be adjusted again.

[2021-07-07 05:54] jppelteret commented on #12549
https://github.com/dealii/dealii/issues/10531 is the original issue, which this one duplicates.

[2021-07-07 05:58] jppelteret commented on #12549
Sorry, I've just read the description and I see that you are compiling on MacOS 10.15. Now I'm confused as to why you are hitting this issue :-/

[2021-07-07 20:14] jppelteret commented on #12549
Googling "macos 10.15, error: 'shared_timed_mutex' is unavailable: introduced in macOS 10.12" reveals that this is a somewhat pervasive issue. If I have correctly understand the various threads that I read, explicitly setting the C++ standard to 14 and disabling C++17 support might be the key to fixing the problem. See [here](https://dealii.org/developer/users/cmake_dealii.html#configure) for how

[2021-07-08 01:12] isuruf commented on #12549
@xywei, since you are building for an older target (10.9) with a newer libcxx, you need to add `-D_LIBCPP_DISABLE_AVAILABILITY` to `CXXFLAGS`. That should make the error go away.

[2021-07-08 02:16] xywei commented on #12549
@isuruf Not sure what you mean here. The [build log](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=347871&view=logs&j=15f8dc28-9f6f-5e3a-5b3c-2b169071e5be&t=2d60abc3-1b6d-4cd3-820b-625ae8ac55cc&l=5) shows that it was building on 10.15.

[2021-07-08 02:18] isuruf commented on #12549
It's building on 10.15, but targeting 10.9 so that the conda package works on older OS even though the build machine is newer.

[2021-07-08 02:22] xywei commented on #12549
Thanks for the clarification. I will try that. In the meanwhile, I saw a similar issue https://github.com/laverdet/isolated-vm/issues/200 and tried to apply a patch to replace `std::shared_timed_mutex` with `boost::shared_mutex`. Will see if that fixes it.

[2021-07-08 07:59] Tom-python0121 commented on #12474
@tckosvic Is there any relevant patch provided? This problem also occurs when I install the SUSE SPK Manager. A patch is required.
### Steps to reproduce the issue

[code]
Can you help me see if it's the same mistake you made?
### Information on your system
localhost:~ # spack debug report
* **Spack:** 0.16.1
* **Python:** 3.6.5
* **Platform:** linux-sles15-aarch64
* **Concretizer:** original

[2021-07-08 08:04] Tom-python0121 opened #12553 "undefined reference to symbol 'pthread_rwlock_rdlock@GLIBC_2.17' when compile dealii@9.3.1 in openSuse15"
Is there any relevant patch provided? This problem also occurs when I install the SUSE SPK Manager. A patch is required.There's a discussion here about https://github.com/dealii/dealii/issues/12474, but I need a patch or a more effective way to fix it.
### Steps to reproduce the issue

[code]
Can you help me see if it's the same mistake you made?
### Information on your system
localhost:~ # spack

[2021-07-08 12:07] drwells commented on #12474
This seems like a recurring problem with this platform so lets keep this open until we at least establish a workaround.

OK, if it's not some odd glibc version conflict, the next most likely problem is that this is underlinked.

CMake builds the link sequence internally - I think you are asking if there is (like in many autotools projects) a `LIBS` variable which we modify, and the answer to that

[2021-07-08 12:37] Tom-python0121 commented on #12474
@drwells When I passed the -DDEAL_II_LINKER_FLAGS="-lpthread" to cmake, it didn't seem to work and it reported other problems：
[code]

[2021-07-08 12:54] tckosvic commented on #12474
I wrote a list of the example directories where I modified links.txt  to move -lpthread down the linker list.  R = release, D = Debug
See below:
76R, 74D, 67R, 63D, 50D, 56R, 51R, 51D, 74R, 48R, 76D, 48R, 76D, 48D, 47R, 44R, 44D, 37D, 37R, 9D, 56R, 16b R, 47D, 14D,  13D, 39D, 12b R, 16b D, 16R, 14R, 12R, 12b D, 13R, 67D, 12D, 16D, 35D, 28D, 28R, 63R, 35R, 59R, 38R.

All I did was modify link.txt f

[2021-07-08 12:57] Tom-python0121 commented on #12474
@drwells According to my log, these use cases run into a "pthread_rwlock_rdlock@@@@GLIBC_2.17" problem：
[code]

[2021-07-08 13:08] tckosvic commented on #12474
In duck-ducking the error message originally, I ran into  link that said moving lpthread to after the object file linking solved that problem.  I cannot reproduce that link but I tried it and it worked.   Must be a means of doing that and trying a new compile.  I couldn't get through the cmake stuff to figure out how that might be done.

[2021-07-08 13:16] drwells commented on #12474
I think the problem may stem from openblas, not deal.II - I'm investigating.

[2021-07-08 13:24] xywei commented on #12549
Adding `-D_LIBCPP_DISABLE_AVAILABILITY` works, thanks @isuruf! FWIW, using `boost::shared_mutex` also works using [this patch](https://github.com/conda-forge/dealii-feedstock/blob/c52964c3049434098a7ebc584ce6a50bdb157968/recipe/shared_mutex.patch).

[2021-07-08 13:24] #12549 closed

[2021-07-09 00:00] drwells commented on #12474
I'm not sure yet where the problem is but I can reproduce it on a virtual machine. I was able to get everything working with MPI - if you want to build deal.II on opensuse then compiling with MPI support (even if you don't plan on using MPI) should fix the problem for now.

[2021-07-09 01:33] Tom-python0121 commented on #12474
@drwells You're right, adding the mpi dependency does work, but I don't understand the relationship between mpi and "pthread_rwlock_rdlock@@@@GLIBC_2.17" problem.
localhost:~ # spack install -y -v --keep-stage --dont-restage --no-checksum --fail-fast dealii+mpi
![image](https://user-images.githubusercontent.com/77763324/125010236-b9b17e00-e098-11eb-8802-e3e199344052.png)

[2021-07-09 02:27] marcfehling commented on #11561
While preparing #12554, I noticed that they changed the layout of `TBB`. Issues I've spotted so far:
- `FindTBB.cmake` is not able to find TBB installations since they moved the version information from `tbb/tbb_stddef.h` to `tbb/version.h`.
- Header file `tbb/pipeline.h` has been removed. Also see [this (very brief) summary](https://software.intel.com/content/dam/develop/external/us/en/documents/

[2021-07-09 12:03] drwells commented on #12474
@Tom-python0121 does that make this a duplicate of #12553?

[2021-07-09 12:39] agrayver opened #12555 "find_active_cell_around_point with cache crashes in parallel"
It seems I'm hitting a bug in a recently updated function (#12352).

The call below crashes in parallel (>= 2 procs), but works in serial:

[code]

If I omit the last argument (which was introduced in #12352), it works in parallel too (however, it is not efficient...).

Here is a minimal example:

[code]

[2021-07-09 16:22] tckosvic commented on #12474
Based up your investigations, I will try another install using mpi.  I will save3 my old one though as I don't want to go modifying 50 filles again as a backup.  Could you give me the cmake commands for specifically calling for mpi.

I thought that the cmake info said it would automatically include all the additional processes like mpi that it could find on the system and they didn't need to be sp

[2021-07-09 20:49] drwells opened #12557 "cell data should work with p::s::T"
`p::s::T` should also work with output when we have cell data vectors of length `n_locally_owned_active_cells()` and not just `n_active_cells()`. Here is some sample code that uses this class without artificial cells, but has an assertion failure:

[code]

[2021-07-09 22:38] tckosvic commented on #12474
Tkosvic here.  I posted a comment in dealii github issues that I need a
cmake commandline to recompile asking for mpi.   How do I request mpi? 
Info said cmake would look for it but I need to specifically ask for
mpi.  Openmpi is installed on my system.

thanks,     tom kosvic

On 7/9/21 7:03 AM, David Wells wrote:

[2021-07-10 00:06] tamiko opened #12558 "Step-69: Switch checkpoint/restart logic to SolutionTransfer"
This is mostly a reminder to myself to switch the checkpoint/restart logic in `step-69` from the simple boost archive mechanism to the `SolutionTransfer` class.

[2021-07-10 00:06] tamiko commented on #12558
Template: https://github.com/conservation-laws/ryujin/blob/master/source/checkpointing.h

[2021-07-10 01:03] Tom-python0121 commented on #12553
This issue has been resolved. For details, see https://github.com/dealii/dealii/issues/12474#issuecomment-877136371.

[2021-07-10 01:03] #12553 closed

[2021-07-10 02:09] bangerth commented on #12557
This would be inconsistent. For `p::d::T` in `DataOut` (and in many other places), we always require `n_active_cells` and just ignore those values in the vector that corresponds to cells not locally owned. Since we're pretty consistent in this approach, I am not really in support of inventing another strategy just for `DataOut`.

[2021-07-10 20:21] drwells commented on #12557
That's a reasonable point - maybe this case shouldn't work.

At the same time, if we turn on artificial cells then the problem persists - i.e., a `p::s::T` counts all the artificial cells on the current processor as active, which doesn't make sense. It's not immediately related to `DataOut` but in that case `p::s::T::n_active_cells()` should not equal `p::s::T::n_global_active_cells()` - do you ag

[2021-07-10 20:56] tckosvic commented on #12474
Per discussions, I tried forcing mpi to on.  My commandline is as below:

`cmake -DDEAL_II_WITH_MPI=ON -DCMAKE_INSTALL_PREFIX=/home/tom/dealii/install ../`

It still did not complete but was successful on 1st step (step_3_simplex.release)  but then errored out on
next example "step-9.release.dir".  Error was same "DSO missing from command line".  Error code block is below:

`[ 86%] Building CXX ob

[2021-07-12 01:09] tckosvic commented on #12474
Did a few test of previous releases earlier than 9.3.1,
dealii 9.1.0  -- fully compiles on my opensuse machine
dealii 9.2.0 -- fully compiles
dealii 9.3.0 -- does not fully compile.  It throws missing DSO messages in example (step) cases directory

Used same cmake commandline and make command on all.
What changed between 9.2 and 9.3?

Maybe this helps.      tom kosvic

[2021-07-13 02:18] tckosvic opened #12569 "Include HDF5 support in cmake"
I try turning hdf5 on in cmake.  I get unclear messages as to what is missing and what to do.  I can either add more hdf5 files or add other items to the cmake commandline.  Here are the messages I am getting.

`--
-- Include /home/tom/dealii/cmake/configure/configure_hdf5.cmake
-- Found HDF5_INCLUDE_DIR
-- Found HDF5_LIBRARY
-- Found HDF5_HL_LIBRARY
-- Found HDF5_PUBCONF
--   HDF5_LIBRARIES: /usr

[2021-07-13 02:24] drwells commented on #12569
CMake is finding the installation just fine. The critical line is

Make sure you install `hdf5-openmpi` or some similarly named package that enables the HDF5 bindings to the same MPI library you want to use elsewhere.

[2021-07-13 02:25] marcfehling commented on #12569
The error message of interest is this one
[code]

So it seems you try to build `deal.II` with `MPI` and `HDF5` enabled. The error message states, that the `HDF5` library you installed has not been configured with `MPI`.

How did you install `HDF5`? I assume you are using linux. If you are using a repository manager, make sure that your `libhdf5` package provides `MPI` support. For ubuntu, try a pa

[2021-07-13 02:26] drwells commented on #12569
This was easy enough to answer so I believe we both wrote something up at the same time :)

[2021-07-13 03:34] tckosvic commented on #12569
Brief comments on what is installed.  I have installed (from opensuse leap 15.3),
hdf5-openmpi, hdf5-openmpi2, hdf5-openmpi3, hdf5-openmpi4
hdf5-openmpi-devel, hdf5-openmpi2-devel, hdf5-openmpi3-devel, hdf5-openmpi4-devel
libhdf5-101, libhdf5-103, etc

Additionally a bunch of hdf5-gnu files a bunch of hdf5-fortran files, and a bunch of hdf5-cpp files

Plus another 70 or so files.

I still do not g

[2021-07-13 03:50] marcfehling commented on #12569
From your log it looks like you have configured deal.II with `MPICH` and not `OpenMPI`. Your `HDF5` installation uses `OpenMPI` (at least according to the name).

Could you try to install [`hdf-mvapich2`](https://software.opensuse.org/package/hdf-mvapich2) instead of `hdf5-openmpi`?

[2021-07-13 03:53] marcfehling commented on #12569
I just noticed that `hdf-mvapich2` contains `HDF4` and not `HDF5`.

I guess at this point you have two options:
- Install `openmpi`, configure deal.II with it, and use `hdf5-openmpi`.
- Build `hdf5` yourself with `MPICH` and link deal.II against your custom `HDF5` installation.

[2021-07-13 12:55] tckosvic commented on #12569
I installed hdf-mvapich2 and configuration was successful.   I already had 15 files with names that included mvapich2 installed.
I left hdf5-openmpi installed.  If it should be removed let me know.

I have no idea what I did to "configure deal.II with MPICH and not OpenMPI".  Could someone let me know where/how that was done?

thanks again,    tom kosvic

[2021-07-13 15:44] tckosvic commented on #12569
I got past hdf5 config.
Issue now is petsc config.  I have 15 libpetsc files installed with probably 50 more that are available in opensuse.
All installed ones are in /use/lib  or usr/lib64;  standard locations.  But I get error messages below:

`-- Include /home/tom/dealii/cmake/configure/configure_3_petsc.cmake
-- PETSC_LIBRARY not found! Call:
--     FIND_LIBRARY(PETSC_LIBRARY NAMES petsc libpe

[2021-07-13 16:37] tckosvic commented on #12569
I will move any future discussions to https://groups.google.com/g/dealii.  I will close this issue thread

thanks all,  tom kosvic

[2021-07-13 16:37] #12569 closed

[2021-07-18 21:02] drwells opened #12580 "Some simplex face values are not scaled correctly"
I need to come up with a minimum working example to be absolutely sure that this is an issue, but in brief - we assume that all faces of the reference cell have measure 1 at least inside `MappingFEField`, which causes the jacobians on the second face to be off by a factor of `sqrt(2)`.

I found this out when I wrote some general code to compute face integrals - the `JxW` values are wrong on the lo

[2021-07-18 21:27] peterrum commented on #12580
To me the culprit line looks like:

https://github.com/dealii/dealii/blob/168904fa146d85a65c037c7e09292b436c99a6d4/source/fe/mapping_fe_field.cc#L646-L648

see also:

https://github.com/dealii/dealii/blob/168904fa146d85a65c037c7e09292b436c99a6d4/source/fe/mapping_fe.cc#L1074-L1089

`QProjector<dim>::project_to_all_faces()` is responsible for the scaling you are describing:

https://github.com/deal

[2021-07-19 12:08] drwells commented on #12580
Thanks - I'll start working on this today.

[2021-07-20 05:28] #12580 closed

[2021-07-20 05:53] prashjha opened #12584 "Trouble running example 70"
Hello,

I tried to run the example-70 in both dealii-9.3.1 and dealii-9.2.0. I am able to create the executable but it fails when running. The main error is as follows:

An error occurred in line <68> of file </home/prashant/Softwares/Packages/dealii/9.2.0/source/lac/petsc_precondition.cc> in function
    void dealii::PETScWrappers::PreconditionerBase::vmult(dealii::PETScWrappers::VectorBase&, con

[2021-07-21 00:04] prashjha opened #12586 "Bug in example 68 and 70?"
Hello,

While working out the particle examples, I may have found some bugs (or not). In example 68 (see [line 544](https://github.com/dealii/dealii/blob/d97777ecf7c3e022930e3981d2410e9b977b1475/examples/step-68/step-68.cc#L544)), we have an outer loop over particles and then an inner loop over particles of cells that host outer loop particle. It seems that a particle may be encountered multiple t

[2021-07-21 06:23] peterrum commented on #12586
To me the code looks correct. Let me shortly explain what happens. The goal is loop over all cells that contain particles. One could do this like
[code]
However, this code loops over all cell; even if they don't contain any particles. To not have to loop over all cells, we instead loop over all particles and get the corresponding cell. Within the loop over all particles in the cell, we also increm

[2021-07-21 08:39] prashjha commented on #12586
@peterrum yes it makes sense. I missed the fact that increment ++particle is happening inside inner loop so the advance in particle iterator is accurate. Thanks for the explanation and excellent library.

[2021-07-21 11:25] blaisb commented on #12586
Agreed. I don't think there an added benefits now to skipping over cells that don't have particles because from my understanding, the new vector data structure is faster to access than the previous multimap. If you want I can make a PR to address that for next release.

[2021-07-21 11:29] kronbichler commented on #12586
I would add that the increment function of the particle accessor related to second variant of the code above also steps through all cells and thus, there would be no performance difference, see the code here: https://github.com/dealii/dealii/blob/d97777ecf7c3e022930e3981d2410e9b977b1475/include/deal.II/particles/particle_accessor.h#L771-L779

[2021-07-21 11:34] peterrum commented on #12586
Sounds good. In the meantime, let's close the issue.

[2021-07-21 11:34] #12586 closed

[2021-07-23 16:57] lpsaavedra opened #12594 "Step-77: compatibility issues and no convergence"
Step-77 solves a non-linear equation using the Kinsol solver of the Sundials library. deal.ii must be compiled with Sundials on. The tutorial does not compile with the Sundials 3.1.0 distributed with candi, getting the following error in debug mode:
[code]

In release mode, only a segfault is obtained. Using the last version of Sundials (5.7.0) the code compiles but it does not converge. The follo

[2021-07-23 17:09] blaisb commented on #12594
@lpsaavedra I know how to allow 3.1 to run with step-77 (a function needs to be added), however, it does not change the fact that it does not converge :). Good catch.

[2021-07-25 12:44] peterrum commented on #12555
Sorry for getting back to this issue so late. The following change in your code seems to work for me:

[code]

[2021-07-26 15:02] agrayver commented on #12555
Thanks, Peter, for looking at it. I had been always checking for the tria.end() previously -- but this solution also works (I also see the PR that will make the present code work).

[2021-07-26 21:39] #12555 closed

[2021-07-27 16:07] drwells commented on #12477
@sebproell this is closed, but would you mind putting up a PR with the change to the test? I don't think that was in #12600.

[2021-07-27 16:14] sebproell commented on #12477
@drwells I can do this but probably not before mid August.

[2021-07-27 16:27] drwells commented on #12477
Lets keep this open for now and we can close again once the test is in too.

[2021-07-28 16:03] drwells opened #12604 "Negative diagonal entries with MassOperator + TET10"
I am trying to use the same matrix-free solver for both hexes and tets and the tet version has problems. In particular, I get negative entries on the main diagonal in the preconditioner, so the solver doesn't converge. Here is a test case:

[code]

[code]

[2021-07-28 16:04] drwells commented on #12604
The PETSc matvec is also faster than ours right now on my machine - we already know that we need to do some more optimizations.

[2021-07-29 00:09] bangerth commented on #12584
This seems to work for me. Based on the log file you have, you don't have Trilinos installed, and the program falls back to use PETSc. If I manually force this on my system, the program works just fine. Are you running in parallel? If so, what is your command line?

[2021-07-29 00:12] bangerth commented on #12594
This is aggravating -- it used to work just fine when I wrote the program not long before the release, and must have broken in the relatively short amount of time between the merge and the release :-( We will have to find which patch broke this -- in any case, I can confirm exactly the error @lpsaavedra shows above.

If you wanted to help, do you know how to bisect a git history?

[2021-07-29 00:19] bangerth commented on #12594
I would specifically see if #12254 introduced the problem.

[2021-07-29 00:21] bangerth opened #12606 "Replicated AlignedVector objects can't be moved"
The functionality introduced in #12022 and related PRs works but the resulting object can't be moved. That's because the move constructor forwards to the move operator, and the move operator looks like this:
[code]
In other words, the move operator assumes that memory allocated by the source object can be destroyed via `std::free`, but this is not actually true if the memory had been placed into s

[2021-07-29 00:42] bangerth commented on #12606
Test case:
[code]

[2021-07-29 01:33] bangerth commented on #12606
Just for the record, I'm working on it. It's not pretty -- memory management is hard :-(

[2021-07-29 16:17] bangerth opened #12608 "Lower memory requirements in AlignedVector"
In #12008, we had a discussion about the data type used for the deleter of the `std::unique_ptr` object that `AlignedVector` uses to store its data. In the end, #12022 used the agreed-upon `std::function<...>` object, which takes up 24 bytes. But I think that in reality, it takes more: `std::function` when given a lambda function must be using dynamic allocation of memory. It just doesn't show up

[2021-07-29 16:21] bangerth commented on #12608
Correction: We allocate memory with `posix_memalign` instead of `new[]`.

[2021-07-29 16:45] drwells commented on #12604
The diagonal entries are also wrong for TET4.

[2021-07-29 17:50] lpsaavedra commented on #12594
Yes, I will do it and let you know how it goes. Hopefully we find the patch soon.

[2021-07-29 19:24] bangerth commented on #12594
Awesome! The number of patches between #11953 was merged and the 9.3 release is not huge, so hopefully you'll find it soon!

[2021-07-29 20:16] drwells commented on #12604
The current implementation is not right:

https://github.com/dealii/dealii/blob/94b2450484e130a74051c7bd7230c8d6f79b98b2/include/deal.II/matrix_free/operators.h#L1802-L1806

This doesn't compute the diagonal - it computes the row sum. This is usually OK with the mass matrix (its the definition of mass lumping and will be spectrally equivalent to the diagonal) but its (1) not the diagonal and (2) i

[2021-07-29 20:28] peterrum commented on #12604
Could you try out to integrate `MatrixFreeTools::compute_diagonal()` in this function and see if this fixes your problem? We could think about introducing a flag to indicate if we want to compute the exact mass-matrix or not!

[2021-07-29 20:38] drwells commented on #12604
I can give it a try.

At one point I tried out (I think for TET4) a bunch of different mass lumping options (Hinton's rule, nodal quadrature, row sums, and the diagonal) as preconditioners and they ended up always taking the same number of iterations. We can offer the lumped mass matrix as an option, but unless there is some evidence that it is better than Jacobi I don't think we should bother. Th

[2021-07-29 21:26] drwells commented on #12604
It works. I'll put up a patch in a bit.

[2021-07-31 13:57] lpsaavedra commented on #12594
#12216 was the one that introduced the problem

[2021-07-31 14:01] peterrum commented on #12594
@lpsaavedra Maybe you could also take a look at the PRs referenced in issue https://github.com/dealii/dealii/issues/12223.

[2021-07-31 21:06] #12558 closed

[2021-08-04 08:58] tamiko commented on #12117
With the announcement e-mails I'd say we're done here :partying_face:

[2021-08-04 08:58] #12117 closed

[2021-08-04 09:08] hjh878 opened #12621 "symmetric_tensor.templates.h"
I got a problem while compile the source file after run the make install
[code]
Am I missing something? My computer environment is Ubuntu16.04, GNU version is 5.4.0, cmake version is 3.21.1 and GNU make version 4.1

[2021-08-04 12:27] drwells commented on #12621
This looks like a problem on our end. Is this the most recent release (9.3.0) or the development version?

[2021-08-04 12:37] hjh878 commented on #12621
I download it from this site one day ago and the version is 10.0.0-pre, which is mentioned in the VERSION file

[2021-08-04 15:27] drwells commented on #12621
I cannot reproduce this with GCC 5.5 on my machine. Could you post the `detail.log` file from the build directory here?

[2021-08-04 21:04] blaisb commented on #12594
@peterrum , @luca-heltai , @bangerth  What do you think is the best forward? @lpsaavedra has pinpointed the commit. I'd like to help her fix this, but I have to admit that this part of the KINSOL wrappers will take me a long time to understand. How would you like to approach this? It's a bit sad that step-77 is not working right now. Additionally, the KINSOL wrapper implementation right now seems

[2021-08-05 02:43] hjh878 commented on #12621
[detailed.log](https://github.com/dealii/dealii/files/6935569/detailed.log)

[2021-08-05 02:46] hjh878 commented on #12621
I have upload the detail.log file, thank you for your patient~

[2021-08-05 14:18] drwells commented on #12621
Thanks. You are not using any of the automatic differentiation libraries so we can rule out a lot of problems.

Does anyone else have an installation of 5.4 handy so they can confirm?

[2021-08-05 17:48] marcfehling opened #12626 "Missing identity constraints in 3D."
When calling `DoFTools::make_hanging_node_constraints` on an hp-adapted mesh in 3D, it may happen that not all identity constraints are recognized. See this [tests/hp/identity_constraints_02](https://github.com/dealii/dealii/blob/master/tests/hp/identity_constraints_02.cc) and its corresponding [output](https://github.com/dealii/dealii/blob/master/tests/hp/identity_constraints_02.output).

Dof ide

[2021-08-05 19:40] richardschu commented on #12621
Hi!
I am stuck with the same issue, here is my detailed.log:
[detailed.log](https://github.com/dealii/dealii/files/6941209/detailed.log)
Maybe our compilers are now finally too old? Oh no ...
Also, I tried it with the current candi, where it even gave me something like:
"
Fetching dealii v9.3.0
Cloning into 'deal.II-v9.3.0'...
fatal: Unable to find remote helper for 'https'
Failure with exit statu

[2021-08-06 07:28] richardschu commented on #12621
Hi again,
so the hint with GCC5.5 was crucial: on a machine with GCC5.5 I had access to it was running through like a charm (manual deal.II install, not through candi)!
Therefore I updated the GCC version following this
[tutorial](https://gist.github.com/application2000/73fd6f4bf1be6600a2cf9f56315a2d91)
which solved the problem for me.
Hope this helps!
Best regards
Richard

[2021-08-07 09:57] hjh878 commented on #12621
I have update my gcc version to 5.5,and now it works, thank you~

[2021-08-08 21:30] tjhei opened #12633 "MGTransferMatrixFree Assert failure"
I am hitting the Assert
https://github.com/dealii/dealii/blob/8672fd22a213609e84343b9e14a4fe737abfee5d/source/multigrid/mg_level_global_transfer.cc#L341

in ASPECT. I have been trying to write a small reproducer without success so far.

[code]

[2021-08-09 12:24] gfcas commented on #1655
Dear all,
we just encountered this problem in our application code, for a quasi identical situation as described above. Is there a current workarround or solution for this issue available? For the moment we excluded ``patch_level_1`` and ``coarsest_level_1`` flags and this worked for us.

[2021-08-10 16:36] mathsen opened #12640 "DataOut_DofData::add_data_vector() asserts after DoF renumbering on multiple processes"
Hello,

I just tried the current deal.ii master branch and with this my code doesn't run (throws an assertion in debug mode), when I'm in a simple data output routine. The assertion is:
[code]
I have a minimal working example here:
[debug_data_out.zip](https://github.com/dealii/dealii/files/6963069/debug_data_out.zip)

The problem just occurs, if I renumber DoFs (line 137 in the MWE).
The assertio

[2021-08-10 16:47] peterrum commented on #12640
Thanks @mathsen for reporting this. I will take over from here!

[2021-08-10 19:23] peterrum commented on #12640
This is an annoying one. For me the current behavior seems to be the correct one (and it used to work by chance). Let me explain why and what you need to do.

You are renumbering your degrees of freedoms with the following line:
[code]
and hereby creating blocks in the numeration of the degrees of freedom.

However later on, you are creating a "normal" vector:
[code]
and not a block vector. Obviou

[2021-08-10 19:39] mathsen commented on #12640
@peterrum Thanks for this quick reply and detailed answer! I get the problem and your fix works fine - also in my production code.
My motivation for not using a  MPI::BlockVector in my code was to simply be able to switch between iterative and direct, parallel solver. Of course in the data output this doesn't matter and I get your approach - and it works great!
So thanks for the help and the fix!

[2021-08-10 20:00] mathsen commented on #12640
And indeed - unfortunately applying this workaround is not as simple as I thought in the first moment. I had disabled the output routines for my normal solutions - since I don't need them currently, but there is the same problem as above.
So instead of creating a MPI::Vector (or with the fix MPI::BlockVector) I receive a solution - which is a MPI::Vector and which I would have to convert to a Bloc

[2021-08-11 08:22] mathsen commented on #12640
Hello again,
so after thinking about the problem a little bit I can fully understand your point @peterrum.
I just wanted to comment on this and explain my point in more detail:

I'm not fully convinced of this statement. Mainly because not using block vectors used to work until [commit c46002170930aafb3d78a5364c83a53ae5785e99](https://github.com/dealii/dealii/commit/c46002170930aafb3d78a5364c83a53

[2021-08-11 20:58] richardschu opened #12646 "FESystem: wedge and pyramid support"
Hi everyone, I stumbled upon the following issue/bug:
When creating an FE_System with
`FESystem<3,3> fe (FE_WedgeP<dim>(2), 3,
				 FE_WedgeP<dim>(1), 1);`
or
`FESystem<3,3> fe (FE_PyramidP<dim>(1), 3,
				 FE_PyramidP<dim>(1), 1);`
one gets something like
`The violated condition was:
    ::dealii::deal_II_exceptions::internals::compare_for_equality(fes[i]->n_unique_quads(), 1)
Additional informat

[2021-08-12 07:56] peterrum commented on #12646
Apparently, no one has tried out these finite elements in combination of `FESystem`. In the test folder `tests/simplex`, these finite-elements are only tested for the scalar case. I have opened PR #12647: with these changes you should be able to get further. However, I I would no be surprised if there would be additional issues to get step-55 working with wedge/pyramid meshes (but since there is a

[2021-08-13 10:33] richardschu commented on #12646
Hi @peterrum,
thank you very much for your astonishingly fast reply and adaptions!
I worked some more on the adaption of step-55 and actually ended up changing it to a fancy projection using the `ExactSolution` already provided. This way, one can use e.g equal-order interpolation without adding any terms and adapting the preconditioner to test any degree combination, which is of course a totally d

[2021-08-14 10:46] peterrum commented on #12646
I have updated #12647 a bit (still need to create separate PRs). With these changes all provided geometries are working both for linear and quadratic `velocity_degree` (except pyramid). I have reduced the mapping degree to one (pressure_degree).

[2021-08-15 18:09] j8asic opened #12653 "Timoshenko beam elements"
Does deal.ii support 1D beam elements (Timoshenko, or at least Euler-Bernoulli) in 3D space?

[2021-08-15 19:15] drwells commented on #12653
No, we do not - elements for beams, AFAIK (it's not the kind of solid mechanics I do) require continuous derivatives (since the original equation has four derivatives and we integrate by parts twice) and we do not presently implement any elements like that in deal.II. We do support 1D elements in 3D but not any with continuous derivatives.

[2021-08-15 19:15] #12653 closed

[2021-08-15 23:27] bangerth commented on #12640
It is true that Trilinos allows to store vectors whose locally-owned elements do not form a contiguous range, but that is neither efficient nor compatible with other vector types. For example, PETSc doesn't allow this. As a consequence, we've generally tried quite hard to avoid supporting this case, and the usual work-around is to break things into individual blocks, each of which has a contiguous

[2021-08-16 15:58] drwells opened #12660 "Don't use ghosted vectors in `MatrixFreeOperators::get_matrix_diagonal()` et al"
This makes me wonder whether we should really do this. We use the vectors primarily for linear algebra purposes, so I don't like to do this unconditionally as some functions like `Vector:add` then call a communication routine on every call, see https://github.com/dealii/dealii/blob/6dce9bff6e9a1526885ddb1738b02a6c25620b20/include/deal.II/lac/la_parallel_vector.templates.h#L1542-L1543

(There is no

[2021-08-16 15:59] drwells commented on #12660
I don't see any reason why these vectors should be ghosted since they are only used to scale locally owned values anyway. Lets make them unghosted once #12612 is in.

[2021-08-16 17:53] mathsen commented on #12640
@bangerth Thank you very much for the additional explanation!
Thanks to this and the comments of @peterrum the problem is clear and I can completely understand the approach in the library.
I see the need to switch to a block vector - for the data output.

Personally I also would prefer a "complete" block vector implementation, but I just see no way of achieving this, due to the lack of an (efficie

[2021-08-17 00:01] bangerth commented on #12640
I don't know whether you're interested in poking around and improving the situation somewhat. The patch that broke this for you introduced the import of an arbitrary vector into a `p::d::Vector`, which requires the locally owned range to be contiguous.

But @tjhei pointed out in a comment on a slack channel that we don't actually need a `p::d::Vector`. Rather, we just need a vector that can store

[2021-08-17 00:05] bangerth commented on #12640
Separately, as far as a preconditioner is concerned: I'm assuming that you are using nodal shape functions in time, so that each block of your solution vector corresponds to the solution at a specific time point within the current time interval. I bet that a good preconditioner would be one that uses a simple time sub-stepping scheme that steps from one of these time points to the next, using eith

[2021-08-17 00:10] bangerth commented on #12640
By the way, the place to change is here: https://github.com/dealii/dealii/blob/master/include/deal.II/numerics/data_out_dof_data.templates.h#L1061-L1064
I got the vector type wrong: it's a `LinearAlgebra::distributed::BlockVector<ScalarType>`. It should be a `BlockReadWriteVector<ScalarType>` I guess, but if `ReadWriteVector` can store non-contiguous index ranges, then it might as well be a `ReadW

[2021-08-17 10:01] #12604 closed

[2021-08-17 10:52] mathsen commented on #12640
@bangerth Thanks again for the hints! In fact I use nodal shape functions in the time domain and this approach sounds very interesting and I wasn't aware of it. Definitely something that I will look into.
Regarding the change of the `LinearAlgebra::distributed::BlockVector<ScalarType>` type - yes I would like to try such a change. This week I'm pretty busy with other projects, I will give this a t

[2021-08-17 15:43] richardschu commented on #12646
Thank you very much, i checked with my supplied file and it was running through perfectly. The obtained errors were also as expected.

[2021-08-17 16:56] peterrum commented on #12646
@richardschu Good to hear! Thanks for the feedback!

[2021-08-18 09:48] richardschu opened #12665 "fullydistributed triangulation made from description incl. manifolds results in disjoint faces across at subdomain borders"
Hi everyone,
I might have found a bug in parallel::fullydistributed::Triangulation (pfdt) when I was trying to create a pfdt from a serial triangulation, although it might also be rooted in wrong use of the functions.
My testcase is a circular disk in 2D with a circular inclusion which I read from an .msh file (a similar mesh can be created combining a `hyper_shell` and a `hyper_ball`):
![circ_inc

[2021-08-18 11:56] peterrum commented on #12665
I couldn't find the bug right away. But the bright side is that if the mesh is created with the multigrid levels, the problem does not happen:

[code]

My best guess is that the manifold id of the parent is not communicated. I'll continue debugging later today!

[2021-08-18 16:11] marcfehling opened #12668 "`GridGenerator::subdivided_cyclinder()` should not use absolute thresholds."
The function `GridGenerator::subdivided_cyclinder()` sets boundary and manifold IDs based on absolute thresholds (`1e-5`) which causes problems on geometries with small dimensions. https://github.com/dealii/dealii/blob/4ae089691e3d3c361f38974c96628df49353f80e/source/grid/grid_generator.cc#L5609-L5643

We should use either relative thresholds or an absolute threshold determined by `std::numeric_lim

[2021-08-18 16:32] kronbichler commented on #12665
Doesn't this smell a bit like a bug? I assumed we treat volumes, interior surfaces and boundaries similarly, so we should do the same here. And just for me to understand, the problem is that we have a *coarse* grid cell whose face happens to be on the boundary on one rank but not the other?

[2021-08-18 16:54] peterrum commented on #12665
Exactly. This is just the problem in the case of p:f:T, since in the other trias have the whole coarse-grid tria.

[2021-08-18 16:55] #12621 closed

[2021-08-18 18:08] kronbichler commented on #12665
I'm not sure #12669 is the right solution. The more I look at the code, the more I believe this is simply a left-over from when we did not have manifolds but only `Boundary` objects. In my opinion we should treat interior cells and cells at the boundary exactly the same. Hence, I believe the different cases should be removed. I anticipate some failures in the tests, but this really isn't a good so

[2021-08-18 20:39] richardschu commented on #12665
Hi @peterrum and @kronbichler - thank for taking a look!
Well actually that 'hack' you suggested as a temporary fix was actually the first thing I tried given it was in the original file.
However, it does not do the trick for me ... so I compiled the most recent master and still it gives me the same effects. Did you run the example on your machine and really got decent results without 'holes'?
Als

[2021-08-19 00:06] bangerth commented on #12626
Yes, for unification we need to implement all pairwise comparisons. I think I know how to do that. For constraints, we probably need to do things in a hierarchy. I think I know how to do that as well, but that's going to be more work.

This is indeed a bug: The solution will not actually be continuous on these sorts of lines. I suspect that the effect is relatively minimal in practice because few

[2021-08-19 17:06] #12606 closed

[2021-08-19 17:06] #12608 closed

[2021-08-19 22:55] bangerth opened #12679 "Can't call default constructor of DoFHandler<1,spacedim>::face_iterator"
With this code
[code]
one gets this error:
[code]

This is a problem because one can then also not call
[code]
because that default-initializes an array of such iterators before putting something useful into the array elements.

@tyand96 -- FYI

[2021-08-20 02:15] #12679 closed

[2021-08-20 02:25] bangerth opened #12686 "Disallow ArrayView for Tensor objects"
As discussed in #12624, `Tensor` objects are just not arrays, and so it is wrong to allow taking `ArrayView`s of tensors and symmetric tensors. #12684 and #12685 fix the two places where we currently do this.

The question is what to do with these overloads:
[code]

We would like to remove these overloads. Do we need to deprecate them first? If we do so, then we are stuck with the warnings I got t

[2021-08-20 02:29] bangerth commented on #12686
I should have added: If we can remove `make_array_view`, then we can also remove ``(Symmetric)?Tensor::(begin|end)_raw`, which is where the problem really lies.

[2021-08-20 13:29] richardschu opened #12689 "manifold_id set wrong for simplices"
Hi everyone,
I might have found a bug (or my use of manifolds is not intended):
When creating a simplex mesh and attaching a manifold to _only some, but not all_ cells, may create 'holes'.
My testcase is a circular disc with a circular inclusion, assigning a `SphericalManifold` based on `cell->material_id()` here shown with a quad mesh:
![quad](https://user-images.githubusercontent.com/69867655/13

[2021-08-20 13:54] masterleinad commented on #12686
Do we still see the warnings even if we don't instantiate these templates at all? I would be pretty surprised. If we don't see the warnings after not using them, I would be very much in favor of just deprecating as we usually do.

[2021-08-20 14:00] drwells commented on #12686
I doubt people are using these functions but we should do the normal deprecation process (we can use `DISABLE_DIAGNOSTICS` with the presently problematic code).

For replacement - I like `CellId::to_binary()` and we should do something similar. We should add a function `to_array()` that returns a `std::array<>` copy of the data and a matching constructor that goes in the opposite direction. That m

[2021-08-20 20:42] bangerth commented on #12686
Ok, I'll deprecate then.

[2021-08-20 22:47] bangerth opened #12693 "AssertThrow results in exceptions that don't have a stacktrace"
This is in contrast to `Assert`. The reason is that the assertion objects are copied and we don't copy the stacktrace information. I think I know how to fix this.

[2021-08-21 02:24] #12693 closed

[2021-08-21 06:01] peterrum commented on #12689
`MappingFE` works currently only for a single manifold, since the following lines of code are not as general as in the `MappingQ` case:

https://github.com/dealii/dealii/blob/208d70583f97a62e976bc007e6e099aa6c79dd1b/source/fe/mapping_fe.cc#L2277-L2300

vs.

https://github.com/dealii/dealii/blob/208d70583f97a62e976bc007e6e099aa6c79dd1b/source/fe/mapping_q.cc#L1678-L1773

At the moment, the cell (ma

[2021-08-22 18:45] blaisb commented on #12668
I'll take care of it. I wrote this grid generator, so I might as well fix my mistakes :). PR should come up later today.

[2021-08-23 07:07] richardschu commented on #12689
Thanks for the clearification - I will start off by reading the `geometry paper` (https://arxiv.org/abs/1910.09824) and then try to understand the implementation in `MappingQ`. Would you say that the needed adaptions are limited to `compute_mapping_support_points`? At least for simplices I should be able to implement the needed changes, I guess!

[2021-08-23 07:22] #12668 closed

[2021-08-23 07:25] #12633 closed

[2021-08-23 07:49] #12665 closed

[2021-08-23 21:09] tjhei opened #12701 "crash in MatrixFreeFunctions::HangingNodes<3>::setup_constraints"
See below for more info. This might be a regression from the recent HangingNodes refactor. @peterrum do you have an idea what is going on?

[code]

[2021-08-24 05:08] kronbichler commented on #12701
Seems to be happening here: https://github.com/dealii/dealii/blob/337863a20f8fa2b9c3edbde8ffcce6ab998af61c/include/deal.II/matrix_free/hanging_nodes_internal.h#L662-L669

[2021-08-24 06:05] peterrum commented on #12701
This does indeed not look right. I'll take a more detailed look later today!

[2021-08-24 07:05] tjhei commented on #12701
Thank you. Let me know if you need me to create a failing test. This is in ASPECT...

[2021-08-24 10:21] peterrum commented on #12689
Yes and the setup of the interpolation matrices:

https://github.com/dealii/dealii/blob/208d70583f97a62e976bc007e6e099aa6c79dd1b/source/fe/mapping_fe.cc#L864-L871

Let me quickly explain what `compute_mapping_support_points()` (currently) does. It first reads the points of the vertices and computes the new support points by transforming the reference points returned by `get_unit_support_points()`

[2021-08-30 16:44] slfuchs opened #12724 "deadlock in `ParticleHandler::insert_particles(const std::vector<Point<spacedim>> &positions)` when no particles inserted on some processors"
Dear all,

when calling `void ParticleHandler<dim, spacedim>::insert_particles(const std::vector<Point<spacedim>> &positions)` in parallel with some processor not inserting particles (i.e., the vector `positions` is empty) a deadlock occurs.

The method returns on those processors with the return statement in [line 594](https://github.com/dealii/dealii/blob/master/source/particles/particle_handler

[2021-08-30 16:50] peterrum commented on #12724
That is bad. I guess the code should read:
[code]

@gassmoeller What do you think?

[2021-08-30 16:56] gassmoeller commented on #12724
Yes, this is a bug and @peterrum your suggestion is the fix. @slfuchs do you want to make a pull request using @peterrum's suggestion? It would be a nice first PR and would give you some credit for tracking down the bug. If you need help or would prefer one of us to do it let us know.

[2021-08-30 20:52] slfuchs commented on #12724
@gassmoeller: Yes, I can take over! Thanks for the fast response.

[2021-08-30 21:00] gassmoeller commented on #12724
:+1:
Actually reading through this again your suggestion to remove the return was already better (somehow I skipped that when reading the issue). The if-condition is not needed since the first for-loop only loops over cells anyway. I think that is cleaner.

[2021-08-31 09:53] kronbichler opened #12728 "Unify code for Raviart-Thomas polynomial space"
Currently, we have the basic Raviart-Thomas polynomial space in https://github.com/dealii/dealii/blob/c59c2cd610aced4608fbbae13101a9bcefddf29e/include/deal.II/base/polynomials_raviart_thomas.h#L34-L49 and the nodal variant https://github.com/dealii/dealii/blob/c59c2cd610aced4608fbbae13101a9bcefddf29e/source/fe/fe_raviart_thomas_nodal.cc#L37-L45 introduced recently for #12454. The latter is the mor

[2021-08-31 09:53] kronbichler commented on #12728
Found while looking at #12726.

[2021-08-31 13:02] #12724 closed

[2021-09-02 19:32] bangerth opened #12737 "inverse_operator() objects should not be stored or reused"
I *think* that we have identified an issue with the `inverse_operator()` function and resulting object in a code by @juleoc02 . If I see this right, then the `inverse_operator()` object stores references to a linear solver object, and that linear solver will generally store a reference to a `SolverControl` object. The problem is that linear solvers generally do not reset the iteration counter to z

[2021-09-02 19:38] peterrum commented on #12737
But they should. `SolverCG` does it if I am not mistaken:

https://github.com/dealii/dealii/blob/608928eb318e52c371612f5036900c99287e9b2d/include/deal.II/lac/solver_cg.h#L373

[2021-09-03 00:34] bangerth commented on #12737
You are right. I had neglected the fact that we pass down the number of the iteration when calling `iteration_status`.

[2021-09-03 00:34] #12737 closed

[2021-09-09 07:23] #10401 closed

[2021-09-10 17:51] tjhei opened #12752 "Bug: Triangulation::load()/save() with large output files"
We have a bug reported for ASPECT related to Triangulation::load/save that got introduced between 9.2 and 9.3 (see [1]). After a quick look into tria_base.cc, I am sure that we will run into issues when the number of cells and/or the total file size runs above 32bits. I have not tested this, but this is suspicious:

https://github.com/dealii/dealii/blob/c090a8c3f9241a68294a647de39125a5ad1d18a4/sou

[2021-09-10 20:50] marcfehling commented on #12752
The code snippets you mentioned were already there in version 9.2.0, but at a different spot. Using the `v9.2.0` tag for example
https://github.com/dealii/dealii/blob/b42193f72751984d28e11b249e47e3aebf6685f2/source/distributed/tria.cc#L1989-L1990

The entire `DataTransfer` class has been moved from `p:d:Tria` to `p:DistributedTriangulationBase` to be used in combination with `p:fd:Tria`. `DataTran

[2021-09-11 20:43] lwy5515 opened #12754 "Using TrilinosWrappers::SolverCG in inverse_operator()"
Hi,

I am trying to solve the linear system in step-60 but using distributed triangulations.  Following the routine `solve()` in step-60, I define an inverse operator for the stiffness matrix using the CG solver from `TrilinosWrappers::SolverCG`. The code compiles successfully but a dealii exception is thrown out at the evaluation of the inverse operator with the following additional information:

[2021-09-12 04:53] jppelteret commented on #12754
I think that this is an error with your code (due to our current lack of documentation), and that you need to change `auto preconK = linear_operator(K, preconditioner);` to `auto preconK = linear_operator<LA::MPI::Vector>(system_matrix, preconditioner);` or maybe just put the `preconditioner` directly into the `inverse_operator`. I'll see if I can dig up a concrete example of the former approach i

[2021-09-12 08:39] lwy5515 commented on #12754
Thank you so much for the clarification.

[2021-09-12 08:44] jppelteret commented on #12754
Perhaps you can give either of those (or both) modifications, and let us know if that fixes the issue :-)

[2021-09-12 09:18] lwy5515 commented on #12754
@jppelteret
Both suggestions fix the issue. I also test with
[code]
It seems that this does not work (with the same error message). So basically I should set up `preconK` with `system_matrix` instead of the operator `K`.  But I am a bit confused since in step-70
https://github.com/dealii/dealii/blob/54c0f16eb4ef239621eaeeb46b9209ae766e4a73/examples/step-70/step-70.cc#L1561-L1562
Any suggenstions?

[2021-09-12 09:28] luca-heltai commented on #12754
I think this issue is present in your example (and not in step 70), because in step-70 we use deal.II solvers, and not Trilinos ones. When using a deal.II solver, the preconditioner and the linear operators do not initialize the inverse Payload, since trilinos does not know how to interpret our solver as an EpetraOperator.

I agree that this is very opaque, and we should fix it in the documentatio

[2021-09-12 11:11] jppelteret commented on #12754
I guess that why step-70 works is that the `amgA` is never used within an `inverse_operator` and, as Luca implied, doesn't setup or use the inverse payload.

Ok, having looked through some of the code I now agree that this must be a bug and that it's a code path that hasn't been tested yet. It looks to me that we have everything in place with the expectation that this should work (we permit `Linea

[2021-09-12 11:24] jppelteret commented on #12754
Actually, I think that I have some idea what the problem is could be. The methods that set up the `inverse_payload` for Trilinos matrices are
- https://github.com/dealii/dealii/blob/master/include/deal.II/lac/trilinos_sparse_matrix.h#L2151-L2157
- https://github.com/dealii/dealii/blob/master/include/deal.II/lac/trilinos_sparse_matrix.h#L2176-L2182

None of those are specialised for a type `Precond

[2021-09-12 12:06] lwy5515 commented on #12754
Well. I got the same error message.

Here is a test based on step-40: [step-40.cc.zip](https://github.com/dealii/dealii/files/7149530/step-40.cc.zip)

[2021-09-12 20:50] jppelteret commented on #12754
Thanks for the test. I managed to simplify it further, mimicking what was done in the other step-40 based tests in the test suite. I've also opened a PR that fixes this issue.

[2021-09-14 22:50] blaisb commented on #12594
Bumpity Bump :). I tried to look into this from numerous angles, but I still don't understand what's going on :(

[2021-09-15 10:22] #12754 closed

[2021-09-15 13:01] luca-heltai commented on #12594
So the error that KINSOL is throwing out seems to be: KIN LINESEARCH NONCONV (-5), that is  `The linesearch algorithm was unable to find an iterate sufficiently distinct from the current iterate.` This looks like it could be a setting not being correct.

My guess is that in the earlier versions of the kinsol wrapper, some of the settings were not read correctly (we were, in fact, initializing KINS

[2021-09-15 16:31] blaisb commented on #12594
That makes sense. I have found the behavior to be very erratic right now, so clearly there is a setting not set correctly (or maybe not even initialized). @lpsaavedra and I implemented KINSOL in Lethe and for some cases, the behavior of the first iteration is identical to a classical Newton's method, which is what I found expect ( a full newton step is taken), but for other cases, KINSOL is unable

[2021-09-16 16:22] kronbichler opened #12763 "MatrixFree setup of face data: Set up what the user requests"
In the setup of `MatrixFree` with faces enabled, we currently set up both the inner faces and the boundary faces if the user requests either of the two. We should fix this, so that eventually only the things that were actually requested get constructed. The most pressing case is that a user only requested boundary faces, but got inner faces and some slowdown in the ghost exchange induced by the po

[2021-09-17 20:40] bangerth commented on #12752
At least the first of these code snippets appears correct to me since it pertains to per-cell data. I agree that everything that invokes `global_num_cells` looks suspicious and should probably be `types::global_cell_index`.

[2021-09-17 21:16] tjhei commented on #12752
I disagree. This is an offset into the data file and is used in the MPI IO call where the type is ``MPI_Offset`` (64 bit). If your file is bigger than 4 GB, this will fail.

[2021-09-19 06:52] #12763 closed

[2021-09-20 20:56] bangerth commented on #12594
Since we know which patch broke step-77, is there a way to undo individual parts of the patch to see what part broke the functionality?

[2021-09-22 16:44] blaisb commented on #12594
That could be done. I just don't have a good understanding of the KINSOL wrappers. I can take a jab at it though and see which removed element broke things. It's just that it's such a blackbox wrapper that it is difficult to see what's going on.
My best bet right now is to solve problems and compare the results with what I obtain using a regular Newton method, at least for the first iteration, to

[2021-09-24 05:31] mayrmt opened #12774 "Trilinos: use Tpetra without enabling Epetra"
## Current status

When configuring with `DEAL_II_WITH_TRILINOS`, it is automatically assumed, that Trilinos enables the `Epetra` linear algebra stack. In addition, one can enable the `Tpetra` stack via `DEAL_II_TRILINOS_WITH_TPETRA` (optional).

Epetra is always enabled. Hence, one cannot use Tetra only.

## Problem description

In applications, one can only use _one_ linear algebra stack. When m

[2021-09-24 07:00] agrayver opened #12775 "No warning/error a non-conforming mesh with FE_NedelecSZ"
As reported by @Sebastian-47 on the mailing [list](https://groups.google.com/g/dealii/c/_10WdR72sek), FE_NedelecSZ, which does not support hanging nodes yet, does however run on a non-conforming mesh without any error even in debug mode, producing wrong results.

I think it should throw a ExcNotImplemented if hanging nodes are encountered.

[2021-09-27 12:02] JiaShumei92 opened #12777 "How to calculate solution at every cell center point?"
Dear every dealii user,
Wish you good day!
I am a beginner to dealii. The version that I am using is 9.3.0.
I have caught with a problem when I am solving my FEM problems. Could anyone please help me with it?
I am intended to get all active cells` center point values, so I followed the tutorials and use the following coding.

[code]

The problem is that when my active cell`s amount is large, this

[2021-09-27 12:09] peterrum commented on #12777
Take a look at step-19 and how `FEPointEvaluation` is used:

https://github.com/dealii/dealii/blob/9e557027ad5ff78f4fd2544962516687107362be/examples/step-19/step-19.cc#L655

You can simply fill `particle_positions` with your `(0.5)^d`.

Hope this helps! A general remark: normally we ask such type of questions on the google mailing list.

PM

[2021-09-27 12:28] JiaShumei92 commented on #12777
Thank you very much for your suggestion. I am learning step-19 now. I am sorry that I cannot open "https://groups.google.com/g/dealii" net address. So I put my question as an issue.

[2021-09-27 13:45] Rombur commented on #12774
@mayrmt Yes, that something we should change. `Epetra` is not optional for historical reason. Another problem is that right now, we don't have wrappers for the entire `Tpetra` stack (Belos, Amesos2, etc.).
As for the solution, I think option 1 is the way to go. My understanding is that if the Trilinos developers could kill Xpetra, they would.

We will be happy to take any patch that get us closer

[2021-09-27 15:19] drwells commented on #12777
If you always need values at the cell center, another option is to use `QMidpoint` and `FEValues::get_function_values()`.

[2021-09-27 17:20] masterleinad commented on #12774
@mayrmt How much success have you had using `Tpetra` with `deal.II`? IIRC we don't have support for `Tpetra` matrices yet.

[2021-09-27 23:07] bangerth commented on #12774
I think that's the key question: all of the `TrilinosWrappers` classes build on Epetra, but we don't have a complete replacement for these classes that would build on Tpetra. We would *like* to have such replacements (in which case we would just remove the Epetra interfaces) but we lack the manpower to write all of these interfaces -- help is of course always welcome!

[2021-09-28 14:08] peterrum opened #12780 "Reevaluate MF::AdditionalData::use_fast_hanging_node_algorithm"
as commented in https://github.com/dealii/dealii/pull/12779#pullrequestreview-765482572

[2021-10-04 15:09] JiaShumei92 commented on #12777
Thank you again! I have gotten my cell centers' solutions following @drwells suggestions and step-9 tutorial 'GradientEstimation' class.
The kernal lines are as follwing:

//
scratch_data.fe_midpoint_value.reinit(cell);   //initialize FEValues object at an active cell;

scratch_data.fe_midpoint_value.get_function_values(scratch_data.solution,    //my whole solutions at nodes;

[2021-10-04 15:14] JiaShumei92 commented on #12777
Thank you very much for your helpful suggestions! I have solved my problem successfully with `QMidpoint` and `FEValues::get_function_values()` methods. I put some of my kernal lines at the reply to @peterrum. (It is maybe useful to other users.)
 Wish you good day!

[2021-10-04 15:19] #12777 closed

[2021-10-04 21:32] #12477 closed

[2021-10-06 00:04] jurombo commented on #12474
Am encountering this problem on openSUSE Tumbleweed

[ 81%] Linking CXX executable ../bin/step_3_simplex.debug
/usr/lib64/gcc/x86_64-suse-linux/11/../../../../x86_64-suse-linux/bin/ld: ../lib/libdeal_II.g.so.10.0.0-pre: undefined reference to `dealii::FE_PolyTensor<1, 1>::requires_update_flags(dealii::UpdateFlags) const'
.
.
.
/usr/lib64/gcc/x86_64-suse-linux/11/../../../../x86_64-suse-linux/bin/l

[2021-10-06 04:19] jurombo commented on #12474
MathW15Lnx:/home/jurombo/Downloads/dealii/build # gcc --version
gcc (SUSE Linux) 11.2.1 20210816 [revision 056e324ce46a7924b5cf10f61010cf9dd2ca10e9]
Copyright (C) 2021 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
####
MathW15Lnx:/home/jurombo/Downloads/dealii/bui

[2021-10-06 12:46] bangerth commented on #12474
I don't know what to suggest. This appears to be a compiler bug.

[2021-10-11 21:02] jppelteret opened #12815 "Fix typo in step-44 theory documentation"
In step-44, the implementation of
[code]
uses the fourth order symmetric tensor in the second term, while the theory uses the non-symmetric form
<img width="486" alt="image" src="https://user-images.githubusercontent.com/10460610/136855015-768a81c2-149b-436b-88c5-70de6f89b777.png">
<img width="691" alt="image" src="https://user-images.githubusercontent.com/10460610/136855162-2bf027d1-bfb1-4698-98b

[2021-10-12 08:19] anates opened #12817 "Compilation with boost-1.77 fails due to "Operation not implemented" in geometry"
Hei,
when compiling deal.II (latest version) with boost-1.77.0 compilation fails with the attached message below (had to attach it as file due to char limit):
[make_error.log](https://github.com/dealii/dealii/files/7328169/make_error.log)
detailed.log is attached.
[detailed.log](https://github.com/dealii/dealii/files/7328159/detailed.log)

[2021-10-12 14:20] anates commented on #12817
I can take a look as soon as I have more time again, but atm. I just needed a working deal.II-Installation, thus I'll run with 1.76 for the upcoming weeks…

[2021-10-12 15:30] tamiko commented on #12817
@drwells Good point, let's do that.

[2021-10-13 21:19] bangerth opened #12826 "step-49 example gmsh input file doesn't work"
With gmsh 4.8.4 (downloaded yesterday), I get the following error when doing `gmsh -2 example.geo`:
[code]
Line 88 is this one: https://github.com/dealii/dealii/blob/master/examples/step-49/example.geo#L88 . It uses the `Circle` primitive with 6 arguments (3 for the center coordinates, one for the radius, one for starting and one for ending angle of the circular arc). Apparently gmsh 4.8.4 does no

[2021-10-15 07:07] donggiang opened #12831 "compiling issue"
Hello,

I'm a new user of dealii. I've tried  compiling dealii with trilinos. I used the same script that builds trilinos as provided in dealii readme (https://www.dealii.org/developer/external-libs/trilinos.html) except turning off SEACAS package, and Trilinos was built successfully. However, I had issues below.  It's super helpful if someone can give any recommendation to resolve it.

Thanks,
Gi

[2021-10-15 16:48] donggiang commented on #12831
yes, it happened exactly what you described. And I fixed it.  Thank you so much :)).

[2021-10-17 18:33] blaisb commented on #12594
So I have taken another look at this problem.
It seems that a lot of the default parameter value that we set are not adequate (and they do not correspond to the default value specified by KINSOL)

The problematic variables are :
function_tolerance (KINSetFuncNormTol)
step_tolerance (KINSetScaledStepTol)
maximum_newton_step (KINSetMaxNewtonStep)

In the documentation, everything is defined here:
![

[2021-10-19 01:45] tjhei commented on #12826
I am working on it, @bangerth

[2021-10-19 01:52] bangerth opened #12842 "Ordering of vertices for wedges and pyramids"
@peterrum -- primarily a question for you:

* In `ReferenceCell::vertex()`, we have this code for the ordering of vertices of wedges:
[code]
It is a little bit surprising that the origin and its translate in the z-direction are the third and sixth vertices, rather than the first and fourth. It would have been nice if the wedge were simply the tensor product of the vertices of a triangle with the z

[2021-10-19 18:08] bangerth commented on #12456
I tried this out, and it works "in principle". Specifically, I tried the following:
[code]
Which then provides the following:
![image](https://user-images.githubusercontent.com/7504421/137966028-309aa1fd-0405-4c3e-864a-5ca837e4d610.png)

So this works, though we would have to undo the escaping of `$` signs in the filter script. The bigger problem, however, is that this only works if we run all lat

[2021-10-20 14:16] gfcas opened #12854 "constant_modes for PreconditionAMG"
For our multiphysics application problem, we would like to use the exact functionalities of tutorial step-46 (hp+FE_Nothing) but with p:d:Tria+Trilinos and solve the linear system with GMRES+AMG. While rewriting the tutorial step-46 to test the functionalities, we encountered the following problem:

The AMG preconditioner does not work so well. As a first step, we made it work by renumbering the s

[2021-10-23 13:59] bangerth opened #12870 "Ordering of evaluation points when outputting data on higher-subdivision tets"
@peterrum Another question for you. In `data_out_dof_data.templates.h`, we have this code:
[code]
On the other hand, for hypercubes we have this:
[code]
For hypercubes, this means that we arrange points in some sort of lexicographic order. I don't actually know how `generate_simplex_evaluation_points()` does things (the documentation shows where the points are, but not their order), but let's assu

[2021-10-23 20:01] tjhei opened #12873 "MPI IO file write with >2GB individual writes"
We are using ``MPI_File_write_at`` with data type CHAR to write large blobs of data in several places, like
https://github.com/dealii/dealii/blob/61d7023645ce073cea11708699e278509b63401c/source/distributed/tria_base.cc#L1525-L1531

Note that the ``count`` parameter (the number of bytes to write) is a signed ``int``. It can easily overflow if we try to write more than 2 GB from a single rank. This

[2021-10-27 21:47] Rombur opened #12894 "Support for Kokkos in deal.II"
In PR https://github.com/dealii/dealii/pull/12821, we have talked about using Kokkos inside deal.II. Before we do this, there are a couple of things we should decide:
 - where we will use Kokkos: just to replace CUDA? everywhere?
 - what the interface should look like?

Where to use Kokkos
-------------------
While I don't think we need to use Kokkos everywhere, I am also against limiting the use

[2021-10-30 11:36] mwichro commented on #11106
I have clang-format 13 that is the default version on the newest Ubuntu. It looks like they have fixed the "bug" I was considering a feature: https://stackoverflow.com/questions/38392889/clang-format-align-asterisk-of-pointer-declaration-with-variable-name

`PointerAlignment: Right` now will have a different effect, i.e. it will move * and & close to the variable.  The behaviour closest to the one

[2021-10-30 13:20] tjhei opened #12900 "test failures from dataout changes"
I just saw that #12874 breaks ASPECT (https://github.com/geodynamics/aspect/pull/4390), so I decided to take a look at our testsuite and at least tests/mpi/data_out_hdf5_02.cc is broken as well, see https://cdash.43-1.org/test/38869830

It would be good to check all of the following locations:
[code]

[2021-10-30 20:32] masterleinad commented on #11106
I think we settled on using `clang-format 11` for a while.

[2021-10-30 20:32] #11106 closed

[2021-10-31 19:11] bangerth commented on #12900
I think that the HDF5 test is the only one that is broken. I always ran all tests of the form `data|out.*debug` locally and the HDF5 test is the only one I didn't because I don't have the HDF5 libs installed on my laptop.

Patch for the HDF5 test coming up.

[2021-11-01 07:54] #12900 closed

[2021-11-01 21:14] bangerth opened #12906 "Support wedges and pyramids in DataOutFaces"
#12895 and predecessor patches implement functionality in DataOutFaces and base classes to output data on faces of simplex meshes, but I punted on wedges and pyramids because it wasn't clear to me how face evaluation via `FEFaceValues` works on cells with different kinds of faces. The details are mentioned in this comment thread: https://github.com/dealii/dealii/pull/12895#pullrequestreview-791365

[2021-11-03 14:26] masterleinad commented on #12894
I think the main intent is to use `Kokkos` in all the places where we are currently using `Cuda`, i.e. for `LA::distributed::Vector`  and `MatrixFree`. I would leave the CudaWrappers preconditioners, matrices and vectors, though, since they most of them are calling `CUDA`-spedific functions that are not easily replaceable by `Kokkos`. Also note that `Tpetra` should provide aternatives that are por

[2021-11-03 19:37] tamiko commented on #12594
I will go ahead and revert #12216 on the dealii-9.3 release branch for the point release.

[2021-11-03 23:20] bangerth commented on #12894
The regular `Vector` and `SparseMatrix` classes have plenty of uses of `parallel_for` loops that we currently map onto the TBB but that could just as well use Kokkos functionality. It would be relatively easy to do that there.

Restricting the interface to only selecting memory space or execution space seems reasonable to me. If we don't currently foresee a need to mix and match different executio

[2021-11-04 10:20] jppelteret opened #12914 "Compilation error when using Sundials and MPICH"
From https://github.com/spack/spack/issues/27183. It looks like there are some troubles when the Sundials wrappers are compiled using MPICH.

Salient lines from build output:
[code]

One possible source of the problem is explained in https://github.com/spack/spack/issues/27183#issuecomment-959787858

[2021-11-04 10:28] kronbichler commented on #12914
This looks indeed very strange:
https://github.com/dealii/dealii/blob/d98035ee44244d0994598ab7709f0842a97af3ec/include/deal.II/sundials/n_vector.templates.h#L526-L550
Shouldn't we return `MPI_Comm` from those functions and use `MPI_COMM_SELF` for the vectors without MPI, as we do elsewhere. That definition is always around due to https://github.com/dealii/dealii/blob/d98035ee44244d0994598ab7709f08

[2021-11-04 22:28] kuljitvirk opened #12916 "SparseDirectUMFPACK does not work correctly with BlockSparseMatrix"
Observe that at line 202 in sparse_direct.cc, the indexing variable should be `element` not `cursor`. Because of this line ALL BlockSparseMatrix based codes in complex domain will give wrong results when using UMFPACK. Please fix this in upcoming releases. Some of us use this library for doing electrodynamics with complex media and it was a long frustrating journey to this bug.

Here is your code

[2021-11-05 03:38] bangerth commented on #12914
Actually, @sebproell is the right person to ask. I was confused by the function as well when I had reviewed the patch. I don't recall the details, but think that SUNDIALS required this interface?

[2021-11-05 03:44] bangerth commented on #12916
Ah yes, this looks wrong :-( Good detective work finding this place!

Could we interest you in creating a patch? You'd then also be listed among the authors of deal.II!

[2021-11-05 03:50] bangerth commented on #12914
For reference, the function was added in #11736.

[2021-11-05 03:52] bangerth commented on #12914
See also https://github.com/dealii/dealii/pull/11701#discussion_r575297184

[2021-11-05 04:02] bangerth commented on #12914
The underlying issue is that SUNDIALS has an interface that requires using codes to return MPI communicators as a `void*`: See the `nvgetcommunicator` function pointer here: http://runge.math.smu.edu/arkode_dev/doc/guide/build/html/nvectors/NVector_Description.html

But then the SUNDIALS manual at https://computing.llnl.gov/sites/default/files/cv_guide-5.7.0.pdf  on p. 137 documents this function

[2021-11-05 04:09] kuljitvirk commented on #12916
Hi Wolfgang,

Thanks for quick response. I would love to create a patch and contribute
examples after validating them. I actually have never made a patch myself
and so would appreciate instructions.

Thanks
Kuljit

On Thu, Nov 4, 2021 at 8:44 PM Wolfgang Bangerth ***@***.***>
wrote:

[2021-11-05 08:39] sebproell commented on #12914
@bangerth I just checked the implementation of Sundials' own parallel vector and the Trilinos wrapper and you seem to be right about this one :+1:

I will provide a fix.

[2021-11-05 08:41] kronbichler commented on #12914
Do we also need to fix this in the 9.3.2 release branch, as this was part of the release?

[2021-11-05 19:31] jppelteret commented on #12916
Hi @kuljitvirk,

You can find some basic information [here, on our Wiki page](https://github.com/dealii/dealii/wiki/Contributing). At the bottom of the page is some additional information on how to use Git and GitHub.

[2021-11-05 20:17] bangerth commented on #12914
Yes, we need to take this over so that xSDK gets it in the next release (which will use 9.3.2).

@tamiko ?

[2021-11-06 08:09] #12914 closed

[2021-11-09 18:52] marcfehling commented on #12435
Are you using the `Intel oneAPI` suite? You can have a look at our [`github actions` script](https://github.com/dealii/dealii/blob/7c44053f6c264aecc0cd40c5bf29ea449087bda5/.github/workflows/linux.yml#L186-L196) in which we specified the locations of lapack, blas, and mpi. Let us know if that helped!

[2021-11-11 20:27] bangerth opened #12933 "Error with distribute_sparsity_pattern"
This code that my student @juleoc02 wrote (and which is basically what step-40 does), give an error:
[code]
The error is this:
[code]

I am totally confused because the code looks ok to me, it runs successfully in step-40, and I don't understand the error. I could use some help understanding what is wrong (or what is different in step-40).

[2021-11-11 20:32] bangerth commented on #12933
Oh, we found it: The code should have been using
[code]
instead of a sequential triangulation. In the existing code, *every* DoF is locally owned and locally relevant.

So that reduces the question to the following: Could we have come up with a better error message?

[2021-11-13 21:36] #12933 closed

[2021-11-15 10:37] fAndreuzzi commented on #11955
Hi @bangerth, I would like to work on this starter project. What do you recommend to use in order to detect if the template type `T` is built-in? I found `is_fundamental` ([reference](https://en.cppreference.com/w/cpp/types/is_fundamental)) but I do not know whether it is the optimal choice.

[2021-11-15 14:55] masterleinad commented on #11955
I think it makes sense to add the optimization for MPI data types. For everything else, you would likely need to serialize or create a custom MPI data type to get the padding right.

In https://github.com/dealii/dealii/blob/9d8c8e932003df38d23d251a4ee660613eb78775/include/deal.II/base/mpi.templates.h#L46-L174, you can see that we already have functionality to convert C++ data types to the correspo

[2021-11-15 16:42] fAndreuzzi commented on #11955
Thank you @masterleinad, this is exactly what I was looking for. Am I allowed to use [concept](https://en.cppreference.com/w/cpp/language/constraints) from C++20?

I would like to define a `concept` like the following:
[code]

and then provide two versions of `broadcast`, where the one meant to be used with built-in types is defined in the following way:
[code]

[2021-11-15 16:44] peterrum commented on #11955
Unfortunately not. We are still at C++14.

[2021-11-16 05:03] bangerth commented on #11955
Ah, that would be nice if we could already use C++20 :-) Fortunately, MPI's list of data types is fixed, and you could use something like this to find out whether a type in question is in a specific list (encoded in the form of a `std::tuple<...list of MPI data types...>`): https://stackoverflow.com/questions/25958259/how-do-i-find-out-if-a-tuple-contains-a-type

A small amount of `std::enable_if`

[2021-11-18 21:37] #12435 closed

[2021-11-20 03:21] tjhei opened #12974 "Bug: writing large vtu files fails"
``DataOutInterface<dim, spacedim>::write_vtu_in_parallel`` can currently only handle the situation where individual ranks write less than 2GB of data as ``count`` in ``MPI_File*`` are of type ``int``:
https://github.com/dealii/dealii/blob/ebd1e52f5b518d78744476b6c407042438430682/source/base/data_out_base.cc#L7714

See #12873 for a way to fix this.

[2021-11-22 15:55] #11380 closed

[2021-11-23 18:54] bangerth opened #12986 "Big MPI data type test fails"
On both my laptop and my dev workstation, the new test `mpi/create_mpi_datatype_01.mpirun=2.debug` fails. On my laptop, the assertion in question is
[code]
which fails because
[code]

@tjhei: FYI. This was introduced in #12964.

[2021-11-23 18:57] tjhei commented on #12986
What kind of MPI implementation and version do you have?

[2021-11-23 19:06] bangerth commented on #12986
On my laptop, I use OpenMPI 2.1.1.

[2021-11-23 23:00] tjhei commented on #12986
I am surprised that you trigger the assert, as it is inside ``#      if DEAL_II_MPI_VERSION_GTE(3, 0)``. What MPI version does it state in your ``detailed.log``?

[2021-11-24 06:48] mayrmt commented on #12774
@Rombur Yes, if Trilinos could get rid of `Xpetra`, they would. So, I agree that the user needs to activate either the `Epetra` or `Tpetra` stack (with the other one being disabled).

@masterleinad @bangerth So far, I have adapted CMake to force the user to either choose `Epetra` or `Tpetra`. I'm trying to figure out a path forward to tackle `Tpetra`-related changes.

I'm now guarding `Epetra` cod

[2021-11-24 10:02] #11039 closed

[2021-11-24 10:04] bangerth commented on #12774
@mayrmt Thanks for working on this!

As for template parameters: If you just want to convert the existing Epetra wrappers, then think `Scalar=double`, `LocalOrdinal=unsigned int` and `GlobalOrdinal=types::global_dof_index` are appropriate, as would be setting both to `types::global_dof_index`. Whether this choice is acceptable I don't know: `types::global_dof_index` is an unsigned data type. If th

[2021-11-24 10:08] bangerth commented on #12986
I reinstalled my laptop yesterday, so I don't have that setup any more. But on my workstation I have MPI version 3.0, based on
[code]

[2021-11-24 13:11] Rombur commented on #12774
There are plans to get ride of the `GlobalOrdinal` templates parameters https://github.com/trilinos/Trilinos/issues/2548 This will probably take a long time before it gets done but it might be a good idea to already pick `GlobalOrdinal=int64_t`

[2021-11-24 16:13] masterleinad commented on #12774
`Kokkos::Compat::KokkosSerialWrapperNode`

[2021-11-24 16:18] tjhei commented on #12986
Ok, thanks. I can confirm that things are broken with OpenMPI (not only the test).

That is a painful and annoying reminder that I should not assume things to work just based on one implementation (mpich in this case) on my machine.

[2021-11-24 16:56] bangerth commented on #12986
Bummer. It's annoying that none of the earlier MPI calls returns an error since clearly they must be doing something wrong.

Do you have a system on which you can test and check what's going wrong?

[2021-11-24 17:00] tjhei commented on #12986
So, OpenMPI 1.10.2 fails to create a datatype bigger than 2^32 (well, every call succeeds without error but the total size reported is wrong and I assume that the type is broken as well, not sure). You seem to have the same problem with 2.1.1.

I then checked OpenMPI 4.0.3 and it works correctly.

I am not sure what to do at this point. Note that all 3 versions are MPI 3 compliant.

[2021-11-24 17:05] tjhei commented on #12986
And it turns out that the types are indeed created correctly and you can use them (at least MPI_Send works just fine). It just happens that MPI_Type_size_x reports the wrong value. :-(

[2021-11-24 17:14] tjhei commented on #12986
We could also just remove the Assert, because the MPI type seems to work correctly. The only thing broken on older OpenMPI is the test (when you are trying to inspect the size).

[2021-11-24 17:16] tjhei commented on #12986
In summary:
Intel MPI 19: works
MVAPICH2 2.3: works
MPICH 3.3.2: works
OpenMPI 4.03: works
OpenMPI 1.10.2, 2.1.1: test/assert fails (because MPI_Type_size_x reports the wrong value), but code runs correctly.

[2021-11-24 17:24] bangerth commented on #12986
I can confirm that OpenMPI 4.0.3 works for me as well.

Maybe I misunderstood: Are you saying that with older OpenMPI the actual data type is constructed as expected, and data sent with it is correctly transported, but that the `MPI_Type_size_x` function is the only one that has the bug? That is, for example, if we had a test that allocates 5GB of data, initializes it with (pseudo-)random numbers,

[2021-11-24 19:00] tjhei commented on #12986
Correct! The test does exactly that as well (scroll to the bottom function).

[2021-11-24 20:52] bangerth commented on #12986
Ah yes, indeed. But like you say in your edit, it would be nice to test this for >2GB as well. (Separately, you only check the first and last element of the array, but not the values in between. That's probably ok, though now I'm paranoid :-) )

[2021-11-25 12:45] elauksap opened #12993 "Memory leak with simplex meshes"
Hi all!
@michelebucelli and I discovered a possible memory leak arising when using simplex meshes, as already reported to @peterrum.

# MWE
We ended up with the following MWE: [memory_leak.zip](https://github.com/dealii/dealii/files/7602940/memory_leak.zip)

The code just instantiates a FE vector and calls `DataOut::build_patches()` for, _e.g._, 1000 times.

The preprocessor variable `WITH_SIMPLEX

[2021-11-25 13:32] kronbichler commented on #12993
It appears as if the leak is already triggered by this code:
[code]
As can be verified by `valgrind --leak-check=full ./memory_leak`. I can't say for now whether the problem is in `AlignedVector` or somewhere else, the indications are inconclusive:
[code]

[2021-11-25 15:46] elauksap commented on #12993
Thanks @kronbichler, good point!

Roughly speaking, the output of valgrind suggests that, among all the [protected members of `BarycentricPolynomials<dim>`](https://github.com/dealii/dealii/blob/master/include/deal.II/base/polynomials_barycentric.h#L317), `polys` is the only one that does not leak memory upon cloning, whereas all others do.

It seems that, for whatever reason, the memory layout of

[2021-11-25 16:51] peterrum commented on #12993
Could you try out replace the tables by simple `std::vectors`? This might be a problem inside of `AlignedVector`. @bangerth played around with the deleters half a year ago. Maybe he has a clue!

[2021-11-26 08:59] elauksap commented on #12993
@peterrum indeed using `std::vector`s instead of `Table`s seems to solve the issue:

https://github.com/elauksap/dealii/commit/d197e996d0bb585f56960bfb12249abb058b8432

![output_patched](https://user-images.githubusercontent.com/5830450/143554388-44c0cd6f-a1da-4073-ad2b-8ce98a4424dd.png)

[2021-11-26 09:14] peterrum commented on #12993
Excellent. Thank you! So it is `Table`/`AlignedVector`. My suggestion would to make your commit to a PR and merge it as a quick fix. The issue with `AlignedVector` still needs to be investigated! What do others think?

[2021-11-26 10:02] kronbichler commented on #12993
I agree. We need to investigate the underlying issue with `AlignedVector` or this polynomial class to further isolate where the error comes from. This could be just setting up an `AlignedVector` with this specific class and see what happens. I ran `tests/base/aligned_vector_{01...07}` with `valgrind --leak-check=full` but could not see any memory leak except the tbb-related ones we've always had.

[2021-11-26 16:08] elauksap commented on #12993
I'm interested into investigating the issue with `AlignedVector`! Please let me know how if I can be of help.

[2021-11-26 20:47] #12993 closed

[2021-11-26 20:48] peterrum opened #12998 "Memory leak `Table`/`AlignedVector`"
as pointed out in #12993

[2021-11-27 14:51] elauksap commented on #12998
This is the most minimal working example that I could write to reproduce the memory leak.

It seems to first appear when cloning a class containing a `Table` of objects containing another `Table` (each initialized with a size > 0).

[code]

The output of `valgrind --leak-check=full ./memory_leak` is:
[code]

[2021-11-27 15:03] elauksap commented on #12998
The interesting thing is that the following code (which is equivalent to the one above but without the intermediate wrapper class) does not leak:

[code]

[2021-11-28 19:22] bangerth commented on #12998
I'll take a look in the next couple of days.

[2021-11-28 22:01] elauksap commented on #12998
@bangerth I would be glad to help, if possible.

[2021-11-29 05:23] bangerth commented on #12998
I think you've done all you could with creating a small test case :-) I just need to get back to work -- the past week was our Thanksgiving break, and I tried to actually take time off from work.

[2021-11-29 16:51] bangerth commented on #12998
For reference, here is a test that outputs the problem more directly:
[code]
with output:
[code]
Objects number 3 and 5 are never destroyed.

[2021-11-30 12:27] #12998 closed

[2021-11-30 17:11] bangerth commented on #12986
@tjhei So what do we want to do about this?

[2021-11-30 17:22] tjhei commented on #12986
I am busy with other stuff this week, but I will get back to it soon. My first plan is to run some more tests to understand what works and what doesn't. Based on that, we can hopefully find something that works somewhat reliably. The whole thing is somewhat disappointing, though.

[2021-11-30 23:03] bangerth commented on #12986
Good plan, thanks for looking into it! (And yes, I feel you. Bugs in external software suck :-( )

[2021-12-01 01:15] bangerth opened #13020 "BOOST uses deprecated BOOST headers :-("
On Ubuntu 21.10, the BOOST version is 1.74 and it produces these unfortunate warnings:
[code]
In other words, one of the BOOST header files is `#include`ing a deprecated BOOST header file and so we get the warning. Over and over. Sigh.

The `BOOST_HEADER_DEPRECATED` macro is defined like this:
[code]
That would suggest that we `#define` the `BOOST_ALLOW_DEPRECATED_HEADERS` variable somewhere, at l

[2021-12-01 01:29] bangerth commented on #13020
I tried something like this:
[code]
but that doesn't seem to trigger...

[2021-12-01 02:36] tamiko commented on #13020
Yes, I have seen this warning for the better part of a year now on Debian and Ubuntu systems (when packaging deal.II).
Ubuntu/Debian at least fixed one of the two occurences: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=%23980497
We seem to hit another one that is still unresolved.

[2021-12-01 02:49] tamiko commented on #13020
What is quite misleading is this include chain:
[code]
because `/usr/include/boost/smart_ptr/detail/sp_thread_sleep.hpp` actually doesn't include the deprecated header file in question. It includes the header file defining the `BOOST_HEADER_DEPRECATED` macro...

The boost headers that actually include the deprecated files are as follows:
[code]
poking around a bit, the following is a good test:
[c

[2021-12-01 02:56] bangerth commented on #13020
Do you want me to try this out, or do you have something already about ready?

[2021-12-01 02:58] tamiko commented on #13020
@bangerth I have the following mini patch that seems to fix the problem:
[code]

Honestly, I wouldn't bother with a configure check and simply apply the patch above...

[2021-12-01 03:06] bangerth commented on #13020
This works, but I'm concerned that we're using deprecated header files in our own code base and run into trouble that way. I would rather only disable the warning if we know that BOOST is broken itself, rather than if it might be our fault.

[2021-12-01 03:09] tamiko commented on #13020
@bangerth Sure. Let me make a pull request.

[2021-12-03 21:18] marcfehling commented on #11599
@elauksap -- FYI

[2021-12-03 22:33] bangerth commented on #13020
I still get one warning:
[code]
@tamiko -- since it wasn't the fault of `utilities.h`, do you see right away where I need to fix this?

[2021-12-05 08:21] tamiko commented on #13020
@bangerth On it.

[2021-12-05 19:32] lucasmyers97 opened #13030 "SparsityPattern serialization causing segfault"
When I serialize the `SparsityPattern` object constructed with default constructor I get a segmentation fault.
A minimal example is given below:
[code]
The only thing I get as output is:
[code]
My detailed.log file is given here:
[code]
Any help is appreciated.

[2021-12-05 20:13] tjhei commented on #13030
Do you know how to generate a backtrace in ``gdb``? That would be helpful to have to figure out what is wrong.

[2021-12-05 21:21] lucasmyers97 commented on #13030
I do not really know how to generate a backtrace.
Is this what you're asking for?
[code]

[2021-12-05 21:26] peterrum commented on #13030
The stack trace indicates that the following lines tries to access a nullptr:
https://github.com/dealii/dealii/blob/3f8a0ba838bbe9bffc7fee144de67d3ba2162655/include/deal.II/lac/sparsity_pattern.h#L1591

[2021-12-06 00:44] lucasmyers97 commented on #13030
Sweet, thank you for the debugging advice and for pointing out where the error happens. As far as the actual problem, is that my bad for trying to serialize a `SparsityPattern` object that hasn't been properly set up, or should the serialization procedure work regardless?  If the latter, is there any way to put a flag in the archive file to indicate the way `SparsityPatternBase` ought to handle th

[2021-12-06 03:38] bangerth commented on #13030
Not your fault. We should fix this -- this should just work.

I would serialize a `bool` at the beginning of the function that writes the information that is `true` if the object is non-empty, and then only writes data if that `bool` is `true`. Then in the reader, you'd first read the `bool`, and based on its value either read the rest of the data, or default-initialize it.

Would you like to give

[2021-12-06 13:26] fdrmrc opened #13034 "Wrong .prm files in step-60"
The `parameters.prm` files in step-60 are different w.r.t what you obtain after running the program. For instance we have https://github.com/dealii/dealii/blob/e1eec081b82e61b186f119c3611d643b1ee3a848/examples/step-60/step-60.cc#L248

while in the tutorial this is set to 7 in the .prm file. Also, if that parameter is set to 7, the following exception (concerning the discrete inf-sup) is thrown whe

[2021-12-06 21:21] tamiko opened #13037 "Compatibility with Boost 1.77 and upcoming Boost 1.78"
Opening a more detailed issue in favor of #12732 : It is currently not possible to compile against boost 1.77 and 1.78 with (at least) the following three major issues:

(a) The following code in https://github.com/dealii/dealii/blob/master/source/grid/grid_tools.cc#L5634
[code]
triggers
[code]

(b) Just trying to compile `grid_tools.cc` fails with:
[code]

So I am a bit at a loss here. Does this

[2021-12-07 00:10] bangerth commented on #13037
@luca-heltai ?

[2021-12-07 00:22] drwells opened #13040 "weird manifold id settings when converting to simplices"
I saw this when looking closely at #13035:

![bad](https://user-images.githubusercontent.com/3917035/144943441-e8398fd0-7387-46a5-95bf-addf1d1bfd22.png)

This should be a cylinder, but it isn't (the top left and bottom right are wrong). It looks like we are not setting two line manifold ids correctly. Here is the code:
[code]

[2021-12-07 00:44] bangerth commented on #13040
Ah yes, good eyes!

[2021-12-07 00:45] bangerth commented on #12916
@kuljitvirk Do you need any help with writing a patch for this?

[2021-12-07 05:18] kuljitvirk commented on #12916
Hi Wolfgang,

Sorry, I had been away from this project. It appears that I just have to
check out deal.ii into my github and then push changes up to it. After that
I will open a pull request. I will do it by 12/8.

Thanks
Kuljit

On Mon, Dec 6, 2021 at 4:46 PM Wolfgang Bangerth ***@***.***>
wrote:

[2021-12-07 10:12] #12817 closed

[2021-12-07 14:47] bangerth commented on #12916
Excellent, we look forward to it!

[2021-12-07 21:04] luca-heltai commented on #13037
I'll try to give a look tomorrow morning our time. It does seem like we need to change something in our box and point traits, but it should be doable.

[2021-12-09 03:00] #13020 closed

[2021-12-09 05:08] bangerth opened #13051 "Warning with newer GCC versions in matrix_free/fe_evaluation.h"
[code]

[2021-12-09 05:09] bangerth opened #13052 "Warnings in data_out_base.cc"
With gcc 11.2, I get this:
[code]

[2021-12-09 05:11] bangerth commented on #13051
Also:
[code]

[2021-12-09 17:18] DominicSoldner opened #13055 "p::d::T updating ghost cells mat-id"
Dear all,

We were wondering if it would be beneficial to include the update of the material-ids of ghost cells, similar to the update performed for the active-fe-index (using e.g. GridTools::exchange_cell_data_to_ghosts). We found the hint in the documentation of how this function is used for the DoFHandler internally. A minimal example is attached which just shows that the fe-index is communicat

[2021-12-09 18:17] marcfehling commented on #13055
Hello Dominic,

you could use exactly the same function [`GridTools::exchange_cell_data_to_ghosts`](https://www.dealii.org/current/doxygen/deal.II/namespaceGridTools.html#a9565dbf2f8e45fee28e40806870e2c98) for your purpose. The documentation even lists an example, which you could easily transfer to `material_id` by replacing the `fe_index` functions in your code.

To my knowledge, we do not restri

[2021-12-09 18:39] DominicSoldner commented on #13055
Hi Marc,

Thanks for your quick reply. Yes, indeed that does work I just wonder why it is not treated as an fe-index in terms of updating the ghosts by default. Reducing communication?
Thanks again

[2021-12-09 19:04] marcfehling commented on #13055
My guess is that this feature would only be used by very few users of the library. Usually we set the `material_id` at mesh initialization, and only ask for them on locally owned cells.

The amount of communication for only the `material_id`s should be low though, so I don't see any reason why we shouldn't do it generally. Maybe some other developer has a another (maybe different) opinion on this

[2021-12-09 19:15] DominicSoldner commented on #13055
Alright :) then we leave this issue open for now and wait for other opinions? Thanks again for the quick help :)

[2021-12-14 09:52] zerothi commented on #12817
I still get this error on `boost-1.78` and dealii 9.3.2

[code]

FYI.

[2021-12-14 13:02] drwells commented on #12817
Unfortunately we banned this version of boost after the point release. Since we still don't have a workaround I believe 9.3 will not be compatible with that version of boost, ever.

[2021-12-14 23:03] bangerth opened #13074 "Failure in ConsensusAlgorithms::NBX<T1, T2>::answer_requests()"
On my system, I have a number (~30) tests that perpetually seem to fail. Here is one:
[code]

Does anyone have an idea what is at the root of this? `mpi/fe_tools_extrapolate_05` is a test that is supposed to be run with 3 processes, as shown by the output files in `tests/mpi/`, so the invocation above should work.

I specifically care about this because after the error, the whole test hangs and ul

[2021-12-14 23:15] bangerth commented on #13074
For reference, the backtrace is this:
[code]

I also have this:
[code]

[2021-12-14 23:17] bangerth commented on #13074
And I think the issue lies here:
[code]
where `destinations` is an empty array.

[2021-12-14 23:21] bangerth commented on #13074
Although I don't know what the other processes have.

[2021-12-15 14:09] kronbichler commented on #13074
This seems to be a more detailed version of #12425. Thanks for the details @bangerth.

[2021-12-15 14:17] kronbichler commented on #13051
This compiler seems to be pedantic, doesn't it? It tries to call `memset` with bounds `24, 2040`, but the array length is only of 2 `size_t` (`n_lanes=2`) and the index range in the line above is also within `n_vectorization_actual` and `n_lanes`. The only way this would happen is that the compiler believes we could need to wrap around. It might help if we fix this
https://github.com/dealii/dealii

[2021-12-15 14:18] kronbichler commented on #13051
Alternatively, we can declare both variables as `std::size_t`, then the compiler should again know that we cannot wrap around the max index as this is a memory index.

[2021-12-15 16:51] bangerth commented on #13074
Here is a complete test:
[code]
In this test, one process wants to communicate with another 4 times. None of the other processes want to communicate at all.

[2021-12-15 16:52] bangerth commented on #12425
Let's close this in favor of #13074.

[2021-12-15 16:52] #12425 closed

[2021-12-15 20:38] peterrum commented on #13074
`destinations = {0,0,0,0};` is what I thought and the assert message `Process is requesting a second time!` indicates. A destination can be only specified once! I am not in favor of making the targets unique in CA. This is the task of the caller.

[2021-12-16 04:03] bangerth opened #13084 "Specialize consensus algorithms for the case where no answer is required"
While writing #13082 to fix #13074, I finally understood what the consensus algorithms really do (see my attempt at explaining this in #13080). In essence, these algorithms are meant where each process sends "requests" to other processes who then send an "answer".

But there are cases where no answer is actually needed, and in that case the current implementation is inefficient because it still se

[2021-12-16 04:43] bangerth commented on #13074
It turned out to be easy to fix. Though I will have to try the other implementation of the algorithm as well.

[2021-12-16 04:51] bangerth opened #13085 "Make ExtrapolateImplementation::send_cells() more efficient."
#13074 uncovered an issue where we are just really inefficient. Specifically, this function here:
[code]

First is that we send the data for each cell in individual MPI messages even if the receivers are the same. We should group things first into buffers for each destination.

Second, the call to `Utilities::MPI::compute_n_point_to_point_communications()` isn't cheap (see also #13084), but to mak

[2021-12-16 06:48] peterrum commented on #13084
The algorithm allocates on every process a vector of the size of comm. This is not really feasible at large scale. We could restore the old code for small sizes (<30/100 procs).

[2021-12-16 09:50] kronbichler commented on #13084
It probably depends on the context of what we consider *efficient* and what we want to specialize for. I agree that sending an empty message back is inefficient, and indeed the reduction is the most efficient algorithm for small number of MPI ranks (say not more than a few hundreds). However, there is an intrinsic O(n^2) scaling in the reduction of a vector of n entries on n processes, where n^2 i

[2021-12-16 14:31] bangerth opened #13089 "Fix indent script warnings"
On my Ubuntu 21.10 system, I get these warnings from the indent script several times:
[code]
I believe that the place where this is produced is here (note that `-n` is the same as the `--max-args` warned about):
[code]

I have to admit that I don't understand why `-n` and `-I` are incompatible and what to do without further reading.

[2021-12-16 15:38] bangerth commented on #13084
I didn't mean to reinstate the old algorithm. I'm just wondering whether we could avoid the "answer" message if we know that the original sender doesn't care about the answer. The example of the `compute_point_to_point_communication_pattern()` function shows that there are cases where the answer message is simply ignored. It should be possible to come up with an algorithm where it isn't even sent.

[2021-12-16 16:31] bangerth opened #13092 "Inordinately costly setup of linear operators with Trilinos"
@tamiko @jppelteret: FYI

My student @juleoc02 has found that it takes an inordinately long time to set up linear operators when using Trilinos payloads. Here is a test code, of which only the `vmult` function is actually of any kind of interest:
[code]
When run, this code produces this output:
[code]
So the `vmult` function takes more than half a second -- to do nothing: It just sets up linear op

[2021-12-16 17:37] #13051 closed

[2021-12-16 19:21] jppelteret commented on #13092
I'm busy looking through the code right now, but I have a small comment about the way that the linear operators are being used. I don't think that we envisioned that they'd used the way that they have been here, namely continuously recreated inside a repeated call (I'm not saying that this isn't legitimate -- its probably just not been thought of as a usage scenario). Can you not keep the creation

[2021-12-16 19:34] jppelteret commented on #13092
This is the set of calls that lead to the construction of the final linear operator:
- `operator-`: https://github.com/dealii/dealii/blob/master/include/deal.II/lac/linear_operator.h#L463
- negation of second operator: https://github.com/dealii/dealii/blob/master/include/deal.II/lac/linear_operator.h#L505-L532

In the negation (scaling by a factor `-1`) there are several copies of the original ope

[2021-12-16 19:36] tamiko commented on #13092
@jppelteret is exactly right.

The issue is that the `std::function` objects within the `LinearOperator` have to copy the function body from other `LinearOperator` object on creation. We (as in @luca-heltai, @ESeNonFossiIo and I) have actually benchmarked this back in the day. We made the conscious choice between relative ease of design (by using `std::function` objects) versus raw performance (as

[2021-12-16 19:40] tamiko commented on #13092
@bangerth Specifically for `operator-`. This had been a situation that always annoyed me: The problem being that our interface for `vmult()` and `vmult_add()` for our matrices should really read `vmult(Number scale, const Vector &...)` and allow to apply a scaling (for example with `-1.`) while applying a vector. This would avoid some of these silly captures.

[2021-12-16 20:12] bangerth commented on #13092
Thanks for your input already. We'll see that we move these variable declarations out of `vmult()` so that they have to be set up only once.

I do still think that 0.5 seconds just for setting this up points to something wrong. We can create fairly sizable triangulations in this time, for example. That can't be the cost of a couple of copies of `Epetra_Map` objects. @juleoc02 found this issue beca

[2021-12-16 20:32] tamiko commented on #13092
@bangerth

That's a good point. @jppelteret any thoughts?

[2021-12-16 21:23] bangerth commented on #13092
For reference, we currently construct these range and domain maps in the following way:
[code]
But, if I change things to this:
[code]
then that has no noticeable effect on the run time. So that's not it :-(

[2021-12-16 21:23] jppelteret commented on #13092
I don't think that's going to work (at least, not without some refactoring if it is at all possible). There are constructors for the `TrilinosPayload` that build these maps rather than copying them. See [here](https://github.com/dealii/dealii/blob/master/include/deal.II/lac/trilinos_sparse_matrix.h#L3120-L3132) and [here](https://github.com/dealii/dealii/blob/master/source/lac/trilinos_sparse_matr

[2021-12-18 16:22] SilverLinings89 opened #13098 "Compilation error because of complex<double> and matrix-free."
This is a problem and a solution I have used for it. The solution, however, isn't nice and maybe I'm just missing a better way around this.

I use nedelec elements and a call to VectorTools::project(dof_handler, constraints(complex values), QGauss<3>,  vector valued function, dealii::Vector<ComplexNumber>).
If I don't #include <deal.II/numerics/vector_tools_project.templates.h>, I get a linker err

[2021-12-18 16:25] bangerth commented on #13098
Let's start with a small test program. Can you put something together that shows the current linker error?

[2021-12-18 16:28] SilverLinings89 commented on #13098
I'll get on that, yes.

[2021-12-20 07:16] prj- opened #13100 "PETSc object is in wrong state"
I'm compiling deal.II 9.3.2 with the following configuration line.
[code]
I'm using PETSc `main` branch.
When I run the following, everything is OK.
[code]
However, if I switch from `hypre` to some other PC, like `bjacobi`, I get hit by the following.
[code]
I don't know enough about deal.II and the plumbing done under the hood with PETSc to fix this (or reproduce this on a simpler MWE). Any help

[2021-12-20 19:29] bangerth opened #13103 "Names of FEInterfaceValues functions"
Related to #8884. @jppelteret: FYI

#12411 renamed `FEInterfaceValues::jump()` into `FEInterfaceValues::jump_in_shape_values()` and similarly for related functions. But I find these names awkward since they have a plural *values* when they really only return a single value: the jump in the value of a single shape function. We also only have `FEValues::shape_value()` and `FEValues::shape_gradient()

[2021-12-20 19:58] tjhei commented on #13103
One can argue that it is a singular jump between two shape functions and as such accurate.

What do you propose for ``FEValuesViews::Scalar::average_of_values``?

[2021-12-20 21:16] jonathonmckay opened #13104 "Problem with BOOST_SERIALIZATION_USABLE"
I am having a problem compiling deal.ii for our cluster using an external version of Boost. During the compile process for deal.ii, the following messages are show regarding boost:
`-- Performing Test BOOST_IOSTREAMS_USABLE
-- Performing Test BOOST_IOSTREAMS_USABLE - Success
-- Performing Test BOOST_SERIALIZATION_USABLE
-- Performing Test BOOST_SERIALIZATION_USABLE - Failed
-- The externally provi

[2021-12-20 21:54] marcfehling commented on #13104
We have issues with `boost` versions 1.77 and 1.78 currently.

Until we found a solution, please configure deal.II with the option `DEAL_II_FORCE_BUNDLED_BOOST` as described [here](https://www.dealii.org/current/users/cmake_dealii.html#configurefeature).

See also #13037.

[2021-12-20 22:38] bangerth commented on #13103
Ah, I see. One could read it that way. `jump_in_values()` still sounds plural-y to me because I would write that as "the jump in the value of the function at a point x" -- the function does not have multiple values at a point. But I agree that one could interpret it the way you say.

What do others think?

[2021-12-21 00:07] marcfehling commented on #13104
`cmake` configuration on my machine succeeds with `boost 1.78.0` and `gcc 11.1.0` on the `master` branch, as well as with the official `dealii 9.3.3` tarball. I can not produce your problem.

You said you "compiled" boost yourself to be used with `deal.II`. You need to build the `iostreams` part for serialization separately [as the documentation suggests](https://www.boost.org/doc/libs/1_78_0/more

[2021-12-21 00:33] marcfehling commented on #13037
I just built `dealii/master` successfully with `gcc 11.1.0` and [`boost 1.78.0`](https://archlinux.org/packages/extra/x86_64/boost/) on `archlinux`, and encountered the same problem. Just for your interest.

[2021-12-21 02:37] marcfehling opened #13106 "`FindBoost.cmake` warnings"
With `boost 1.78.0` and `cmake 3.22.1`, I get warnings in the `FindBoost.cmake` stage. Warnings might also occur in previous releases.

[code]

[2021-12-21 13:30] Rombur commented on #13106
You get that warning because the version of boost you are using is newer than the version of cmake. Boost does not promise to the dependencies between their library to be stable between two releases. This means that cmake only guarantees to work with boost version that existed when cmake was released.

Every time there is a new version of Boost or if you use a version of cmake that was released be

[2021-12-21 13:52] marcfehling commented on #13106
Thanks for clarifying! `cmake 3.22.1` has been released on Dec 7th, `boost 1.78.0` on Dec 8th :-)
I've never seen this warning before, so thought our configuration is out-of-date. This is not the case then.

[2021-12-21 13:52] #13106 closed

[2021-12-21 13:53] luca-heltai commented on #13037
This is still an issue. I hope I will have some time in the next few days to look into this, but the solution is non-trivial. I'm trying to build a MWE to show that this is an issue on boost side.

[2021-12-21 14:43] jonathonmckay commented on #13104
Thank you for the quick replies. I'll try making sure IOStreams is built, or perhaps try an older version.
Also, I guess I forgot to mention yesterday when posting (it was the end of the day), but I am actually the administrator of the cluster, so the "one that the cluster provides" is whatever I feel needs to be provided to get things done 😃 .

I'll comment again when I've had chance to try these

[2021-12-21 17:57] tjhei commented on #13103
We could always go back to ``jump``, which is what I prefer. ;-)

[2021-12-21 21:01] jppelteret commented on #13103
This was how I understood it as well, and why I chose that naming scheme.

[2021-12-22 15:18] jonathonmckay commented on #13104
So, it turns out I was needing Deal.II to compile another application, which was giving me no end of grief. I was mistakenly lead to believe the problem was the relationship between how I had Boost and Deal.II configured and built. However, after some more digging with the other application, I discovered that it was actually a different problem, and have found the solution. Thank you for you time.

[2021-12-22 15:33] jonathonmckay commented on #13104
For reference: [https://github.com/prisms-center/plasticity/issues/38](url)

[2021-12-22 16:45] #13104 closed

[2021-12-23 02:15] bangerth opened #13110 "Modernize a small aspect of step-20/21"
#13109 simplifies the initialization of block matrices and vectors by passing a vector of block sizes to the overarching block object, rather than initializing the blocks individually and then calling `.collect_sizes()` on the overarching object.

step-20 and step-21 are the remaining hold-outs. They do things differently, and a bit more thought is required. The documentation also needs to be adju

[2021-12-23 09:33] agrayver opened #13113 "Portable refined triangulation format"
As time goes, I really think one should have a portable way to save/load refined triangulations. This was touched in #10447 and it was made clear the binary format is not compatible across versions/machines. It is also not compatible between different versions of boost (serialization) library.

Is there a portable (i.e. independent of deal.II/boost versions) way to save a refined triangulation wit

[2021-12-23 16:47] tjhei commented on #13113
This is a reasonable request, but not trivial to implement. I don't think there is a way to do this right now.

A few things to consider:
- Does this need to work in parallel? (I assume yes)
- Do you want to store parallel partitioning as well?
- Does this need to work when loading with a different number of MPI ranks? (Again, useful, but makes it more complicated)

If you want to support p::d::Tr

[2021-12-23 17:36] bangerth opened #13114 "simplex/conv_hex_to_simplex_02 fails with gcc 11.2"
As $SUBJECT says.

[2021-12-23 18:48] bangerth commented on #13114
Simplified testcase:
[code]

I verified that (i) the original `in_tria` is the same on both systems that I'm checking, and that (ii) the problem does not appear when I do not refine globally. Only then do I get different results on the two systems using gcc 8.1 and gcc 10.2, namely these differences:
[code]
I conclude that somewhere in the conversion of the hex mesh into the tet mesh, we do someth

[2021-12-24 04:22] bangerth commented on #13113
For the non-parallel kind, there is `PersistantTriangulation`. For the parallel case, we generally just use the serialization approach. Why don't you like that?

[2021-12-25 15:04] metorm opened #13122 "CMake custom target command contains `rm`, which is not available under windows."
Hi all, I noticed that in CMake file `dealii-9.3.2\tests\quick_tests\CMakeLists.txt` line 70, there is a custom target command:

[code]

There is no `rm` under windows so the command causes an error during compile time, some how like this:

[code]

Maybe using `file(REMOVE [<files>...])` or `file(REMOVE_RECURSE [<files>...])` instead would make thing more portable,

[2021-12-26 04:34] marcfehling commented on #13122
That sounds reasonable to me.

Do you want to give it a try and fix it? For more information, follow our [contributing](https://github.com/dealii/dealii/blob/master/CONTRIBUTING.md) guidelines. We would welcome your patch!

[2021-12-26 04:56] #13089 closed

[2021-12-26 12:19] tamiko commented on #13122
@metorm Good catch - we have a number of left overs like this in the code base. Would you mind giving the following a try:
[code]
I'd also prefer to rename the target to `reset-${_target}-OK`...

[2021-12-26 13:34] metorm commented on #13122
@tamiko Yes, the new code is running smoothly, though I didn't quite get why the new code also has an 'rm' but still runs with windows ...

[2021-12-26 16:00] bangerth commented on #13122
`cmake -E rm` tells `cmake` to execute whatever command it is on a given platform that removes a file. `cmake` does the translation itself.

@tamiko did it this way because when you say `FILE(REMOVE ...)`, then this is executed at the time when you run the `cmake` script. But you want it to be executed at the time when you run `make`, so you have to hook it into the `COMMAND` part of the target.

[2021-12-26 16:03] bangerth opened #13126 "GridGenerator::flatten_triangulation() does not copy manifold ids of internal objects"
As mentioned in the comments of #13117, `GridGenerator::flatten_manifold()` does not copy the manifold ids of internal objects.

[2021-12-26 16:04] bangerth opened #13127 "GridGenerator::flatten_triangulation() does not copy data on boundary edges in 3d"
Another issue I found while doing #13117 is that in 3d, the function only copies information about boundary *faces*, but not *edges*. That's a bug.

[2021-12-26 17:53] bangerth opened #13131 "GridGenerator::flatten_triangulation() says that it only works for triangulations without hanging nodes..."
...but it never actually checks that, despite promising an exception in the documentation. We should add such an exception.

[2021-12-27 01:36] metorm commented on #13122
@bangerth Got it, thanks a lot.

[2021-12-27 08:49] #13122 closed

[2021-12-27 16:05] #13131 closed

[2021-12-27 19:18] bangerth commented on #13114
I added the smallest test I can get to #13141. In particular, the differences go away if I uncomment the following two lines from the test:
[code]
Of course, this should make no difference: we're only reading `in_tria`, and never doing anything again with `in_tria_x`. Nonetheless, with these two lines, the output when using GCC 11.2 changes from wrong to correct...

[2021-12-28 04:18] bangerth commented on #13114
Reopening. I know now where the issue happens.

[2021-12-28 18:53] harmonj commented on #13100
As the BoomerAMG preconditioner provided through PETSc and used in Step-40 relies on the package hypre (in fact, the `initialize()` call in the deal.II wrapper for the preconditioner tries to set the PCType to PCHYPRE internally), it is likely that other PCTypes are not guaranteed to be supported by PETSc.

[2021-12-28 19:04] #13034 closed

[2021-12-28 19:10] prj- commented on #13100
Switching between `PCType` before an actual `KSPSolve()` is supported by PETSc, so are you implying this is a limitation of the deal.II interface to PETSc?

[2021-12-28 19:41] #13074 closed

[2021-12-28 21:22] bangerth commented on #13100
Yes. PETSc has a different mental model than we do. Their view is that you should be able to switch solvers and preconditioners based on command line arguments, whereas in deal.II we represent these as fixed types that are chosen at compile time (because that's how we do things with deal.II's own solvers and preconditioners, as well as those we import from Trilinos or other external libraries). I

[2021-12-29 00:59] bangerth commented on #12986
This seems to work now. Thanks, @tjhei !

[2021-12-29 01:34] bangerth commented on #12986
Scrap this. It works on my laptop, but that was due to the updated MPI implementation. It still fails on the workstation.

[2021-12-29 01:37] bangerth commented on #6510
Let's do this once we have C++17, like in #12080.

[2021-12-29 05:18] bangerth commented on #9756
Any news?

[2021-12-29 11:20] prj- commented on #13100
Even if I replace:
[code]
by:
[code]
and not toy around with `-pc_type`, everything is supposedly determined at compile-time when it comes to `PCType`, yet using the command-line argument `-log_view` still yields the same error. I see you are setting a custom `KSPMonitor`, but I don't see why that would raise such an error. There is probably something else that slip under my radar in `source/lac/p

[2021-12-29 15:49] #13126 closed

[2021-12-29 15:53] bangerth opened #13148 "Better document consensus algorithms"
#13082 adds a substantial amount of documentation to the NPX consensus algorithm implementation. The other consensus algorithm implementations could probably stand to gain from doing the same.

[2021-12-29 15:58] bangerth commented on #13100
I certainly have no idea what is going wrong here, and the PETSc error message isn't helpful either :-)

What does `-log_view` do?

[2021-12-29 16:14] prj- commented on #13100
It tracks PETSc operations so that you can get a summary at the end of your script with FLOP/s, load imbalance, and such. It is much more trivial for me to understand the performance summary from PETSc to split preconditioner setup vs. solution phase (I'm interested in benchmarking multiple preconditioners, so I need to breakdown the `solve` timer from step 40 in these two parts).
There may be a b

[2021-12-29 16:56] bangerth commented on #13100
I agree that that might be useful, but I'm afraid that it's fairly low on the priority list of anyone to fix. The PETSc solver interfaces were written in 2003 or 2004, and I don't think anyone readily remembers how they work and this is the first time anyone has brought up the issue :-)

[2021-12-29 17:05] #13052 closed

[2021-12-29 18:17] harmonj commented on #13100
@prj- With PETSc version 3.16.2, I am running into the same issues as you for Step-40, with the original Step-40 file and the command line arguments. Same issue appears with the modified Step-40 file, with additional arguments `-version -log_view`. **Without `-log_view` works correctly, even with the other command line arguments in your original post**, i.e., `mpirun -n 1 ./step-40.release -versio

[2021-12-29 18:41] prj- commented on #13100
Indeed, this is working on my side as well.

That's great news. I'll git bisect down to tag `v3.13.2`. Thanks!

[2021-12-30 13:40] prj- commented on #13100
Just FYI.
[code]
I'll try to see with Barry (author of that MR) what he thinks about this.

[2021-12-30 17:10] prj- commented on #13100
We are sorting this out upstream (see https://gitlab.com/petsc/petsc/-/merge_requests/3320#note_798371459 and https://gitlab.com/petsc/petsc/-/merge_requests/4685 for reference). Thanks for your help and for the reproducer.

[2021-12-30 17:10] #13100 closed

[2021-12-30 17:56] bangerth commented on #13100
Thanks for sorting it out! I love these cross-project things!

Just because the deal.II interfaces are what they are, there is no reasons that they need to stay that way. It sounds like you already identified what is triggering the issue; if there is an easy way to address things (like initializing the KSP before the PC is attached to it), then that is something we can certainly do.

[2021-12-30 20:06] prj- commented on #13100
What you do in the interface is not the canonical way of doing things in PETSc (different mental model again, to quote you). If I understood the code correctly, you first create a `PC` and then attach it to a `KSP` via `KSPSetPC()`. Some deep hidden structures (only used when activating logging) of the `KSP` (PETSc) "class" what not fully initialized, but yet, it was used during `PCSetUp()`, befor

[2022-01-01 12:28] bangerth commented on #13100
For reference, this is where things are done:
[code]

If I understand things right, then the problem is that at this point we have already created the PC and only attach it to the KSP after the fact? The PC is created during the construction of the `PETScWrappers::PreconditionerBase` object that is passed to this function, but if that is a problem, we could defer the creation to a virtual function

[2022-01-01 13:17] prj- commented on #13100
My initial problem (`PETSC ERROR: Object is in wrong state`)  is slightly more convoluted to explain. But if by "problem" you mean "PETSc mental model != deal.II mental model", then yes, that is the problem.

That would fix both problems indeed. But still, PETSc purists would say that there is no real point for you to keep a reference to _both_ a `PC` and a `KSP`. They'll argue that it would simpl

[2022-01-03 15:59] drwells commented on #13037
Have we made any progress on this? I'll have some time to work on it tomorrow, but if anyone else has notes on what is going wrong I would like to read them.

[2022-01-04 12:20] #13114 closed

[2022-01-04 13:55] luca-heltai commented on #13037
@drwells , I tried building a minimal example that mimics our classes, but due to lack of time, I was not able to finish it.

The idea is that if you have a custom box type, these no longer work with native boost types. The fix could be as simple as adding some headers, but I was not able to understand exactly *where* the problem is.

What *seems* to be the problem is the distance between a point

[2022-01-04 18:17] drwells opened #13166 "We are not yet compatible with SUNDIALS 6.0"
I installed it yesterday and it looks like SUNDIALS is now thread-safe and requires that we attach a context object `SUNContext` to each object - as such every constructor function is now different.

See

https://github.com/LLNL/sundials/blob/74b6be71f3d733cc93a2bcbefd6c37b7b0db3341/doc/shared/sundials/SUNContext.rst

for more information.

[2022-01-04 20:15] bangerth commented on #13166
See also here: https://github.com/LLNL/sundials/issues/109

[2022-01-04 21:45] #13037 closed

[2022-01-05 09:40] simonsticko opened #13169 "Compilation Error when Combining IteratorFilter with FEInterfaceValues"
The code below uses an iterator filter together with `FEInterfaceValues` but gives a rather unexpected compilation error with gcc 10.3.0. I don't understand if the problem is with the filter, the `reinit` function or the compiler.

[code]
Compilation error:
[code]

[2022-01-05 18:53] jppelteret commented on #13169
Hi @simonsticko. I'm busy looking at this in #13170. You're right that there's a problem here, and its a subtle one. The issue here is that `cell` and `cell->neighbor()` do not return the same *type* of iterators. You can see this by dropping in a few extra lines of code:
[code]
In the test that I setup based off of what you provided here (thanks, btw.), `C1` is  a `dealii::FilteredIterator<dealii

[2022-01-05 18:55] jppelteret commented on #13169
Actually, this is done and (having thought about it for 5 seconds longer) wouldn't be the right thing to do anyway. We likely need to introduce a second iterator type to this `FEInterfaceValues::reinit()` method.

[2022-01-05 19:39] jppelteret opened #13171 "Extend MeshWorker::ScratchData to support hp"
I'm wanting to extend `MeshWorker::ScratchData` so that it is compatible with the hp data structures (so, `hp::MappingCollection`, `hp::FECollection`, `hp::QuadratureCollection`). I can see at least three ways to do this:
1. Simply add the an hp variant of all `reinit()` functions to the existing `MeshWorker::ScratchData`, and add  pointers to the `hp::FEValues`-type objects. This way, both the hp

[2022-01-05 21:18] bangerth commented on #13169
Yes, the problem is that with filters, the type is some `FilteredIterator<X>` type, which is convertible to `X` but not anything else. In the example, `X` is an *active cell iterator*, whereas the thing you want to compare it against is a `Y` = *iterator, not necessarily active*.

I'm not entirely sure how to work around this. It's definitely a flaw in the system right now.

[2022-01-06 10:50] #13169 closed

[2022-01-06 11:51] bangerth commented on #12916
Fixed by #13095.

[2022-01-06 11:51] #12916 closed

[2022-01-06 18:24] #12815 closed

[2022-01-07 07:13] bangerth commented on #13098
Any news on the little test program?

[2022-01-07 07:15] bangerth commented on #10281
Let's postpone this to 10.1 for when we might be able to rely on C++17.

[2022-01-07 10:38] bangerth commented on #10476
The introduction also overloads h(t,y) to denote another function.

[2022-01-07 10:43] bangerth commented on #12252
There are still two open points in the list at the top of this issue. @gfcas -- any chance you could address these so we can close this issue?

[2022-01-07 17:28] #10476 closed

[2022-01-07 17:29] #13110 closed

[2022-01-07 19:44] lihanyu234 opened #13193 "Linker problem when compiling step-20"
Hi,

I recently try to compile step-20 on MacOS Monterey but it gave me the following linker problem. Can you help me solve it?

Regards,
<img width="1431" alt="Screen Shot 2022-01-07 at 1 30 08 PM" src="https://user-images.githubusercontent.com/31542034/148598409-13c3ac3f-4414-413f-9884-244df37d40b6.png">

[2022-01-07 20:08] lucasmyers97 opened #13194 "p4est installation script cannot find `p4est_config.h` file, causing compilation error"
In the dealii p4est installation instructions located [here](https://dealii.org/current/external-libs/p4est.html), the installation script does not work quite right (perhaps because p4est has updated their directory structure). Hence, when run it throws an error that it cannot find `p4est_config.h`, and later that p4est did not get built with zlib support. The error is caused by lines 125 and 142

[2022-01-07 20:28] #11320 closed

[2022-01-08 04:30] bangerth commented on #6260
It seems like nobody feels particularly adamant about this issue, so let us close it (via #13196). I have added to the documentation of the various `operator*()` functions involved to document the issue, see the linked to PR.

[2022-01-08 04:37] bangerth commented on #12522
I double checked both the `Vector` pretty printer and all of the others, and they all currently work. So closing.

[2022-01-08 04:37] #12522 closed

[2022-01-08 04:40] #9756 closed

[2022-01-08 16:04] #13030 closed

[2022-01-08 20:35] bangerth commented on #13193
I believe that this is a result of the warning about the directory not found at the vert top. Did you forget to properly load the deal.II package?

[2022-01-08 22:00] bangerth opened #13205 "Merge SparsityPatternBase into SparsityPattern"
The `SparsityPatternBase` class has exactly one other class that derives from it: `SparsityPattern`. There is really no particularly good reason to keep them separate, we should just merge the former into the latter.

[2022-01-09 07:19] #9341 closed

[2022-01-09 07:21] #13103 closed

[2022-01-09 16:30] marcfehling commented on #13194
You are using an old version of the installation script. Try using this one [p4est_setup.sh](https://dealii.org/developer/external-libs/p4est-setup.sh).

This should have been fixed in #12426. Let us know if the new script works.

Might be worth considering to mark the patch #12426 for a potential new point release?

[2022-01-09 20:10] luca-heltai commented on #13171
I would go for 1), in the spirit of the existing implementation.
:)

[2022-01-09 20:21] luca-heltai commented on #13171
This should not be a problem for the first round. It would not be possible at this moment to have the FEInterfaceValues stuff, but we could still have FEFaceValues, and FESubfaceValues.

[2022-01-09 20:42] bangerth opened #13208 "ConsensusAlgorithms interface"
I'm playing with the consensus algorithms and I'm finding the interface a bit clunky. Specifically, the intent is that one creates a class that has a bunch of virtual functions that encode the various operations. But, in practice, these functions will typically access variables that live in the environment of the place where one calls the consensus algorithm and that would have to be passed to the

[2022-01-09 21:31] gfcas commented on #12252
I am very sorry for this. The explanation for the second point, wasn't that straightforward, I thought... and for the first point I realized that I previously used a bit different stepping instead of the Armijo rule. So I would rather remove these tasks from the list and close this issue ...

[2022-01-09 21:31] #12252 closed

[2022-01-10 01:43] bangerth commented on #12252
OK, that's a useful outcome as well :-)

[2022-01-10 01:43] #13040 closed

[2022-01-10 10:26] #6260 closed

[2022-01-10 21:26] peterrum commented on #13208
Historically, `ConsensusAlgorithms::AnonymousProcess` is the newest class in the `ConsensusAlgorithms` namespace. I have added it because my observation was that in many cases a `Process` is only used once and in such cases it is quite convenient to use lambda functions and capture the variables.

However, there are cases where we want to reuse processes, most notably `Utilities::MPI::internal::Co

[2022-01-11 00:48] bangerth commented on #11727
I fixed some of this in #13082, and it turns out that I have noticed the same issue a second time in #13148 -- we can close this issue in favor of the latter.

[2022-01-11 00:48] #11727 closed

[2022-01-11 00:49] bangerth commented on #10381
Seems fixed.

[2022-01-11 00:49] #10381 closed

[2022-01-11 00:50] bangerth commented on #7779
Seems not worth bothering with.

[2022-01-11 00:50] #7779 closed

[2022-01-11 02:08] bangerth opened #13213 "Consensus algorithm: answer needs to be of known size"
In the ConsensusAlgorithms interface, the `prepare_buffer_for_answer()` function exists because we want to post an `MPI_Irecv` operation right after sending the request to another processor. A downside of this interface is that we need to know the size of the answer message, unlike for the request which can be of variable length. This is a bit awkward because it doesn't allow sending variably size

[2022-01-11 08:22] luca-heltai opened #13216 "ParameterAcceptor left in unpredictable state if exception is thrown in parse_parameters_call_back()"
When writing test codes, one often wants to check that the correct exceptions are thrown when parsing a parameter file.

If one of the classes derived from ParameterAcceptor throws an exception in the `parse_parameters_call_back()` signal, the ParameterHandler in `ParameterAcceptor::prm` is left in an unpredictable state.

The exception should be caught, sections should be left if necessary, and t

[2022-01-11 08:50] kronbichler commented on #13208
Just to give some more background: Indeed the function `Utilities::MPI::compute_index_owner` https://github.com/dealii/dealii/blob/d5995ecb787f2d4f3dd9c9aa88eeb0958c9cca46/include/deal.II/base/mpi.h#L1245-L1258 was the first use of the function. That is a performance-critical function that has received quite some TLC in terms of data structures, interfaces, and internal helper functions. Funneling

[2022-01-11 11:01] marcfehling opened #13218 "`Patterns::Tools::Convert::to_value()` does not work with `std::array`."
Reported in https://github.com/dealii/dealii/pull/13028#discussion_r781463862.

When using a `std::array` as an argument for a `GridGenerator` function to be used with [`GridGenerator::generate_from_name_and_arguments()`](https://www.dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html#a1e6c4dcc63863449f08a78a22ec73747), compilation errors like the following occur
[code]
which refer to

[2022-01-11 11:35] #13194 closed

[2022-01-11 13:27] bangerth commented on #13216
We need scope objects for going into sections :-)

[2022-01-11 20:30] bangerth commented on #13208
@peterrum Ah, I had not known about `ConsensusAlgorithmsPayload`.

How about the following proposal:
* We have two `run()` functions, one of which takes a `Process` object and the other one a set of function objects
* The former is implemented in the base class, and calls the second one by creating lambda functions that just call the virtual functions.
* The latter is abstract `virtual` in the bas

[2022-01-11 20:32] bangerth commented on #13208
@kronbichler I would suspect that the overhead of whether we call a virtual function or a function object is negligible compared to the cost of data transfer. I'm ok with leaving the existing interfaces around, but it would be nice to reduce the set up cost (in terms of lines of code) if one just wants to call the algorithm once.

[2022-01-11 20:44] peterrum commented on #13208
Sounds OK. But how do you want to make this backwards-compatible - the process is taken currently by the constructor.

[2022-01-11 20:45] bangerth commented on #13084
Maybe to clarify the matter (ignore the context of the example I showed above): In quite a number of cases, we want to send a "request" message of type `T1` from each process to some others; the algorithm then sends an "answer" message of type `T2` back. But in the example shown above, the function that "reads" the answer is an empty lambda function; the answer message is both empty and the fact t

[2022-01-11 20:49] bangerth commented on #13084
(As a side note, there is a related situation that the *request* message is empty -- as in fact in the example shown above. There, the data type `T1` *also* doesn't matter, but we need to send the request anyway because we record who all sent a request.)

[2022-01-11 20:51] bangerth commented on #10579
@drwells I had a question above about the meaning of entities in the input file. Do you have thoughts?

[2022-01-11 20:55] bangerth commented on #13208
I would eventually break the interface, but for the moment can retain the existing constructor and `run(void)` function pair -- both of which I can then deprecate.

[2022-01-11 21:02] peterrum commented on #13084
For this purpose, you would use `MPI_Issend`. In our current implementation, the `s` (synchronous) is done explicitly by the answer.

[2022-01-11 21:06] bangerth commented on #13084
Ah, clever! I had never thought about it that way!

[2022-01-11 21:11] drwells commented on #10579
I don't know. I don't remember these gmsh details off the top of my head - I'll have to look into it to remember where we were a year and a half ago.

[2022-01-12 10:07] #11561 closed

[2022-01-12 22:17] drwells opened #13228 "The 9.3.3 release"
Now that we have the oneAPI TBB, Boost.Geometry, and SUNDIALS + MPICH fixes in we should put together another point release. A bunch of OSs (including [FreeBSD](https://github.com/dealii/dealii/issues/11561), [openSUSE](https://github.com/bmwiedemann/openSUSE/commit/bf7747643df6c67e11c881b76cd5484b7e8b5401), and [Arch Linux](https://aur.archlinux.org/packages/deal-ii/)) already need these patches

[2022-01-12 22:24] lucasmyers97 commented on #13194
Yup, works perfectly, thanks for the update!

[2022-01-13 15:13] tamiko commented on #13228
I am happy to tag a release on Friday (or so) after we merged some remaining compatibility fixes :smiley:

[2022-01-13 15:48] marcfehling commented on #13228
I would also like to compile the library again with `Intel 18` and `Intel 19`, just to make sure that everything is in shape.

[2022-01-14 09:41] marcfehling commented on #13228
Successfully compiled deal.II with `Intel 18/TBB 18` and `Intel 19/TBB 20` on `stampede2`.

Our build system has trouble locating `Intel MPI` and `Intel MKL` on that machine, so I only verified compilation with the `Intel` compilers and `TBB`.

[2022-01-15 11:00] keassyguang opened #13242 "Cannot find the header files when compiling with WSL Linux distributive in VS code"
Hi, everyone. I'm not sure if I can ask a question here, but I did have trouble configuring the deal.ii.

I am trying to compile the program for Linux in VS code (version 1.63.2) using WSL (Windows Subsystem for Linux) ubuntu 20.04.3. I successfully compile the "Hello, World!" program, but when I try to compile the tutorial programs shown in dell.ii documentation, such as the step-1,  the compilat

[2022-01-15 14:48] bangerth opened #13243 "Move 'receiver' out of FETools::extrapolate() CellData structure"
Once #13212 is merged, I will do one more change: Currently, the `CellData` structure stores a `receiver` element that is an MPI rank. But this is conceptually not part of the "cell data", and it is also used after receiving data from another process to indicate the *sender*. A better data structure would be a map (or better multimap) mapping from the MPI rank to the `CellData`.

This is simply a

[2022-01-15 18:18] drwells commented on #13242
There's a lot of things in here that don't pertain to deal.II - in particular, the way Trilinos gets installed under WSL is outside of our control. Could you post this again to the deal.II mailing list? That's a better fit for a question like this.

[2022-01-15 19:53] tamiko commented on #13242
@keassyguang Did you install all dev packages of all dependencies? (easiest to run `sudo apt install libdeal.ii-dev` on the ubuntu console)

[2022-01-16 07:35] keassyguang commented on #13242
I am really sorry for posting this problem here. And thanks for your advice, I will post it to the deal.II mailing lists.

[2022-01-16 07:40] keassyguang commented on #13242
@tamiko It seems that all dev packages of all dependencies have been installed.
![image](https://user-images.githubusercontent.com/95268913/149651587-2ff331f0-3392-4f47-a573-ef4d5c3d5e6f.png)

[2022-01-16 15:19] blaisb opened #13246 "Randomly disappearing particles in non-trivial geometries (hyper_ball) since the merge of #13202"
Dear all, I hope you are well.
The merge of #13202 has caused some significant issue on our DEM code base. I am having difficulties identifying what is the exact issue, but we have found that particles are starting to disappear randomly when simulations are carried out in an unstructured grid in which the topology is complicated (e.g. an hyperball). Everything seems to go as normal, but at random

[2022-01-16 15:54] blaisb commented on #13246
My hypothesis would be this:
https://github.com/dealii/dealii/pull/13202/files#diff-c3dbdb2659a6f4be5037f4b6539d758f47099ec4da8f3838a5fd70a21b0fa742R1404

I am not sure if searching all cell neighbours of the closest vertex is the best idea. I am pretty sure there are some edge cases that is missed by  that.
Maybe a better fall back would to search all cell neighbours of closest vertex, then of th

[2022-01-17 10:26] marcfehling commented on #13246
@blaisb Can you provide a minimal test that reproduces the issue? Independent of the solution to the problem, it would be good to have it in the deal.II testsuite to prevent it from recurring in the future.

[2022-01-17 14:17] blaisb commented on #13246
@marcfehling ,
I will try to cook one up today or tomorrow.
You are right, the deal.II test suite for particles is a bit incomplete. It has happened a few time that some edge case was captured by an outside code (e.g. Lethe) instead of by the test suite.

[2022-01-17 15:58] blaisb commented on #13246
@marcfehling  Here is a small application.
It generates  a ball of particle in a ball and advects them in the y direction. The time step is relatively small.
Before #13202  you will have 48 particles during the entire simulation
After #13202  at step 159 you will start to loose particles. 4 particles will be lost during the simulation, even if they should not leave the domain.

I also added paravi

[2022-01-17 21:39] gassmoeller commented on #13246
Hi @blaisb, first of all sorry that my change affected more than intended.

I agree that the behavior could be slightly different after the change, but I am not sure it is for the reason you suggested (but I could be convinced of course). The reason I do not think it is the simpler search option is that this option only triggers if particles move to a cell that is *not a neighbor* of the old cell.

[2022-01-17 21:44] blaisb commented on #13246
@gassmoeller  Please don't be sorry. It happens to the best of us and this is part of working with a community code right. These things are bound to happen :)!  If

The particle that is disappearing is not in a cell which has a boundary, it is one layer above. They are also quite far from the outer wall of the domain. I think the issue is more related to the curvature of the cell, because this iss

[2022-01-17 22:31] blaisb commented on #13246
@gassmoeller  I tested setting line 1412 to :
` if (GeometryInfo<dim>::is_inside_unit_cell(
                    reference_locations[0], 1.e-10))`

And the particle still disappear.

Looking at it very closely, the particle is not in the last layer of cell before disappearing..
Step-158 :
![image](https://user-images.githubusercontent.com/7850307/149843727-dbe2f54e-5e37-4753-855e-4fbd6ba73606.png)

[2022-01-18 15:32] bangerth commented on #13148
Mostly done in #13235.

[2022-01-18 16:38] peterrum opened #13263 "Optimize `MatrixFree::n_active_entries_per_*_batch()`"
As stated in https://github.com/dealii/dealii/pull/13259#discussion_r786767373, we should optimize `MatrixFree::n_active_entries_per_cell_batch()` and `MatrixFree::n_active_entries_per_face_batch()`.

[2022-01-18 17:43] #13085 closed

[2022-01-18 23:18] bangerth commented on #13092
@juleoc02 has dug a bit deeper, and it turns out that this code takes 4.2 seconds:
[code]
On the other hand, this functionally equivalent code takes 0.0042 seconds -- it's 1000x faster:
[code]
I don't quite understand why things would be this different. The first code is exactly how these objects are supposed to be used, but that clearly doesn't work as expected. We really ought to figure out wher

[2022-01-19 03:24] bangerth commented on #13193
@lihanyu234 Any news?

[2022-01-19 08:29] luca-heltai commented on #13092
You are currently mixing up Trilinos vectors and matrices and the deal.II solver. This means that the additional cost of setting up the Payload is wasted, in a sense, because our solvers do *not* require an `Epetra_Operator` object. Can you try to use the empty payload instead of the Trilinos payload? At least this should identify the problem in the payload setup.

[2022-01-19 15:36] bangerth commented on #13213
Let me reopen this to remind myself that I need to document that the callback is no longer used.

[2022-01-19 15:57] #13127 closed

[2022-01-20 00:34] #13148 closed

[2022-01-22 14:49] kronbichler commented on #9596
Picking up on https://github.com/dealii/dealii/pull/13271#discussion_r789117723 I would like to make a point for `ReductionControl`, used as
[code]
as a tool to set a relative tolerance in the user code, but without explicitly scaling by the rhs norm. It is unfortunate that the absolute tolerance needs to come before the reduction rate in the arguments of the constructor. That aside, I would use i

[2022-01-22 16:57] tjhei commented on #9596
I thought about this too when I saw @bangerth 's PR #13271. One advantage of ```SolverControl control(1000, 1e-5 * system_rhs.l2_norm());``` is that you can see directly that this is a relative residual, while one would probably need to document the usage of ``ReductionControl`` like so:
[code]
Not ideal.
We could introduce another class that only does relative control?
[code]
?

[2022-01-22 17:30] kronbichler commented on #9596
That would be a great option in my opinion, @tjhei . :+1:

[2022-01-22 17:32] #13246 closed

[2022-01-23 16:10] bangerth commented on #9596
I don't like `ReductionControl` for this purpose. I think that the tolerance we want to solve to should be independent of the starting vector. If you have a great way to choose the starting vector for a linear solver, good for you -- you should be rewarded by fewer iterations. If you have a spectacularly poor guess, you should pay the price through more iterations. `ReductionControl` doesn't give

[2022-01-24 18:23] drwells commented on #13228
See also #13284.

[2022-01-24 20:10] tamiko commented on #13228
@drwells Release tomorrow?

[2022-01-24 20:10] drwells commented on #13228
Lets do it :)

[2022-01-24 20:23] tamiko commented on #13228
\o/

[2022-01-25 02:28] bangerth commented on #13213
Fixed now with #13267.

[2022-01-25 02:28] #13213 closed

[2022-01-25 14:19] drwells commented on #13228
I don't see, on cdash, that we actually ran tests for 8c474271f5ca09dc8f030c6de5fa5f73397f9298: see https://cdash.43-1.org/build/9676 et al. Was that deliberate?

[2022-01-25 14:30] tamiko commented on #13228
@drwells We are running the testsuite on 8c47427 as we speak, see https://cdash.43-1.org/index.php?project=deal.II (and sort by Start time). It is just that we haven't made it past the build tests yet :smile:

[2022-01-25 14:33] tamiko commented on #13228
Build tests:

| Host | Configuration | Commit | Build errors | Build warnings | Failing tests | Passing tests |
| - | - | - | :-: | :-: | :-: | :-: |
| tester | [Clang-12.0.0-dealii-9.3-unity_build](https://cdash.43-1.org/buildSummary.php?buildid=9673) | [8c4742](https://cdash.43-1.org/viewUpdate.php?buildid=9673) | [0](https://cdash.43-1.org/viewBuildError.php?buildid=9673) | [0](https://cdash.43

[2022-01-25 14:47] nfehn commented on #9888
Let be briefly point to https://github.com/dealii/dealii/pull/13284 and https://github.com/dealii/dealii/pull/13290#issuecomment-1021221310 given that @luca-heltai (receiving many "thumbs up") was strongly arguing with `UpdateFlags` as the gold standard in the present issue. One might want to rethink about the concerns raised in comment https://github.com/dealii/dealii/issues/9888#issuecomment-613

[2022-01-25 21:14] tamiko commented on #13228
Still waiting for the rest of the testsuite...

[2022-01-26 11:05] #13228 closed

[2022-01-27 00:10] bangerth opened #13295 "Follow-ups to the introduction of `is_detected`"
#13291 introduces the `is_detected` type trait. I think that name is not particularly good and would see what people think about renaming it. In essence, you use that trait as in
[code]
that is, it figures out whether one can call a member function `get_mpi_communicator()` on an object of type `T`.

Two questions about this:
* `is_detected` is the name originally chosen in the project from which t

[2022-01-27 06:58] RichardYCJ opened #13297 "GMRES residual jump at restart when using multigrid matrix-free method"
## Problem Description
I've encountered a residual jump at each restart step within the inner iteration of a restarted GMRES while using geometrical multigrid precondition and matrix free operator.

To simplify the test, I modify the [step-66](https://dealii.org/current/doxygen/deal.II/step_66.html) to solve the Gelfand problem using both **GMG + Matrix-free** method and **AMG + sparse matrix** re

[2022-01-27 14:44] masterleinad commented on #13295
`is_detected` is part of the C++ technical specifications, see https://en.cppreference.com/w/cpp/experimental/is_detected and http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/n4617.pdf, and thus recognized by its name. Given that we are implementing exactly that, I think there is value in keeping the name and the interface.
We could of course build on top of that interface to say
[code]
or

[2022-01-27 17:14] bangerth commented on #13295
OK. Maybe I will move `is_detected` into the namespace introduced in #13296 and make `is_supported_operation` the operation available in the place of the current `is_detected`. The use of a boolean predicate is also much closer to how concepts are used, and will be easily replaceable by a concept once we have C++20.

[2022-01-27 17:30] masterleinad commented on #13295
That's fine with me. I think finding a good name to replace `is_detected` is difficult since its use can cover a wide range. You can check for the existence of certain types or functions within a given class and optionally evaluate them if they exist.
Maybe, rather something like `has_type_or_function`? Honestly, I don't think that the existing name is too bad.

[2022-01-27 18:08] bangerth commented on #13295
You're right that it all depends on what `Op<Args...>` actually represents, that is, what kind of operation the template alias `Op` actually tests. My choice of name was based on the fact that `Op` encodes some kind of operation.

[2022-01-27 19:59] #11628 closed

[2022-01-27 19:59] #10535 closed

[2022-01-27 20:00] #9594 closed

[2022-01-27 20:00] #8918 closed

[2022-01-27 20:01] #8914 closed

[2022-01-27 22:10] bangerth commented on #13218
Would be nice to get this fixed before 10.0 so that we don't have to change the interface in a backward incompatible way.

@luca-heltai ?

[2022-01-28 08:57] nfehn opened #13308 "Documentation of GeometryInfo and ReferenceCell unclear"
The first paragraph in the documentation of GeometryInfo (https://www.dealii.org/developer/doxygen/deal.II/structGeometryInfo.html) says:

Following the link "ReferenceCell", the first paragraph in the documentation of `ReferenceCell` (https://www.dealii.org/developer/doxygen/deal.II/classReferenceCell.html) says:

Following the link "refence cell", the documentation in the glossary says:

again w

[2022-01-28 15:40] sebproell commented on #12854
I just ran into the same issue with `FE_Nothing`. Actually my code works in release mode since the asserts are not triggered. The computed `constant_modes` provided to AMG seem to reduce iterations in my linear solver. Thus, I wonder if there is an easy fix for the case of `FE_Nothing`. I guess the constant modes of FE_Nothing should return an empty Table. `DoFTools::extract_constant_modes` alread

[2022-01-31 16:55] #13208 closed

[2022-01-31 20:11] lucasmyers97 opened #13314 "PETScWrappers::MPI::Vector class gives no warning when trying to modify ghosted vectors"
Given that ghosted PETSc vectors cannot be written to, except by assigning a locally owned (completely distributed) vector, I think it might be helpful for new users like myself if a warning (exception? assertion?) is thrown when one tries to modify ghosted vectors incorrectly.

I don't know anything about the internal structure of these wrapper classes, but I am guessing the check would need to h

[2022-02-01 10:36] donggiang opened #13317 "size of sparsity pattern not consistent with number of dofs"
Hi all,

I'm solving a problem with two primary fields u and v. Each has two components for x and y directions. I declare the finite element objects as:
[code]
In the function setup_system(), I write:
[code]

When I run the code, I have an error
[code]
How should I declare the 'fe' object and 'sparsity_pattern' to avoid this error?

Thank you,
Giang

[2022-02-01 15:04] drwells commented on #13317
Simon is right (this is just like step-6).

The mailing list is a better place for this kind of question - if you still have issues, could you please post them there instead?

[2022-02-01 15:07] tamiko opened #13318 "Compatibility with opencascade 7.6.0"
Building deal.II (all versions up to 9.3.3, 10.0.0-pre) against opencascade 7.6.0 currently fails due to a number of API and include file changes.

[2022-02-01 15:14] #13317 closed

[2022-02-01 15:54] donggiang commented on #13317
Thanks a lot, simonsticko and drwells. The issue has gone.

[2022-02-01 18:09] bangerth opened #13321 "Replace std::pow with integer exponent"
A possibly surprising realization from https://github.com/geodynamics/aspect/pull/4456 is that `std::pow(x,p)` with fixed integer exponent `p` is *vastly* more expensive than just writing out the product, at least for relatively small integers `p`. We should take a look at our code base and see whether there is something that's worth replacing. These 108 places might be a good starting point to lo

[2022-02-01 18:36] Rombur commented on #13321
Which optimization flags are you passing to the compiler? With `-O3`, gcc generates the same code but the code is different if you use `-O0` https://godbolt.org/z/bz3bsn33K

[2022-02-01 18:43] bangerth commented on #13321
I used whatever release mode gave me. But you already get different answers if `p=3`.

[2022-02-01 18:51] bangerth commented on #13321
Here is a better regex:
[code]

[2022-02-01 19:09] Rombur commented on #13321
If you use `p >= 3`, you need to use `ffast-math`. It works at least up to `pow(x, 8)`. It might have unwanted effect though.

[2022-02-01 19:43] blaisb commented on #13321
That's funny, I thought this was automatic (at least for n =2,3,4). I thought this was only an issue if you made the mistake of writing std::pow(x,2.) instead of std::pow(x,2)...

[2022-02-02 14:26] #13295 closed

[2022-02-02 16:09] #8957 closed

[2022-02-03 10:29] nfehn opened #13329 "Link to wrong header file in Docu of MappingQ?"
The docu of MappingQ https://www.dealii.org/developer/doxygen/deal.II/classMappingQ.html links to the header file

#include <[deal.II/fe/mapping_manifold.h](https://www.dealii.org/developer/doxygen/deal.II/mapping__manifold_8h_source.html)>

but it should be "#include <deal.II/fe/mapping_q.h>" instead, shouldn't it?

[2022-02-03 10:33] kronbichler commented on #13329
That is a good remark, I never noticed it. It seems Doxygen has difficulties in picking up the right include (it does have a few problems also elsewhere) sometimes. In this particular case, it seems it picks up a forward declaration here https://github.com/dealii/dealii/blob/c80b699d38ba0268a11a8360b5f853cc12310eb1/include/deal.II/fe/mapping_manifold.h#L32-L33 rather than the actual declaration of

[2022-02-03 12:29] nfehn commented on #13329
Is the forward declaration in mapping_manifold.h actually needed? The one in mapping_q.h should at least not be needed.

I will try it out and maybe open a PR

[2022-02-03 12:52] nfehn commented on #13329
This should work, see #13330

[2022-02-03 12:54] nfehn commented on #13329
MappingQCache also has a wrong link due to a forward declaration in mapping_q.h.

The problem is more involved since it is defined a friend in MappingQ. I am currently trying to remove the friend declaration, so that we get rid of the forward declaration of MappingQCache as well.

[2022-02-03 12:55] marcfehling commented on #13321
IIRC, we have [`Utilities::fixed_power`](https://www.dealii.org/current/doxygen/deal.II/namespaceUtilities.html#a834c6b595ada6f8e73c78d9bbd8ec551) (https://github.com/dealii/dealii/commit/7c9f7855b325eafc298368637ddd1c85839baa9d) and [`Utilities::pow`](https://www.dealii.org/current/doxygen/deal.II/namespaceUtilities.html#a0900f35b37ee122e73fb2c80bba9beb9) (#9764) that should be faster than `std::

[2022-02-03 13:05] nfehn commented on #13329
This does not work. MappingQCache derives from MappingQ, but an independent object mapping_q of MappingQ calls the protected function `compute_mapping_support_points()`.

Independently of the problem of wrong header files, I think that this should be resolved somehow, as this is difficult to understand (one would expect that a protected function can be called in a derived class without the need to

[2022-02-03 13:13] nfehn commented on #13329
For the problem with MappingQCache, I decided to follow the suggestion here https://github.com/dealii/dealii/pull/13330#pullrequestreview-871803035

The friend topic should be discussed elsewhere.

[2022-02-03 18:56] #13329 closed

[2022-02-04 07:40] #10561 closed

[2022-02-06 00:16] bangerth commented on #9596
What do others think?

[2022-02-07 19:31] tjhei opened #13345 "DataOut hdf5 does not support large files"
It looks like hdf5 is not careful with using 64 bit integers for global data like number of cells:
https://github.com/dealii/dealii/blob/9df2fdc07c3d2c5f0f4ff700f9bbe6f5c65d58ab/source/base/data_out_base.cc#L8278-L8298

The fix should be pretty easy as the hdf5 types like ``hsize_t`` are 64 bit but this needs testing.

[2022-02-07 20:23] zjiaqi2018 opened #13346 "Negative det in MappingFE on some simplex mesh"
I imported a triangular mesh using `read_msh()`, but got negative det:
[code]
@peterrum said that the mesh has normal showing in the negative z direction, which leads to the negative determinant. The mesh has to be reoriented, which should be simple in 2D, but complicated in 3D.

This is the mesh
![image](https://user-images.githubusercontent.com/36655731/152249297-8450b7e9-e934-40e4-9bcb-b0ad3c66

[2022-02-07 20:33] drwells commented on #13346
This is a known bug (or rather, something we have not implemented yet):

https://github.com/dealii/dealii/blob/9df2fdc07c3d2c5f0f4ff700f9bbe6f5c65d58ab/source/grid/grid_in.cc#L562-L565

[2022-02-07 20:42] peterrum commented on #13346
I would have hoped that the mesh-generation tools are doing this themselves...

[2022-02-07 20:51] drwells commented on #13346
I recall seeing a gmsh example once that set all the cells to have (in our opinion) negative measure: in this particular case I suspect that by changing two columns of vertex numbers in the input file we can use the file without problems.

I'm not sure how GMSH sets the orientation convention but I think it is consistent between elements.

[2022-02-07 21:18] tjhei commented on #13346
It is not. Even with quads in 2d GMSH sometimes produces meshes with all negative or all positive measure. If you mesh a mesh with two pieces, this can also happen in the same file. We fail to read it right now. My student will open a PR with a fix soon. Maybe I should create an issue now...

[2022-02-07 21:21] tjhei opened #13347 "GMSH quad mesh with some cells with negative weight"
I have a valid 2d mesh from GMSH that consists of two parts and GMSH decided to export half of the cells with a negative and half with a positive measure.

Reading it currently fails, but it works fine if we remove the AssertThrow:
https://github.com/dealii/dealii/blob/9df2fdc07c3d2c5f0f4ff700f9bbe6f5c65d58ab/source/grid/grid_tools.cc#L912

@singima is working on a patch with a test case.

[2022-02-07 21:36] bangerth commented on #13347
That is probably relatively easy to fix for a 2d mesh in 2d space. I don't know what to do about it for a 2d mesh in 3d, or in general a 3d mesh in 3d, though.

[2022-02-07 22:58] bangerth opened #13348 "Test fe_nedelec_sz_hessian_divergence_theorem.debug times out"
#12771 adds a test that runs quite a long time and times out on my system. Running the test by itself, I get this for the run time:
[code]
That's just a tad over the 600 seconds the test suite allows for each test :-)

@kinnewig Do you think the test could be made smaller, for example by using a less refined mesh, so that it doesn't run as long? It would be nice to get the run time below a minute

[2022-02-08 02:49] bangerth commented on #13345
In this one place, one could also quite easily replace the `MPI_Allreduce` by an `MPI_Iallreduce` so that the two operations can run in parallel.

[2022-02-08 17:21] tjhei commented on #13297
Hi Richard,

thank you for reporting this. Are you using left preconditioning by any chance? It could be that the residual printed right before/after the restart is the preconditioned residual. Finally, the solver also has an option ``force_re_orthogonalization`` that might result in residuals that are not 100% accurate if set to false (the default).
Can you check if any of those options makes a d

[2022-02-08 17:23] tjhei commented on #13347
For that case we also flip all cells with negative measure already. Why do you think that is an issue?

Same. The code for checking/changing measures currently only runs for dim=spacedim. For other cases we probably fail if we encounter negative cell measures, see #13346

[2022-02-08 20:03] bangerth commented on #13348
Want to give this a try and implement a patch?

[2022-02-08 20:04] bangerth commented on #13345
Absolutely, get it working right first :-)

[2022-02-08 20:07] bangerth commented on #13347
What do we do in 3d? Just swap the upper and lower four vertices? If we already do that, much the better of course!

[2022-02-08 20:34] kinnewig commented on #13348
Yes,
I would just use the unrefined disk/sphere.

Or do you have any other suggestions?

[2022-02-08 21:17] tjhei commented on #13347
https://github.com/dealii/dealii/blob/9df2fdc07c3d2c5f0f4ff700f9bbe6f5c65d58ab/source/grid/grid_tools.cc#L889-L896

[2022-02-08 22:45] bangerth commented on #13348
Give that a try. If that's not good enough, how high a polynomial degree do you go to in the test?

[2022-02-08 23:17] kinnewig commented on #13348
I just opened a pull request with the changes I suggested above #13349

The test is already performed with the lowest order possible, which is in this case p=1. We can't use p=0 for the test, because in this case the test would not cover everything necessary.

[2022-02-08 23:58] #12626 closed

[2022-02-09 02:34] SilverLinings89 commented on #13098
I finally had some time to come up with the small example:
[code]

First, we work _without_ block 1,2 and 3. What happens is a linker error:
[code]

So I added block 1 to instantiate the template. I get the compiler error:
[code]
So I add block 2. Then I get lots of errors
[code]
truncated (and I removed the value of DEALII_DIR. I figured out that all these errors originate in the function
[code]

[2022-02-09 08:50] agrayver commented on #13347
Maybe related #3201

[2022-02-09 13:37] tjhei commented on #13347
Indeed, thank you! @singima here you have a simple test case!

[2022-02-09 22:01] marcfehling commented on #6255
I ran into this issue again while trying to solve a Stokes problem on the `pipe_junction` geometry with hp-refinement. I thought at first that there is something wrong with my setup, but solving the problem works fine with the check disabled. I was not able to create a minimal example that reproduces the problem so that we could add it to the testsuite, so instead I summarize what I found.

---

S

[2022-02-10 01:58] tjhei commented on #6255
This is precisely what I was going to say. I discovered differences in constraints in the order of 1e-16. We then removed the call to this function from ASPECT. I think if your problem gets sufficiently complex (curved geometry, manifolds, etc.), you can end up with slightly different constraints.
We could "fix" ``is_consistent_in_parallel`` by introducing a tolerance or, likely the better approac

[2022-02-10 03:26] bangerth commented on #13084
FYI, if we had this kind of specialized algorithm, we could call it in `Utilities::MPI::some_to_some()`. The current implementation of `some_to_some()` corresponds to the PEX algorithm.

[2022-02-10 04:25] bangerth commented on #6255
I would love to know where these 1e-16 differences actually originate, but I imagine it to be quite difficult to figure this out.

It is true that we could communicate constraints quite easily. We know which processes need to know about constraints on our own locally-owned DoFs, i.e., who we need to send information to. `MPI::some_to_some()` could easily facilitate this. Given how much trouble we

[2022-02-10 07:01] RichardYCJ commented on #13297
Hi Timo,

Thanks for the reply! Yes, I use the default setup that `AdditionalData` provides.

Here I attach the four logs with both `right_preconditioning` & `force_re_orthogonalization`  set to `true/false` and `use_default_residual=true` explicitly. And the problem remains — GMG has a jump at restart while AMG is all good.

**No force re-orthogonalization**
[code]

**Force re-orthogonalization**

[2022-02-10 19:11] bangerth opened #13357 "MPI::broadcast() can't deal with more than 2GB of data"
Follow-up to https://github.com/geodynamics/aspect/pull/4484: I looked at `Utilities::MPI::broadcast()`, and it does this:
[code]
The assignment
[code]
can overflow if we are trying to send large objects, and it will only go downhill from there.

[2022-02-10 20:02] tjhei commented on #13357
Well, ``MPI_Bcast`` (like all other MPI routines) takes the count as a signed ``int``, so you are limited to 2^31 bytes when compressing or 2^31 objects (doubles/...) if not.
But yes, this routine should check and AssertThrow about this.

[2022-02-10 20:38] bangerth commented on #13357
Ah, yes, crap. So we need that same trick that you did with the large-data output.