[2019-03-15 08:55] kronbichler commented on #7811
How complicated would it be to make the check when evaluating `DEAL_II_HAVE_USABLE_FLAGS_DEBUG` and choose the linker that works, from fast to slow? I don't remember if we exactly such a test for gold vs bfd already, but we do have some mechanisms at this point if I'm not mistaken.

[2019-03-17 00:22] Rombur opened #7821 "AMD GPU support"
Someone asked me about deal.II support for AMD GPU recently, so I looked how we could support both type of GPUs. The good news is that HIP C++ (AMD's language) is extremely close to CUDA. Many CUDA functions have an equivalent in HIP C++ for example: `cudaMalloc` and `hipMalloc` and all of our kernels are mostly compatible with both languages (the only thing that is not compatible is that `threadI

[2019-03-17 12:07] masterleinad commented on #7821
The second approach sounds more favorable for me as well. From playing around with `HIP` a bit, it seems that the code generated by `hipify` can still be compiled by `nvcc` provided the `rocm` headers can found in the include directories. We then only have to make sure that these always exist when we compile with `CUDA` support, i.e. we should bundle `HIP`. Otherwise, we would break `CUDA` support

[2019-03-17 23:13] Rombur commented on #7821
The way I see it we wouldn't change much for CUDA. If someone wants to use AMD, she would have to run `hipify` and then compile. Our job would be to make sure that the `HIP` conversion step works. I don't want everybody to have to use `hipcc` if they don't need to. It's already a pain to get `cmake` and CUDA to work on every platform, I don't want to make that more complicated than it is.

[2019-03-18 10:57] masterleinad commented on #7821
I just tried. At least, it doesn't work out of the box to compile using `hipcc` or `nvcc` after running `hipify`. I guess we need to write some kind of tutorial once someone has successfully done that.

[2019-03-18 12:16] jppelteret commented on #7821
Here's a totally naive question: Is it possible to abstract out things like `threadIdx.x` into a set of global functions like `get_threadIdx_x()`? This would then have different definitions based on which GPU brand is being  compiled for.

[2019-03-18 12:55] masterleinad commented on #7821
That is certainly possible, but probably only worth it if we plan to support another `GPU` brand fully.

[2019-03-18 12:55] Rombur commented on #7821
That's expected, we do use a few features that are not supported by `hipcc` but most of the code should be fine.

Yes, that's basically the option (1) that I described before. If that's the way we want to go I am fine with it, it's just that it's basically what `hipify` does. So writing wrapper is more work.

[2019-03-18 12:59] jppelteret commented on #7821
Thanks for the explanation! OK, well then I'm fully on board with option (2). I think that it would be fantastic if we could somehow be brand-agnostic with our GPU support.

[2019-03-18 13:00] masterleinad opened #7823 "Document CUDA support better, write a tutorial step"
Part of #7037. For the next release, we should add a simple tutorial solving the Laplace equation with `CUDA` and `MPI`.

[2019-03-18 18:23] dangars opened #7824 "Undeclared identifier 'tbb'"
Hi @Rombur the last version of deal.ii and it does not compile. I think that it is related to  #7808

The compilation report with the errors can be found here:
http://cdash.kyomu.43-1.org/buildSummary.php?buildid=8495

A few of errors:
[code]

[2019-03-18 18:29] Rombur commented on #7824
Sorry about that. I forgot to guard the new code with `#ifdef DEAL_II_WITH_THREADS`. Thanks for the report.

[2019-03-19 08:11] #7824 closed

[2019-03-19 09:57] #7774 closed

[2019-03-19 09:57] #7802 closed

[2019-03-19 14:56] #7811 closed

[2019-03-19 16:02] davydden opened #7829 "scalapack symbols check is broken"
https://github.com/dealii/dealii/pull/7820 does not work in my environment.

[code]

with `CMakeError.log`

[code]
I don't see what it tries to link against, though...

my scalapack setup is
[code]
and

[code]

p.s.  I do not wipe build folder, but I also don't see how this can influence the check.

[2019-03-19 16:09] masterleinad commented on #7829
It looks a bit strange that the check didn't link against the respective library.
Is `${SCALAPACK_LIBRARY})` empty for you?

[2019-03-19 16:32] masterleinad opened #7830 "Update bundled boost"
#3279 was the last update of the bundled `boost` package. In the meantime we needed to apply quite some changes to fix issues with recent compilers.

We should update the package after the next release to not diverge.

[2019-03-19 16:44] masterleinad commented on #7829
Can you try from a clean build directory again?

[2019-03-19 16:50] davydden commented on #7829
same error.

[2019-03-19 17:00] kronbichler commented on #7796
I agree that we should use `GID64(0)` (and `GID(0)`) rather than `MyGID()`. That was definitely wrong as it added row 0, which might not always be part of the map, causing the `-2` return value. We want to insert a dummy entry on the diagonal of that off-processor block (that likely already exists for the owner anyway), and this call should be ok.

From the error message, one cannot really see wha

[2019-03-19 18:42] tjhei commented on #7796
Thanks, see #7833.

I will try!

[2019-03-19 19:50] masterleinad commented on #7829
I am confused. `SCALAPACK_LIBRARY` is required to be non-empty for `SCALAPACK` being detected in our `cmake` setup.

[2019-03-19 20:09] tjhei opened #7835 "broken tbb parallel_for for 64 bit indices"
I am getting compile errors like
[code]
I think the blocked_range types need to be ``unsigned int`` even if we have 64 bit indices. I am working on a patch that fixes compilation, but I think we need to check all places carefully.

[2019-03-19 20:13] tjhei commented on #7835
see #7836, but I think we need to check the types more carefully...

[2019-03-19 20:15] masterleinad commented on #7821
If someone is interested, https://github.com/masterleinad/dealii/tree/hipify_deal_ii is a branch that compiles after calling `hipify` and fixing up some issues.

[2019-03-19 20:34] Rombur commented on #7821
Very nice! I think we should see if we can get the fixes that you did by hand in master. Let's not worry about the changes in boost.

[2019-03-19 20:59] masterleinad commented on #7829
Can you please check that #7837 works for you?

[2019-03-19 21:14] tjhei commented on #7796
got it:
[code]

code:
[code]

[2019-03-20 08:38] kronbichler commented on #7796
I am puzzled by this error message because it throws in a line where we have a check before that either uses `if(targetMap.GlobalIndicesLongLong())`, then `else if(targetMap.GlobalIndicesInt())`. But it must be one of these two cases. Even more, there is the exact same request in lines 427-443 and I do not see why it does not throw there.

In any case, I have gone through all code in `TrilinosWrap

[2019-03-20 10:20] masterleinad opened #7842 "SolverCG fails for LinearAlgebra::distributed::Vector<double, MemorySpace::CUDA>"
This minimal code
[code]
tries to use `SolverCG` with `LinearAlgebra::distributed::Vector<double, MemorySpace::CUDA>` (last block) and I am getting confusing errors.
Basically, `SolverCG` creates a bunch of `VectorMemory<>::Pointer` objects which creates a `std::unique_ptr` with a pointer returned by `GrowingVectorMemory<>::malloc()`.

https://github.com/dealii/dealii/blob/master/include/deal.II/l

[2019-03-20 13:43] Rombur commented on #7842
I guess the problem is that we are using a block of memory that we don't have allocated (the invalid write). The code probably works when you add the dummy calls because we get lucky in the unallocated memory we are using. I just don't understand where/how this happens.

[2019-03-20 14:01] masterleinad commented on #7622
These are the warnings with `clang-8`: https://cdash.kyomu.43-1.org/viewBuildError.php?type=1&buildid=8508

[2019-03-20 16:12] Rombur commented on #7842
So for me the code crashes here `auto dummy_ptr  = mem.alloc();` which seem consistent with valgrind. If I uncomment the code it does go through but I get:
`
An error occurred in line <123> of file <../include/deal.II/base/cuda.h> in function
    void dealii::Utilities::CUDA::delete_device_data(Number*) [with Number = double]
The violated condition was:
    error_code == cudaSuccess
Additional inf

[2019-03-20 16:20] masterleinad commented on #7842
I am currently using [this branch](https://github.com/masterleinad/dealii/tree/cuda_tutorial).
Even when disabling `THREADS` support and removing the `std::mutex` member variable, I still get
[code]
Note that in this branch the constructor doesn't initialize any member variable explicitly.

[2019-03-20 17:40] bangerth commented on #7040
@drwells -- the link still doesn't seem to work for me.

[2019-03-20 21:01] drwells commented on #7040
It was worth a try. I'll take another look.

[2019-03-20 21:30] tjhei commented on #7040
1. the link works for me.
2. I didn't know this page existed.

Maybe we should merge this with publications.html?

[2019-03-20 22:29] bangerth commented on #7040
I think there are good things on that page, but we should not be using frames and, maybe, run this page through doxygen somehow so that one can link to it.

[2019-03-21 00:10] tjhei commented on #7796
[code]

[2019-03-21 01:56] Rombur commented on #7842
@masterleinad Can you try your code but add the following headers `#include <deal.II/lac/vector_memory.h>` and `#include <deal.II/lac/vector_memory.templates.h>` I have no idea why but this fixes the problem for me. I do get an error about the destructor being called after the drivers have been shutdown but I just plan to reintroduce the cleaning step we had before. This `GrowingVectorMemory` clas

[2019-03-21 05:29] #7829 closed

[2019-03-21 06:45] masterleinad commented on #7842
Found it with the help of your last comment. It's our `CUDA` pet peeve again. We mustn't instantiate `GrowingVectorMemory` in a `.cc` file, but in a `.cu` file. Patch incoming.

[2019-03-21 08:59] jppelteret opened #7848 "Rename AD helper classes"
Drop the `ADHelper` part. Refer to https://github.com/dealii/dealii/pull/6981#issuecomment-475100723

[2019-03-21 09:07] jppelteret opened #7849 "AD helpers: Replace all instances of `Tensor<0,dim>` with `scalar_type`"
Self-explanatory title.

[2019-03-21 10:45] jppelteret commented on #7848
So the full namespace qualification + class names for these helpers would then be
[code]
Is this what you had in mind @bangerth ?

[2019-03-21 13:13] bangerth commented on #7848
Sounds like a good plan.

[2019-03-21 13:15] bangerth commented on #7849
I should say that I don't have a particular preference and am perfectly fine with `Tensor<0,dim>`. If it makes the code substantially more complicated (with switch classes) then it's probably not worth it. `Tensor<0,dim>` can be converted back and forth with scalars. It just struck me as a question worth asking.

[2019-03-21 14:11] jppelteret commented on #7849
I wouldn't say that it makes things more or less complicated (since, as you said, there's implicit conversion between `Tensor<0,dim>` and `scalar_type`). I just don't want to do this now (1) while there's some momentum on the PR, and (2) the tests aren't formally in place yet.

[2019-03-21 14:12] jppelteret commented on #7848
Ok, I'll do this once shortly.

[2019-03-21 16:01] bangerth commented on #7040
#7850 gets rid of the frames craziness from the 1990s.

[2019-03-21 16:17] bangerth opened #7851 "Grainsize unreasonably small in vector_operations_internal.h"
As mentioned in #7836, the file `include/deal.II/lac/vector_operations_internal.h` has two calls to `parallel::internal::parallel_for()` in which the minimum grain size is specified as 1. Specifically, these are here:
[code]
and
[code]

This makes no sense -- these functions are intended to be called for operations acting on individual vector elements. The minimum grain size should be much larger.

[2019-03-21 16:24] BenBrands opened #7852 "scalapack symbol check is still broken, namely for Intel MKL"
follow up to https://github.com/dealii/dealii/issues/7829

with Intel MKL the check fails with

[code]

We configure with
[code]

so what this check in CMake should do is also link against Blas-Lapack libs.

@masterleinad ping.

[2019-03-21 17:59] drwells commented on #7851
AFAICT you are right: see also

[2019-03-21 18:16] drwells commented on #7851
No, I am wrong. We use, e.g., `TBBForFunctor` as the functor argument in the first code example. `TBBForFunctor` uses `internal::VectorImplementation::minimum_parallel_grain_size`. Hence the grain size of 1 is right since we set the vector element grain size inside the functor itself.

Hence I think the code is correct.

[2019-03-21 18:28] bangerth commented on #7851
OK. Anyone else wants to chime in?

[2019-03-21 20:35] kronbichler commented on #7851
The grain size of 1 is by design and implemented following a discussion in #2496. We have four times as many chunks as we have threads, so there are big chunks inside the loops here, and every thread will get up to four chunks and a grain size of 1 is reasonable. This was done because we wanted to express the reductions as `for` loops to use the same TBB partitioner for all vector operations to su

[2019-03-22 08:58] jppelteret commented on #7849
Blocked by #7665

[2019-03-22 10:15] #7852 closed

[2019-03-23 00:16] #7848 closed

[2019-03-24 13:42] masterleinad commented on #7758
Would just renaming the option be fine for you?

[2019-03-24 16:43] tamiko commented on #7758
Absolutely. :-)

I planned to rename it to something other than "DEAL_II_WITH" and move
it either to the mpi or cuda configuration files under cmake/configure

[2019-03-24 20:10] #7725 closed

[2019-03-25 12:18] kronbichler opened #7860 "Do we fill Trilinos AMG constant modes directly from DoFHandler?"
In #7793, @jppelteret suggested to add a constructor of `TrilinosWrappers::PreconditionAMG::AdditionalData` that takes a `DoFHandlerType` and a `ComponentMask`, to simplify life for a user who might just want to use it. I was a bit sceptical because it pulls in a `DoFHandler` object into something that is otherwise pure linear algebra. Now we do not really strictly separate different parts, but I

[2019-03-25 15:22] tjhei commented on #7860
My vote would be to keep things separate. I don't think the extra line of code is much of a problem.

[2019-03-26 02:41] masterleinad commented on #6867
The implementation for `LinearAlgebra::distributed::Vector::operator= (const TrilinosWrappers::MPI::Vector< Number > &)` is
[code]

Hence, what is meant is to create a corresponding `ReadWriteVector` object, calling its `import()` function and then `LinearAlgebra::distributed::Vector::import()`.

[2019-03-26 05:08] davydden commented on #6867
thanks for clarification.

[2019-03-26 05:08] #6867 closed

[2019-03-26 07:26] jppelteret commented on #7860
Maybe we leave this issue open for one more day of discussion, but if it doesn't bother anyone then we can just leave everything as it is. I just found myself having forgotten to set the `constant_modes` for a (vector-valued) problem that otherwise matched all of the other default criterion. It took me a while to figure that out... It was a stupid mistake, but I reckoned that since we had all of t

[2019-03-26 12:58] bangerth commented on #7860
Could we just copy-paste the code snippet necessary to initialize the object into its documentation? Then one only has to copy-paste a couple of lines and doesn't have to think too hard about how exactly to construct the constant modes.

[2019-03-26 21:24] #7860 closed

[2019-03-27 01:16] #7842 closed

[2019-03-27 06:45] kronbichler commented on #7796
Fixed by #7833

[2019-03-27 06:45] #7796 closed

[2019-03-27 14:15] #7040 closed

[2019-03-27 15:03] tjhei commented on #7428
I am getting the same assert when running ``tests/distributed_grids/3d_coarse_grid_02.debug`` with p4est 2.0. I will update p4est next but I am wondering if anybody has tested p4est 2.2 yet.

[2019-03-27 15:19] davydden opened #7865 "Teuchos::TimeMonitorSurrogateImpl and code profiling"
I was running a code profiling today and noticed a strange thing: inside one of the function which does not use Trilinos at all, `10%` of time was spent (according to macOS's Instruments.app) in `Teuchos::RCP<Teuchos::TimeMonitorSurrogateImpl>::debug_assert_valid_ptr() const`.
The code is some flavor of matrix-free operator.

I don't use TPetra or Teuchos anywhere, and don't include any headers ei

[2019-03-27 15:46] tjhei opened #7869 "failing hdf tests"
With
[code]
I am seeing the following test failures when running ``ctest -R hdf5``:
[code]
For example:
[code]
Does anybody have an idea what is happening here?

[2019-03-27 16:55] Rombur commented on #7865
@davydden I don't think that's the real problem because if you look [here](https://trilinos.org/docs/r12.4/packages/teuchos/browser/doc/html/Teuchos__Ptr_8hpp_source.html#l00164) at line 164 you see that in release mode the function is a no-op.

[2019-03-27 17:45] davydden commented on #7865
I certainly profile in `release` build of my project, but `TEUCHOS_DEBUG` might still be `true` for some reason.

I still not a bit fun of those functions appearing in the user code without being explicitly asked for, even if they are supposed to be harmless in `release` mode.

[2019-03-27 17:54] Rombur commented on #7865
But you do need to enable the timer monitor explicitly: see [here](https://github.com/trilinos/Trilinos/blob/a568a4b232cbf4346c645178358bd13c154b5d5c/cmake/tribits/core/package_arch/TribitsPackageMacros.cmake#L490). I think that the problem is from your profiler. How can a function that you need to enable explicitly **and** is a no-op can appear in your profiling.

[2019-03-27 18:02] davydden commented on #7865
I have absolutely no idea, but I do NOT enable it anyhow. But I also don't see how it could be a problem of profiler, it can't simply dream up this function, right?

[2019-03-27 18:07] Rombur commented on #7865
Do you have more than one version of Trilinos installed on your machine? Maybe it's the optimization step that changes the code too much of the optimizer and you get a random function from Trilinos? You could run your code in gdb and put a breakpoint in the function to see where it is called from.

[2019-03-27 18:09] davydden commented on #7865
yes, but they are in a separate prefixes (via Spack), so there is now way I mix them accidentally.

I will check this a bit later...

[2019-03-27 18:54] bangerth commented on #7865
On 3/27/19 12:09 PM, Denis Davydov wrote:

Or check in your profiler whether it shows you where that function was
called from. It may be running on a background thread, and you'd have to
find out where that thread was created.

[2019-03-27 22:35] tjhei commented on #7869
Well, I am not the only one: https://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=8633

[2019-03-28 07:12] kronbichler commented on #7865
In release mode, this often not entirely obvious for the compiler to which code line a certain assembly code line should be link. So, after a series of optimization steps (where the compiler might do common subexpression elimination, just to name one of several dozens of candidates), the compiler might have lost track of where all those common expressions came from, so it ends up in a random place

[2019-03-28 07:15] davydden commented on #7865
thanks for explanation, @kronbichler . I will have a closer look...

[2019-03-28 07:53] #7566 closed

[2019-03-28 15:37] tjhei commented on #7428
with p4est 2.2:
[code]

[2019-03-28 19:17] starki0815 commented on #4462
What I am wondering meanwhile is whether we can actually expect second order convergence for the case with the transition between spherical manifold on the boundary and flat manifold in the interior. Is there any reference, where it is proven that the transition between two different manifold descriptions within a single layer of elements by means of transfinite interpolation doesn't affect the co

[2019-03-28 20:04] cburstedde commented on #7428
Thanks, I will check the uploaded connectivity file soon.

I'm suspecting that the connectivity created by deal.II contains some redundant
links, which may lead us to either tighten its creation in the deal.II code or
to relax the assertions in p4est.

[2019-03-28 20:09] masterleinad commented on #7428
Whatever you can up with we are happy if this issue is fixed! :smiley:

[2019-03-28 20:39] #7642 closed

[2019-03-29 07:20] davydden commented on #7865
looks like it was a false[1] alarm, apologies for the noise. I rebuilt deal.II with `-g` in `release` flags:
[code]
run through profiler to see what's happening and did not see TimeMonitorSurrogateImpl anymore.

[1] I was upgrading the software stack and also bumped the Trilinos version, there is a very little chance that this was the reason. But I don't have neither time nor will to investigate t

[2019-03-29 07:20] #7865 closed

[2019-03-29 20:28] kronbichler commented on #4462
I will look it up soon. Regarding the necessary ingredients for convergence, on standard problems (say Laplacian), you can read some of the discussions we had for the PR #5386.

[2019-03-30 09:18] kronbichler commented on #4462
In the end, my numbers also tend to the first order convergence rate. I guess this depends on the particular equation as the typical primal formulations should work well. Even though not as good as a transfinite interpolation manifold, for example, they still gave good convergence at least in my tests, see also #5386.
Here is the output with two more cycles: `0.038747 0.0704014 0.0353491 0.0142041

[2019-03-30 15:54] drwells commented on #7712
It looks like the images for this example step are not online.

[2019-03-30 18:39] starki0815 commented on #4462
Thank you! You have assigned the flat manifold to the interior before refinement and I did it afterwards. This explains the difference and I can now reproduce your numbers.

As far as the rate of convergence is concerned, I have tried to interpolate the exact solution to the nodes instead of assembling and solving the system. The resulting rates of convergence of the interpolation error are quadra

[2019-04-01 12:50] drwells commented on #7851
@bangerth are you satisfied with the grain size logic? If so, lets close this.

[2019-04-01 15:56] bangerth commented on #7851
Yes, though I think it would be nice to leave a couple of comments in those places where we use the grainsize=1 so we don't later trip over this again...

[2019-04-02 08:26] davydden opened #7882 "ArrayView: default constructor and reinit()"
Anything speaks against having `ArrayView::ArrayView()` and `ArrayView::reinit(...)`?

I am interested in storing a vector of objects, where each object contains a view to a data structure. Currently I am forced to wrap `ArrayView` into a shared pointer, but given that this class does nothing else but stores a pointer and size, I would say we could have a default constructor and `reinit()` methods

[2019-04-02 09:58] davydden opened #7883 "LAPACK_INCLUDE_DIRS is not used in downstream projects"
I have problem building downstream code with `dealii+gcc+mkl`. `dealii` is configured with manual setup of `lapack`:

[code]

but this include directory is missing when building downstream projects (verified with `-DCMAKE_VERBOSE_MAKEFILE:BOOL=ON`), which expectedly gives errors like:

[code]

If someone (@tamiko ? 😄 ) immediately knows what to fix, don't let me stop you ;-) otherwise I will dig i

[2019-04-02 11:14] davydden commented on #7883
I looked at [configure_feature](https://github.com/dealii/dealii/blob/master/cmake/macros/macro_configure_feature.cmake) macro and don't see anything like `${FEATURE}_INCLUDE_DIRS`, not sure how include directories are handled...

[2019-04-02 11:28] davydden commented on #7883
PR incoming...

[2019-04-02 12:16] masterleinad commented on #7883
#7722 might be related.

[2019-04-02 12:16] masterleinad commented on #7883
#7722 might be related.

[2019-04-02 13:12] tamiko commented on #7883
@davydden Traditionally BLAS/Lapack as pure Fortran libraries had no C/C++ headers. All you need to do is to add
[code]
to the `DEAL_II_PACKAGE_HANDLE` call.

[2019-04-02 13:13] tamiko commented on #7883
I guess #7722 is the same issue.

[2019-04-02 13:15] davydden commented on #7883
I did that, testing, AKF to finish and create a PR

[2019-04-02 13:16] davydden commented on #7883
That’s why

is there, it’s just slowly incoming ;-)

[2019-04-02 13:38] bangerth commented on #7882
I tend to think of these objects as created on the fly, and so never thought that a function `reinit()` might be useful. But I see no reason not to add one.

[2019-04-02 13:40] #7323 closed

[2019-04-02 13:56] davydden commented on #7883
@tamiko does not seem to be working... I am re-configuring now in a clean build folder to double check, but meanwhile, how do I make sure that `LAPACK_INCLUDE_DIRS` is actually used? I checked `CMakeCache` and the only place where I see `linux/mkl/include` is
[code]
Also `detailed.log` does not show `LAPACK_USER_INCLUDE_DIRS`.

Here's what I am testing:
[code]

[2019-04-02 14:03] drwells commented on #7882
We already check to see if we have an empty array view so I don't see any reason why we could not add a default constructor.

[2019-04-02 14:07] davydden commented on #7882
Ok, given that there seem to be no objection, I will look into doing this... The only change is that private attributes (i.e. `size`) will loose constness once we add `reinit()`.

[2019-04-02 14:15] tamiko commented on #7883
*yeah* Reminds me that I have to fix the macro at some point. This works:
[code]

[2019-04-02 14:16] davydden commented on #7883
perhaps document this as an issue?

[2019-04-02 18:15] #7722 closed

[2019-04-02 18:15] #7883 closed

[2019-04-03 01:38] #7882 closed

[2019-04-03 05:02] davydden opened #7887 "get_mg_dof_indices is deprecated?"
noticed that `cell->get_mg_dof_indices()` is deprecated in https://github.com/dealii/dealii/pull/7554, but for what? Maybe we should point users in documentation to the right one to use. It's also used internally, btw.

[2019-04-03 10:05] cburstedde commented on #7428
Ok so drawing the picture there is an unusual face orientation between tree 0, face 3 and tree 2, face 0. The orientation is 1. Thus, I'm suggesting tree_to_face[3] = 6 and tree_to_face[12] = 9. The file loaded from disk has the same issue (I ran it through gdb).

Can you try again once tree_to_face is changed?

[2019-04-03 10:06] cburstedde commented on #7428
If you're generating tree_to face in the code, or generating edges and corners using tree_to_face, it needs to be done in an overall consistent manner.

[2019-04-03 12:03] masterleinad commented on #7887
The [documentation](https://www.dealii.org/developer/doxygen/deal.II/classDoFCellAccessor.html#ab50a7eaa607d7b075cd4d04a9437980a) says:

    Use get_active_or_mg_dof_indices() with level_cell_iterator returned from begin_mg().

and

[2019-04-03 12:24] kronbichler commented on #7887
The point where I am with @davydden is the fact that we make internal use of this variable at a number of places where it would be a bit annoying to let the iterator decide about it and then  `get_active_or_mg_dof_indices()` do the right thing. While I see the value in terms of generic iterator programming, it bites us at some places because we do not consequentially use iterators only. Take for e

[2019-04-03 12:45] davydden commented on #7887
@masterleinad

oh, i guess i confused it with https://www.dealii.org/developer/doxygen/deal.II/classDoFAccessor.html#a6f41994037037a54e116d0b0815d166e

sorry about this.

[2019-04-03 13:30] ztdepztdep opened #7888 "Configure error with fedora 29"
Include /home/ztdep/Downloads/dealii-9.0.0/cmake/setup_finalize.cmake
CMake Error at cmake/setup_finalize.cmake:95 (MESSAGE):

    Configuration error: Cannot compile a test program with the final set of
    compiler and linker flags:
      CXX flags (DEBUG): -pedantic -fPIC -Wall -Wextra -Wpointer-arith -Wwrite-strings -Wsynth -Wsign-compare -Wswitch -Woverloaded-virtual -Wno-placement-new -Wno-d

[2019-04-03 14:12] tamiko commented on #7888
Would you mind sending us the error message of the compiler invocation?
This one you can find in the file CMakeFiles/CMakeError.log

Close to the end of the file there should be corresponding test. The
output should start with the string

  Performing C++ SOURCE FILE Test DEAL_II_HAVE_USABLE_FLAGS_DEBUG

We need the log output following that line.

Best,
Matthias

On Wed, Apr  3, 2019, at 08:30 CD

[2019-04-03 16:12] tjhei commented on #7887
Yeah, I stumbled on this in one of the applications. I like to express the fact that I am grabbing level dofs but I am no longer allowed to do so. :-(

[2019-04-03 20:03] loganharbour opened #7891 "Illegal instruction in bundled OpenBLAS with Deal.ii mac package on pre Haswell architectures"
It appears that the OpenBLAS library that is bundled with the mac package is too modern. See the following trace:
[code]

@luca-heltai I was instructed by @tamiko to create this issue. Do you by any chance have documentation somewhere for how you create your packages?

[2019-04-04 01:13] tamiko commented on #7891
For context: We seem to bundle `libopenblas_haswell`. The Haswell architecture gained - compared to the predecessor Sandy Bridge / Ivy Bridge - support for AVX2 instructions.

[2019-04-04 02:00] tamiko opened #7892 "Heap use after free in ParameterAcceptor::ParameterAcceptor(const std::string &name)"
In `source/base/parameter_acceptor.cc`:
[code]
Line 37 causes a heap use after free due to `SmartPointer` storing the C-style string pointer: `include/deal.II/base/smartpointer.h`:
[code]

I suggest we bite the bullet and convert the C-style string handling in `SmartPointer` to `std::string`. In release mode everything gets thrown out anyway... I am happy to make a pull request with this change la

[2019-04-04 02:40] masterleinad commented on #7892
Even if I tried my best to avoid `std::string` when I last touched it, it's fine with me if there is no better way. Let's just make sure that this doesn't impact the `Debug` build too much.

[2019-04-04 04:03] tamiko commented on #7892
Well, we could either not use a smartpointer, or not supply the class name as a c-style string, @luca-heltai *ping*

[2019-04-04 04:04] tamiko commented on #7892
@masterleinad How many objects with SmartPointers do you want to create/destroy per second? :-D

[2019-04-04 08:46] jodlbauer commented on #7695
Found some time to investigate this a bit further, so here are some (inconclusive) observations:
* it works with parallel::shared::Triangulation
* fails as well for dim = 3
* fails with p4est 2.0 and p4est 2.2
* if it stops, it does so between  [tria.cc:3517](https://github.com/dealii/dealii/blob/master/source/distributed/tria.cc#L3517) and [tria.cc:3524](https://github.com/dealii/dealii/blob/mast

[2019-04-04 10:56] davydden commented on #7891
@loganharbour

it's built using [Spack](https://github.com/spack/spack), see [this](https://github.com/dealii/dealii/wiki/deal.II-in-Spack) wiki on how to do this yourself.

@tamiko @luca-heltai

we can/should explicitly set CPU target, which is perfectly doable in `spack`, see

[code]

Better yet, when building the stack, we should configure [compiler flags](https://spack.readthedocs.io/en/latest

[2019-04-04 12:38] Rombur commented on #7891
Or use `DYNAMIC_ARCH=1` https://github.com/spack/spack/pull/10638 to support all the available CPUs. That's what we had to with spack and docker.

[2019-04-04 12:38] masterleinad commented on #7892
@tamiko Just go ahead. I guess we will not see a serious impact.

[2019-04-04 14:19] tjhei commented on #7891
related to https://github.com/dealii/dealii/issues/7175

[2019-04-08 08:07] jodlbauer commented on #7695
Some more info:
* some rank is stopping on MPI_Waitall in [p4est_ghost.c:2057](https://github.com/cburstedde/p4est/blob/85ab9e5685ee431e8eeca97e7dea25202c925efb/src/p4est_ghost.c#L2057), altough the communication pattern seems to be correct (after all, it works sometimes ...)
* it works with mpich 3.2

As any further debugging would involve going deeper into ompi configuration / sources, swapping

[2019-04-08 12:22] masterleinad opened #7895 "CDash builds with SYMENGINE support failing"
Currently, all builds with `SYMENGINE` support are failing on `CDash` with an error message like
[code]

[2019-04-08 12:59] cburstedde commented on #7682
Bypassing the p4est debug mode is not recommended. It checks for a *lot* of things required for consistency, and it is rare that an assertion that fails is not fixable by outside code.

(These tests are expensive, so I'd still use the non-debug version for production runs.)

I agree with masterleinad that saving the connectivity and posting it here might help to clear this issue.

[2019-04-09 03:05] #7895 closed

[2019-04-09 08:54] davydden opened #7902 "tbb from intel-parallel-studio"
deal.II does not seem to pick up correctly version from TBB in `intel-parallel-studio`, provided as
[code]

which gives:
[code]

[CMake_logs.zip](https://github.com/dealii/dealii/files/3057990/CMake_logs.zip)

[2019-04-09 11:56] davydden commented on #7902
ok, looks like with `_FOUND=True` one also needs to provide a version via
[code]

[2019-04-09 11:56] #7902 closed

[2019-04-09 15:22] drwells opened #7903 "Use fe.degree explicitly in example quadrature rules."
This came up on the mailing list and I want to make sure we do not forget about it.

Some of the example programs (e.g., step-40) hard-code the degree of the quadrature formula. We should always do, e.g., `QGauss<dim>(fe.degree + 1)` for linear problems to ensure things are consistent.

Maxi Miller volunteered to do this, but may not have time until about April 22.

[2019-04-09 18:27] Rombur opened #7904 "Bug in rectangular TrilinosWrappers::SparseMatrix"
It looks to me that there is a bug in `TrilinosWrappers::SparseMatrix`. When we use two `IndexSet` to create a sparse matrix, it looks to me that one of the `IndexSet` is never used. See [here](https://github.com/dealii/dealii/blob/master/source/lac/trilinos_sparse_matrix.cc#L250) where `column_space_map` is not passed to the constructor of the Epetra matrix and so we are creating a square matrix.

[2019-04-09 19:52] tjhei commented on #7904
it looks weird, yes.
But you probably are calling https://github.com/dealii/dealii/blob/master/source/lac/trilinos_sparse_matrix.cc#L366 right?
So then there seems to be a missing third argument for the column space map:
https://trilinos.org/docs/dev/packages/epetra/doc/html/classEpetra__FECrsMatrix.html#a5db6dcfbb015559ea1c9674e3eb41f5e

[2019-04-10 06:12] kronbichler commented on #7904
It is used [here](https://github.com/dealii/dealii/blob/master/source/lac/trilinos_sparse_matrix.cc#L1220) and [here](https://github.com/dealii/dealii/blob/master/source/lac/trilinos_sparse_matrix.cc#L1225). What we denote as the 'colum space map' is actually the domain map, i.e., the map of the vectors the matrix is to be multiplied with. What we call the 'row map' is range map, i.e., the map of

[2019-04-10 06:12] #7904 closed

[2019-04-10 06:13] kronbichler commented on #7904
Feel free to re-open in case there is something that does not work as expected - but the current issue is what it is by design.

[2019-04-10 09:32] jppelteret opened #7907 "Allow MeshWorker::mesh_loop() to work on iterator ranges"
Reviewing #7906 made me wonder whether we could add some more variants of `MeshWorker::mesh_loop()` that work on iterator ranges. This would mean that we could do this for normal cells:
[code]
this for some custom post-processors
[code]
and this for `p::d::Tria`
[code]
(although I don't know if the latter is truly necessary; I've not yet worked with `mesh_loop()`)

[2019-04-10 11:13] davydden opened #7908 "relative paths when running mpi (quick) tests"
Some MPI packages seem to need full/relative paths to executables:
[code]
Whereas
[code]
fails.

Which is exactly what we do with `make tests`, it seems:
[code]
same applies to `ctest`, of course. Including downstream/user libs.

@tamiko do you know where that could be fixed? I am sure it's just a one-liner PR, the question is where that line goes?

ps. `mpi` is from `intel-parallel-studio@2019.3`

[2019-04-10 12:17] masterleinad commented on #7908
Do you still see this after #7897?

[2019-04-10 12:35] davydden commented on #7908
I think that would help... Let me try....

[2019-04-10 12:43] Rombur commented on #7904
Thanks for the explanation.

[2019-04-10 12:45] davydden commented on #7908
yes, that fixed the issue. I also checked `ctest` and there is no problem there. Thanks @masterleinad

[2019-04-10 12:45] #7908 closed

[2019-04-10 14:03] bangerth commented on #7907
Yes, I look forward to using ranges and so that we can use the extensions of the "ranges" additions to C++20: https://en.cppreference.com/w/cpp/ranges

[2019-04-10 14:03] bangerth commented on #7907
The first place that probably ought to be augmented is `WorkStream::run()`.

[2019-04-10 14:29] vdilecce opened #7909 "deal.II with TBB on Windows: problems with muparser (and image size)"
In order to use deal.II with TBB on Windows, I found that I could not force `DEAL_II_WITH_THREADS=ON` due to lack of `pthread` on Windows. However, I managed to configure deal.II with TBB on Windows using precompiled TBB from [here](https://github.com/01org/tbb/releases), with directory structure manually rearranged to help the CMake find module.

However, deal.II does not build, apparently due to

[2019-04-11 14:36] balay opened #7912 "dealii@develop build error with intel@19.0.3.199 on cori via spack/xsdk"
Attaching the build log.

The commit tested is a5465021cc1eb5f5fd518c2bed276b131aeb6cfa

This must be due to https://github.com/dealii/dealii/pull/7806

Reverting to a73bbc813e6eb086f29c5fcc307c116ca7d7c400 gets the build going

[dealii-spack-build.out.txt](https://github.com/dealii/dealii/files/3069164/dealii-spack-build.out.txt)

[2019-04-11 14:50] davydden commented on #7912
I think it will be fixed by https://github.com/dealii/dealii/pull/7910

[2019-04-11 14:53] davydden commented on #7912
indeed, errors are
[code]
and alike.

[2019-04-11 19:42] #7912 closed

[2019-04-11 22:25] #7892 closed

[2019-04-14 17:33] luca-heltai opened #7921 "GridTools::Cache::get_vertex_to_cell_centers_directions ignores mapping"
When constructing the centers, GridTools::Cache::get_vertex_to_cell_centers_directions and
GridTools::vertex_to_cell_centers_directions ignore the mapping. This is particularly wrong when using MappingQEulerian, since that class changes the location of the vertices.

[2019-04-14 17:35] luca-heltai opened #7922 "GridTools::find_closest_vertex_of_cell ignores mapping"
GridTools::find_closest_vertex_of_cell does not consider the fact that vertices may be in a different position if a Mapping is present that transforms the cells.

[2019-04-16 09:31] qwebean opened #7928 "'FEValuesViews': the symbol to the left of a '::' must be a type (MSVC)"
I guess  the error caused by the namespace conflict( such as dealii::FEValuesViews and dealii::internal::FEValuesViews) because of error C2039('ViewType': ...)

Error	C2938	'dealii::FEValuesViews::View<dim,spacedim,Extractor>' : Failed to specialize alias template	obj_meshworker_debug	L:\compile\dealii\include\deal.II\meshworker\scratch_data.h	45
Error	C3083	'FEValuesViews': the symbol to the left

[2019-04-16 12:31] masterleinad commented on #1984
Since the `MatrixFree` framework only allows face loops for discontinuous elements, adding support for parallel Triangulations will take more time.

[2019-04-16 12:36] kronbichler commented on #1984
You can do face integrals for continuous elements as well, but this requires still some effort and I guess it is not high enough priority, so the target milestone 9.2 makes sense.

[2019-04-16 12:36] masterleinad commented on #7928
Do you see this problem with a recent version of the master branch or with a release?

We are not testing compiling the library on Windows regularly so we in general advice to use a different OS or the [Windows Subsystem for Linux](https://github.com/dealii/dealii/wiki/Windows#using-dealii-with-the-windows-subsystem-for-windows).

[2019-04-16 12:56] qwebean commented on #7928
I tested the latest master branch updated 2 days ago.

[2019-04-16 12:58] masterleinad commented on #7597
This is non-trivial and there is no high demand for it. Let's move it to the next milestone.

[2019-04-16 13:02] masterleinad commented on #6941
There is more to be done here than we can expect to achieve in the remaining time unless there is someone willing to work on this intensively.

[2019-04-16 13:12] rosskynch commented on #6941
I'd just add that my free time to work on this is effectively zero. As much as I'd like to, I simply don't work in the field on a day -to-day basis any longer.

[2019-04-16 18:13] sreekar2858 opened #7929 "Error while make run for smoke test in WSL (Windows Subsystem for Linux)"
I followed the code as is to install the deal.ii in WSL but when I tried to run the smoke test.
It says `undefined reference to fftw_join_taint`

Please Help me

Cheers
Happy coding

[2019-04-16 18:23] masterleinad commented on #7929
What exactly are you proposing? Is there a package missing?

[2019-04-16 18:52] drwells commented on #7929
It sounds like a dependency of deal.II has an incomplete link interface to FFTW. This is almost surely not something that can be fixed from inside deal.II.

[2019-04-16 20:36] masterleinad commented on #7928
I can compile successfully using `Visual Studio 2019`.

[2019-04-17 01:49] qwebean commented on #7928
Thanks for your test. So it seems the issue is an MSVC internal compiler error.

[2019-04-17 04:33] masterleinad commented on #7909
I didn't have any problems using `Visual Studio 2019`.

[2019-04-17 11:10] luca-heltai opened #7930 "Bug in find_active_cell_around_point"
GridTools::find_active_cell_around_point<dim>(tria,p,marked_vertices) fails in a case like this

![](https://gitlab.com/MDLSoft/ginestra-fem/uploads/209de5a254859cb08d9a5413c8707b20/image.png)

because if marked_vertices is not empty the algorithm does the following:

- searches the closes vertex (V5 in this case)
- searches only between the cells adjacent to the vertex, not finding the point

If

[2019-04-17 11:47] masterleinad commented on #7345
Since this is nothing we can address, let's remove the milestone entirely.

[2019-04-18 13:27] balay opened #7934 "dealii@develop build failure with boost@1.70.0 on cori"
I'm seeing a build failure of  dealii@develop  with boost@1.70.0 on cori

The same build succeeds with boost@1.69.0.

Attaching spack-build.out for both builds

[dealii@develop-with-boost@1.69.0-spack-build.out.txt](https://github.com/dealii/dealii/files/3094568/dealii%40develop-with-boost%401.69.0-spack-build.out.txt)
[dealii@develop-with-boost@1.70.0-spack-build.out.txt](https://github.com/deali

[2019-04-18 14:21] bangerth commented on #7934
The relevant error message in the second log file is this:
[code]

[2019-04-18 14:56] davydden commented on #7934
Looks like it dealii picks up two boosts (1.70 and 1.59) although we manually specify where to look for boost 1.70 in Spack.

[2019-04-18 15:02] drwells commented on #7929
Since this problem is not something that can be addressed by changing something in deal.II I believe we should close this issue.

@sreekar2858 if you are still having trouble getting all of the dependencies to work then I suggest posting this on the mailing list.

[2019-04-18 15:02] #7929 closed

[2019-04-18 15:02] davydden commented on #7934
@tamiko any idea what’s going on? It goes through 1.70 and then switches to 1.59 without any errors, AFAICT

[2019-04-18 17:11] balay commented on #7934
Note: I get this same build error on a couple of other linux build machines aswell.

[cooley-spack-build.out.txt](https://github.com/dealii/dealii/files/3095438/cooley-spack-build.out.txt)
[pj03-spack-build.out.txt](https://github.com/dealii/dealii/files/3095439/pj03-spack-build.out.txt)

[2019-04-18 18:26] masterleinad commented on #7934
`boost-1.70` is problematic not only for `deal.II`: https://gitlab.kitware.com/cmake/cmake/issues/18865

[2019-04-18 21:46] isuruf opened #7937 "CMake: C++ specific flags in CXXFLAGS env variable breaks find(LAPACK) call (with intel mkl)"
Since CMAKE_REQUIRED_FLAGS is set here,
https://github.com/dealii/dealii/blob/3205b61f9260e0b8cb94b78a1a1b7fca7c19b7ef/cmake/macros/macro_reset_cmake_required.cmake checking for pthread.h is broken because a C compiler is used with C++ specific flags.

[2019-04-18 22:37] masterleinad commented on #7937
Where exactly do you encounter an error. Can you share the failing `CMakeError.txt` output?

[2019-04-18 22:59] isuruf commented on #7937
[code]
This is on MacOSX with a custom built clang 4.0.1

[2019-04-18 23:38] tamiko commented on #7937
@isuruf Would you mind to share more context? In particular `CMakeCache.txt`, your command line invocation of cmake and the cmake output. Are you certain that `CMAKE_C_FLAGS` didn't accidentally get populated by `-stdlib=libc++ -std=c++14`?

For context, the relevant CMake snippet is found in `configure_1_threads.cmake` and reads:
[code]

[2019-04-18 23:57] isuruf commented on #7937
Looks like `configure_1_lapack.cmake` gets called before `configure_1_threads.cmake` which calls CMake's FindLAPACK.cmake which in turn calls `FIND_PACKAGE(Threads)` before deal.ii does.
(ref: https://github.com/Kitware/CMake/blob/master/Modules/FindLAPACK.cmake#L215)

I checked and `CMAKE_C_FLAGS` is not populated with C++ flags.

Following patch fixes this issue for me,
[code]

[2019-04-18 23:58] isuruf commented on #7937
Btw, a simple reproducer is  `CXXFLAGS="-std=c++14" cmake ..`

[2019-04-19 00:17] tamiko commented on #7937
@isuruf Ah, very good. What about you open a pull request for above one-liner?

I guess the combination of using intel lapack libraries (`BLA_VENDOR` set to `Intel`) and setting a C++ specific flag in CXXFLAGS is relatively rare :-)

[2019-04-19 02:17] #7934 closed

[2019-04-19 04:57] #7937 closed

[2019-04-19 07:28] StefanoDominici89 opened #7939 "Failed compilation under Microsoft Visual Studio"
The most recent version of Deal.II fails to compile under Visual Studio, with the following error:

[code]

I'm also attaching the file `detailed.log`, from the build directory, containing informations on the build options.
[detailed.log](https://github.com/dealii/dealii/files/3097342/detailed.log)

[2019-04-19 14:33] masterleinad commented on #7939
See #7928.

[2019-04-19 14:34] #7939 closed

[2019-04-19 15:24] dangars opened #7940 "Wrong vtu output with complex SLEPc and MPI"
I get a wrong vtu output when I use complex SLEPc to calculate the eigenfrequencies of a structure. I think that the problem is in deal.ii. I can write and submit a PR with a test that reproduces the problem. I have not been able to find the source of the problem.

The output is correct in serial (MPI_processes = 1), but the output is wrong with MPI_processes = 16
# Detailed description of the pro

[2019-04-19 15:40] masterleinad commented on #7940
This looks like the information on the information is wrong, i.e. the vector does not have the correct values for the locally active degrees of freedom. Can you make sure that the vector you are using for `vtu` output is indeed ghosted and has its ghost values updated?

[2019-04-19 16:26] dangars commented on #7940
@masterleinad Thanks a lot for the quick reply!
You are right! The problem was related to the ghost values.
My fault, there is no bug in the deal.ii library :)

[2019-04-19 16:26] #7940 closed

[2019-04-19 16:27] dsambit commented on #7053
I wanted to give a small update on a temporary fix we have created for the above issue. Hopefully, this will be helpful in debugging as well. The temporary fix involves extracting the parallel constraints from the serial constraints created from a serial dofHandler. I have modified the failing test case using this approach (see below), which now passes.

However, in this approach I found the seria

[2019-04-19 17:37] tjhei commented on #7053
How useful is ``is_consistent_in_parallel`` in this context, does it detect the issue (always/sometimes?)?

[2019-04-19 17:49] dsambit commented on #7053
`How useful is is_consistent_in_parallel in this context, does it detect the issue (always/sometimes?)?`
I call `is_consistent_in_parallel` on the parallel constraint matrix extracted from the serial constraint matrix, but I agree it is a bit trivial. Using this approach the parallel constraints are consistent in all cases. However, in the `bounding box` approach I discussed doesn't guarantee that

[2019-04-19 18:25] balay commented on #7934
@davydden perhaps this patch should be added to spack for dealii@9.0.1?

 [as this is the default version  in spack - and it beaks with the current boost default]

[2019-04-19 18:55] davydden commented on #7934
@balay

Yes, I think it should. Could you please create a PR? I am AFK for the next ten days and check e-mail from my phone only.

[2019-04-19 21:58] masterleinad commented on #7276
@yw5aj Any news?

[2019-04-19 22:02] yw5aj commented on #7276
Hi Daniel,

Sorry - unfortunately my group decided to move away from deal.II (for
tri/tet) and I did not get a chance to get back to that.

Shawn

On Fri, Apr 19, 2019 at 2:58 PM Daniel Arndt <notifications@github.com>
wrote:

--
Yuxiang "Shawn" Wang, PhD
yw5aj@virginia.edu
+1 (434) 284-0836

[2019-04-20 03:53] masterleinad commented on #7276
This seems not to be high priority and there is no one going for it. Let's just remove the milestone.

[2019-04-20 20:11] tjhei commented on #7053
This is not what I meant. I am sorry, I will rephrase:
My understanding from the discussion in this thread is that constraints can be inconsistent in parallel if periodic constraints are involved. How do you detect this problem? I wrote the function ``is_consistent_in_parallel`` a while ago and I am wondering if (in your experience) this is enough to detect if things are incorrect or not? If this

[2019-04-21 06:18] dsambit commented on #7053
I understand your question now. So far from my experience, in all cases where `is_consistent_in_parallel` is happy our solver is too, and in the cases where `is_consistent_in_parallel` check fails our solver doesn't converge (most of the time).

[2019-04-21 14:41] Cristilex25 opened #7941 "OpenMP support"
Hi, everyone. How can I add a flag (let's say something like DEAL_II_WITH_OPENMP=ON) for my cmake compiler in order to successfully run the project with openMp support? Do I need to install Deal.II again afterwards?

[2019-04-21 17:45] masterleinad commented on #7941
No, `deal.II` doesn't use `OpenMP` explicitly but its dependencies, e.g, `cuSolver` might. Dependencies (apart from bundled packages) must be configured individually.

[2019-04-21 17:46] #7941 closed

[2019-04-23 09:12] anates opened #7946 "Tutorial examples can not be compiled, even though requirements are fulfilled"
When trying to compile step-40 and step-55, I get the error message
[code]
As far as I can see, my installation fulfills the requirements for the second option, but cmake still fails. According to the error message, cmake should not fail, if I understand that correct?

[2019-04-23 12:03] drwells commented on #7946
Yup, this should work: both steps should default to using Trilinos in this case.

[2019-04-24 01:07] bangerth commented on #7946
Note that the violated condition is that if you use PETSc, then it needs to be configured with `DEAL_II_PETSC_WITH_COMPLEX = OFF`.

[2019-04-24 04:37] tjhei commented on #7946
#7956 should fix it for step-40.

[2019-04-25 14:33] dangars opened #7963 "std::vector<Point<dim>> support in HDF5"
As we have discussed in https://github.com/dealii/dealii/pull/6747#discussion_r277122834, it would be good to add support for `std::vector<Point<dim>>` in the HDF5 interface.

I think that the best way to save a `std::vector<Point<dim>>` in HDF5 is to consider `Point<dim>` as a compound HDF5 type. The advantages are:
* `std::complex<double>` is already is already a compound type
* All the machiner

[2019-04-25 20:10] dsambit commented on #7053
@tjhei I am not sure whether I was clear in my earlier post. Just wanted to reconfirm that from my
 experience whenever `is_consistent_in_parallel` is happy there is absolutely no periodic constraints bug.

[2019-04-26 03:53] bangerth opened #7970 "Issue with sign_change in FEPolyTensor"
A student in my department (hi @GrahamBenHarper!) is working on some modifications in `fe_poly_tensor.cc` and asked a question that led me down a rabbit hole at the end of which was a huge "Oh sh**t!" sign.

Here's the issue: `FEPolyTensor` is the base class for the Raviart-Thomas and Nedelec elements. The shape functions for these elements are vectors, and they need to agree between neighboring c

[2019-04-26 04:01] bangerth commented on #313
@marcfehling -- is this functionality available now and could this issue be closed?

[2019-04-26 04:03] bangerth commented on #7970
I'll add that we have a number of open issues about bugs in the Nedelec element for which we have never been able to find the problem:
* #4092 uses the RT(1) element on a 2d mesh with face orientation issues (cc: @fesc3555 and @heelist) and points at exactly these kinds of issues
* #332 is about higher order Nedelec elements
* #328 the same
I recall others but can't seem to find them right now. Ei

[2019-04-26 16:44] marcfehling commented on #313
Not yet. A follow-up to #7899 will replace this code snippet for `SolutionTransfer`, and also for some other sections.

[2019-04-28 16:19] icojb25 commented on #6947
hi, i can do these - where is the website source?

[2019-04-28 18:09] drwells commented on #6947
@icojb25 the website source is not publicly available. However, if you would like to get started, I think it would be reasonable to just draft a page similar to https://dealii.org/about.html that highlights our feature set.

[2019-04-28 20:35] icojb25 commented on #6947
hi David, thanks for the reply. ok cool. at least i was not not finding it because i was doing something silly! i will have a crack at that, is there anywhere i can solicit stuff which people would like to be highlighted? the mailing list?

how do you want to go through the process if i cannot share my revisions as a PR?

[2019-04-28 22:29] bangerth commented on #6947
If you have a mock-up HTML page, I (or any of the others) can commit it to the repository!

[2019-04-29 00:30] icojb25 commented on #6947
[deal2.zip](https://github.com/dealii/dealii/files/3125675/deal2.zip)

hi @drwells @bangerth i've attached a first draft above.

[2019-04-29 11:57] masterleinad commented on #7903
Closed by #7943.

[2019-04-29 11:57] #7903 closed

[2019-04-29 22:21] rezarastak opened #7980 "Abaqus mesh file does not work without \n in the last line"
If the last line of an Abaqus mesh file (.inp file) does not end with \n, `GridIn` cannot read it properly. Is this completely expected? I assume that for a lot of dealii newcomers who wish to use simple, handwritten meshes, the error message is not very clear.

I created a small example that demonstrates this issue.

[code]

[2019-04-30 07:41] jppelteret commented on #7980
No this is not expected behaviour, but rather a derivative of the mesh files that we've examined and tested against thus far. Would you like to submit a patch that corrects the issue? You can use the small example that you've shown here as a test to be added to the test suite.

[2019-04-30 08:11] rezarastak commented on #7980
Yes I'll attempt to write a patch for this.

[2019-05-01 12:29] #7980 closed

[2019-05-01 17:34] tamiko opened #7988 "Reading in a 4M cell coarse grid into parallel::distributed::Triangulation is slow"
@ragusa and @loganharbour reported an interesting issue with the `parallel::distributed::Triangulation`.

Namely reading in [1] a large coarse grid with 4M cells takes _significantly longer_ (in wall time and memory consumption) than with the serial `Triangulation`---all happening just on a single core. We are aware of the fact that one should ideally not read in such a large coarse grid. But the

[2019-05-01 19:03] bangerth commented on #7988
For a self-reproducing testcase, just start with a mesh with a single cell, refine it a bunch of times, do `GridGenerator::flatten`, and copy the result of this into the parallel triangulation.

[2019-05-01 19:07] bangerth commented on #7988
@cburstedde -- FYI

When we first wrote the p4est interfaces, we did hit on bottlenecks in p4est that had quadratic behavior in the number of coarse cells. Carsten et al. fixed these, and consequently we now have tests in the testsuite that check that things work sufficiently quickly with 300,000 cells in the coarse mesh. (That's one of the stored external meshes we have in the testsuite.) But we

[2019-05-01 19:26] bangerth opened #7989 "step-61 needs a changelog entry"
@sophy1029 : Would you please write a patch that puts an entry into `doc/news/changes/major` that announces your tutorial program step-61?

[2019-05-01 19:46] bangerth commented on #7930
If I see this right, if we don't find a cell we simply return an empty iterator object, right? If so, should the function simply call itself without marked vertices if that is about to happen?

[2019-05-01 19:59] bangerth commented on #4462
It can't affect the interpolation error because interpolation happens locally on each cell independently of all other cells. So the interpolation operator knows nothing about a discontinuity in the gradient of the mapping between cells. But the Galerkin projection does, and so it is not impossible for this jump to show up in the constant `C` in your estimate. For you to get first order convergence

[2019-05-01 21:08] sophy1029 commented on #7989
Yes, I will do that this week.

[2019-05-02 01:26] bangerth commented on #7712
The pictures are now online and there were patches for introduction and results sections that addressed language and grammar (linked to from the original step-61 PR). What's still necessary are some edits to the program itself.

[2019-05-02 01:37] bangerth commented on #6992
I just found this one again. Can't we compute the curvature from the gradient of the mapping? Don't we have that information already?

[2019-05-02 07:13] kronbichler commented on #7988
I would say that a factor of 2-3 in increased time is expected because we do certain operations several times plus have p4est do something similar. The interesting question is whether there is actually an increase in complexity when moving to larger grids, which would then be worth investigating.

I think the largest meshes I've worked with are around 1M-3M coarse cells - but these are painful bec

[2019-05-02 10:49] starki0815 commented on #4462
Thank you Wolfgang for your response and sorry for going off topic here!

Of course, you are right and interpolation can't be affected by the regularity of the mapping across cell boundaries. What I was rather thinking, is that the mapping used on an individual cell could affect the interpolation error on that cell; and that mapping does depend of course on the choice of the (mapping) support poin

[2019-05-02 11:31] bangerth commented on #4462
I'm not steeped enough in this area to recall the details, but the typical argument for an `h` to creep into a `C` is as follows: Let's say that the proof of convergence assumes that the gradient of the mapping stays bounded. This is true in all common cases, but you can break the assumption on triangles by choosing a particularly stupid refinement rule that divides triangles at the smallest angle

[2019-05-02 16:58] starki0815 commented on #4462
Are you sure that the way how `h` could  enter `C` is something which has to do with the global regularity of the mapping? What my understandings of the matter was so far: If you distort the mesh cells in the way you describe it (if I recall it correctly, it's then called a mesh, which is not quasi-uniform), this will affect the (local) interpolation estimate and this is how `h` can enter the cons

[2019-05-03 09:18] agrayver opened #7997 "step-62 has 404 link"
The link to the notebook in step-62 page leads me to this 404 page:

https://github.com/dealii/dealii/blob/phononic-cavity/examples/step-62/step-62.ipynb

There are also a few 'Undefined control sequence \lamda' instead of equations.

Great tutorial otherwise! I hope we see more python integration in the future.

[2019-05-03 11:57] Rombur commented on #7997
Thanks for the report. We should point to master not phononic-cavity.

[2019-05-03 13:03] #7997 closed

[2019-05-03 16:36] dangars commented on #7997
@agrayver Thanks a lot for your message! I'm happy to hear that you liked the tutorial :)
I fixed the lambda typos in #8001

[2019-05-03 16:54] cburstedde commented on #7988
I agree. If the run time becomes nonlinear in the number of trees, we may want to look at it.

[2019-05-03 19:57] starki0815 commented on #4462
After some further experimenting I believe that the problem is neither directly related to the transition between manifolds nor is it some bug. Rather, it's probably that I am looking in the wrong space for solutions. Although Taylor-Hood works in practice for most problems with the mixed Laplacian, the pair Raviart-Thomas/DGQ is clearly the proper choice (in the way it is done in the tutorial ste

[2019-05-04 08:26] rezarastak opened #8003 ""constexpr"ing Tensor, Point, and SymmetricTensor"
By adding `constexpr` to the constructors, assignment operations, and `operator[]`, we can achieve full compile time evaluation of fixed-sized fundamental data types such as Tensor, Point, and SymmetricTensor when they are instantiated with trivial types. The goal is to eventually have all tensors in `Physics::Elasticity::StandardTensors` (and other similar places) computed as compile-time constan

[2019-05-04 14:55] drwells commented on #8003
This sounds like a nice set of features. My main concern (though I have not looked too closely at it) is that this will be too hard to do without C++14. I am not a big fan of putting those types of macros everywhere but I could live with it.

An example of something similar we did: @masterleinad converted `GeometryInfo` to `constexpr`. See #5748.

[2019-05-04 15:04] masterleinad commented on #8003
I tried doing that already but so far the clutter needed to make it work with C++11 appeared to outweigh the usefulness. A typical example might be `Utilities::pow` (https://github.com/dealii/dealii/blob/master/include/deal.II/base/utilities.h#L420-L457) which looks pretty cryptic compared to what it really does.
Changing from `const` to `constexpr` in case at least `C++14` support is enabled does

[2019-05-05 19:42] drwells commented on #7946
@anates could you check to see if the solution in #7956 fixes the issue for you?

[2019-05-05 21:13] tjhei commented on #7988
I think something of this kind would be great to have. I never got back to working on it, unfortunately. It would make sense to discuss things, if you are interested. I think it would be ideal, if this would not depend on p4est or the p4est space-filling curve. That way we can generate custom partitioning.

[2019-05-05 22:36] Rombur commented on #8003
Why not? I don't see the problem?  Personally, I think it's fine to have a macro `DEAL_II_CONSTEXPR` that enable `constexpr` only if the compiler supports it.  For example, in `Utilities::pow` we would enable `constexpr` only if it works out-of-the-box, if it doesn't we fall back to the current behavior. This way we don't clutter the code and you can take advantage of `constexpr` if your compiler

[2019-05-06 08:24] anates commented on #7946
@drwells Yes, it does. For step 55 I created https://github.com/dealii/dealii/pull/8014

[2019-05-06 11:25] kronbichler opened #8015 "gcc9 warning: std::move with unique_ptr redundant"
When compiling deal.II with the freshly released gcc-9, I get a large number of warnings. Some are related to boost (as usual with new compiler releases), some are due to our code. I get a lot of warnings of this type:
[code]

Looking at the [source code for this particular example](https://github.com/dealii/dealii/blob/master/source/fe/mapping_cartesian.cc#L96-L109), I can certainly understand wh

[2019-05-06 11:28] kronbichler commented on #4011
Partly addressed by #7782; moving target milestone regarding a more general solution.

[2019-05-06 11:36] kronbichler commented on #7407
Is this issue still happening? It is a bit scary that the 2D iteration counts are so much higher - this would suggest that this is not simply a roundoff issue but something more substantial. Can anybody else reproduce this?

[2019-05-06 11:38] davydden commented on #7407
yes, I still see this issue ;-(

[2019-05-06 11:39] kronbichler commented on #7039
We're not going to address this for the current release. Adjusting target milestone.

[2019-05-06 11:47] kronbichler commented on #6868
@davydden can you explain what you mean by

If the pointer comparison in https://github.com/dealii/dealii/blob/master/include/deal.II/matrix_free/operators.h#L1366 succeeds, both objects share the same `shared_ptr`. There cannot be a different object at this point.

I am hesitant to add `is_globally_compatible`, i.e., global communication, in each matrix-vector product, at least in release mode. T

[2019-05-06 11:55] kronbichler commented on #7357
Providing a proper fix along an alternative direction (via transfinite interpolation) takes more time than I have before the release, so we need to move the target milestone; it is a bit scary though because the spherical manifold will give wrong (sub-optimal) results in the combination of `SolutionTransfer` and more polynomials of degree higher than 3 (and degree 3 might have worse error constant

[2019-05-06 12:12] davydden commented on #6868
Agree.

Frankly I don't remember the reason why I came to this issue, let's close it for now.

[2019-05-06 12:12] #6868 closed

[2019-05-06 12:52] #7851 closed

[2019-05-06 13:34] drwells commented on #8015
I think we could write an equivalent fix for #6558 by writing something like
[code]
so that the `unique_ptr` always has the correct type. This should always work. I will give it a try

[2019-05-06 13:40] drwells commented on #6774
I would really like to get this done this week so that we can state, as of 9.1, that all of the tutorial programs are up-to-date.

[2019-05-06 17:48] masterleinad commented on #7946
Closed by #8014.

[2019-05-06 17:48] #7946 closed

[2019-05-06 18:48] masterleinad commented on #8015
There was a nice talk at CppCon2018 (https://github.com/CppCon/CppCon2018/blob/master/Presentations/return_value_optimization_harder_than_it_looks/return_value_optimization_harder_than_it_looks__arthur_odwyer__cppcon_2018.pdf). As long as the selected converting constructor allows rvalue-references implicit moves will happen. This does not work, e.g. when slicing.

[2019-05-06 20:32] #7907 closed

[2019-05-07 02:39] drwells commented on #2046
Well, its been a year and I might have forgotten about this. I should sign up to give a talk on 'how to write a finite element' at the workshop so that I actually get around to rewriting this program.

[2019-05-07 08:04] jppelteret opened #8026 "Cleanup static const[expr] stuff in ﻿ad_number_traits.h"
https://github.com/dealii/dealii/pull/7638#discussion_r281280783 refers

[2019-05-07 13:01] drwells commented on #7970
@bangerth do we have a plan for fixing this by 9.1?

[2019-05-07 13:34] bangerth commented on #7970
I've come to realize that at least for the RT element, the function is correct -- though probably by sheer coincidence. I'll fix the coincidence later today.

I don't know that I understand the Nedelec element well enough to do anything about it. I believe the code is actively wrong.

[2019-05-07 14:45] jppelteret opened #8028 "Possible issue with `constraints.reinit(locally_relevant_dofs);`"
Maybe I misused `constraints.reinit(locally_relevant_dofs);`, but I think that there might be a bug related to this. In the call to `AffineConstraints::distribute_local_to_global` I hit this error
[code]
for this very simple problem.
[code]

I believe that I duplicated all of the relevant parts correctly from `step-40`. Is this a bug or have I done something wrong? Removing the line `constraints.r

[2019-05-07 15:33] drwells opened #8029 "Failing ADOL-C and Sacado tests"
The tests
[code]
fail for me with Trilinos 12.12: when I looked more closely the AD Hessian was filled with `-nan`s.

@jppelteret *Ping*

[2019-05-07 15:34] drwells commented on #8029
On closer inspection this is already known in #8018.

[2019-05-07 15:47] jppelteret commented on #8029
But its still good to have an issue opened specifically for it :-)

Is `sacado/helper_scalar_coupled_4_components_01_2.debug` also failing with `nan`s? This is a different problem than what's mentioned in , because that's for `sacado_dfad_dfad`, while `helper_scalar_coupled_4_components_01_4.debug` (which I can reproduce) is using `sacado_rad_dfad`.

[2019-05-07 15:48] jppelteret commented on #8029
Let me reproduce my (https://github.com/dealii/dealii/pull/8018#issuecomment-489745076, so that all of these related issues are discussed in one place:

Most of the tests now pass locally with `-Werror`:
[code]

This last one is another diabolical bug, which is best left for another day:
[code]
This last one segfaults on GCC, but clang shows that some of the results of differential computations ar

[2019-05-07 15:53] jppelteret commented on #8029
There are also some further failing tests on the tester (e.g. https://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=9547), but I'm not sure that I can reproduce these. Worryingly, most of those pertain to taped ADOL-C types. Up till now, these have been quite reliable to use. I wonder what's going on here...

[2019-05-07 15:53] drwells commented on #8029
That test failed but I didn't take a closer look. I had to disable FP exceptions to see the `-nan`s in the first case. I will take a look in a moment.

[2019-05-07 16:00] jppelteret commented on #8028
This has been a case of user error. I forgot to limit `mesh_loop()` to only locally owned cells:
[code]

[2019-05-07 16:00] #8028 closed

[2019-05-07 16:11] tjhei commented on #8028
wait, I guess ``assemble_own_cells`` will not trigger the ``cell_action`` but still call the copier, right? I don't see a reason for calling the copier for cases where we don't do anything. Should I submit a PR?

[2019-05-07 16:35] jppelteret commented on #8028
Yes, that would be great thanks!

[2019-05-07 16:40] tjhei commented on #8028
Well, it is not that simple as we can not communicate to the copier if works needs to be done. One way is to do this (see the lines I marked):
[code]

[2019-05-07 16:43] tjhei commented on #8028
@luca-heltai do you have a suggestion here? I think having an invalid copy object is not a bad idea because you will crash instead of operating on wrong data.
The problem is that we can not tell inside the copier if the worker is skipping this cell.

[2019-05-07 18:34] drwells commented on #8015
I got a build of GCC 10 working on my workstation so I can handle this pretty easily now.

[2019-05-07 19:02] luca-heltai commented on #8028
Mmmm... maybe it is safer to check wether the cell is locally owned internally in mesh loop? We are assuming the user is educated to this, but we may just as well add a (maybe reduntant?) check that we only assemble on locally owned cells, rather than trying hard to invalidate workier/copier...

[2019-05-07 19:09] tjhei commented on #8028
We do this check for the cell worker (based on the flags the user specifies). The logic when to run the copier is more complicated (it is needed when the cell has a face we own even if the cell is not locally owned etc.), so we currently do it in every situation.

We could replicate the whole logic (check cell and face owners/flags) before calling the user's copier, but I wonder if this is a bit t

[2019-05-07 19:18] luca-heltai commented on #8028
How about setting a flag whenever any type of work has been done (and checking that flag later before actually calling the copier?)

[2019-05-07 19:23] tjhei commented on #8028
This would need to be stored somewhere in the copy data, right? This is currently a template type so we can't add a bool without wrapping it in another type (again: possible but complicated).

[2019-05-07 19:28] luca-heltai commented on #8028
I mean a temporary boolean in mesh_loop. Why should it be stored in the copy data? It is the user's responsability to do whatever they need to do with worker and copier, we should not force an interface to these, except for the calling signature.

`mesh_loop` knows if at least one worker (be it face or cell, or boundary worker) has been called, and it should only call the copier if at least one wo

[2019-05-07 19:42] tjhei commented on #8028
I am not sure how that would work, sorry. You would need a boolean for each cell, or not? That means you need to store this in the copy_data.
For the example above, the problem is that we run the copier also for non-owned cells but work only on owned cells.

[2019-05-07 20:39] bangerth commented on #8028
Let me try to understand this: We call the worker on a cell where it decides to not do anything and leaves the `CopyData` object unchanged, then we call the copier which doesn't know that nothing has changed and ends up copying the *old* contents of the `CopyData` object into the global matrix a second/third/... time. This is clearly a bug.

I think this could be solved by passing a flag to the co

[2019-05-07 20:59] tjhei commented on #8028
No. We have a cell that is not locally owned that is in the iterator range (in the example above we pass active_cell_iterators()). The flag ``assemble_own_cells`` means that we do not call the worker but the current code will call the copier.
We also do not run the copier with "old contents" but with the default data. This is zeroed out in the example above (but distribute_local_to_global still tr

[2019-05-07 21:01] tjhei commented on #8028
I would think one would need to create a new ``CopyData`` type that contains a bool and the user's CopyData and then call the user's copy function with her data if the bool says that we need to call it. Or is there a more clever way to do this?

[2019-05-07 21:13] tjhei commented on #8028
I see the following options:
1. Store a bool per cell (in a new CopyData object) and call the worker only if work was done.
2. Let the user deal with this in the copier by detecting the default state. This means ``MeshWorker::CopyData<1, 1, 1>;`` should be adjusted to not allocate data (see my example above).
3. Ignore the problem and let users specify an appropriate iterator range (see comment wi

[2019-05-07 21:13] bangerth commented on #8028
On 5/7/19 3:01 PM, Timo Heister wrote:

This new type is `std::pair<bool, CopyData>`. That's in essence what I
had in mind.

[2019-05-07 21:15] tjhei commented on #8028
ah, okay then. This is doable, but I don't think it is super useful in the general case (you can have cell terms on some cells and face terms on other cells) unless we give several flags to the user...

[2019-05-08 00:30] luca-heltai commented on #8028
[code]

[2019-05-08 01:24] bangerth commented on #7712
I've fixed this with a long sequence of PRs all linked to from #6455. The last one is #8035.

[2019-05-08 01:24] #7712 closed

[2019-05-08 01:26] bangerth commented on #5982
We still have this:
[code]

[2019-05-08 15:11] kronbichler commented on #5506
Are we ready to review another tutorial program until the release? I plan a short tutorial showing the transfinite interpolation, introduces a mapping cache class, for some geometry of a ball inside a cube. I will be done with it in around 24 hours if I push for it, but I only do it if there is someone reviewing the tutorial.

[2019-05-08 15:20] drwells commented on #5506
We really need this tutorial program. I can review it tomorrow night.

[2019-05-08 15:21] kronbichler commented on #5506
Great, then I go ahead.

[2019-05-08 16:56] drwells commented on #8029
No: the assertion fails but the values are all finite.

[2019-05-08 17:33] jppelteret commented on #8029
Does changing [this tolerance](https://github.com/dealii/dealii/blob/master/tests/ad_common_tests/helper_scalar_coupled_4_components_01.h#L532) help, or are the values completely wrong?

[2019-05-08 18:19] drwells commented on #8029
That fixes it.

Since the values in the symmetric tensor are all O(10^5), matching `1e6*eps` is right at machine tolerance. I think it would make more sense to normalize the values in the test so that the errors are all relative.

[2019-05-08 20:05] davydden opened #8041 "distribute_sparsity_pattern shall take an std::vector<IndexSet>"
following discussion in https://github.com/dealii/dealii/pull/7831#discussion_r267541748

similar to https://github.com/dealii/dealii/pull/7828/

[2019-05-08 20:12] bangerth opened #8042 "step-61: Couple degree of RT element to that of the other elements."
@sophy1029: Right now, step-61 always creates an `FE_RT(0)`. When you made the experiments shown in the results section, you probably had to change by hand the polynomial degrees of all elements, right? I think it would be easier to make sure that the degree of the `FE_RT` is always equal to that of the interior and interface elements, for example by creating it via `FE_RT(fe.base_element(0).degre

[2019-05-08 20:55] sophy1029 commented on #8042
Yes, that makes sense. I just need the degree of FE_RT to be the same as DGQ and FaceQ.
Then it's much easier! Thanks!

[2019-05-09 07:18] luca-heltai commented on #8028
I think that we should not try to be too smart. In practice `mesh_loop` was designed to make things easier for assembling in parallel, and in general you need to know what you are doing, and there is no easy recipy for that.

My two cents would be to simply enforce that workstream is called with a filtered iterator internally in `mesh_loop` (which was my original suggestion, but I guess I did not

[2019-05-09 07:25] luca-heltai commented on #8028
The reason why I'm saying this, is because mesh_loop is not thought to work only with CopyData<n1, n2, n3>, but with any copydata, and, *by design*, all work is done first on the cell, its faces, and its boundary faces (with the same copydata), and then the copier is called.

Maybe we should simply document this better, and let the user choose their own path.

[2019-05-09 08:31] anates opened #8049 "Pull request 8019 leads to compilation problems in step-62"
When compiling step-62, I get the following errors:
[code]
and
[code]
Based on what I can see, those changes were introduced in https://github.com/dealii/dealii/pull/8019. Is that a problem in my configuration, or a general bug (especially the first error)?

[2019-05-09 08:57] jppelteret commented on #8029
I've got a more robust solution to this in some of my own code, but I don't have the time to make these changes before the release. Would you be willing to submit a PR that fixes this, and then I'll make the robust changes later?

[2019-05-09 12:50] drwells commented on #8049
No, this is definitely a bug: there should be braces around the outer loop.

[2019-05-09 13:02] anates commented on #8049
The second error shows up on my own machine (gcc 8.3.1), but not on the cluster (ICC 18). No idea why...

[2019-05-09 13:17] jppelteret commented on #8028
After reading through @luca-heltai's explanation, I agree that simply explaining things a bit better and perhaps giving a small code example for the `p::d::Tria` case might be the easiest solution here. I was a bit surprised that the copier is called since a _light browse_ through the code suggested that everything was already filtered with some `locally_owned` flag or something like that. That sa

[2019-05-09 13:23] jppelteret opened #8054 "Make some AD tests more robust"
https://github.com/dealii/dealii/issues/8029#issuecomment-490578702 refers

Tensors should be compared on a per-component basis. Here's a snippet of some functions that could help with this:
[code]

[2019-05-09 13:24] jppelteret commented on #8029
@drwells See #8054

[2019-05-09 13:44] drwells commented on #8054
I still think it would be easier to compute relative errors componentwise: we just have to be careful not to pick a function which has values or derivatives of zero at the evaluation point.

[2019-05-09 13:47] #8049 closed

[2019-05-09 13:54] drwells commented on #8049
My best guess would be that your local copy of PETSc was compiled with complex number support but the copy on the cluster was not. This tutorial program is only built in the former case.

[2019-05-09 14:14] anates commented on #8049
Both copies are build using complex number support (used the same line for configuration)

[2019-05-09 14:24] jppelteret commented on #8054
There's a problem when the components are very very small. I found that checking using relative values lead to false positives for "non-matching" values. I use what I pasted above in production code.

[2019-05-09 14:28] jppelteret commented on #8054
Also, sometimes the exact value is `0.0` and the AD value something like `1e-14` (or maybe vice versa). Then checking by relative values also fails. The relative error is either `1.0` or infinity.

[2019-05-09 14:34] bangerth commented on #8054
Are you comparing individual values? I think you want to compare `|| x - x_exact || <= eps *  ||x||` or similar, where the norm is for the whole tensor object. This way you are not bothered by individual tensor entries being zero or close to.

[2019-05-09 14:49] jppelteret commented on #8054
At the moment we are comparing with `|| x - x_exact || <= eps`. But doing `|| x - x_exact || <= eps * ||x||` is not robust enough*, so I want to switch to comparison by value.

*Consider the following: `x_exact = [1e6 1e-8; 1e-8 0]`, with the off-diagonal components derived as a result of operations with symmetric tensors. If we incorrectly implement the off-diagonal scaling factor such that `x= [

[2019-05-09 16:00] bangerth commented on #8054
I see what you mean. But aren't `x_exact = [1e6 1e-8; 1e-8 0]` and `x = [1e6 2e-8; 2e-8 0]` the same for all purposes?

[2019-05-09 17:10] jppelteret commented on #8054
In some applications, I would say no. Imagine `A` is the linearisation of a coupled system `A.x = b` where `A = [1e6 1e-8; 1e-8 1e-3]` and `x = [0.1, 1e6]`. Are those off-diagonal terms still insignificant? Is a factor of 2 error insignificant? This is the context in which I typically work where a large imbalance in the scaling of two fields leads to a small, but non-insignificant coupling terms.

[2019-05-09 17:15] bangerth commented on #8054
I see. Then disregard my suggestions :-)

[2019-05-09 17:28] bangerth commented on #8054
I'll note that you might want to scale your equations in that case to avoid these sorts of issues. That's what we do in ASPECT, for example, where we scale variables in ways so that they have similar numerical value ranges.

[2019-05-09 17:42] tamiko commented on #7988
Short program demonstrating the problem:

[code]

[2019-05-09 17:45] tamiko commented on #7988
Some results:
1M (2D, refinement 10):
[code]
4M (2D, refinement 11):
[code]
16M (2D, refinement 12):
[code]
4M (3D, generated UCD file):
[code]

[2019-05-09 17:58] tamiko commented on #7988
So we're talking about an algorithmic complexity of about
O(N^1.08) for serial versus O(N^1.64) in parallel.

[2019-05-09 18:22] cburstedde commented on #7988
Can you say which p4est functions are used apart from p4est_connectivity_load?

The only functions in p4est_connectivity that use a communicator are _complete
and _bcast.  The others should have a runtime independent of parallel/serial
execution of the surrounding code.

[2019-05-09 19:01] tamiko commented on #7988
@cburstedde Parallel refers to our parallel distribution with p4est, serial to our serial one (without p4est). The timings are all for a run on one processor. I will try to profile the 4M testcase over night.

[2019-05-09 19:10] kronbichler commented on #5506
We decided in #8058 to move this to the 9.2 release.

[2019-05-09 19:15] #8042 closed

[2019-05-09 19:37] jppelteret opened #8060 "Write an description of symbolic differentiation in doxygen header file"
This needs to be filled out: https://github.com/dealii/dealii/blob/master/doc/doxygen/headers/automatic_and_symbolic_differentiation.h#L482-L486

[2019-05-10 10:08] kronbichler opened #8067 "Do not store IndexSet of all ranks in DoFHandler's NumberCache"
As revealed in #8065, the computation of all `IndexSet` held in `internal::DoFHandlerImplementation::NumberCache` is pretty expensive as soon as more than 100k MPI ranks are involved due to the variable `locally_owned_dofs_per_processor` both in terms of setup times and partly also memory consumption. To give an example, a vector of simple IndexSet with a single range is worth 81 bytes (as indicat

[2019-05-10 10:11] kronbichler commented on #7809
We currently still have a long list of issues open for the 9.1 release here: https://github.com/dealii/dealii/milestone/6

Since we set today as the last day for feature contribution to the release, we ought go through this list and re-prioritize. Most of the topics, apart from those where we have PRs open, are uncritically and should be moved to the 9.2 release milestone. Unless someone actively

[2019-05-10 11:08] kronbichler opened #8068 "Deprecate nanoflann"
As discussed in https://github.com/dealii/dealii/pull/8030#issuecomment-490216282 we can deprecated nanoflann as the RTree library is deemed much better. We should do this for the 9.2 release.

[2019-05-10 11:49] drwells commented on #8068
Should we deprecate in 9.1 as well?

[2019-05-10 11:54] drwells commented on #6625
This is a comprehensive change and I don't think we will have this done today. I will change the milestone to 9.2

[2019-05-10 12:04] drwells commented on #3922
We should get to this eventually but its not a significant enough issue to warrant inclusion in our last day of hacking for 9.1.

[2019-05-10 12:05] drwells commented on #6663
See also #8058.

[2019-05-10 12:06] drwells commented on #7454
I fixed this in #8044.

[2019-05-10 12:06] #7454 closed

[2019-05-10 12:08] drwells commented on #2004
We haven't made any progress on this in four years :crying_cat_face:

[2019-05-10 12:16] drwells commented on #5012
I would still like to do this (based on the list of issues with our current nedelec implementation). Can we still fit this in the release @tamiko?

[2019-05-10 13:35] kronbichler commented on #5012
Talking for @tamiko now, I can review it today (if it is not too late here in Europe) or tomorrow morning. I guess it depends who decides when to make the branches.

[2019-05-10 15:26] bangerth commented on #8067
That would seem reasonable. Have you audited where these objects are actually used?

[2019-05-10 16:24] kronbichler commented on #8068
If you want to go ahead, I'm fine with it.

[2019-05-10 16:27] kronbichler commented on #7407
Is this failure in debug or release mode? Any more matrix-free tests failing or other things that could give a hint of what could go wrong? If not, I feel that we need to postpone this to the 9.2 release.

[2019-05-10 16:28] kronbichler commented on #7321
We should make the change in the machinery as suggested in the last comment. But we won't be able to make it for the 9.1 release, so I'm adjusting the target milestone.

[2019-05-10 16:30] kronbichler commented on #7021
Unfortunately I think all our resources are tied in other places now before the release, so I think we will update/upload these pictures for the 9.2 release.

[2019-05-10 16:31] kronbichler commented on #7021
Note that I also plan to add a high-order VTK picture in step-65 via #8058, further helping the documentation of this excellent addition.

[2019-05-10 16:40] kronbichler commented on #7023
Unfortunately this is out of reach for the 9.1 release. This is related to #7021.

[2019-05-10 16:41] kronbichler commented on #7328
I guess there is not much more we can do here. Feel free to reopen in case we should extend our documentation and be more specific on how to disable vectorization.

[2019-05-10 16:41] #7328 closed

[2019-05-10 16:44] kronbichler commented on #7970
@bangerth Should we postpone the rest to the 9.2 release? The same milestone adjustment would then be made to #4092.

[2019-05-10 16:45] kronbichler commented on #5657
We won't have this completed for now.

[2019-05-10 16:47] kronbichler commented on #1496
Despite the reoccurring interest, this will have to wait until the next release, as there does not seem to be a complete solution yet.

[2019-05-10 16:51] kronbichler commented on #7759
As this is simply a wiki entry, it is not excluded that we might get to it before the release in a week, but I'd still postpone the official date.

[2019-05-10 16:57] kronbichler commented on #6433
I guess we won't be able to do it now, even though it does not appear like a lot of work.

[2019-05-10 16:58] kronbichler commented on #7116
Any progress on this @jppelteret? If not, I suggest we postpone the target milestone.

[2019-05-10 17:00] kronbichler commented on #7053
@tamiko @masterleinad I guess we won't be able to finish this now?

[2019-05-10 17:01] kronbichler commented on #7577
@luca-heltai I guess we postpone this one to the 9.2 release milestone?

[2019-05-10 17:02] luca-heltai commented on #8068
I'm not sure how many people are using this. Internally, we replaced all nanoflann use with RTree.

[2019-05-10 17:04] kronbichler commented on #7812
We won't be able to do this for the current release, adjusting target milestone.

[2019-05-10 17:06] kronbichler commented on #1973
We won't be able to do this now on a short notice.

[2019-05-10 17:08] kronbichler commented on #7730
Uncritical, postponing for the 9.2 release.

[2019-05-10 17:10] kronbichler commented on #3511
We have quite some open hp-related PRs and issues for the 9.1 milestone, so I take the opportunity to put this up here. @bangerth and @marcfehling how is your assessment of what can get finished before we close the merge window for tomorrow? We can always adjust the milestone for parts of the code.

[2019-05-10 17:13] kronbichler commented on #7809
I'm done with my iteration through open issues/prs for the 9.1 milestone. We have around a dozen of things in flight which I believe could go in, and a few more topics where we will get opinion of the developers soon (those have been active today). One big topic is the AD/symbolic differentiation of @jppelteret where I'd like to ask what the status is. Otherwise I think we have a manageable amount

[2019-05-10 17:14] drwells commented on #7812
Would it be ok if I put up a patch for this late tonight, or would that count as outside the merge window?

[2019-05-10 17:14] kronbichler commented on #7812
I would be fine with that, yes.

[2019-05-10 17:15] kronbichler commented on #7809
Regarding our unfinished tutorial programs (besides step-64 which I'm optimistic will be ready).

- @tjhei @tcclevenger step-63 is still noted as work in progress: I assume this will not be finished for the 9.1 release?
- Otherwise, we also have step-50 as unfinished tutorial, which will remain so.

[2019-05-10 17:40] tjhei commented on #7053
@dsambit thanks.
@kronbichler I don't think so.

I assume we would need to implement new functionality.

[2019-05-10 17:41] tjhei commented on #7809
we are really close (writing documentation currently). If you insist on the cutoff of today, then no, we won't be able to finish.

This is planned for this summer.

[2019-05-10 17:41] marcfehling commented on #3511
We should definitely merge #7933 and #8072 for the upcoming release, which will finalize the interface for p-adaptation.

I would suggest to postpone the other features on our roadmap #7515 for later (e.g. #7513).

[2019-05-10 17:51] jppelteret commented on #7116
This is relatively unimportant. I've postponed it for now.

[2019-05-10 17:55] kronbichler commented on #7809
If it is mostly documentation, we can still cherry-pick it into the branch. Feel free to go ahead and open a PR (even if unfinished) later today so we have it on the radar. The important aspect is that we won't have too many code changes that might trigger various configurations.

[2019-05-10 18:00] tcclevenger commented on #7809
@kronbichler @tjhei: I will be finished with the documentation fully (at least for you guys to comment on) by the end of the weekend. I will go ahead and create the pull request this afternoon.

[2019-05-10 18:07] bangerth commented on #7970
Yes.

[2019-05-10 18:15] #8015 closed

[2019-05-10 18:39] davydden commented on #7407
both debug and release

not to my knowledge.

agreed.

[2019-05-10 18:43] Rombur opened #8075 "Cannot compile with CUDA 10.1"
The code does not code compile currently with CUDA 10.1 and possibly 9.2. We should try to fix this before the release and add one more configuration to the tester.

[2019-05-10 18:46] bangerth commented on #7989
@sophy1029 -- do you think you can do this today? Today is the deadline for the 9.1 release.

[2019-05-10 18:48] bangerth opened #8076 "Check encoding in the CI testers"
#7628 introduces a script that checks that we use consistent encoding. We ought to make that a step in the CI infrastructure, possibly coupled to the check that verifies the indentation.

[2019-05-10 18:48] Rombur opened #8077 "Have a test similar to all-headers for CUDA"
We should have a test where we include every header one by on in a `.cu` file to check that including the header in a cuda file works.

[2019-05-10 19:31] #7989 closed

[2019-05-10 19:41] tamiko opened #8080 "9.1 Release"
Check list for [release-tasks](https://github.com/dealii/release-papers/blob/master/release-tasks)
=================================================================================

Release preparation steps:
--

- [x] <b>-3</b>  Send out notice to the mailinglist if anyone has outstanding issues or patches.
- [x] <b>-2</b>  Check all issues and pull-request on github. Create a list of things to f

[2019-05-10 19:42] tamiko commented on #8080
@dealii/dealii All, @kronbichler suggested that we aim to branch out this Sunday!
For this, we will have to go through the open list of Issues / PRs for the 9.1 milestone soon and determine what shall make it into 9.1 and what has to be postponed to 9.2

[2019-05-10 19:46] kronbichler commented on #7809
See #8080 for the release progress.

[2019-05-10 19:50] tamiko commented on #7809
Ah, I missed this issue, @kronbichler shall we close one of the issues? (I suggest to keep #8080 open - it has a catchy number).

[2019-05-10 19:50] kronbichler commented on #7809
@tcclevenger it's fantastic that you make the final push - this gives us 4 new tutorials!

[2019-05-10 19:52] kronbichler commented on #7809
I suggest we close this issue once we have made the branch - this keeps the deadline (in case anyone has missed it) open (without cluttering the other issue with such boring details).

[2019-05-10 22:19] luca-heltai commented on #7577
Yes. There are way too many problems with all the `find_active_cell_around_points` stuff to hope finishing them in time. 9.2 it is.

[2019-05-10 23:44] bangerth commented on #8080
We clearly can't branch today. There are still a number of outstanding PRs that have been approved but haven't gone through the tester yet. I'd also like to see the various AD patches finished as well as #8072 since it changes the interface.

I've also hit a snag with #7628 which explicitly calls python3 but that happens to not be installed on my system. I'm working on a follow-up and hope to get

[2019-05-10 23:49] bangerth opened #8084 "Documentation build system now requires python3"
Maybe I was overly zealous, but #7628 introduced a dependency on python3, which I happen to not have on my system.

#8083 tries to address this, but trying things out, it turns out that the `doc/doxygen/scripts/set_canonical_doxygen.py` script really does need python3:
[code]
Ugh. Suggestions?

[2019-05-10 23:53] drwells commented on #8080
I still want to make as much progress on #6774 as possible. If others feel that we cannot review these changes in time then we can delay the PRs.

[2019-05-10 23:53] bangerth commented on #8084
@dangars -- FYI.

[2019-05-10 23:57] drwells commented on #8084
I can take a look but I really don't think requiring python3 is very onerous: python2 is EOLed as of 2020. What machine doesn't have python3?

[2019-05-10 23:59] drwells commented on #8084
I still write a lot of python and this script is short. Let me see if I can cook up something that works with 2 and 3 for now.

[2019-05-11 00:13] drwells commented on #8084
I think I have it. I will put up a PR once I check that I can generate the documentation locally.

[2019-05-11 01:39] #7758 closed

[2019-05-11 08:33] #6312 closed

[2019-05-11 08:47] luca-heltai opened #8089 "Don't build and test PR when only updating documentation"
There are cases in which pull requests only update documentation.

Maybe we could have a `/rebuild-documentation` command as well, that only runs doxygen, instead of building and running tests. @tjhei, how difficult would this be?

[2019-05-11 08:55] #7812 closed

[2019-05-11 10:10] #8068 closed

[2019-05-11 11:24] dangars commented on #8084
@bangerth Sorry for the python3 dependency. Now, I make sure that all my scripts are python3 as next year python2 will be dropped.

Maybe as @drwells proposed, it is better to write a script that works for python2 and python3.

[2019-05-11 11:31] dangars commented on #8084
The exact date for the end of life of python2 is January 1st 2020. That is 7 months from now ;)

[2019-05-11 11:55] bangerth commented on #8084
No worries :-) I wouldn't have noticed if my big development machines weren't lacking python3.

[2019-05-11 13:22] kronbichler opened #8091 "Compile warnings step-62"
Someone want to take a look at the compile warnings of step-62:
https://cdash.kyomu.43-1.org/viewBuildError.php?type=1&buildid=9688

[2019-05-11 13:46] bangerth commented on #8080
I'm going to be mostly out for the rest of the weekend traveling to Europe (and then only sporadically online after that over the course of next week). I think I've managed to review most of the outstanding stuff, it just needs to get through the tester and (in the case of #8072) get a couple of minor updates.

But I know that the process is in good hands :-)

[2019-05-11 14:32] drwells commented on #6774
I can tackle a few more of these today but I don't think we will be able to finish this for 9.1 unless we explicitly divide up the work among 3 or 4 of us. Should we move this to 9.2?

[2019-05-11 14:38] kronbichler commented on #6774
I won't have much time unfortunately. I could maybe do 1 or 2 tutorials. Anyone else? It's a pity that we need to stop so close to having this done. Since it's only tutorials and since it's only small changes, we might decide to cherry-pick if we are really sure not to introduce dangerous things. On the other hand, it wouldn't be a big dealbreaker if we only modernized *almost* all tutorials. @tam

[2019-05-11 14:39] drwells commented on #6774
I am okay with continuing to cherry pick tutorial fixes for a few more days but it does require other people to sign on to doing a lot of work.

[2019-05-11 14:41] masterleinad commented on #8091
I can do that.

[2019-05-11 15:34] jppelteret commented on #6774
I'll do my best to modernise step-44 today. Unfortunately I also don't have the time to tackle any of the others, including step-33; it requires quite a bit of effort to rework the AD stuff :-(

[2019-05-11 17:02] drwells commented on #6774
A lot of the higher-number examples are newer and require less work. I am going to batch together a few.

[2019-05-11 17:16] tamiko commented on #6774
@jppelteret Agreed. Let's focus on safe cosmetic changes (not reworking every aspect of an example step).

[2019-05-11 22:52] #8091 closed

[2019-05-12 03:11] masterleinad commented on #6774
Given that we are not going to include step-50 into the release, I guess we are done here once all the pull requests have been merged.

[2019-05-12 03:14] drwells commented on #6774
Yup. @masterleinad nice work redoing *22* of the tutorial programs!

[2019-05-12 10:14] kronbichler commented on #7315
I guess we won't tackle this for the 9.1 release? I'll postpone it for now - let me know in case there is something immediately ready.

[2019-05-12 10:15] kronbichler commented on #7428
We won't be able to fully finish this for the current release, adjusting target milestone.

[2019-05-12 11:26] jppelteret commented on #7120
I'm not going to get to this; moving the deadline

[2019-05-12 11:27] jppelteret commented on #7849
Not critical; moving this to the next release

[2019-05-12 11:35] kronbichler opened #8111 "step-42 fails to compile with clang-4.0"
The regression tester [1] reveals a build failure with clang-4.0. Due to the heavy activity during the last days and other failures, the tester only reveals that this happened between 2365fe395a  and 7b51bc066c . The update #8097 does not seem to be the culprit as the error is related to `unit_symmetric_tensor<dim>()`. My guess is that this was introduced by f6c96c520478d963cd9ebb6f4877d59e3ddb8b0

[2019-05-12 15:25] #8084 closed

[2019-05-12 15:31] tamiko commented on #8080
@dealii/dealii It looks like that we are on a good track to branch either Monday late, or Tuesday :-)

[2019-05-12 17:20] #8111 closed

[2019-05-12 17:23] kronbichler commented on #6774
This was a great effort, thanks to all who contributed and especially @masterleinad and @drwells who took the lion share. I'm closing this now because it feels so good to have this done. I will later open an issue for step-33 (AD). step-50 is on our todo list anyway and will be reviewed once it is ready.

[2019-05-12 17:23] #6774 closed

[2019-05-12 17:25] kronbichler opened #8113 "Use modern AD framework in step-33"
A leftover of the big tutorial cleanup in #6774 is to move the automatic differentiation tutorial, step-33, to the new framework pushed forward by @jppelteret. This issue is to remind ourselves that this task is still outstanding.

[2019-05-12 17:31] kronbichler commented on #3511
We have now merged the outstanding pull requests. Thanks @marcfehling (and @bangerth) for the huge effort made to eventually cover this feature. I'm closing here.

[2019-05-12 17:31] #3511 closed

[2019-05-12 17:31] dangars opened #8114 "step-61 fails to compile with clang 3.9"
Step-61 fails to compile with clang 3.9. It is not related to #8055. It is related to #8035. If I revert the commit fb1353b1ae0cfdacb760b36e38a9e4fb3392b88e then step-61 compiles. Below you can find the errors:

[code]

[2019-05-12 17:34] masterleinad commented on #8114
is this fixed by #8112?

[2019-05-12 17:47] dangars commented on #8114
It does not seems to solve the problem. I'm building deal.ii again in order to submit the built to CDash. It should appear in one hour in CDash.

[2019-05-12 18:23] drwells commented on #6774
I am still surprised that we managed to finish this. Well done everyone!

[2019-05-12 18:26] masterleinad commented on #8075
`CUDA 10.0` works, doesn't it?

[2019-05-12 18:49] tamiko commented on #5012
@drwells I would very much like to branch out as soon as everything we want to have in the release is in. How complete is your PR (will you get it in by Monday late)? :-)

[2019-05-12 18:51] drwells commented on #5012
I hope you are joking! I know nothing about the Nedelec element and did not mean to imply that I would volunteer. I apologize for the confusion.

[2019-05-12 18:55] tamiko commented on #5012
Ah, IC. Postponing to 9.2 then. This is at least a 1 - 2 week project.

[2019-05-12 18:56] kronbichler commented on #8114
I guess we do not know for sure yet that #8112 really fixed the problem, do we @masterleinad? But in any case it looks like #8112/#8082 is our best bet. @dangars does step-42 compile for you? Did it between #8082 came in and before #8112?

[2019-05-12 18:57] tamiko commented on #7809
Outstanding:
 [ ] #8012
 [ ] #8033
 [ ] #8072
 [ ] #8075
 [ ] #8079
Documentation:
 [ ] #7823
 [ ] #8060

[2019-05-12 19:01] tamiko commented on #8080
@kronbichler Will work on the "release preparation" steps this evening (central time).

[2019-05-12 19:03] kronbichler commented on #8080
I'll continue to go through the open issues tomorrow morning and start looking into some of the test failures we still have. Depending on your progress I will pick up items on the list as well.

[2019-05-12 21:55] tamiko commented on #7888
@ztdepztdep *ping*

[2019-05-12 22:10] masterleinad commented on #8114
https://cdash.kyomu.43-1.org/buildSummary.php?buildid=9738 doesn't report anything, yet.

[2019-05-12 22:14] masterleinad commented on #8080
@tamiko Need any help?

[2019-05-12 22:59] tamiko commented on #8080
@masterleinad Some help on reviewing the last 5 PRs summarized in https://github.com/dealii/dealii/issues/7809 would be great!

[2019-05-12 23:18] #8060 closed

[2019-05-12 23:19] masterleinad commented on #7809
Doing a review for #8033 now.

[2019-05-12 23:20] jppelteret commented on #7809
Great, although its super late here I'll try to stay up to address @masterleinad's comments before going to Club Duvet.

[2019-05-13 00:06] jppelteret opened #8122 "Improve documentation in SD scalar and tensor operations"
https://github.com/dealii/dealii/pull/8033#discussion_r283159683 refers

Plurals of class names don't render. The following changes have been proposed:
`Expressions`->`Expression objects`
`Tensors`->`Tensor objects`
`SymmetricTensors`->`SymmetricTensor objects`

[2019-05-13 04:22] masterleinad commented on #8080
I guess multiple off us have done 0d already. There was #8115 and I also checked. Of course, it doesn't hurt to look at the logs again.

[2019-05-13 08:24] bangerth commented on #3511
That was a heroic effort indeed, taking two years to complete. Thanks for everyone's help in writing patches, reviewing patches, and getting it done! I'm sure there are pieces still missing, but @marcfehling really pushed the whole thing over the finish line over the past year!

[2019-05-13 08:26] #7823 closed

[2019-05-13 08:30] kronbichler commented on #8114
In any case, #8112 did fix the issues we saw on our clang-4.0 machine regarding a very similar `unit_symmetric_tensor<dim>()` scenario. Please re-evaluate the newest master branch with clang-3.9 if possible in order for us to consider it for the 9.1 release.

[2019-05-13 09:04] bangerth opened #8131 "Convert tutorial tables to a nicer-looking format"
#8129 converts one table into a much nicer looking way. It now has the same style as this one:
  https://www.dealii.org/developer/doxygen/deal.II/step_61.html#Convergencetable
But there are plenty of ugly-looking tables left. For example, here is one:
  https://www.dealii.org/developer/doxygen/deal.II/step_48.html#Results

Converting the ones that still look ugly might make for a nice starter proj

[2019-05-13 09:09] bangerth opened #8132 "Unify the style of the module page"
The module page at
https://dealii.org/developer/doxygen/deal.II/modules.html
looks a bit funny because some modules have a short explanation text and some don't. I suspect that the ones that do don't really benefit from it as the module title is self-explanatory. In any case, we might want to unify the style.

This might make for a nice starter project.

[2019-05-13 11:30] dangars commented on #8114
I compiled deal.ii using the last version of the repository, which includes #8112 and it works.

I don't know why https://cdash.kyomu.43-1.org/buildSummary.php?buildid=9738 didn't report anything. In any case, now it compiles.

I close the issue.

[2019-05-13 11:30] #8114 closed

[2019-05-13 11:34] jppelteret commented on #3511
Awesome work @marcfehling. Thanks so much for taking the time and effort to do this!

[2019-05-13 13:24] kronbichler opened #8134 "How do we handle compiler warnings with gcc9 for the 9.1 release?"
As indicated in #8015 we did have a series of warnings with gcc9. After the fix #8034 I started to look into the issues reported via bundled software. Most of the warnings are of this kind (see also [1] for 300 of those warnings), now the one I found in our code:

[code]

The warnings go both ways, namely complaints about classes that have a copy constructor but no copy assignment, and classes tha

[2019-05-13 13:32] drwells commented on #8134
If we can resolve these by writing, e.g., `Vector(const Vector &) = default` then I think we should do that. If its anything more complex then we should not. I would not worry about the bundled libraries: it might just be the way I operate, but anyone who can install the latest compiler can usually also install the latest libraries so that case is less significant.

[2019-05-13 13:32] drwells commented on #8134
I will take a quick look at this in an hour or so.

[2019-05-13 13:33] kronbichler commented on #8134
@drwells I have fixes for PETSc and boost already.

[2019-05-13 13:33] kronbichler commented on #8134
I can post them (as separate patches), for whatever we decide.

[2019-05-13 13:33] drwells commented on #8134
that was quick :)

[2019-05-13 14:38] tamiko commented on #8134
In addition / Alternatively, I suggest we add the corresponding `-Wno-*` flag to `DEAL_II_DISABLE_EXTRA_DIAGNOSTICS`.

[2019-05-13 15:18] kronbichler commented on #8134
Yes, the solution #8139 is what I would prefer as well (I just already had the changes halfway done, so I posted them in #8136, for the better or worse).

[2019-05-13 15:30] rezarastak commented on #8111
I wasn't expecting any build issues when submitting #8082. My changes looked trivial so I submitted it before the release. I'm slowly learning about these compiler issues :)

I'm having a hard time trying to [recreate](https://www.godbolt.org/z/XO93ol) this build error in Compiler Explorer. Does anyone know to get a similar error in a small code example?

[2019-05-13 16:37] #8075 closed

[2019-05-13 16:37] kronbichler commented on #8134
Closed by #8139.

[2019-05-13 22:40] tamiko commented on #7809
Closing! I think we can keep track of #8079 and #8139 without this Issue :-D

[2019-05-13 22:40] #7809 closed

[2019-05-13 22:41] #8134 closed

[2019-05-14 03:22] tamiko commented on #8080
All, I think it makes sense to wait for the CI to catch up with #8135, #8140, and #8148 and branch out as soon as those three PRs are merged. We will then cherry-pick #8079 to the release branch later this week.

[2019-05-14 03:30] tamiko commented on #8080
Inspecting the tester reveals that we has some major fallout regarding adolc:
 - gcc-7: https://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=9773
 - gcc-8: https://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=9774
Has someone some insight into this? @jppelteret *ping*

[2019-05-14 04:18] #7869 closed

[2019-05-14 04:50] tjhei opened #8152 "use latex bibliography in steps?"
We do not use latex bibliographies for the citations in the tutorials. Instead, each tutorial uses a different approach. See step-14, step-43, and step-56 for examples. Many other examples cite source in an incomplete manner "inline".

Here is some info:
- https://stackoverflow.com/questions/11454727/doxygen-cite-producing-empty-bibliography
- http://www.doxygen.nl/manual/config.html#cfg_cite_bib_

[2019-05-14 04:56] tjhei opened #8153 "ugly clang-format in step-42"
I don't know why clang-format decides to do this weird formatting in https://github.com/dealii/dealii/blob/master/examples/step-42/step-42.cc#L820
but it would be great if we can teach it to put the commas at the end of the line.

[2019-05-14 05:17] tamiko commented on #8153
@tjhei See #8156 :-)

[2019-05-14 05:24] tamiko commented on #8080
Going to bed now. I plan to branch out tomorrow morning after the last (now 5) PRs have seen the tester and are merged.

[2019-05-14 06:18] jppelteret commented on #8080
Sigh... What revision of ADOL-C is on the testers? I've been using git rev `caaac60da4c61b370d106c68064d38c42a7cb6e3` for some time with no issues, but I see that [in the recent months](https://gitlab.com/adol-c/adol-c/commits/master) they have merged in changes from their SVN repo. Maybe this broke something? Looking at the numbered suffix I tagged the tests with, I believe that all of the (defin

[2019-05-14 06:30] jppelteret commented on #8152
In the spirit of step-14, we could also make a `.bibliography` file for all tutorials that gets appended after the `.intro` file, and fill it with entries in this doxygen supported format
[code]
These render quite neatly ([see this module file](https://dealii.org/developer/doxygen/deal.II/group__auto__symb__diff.html), for example).

[2019-05-14 10:31] kronbichler commented on #8080
@jppelteret Since you seem to be a bit under-worked with failing tests lately :wink:, I have one more for you `helper_scalar_coupled_4_components_01_4`:
https://cdash.kyomu.43-1.org/testDetails.php?test=64820978&build=9755

There are some NaNs in the output and we eventually get a floating point exception. Is that test maybe revealing some problems with Sacado? Unfortunately there does not seem to

[2019-05-14 11:43] jppelteret commented on #8080
Actually, these three tests __should__ give identical results as they compute second derivatives:
- ADOL-C taped type: https://github.com/dealii/dealii/blob/master/tests/adolc/helper_scalar_coupled_4_components_01_1.cc
- `Sacado::Fad::Dfad<Sacado::Fad::Dfad<double>>`: https://github.com/dealii/dealii/blob/master/tests/sacado/helper_scalar_coupled_4_components_01_2.cc
- `Sacado::Rad::ADvar<Sacado::

[2019-05-14 12:44] Rombur opened #8161 "Boost 1.70 is not compatible with CUDA"
Not much we can do about it. This happens with CUDA 8.0, 9.0, and 10.1. The error is below:

`boost/include/boost/core/noncopyable.hpp(42): error: defaulted default constructor cannot be constexpr because the corresponding implicitly declared default constructor would not be constexpr`

[2019-05-14 12:46] masterleinad commented on #8161
We get this error just by including a `boost` header it is not triggered by code in `deal.II` isn't it?

[2019-05-14 12:48] Rombur commented on #8161
@masterleinad I think so.

[2019-05-14 12:58] tamiko commented on #8080
@jppelteret I tried again with current HEAD 558f49ed43bfc3d0dbeefdcf289b5c83209d05f8 and again all "retaping" variants fail. Do I have to configure adolc in a specific way?

[2019-05-14 13:12] bangerth commented on #8131
See also 63530d5 from #8146.

[2019-05-14 13:13] tamiko commented on #8080
Anyway - I think it is time to branch out. @jppelteret We will have to fix this adolc retaping issue in some form, though. I am happy to assist!

[2019-05-14 13:21] bangerth opened #8162 "Use std::unordered_{set,map}"
`include/deal.II/base/graph_coloring.h` uses `boost::unordered_set` and `boost::unordered_map`. These classes are now available in `std::` since C++11 and we should use these classes instead.

Would probably make for a nice starter project!

[2019-05-14 14:12] jppelteret commented on #8080
I configure with
[code]
(no advanced branching, since I don't use it ATM).

I'm wondering if something broke in the last few months. Can you please try caaac60da4c61b370d106c68064d38c42a7cb6e3 which is what I have tested with GCC 6.3 (Ubuntu), GCC 4.8.5 (Centos 7), and Clang 4.0 (MacOS).

[2019-05-14 14:15] tamiko commented on #8080
@jppelteret I will first try your exact configuration options. I had "advanced branching" enabled and "traceless refcounting" disabled.

[2019-05-14 14:18] jppelteret commented on #8080
Cool. And if that doesn't work, please try the older revision (which is after one of my contributions was merged). This could be really annoying, because I think that they're also either about to release 2.7 or have already released it. If it has a bug, then that will be a disaster for us (since neither 2.6.3 nor 2.7 will actually work). If the older revision doesn't work then I'm out of ideas (ot

[2019-05-14 14:25] jppelteret commented on #8080
I could (reluctantly) also take a look through the latest version of their manual / examples to check if something has changed about the way takes are setup.

[2019-05-14 14:36] tamiko commented on #8080
@dealii/dealii We have a prerelease: https://github.com/dealii/dealii/releases

[2019-05-14 15:05] tamiko opened #8170 "9.1 Testsuite status"
In reference to #8080

For [9.1.0-rc3](https://github.com/dealii/dealii/tree/v9.1.0-rc3):

 |  Host    |  Configuration                                                                                       |  Commit                                                            |  Build errors  |  Build warnings  |  Failing tests                                                                      |

[2019-05-14 19:27] tjhei commented on #8080
Several of the newer tutorials are not listed in https://www.dealii.org/developer/doxygen/deal.II/Tutorial.html for the release (58, 61, 63, 64). Is any of those still "incomplete" and should be removed from the branch?

[2019-05-14 19:57] tamiko commented on #8080
Another point to discuss is whether we should set `DEAL_II_COMPILE_EXAMPLES` to `false` on the release branch.

[2019-05-14 19:59] masterleinad commented on #8080
Yes.

[2019-05-15 01:58] tamiko commented on #8080
@jppelteret adolc retaping tests fail for me for any checkout mentioned and any configuration variant.

[2019-05-15 02:27] jppelteret commented on #8080
@tamiko What are the names of the tests that you're referring to? Are they _just_ `adolc/helper_retaping_0[1,2,3]`?

[2019-05-15 03:20] tamiko commented on #8170
@jppelteret Taking the discussion over to this issue tracker. I see the same 28 failing tests that also fail on the testing infrastructure:
[code]

[2019-05-15 03:56] jppelteret commented on #8170
I've just built `master` on our cluster with an older version of ADOL-C, and these are the only test failures I see.
[code]
Neither of them are important (a failure of `helper_tape_index_01` means that certain settings we've chosen wrt. the maximum number of allowable tapes are in fact conservative).

I'm going to try to build the latest version of ADOL-C to check if I can replicate the other fail

[2019-05-15 04:16] jppelteret commented on #8170
Results of MacOS
[code]

[2019-05-15 06:00] kronbichler commented on #8153
We have closed #8156, so I will close this one as well.

[2019-05-15 06:00] #8153 closed

[2019-05-15 07:37] davydden opened #8174 "TrilinosWrappers: copy Vector to BlockVector"
There is an option to [reinit](https://dealii.org/developer/doxygen/deal.II/classTrilinosWrappers_1_1MPI_1_1Vector.html#a79c714a8a7631f0a41e474a1481c3ebd) and copy Trilinos vector based on the block one.
It would be good to support the other direction too, i.e. Vector -> BlockVector. Both myself and @jppelteret  needed this one some occasions.

A quick hack I do so far is
[code]
Looking at the imp

[2019-05-15 15:13] tamiko commented on #8170
?!!!!
I currently get the following backtrace:
[code]
This looks like a symbol clash...

[2019-05-15 15:17] davydden commented on #8170
I this will work, I will need to update `trilinos` in Spack to disable `seacas` package.

[2019-05-15 15:21] tamiko commented on #8170
This is epic. `libchaco.so` has the global symbol `divide` (and maybe others). adolc also has a global symbol `divide`. Right now I have so many questions. (a) What where they thinking? (b) Did anyone ever thing that `divide` is a good symbol name? (c) What exactly were the goals of the xSDK project again? (d) Where can I get more coffee?

[2019-05-15 15:25] jppelteret commented on #8170
Are you telling me that I've got nothing to do with this, and I can stop worrying about it... what the heck?!?

[2019-05-15 15:26] tamiko commented on #8170
@jppelteret Jup. Let me verify that this is indeed the problem but I am about 99% sure. We will have to add some mitigations to the cmake configuration, though.

[2019-05-15 15:26] tamiko commented on #8170
And write some angry bug reports...

[2019-05-15 15:28] jppelteret commented on #8170
Great detective work @tamiko . Thanks so much for figuring this out. I've been stressing out about this!

[2019-05-15 15:29] tamiko commented on #8170
yw :smile:

[2019-05-15 15:42] tamiko commented on #8170
@jppelteret No failing adolc tests... works like a charm. I will "fix" Trilinos on the tester and work on a cmake configuration that disables adolc when "libchaco" is present.

[2019-05-15 15:43] jppelteret commented on #8170
Great, thanks so much :-D I really appreciate your sorting this out!

[2019-05-15 15:45] drwells commented on #8170
Nice detective work.

Why does software development seem like a horror movie sometimes?

[2019-05-15 16:12] tjhei opened #8183 "missing step-58 blurb in tutorial overview"
see doc/doxygen/tutorial/tutorial.h.in

[2019-05-15 16:13] tjhei commented on #8183
see #8080

[2019-05-15 16:13] tamiko opened #8184 "Revisit compiler compatibility"
After the 9.1 release it is time to revisit our compiler compatibility again - purely for economical reasons.

I currently test on bob:

clang: 4.0, 5.0, 6.0, 7.0, 8.0, 8.0 (with lld)

gcc: 4.9, 6, 7, 8, 9

[2019-05-15 16:16] masterleinad commented on #8183
step-58 doesn't exist...

[2019-05-15 16:19] tjhei commented on #8183
Oh!

[2019-05-15 16:20] tjhei commented on #8183
can I have step-58 then or is there something planned I don't know about?

[2019-05-15 17:33] #8183 closed

[2019-05-15 18:02] Rombur commented on #8183
@bangerth claimed it in #5746 but it was more than a year ago

[2019-05-15 19:15] bangerth commented on #8183
It's still planned and I hope to finish it this summer. So, no, you can't have it :-)

[2019-05-15 19:30] bangerth commented on #8170
Nice work. Now for the uphill battle: Convince the Trilinos developers to fix this...

[2019-05-16 04:31] #7887 closed

[2019-05-16 07:56] jppelteret opened #8192 "ScratchData: Doxygen section tags leaking into documentation"
Sorry I don't have time to propose a patch for this, but it would be nice if this could be fixed for 9.1

See https://dealii.org/developer/doxygen/deal.II/classMeshWorker_1_1ScratchData.html

[code]
This one is also broken in a more significant way:
[code]

[2019-05-16 08:14] bangerth commented on #8192
The issue is that `@name` does not take a target as first argument that can be used in `@ref`. `@name` just names a section. I thought that you want to prefix the `@name` clause with `@anchor` to provide the tag: http://www.doxygen.nl/manual/commands.html#cmdanchor but apparently `@anchor` can not be used this way.

[2019-05-16 08:52] jppelteret commented on #8192
And ['section'](http://www.doxygen.nl/manual/commands.html#cmdsubsection) is not right either :-/

[2019-05-16 09:07] jppelteret opened #8194 "Make ScratchData compatible with ADHelpers"
From a private discussion:

[2019-05-16 09:08] jppelteret commented on #8192
How do we prevent clang-format from indenting long lines? I believe that the section label `@name` must be on a single line.

[2019-05-16 12:46] Rombur commented on #8192
Use `// clang-format off` and then re-enable it with `//clang-format on`

[2019-05-16 13:04] jppelteret commented on #8192
Thanks a lot @Rombur. That works :-)

[2019-05-16 14:24] kronbichler opened #8198 "GridGenerator::hyper_ball: Do we want alternative variant?"
The meshes used by `GridGenerator::hyper_ball` use the minimal numbers of cells possible, 5 in 2D and 7 in 3D. An alternative mesh is to use 12 cells for the base mesh in 2D (3 cells per quarter) and 32 in 3D. The 2D mesh looks like this (one can play a bit with where to put the additional point):

![mesh_circle](https://user-images.githubusercontent.com/8276200/57861233-7fb8fa00-77f6-11e9-9cab-04

[2019-05-16 15:09] #8192 closed

[2019-05-16 16:35] tjhei commented on #8192
I saw doxygen warnings about these ``@ref`` commands but ignored them (too many doxygen warnings...) and I now regret I didn't point it out.

[2019-05-16 17:06] jppelteret commented on #8192
No hassles :-D

[2019-05-16 17:19] tjhei opened #8203 "doxygen: symengine doxygen blurb not visible"
The following paragraph is not visible anywhere:
https://github.com/dealii/dealii/blob/master/include/deal.II/differentiation/sd/symengine_math.h#L34

@jppelteret where can we put it?

[2019-05-16 18:21] jppelteret commented on #8203
Hmm... maybe we should just leave this as a comment at the top of the page. I don't think that these math functions deserve their own group or anything. I'd submit a PR for this.

[2019-05-16 18:24] tjhei commented on #8203
well, that is already the case. ;-)

[2019-05-16 18:25] jppelteret commented on #8203
But as a comment comment, not a doxygen comment. I will submit a PR for this trivial change :-D

[2019-05-16 18:52] tjhei opened #8206 "create GridGenerator images"
I think it would be helpful to have images for all the functions in the GridGenerator namespace. Ideally, we would show boundary/manifold ids as well.

[2019-05-16 18:55] tjhei commented on #8198
I think this would be useful to have. I am not a big fan of optional arguments but it would mirror what we do for hyper_shell...

[2019-05-16 19:45] #8203 closed

[2019-05-16 21:37] tamiko commented on #8170
the following tests fail for at least one configuration:

 - [ ] (a) adolc/helper_scalar_failure_04.release
 - [ ] (a) adolc/helper_tape_index_01.release
 - [ ] (a) algorithms/general_data_storage_01.debug
 - [ ] (a) algorithms/general_data_storage_01.release
 - [x] <s>(1) fe/fe_enriched_color_07.mpirun=2.debug</s> (likely clang-4 bug)
 - [x] <s>(1) fe/fe_enriched_color_07.mpirun=2.release</s> (li

[2019-05-16 22:32] masterleinad commented on #8170
It seems we just need another output file for [algorithms/general_data_storage_01](https://cdash.kyomu.43-1.org/testDetails.php?test=65359292&build=9858).

[2019-05-17 04:09] tamiko commented on #8080
@dealii/dealii We have a new release candidate!

[2019-05-17 08:29] bangerth commented on #8198
I like this variant. As mentioned, it nicely mirrors what we already do for other geometries.

[2019-05-17 08:31] bangerth commented on #8162
Fixed by #8189. Thanks, @adam4130 !

[2019-05-17 08:31] #8162 closed

[2019-05-17 08:39] bangerth opened #8219 "Redo tutorial images"
A lot of the pictures shown in the tutorials are quite old and show an aesthetic and color scheme that is a bit outdated. In particular, we have many many pictures that were created with Visit's default "rainbow" color scale. But we know that the rainbow scale is a bad choice (why, or why, does Visit not change its default!) because it lumps half of the color range into the greens, and it is not a

[2019-05-17 12:26] Rombur commented on #8219
The people of matplotlib did a lot of work on how to create good colormaps. Here is their [page](https://matplotlib.org/tutorials/colors/colormaps.html) about it and a nice [video](https://www.youtube.com/watch?v=xAoljeRJ3lU) about it

[2019-05-17 14:01] bangerth opened #8221 "step-63: create_downstream_cell_ordering() only works on uniformly refined meshes"
This function in step-63 doesn't make sense except for uniform meshes:
[code]

That's because the function creates an array with elements produced from `cell->index()`. But `cell->index()` does not uniquely identify cells -- it only does so within a given level. So the *level-wise* function immediately above this function does make sense, but this one does not if one has an adaptively refined mesh

[2019-05-17 14:05] bangerth opened #8222 "step-63: Random shuffle is unnecessarily complicated"
The random shuffle function in step-63 appears unnecessarily complicated. It has this code:
[code]
Since `j` is drawn in the interval `0...i` inclusively (see https://en.cppreference.com/w/cpp/numeric/random/uniform_int_distribution), it seems silly to then discard the case `j!=i` -- we might as well just draw from the interval `0...i-1`. All the current code does is to *not* swap elements with a

[2019-05-17 14:28] bangerth opened #8223 "step-63: Explain the relaxation factor"
The introduction of step-63 explains the difference between additive and multiplicative Schwarz methods. It also briefly mentions SOR, but never introduces the relaxation factor. However, the relaxation factor then shows up in the input file. It might be worth to discuss where that factor appears in the formulas for the smoother.

@tjhei, @tcclevenger: FYI.

(As before, please wait for my update t

[2019-05-17 17:12] tcclevenger commented on #8222
Yes, what you are saying makes sense. We renumbered this way since that is what is done in `DoFRenumbering::compute_random()`.

Do you think we should just switch to `std::shuffle`? Seems much simpler.

[2019-05-17 17:24] bangerth commented on #8222
Yes, I think `std::shuffle` would be nice because it is the exact equivalent of what you do in the downstream function (where you call `std::sort` instead).

If you feel ambitious, you can also use `std::shuffle` in `compute_random()` :-)

[2019-05-17 17:27] drwells commented on #8222
For what its worth: I tried replacing our usage of `boost::random` with `std::random` about a year ago and got stuck since they were initialized with different seeds (and therefore produce different sequences).

[2019-05-17 18:17] tcclevenger commented on #8221
Good point. We only use the active cells version for a plot in the documentation, but I imagine if someone decides to implement for adaptive (in possible extensions) this should be at least commented on.

I'm not exactly sure what a simple fix to this would be. It needs to be used as a DataOut entry. What order are the adaptive cells in for `DataVectorType::type_cell_data`? Just  `dof_handler.begi

[2019-05-17 18:24] drwells commented on #8219
See also #6948: we should tackle both at once.

[2019-05-17 19:56] tjhei commented on #8221
The index is ``cell->active_cell_index()``. As the code doesn't run in parallel, the change should not be difficult.

[2019-05-17 20:01] bangerth commented on #8219
Ah yes, @Rombur, thanks for the link. I had looked for it, but couldn't find it (because I was looking for python, not matplotlib).

[2019-05-17 20:19] tjhei commented on #8223
Fair point. @tcclevenger can you try to address this? I would be okay adding a paragraph at the end of the smoother discussion instead of inserting a relaxation parameter in all the formulas.

[2019-05-17 20:38] bangerth commented on #8222
On 5/17/19 11:27 AM, David Wells wrote:

Yes, one will have to update a couple of output files.

[2019-05-17 22:54] tcclevenger commented on #8223
Yes. I'll send off a pull request with all the changes discussed today.

[2019-05-18 04:54] davydden commented on #8170
did not we add support to Gmsh > 4.0 ? https://www.dealii.org/developer/readme.html does not say anything about the version constraint. But I see failing tests:
[code]

[2019-05-18 11:44] bangerth opened #8240 "CUDAWrappers::MatrixFree::point_type"
The `CUDAWrappers::MatrixFree` class has this local typedef:
[code]
I had to look this up when I saw it in step-64. The question I have is: Why is this not `Point<dim,Number>`? That's what we usually use to denote points in `dim` dimensional space, such as quadrature points.

In particular, the current definition leads to this function returning an apparently wrong data type:
[code]
In step-64, th

[2019-05-18 12:04] bangerth opened #8241 "step-64: Unclear variable name"
step-64 has this piece of code:
[code]
I *suspect* that the variable name is incorrect because it's really not the number of (locally owned?) cells but the total number of active cells on the current processor (some of which are owned and some of which aren't). Since I'm working this over right now, I'm going to change the variable name as well but if anyone disagrees with my interpretation, this

[2019-05-18 12:39] masterleinad commented on #8240
For the second question: @kronbichler asked to replace `auto` by `Tensor<1,dim>` and I will have a look if we can change `point_type` to be `Point`.

[2019-05-18 12:41] kronbichler commented on #8240
That would be great @masterleinad - I think the reason is that at some point the GPU compiler (more specifically, some `__device__` annotations) did not work for `Point` or were not yet implemented.

[2019-05-18 12:57] masterleinad commented on #8170
Does the test pass if you remove the `Assert`?

[2019-05-18 15:43] tamiko commented on #8170
It is probably just an overly conservative check. @luca-heltai *ping*

[2019-05-18 16:11] masterleinad commented on #8170
Yes, it is but we need someone to confirm that we can relax the constraint.

[2019-05-18 16:28] tamiko commented on #8170
@masterleinad Already on it. Compiling takes a bit of time...

[2019-05-18 16:31] tamiko commented on #8170
@masterleinad @davydden @luca-heltai
It seems that gmsh-4.3 (ther version that I tested) creates an incompatible output file. Removing the version constraint produces the following error:
[code]

[2019-05-18 16:33] tamiko opened #8245 "GMSH-4.3 msh compatibility (Mesh format 4.1)"
We should update our `read_msh` function to be able to deal with meshes created by gmsh-4.3:

[code]

[2019-05-18 16:34] tamiko commented on #8245
In reference to #8170

[2019-05-18 16:36] bangerth commented on #8245
Hm, this was already tracked in #7326. It should have been fixed by #7414.

[2019-05-18 16:36] bangerth commented on #8170
I thought we fixed this in #7326 and #7414?

[2019-05-18 16:45] luca-heltai commented on #8170
That's what I thought too...

[2019-05-18 17:15] tamiko commented on #8245
@luca-heltai @bangerth #7414 was about mesh format 4.0 not 4.1 if I recall correctly.

Output file for `gmsh/create_tria_01` with gmsh 4.3:
[code]

[2019-05-18 17:16] tamiko commented on #8170
@bangerth @luca-heltai Let's move the discussion to #8245

[2019-05-18 17:21] tamiko commented on #8245
For reference gmsh-4.0 generates:
[code]

[2019-05-18 17:33] masterleinad commented on #8245
The line breaks look strange here...

That was for `gmsh-4`, though. In case, the problem are really the multiple tags we need to decide which one to take for the boundary/manifold ids.

At least ,it seems that the version check is precise.

[2019-05-18 17:59] luca-heltai commented on #8245
Well, that also implies we now can have *both* boundary and manifold ids. I'd take the first tag for boundary/material id, and the second for manifold.

[2019-05-18 18:00] luca-heltai commented on #8245
I'll try to look into this tomorrow. Do you want to put this into 9.1?

[2019-05-18 18:28] tamiko commented on #8245
@luca-heltai It would be great to get that in for 9.1 (in particular given the fact that Debian/Ubuntu etc. are updated gmsh soonish). Getting some update tomorrow would be great! (In particular it would be great to be able to run the full testsuite before we tag the final release version on Tuesday).

[2019-05-18 18:29] tamiko commented on #8080
@kronbichler The testsuite is in great shape, the only open problem is gmsh-4.1+ support with some expected update on Sunday. What about we aim to tag 9.1 on Tuesday?

[2019-05-18 18:50] tjhei commented on #8080
We should do another run through on windows (visual studio) before we tag 9.1. With so many changes, I am sure we broke something again. I don't have access to my windows machine right now, but I can try to set something up.

[2019-05-18 20:01] kronbichler commented on #8080
I agree with @tjhei that some Windows tests would be great. Maybe it can happen until Tuesday?

[2019-05-18 22:25] masterleinad commented on #8080
I will try to do that with the latest version.

[2019-05-18 22:43] Rombur commented on #8240
That's correct. `Point` was missing the `__device__` annotations at the time I wrote that code.

[2019-05-18 23:15] masterleinad commented on #8241
The cells we access for each thread are set up in `MatrixFree::internal_reinit` (https://github.com/dealii/dealii/blob/master/include/deal.II/matrix_free/cuda_matrix_free.templates.h#L832-L867). In fact, we only access all active, locally owned cells. Hence, we should rather initialize `coef` with this number. I pushed a respective commit to #8242.

[2019-05-18 23:52] #8240 closed

[2019-05-19 12:45] masterleinad commented on #8080
I can build `deal.II` using `Visual Studo 16 2019` (`MSVC 19.20.27508.1`) with minimal dependencies (`boost`, `muParser`, `CXX17`).

[2019-05-19 13:43] tjhei commented on #8080
Same here. No warnings.

[2019-05-19 13:46] masterleinad commented on #8080
Probably, #7928 is still a problem, though. We might want to discourage from using anything else than `Visual Studio 2019`.

[2019-05-19 15:47] #8241 closed

[2019-05-20 13:32] luca-heltai commented on #8245
I'm having some difficulties on my mac, but I'm on it... Hopefully by tonight I'll have a working PR.

[2019-05-20 17:45] tamiko commented on #8245
@luca-heltai Roger. Ping me, if I can help with something.

[2019-05-20 17:46] tamiko commented on #8080
@dealii/dealii All, I have just tagged `-rc3`. I hope that this is the final release candiate. I suggest that at this point we keep the merges to the `dealii-9.1` branch at a minimum (with the exception of a fix for #8245 which I would very much like to see to be in the release :-)).

[2019-05-20 18:29] masterleinad commented on #8245
I just don't understand how they can make an incompatible change to their mesh format without bumping the major version number...

[2019-05-20 19:09] drwells opened #8255 "hp::FECollection::find_common_subspace still in docs"
@marcfehling I was reviewing the changelog when I noticed that this former function name is still in the documentation. Do you know what replaced it?

[2019-05-20 19:10] drwells commented on #8255
I think its `find_common_fes`.

[2019-05-20 19:23] marcfehling commented on #8255
Yes, we renamed it `find_common_fes`. I thought I updated the documentation accordingly :-/

If I provide a PR on this issue, I will have to merge it with the `dealii-9.1` branch, correct?

[2019-05-20 19:25] drwells commented on #8255
Yes; it would be great if we could cherry-pick it onto a second PR that is against `dealii-9.1`. Do you know how to do that? I can help if not.

[2019-05-20 19:27] drwells commented on #8255
I am working my way through `9.0.1-vs-9.1.0.h` now so you can skip that one.

[2019-05-20 19:56] marcfehling commented on #8255
I adjusted the documentation in this commit https://github.com/marcfehling/dealii/commit/4162a8339e3ad152943648c9ca42480552ea9db1

I don't know how to cherry-pick it onto a different PR. Also, I am just have the `Contributor` status and I don't know if I'm able to do that. Could you assist me on that?

[2019-05-20 20:03] drwells commented on #8255
Sure. It doesn't involve your GitHub status, you just have to set up the PR another way.

Consider #8257: I want it to also show up on 9.1. I created a new branch off of dealii-9.1:
[code]
I now have a branch based on the 9.1 branch which contains the new commit. I can then open a PR in the usual way *but* I have to set the base fork branch to `dealii-9.1`.

Does this make sense?

[2019-05-20 20:23] marcfehling commented on #8255
Okay, that is exactly what I planned to do :)

[2019-05-21 02:16] drwells commented on #8080
I would like to also get the followup to #8260, which is purely a documentation fix, in 9.1.

[2019-05-21 02:32] tamiko commented on #8080
@drwells You actually did merge #8260 directly onto the dealii-9.1 branch.

[2019-05-21 11:35] drwells commented on #8255
Fixed by #8260 and #8261.

[2019-05-21 11:35] #8255 closed

[2019-05-21 11:36] drwells commented on #8080
It was late and my eyes didn't notice what branch it was on :)

[2019-05-21 15:07] tamiko commented on #8170
The Testsuite is in very good shape - closing and preparing for release!

[2019-05-21 15:07] #8170 closed

[2019-05-21 15:59] luca-heltai commented on #8245
I have many issues with my current setup. I installed clang-8.0.0 in view of the new package release, and this apparently broke my mac... I'll double check that the fix works on a linux machine I just managed to update...

[2019-05-21 17:37] rezarastak opened #8268 "Packing and unpacking of `FullMatrix` into `std::vector`"
I wanted to pack a `FullMatrix` to `std::vector` and unpack it afterward in order to use `ContinuousQuadratureDataTransfer`. I tried to use STL iterators and STL algorithms to perform these operations, but the `FullMatrix<Number>::const_iterator` class does not work similar to STL iterators. The code
[code]
produces the error (on GCC7.4)
[code]
and the code
[code]
does not compile either, with the

[2019-05-21 17:47] drwells commented on #8268
Yup: I think adding conversion operators to `Accessor<TableType, true, storage_order>` and `Accessor<TableType, false, storage_order>` will fix it.

[2019-05-21 17:57] #8245 closed

[2019-05-21 18:57] drwells commented on #8080
In case others didn't see it: we have now officially tagged the release!

[2019-05-21 19:05] tamiko commented on #8080
https://github.com/dealii/dealii/releases/tag/v9.1.0 is out :-)

[2019-05-21 21:56] tamiko opened #8270 "[Homepage] https://www.dealii.org/ideas.html"
We should update or retire https://www.dealii.org/ideas.html
What about we simply let the hyperlink (in the menu) forward to github issues with the `starter project` tag?

[2019-05-21 21:58] tamiko opened #8271 "[Homepage] Update Survey results from 2016"
What about we redo the user survey that we conducted 2016 this year again? The workshop + summer school might be an ideal venue :-)

[2019-05-22 11:46] SBahramH opened #8273 "C2 continuity"
Dear all,

I am recently interested in dealii package and I am trying to figure out its capacities and limits. I am interested to model Euler-bernoulli beam therory and Kirchhoff plate theory, which require C2 continuity. Is there any example, where forth order (or even higher) differential equation is implemented? Or even is it possible to implement C2 continuity?

[2019-05-22 12:05] masterleinad commented on #8268
As a workaround
[code]
would work (as long as `A` is not empty).

[2019-05-22 12:16] masterleinad commented on #8268
Alternatively, you could also use an intermediate `ArrayView` object:
[code]

[2019-05-22 12:58] drwells commented on #8273
Are you sure that you need full C2 continuity? Usually beam models only require C1 continuity in the weak form.

Either way: we do not have support in the library for C1 or C2 elements in the library. The recommended approach for fourth-order problems is to split the problem into two coupled second-order problems.

We get this question a lot: we should really add an FAQ entry on this to the wiki.

[2019-05-22 13:06] drwells commented on #8268
If you want to do this, I have another recommendation: put the `const` conversion operator in `AccessorBase` (like const value_type & value()`) instead of what I suggested previously to avoid a little bit of duplicated code.

[2019-05-22 13:19] SBahramH commented on #8273
Thanks a lot for the fast reply. To be more specific, I am planning to implement "gradient elasticity" for both cases, which requires higher continuity.

[2019-05-22 13:38] drwells commented on #8273
Ah.

I just realized that I didn't answer your second question: it should be *possible* to implement C^1 and higher elements in deal.II, but it would not be straightforward since these elements usually require individualized. unit-to-reference mappings.

[2019-05-22 14:40] masterleinad commented on #8273
We did that [here](https://arxiv.org/abs/1810.02473) for a topologically regular mesh.

[2019-05-22 16:03] lwy5515 opened #8274 "Linking warning when building the deal.II dmg package"
This is not really an issue for deal.II but we hope someone could help.

Currently, we have clang@8.0.0 independent of the Xcode as well as gcc@9.1.0 for gfortran. Whenever we try to link to a deal.II application (e.g. example programes) we get the following linking warnings:
[code]
Does any one have this kind of problem before?

[2019-05-22 21:14] luca-heltai opened #8275 "Detection of external boost fails with clang 8.0.0"
Independently on the version I use (from 1.66 to 1.70), any attempt to configure deal.II 9.1.0 with external boost fails when using clang 8.0.0, with the following issue:

[code]

The test in `cmake/configure/TestBoostBugWorkdir`

terminates with this:
[code]

Any idea?

[2019-05-22 21:19] masterleinad commented on #8275
What does `gdb` say?

[2019-05-22 21:28] luca-heltai commented on #8275
Nothing that I can understand... things seem to go wrong way deep in boost... I have about 33 frames before I get to the `load_exported` call that is causing the failure...

[2019-05-22 21:32] luca-heltai commented on #8275
Is there a way I can provide you with more useful information?

[2019-05-22 22:49] tamiko opened #8276 "Read mesh issue introduced by gmsh-4.1 fix"
@luca-heltai @masterleinad Houston, we have a problem.

The GMSH-4.1 compatibility changes introduced by d4815f3c75bb346a278f677e4c9c251171f58088 introduce 12 failing tests [1], all related to `dealii::GridIn<dim, spacedim>::read_msh(std::istream&)`. This is a regression we have to fix, and we have to make a point release to 9.1.1 in order to address this.

  [1] https://cdash.kyomu.43-1.org/viewT

[2019-05-22 22:51] tamiko commented on #8276
Guess I was a bit fast with tagging...

[2019-05-23 03:51] davydden commented on #8276
looks like it 😢

Shall we wait for https://github.com/dealii/dealii/issues/8275 to be resolved as well?

[2019-05-23 05:19] luca-heltai commented on #8274
I can confirm the same problem on my clang-8.0.0 installation

[2019-05-23 07:07] luca-heltai commented on #8274
And the same with clang-7.0.0... I'm starting to think it is a problem of the latest mac update...

[2019-05-23 07:54] rezarastak commented on #8268
@masterleinad thank you for showing the workarounds. I can incorporate them into my code quickly.

[2019-05-23 12:21] masterleinad commented on #8276
What is the `gmsh` version for the testers?

[2019-05-23 12:26] masterleinad commented on #8276
I guess we can just replace the switch statement and its body by
[code]

[2019-05-23 14:04] tamiko commented on #8276
@masterleinad The server runs gmsh-4.0.2, but that's not the problem here. The failing tests store their own ancient `msh` files - see for example `tests/grid_in_msh_02/mesh.msh`.

[2019-05-23 14:18] tamiko commented on #8276
@masterleinad I am a bit surprised that we can actually hit the `AssertThrow(false, ExcNotImplemented());` in line 1826. From the control flow it looks like this should never happen.

[2019-05-23 16:24] tamiko commented on #8276
@davydden Yes.

[2019-05-23 20:18] #8276 closed

[2019-05-24 04:23] tamiko commented on #8275
Reproduced on laptop (linux, boost-1.65.0 compiled with gcc, configuring with gcc picks up external boost, configuring with clang picks bundled boost). (This also happens on the testsuite).

The test aborts for me with
[code]
A backtrace shows:
[code]

[2019-05-24 07:42] tamiko commented on #8275
@luca-heltai As a workaround, you can disable platform introspection via `-DDEAL_II_ALLOW_PLATFORM_INTROSPECTION=OFF`. In this case you might have to manually specify sse/avx support level, etc. (but setting such stuff to conservative values is a good idea for a binary package anyway).

A thought on this matter: I am not the biggest fan of the `BOOST_SERIALIZATION_USABLE` test because it takes up

[2019-05-24 13:26] luca-heltai commented on #8275
I worked around it by setting `BOOST_SERIALIZATION_USABLE` to ON. ;)

[2019-05-24 14:24] masterleinad commented on #8275
@luca-heltai So compiling `deal.II` with external `boost` passes the test suite for you?

[2019-05-24 14:29] luca-heltai commented on #8275
No. I'm having other issues. I get a lot of linking warnings (like the ones reported here: #8274), and executables are broken (they just segfault in `main()`). I have no idea what's wrong with my system now. I'm not sure this is related to the serialization issue.

The old deal.II package works fine. Anything installed from scratch with a compiler different from apple clang does not seem to work,

[2019-05-24 14:51] tamiko commented on #8274
Would you two mind to:
 - share all compiler and linker info found in `deal.IIConfig.cmake`?
 - get the full link line with `make VERBOSE=true` and post it, and run the link line by hand adding a `-v` to get full compiler output (about what tools the frontend invokes)?

[2019-05-25 17:49] tamiko commented on #8275
@dealii/dealii All, Given the fact that we have a workaround for this (simply setting `BOOST_SERIALIZATION_USABLE` to true on the command line) I would suggest we leave it as is and Tag 9.1.1 after a full testsuite run. Opinions?

[2019-05-26 10:11] luca-heltai commented on #8274
Compiler and linker info:
[code]
Full compile and link line:
[code]
Link with added `-v`:
[code]
I see nothing wrong here...

[2019-05-26 10:22] luca-heltai commented on #8274
This seems to be added by the `spack` wrapper to clang. I'm opening an issue there.

[2019-05-26 22:57] bangerth opened #8289 "Compute eigenvalues of rank-4 symmetric tensors"
Symmetric rank-4 tensors are used in both elasticity and anisotropic flow laws. A common problem I've encountered is if the rank-4 tensor is no longer positive definite (i.e., the eigenvalues of the operator that maps symmetric rank-2 tensors to symmetric rank-2 tensors are not positive).

It would be quite useful if we had a function that computes the eigenvalues of these operators. For the 2d ca

[2019-05-27 09:25] jppelteret commented on #8289
Compaction of tensors to FullMatrices can be done with the functions in [Physics::Notation::Kelvin](https://dealii.org/developer/doxygen/deal.II/namespacePhysics_1_1Notation_1_1Kelvin.html). One just needs to see if the scaling factors for the off-diagonal components leads to the correct eigenvalues or not.

[2019-05-27 09:36] jppelteret commented on #8289
Its likely that, for this case, you also might want to investigate the acoustic tensor. See, for example, sec. 6 of
[code]
and
[code]
as well as papers by Ogden, Destrade, & co. on the same topic.

[2019-05-27 13:35] luca-heltai commented on #8275
Apparently, our build system is doing a great job at spotting things that don't work: with the above trick, I make the build succeeds, but I get the following abort for any executable:
[code]
so the workaround is really not a workaround, and this is a deeper issue on my machine.

Anything built with the native compiler works just fine.

I'll prepare a package compiled with the native compiler. Thi

[2019-05-27 17:26] yurivict opened #8290 "Version 9.1.1 installs detailed.log and summary.log into $PREFIX"
Please remove these files.

[2019-05-27 17:34] drwells commented on #8290
We decided to install these in #7201: I think it makes sense to disable this for releases (the build environment is not necessarily on the machine).

[2019-05-27 19:19] tamiko commented on #8290
Yes, we violate the FSHS by installing these two files into `${PREFIX}`. But it is also true that you can easily remove them again with a one-liner in your ports file.

We don't need another point release for that change.

[2019-05-27 19:26] tamiko commented on #8290
@yurivict It does so only if `DEAL_II_DOCREADME_RELDIR` is not modified. For packagaging purposes, please set the following variables on the command line to whatever convention FreeBSD follows:
[code]

[2019-05-27 19:26] #8290 closed

[2019-05-27 19:38] tamiko opened #8292 "Provide some documentation for package maintainers"
We should document some packaging best practices and configuration nobs to make it easier to package deal.II for various *nix distributions.

In reference to #8290, #8291

[2019-05-28 19:45] kronbichler opened #8293 "Code optimizations for >100k MPI ranks"
I'm looking at a run of deal.II on 304,128 cores right now:
[code]
This experiment certifies that deal.II is able to do totally unexciting things given 2.5 MW of power budget, like solving Poisson's equation on a cube :wink: - well, at least it does so with 1 trillion unknowns. It uses a customized variant of deal.II's matrix-free solvers with some additional shortcuts that I plan to bring into de

[2019-05-29 03:02] tjhei commented on #8293
Impressive!
Do you have statistics about the various objects that consume the 800 MB memory?
Let me know if I or @tcclevenger can help with anything.

[2019-05-29 04:45] bangerth commented on #8293
:-)

[2019-05-29 06:39] luca-heltai opened #8295 "Changes page not reachable."
Tha page

https://www.dealii.org/current/doxygen/deal.II/changes_between_9_0_1_and_9_1_0.html

is not there (and we point to it from the menu of the release).

[2019-05-29 08:17] kronbichler commented on #8295
I guess the problem is that we need to move the `current` directory to the new 9.1 release files. Can someone with access to the online doxygen infrastructure adjust that?

[2019-05-29 10:57] kronbichler commented on #8293
Since it will take a few weeks until my next run on 300k cores, I extracted two weak scaling tables that should allow us to track progress on a smaller scale.

Fixed size: 6.10M DoFs/core
[code]
I have two jobs with 19k and 76k ranks in the queue to fill in add additional data points but this table makes pretty clear that a number of our reinit routines are non-optimal and we should look into them

[2019-05-29 12:11] masterleinad commented on #8295
It seems that we haven't generated documentation for the release at all, yet.

[2019-05-29 13:10] kronbichler commented on #8293
Unfortunately not for the big run, I only have the memory statistics I recorded. But I will prepare some more information during my next run, so now I'm going to look into some obvious places, in particular all places which are filled via `MPI_Allgather`. Not sure how accurate our `memory_consumption` functions are, though.

[2019-05-29 15:00] tjhei commented on #8293
I think it varies by class and I wouldn't be surprised if things are missing. I am not sure how to approach this except looking into the implementation. We were thinking about doing this on a much smaller scale to get a better idea about memory consumption.

[2019-05-29 15:41] kronbichler commented on #8067
I did a short audit of the uses of `locally_owned_dofs_per_processor` and the related `locally_owned_mg_dofs_per_processor` that I would like to remove. Here are the use cases:
- `SparsityTools::distribute_sparsity_pattern`: We use it to find out about the owner of certain rows. We could do this involving some communication also if just to locally owned dofs of the owner are given. This is the two

[2019-05-29 16:00] kronbichler commented on #8198
I am looking at this right now. One complication I see is the current signature:
[code]
If I add an optional argument, I need to add it after `attach_spherical_manifold_on_boundary_cells`, which is a bit different from the `hyper_cell` functions that do this before their `colorize` argument. This sort of confirms @tjhei's scepticism about default integer/bool arguments. Since we have had that argu

[2019-05-29 16:10] tamiko commented on #8295
@guidokanschat *ping*
The 9.1.0 documentation has not yet been generated on the webpage.

[2019-05-30 17:00] tjhei commented on #8198
I don't like trying to fit in a new function with optional arguments. I would just create a new function with a different name (and maybe deprecate the old one). Maybe something like ``hyper_ball_ex``, ``hyper_ball_version2`` or something?

[2019-05-30 17:23] bangerth commented on #8289
I thought this was going to be easy for 2x2x2x2 symmetric tensors, given that they can be represented as a 3x3 matrix. But curiously, this 3x3 matrix may not be symmetric, so the eigenvalues are not necessarily real. We have a way to get the real-valued type for an arbitrary number type, but do we have a way to get the complex-valued type for an arbitrary type?

[2019-05-31 20:46] bangerth opened #8297 "Add a CITATION.cff file"
There is an emerging standard of how to ask people to cite the right papers for a software:
  https://citation-file-format.github.io/
I suspect it would be easy for us to add such a file for the next release. An example is here:
  https://github.com/SCM-NV/qmflows/blob/master/CITATION.cff

[2019-06-04 19:07] rezarastak commented on #8268
I am satisfied with #8278 and I am not planning to submit any code for changing the interface of the `fill()` member function. I think we can close this issue.

[2019-06-04 19:09] #8268 closed

[2019-06-05 13:54] #6250 closed

[2019-06-06 12:12] kronbichler commented on #8293
I have not yet been able to extract all the numbers for some new runs I did last night, but #8298 and #8300 can be considered a success in terms of the memory consumption. A small setup now involves 200-300 MB/MPI rank just as serial computations, rather than 700 MB before those patches. This pushes the largest problems that can be solved.

While my code would previously fail with 1.9 trillion dof

[2019-06-07 09:34] kronbichler opened #8306 "Replace n_..._dofs_per_processor in distribute_sparsity_pattern"
In the discussion of #8298 we observed that `SparsityTools::distribute_sparsity_pattern` still uses the `n_locally_owned_dofs_per_processor` information that we want to discourage. This issue is to remind ourselves to eventually implement a better-performing alternative that avoids the MPI all-to-all communication, see also #8293.

[2019-06-07 15:10] #8067 closed

[2019-06-07 20:52] alexrobomind opened #8309 "Documentation of Triangulation::set_manifold is incorrect"
The documentation of Triangulation::set_manifold states:

The manifold_object is not copied and MUST persist until the triangulation is destroyed. This is also true for triangulations generated from this one by copy_triangulation.

However, the grid generator routines create a lot of manifolds from temporary objects and the implementation of set_manifold (https://www.dealii.org/current/doxygen/dea

[2019-06-07 21:45] bangerth commented on #8309
Yes, this is outdated -- it describes the status of a couple of years ago.

Want to try and write a pull request that fixes this? ;-)

[2019-06-08 07:18] #313 closed

[2019-06-11 13:32] alexrobomind commented on #8309
Will do, I just waited for a response from you to confirm my view on this.

[2019-06-11 13:57] jppelteret opened #8316 "LineMinimization not showing up in documentation"
The `LineMinimization` namespace in [`optimization/line_minimization.h`](https://github.com/dealii/dealii/blob/master/include/deal.II/optimization/line_minimization.h) is not showing up in the documentation. Maybe others in the `optimization` directory as well? This should be fixed.

[2019-06-12 09:16] tjhei commented on #8316
The namespace is there: https://www.dealii.org/developer/doxygen/deal.II/namespaceLineMinimization.html#a1851b14669971047cc128ef686ad128a

Or do you mean the source file itself?

[2019-06-12 10:12] jppelteret commented on #8316
But its not here: [https://www.dealii.org/current/doxygen/deal.II/namespaces.html](https://www.dealii.org/current/doxygen/deal.II/namespaces.html)

I looked at `current`, not `developer`. I guess I got confused because `current` still points to "Reference documentation for deal.II version 9.0.1". Clearly this link needs to be updated -- I can't remember if this is a known issue.

[2019-06-12 10:12] #8316 closed

[2019-06-12 14:04] dangars commented on #2914
@Rombur I've been thinking about the python bindings. And I think that it should be possible to do python bindings building on the current capabilities of deal.ii.

I think that the requirements for the python bindings are:
* It should be easy to use. Somebody with minimal finite elements knowledge should be able to use it.
* There should not be a performance hit. It should be as fast as a pure C+

[2019-06-12 21:23] Rombur commented on #2914
I like the general idea but:

I don't know how easy it is to do but if you want to give it a shot I think that would be great.

I think that there are different ways to use python. What you propose is great for prototyping a code or quickly try a different a slightly different equation. The way I usually it is for debugging purpose so it is useful to have a more tight coupling between deal.II and

[2019-06-13 06:02] jppelteret commented on #2914
@dangars Its great that you're wanting to work more on the python bindings. I think that the possibilities on this front are quite exciting. I think that its important that, from the C++ side, we don't end up reinventing things that have already been implemented. The symbolic stuff actually has two ongoing projects. Mine is [roadmapped here](https://github.com/dealii/dealii/projects/14); everythin

[2019-06-13 09:24] dangars commented on #2914
@Rombur I agree, both cases can be useful.

@jppelteret I completely agree.

I will start to play with `Differentiation::SD::Expression`, although probably I will wait until you and @masterleinad  have made further progress. I could prepare a small proof of concept. With the proof of concept we can decide if it is worthy to continue or if it is a direction that might lead to a dead-end.

[2019-06-13 09:32] jppelteret commented on #2914
Sounds good to me. I'll be opening up a PR with a full implementation of the SD assembly mechanism in the next 2 weeks (although this would be merged in a systematic, piece-wise manner) so you won't have to wait too long to play around.

Thanks a lot for all your enthusiasm around this! I think that it'll be a very cool addition and useful feature to have. Everyone likes Juptyer notebooks nowadays

[2019-06-13 09:48] dangars commented on #2914
Sounds good! I'll keep an eye in your PRs :)

[2019-06-13 12:16] masterleinad commented on #2914
I have been working on a domain-specific language for different backends, but in particular for `MatrixFree`, in C++. You can find some material from the last workshop [here](https://indico.sissa.it/event/23/contributions/188/). This is likely a bit orthogonal to what you are trying to do here, though.

[2019-06-13 13:45] #6782 closed

[2019-06-13 15:49] dangars commented on #2914
I took a look to your presentation, maybe `Differentiation::SD::Expression` is more in the direction of what I'm trying to do. Although I'll still keep an eye also in your PRs!

[2019-06-14 08:33] kronbichler commented on #8306
This is also related to #8041 and #7831 which did some improved setup already.

[2019-06-17 14:40] #7928 closed

[2019-06-18 08:11] luca-heltai opened #8321 "Documentation of GridTools::extract_boundary_mesh is incorrect"
The documentation states:

however this is wrong for any non trivial mesh generated externally (for example using gmsh) also in dim = 2.

[2019-06-19 18:56] #5506 closed

[2019-06-19 18:56] #6663 closed

[2019-06-20 09:55] dangars opened #8323 "Different results in the test for Nedelec and NedelecSZ"
Hi, I submitted the PR #8322 to add `std::complex` support for `project_boundary_values_curl_conforming_l2`.

When I wrote the test for #8322, I realized that the test `numerics/project_bv_curl_conf` (that is already in the repository) gives different results for `FE_Nedelec` than for `FE_NedelecSZ`. I think that the results of the test should be the same for both elements.

Results of `numerics/p

[2019-06-20 12:45] masterleinad commented on #8323
Why do you think that the output needs to be the same? In case the shape functions just differ by a sign, this should still be fine.

[2019-06-20 13:08] dangars commented on #8323
That makes sense!
I'm closing the issue

[2019-06-20 13:09] #8323 closed

[2019-06-20 21:15] bangerth commented on #8309
@alexrobomind -- I think that would be great. Thanks in advance!

[2019-06-20 23:03] bangerth commented on #8306
I was surprised that you deprecated that function. Is computing the all-gather of a single number per processor really that expensive? It doesn't take much memory either. (I do see the point why you wanted to get rid of the functionality for collecting the index sets on all processors.)

Do we call this function in essentially all parallel programs? As long as that is the case, there are no saving

[2019-06-22 00:58] bangerth commented on #8198
If you create a different function, you could re-use the same name and make the argument you add the second one, between `tria` and `center`. Then the existing one could just forward to the new one and be deprecated.

[2019-06-24 07:44] kronbichler commented on #8306
We do not call the collection of all index sets for all processors in all programs because Trilinos-based programs (that distribute the sparsity pattern via Trilinos facilities) or matrix-free programs do it on their own. But I agree that it is a considerable share of our parallel programs nonetheless. As I said, I will look into it more closely.

As I discussed in #8298 with @tjhei, I only deprec

[2019-06-24 15:26] tjhei commented on #8295
/current/ and /9.1.1/ exist now, but I see a buggy menu show up when clicking the link above. Guido is looking into it...

[2019-06-24 17:14] bangerth commented on #8295
Hm, what is it that isn't working for you? The page looks reasonable to me. Are you using something other than chrome?

[2019-06-24 18:36] bangerth commented on #8306
Right, and I'm sure everyone agrees that we really appreciate the work you are putting into this! You have a unique skill set (and access to machines) that will make our lives so much better ten years from now when we all get to play at the kind of scale you're working at!

My question was strictly about computing the number of unknowns per processor. I understand that the thing with exchanging th

[2019-06-25 07:43] tjhei commented on #8295
it turns out chrome got confused because older versions were in the cache. Everything works after force-refreshing the page. :+1:

[2019-06-25 07:43] #8295 closed

[2019-06-25 08:07] kronbichler commented on #8306
I agree that the information about the index sets all processors own (or the number of dofs, to take the reduced part) might get used again. My take on it is that
- it is pretty cheap to communicate it on small processor sizes so it won't likely hurt to do it repeatedly (I expect on the order of 1e-5...1e-4 seconds on up around a thousand MPI ranks)
- a user can still store it in the application p

[2019-06-26 12:17] drwells commented on #8292
I just fixed some issues with the deal.II AUR package. I am writing down my changes here so that we don't have to look this up again later.

deal.II will install a bunch of files that don't belong in `/usr/`, so the `PKGBUILD` file deletes them:
[code]
`LICENSE.md` should be installed in the correct place for the distribution instead:
[code]

[2019-06-26 12:21] drwells commented on #8292
Other suggestions:
- the configuration flag `-DDEAL_II_WITH_64BIT_INDICES` should match whatever PETSc does
- the bundled packages should be disabled via `-DDEAL_II_ALLOW_BUNDLED=OFF`
- deal.II sets its own flags in debug and optimized mode with GCC, clang, intel, and MSVC that are reasonable and usually don't need to be altered
- underlinkage with GSL may be a problem (it is on Arch Linux)

[2019-06-28 11:23] #8222 closed

[2019-07-05 20:00] masterleinad opened #8347 "CUDAWrappers::MatrixFree doesn't provide initialize_dof_vector"
We should implement `CUDAWrappers::MatrixFree::initialize_dof_vector()` for the interface to be more similar to `MatrixFree`.

[2019-07-06 23:08] drwells commented on #8273
I added an entry: see

https://github.com/dealii/dealii/wiki/Frequently-Asked-Questions#can-i-solve-problems-with-higher-regularity-requirements

I think this is enough to close the issue.

[2019-07-06 23:08] #8273 closed

[2019-07-07 08:43] GrahamBenHarper opened #8351 "FE_PolyTensor does not support mapping_covariant for shape functions"
If I were to take a derived class of `FE_PolyTensor` and replace the mapping type with `mapping_covariant`, then the library builds just fine, but running simulations using said derived class does not work. More specifically, it throws an exception (which I can paste in a comment below) when asked for the value or gradient of a function mapped by the covariant transform. This happens exactly when

[2019-07-07 08:47] GrahamBenHarper commented on #8351
Here's a sample output of when it fails:
[code]

[2019-07-08 09:06] kronbichler opened #8354 "Pass MatrixFree::AdditionalData by const reference"
While looking at #8348, I realized that we pass `MatrixFree::AdditionalData` by value to the various `MatrixFree::reinit()` functions. Since this data structure has grown quite a bit and includes `std::vector`, we should change this to const reference. This should be backward compatible because const references support in-place construction within the `reinit()` call.

@peterrum FYI

[2019-07-10 15:53] tamiko commented on #8080
Closing :-)

[2019-07-10 15:53] #8080 closed

[2019-07-10 16:32] peterrum opened #8364 "Automated template instantiation of pairs of type (Number, width) as needed in VectorizedArray"
In PR #8342, I have introduced a second template parameter to `VectorizedArray<Number, width>`, such that the user can specify the length of the array. The width cannot be selected arbitraily, but is fixed for the given processor architecture (`__SSE2__`, `__AVX__`, `__AVX512F__`) and the optimization level (`DEAL_II_COMPILER_VECTORIZATION_LEVEL`). For example for Skylake (AVX-512 and maximal opti

[2019-07-10 16:50] fmilicchio opened #8366 "Cannot compile 9.1.1 with Trilinos and PETSc (macOS)"
Dear all,

I am trying to compile deal.II 9.1.1 on macOS 10.14.5 with Apple LLVM version 10.0.1 (clang-1001.0.46.4) enabling both Trilinos (12.12.1) and PETSc (3.11.2). Both libraries are compiled from sources, without Fortran or MPI.

First, if I compile with only PETSc it works just fine.

With **both** Trilinos and PETSc, I have the following error:

[code]

I have read [this issue](https://git

[2019-07-10 16:52] fmilicchio opened #8367 "Cannot compile deal.II 9.1.1 with Trilinos (macOS)"
Dear all,

in a [different issue](https://github.com/dealii/dealii/issues/8366) I've found that I cannot compile deal.II with PETSc and Trilinos enabled (macOS 10.14.5 with Apple LLVM version 10.0.1, Trilinos 12.12.1, without Fortran or MPI support, from sources).

This issue is separated from the other as the compilation error is quite different:

[code]

I haven't seen any issues regarding Trili

[2019-07-10 17:14] drwells commented on #8366
I am afraid so. If you look at the top of the provided output you will see that both PETSc and Trilinos define their own `mpi.h` headers, which each define the same MPI types.

We should catch this configuration problem in the build system: we should error out if we have PETSc, Trilinos, and no MPI.

[2019-07-10 17:49] drwells commented on #8367
Thanks for reporting this: this appears to be a bug that occurs when one has a copy of Trilinos with Epetra but not Tpetra.

[2019-07-10 17:50] tjhei opened #8371 "intel 19.0.4 AVX512 error"
I am getting
[code]

[2019-07-10 17:50] tjhei commented on #8371
@kronbichler do we need to do a load using instrinsics?

[2019-07-10 17:58] peterrum commented on #8371
I have fixed this as part of #8348.

[2019-07-10 18:00] drwells commented on #8367
@fmilicchio were you working off of master? If so, would you be willing to try out the patch in #8372?

[2019-07-10 18:01] tjhei commented on #8371
Did you discuss with @kronbichler ? I thought ``= {}`` causes a bug in gcc.

[2019-07-10 18:15] peterrum commented on #8371
@tjhei: you are completely right! I forgot that. I guess @kronbichler wanted to write:
[code]
@kronbichler's test program was working directly on `__m512*` and not on on `VectorizedArray<float>`.

[2019-07-10 18:17] peterrum commented on #8371
@tjhei: I would update  #8348 accordingly. Or should it be a separate PR?

[2019-07-10 19:14] kronbichler commented on #8371
@peterrum thinking about, let us set up a separate PR so it can get in quickly.

[2019-07-10 19:15] peterrum commented on #8371
I'll do it right away.

[2019-07-10 19:18] tjhei commented on #8371
yep, that would be great!

[2019-07-10 19:29] tjhei opened #8374 "intel 19.04 mixes up TBB installations?"
deal.II compiles correctly with bundled TBB:
[code]
but when I compile step-32:
[code]
so the compiler picks up the system TBB instead?! The directory and files do exist. Any suggestions?

I can fix compilation by replacing ``-isystem`` with ``-I`` for TBB.

[2019-07-10 19:42] tamiko commented on #8374
Interesting. `-isystem` implies left-to-right order (first match wins) whereas `-I` has right-to-left order. This might actually not be what we intended. What about we revert the corresponding change on user side:
[code]
Do we actually gain anything from marking those includes as `SYSTEM`? I have no recollection of 46fa2832903390e9317c7e5741c91bc6a88416e5 and 30e56733585d94aac39603af14faf5058232cf

[2019-07-10 21:26] tjhei commented on #8371
closed via #8373

[2019-07-10 21:26] #8371 closed

[2019-07-10 21:31] tjhei commented on #8374
The reason for ``isystem`` was related to warnings. Somehow the warnings for bundled/etc. are more relaxed this way. That is all I remember. But I do know it was us too together. :man_shrugging:

[2019-07-10 21:54] peterrum commented on #8364
I just noticed that I can simplify the above code:
[code]

[2019-07-10 22:29] masterleinad commented on #8364
That looks pretty reasonable to me.

[2019-07-11 07:39] peterrum commented on #8364
@masterleinad: thanks for the feedback!

[2019-07-11 10:22] marcfehling opened #8376 "Communicate active_fe_indices after refinement?"
Reviewing the recently added feature of an automatic transfer of `active_fe_indices` after refinement, I noticed that we are communicating these indices on ghost (and artificial) cells in case of a `parallel::shared::Triangulation` ...
https://github.com/dealii/dealii/blob/59a12e7559c7710ae4125632c9fea25be61d727d/source/hp/dof_handler.cc#L2119
... but skip it for `parallel::distributed::Triangulat

[2019-07-11 13:01] fmilicchio commented on #8367
@drwells I just cloned your branch (log follows at the bottom), but I cannot compile deal.II. I've tried the last version from master, but again, no success.

By the way, Tpetra is enabled in my Trilinos installation (IIRC deal.II detects when Trilinos has no Tpetra and cmake fails). The packages I explicitly enabled are the following (dependencies should be handled by Trilinos):

- Trilinos_ENABL

[2019-07-11 15:32] tjhei commented on #8374
So, what do we do: make all of them normal includes? I still don't understand why it breaks on this machine, only.

[2019-07-11 18:10] tjhei opened #8377 "bug in 64bit epetra :SparsityPattern::compress"
I using epetra with 64 bit indices (you can try step-32 with 2 ranks for example).
Trilinos throws the following char exception:
[code]
 Call stack:
[code]

I am working on a fix...

[2019-07-11 18:14] drwells commented on #8374
IIRC we got fed up trying to disable every warning on the planet with `DEAL_II_DISABLE_DIAGNOSTICS` and went with the `-isystem` approach instead.

I have never tried to use the bundled TBB instead of my system TBB (when both are available). I suspect the following could happen: if we do `-isystem/usr/ -I/path/to/bundled` then the system TBB header should win on my machine, which would reproduce t

[2019-07-11 19:36] tjhei commented on #8374
I didn't explicitly select the bundled one. Maybe one of our checks failed for the system tbb?

[2019-07-12 13:41] fmilicchio commented on #8366
@drwells I have created a pull request, since it's my first one, I hope it's ok. Discard if not needed or not in line with developer's guidelines.

[2019-07-12 13:43] drwells commented on #8366
@fmilicchio It is at least a good start; thanks a lot for contributing a fix!

We usually keep issues open until the relevant PR is closed, so I will reopen this for now.

[2019-07-13 16:33] drwells commented on #8351
@GrahamBenHarper this was fixed by #8352, right?

[2019-07-14 06:18] GrahamBenHarper commented on #8351
@drwells this was not addressed in #8352 since no elements currently map shape functions via `mapping_covariant` (that I know of) that I can test it on. Since it is explicitly marked by an `ExcNotImplemented`, I assume there was a reason for that, so I left it alone until I hear an opinion from the admins on the matter.

I will volunteer to work on a patch if the official decision is to implement

[2019-07-14 16:05] drwells commented on #8351
My best guess would be that, simply, no one has needed it, so no one has implemented it. Do you have an element in mind that might use this functionality? If so it would be great if you could add both it and the necessary code to use `mapping_covariant`!

[2019-07-14 19:56] GrahamBenHarper commented on #8351
I don't have one that I can think of, mainly because I only know from the physics side that `mapping_covariant` pulls back vector fields of gradients.

I will see if there are elements that map shape functions with the Jacobian inverse transpose, and I may ask Dr. Bangerth for some suggestions as well (I won't @ him until he's back in town).

[2019-07-15 00:40] tjhei commented on #8377
see #8378

[2019-07-15 00:40] #8377 closed

[2019-07-15 02:18] drwells commented on #8374
I can successfully compile and link step-32 when we use the bundled TBB: my system installation is at least not linked against.

[2019-07-15 12:41] tjhei commented on #8374
yes, I think this is only on this system and might be related to the intel 19 compiler.

[2019-07-16 19:59] tcclevenger opened #8387 "Current master has compilation errors related to constexpr in tensor.h"
When trying to compile on the palmetto cluster in Clemson I have come across the following errors when trying to compile the current master version:

_required from here
/home/tcleven/deal-git/dealii/include/deal.II/base/tensor.h:1933:5: error: uninitialized variable ‘result’ in ‘constexpr’ function
     result;
     ^~~~~~

This same error occurs in many places.

It should be noted:
DEAL_II_WITH_

[2019-07-16 20:18] masterleinad commented on #8387
Can you print the complete error message? `Tensor` should have a default constructor that initializes it.

[2019-07-16 20:49] rezarastak commented on #8387
I think the error comes from this:

If `Number = OtherNumber = VectorizedArray<double>` and `rank_1 == rank_2 == 1` then the complicated type for `result`
[code]
simplifies to `VectorizedArray<double>` which doesn't have a default constructor. The compiler should not give this error because we never call `Operator*` with `Number = OtherNumber = VectorizedArray<double>` in constexpr context. So it

[2019-07-16 21:44] tcclevenger commented on #8387
Here is the full error output:
[error.log](https://github.com/dealii/dealii/files/3399250/error.log)

[2019-07-16 22:09] masterleinad commented on #8387
Can you try
[code]
?
instead of
[code]

[2019-07-17 16:03] tcclevenger commented on #8387
This worked. I created a pull request here: https://github.com/dealii/dealii/pull/8388

[2019-07-18 12:46] bangerth commented on #8387
These fixes make me uncomfortable. We can fix this in the library, but we can't rely on users doing this in their codes and surely someone will get an incredibly difficult to track down bug into their codes because they don't initialize their local variables *explicitly* -- which we don't require to do for any other type.

I'd very much rather we find a way to coerce the compiler to make sure ever

[2019-07-18 12:51] kronbichler commented on #8387
I guess we should add the constructor from `Number` to `VectorizedArray<Number>` which would have avoided the problem. (But skip the default initialization of the members, so we do not pay a price unless the conversion `Number` -> `VectorizedArray<Number>` is requested explicitly.) This really makes `VectorizedArray<double>` more compatible with `double` and we agreed that we do not need the stric

[2019-07-18 14:50] masterleinad commented on #8387
Actually, the problem was with `double` and not with `VectorizedArray<double>`. There is not all that much we can do about that. https://godbolt.org/z/MosCJb

[2019-07-18 14:57] masterleinad commented on #8387
This problem only appears in `constexpr` functions and the error message is pretty straight forward, isn't it? I am just surprised that we didn't see this problem with other compilers.

[2019-07-21 01:20] bangerth commented on #8351
I think I misunderstood you when I suggested you open this issue -- I was under the impression that there was an actual bug with an array not allocated. In that case, it would have been worth fixing.

In the case of an `ExcNotImplemented`, the case is less clear -- it's not a bug, it's just something nobody needed so far. Someone may at some point or other, so if you know how to implement the func

[2019-07-23 13:22] bangerth opened #8406 "Warnings about vectorization"
Compiling ASPECT yesterday with the then-current deal.II sources yielded these warnings:
[code]
I'm not sure what to do with this -- any ideas?

[2019-07-23 13:37] kronbichler commented on #8406
This due to some `constexpr Tensor` changes. I've seen it as well. When I have some time I will look into it.

[2019-07-23 13:49] Rombur commented on #8347
Closed by #8395

[2019-07-23 13:49] #8347 closed

[2019-07-23 14:03] masterleinad commented on #8406
The code in question is
[code]

I guess we agreed to finally provide a constructor from a scalar and can then improve it.

[2019-07-24 00:12] bangerth commented on #8406
Hm. I must admit that I don't know what I need to do for this. Alternatively, could I just initialize `tmp` with `{}` here?

[2019-07-24 09:25] #8292 closed

[2019-07-24 14:38] anates opened #8410 "Compilation of Physics/Elasticity/kinematics fails with icc18"
When compiling the latest deal.II-version with icc 18, I get a bunch of compilation errors originating from physics/elasticity/kinematics.h. It looks like as some of the recent changes to Tensor<> or SymmetricTensor<> broke something here. The errors are
[code]
and the detailed.log-file is attached
[detailed.log](https://github.com/dealii/dealii/files/3427324/detailed.log)

[2019-07-24 15:21] masterleinad commented on #8410
Which commit is this? https://github.com/dealii/dealii/commit/180ab0039cec02bd4b656e792111bc5e226434a1? Can you also share the `CMake` output?

[2019-07-24 17:52] anates commented on #8410
[CMakeError.log](https://github.com/dealii/dealii/files/3428141/CMakeError.log)
[CMakeOutput.log](https://github.com/dealii/dealii/files/3428142/CMakeOutput.log)

[2019-07-24 18:32] rezarastak commented on #8410
Perhaps we should check whether the `Assert` macro and the exception classes work in constant evaluation context before enabling `DEAL_II_CONSTEXPR`

[2019-07-24 18:53] masterleinad commented on #8410
@anates I wasn't precise. Can you provide the output when running `CMake`? In particular, I wan't to know whether `DEAL_II_HAVE_CX14_CONSTEXPR_CAN_CALL_NONCONSTEXPR` and `DEAL_II_WITH_CXX14` are set. (I assume so from the error messages)

@rezarastak In `Utilities::pow` the `__builtin_expect` was problematic so we might need a similar workaround. Let's try to figure what exactly is probelmatic. In

[2019-07-24 19:08] anates commented on #8410
[cmake.log](https://github.com/dealii/dealii/files/3428404/cmake.log)
This one?

[2019-07-24 22:50] masterleinad commented on #8410
I can reproduce the issue and removing `__builtin_expect` fixes it. I would just undefine `DEAL_II_HAVE_BUILTIN_EXPECT` if the compiler is `Intel` and `DEAL_II_CONSTEXPR` is set (or check these two conditions also when defining `Assert`).

[2019-07-25 14:47] #8410 closed

[2019-07-25 15:01] bangerth commented on #8387
@masterleinad :
I think I'm not clear what exactly is happening. Are you saying that the variable is only uninitialized if we are in a `constexpr` function, whereas the variable would be initialized properly if it was a non-`constexpr` function? In other words, that whether or not a variable is initialized depends on what kind of function we have? If that were the case, there is indeed no problem

[2019-07-25 15:26] masterleinad commented on #8387
This. All variables need to be initialized **in their constructors** in `constexpr` functions. Value initialization is fine, though, and this is what we're doing in #8388. Thus, the problem we were seeing here is not specific to `VectorizedArray` but related to all types that are not initialized in the constructor, like `int` and `double` and other fundamental types.

Why do you say that this is d

[2019-07-25 15:32] bangerth commented on #8364
I think you can do this simpler: let's say you've defined in `template-arguments.in` a list `vector_lengths`, then you can do the following in the `.inst.in` files:
[code]
This way you won't have to extend the `expand_instantiations` script.

[2019-07-25 15:37] bangerth commented on #8387
It's dangerous because we should now go through all of the places where we use `VectorizedArray` and make sure that these variables are indeed value-initialized -- which I understand was not necessary. This includes all of the places where the name `VectorizedArray` isn't spelled out, but is a template argument.

Or are you saying that `VectorizedArray` was never initialized in the constructor, an

[2019-07-25 15:52] masterleinad commented on #8387
This. The error message here explicitly mentioned `double` and not `VectorizedArray<double>` (although both of them don't initialize the represented value when default-initialized).
We should see all the places where we use such types in `constexpr` functions already. It doesn't matter if they are used in a `constexpr` context or not.

[2019-07-25 15:59] peterrum commented on #8364
@bangerth: Thanks for your feedback. I am not sure what are referring to? If we write in a style as you proposed, we would have to add an additional ifdef:
[code]
This would lead to the fact that we have to write practically the same code three times.

[2019-07-25 16:15] bangerth commented on #8364
Yes, something like this. I only wanted to point out that it's not necessary to extend `expand_instantiations.cc` or use non-standard pairs of values into the `template-arguments` file.  In other words, it is not necessary to create a *general* solution to address a *single occurrence*.

But it may be that you've already found another way to solve this, and in that case you should feel free to com

[2019-07-25 16:16] bangerth commented on #8387
I see. Thanks for the clarification.

[2019-07-25 16:31] peterrum commented on #8364
@bangerth: I just noticed this is the issue. The related PR is #8383. I think the solution described there is - as it is now - quite nice. If you want you can have a look at it. Hope you approve it ;)

[2019-07-25 23:39] bangerth commented on #8376
Yes, I think that is reasonable. The added work is rather minimal, I imagine.

[2019-07-28 15:44] tamiko commented on #8374
@tjhei @drwells It just happens that there is an external tbb (taking precedence) in the system includes of the intel 19 compiler.

[2019-07-28 15:45] tamiko commented on #8374
The only feasible solution I see at the moment is to disable `-isystem` which might create bigger problems at other places...

[2019-07-28 15:52] tamiko commented on #8364
I'll close this issue - it looks like the p :-)

[2019-07-28 15:52] #8364 closed

[2019-07-28 16:09] drwells commented on #8374
Would it be possible to just disable `-isystem` for TBB? None of the other dependencies, AFAIK, should have this problem.

[2019-07-29 11:28] #8376 closed

[2019-07-30 17:24] bangerth commented on #8364
Yes, I agree that the way you solved this in #8383 seems like the right way to go.

[2019-07-30 19:02] #7830 closed

[2019-07-31 06:15] kronbichler opened #8437 "Look over clang-format indentation with many specifiers"
In #8428 we observed that `clang-format` does sometimes struggle with creating a good indentation when we use many specifiers, sometimes hidden behind the keywords. The result can look e.g.
[code]
This looks ugly and sometimes even breaks the 80 char line length (as here).

Before the next release we should look this through systematically and find out whether
- an update of `clang-format` to a ne

[2019-07-31 12:33] dangars opened #8438 "print() from PETScWrappers::MPI::SparseMatrix mangles the output"
Hi, when I run in parallel the function `print()` from `PETScWrappers::MPI::SparseMatrix` the output gets randomly mangled. If I run the same funcion with just one process the output is not mangled. I'll write a test that reproduces the error.

[2019-08-01 18:23] dangars opened #8440 "deal.ii does not compile, error in boost-1.17"
Hi, I can't compile deal.ii due to an error with boost-1.17. Probably related to #8386

Boost requires the file `boost/type_traits/detail/is_function_cxx_03.hpp` which I don't understand because I'm using C++17. clang 3.9.

The file `boost/type_traits/detail/is_function_cxx_03.hpp` does not exists.

The file `bundled/boost-1.70.0/include/boost/type_traits/is_function.hpp` has the following code:
[

[2019-08-01 18:39] dangars commented on #8440
According to the website of boost clang c++ 3.9.1 is supported.
https://www.boost.org/users/history/version_1_70_0.html

[2019-08-01 19:12] masterleinad commented on #8440
Does it work if you copy that file? We are trying to keep the bundled boost at a minimum to support what we need in `deal.II` and it appears that this file didn't exist in `boost-1.62.0` and is not needed for the setups we regularly test for.

[2019-08-01 20:08] bangerth commented on #1367
@davydden -- I don't recall the details, but haven't we done what's requested here?

[2019-08-01 20:25] davydden commented on #1367
I actually don't know, it must be through `cell_weight` signals https://www.dealii.org/developer/doxygen/deal.II/structTriangulation_1_1Signals.html#af58294e40c64257c9de55e78b6443e36 but it's not stated anywhere whether shared Tria supports it, although I have a feeling that it does as @vishalkenchan wanted to use this eventually in his project.

[2019-08-01 21:44] dangars commented on #8440
If I add the following files, it works :)
[code]
I downloaded those files directly from boost.

[2019-08-01 21:48] masterleinad commented on #8440
Great! Just create a pull request then.

[2019-08-01 22:36] dangars commented on #8440
Done :)

[2019-08-01 22:41] #8440 closed

[2019-08-03 21:54] tjhei opened #8446 "step-2 extension: print dof locations"
Extend step-2 under "possibilities for extension" to suggest printing the a mesh with locations and numbering of the support points. The code for this is:
[code]
Also include a picture.

[2019-08-06 11:47] kronbichler opened #8460 "Access functionality for MatrixFree on faces"
Following the post https://groups.google.com/d/msgid/dealii/13c24a74-caad-4c04-9b9c-d68e7b874d4c%40googlegroups.com?utm_medium=email&utm_source=footer we should introduce some additional access functionality to `MatrixFree` similar to `MatrixFree::get_cell_iterator`:

1)   functions similar to get_cell_iterator for getting iterator to interior/exterior cell +  face index:
[code]
2) getter for `Mat

[2019-08-06 12:18] peterrum commented on #8460
I have once implemented in a separate branch:
[code]
which I am using in
[code]
to get the ids for inner and exterior faces. I would recommend that I integrate this functionality into `MatrixFree` and use the info to setup the face iterator. @kronbichler that might be a quick fix to 1.

[2019-08-06 12:25] mwichro commented on #8460
This should be added to matrix_free.h:

  /**
   * Return the cell iterator in deal.II speak to a interior/exterior cell of given face  in the
   * renumbering of this structure.  The the second element of the pair is face number so that
   * the face iterator can be accessed:
   * pair.first()->face(pair.second() );
   *
   *
   * Note that the face iterators in deal.II go through cells different

[2019-08-06 12:43] mwichro commented on #8460
And this the code that should be put into matrix_free.templates.h.
I did not tested that, there may be some mistakes. ( I will  have to update my dealii first )

std::pair<typename DoFHandler<dim>::cell_iterator,  unsigned int>
MatrixFree<dim, Number>::get_face_iterator(const unsigned int face_batch_number,
 	  	  const unsigned int vector_number, const bool interior=true,
	  	  const unsigned int

[2019-08-06 15:53] tjhei opened #8461 "move homepage/images/ into a public git repo"
It makes sense to keep large images separate but allowing pull requests to update the images would be very helpful. I am happy to import the existing svn but somebody will need to change the logic on the website.

[2019-08-06 16:11] masterleinad commented on #8406
I have a PR in preparation for cleaning up the `constexpr` annotations and the related warnings/notes.

[2019-08-06 20:00] marcfehling commented on #8219
Here is another reference: "Ten Simple Rules for Better Figures"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003833

[2019-08-06 20:00] class4kayaker commented on #7629
I am working on this

[2019-08-07 16:49] bangerth opened #8482 "step-50 TODO list"
- [ ] Don't use vector_t, matrix_t
@tcclevenger: Seeing this in your talk just now -- we generally use `CamelCase` for types, so seeing `vector_t` and `matrix_t` in step-50 looks a bit odd. Maybe want to put that on your list of things to change.

[2019-08-07 19:30] tcclevenger commented on #8482
Yes, I will definitely change this. Thanks.

[2019-08-07 20:03] tjhei commented on #8482
- [ ] more interesting problem
- [ ] test with PETSc and Trilinos
- [ ] "some" scaling results (I can probably run on a big machine if we are happy with things)

[2019-08-07 20:24] tcclevenger commented on #8482
Is there any objection to renaming `mg_dof_handler` to `dof_handler`? I think the name is confusing since `mg_dof_handler` doesn't only contain MG information.

[2019-08-07 20:42] tjhei commented on #8482
good idea.

[2019-08-07 21:27] bangerth commented on #8482
The name `mg_dof_handler` is historical -- we used to have a class of that name. There is no reason to still use this name.

[2019-08-07 23:42] tamiko commented on #8152
*mhm* The links for the references are currently not working (i.e. the bibliography page does not get populated). Do we need to change something in our doxygen configuration?

[2019-08-07 23:53] tjhei commented on #8152
I assume the bibtex is broken because they used to work, let me check.

[2019-08-08 03:31] tjhei commented on #8152
Yes, there are bibtex errors. Let me try to make a PR.

[2019-08-08 04:17] rezarastak opened #8506 "ContinuousQuadratureDataTransfer with non-fixed-size quadrature data structures"
After today's talk about hp-adaptivity at the workshop, I had a conversion with @peterrum and @marcfehling about using `ContinuousQuadratureDataTransfer` where the data type stored at quadrature points might be different from a cell to another. However, the current implementation of packing and unpacking functions within `ContinuousQuadratureDataTransfer` enforces that all the cells in the triangu

[2019-08-08 04:28] drwells commented on #2046
@GrahamBenHarper Would you be willing to help write this tutorial based on your presentation today?

[2019-08-08 05:39] peterrum commented on #8506
Let's setup tomorrow a test!

[2019-08-08 06:08] marcfehling commented on #8506
We introduced the feature of variable size data transfer in #6864. I did not touch the `ContinuousQuadratureDataTransfer` class at that time because I did not know much about its functionality (and I still don't know more today).

---

Objects of type `FullMatrix` will be transferred from one cell to another.
https://github.com/dealii/dealii/blob/23aeabb0d573fc4cb23c362622be80287cd8c987/include/de

[2019-08-08 07:18] marcfehling commented on #8506
Does this class work with p adaptive methods and thus with different quadrature rules on different cells?

[2019-08-08 10:41] davydden commented on #8506
At the time it was written hp and p::d::Tria were mutually exclusive, so I guess no ;-)

[2019-08-08 16:18] tjhei commented on #2046
One thing that just came to my mind: reusing step-19 might be confusing (for example when searching for step-19 online you might find the old one, which I know many people do). Should we just delete step-19 and keep it empty instead?

[2019-08-08 17:03] class4kayaker commented on #7629
The relevant PR has been merged.

[2019-08-08 17:09] davydden commented on #8506
@marcfehling @rezarastak

all that class does it take provide interface form quadrature point data to feed scalar, in total `number_of_values` on **each** cell, do L2 projection of each scalar on parent, send the effectively DG field to child and evaluate at quadrature point of child.

`TransferableQuadraturePointData::number_of_values()` currently does not know anything about each cell, so it doe

[2019-08-08 17:39] bangerth opened #8516 "FEFieldFunction is not thread-safe (because GridTools is not threadsafe)"
@mjayadharan showed me a piece of code that crashes in parallel. I can't say I completely understand why it does, but in looking into it, I think that the following is nonetheless a problem:

When one uses `FEFieldFunction` as an argument to places such as `MatrixTools::create_mass_matrix()` or a variety of other places that build stuff in parallel, one might get into the `vector_value_list` funct

[2019-08-08 17:45] bangerth opened #8517 "GridTools::Cache does not in fact cache things sometimes :-)"
Looking at #8516, here is some code in `GridTools::Cache` (in `source/grid/grid_tools_cache.cc`):
[code]
If the flag is set, it recomputes the bounding box and then returns it. The *idea* of course is that once computed, the cache will know about it the next time the function is called -- but it forgets to clear the flag in the update flags. Here is a function that does it correctly:
[code]

We sh

[2019-08-08 19:39] #7629 closed

[2019-08-08 19:39] drwells commented on #8517
@bangerth I think you meant to ping someone else.

[2019-08-08 19:52] luca-heltai opened #8518 "Use rtree inside merge_triangulation"
The function that merges two triangulation is exceptionally expensive. We should replace the logic that looks for overlapping vertices, with one that uses `rtree` internally.

[2019-08-08 20:07] GrahamBenHarper commented on #2046
@drwells Write a tutorial for implementing a finite element? I think that sounds interesting. @bangerth was also suggesting the possibility of recording a video tutorial on implementing a finite element. Could these two ideas be combined?

[2019-08-08 20:13] jppelteret commented on #8506
@rezarastak Absolutely. Your usage case is one that I'm very familiar with, so I'm very much in favour of the the extensions / refactoring / reimplementation of the `ContinuousQuadratureDataTransfer` class. Whether its possible to adjust the current implementation or if it needs a complete rewrite would require a little bit of investigation, but I wouldn't be surprised if it could be tweaked to su

[2019-08-08 20:15] drwells commented on #2046
I think so: one way would be to write the tutorial and then record a lecture based on it.

[2019-08-08 20:19] masterleinad commented on #8517
You probably meant @mjayadharan.

[2019-08-08 20:29] mjayadharan commented on #8517
Yes. I can give it a try.

[2019-08-08 20:45] philm001 commented on #7524
Hey guys, just wanted to update you on this. I decided to change the order of my #include statements as outlined by Dr. Bangerth and was able to get the application compiled.

After doing some further research in Qt, there is a define statement that a developer can use that tells Qt to not define the MOC keyword signal (and other keywords). But to instead use the Q_SIGNAL macro. Here is a link in