[2015-11-04 21:37] kronbichler commented on #1829
I had a short look at the relevant code. Here is a backtrace on the relevant thread:
[code]
What happens is that DataOut::build_one_patch asks Mapping_Q_Eulerian for the support points. To this end, the underlying FEValues object is set up initialized, which internally goes to FESystem that spawns its own parallel tasks (frame 27). The TBB scheduler decides to go to another thread with that work;

[2015-11-04 22:27] tjhei commented on #1829
There is two interesting things here:
- The current thread is already holding the lock causing the deadlock. A different approach would be to use a critical section instead of a mutex.
- Why is compute_mapping_support_points calling compute_mapping_support_points and isn't that a bug too?

[2015-11-05 00:03] bangerth commented on #1830
Will take care of this. The same applies to `FESystem::get_data()`: using multiple tasks likely allocated memory in the `InternalData` object that is spread across multiple NUMA domains, when what we really wanted in contexts like `WorkStream` is to allocate things thread-locally.

[2015-11-05 00:07] bangerth commented on #1831
I think something like
[code]
would already solve this for the by far most common case.

[2015-11-05 00:18] bangerth commented on #1829
On 11/04/2015 12:02 PM, Luca Heltai wrote:

Ah, yes, my apologies. I confused this with `MappingFEField`. However, because
they're very similar, what ails one is going to ail the other as well, I
believe. Thinking about it, I believe I even pointed out this one problem
during patch review :-)

[2015-11-05 05:20] bangerth commented on #1831
On it.

[2015-11-05 07:11] kronbichler commented on #1829
I assume you mean compute_mapping_support_points in frame 31 and compute_mapping_support_points in frame 6? This is due to TBB. While working on the outer method, TBB spawns sub-tasks. While waiting for the tasks to complete (likely all other threads are busy in similar code), TBB decides to put the current context to sleep (frame 23) and start another task context (it starts at frame 22 and conti

[2015-11-05 07:19] bangerth commented on #1829
Correct, the only correct solution is to use a thread-local list. Fixing the issue with #1830 is really only going to paper over this.

[2015-11-05 19:36] #1831 closed

[2015-11-06 14:37] jppelteret opened #1839 "Unsafe inline cast from Tensor<2,dim> to SymmetricTensor<2,dim> in v8.3.0"
When one adds a `SymmetricTensor` to a normal `Tensor`, the `Tensor` is preferrentially cast to a `SymmetricTensor` leading to an unexpected result:
[code]
This can (and must) of course be avoided in the following manner
[code]
and the problem is detected at run time in debug mode
[code]

However, it would be nice to force a cast the other way round, perhaps by defining `operator+` for these cases

[2015-11-06 19:38] luca-heltai opened #1840 "Install issue with latest deal.II"
Freshly downloaded, new build directory, cmake 3.3.1:
[code]

[2015-11-06 21:15] tamiko commented on #1839
This is a bit surprising because I already introduced the correct
overloads in

  commit d86d56b2006c03f7f40f94dd96fb4363cf67d28e
  Author: Matthias Maier <tamiko@43-1.org>
  Date:   Wed Oct 28 22:47:29 2015 -0500

and in fact the following code works as expected:

[code]

[2015-11-06 21:16] tamiko commented on #1839
Ah, sorry. :-D

I missed the "in 8.3.0".

[2015-11-06 21:16] tamiko commented on #1839
Fixed in d86d56b ;-)

[2015-11-06 21:16] #1839 closed

[2015-11-06 21:20] luca-heltai commented on #1840
This apparently only happens if one uses a particular combination of ninja, cmake, gcc and gentoo...

I went around the issue by using make...

[2015-11-06 21:20] #1840 closed

[2015-11-06 21:42] bangerth opened #1842 "Time the effect of #1841"
#1841 undoes some parallelization work in `FESystem::fill_fe_values`. I'm curious about the impact this has, for example on assembly in a program like step-22. It seemed to me that the work done in `fill_fe_values` is substantial enough to allow for multiple threads to work together. As @kronbichler pointed out, this has large detrimental effects on performance in `WorkStream`. I'm curious, though

[2015-11-06 21:45] bangerth commented on #1840
I hope it's not the `ninja` part of the combination -- I've really grown attached to that program...

[2015-11-06 22:07] bangerth opened #1843 "linear_operator_08 test fails"
See http://cdash.kyomu.43-1.org/testDetails.php?test=25590006&build=14197

I can't quite figure out the pattern at http://cdash.kyomu.43-1.org/testSummary.php?project=1&name=lac/linear_operator_08.debug&date=2015-11-04 . Does the test fail only in 64-bit mode?

[2015-11-06 23:13] tamiko commented on #1840
[code]

[2015-11-06 23:29] bangerth commented on #1821
#1845 addresses this to the most part. There is a piece in fe_system.cc I'd like to fix but that conflicts with the currently open #1841.

[2015-11-06 23:41] bangerth commented on #1335
Fixed by #1838.

[2015-11-06 23:41] #1335 closed

[2015-11-07 07:15] jppelteret commented on #1839
Awesome. Sorry I missed that @tamiko . Its sometimes hard to keep up with all the fixes coming in :-)

[2015-11-07 09:28] kronbichler commented on #1842
I just made a quick test on my laptop (2 cores/4 threads Broadwell i7) in the assemble part of step-22, going through cycles 0 to 5 in 2D; since only 2 tasks are generated in FESystem::compute_fill_one_base it should be representative also for systems with more parallelism:
[code]
Interestingly, despite using workers the code gets slower. The impact is actually quite substantial since FEValues::re

[2015-11-07 09:52] #1830 closed

[2015-11-07 09:56] kronbichler commented on #1842
Note that these numbers are without NUMA. It might get worse on a NUMA machine (but probably not very much when running only with a single thread where non-local memory initialization only increases latency; in the fully threaded case one would also expect data traffic between NUMA domains that could hurt unless the non-data can remain in the L1/L2 cache of the worker).

So I guess it is rather th

[2015-11-07 20:18] kronbichler commented on #1842
I ran the same step-22 in 3D:
[code]
Despite larger tasks and possibly less overhead, using tasks slows things down.

[2015-11-07 20:52] bangerth commented on #1842
Ah, great, thanks for doing these experiments. I didn't mean to imply that someone else should do it when I opened this issue, but I gladly take any help I can get :-)

[2015-11-07 20:52] #1842 closed

[2015-11-07 21:30] kronbichler commented on #1842
I know, but I was curious enough myself... :-)

[2015-11-08 11:12] luca-heltai commented on #1840
@tamiko , sure. What do you want to know?

[2015-11-08 19:13] luca-heltai commented on #1829
I think the only viable solution is what solved the problem for `MappingFEField`. I have not been able to sit down and do some real programming lately, but I'll try to figure if this is the same issue we had there.

Moving the support points into the internal data (which is unique to each thread) is what solved it for `MappingFEField`. I have not looked at the details of `MappingQEulerian`, but I

[2015-11-08 19:43] kronbichler commented on #1829
@luca-heltai I completely agree. This is the right solution and consistent with the interplay between mapping and the geometry that has been reworked by @bangerth .

[2015-11-09 00:40] bangerth opened #1848 "Undo deprecation of Vector::add(scalar)"
#1352 deprecates `Vector::add(scalar)` for all vector classes. I don't think I ever saw a purpose for this function, but https://github.com/geodynamics/aspect/issues/665 now points out that we use the function when subtracting the mean value from the pressure. I don't see a good other way to do this.

We should undo the deprecation. We should probably also add the function to the new vector classe

[2015-11-09 01:24] bangerth opened #1851 "FEValues cleanup: Pass reference to output object to FiniteElement::get_data() and friends"
A prerequisite of #1824 is that we need to equip `FiniteElement::get_data()`  with the ability to store things somewhere that only need to be computed once. The natural place for this is the `internal::FEValues::FiniteElementRelatedData` that is later passed to `fill_fe_values`, i.e., `FEValues::reinit()` should pass a reference to that object already to `get_data()`, not only to `fill_fe_values()

[2015-11-09 01:25] bangerth commented on #1851
In reference to #1198.

[2015-11-09 01:25] bangerth commented on #1824
In reference to #1198.

[2015-11-09 01:27] bangerth commented on #1821
Fixed by #1845.

[2015-11-09 01:27] #1821 closed

[2015-11-09 01:35] bangerth commented on #1829
Yes, moving it into the internal data object is a much more elegant way to avoid the problem than using a threadlocal list of objects.

[2015-11-09 02:23] bangerth commented on #1829
@tjhei -- in your testcase, I imagine that one of the 10,000 invokations of `output_results` hangs? How long did you typically have to wait? It continues to run for me with the current setup, but I've removed some instances of parallelism recently.

[2015-11-09 14:10] #1277 closed

[2015-11-09 14:34] bangerth opened #1853 "FEValues cleanup: Document arguments of FiniteElement::get_*_data()"
#1277 addresses the issue of arguments of `FiniteElement::fill_fe_*_values()`. As I had previously already done for `Mapping::get_*_data()`, a similar cleanup should also happen for `FiniteElement::get_*_data()`.

In reference to #1198. Depends on #1851.

[2015-11-10 18:40] bangerth opened #1857 "New test all-headers/base/sacado_product_type.h.debug fails"
@asartori86 -- I get this error:
[code]

I think the header file is simply missing a couple of `#include` statements to be self-contained. Can you add them?

[2015-11-10 22:32] asartori86 commented on #1857
@bangerth I didn't know that deal.II has this kind of test. I've added it to the .travis.yml file in the PR #1814

[2015-11-10 22:57] #1857 closed

[2015-11-10 23:03] bangerth commented on #1857
Yes, it's a simple way to ensure that whenever you `#include` something, that it is complete in itself and doesn't require you to include something else before it.

[2015-11-10 23:22] bangerth opened #1861 "distributed_grids/intergrid_transfer_representation_parallel.mpirun=3.debug fails"
I think this has been failing since #1718 but our history doesn't reach that far back. @agrayver -- do you have input?

http://cdash.kyomu.43-1.org/testDetails.php?test=26256344&build=14356

[2015-11-11 08:16] agrayver commented on #1861
Will look into that!

[2015-11-11 15:52] #1851 closed

[2015-11-11 20:57] bangerth opened #1862 "Discussion: remove FiniteElement::shape_*"
Here's a question for everyone:

The `FiniteElement` class defines abstract virtual functions `shape_value`, `shape_value_component`, `shape_grad`, and higher order derivatives. These functions only return something that is defined on the reference cell, and so are not typically of much use, with the possible exception of the shape values themselves. On the other hand, for some elements, even the

[2015-11-11 21:00] davydden commented on #1862
i do use them to precompute Legendre trasform matrices on the reference element and then use this expansion for hp-estimation. I believe the same is done for Fourier expansion in the only hp-related tutorial.

[2015-11-11 21:34] bangerth commented on #1770
This is now fixed.

[2015-11-11 21:34] #1770 closed

[2015-11-11 21:36] bangerth commented on #1655
#1651 was merged -- @kronbichler, does this resolve at least part of the issue? I guess we probably still need to add assertions about all of the other smoothing flags we don't currently support, right?

[2015-11-11 21:44] tjhei commented on #1655
huh? I think #1651, #1676, and #1711 are still open.

[2015-11-11 21:47] bangerth commented on #1655
Oh, I'm mistaken. #1651 was simply closed, not merged.

[2015-11-11 22:48] davydden opened #1865 "DEAL_II_HAVE_CXX11_TYPE_TRAITS fails on Intel 14.0.3"
`DEAL_II_HAVE_CXX11_TYPE_TRAITS` fails for me:
[code]
According to [this page](https://software.intel.com/en-us/articles/c0x-features-supported-by-intel-c-compiler), Intel 14.0 seem to cover c++11 quite good, although not full but `Additional type traits` is there.

[2015-11-12 01:15] bangerth commented on #1865
Can you look into the log files to see why this test fails? (I think it should be in `CMakeFiles/CMakeErrors.log` or similar.)

[2015-11-12 06:38] davydden commented on #1865
it seems our intel compilers do not like `is_trivial` and `is_standard_layout`:
[code]
According to [this post on stackoverflow](http://stackoverflow.com/questions/16344569/c11-type-traits-different-result-in-intel-2013-and-gcc-4-7-2) Intel 2013 have number traits, but for me on `14.0.3 20140422` his test program fails similarly. Same applies to `15.0.2 20150121`. I will ask our local HPC guys abo

[2015-11-12 07:35] davydden commented on #1865
apparently, intel compilers need gcc to be loaded, so `module load gcc/4.8.1` makes the small test on stackoverflow compile. I am rebuilding the whole tool-chain, but I expect `deal.ii` will pick up C++11 just fine.

[2015-11-12 07:35] #1865 closed

[2015-11-12 16:59] psiehr opened #1866 "LinearOperator / BlockLinearOperator - Check for Dimensions"
The following example tests what happens if you multiply a Matrix and a vector with the wrong dimensions.

Result:
1) FullMatrix * Vector - error
2) LinearOperator * Vector - no error
3) null_operator() * Vector - no error

4) BlockLinearOperator with only null_operator() * BlockVector - no error and some change of sizes that I don' understand.
5) BlockLinearOperator * BlockVector - error

The two

[2015-11-12 19:11] drwells commented on #1866
@psiehr I think I see what the issue is but I would like to reproduce your test case first. I am having some trouble compiling the bit you posted above. Would you be willing to send me the full test program?

[2015-11-12 20:21] tamiko commented on #1866
@drwells What shall be the issue?

Unfortunately, I cannot reproduce.

For example, the following works as expected:
[code]

This is unfortunately a side effect of what null_operator does. Within the ```LinearOperator``` class (or corresponding function objects) there is no way of doing any bound checks. Invoking ```LinearOperator::vmult(v, u)``` corresponds to
[code]
This is consistent with our r

[2015-11-13 13:36] psiehr commented on #1866
and

Then the part about null_operators is solved.

Yes your example works, I made a mistake in my code.

We can delete this issue. Sorry.

[2015-11-13 14:30] #1866 closed

[2015-11-13 14:33] bangerth opened #1869 "lac/block_linear_operator_05.debug fails"
Bringing the discussion from #1859 into an issue of its own: lac/block_linear_operator_05.debug fails with this error message:
[code]

[2015-11-13 14:34] bangerth commented on #1869
Line 47/48 look like this:
[code]

[2015-11-13 14:53] tamiko commented on #1866
No problem at all.

[2015-11-13 14:54] bangerth commented on #1869
This compiles:
[code]
Would this look right?

[2015-11-13 14:59] tamiko commented on #1869
On Fri, Nov 13, 2015, at 08:34 CST, Wolfgang Bangerth <notifications@github.com> wrote:

I worked around this issue with gcc-4.6 in the other tests by first
creating a temporary std::arry. (See for example
block_linear_operator_04.cc).

(It is very unfortunate that gcc-4.6 forces us to do this - because we
actually want tests for above syntax and cannot do this easily at the
moment.)

[2015-11-13 15:10] drwells commented on #1866
@tamiko The issue was that I forgot to include `packaged_operation.h`.

[2015-11-13 16:16] tamiko commented on #1866
We really need this unified header file...

[2015-11-13 16:18] luca-heltai commented on #1866
how about `all_linear_ops.h`

[2015-11-13 16:25] psiehr commented on #1866
Would it be bad if  linear_operator.h  just includes packaged_operation.h ?

[2015-11-13 19:40] bangerth commented on #1869
That's basically my workaround as well. We could limit the test to gcc 4.7+ if you want, or use some `#if` in the code to check one way or the other. Or just apply the change mentioned above. Suggestions?

[2015-11-13 21:13] tamiko commented on #1869
I'd suggest to just apply the workaround.

[2015-11-14 12:21] bangerth opened #1870 "FE_DGPNonparametric::shape_* should throw an exception, as documented"
#1864 documents the `FiniteElement::shape_value` function and friends, and states that elements that don't define shape functions by mapping from the reference element shouldn't return anything in these functions but instead raise an exception.

The `FE_DGPNonparametric` class is an example of such an element, but it doesn't follow this advice. Fix this.

[2015-11-14 12:34] bangerth commented on #1869
See #1871.

[2015-11-14 20:23] #1869 closed

[2015-11-16 14:20] bangerth opened #1876 "Guard clang test for -Wa,--compress-debug-sections with -Werror"
As reported on the mailing list, we use `-Wa,--compress-debug-sections` if clang allows it, but if a system has no zlib installed, then clang will produce a warning every time a file is compiled. That's annoying.

We should run the test for this flag with `-Werror` which makes sure that we test that clang doesn't just accept the flag, but in fact also uses it.

[2015-11-16 20:17] danshapero opened #1879 "build fails on Linux with icc-14.0.2 and Boost"
I'm getting an error when compiling with Intel and using the bundled Boost. I'm invoking CMake with

[code]

CMake generates the Makefile without errors. When I invoke `make` , I get the following error:

[code]

and several more errors of the same kind. The library compiles and tests fine with Boost disabled. I don't know what these macros are for, otherwise I would attempt a patch myself.

[2015-11-17 16:34] #1853 closed

[2015-11-17 18:32] danshapero commented on #1879
I get the same error with boost-1.59.

[2015-11-17 18:34] davydden commented on #1879
do you have `intel-15`? I had no problems compiling with it and boost `1.59`.

[2015-11-17 18:39] danshapero commented on #1879
Nope, it's icc-14.0.2; are there known issues with this version?

[2015-11-17 18:44] davydden commented on #1879
not to me ;-)

[2015-11-17 19:10] Rombur commented on #1879
Actually this error has nothing to do with boost. The problem is that either icc-14 evaluates  ```==``` first and then ```%``` or ```SPLIT_INSTANTITIONS_COUNT=0```. @tjhei is the last one who has touch the instantiation files. Any idea how to solve this?

[2015-11-17 20:01] danshapero commented on #1879
@Rombur I only mention Boost because the error goes away when I disable it.

I added some parentheses, changing
[code]
to
[code]
and found the same error. So it's not an operator precedence thing.

My guess: if `SPLIT_INSTANTIATIONS_COUNT` is undefined when the preprocessor gets to
[code]
then the preprocessor might still try to evaluate `0 % SPLIT_INSTANTIATIONS_COUNT`.

[2015-11-17 21:19] tjhei commented on #1879
Yes, I implemented the logic and everything is as expected in ```mesh_worker_info.inst```: the condition reads
[code]
and clang/g++ happily ignore the second part because the symbol is undefined. It looks like intel is parsing that differently. :-( I will work on a patch.

I can't see how this can be related to boost, though.

[2015-11-18 19:10] #1848 closed

[2015-11-18 21:38] barker29 opened #1883 "wrong assert (dim versus spacedim) in tria_boundary_lib.cc"
In dealii/source/grid/tria_boundary_lib.cc line 54, the line

 Assert (axis < dim, ExcIndexRange (axis, 0, dim));

should read

 Assert (axis < spacedim, ExcIndexRange (axis, 0, spacedim));

In case you want to build a CylinderBoundary<2,3>, as I do.

[2015-11-18 23:21] bangerth commented on #1883
Yes, correct. Would you like to make this an occasion to get your first patch to deal.II accepted? Let me know if you'd like me to walk you through writing such a patch!

[2015-11-19 01:08] krishnagarikipati opened #1885 "Bug in GridGenerator::half_hyper_shell ?"
GridGenerator::half_hyper_shell throws a run time error in debug mode. The code pasted below reproduces this error. It runs in release mode, but solvers report a null space on these meshes.

Thanks.

 ---Krishna

--------------------------------------------------------------------------------------------------------------------------
#include <base/quadrature_lib.h>
#include <base/logstream.h>
#in

[2015-11-19 01:21] krishnagarikipati opened #1886 "Bug in GridGenerator::half_hyper_shell ?"
GridGenerator::half_hyper_shell throws a run time error in debug mode. The code pasted below reproduces this error. It runs in release mode, but solvers report a null space on these meshes.

Thanks.

 ---Krishna

[code]

[2015-11-19 01:23] krishnagarikipati commented on #1886
Sorry. Github chewed up the include files. I have attached the code as a .pdf. Simply save as .cc and run.

Thx.

[testHalfHyperShell.pdf](https://github.com/dealii/dealii/files/38501/testHalfHyperShell.pdf)

[2015-11-19 01:56] bangerth commented on #1883
Fixed by #1884

[2015-11-19 01:56] #1883 closed

[2015-11-19 01:58] bangerth commented on #1886
With the right markup, github shows the code just fine. I've fixed it for you above.

[2015-11-19 01:59] bangerth commented on #1885
Superseded by #1886

[2015-11-19 01:59] #1885 closed

[2015-11-19 16:02] jppelteret opened #1887 "Lack of documentation in GridGenerator::extrude_triangulation"
When the input triangulation is refined, there are cells in the resulting extruded triangulation that should not be there (extrusion of coarse cells overlaid with extrusion of refined cells). An exception **is** raised in debug mode. However, the documentation of this function does not reflect that the input triangulation should have refinement level 0.

[2015-11-19 16:48] bangerth commented on #1887
Good point. Want to write a short patch, or do you want me to do it?

[2015-11-19 16:57] jppelteret commented on #1887
I'll do it :-)

[2015-11-19 17:02] #1879 closed

[2015-11-20 16:20] tjhei opened #1889 "Incomplete link interface with -Wl,--as-needed with mpich if no symbol of deal.II is used"
I think there is something messed up with the cmake configuration that causes not all MPI libraries to be listed when we set up a test or auto pilot project. Everything works as expected if I use symbols from deal.II. But if my example.cc files is something like:

[code]

I am getting linker errors:

[code]

because libmpl is not pulled in. When I look at FindMPI.cmake I can see that it should exp

[2015-11-20 16:51] drwells commented on #1889
Yes, I just noticed this as well. I cannot even finish running cmake without commenting out

[code]

with a very new version of CMake (`3.4.0`) and OpenMPI. Things seem to work on the other computer I have handy, which has `2.8.11` and MPICH.

@tjhei What version of CMake did you use?

[2015-11-20 17:37] tjhei commented on #1889
Well, that is a different issue, because configuring and compiling deal.II and examples works just fine here. Just compiling a test that doesn't directly use deal.II (weird, I know) fails.

3.3.0

[2015-11-20 18:34] tamiko commented on #1889
I don't think so. We populate ```MPI_CXX_LIBRARIES``` with all C++, Fortran and C support libraries and in your case it lists ```libmpl```:
[code]

The problem is the simple fact that <i>within</i> the build system the targets are linked with ```-Wl,-as-needed``` and mpich does not like that [1].

[1] http://lists.mcs.anl.gov/pipermail/mpich-discuss/2010-November/008389.html

[2015-11-20 19:07] tjhei commented on #1889
okay, any suggestion how I can fix this at least on my machine? Can I stuff --no-is-needed into MPI_CXX_LINKER_FLAGS during deal.II configure?

[2015-11-20 19:27] tamiko commented on #1889
You can just configure with

 -DDEAL_II_HAVE_FLAG_Wl__as_needed=false

Is this for one of the quicktests? If, yes. Does it help to force
external linkage against libdeal_II.so? Alternatively, we can override
-WL,-as-needed for this test and/or start to distinguish between library
and executable linker flags (which might be overkill at the moment).

[2015-11-21 02:45] bangerth opened #1893 "GridGenerator::extract_boundary_mesh fails for simple geometry"
As reported on the mailing list by Daniel <dmweygand@gmail.com>, this little program fails:
[code]

It produces this error message:
[code]

[2015-11-21 03:49] bangerth commented on #1893
Ever so slightly reduced:
[code]

[2015-11-21 09:25] #1870 closed

[2015-11-21 13:06] bangerth commented on #1537
@luca-heltai ?

[2015-11-21 13:29] bangerth opened #1894 "Extend DataOut to complex-valued vectors"
The problem with DataOut and complex valued solution vectors is that (i) it somehow needs to rip real and imaginary parts apart, given that output formats all only support outputting real data; (ii) that DataOut stores the solution vectors it is supposed to output in opaque types that hide whether they are deal.II, PETSc or Trilinos vectors, and whether their elements are floats, doubles, or compl

[2015-11-21 23:23] tjhei commented on #1889
[code]

doesn't work and neither does adding -Wl--no-as-needed to DEAL_II_LINKER_FLAGS.

No, I was using the deal.II CMakeList.txt project for a a simple c++ test application so I didn't have to bother with c++11/MPI/boost setup. And as_needed will rip out libmpl if I don't use anything from deal.II itself. :-)

But this also failed if I create a normal test that does not reference anything from d

[2015-11-22 12:06] luca-heltai commented on #1537
@bangerth, sorry, I completely lost the question you posted 20 days ago...

I think we should

- remove `MappingQ1`,
- rename `MappingQGeneric` to `MappingQ`,
- move the current `MappingQ` to `MappingQonBoundary` or some other explicit name which is more descriptive of what `MappingQ` currently really does...

This is not backward compatible, but at this point I really think we should do the right

[2015-11-22 22:13] drwells commented on #1886
@krishnagarikipati Thank you for reporting this issue. It looks like the test suite does not have any coverage of `HalfHyperShellBoundary`, so maybe we should not be surprised there are weird problems like this.

This is definitely a bug in `deal.II`. I narrowed down your case to a minimal failing example (this always works in 2D, but fails in 3D):

[code]

In particular, the first and second refi

[2015-11-23 00:47] krishnagarikipati commented on #1886
@drwells thanks for tracking it down to get_new_point_on_quad function. I think I can find a work around for now.

[2015-11-23 03:40] bangerth commented on #1886
Thanks, guys. @krishnagarikipati -- let us know what you find. My best guess is that the mesh you get after 2 refinements is already broken, and so the third refinement only yields nonsense. You can probably debug this by putting statements such as
[code]
into the code to see how the current mesh looks like. I bet that if you understand how the current mesh looks like, you'll understand why the ne

[2015-11-23 12:23] #1893 closed

[2015-11-23 19:44] bangerth opened #1900 "FEValues cleanup: Use Table<2,...> instead of vector<vector<...>> in FiniteElementRelatedData"
The $subject says it all. We already do this for values. Now also do it for gradients, etc. I believe the reason it's not already done is because we pass slices of these arrays to `Mapping::transform` and we need to figure out how that can be done with slices of tables.

[2015-11-23 19:44] bangerth commented on #1900
Related to #1198.

[2015-11-24 00:35] tamiko commented on #1889
@tjhei Can you post the relevant bits of detailed.log and tell me on which architecture with what compiler and version of mpich you encounter this? I'll try to reproduce.

[2015-11-24 01:32] bangerth commented on #1537
OK. This is indeed not backward compatible. I will think about how to do that. Thanks for your feedback.

@tjhei and I were thinking about getting out another release sometime over the winter break. I think so far we don't have a lot of compatibility breakage, so maybe I will leave this until after the release, and we'll roll it into the next release after that for which we are thinking about inte

[2015-11-24 08:37] #1887 closed

[2015-11-24 13:54] bangerth opened #1905 "GridGenerator::extract_boundary_mesh needs to properly copy boundary indicators"
This variation of #1893 (and the testcase that was committed as part of #1896) produces a geometry that is distorted because boundary indicators are not properly set:
[code]

[2015-11-24 13:55] tjhei commented on #1889
Correction, if I set ```DEAL_II_LINKER_FLAGS``` to ```-Wl,--no-as-needed``` (without forgetting the comma), it works. Do you still think ``` -DDEAL_II_HAVE_FLAG_Wl__as_needed=false``` should work? Should I try again?
[code]

[2015-11-25 03:39] bangerth commented on #1905
There are a bunch of problems with this (that I'll fix with patches) but fundamentally, the code does not work as expected for the following reason:

* As written, `GridGenerator::cylinder` sets the boundary indicators of the mesh on the exterior surface. It does not set the manifold id.
* We then extract the surface faces into a surface mesh. We copy the boundary id of volume faces into the surfa

[2015-11-25 15:04] bangerth opened #1911 "GridTools::copy_boundary_to_manifold_id() only copies on faces but not edges"
@luca-heltai -- as the author of #413 where this function was introduced, do you have an opinion on whether this function should also copy the boundary indicators of edges in 3d?

[2015-11-25 15:21] bangerth commented on #1905
The piece of code that is required to make Daniel's original testcase work is this:
[code]

It would be nice if we could replace this whole block by
[code]
But, as discussed in #1911, this is not currently possible because that function does not copy manifold ids of edges in 3d.

[2015-11-26 02:43] bangerth commented on #1397
For reference, current status is always here: https://www.dealii.org/developer/doxygen/deal.II/classFiniteElement.html

[2015-11-26 22:25] tjhei commented on #1786
updated. I hope to have some success with visual c++ with the next release.

[2015-11-26 22:25] #1786 closed

[2015-11-26 22:46] tjhei commented on #1325
works for Triangulation using clang autocomplete in qtcreator: https://plus.google.com/+TimoHeister/posts/GefH5Gq1qxp but not for DoFHandler

[2015-11-27 17:13] kronbichler opened #1917 "Verification of boost headers"
As discussed in #1895 we use boost headers without any checks. Here the observation by @drwells

The code in `cmake/modules/FindBOOST.cmake` does not make any check regarding the available include directories in boost. This is only relevant for non-bundled boost because bundled boost is naturally checked by the testers. Does anybody know of a policy for boost installations regarding the completene

[2015-11-28 12:44] tjhei commented on #1325
crying a little inside:

![vs_autocomplete](https://cloud.githubusercontent.com/assets/1531285/11451917/d00861be-95a3-11e5-854e-7efdf74fa10d.png)

[2015-11-28 13:42] tjhei commented on #1790
seems to work with recent other changes.

[2015-11-28 13:42] #1790 closed

[2015-11-28 14:28] tjhei opened #1921 "Windows Support"
I have continued playing with MSVC 2013 and I am making some good progress:

- configuring/compiling/installing the library works
- step 1-6 work correctly, including debugging
- most steps compile now (some fixes incoming)
- testsuite kind of works with some hacks and using perl from cygwin

TODO:
- SymmetricTensor in step-44: http://cdash.kyomu.43-1.org/testDetails.php?test=27194491&build=14752

[2015-11-28 14:50] tjhei commented on #1921
also see #1681

[2015-11-28 19:13] bangerth commented on #1917
If we wanted to add such a check, here's the list of files we include:
[code]

[2015-11-28 19:27] tamiko commented on #1917
Currently, we use ```FindBoost.cmake``` as bundled with CMake to detect boost. In detail, the following call is responsible to find boost within our ```FindBOOST.cmake``` file:
[code]

I suggest that we do not try to "solve" a problem that is none. If there were problems with broken, or incomplete boost installations (I am not aware of a single one), then
 - first of all, it should be the responsi

[2015-11-28 19:28] tamiko commented on #1917
Ah, forgot what I wanted to say: We could add ```math``` to the list of required submodules, but this is a far as I would go.

[2015-11-28 19:36] tamiko commented on #1889
Maybe you hit a "three state". If you set ```-DDEAL_II_HAVE_FLAG_Wl__as_needed=false``` in ```CMakeCache.txt``` the corresponding entry should be set to false:
[code]

But this only means that _we_ do not force ```-Wl,--as-needed``` any more. Your linux distribution, or gcc, or binutils might have changed the default behavior to ```-Wl,-as-needed```. In this case you have to explicitly disable it

[2015-11-28 19:43] bangerth commented on #1917
Good point. I think the compromise of adding `math` to the list and then leaving it at that makes sense.

[2015-11-28 19:49] bangerth commented on #1325
:+1:

[2015-11-28 19:50] kronbichler commented on #1917
I am fine with that solution, too.

[2015-11-28 19:53] bangerth commented on #1921
Nice job. I don't have a way to test it, but the `SymmetricTensor` issue should be fixable by prefixing the occurrence of `SymmetricTensor` by `dealii::`.

The issue with static vs dynamic linking is clearly a problem for the testsuite :-(  It may not be such a big issue for users (at least from the perspective of disk space, though the long link times are unfortunate for sure.

[2015-11-29 19:17] tjhei opened #1924 "Meshworker is not working for codim=1"
see https://groups.google.com/d/topic/dealii/Gak9qCV8_gE/discussion

[2015-11-30 08:45] #1905 closed

[2015-11-30 13:00] bangerth opened #1926 "Remove old-style constraint generation"
We used to create hanging node constraints in a sort of quirky way that only takes into account DoFs on a face that are not located on vertices. This was later replaced by a newer way that is more regular. Most elements implement this new style, but there are a few hold-outs.

We should remove the old style and always use the general approach.

[2015-11-30 13:02] #1397 closed

[2015-11-30 16:07] gassmoeller opened #1930 "Utilities::int_to_string for 64bit integers"
The Utilities::int_to_string function is currently only implemented for `unsigned int`, but used for `unsigned int`, `int`, `unsigned long`, ... . I would need this functionality for `unsigned long long` but currently it returns bogus, because it implicitly casts to a `unsigned int`, I would like to ask for opinions on how to fix this best. I could:

- do not use int_to_string, but boost::lexical_

[2015-11-30 16:13] bangerth commented on #1930
Could you get away with a single overload with `long long int`? The likelihood of actually encountering a number between 2^63 and 2^64-1 is, at least for the foreseeable future, relatively small...

[2015-11-30 16:19] tjhei commented on #1930
I don't really like the fact that the type is present in the name of the function (and that it doesn't match for long long). Maybe we should introduce a ```number_to_string<T>(const T& number)```?

[2015-11-30 16:23] bangerth commented on #1930
That's basically `boost::lexical_cast`.

[2015-11-30 16:23] gassmoeller commented on #1930
With one overload of long long int I get:

/home/rengas/Software/dealii/include/deal.II/lac/block_indices.h:364:56: error: call of overloaded ‘int_to_string(dealii::BlockIndices::size_type)’ is ambiguous
   result += "|" + Utilities::int_to_string(total_size()) + ']';

[2015-11-30 16:25] davydden commented on #1930
i recall i was confused once by the name as it's called `int_to_string` and was trying to use it with `int`, but actually does `unsigned_int_to_string`.

Maybe just `Utilities::to_string<T>(const T& number)` ?

[2015-11-30 23:22] bangerth commented on #1911
I'm going to make the decision that the previous behavior was broken by accident and not on purpose. I imagine it was simply not tested on any cases where it mattered.

[2015-12-03 13:41] tjhei opened #1937 "play with llvm lld linker"
see http://blog.llvm.org/2015/11/new-elf-linker-from-llvm-project.html

[2015-12-03 13:45] tjhei opened #1938 "deal.II 8.4.0 release"
I would like to start the discussion about the next release. I am not sure we can manage another holiday release, but we can at least aim for it. :-)

Thinks we need to think about:
- Windows support? Ready in time?
- Should we remove the experimental new linear algebra vectors?
- Fix currently broken unit tests
- Some extensive testing with intel compilers and on Mac OS
- make linux installer bas

[2015-12-03 15:32] Rombur commented on #1938
I think we also need to find a way to advertise the code gallery and make sure that everything works with the new release.

[2015-12-03 15:35] drwells commented on #1938
There are a few things on my todo list I should be able to handle by the end of the year:

- [ ] Finish the 'regularization' of type names
- [ ] fix #1691 (I have a patch, I just need to write tests). @tjhei is this necessary for Windows support?

[2015-12-03 16:24] tjhei commented on #1938
No. If you clone the git repository on windows it will convert the line endings correctly and parse them. It doesn't hurt though if people mix things when transferring parameter files manually.

[2015-12-03 23:43] drwells opened #1942 "Describe template parameters thoroughly"
The files `doc/doxygen/headers/matrices.h` and `doc/doxygen/headers/laoperators.h` describe the intent behind some of our template parameters (concepts). These are both out of date (they mention `MATRIX`, which is now `MatrixType`). In addition, several other template names are not documented (see #1941 or #1907).

I should be able to finish this in the next three weeks.

[2015-12-04 00:06] drwells opened #1943 "make_sparsity_pattern only works for DynamicSparsityPattern"
As was noted in #1941. Here is an example, based on `step-2`:

[code]
The call to `print_svg` raises an iterator exception:

[code]

[2015-12-04 03:13] tjhei commented on #1943
You are aware of the fact that ``` sparsity_pattern (dof_handler.n_dofs(), dof_handler.n_dofs());``` is calling ```SparsityPattern	(const size_type m, const unsigned int max_per_row)``` right? (not that this explains the bug)

[2015-12-04 03:14] tjhei commented on #1943
What happens if you call ```compress``` before ```print_svg```?

[2015-12-04 12:54] drwells commented on #1943
@tjhei It works correctly :( I should have actually read the documentation. `print_svg` should have an assertion that the sparsity pattern is compressed (I'll open a new PR) to avoid such inscrutable error messages.

Since `make_sparsity_pattern` works as advertised I am going to close this issue.

[2015-12-04 12:54] #1943 closed

[2015-12-04 19:29] tjhei opened #1946 "support user-defined partitioning for shared::Triangulation"
Allow the user to specify the subdomain ids manually. This would allow us to get rid of METIS for some of the unittests. See for example  dofs/locally_relevant_dofs_per_subdomain_01.mpirun=3.debug in 64bit vs 32bit on "tester".

[2015-12-04 19:31] bangerth commented on #1287
We'll bring out an 8.4 before any 8.3.1.

[2015-12-04 19:31] #1287 closed

[2015-12-04 19:37] bangerth commented on #1862
One of my recent patches documented the functions to indicate that they are only useful if the element is parametric. I think this closes the issue.

[2015-12-04 19:37] #1862 closed

[2015-12-04 19:38] bangerth commented on #1861
Fixed by #1940.

[2015-12-04 19:38] #1861 closed

[2015-12-04 19:42] bangerth commented on #1843
This seems to work now.

[2015-12-04 19:42] #1843 closed

[2015-12-04 19:48] bangerth commented on #1368
@davydden and @jppelteret -- did your previous patches implement what you had wanted here?

[2015-12-04 19:49] bangerth commented on #1367
The method by which the regular `parallel::distributed::Triangulation` allows to read weights has recently been changed by a patch by @gassmoeller .

[2015-12-04 19:52] bangerth commented on #672
It's about to be submitted.

[2015-12-04 19:56] tjhei commented on #1829
It only took a couple of seconds on my machine to hit the deadlock every time.

[2015-12-04 22:53] bangerth opened #1947 "Disable deallog by default?"
At the workshop last August, we asked what people don't like in deal.II. One of those issues was that people didn't understand the role of `deallog`. The suggestion at the workshop was to simply disable *by default* any output of deallog. This is, in essence, what we already do for almost all tutorial programs, but it requires code one needs to explicitly write and understand. It could be avoided

[2015-12-05 08:03] oneliefleft commented on #1947
I find dealiilog useful in some debug cases and I recommend/force my
students to use it. I have a suggestion, if the default dealiilog is set to
zero (and it can be), can its existence also be emphasized in one of the
early tutorial programs? Say, in step-6, where catching exceptions in
main() is introduced.

2015-12-04 23:54 GMT+01:00 Wolfgang Bangerth <notifications@github.com>:

[2015-12-05 12:00] davydden commented on #1368
yes, i think it's done in the PR #1674 . I am closing this issue...

[2015-12-05 12:00] #1368 closed

[2015-12-05 12:55] tjhei commented on #1947
In favor of setting console depth to 0 by default.

[2015-12-05 14:18] kronbichler commented on #1947
I would also vote for setting the depth to 0.

[2015-12-05 19:16] tjhei commented on #1947
I will prepare a patch...

[2015-12-06 15:43] tjhei commented on #1947
see #1950

[2015-12-06 15:53] #1691 closed

[2015-12-06 23:34] bangerth commented on #1241
This is now in class `FiniteElementRelatedData`.

[2015-12-07 00:00] bangerth commented on #1241
This might have to wait for some more fundamental rewrite. The attached patch does most of what's needed.
[patch.txt](https://github.com/dealii/dealii/files/53330/patch.txt)

The fundamental problem is that we use these fields as arguments in call such as this:
[code]
where this is the function declaration for `Mapping::transform`:
[code]
The issue is that `VectorSlice` is *explicitly dependent* o

[2015-12-07 13:54] bangerth commented on #1947
Fixed by #1950.

[2015-12-07 13:55] #1947 closed

[2015-12-07 18:29] jppelteret opened #1957 "Cleanup documentation for GridGenerator"
The documentation for [GridGenerator](http://dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html) is in a bit of a state. Specialisations of template functions have bubbled up to the top, are uncatagorised and appear to be duplicates of the general function. Some of the section headings are also not formatted correctly.

[2015-12-07 18:31] bangerth commented on #1957
Yes.

Related to #320.

[2015-12-07 20:09] bangerth opened #1958 "Missing instantiations for shared::Triangulation"
As reported by Gennadyi Rishkin on the mailing list:
.......................
Hello,

It seems that Gridtools::find_active_cell_around_point does not work with parallel::shared::Triangulation. Is this the case?

#include <deal.II/grid/grid_tools.h> is included.

I get the error:

test.cc:(.text._ZN4testILi3EE9make_gridEv[_ZN4testILi3EE9make_gridEv]+0x1f75): undefined reference to `dealii::parallel:

[2015-12-07 20:10] bangerth commented on #1958
@Rombur already pointed out the correct solution, namely to add the parallel triangulations to the template arguments to be expanded.

Patch forthcoming.

[2015-12-07 20:43] jppelteret commented on #1957
Apologies for the duplication! I'll close the issue since its been noted already.

[2015-12-07 21:05] bangerth commented on #1957
No, I think these issues are complementary. Let's keep them both open.

[2015-12-08 19:33] #672 closed

[2015-12-08 21:17] bangerth opened #1963 "Update bundled boost"
Long term, we should update the bundled boost again.

[2015-12-08 21:18] bangerth commented on #1963
On this occasion, also think whether we want to import the boost.filesystem package to make portability a bit easier.

[2015-12-08 22:43] tjhei commented on #1963
Agreed. Our current version is not supporting MSVC 2015 for example.

Would it be possible to also rip out certain parts we don't need? Like boost spirit.

[2015-12-08 22:48] bangerth commented on #1963
If you can separate it. I think we use everything that's currently bundled because it's referenced somewhere. Isn't spirit used by the xml parser we use for serialization?

[2015-12-08 22:55] Rombur commented on #1963
Or we could get ride of the bundled version of boost. It's already packaged in most (all ?) linux distributions and it can be easily installed through candi. Personally, I don't see the point of these bundled libraries. Why is tbb (which can be installed through a package manager) bundled but not p4est? Why do we bundle umfpack but not petsc?

[2015-12-08 23:07] bangerth commented on #1963
All good questions (for which my answer is: everything you *need* is bundled, because that's what makes our users' lives easier). In the specific case of p4est -- we had originally planned to bundle it but were asked by the p4est authors not to do it.

[2015-12-08 23:18] Rombur commented on #1963
But does it really make anyone's life easier? It's hard to say if the bundled libraries help anyone but they are definitely annoying when you want to install deal.II on systems where there is a file quota like ada. You either have to ask that they change your quota or do like @gassmoeller and remove the bundled libraries yourself. Maybe we should ask on the mailing list if people use them.

[2015-12-08 23:24] gassmoeller commented on #1963
Actually, I would opt for keeping them bundled. True, there are systems which cause problems because of the tens of thousands of files, but such a problem is often easy to figure out. But I remember how I felt when I started to use deal.II and how much trouble I had to install all of the dependencies. I was happy for every required library I did not had to install.
And package managers are no part

[2015-12-08 23:26] Rombur commented on #1963
But now you can use candi to install everything for you. That's why I don't see what's the point in bundling libraries.

[2015-12-09 13:50] drwells commented on #1963
I am also in favor of keeping them bundled due to issues like #1591. I lost a few hours to that issue before I realized what was going on.

[2015-12-09 13:59] bangerth commented on #1591
We should resolve this before the next release. Blacklist 1.58 from the possible list of external versions?

[2015-12-09 14:47] tjhei commented on #1591
So it seems like 1.56 (bundled) and 1.59 work correctly? Then blacklisting 1.58 is a good idea.

[2015-12-09 16:56] asartori86 opened #1966 "parallel::distributed::SolutionTransfer is instantiated only for spacedim==dim"
I tried a simple instantiation of p::d::SolutionTransfer for codim=1 but I get a lot of errors. Maybe for some of you it takes no more than 5 minutes to make it work.. if not I will dig into it

[2015-12-09 18:14] drwells opened #1968 "Better interoperability for mesh-like containers"
This follows from the discussion in #1959. There are many classes and functions in the library (e.g., `InterGridMap`) which work for both `DoFHandler` and `Triangulation`: we should define some extra compatibility methods (like `get_tria` for `Triangulation` and `get_n_levels` for `DoFHandler`) to make generic programming easier.

A closely related piece of work is to consistently label such funct

[2015-12-09 18:16] #1958 closed

[2015-12-09 18:20] tamiko commented on #1591
I will address this together with the other improvement for external
boost detection we discussed some time ago later today in a pull
request.

[2015-12-09 20:14] #1966 closed

[2015-12-09 20:25] gassmoeller opened #1969 "Serializing a TableEntry with 64bit indices fails"
Is there a reason that TableEntry in `deal.II/base/table_handler.h:save()` and `load()` only saves and loads explicit types (int, unsigned int, double, string), and does not use the template parameter T? This seems to crash for long long int entries while writing checkpoints.

[2015-12-09 20:29] bangerth commented on #1969
Clearly nobody has run into this problem so far. Patch gladly accepted!

[2015-12-09 20:34] gassmoeller commented on #1969
Ok, I will prepare something. Just wanted to be sure, I am not missing a hidden meaning.

[2015-12-10 13:05] bangerth commented on #1876
The check for this flag resides in `cmake/checks/check_01_compiler_features.cmake` in line 281:
[code]
Through the current interface, we can't actually make sure we pass `-Werror` when testing for flags. I think my preference would be if we added `-Werror` already in this macro -- where, upon closer look, it actually already resides since September 2015:
[code]
It's not clear to me why this didn't

[2015-12-10 15:11] bangerth commented on #1824
#1902 did this for the `FE_Poly` class. I looked into what it would take for the other class where this could matter, `FE_PolyTensor`, but the potential for savings there is slim to none. We could in principle save some work if we put the shape values into the final destination already in `get_data()` rather than copying there from scratch space in `fill_fe_values()`. But this only works (i) on ce

[2015-12-10 15:11] #1824 closed

[2015-12-10 15:48] bangerth commented on #1900
This is actually a duplicate of #1241.

[2015-12-10 15:48] #1900 closed

[2015-12-10 15:49] gassmoeller commented on #1591
We made the observation that 1.54 also causes serialization to fail. Should we blacklist 1.54 as well?

[2015-12-10 15:57] bangerth commented on #1917
The situation is more complicated, as discussed in #1971. Given that we intended to do this here only for consistency, not to fix a concrete problem, let's just abandon the idea.

[2015-12-10 15:57] #1917 closed

[2015-12-10 16:16] bangerth opened #1973 "FEValues cleanup: Remove polynomial space template argument from FE_Poly and FE_PolyTensor"
FE_Poly and FE_PolyTensor get a classname for the polynomial space as a template argument. This leads to some awkward duplication of code, see for example the explicit specializations in fe_poly.cc. I think that in practice, this could be avoided by not passing the name of the polynomial space class to `FE_Poly` and `FE_PolyTensor` but instead passing an object and then storing a pointer to it in

[2015-12-10 16:18] bangerth opened #1974 "FEValues cleanup: get rid of FiniteElement::update_once/each"
Now that we have `FiniteElement::required_update_flags()`, the old `update_once/each()` functions are purely internal. In many of the classes, they in fact no longer serve a useful purpose. Remove them if possible.

Related to #1198.

[2015-12-10 17:16] #1968 closed

[2015-12-11 02:58] bangerth commented on #1444
There are some ideas in this issue, but ultimately nobody seems to have a good plan on how to attack the problem. At least it seems as if splitting up the .inst.in files is not the biggest win, and it's also not particularly simple to implement.

This is tagged for 8.4 with label "High priority", but I don't see how we can make *systematic* progress on this one (although we can split up the one or

[2015-12-11 03:01] bangerth commented on #617
@tjhei -- after the merge of the parallel functionality, what is the status here? We currently have four deprecated functions:
[code]
Can we get rid of at least the last three before the release?

[2015-12-11 03:09] bangerth commented on #641
@guidokanschat ?

[2015-12-11 03:42] #1069 closed

[2015-12-11 04:32] tjhei commented on #617
Yes, I think they can all go. Will do.

[2015-12-11 04:32] #1969 closed

[2015-12-11 04:39] tjhei commented on #1444
But we do this in #1516?

The only problem left is muelu and I don't think we can do anything about that. I think we can close this issue.

[2015-12-11 07:44] #1911 closed

[2015-12-11 12:30] bangerth commented on #1444
Right, I meant that we don't seem to have any _further_ ideas beyond #1516.

Then yes, let's close it.

[2015-12-11 12:30] #1444 closed

[2015-12-11 21:01] bangerth commented on #617
Great, thanks!

[2015-12-12 20:17] davydden commented on #1117
@yoczhang the issue is being resolved in https://github.com/dealii/dealii/pull/1804 . So far it works for Jacobi preconditioner, i would appreciate help with testing.

[2015-12-12 20:26] davydden opened #1978 "allow to use a different matrix for preconditioner in PETSc"
see https://groups.google.com/forum/?fromgroups#!topic/dealii/tNVJRH0A9cE

I am not sure, but I think the issue is in PCSetOperators. According to [PETSc documentation](http://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/PC/PCSetOperators.html) it can take:
Amat	- the matrix that defines the linear system
Pmat	- the matrix to be used in constructing the preconditioner, usually the same as

[2015-12-13 04:11] #1942 closed

[2015-12-13 20:16] KristofferC opened #1983 "Wrong year on a news item on the homepage"
It feels a bit embarrassing to open an issue about such a small thing but on the front page of the deal.ii home page it says:

I believe this should be 2016 instead of 2015.

[2015-12-13 21:05] tjhei commented on #1983
Fixed (should show up in a few minutes). Thanks for reporting!

[2015-12-13 21:05] #1983 closed

[2015-12-13 21:29] #1043 closed

[2015-12-14 12:04] asartori86 opened #1984 "VectorTools::project_boundary_values does not work in parallel"
[code]

[2015-12-14 18:12] bangerth commented on #1984
Can you create a minimal testcase that demonstrates the problem? (Ideally in the form of a program that would then go into the testsuite.)

[2015-12-15 05:48] bangerth commented on #512
It turns out that I can't find any locations any more where this is a problem. I'll reopen the issue if/when I come across one of them.

[2015-12-15 05:50] #512 closed

[2015-12-15 10:58] davydden opened #1987 "[SLEPc] controll working subspace / memory usage"
just so that i don't forget:
- [ ] add functions to SLEPc wrappers to have control over the largest dimension of the working subspace (`EPSSetDimensions` with `ncv` and `mpd` optional values).
- [ ] related to the previous, add a function to return a rough guess of memory usage of SLEPc solver.

[2015-12-17 06:59] #761 closed

[2015-12-17 12:02] slazav opened #1990 "ShiftedMatrixGeneralized::vmult, ::residual do not work"
Please, look here at implementation of vmult and residual in ShiftedMatrixGeneralized:
https://github.com/dealii/dealii/blob/master/include/deal.II/lac/shifted_matrix.h#L242

There are two problems:

1) these functions are declared as const, but they try to modify aux vector in the object.
This can be solved by declaring VECTOR aux just before lines 251, 268. (and removing the declaration in the l

[2015-12-17 17:04] luca-heltai opened #1992 "Bug in step-26?"
I just installed a freshly checked out version of deal.II, and tried running step-26. This is the output I get:

![image](https://cloud.githubusercontent.com/assets/2919756/11876167/82000432-a4e8-11e5-9ed5-c64874053356.png)

Anyone sees the same?

(@gpitton pointed this out to me, and he sees problems too...)

[2015-12-17 18:15] drwells commented on #1992
This is frightening: yes, I see the same problem.

[2015-12-17 18:23] bangerth commented on #1992
Bummer. I think we'll have to dissect the history to see where this started  :- (

[2015-12-17 20:10] drwells commented on #1990
@slazav Yes, I see the issues; thank you for reporting this. Perhaps unsurprisingly we do not have any tests for this class :(

[2015-12-17 21:30] slazav commented on #1990
Thank you for the reply! For me it was very strange to find this. I'm completely new in deal.ii and not very experienced in numerical calculations, but I came to this place in a very straightforward way:
I had a simple eigenvalue problem; I didn't want to install sleps+petsc+... and use strange wrappers; I looked at internal solver, namely EigenInverse; I realised that it is not usable on non-unif

[2015-12-17 22:27] drwells commented on #1990
@slazav I think most of the users use `SLEPc` (and I just spent three hours running something with `LAPACK`; I need to write a `dggev` support patch...) so, unfortunately, I think our built in eigenvalue solvers are not frequently used. If you look around the issues list you will see that there is a lot of work going into improving the `SLEPc` and `ARPack` interfaces, but nothing for the one witho

[2015-12-18 03:02] drwells commented on #1992
I just ran `git bisect` in the background for a few hours while grading exams. It looks like the culprit is, amazingly, 84d426abb4 (also known as #1832), proving that one man's bugs really are another man's features.

[2015-12-18 03:53] tamiko commented on #1992
You can drop the "another" in above sentence :-D

Happy grading! (I finished for today.)

[2015-12-18 05:37] tjhei commented on #1992
fix incoming.

[2015-12-18 17:05] slazav commented on #1990
I checked that the new shifted_matrix.h works for me. Thank you!

[2015-12-18 17:05] #1990 closed

[2015-12-18 18:11] drwells commented on #1990
@slazav Thank you again for reporting the issue :)

[2015-12-21 02:44] bangerth commented on #1992
Fixed by #1994.

[2015-12-21 02:44] #1992 closed

[2015-12-21 10:19] kronbichler opened #2000 "DoFHandler index handling"
I plan to make a rather fundamental change in the way indices are stored in DoFHandler. The ultimate goal is to make the index storage in DoFHandler *compatible* with what we have identified as highly useful in the MatrixFree vector access classes, i.e., direct access to vector entries and ideally vectorized access. In other words, we would like to avoid copy many things in the DoFInfo object of M

[2015-12-21 13:28] tjhei commented on #2000
Many good ideas! I don't see a problem in general, but I can think of a couple of things to consider:

- Functional style. It is worth considering a more functional style (objects are generally read-only) to allow for easier multi-threading. Renumbering DoFs might return a renumbered copy of the DoFHandler for example.
- Triangulation? Your suggestions sound like it works without any changes to th

[2015-12-21 13:54] kronbichler commented on #2000
Your suggestions make a lot of sense.

I know that we want to change some things in the triangulation but I think that most of the things I mention above are somewhat orthogonal to the grid. Sure, what I plan for artificial cells is not, but that is so tiny a part compared to the other changes that I don't think it will duplicate lots of work.

With these plans the DoFHandler object would become s

[2015-12-21 14:08] tjhei commented on #2000
Same here for similar reasons. I also don't believe in anisotropic refinement. ;-) The question is if you want to support it (I have no idea how difficult that is going to be) or if we decide that we want to rip it out.

Maybe the MAC scheme is not a good enough example, because you can implement it without distributing a different number of unknowns on different faces by combining both velocities

[2015-12-21 14:38] kronbichler commented on #2000
Ah I see, I didn't think of it this way. I agree that the DoFHandler should support these types of elements. Some unstructured/arbitrary numbering inside the elements would be the approach to use. That would fit with some more 'arbitrary' finite element class since current FiniteElement classes use a simple dpo (dofs per object) vector.

Just a clarification: Even though I like to use the addition

[2015-12-21 19:01] luca-heltai commented on #1938
Other points to take care of:

- [ ] Remove deprecated functions in Triangulation::set/get boundary related to Manifolds
- [ ] Break backward compatibility with boundary ids

[2015-12-21 19:13] tjhei commented on #617
see #2001

[2015-12-21 19:33] tjhei opened #2004 "algorithms: TimestepControl/ThetaTimestepping"
We have a class ```ThetaTimestepping``` and ```TimestepControl``` in algorithms/ and @Rombur added ```TimeStepping``` in base/time_stepping.h. Can we either deprecate or integrate the two? Any thoughts?

[2015-12-21 21:55] kronbichler commented on #2004
base/time_stepping.h certainly has the more modern interface. But I'm not sure that @Rombur's approach covers the full functionality of `ThetaTimestepping`. I have not actively used any of the two (I am guilty of re-implementing things like time stepping over and over) but should at some point. Maybe the next time I start a new application...

[2015-12-21 21:56] kronbichler commented on #2004
I'll let the authors decide whether there is something to be unified. I should add that I like the `algorithms/` subfolder concept for things like time stepping.

[2015-12-21 23:14] jppelteret opened #2008 "Error in compound LinearOperator [A^{-1}]^{T}"
This [gist](https://gist.github.com/jppelteret/1872cd0b78477b6e3258) demonstrates some non-deterministic bug in `LinearOperator` (or `PackagedOperation`) which was mentioned in #1956 . Incorrect results *may* arise when performing computations with the transpose of the inverse of a matrix, while using the inverse of a transpose matrix appears to work as expected.

[2015-12-22 11:16] kronbichler commented on #1984
There are (probably) several problems related to this issue. Besides the one reported above (map_dof_to_boundary_indices), there is one more problem which is more fundamental. We create a `SparseMatrix<double>` object at line 2270 for the boundary mass matrix. This cannot work. This is the same problem that we also have for the VectorTools::project function that only works in serial.

I see three

[2015-12-22 14:23] bangerth commented on #1938
May I advocate that we postpone the work on boundaries and manifolds until just after the release? I'm not quite convinced that we can get this right within a couple of weeks before a release. We also have a few other incompatible things we could all roll into a major 9.0 release after the upcoming one.

[2015-12-22 14:34] luca-heltai commented on #1938
Sure!

[2015-12-22 14:36] bangerth commented on #1984
I think it makes sense to simply disallow this until someone takes the time to implement it properly.

[2015-12-22 22:58] bangerth opened #2012 "FEValues cleanup: Replace vector<vector<Tensor>> in FE::InternalData"
#1241 is about replacing vector-of-vector in the FiniteElementRelatedData structure. But there are similar issues in the FE::InternalData objects of various classes. They should also be fixed in a similar manner.

Part of #1198.

[2015-12-23 22:00] #1241 closed

[2015-12-23 22:05] #2012 closed

[2015-12-24 02:25] bangerth commented on #2000
Martin -- nice plan, I'm looking forward to the implementation!

I like this scheme. But how will you deal with the situation where the local
DoFs don't form a contiguous range? That's the common case for parallel
computations with multiple blocks.

That's clever: use the existing data structures and algorithms only to build
the enumeration, then copy into the caches and throw away the former. I u

[2015-12-24 02:30] bangerth commented on #2000
I've reviewed a number of very large patches recently and found it extraordinarily difficult to make progress with them. It also led to long delays for the patch author because I simply didn't have the time to spend a half or full day on the patch. Once revisions to the dozens (in some kinds >100) comments were made, we had to repeat the cycle and since it had been a few weeks since the last round

[2015-12-25 09:35] kronbichler commented on #2000
I will certainly try to do that. There are a number of things that can be done independently, such as getting rid of the DoFLevels after initialization (and getting everything through the cache), the hp capabilities, or the localized indices.

[2015-12-25 11:48] kronbichler commented on #2000
`get_fe()` is a problem. We eventually need to resolve this, for example by adding `get_fe_collection()` to `::DoFHandler`, renaming `hp::DoFHandler::get_fe()` to `hp::DoFHandler::get_fe_collection()`, and letting `hp::DoFHandler::get_fe()` return something only if the object really only works with a single finite element. This of course could be done long before your work, in preparation of later

[2015-12-26 10:10] #1978 closed

[2015-12-27 19:01] bangerth opened #2018 "Remove references to parallel::distributed::DoFHandler"
$subject says it all. We still have a few around:
[code]

[2015-12-27 19:27] #2018 closed

[2015-12-28 23:56] bangerth opened #2023 "Introduce ::DoFHandler::get_fe_collection()"
This is extracted from the discussion in #2000:

I think we agree on introducing DoFHandler::get_fe_collection to return the whole collection and make DoFHandler::get_fe return the zeroth element in the collection (to get the single element of a non-hp element). But for backward compatibility we don't necessarily need to change anything in hp::DoFHandler I think. We could do as we did when getting

[2015-12-29 00:02] bangerth commented on #2000
On 12/25/2015 05:49 AM, Martin Kronbichler wrote:

Yes, that sounds good. I'm looking forward to seeing how you go about this.
Feel free to open an issue to first discuss the design for this before
spending your time on actual code.

That's a fair point. To be more specific, I don't care about if-else
statements inside `get_dof_indices()` or `get_dof_values()`. I would care very
much if they propa

[2015-12-29 09:06] tjhei commented on #1938
I was thinking about going through the first steps of the release process and branch off of master. Anything big still coming that I am missing?

[2015-12-29 09:07] davydden commented on #1938
@tjhei it would be good to finish with https://github.com/dealii/dealii/pull/1804

[2015-12-29 21:02] drwells commented on #2008
Wow, this is a nasty bug. Here is a smaller test program:

[code]

If one compiles this with `-fsanitize=address -lubsan` (I am using GCC 5.3) then
it does not work in one way:

[code]

I do not understand how this is possible because these are not going to meet the
strict tolerance requirement of the CG solver.

Without `ubsan` a different set of bad things happen:
[code]

I am stumped. My best g

[2015-12-29 21:06] tamiko commented on #2008
Let me check.

[2015-12-30 17:07] tamiko commented on #2008
@drwells You already gave the answer in your reduced testcase:

[code]

[2015-12-31 01:16] drwells commented on #2008
so close!

[2016-01-01 09:00] #2008 closed

[2016-01-03 12:43] davydden opened #2032 "[SLEPc] add parameters to spectral transformation constructors"
...to set by default the same sparsity pattern of matrices via [STSetMatStructure](http://slepc.upv.es/documentation/current/docs/manualpages/ST/STSetMatStructure.html), with the possible values of [MatStructure](http://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/Mat/MatStructure.html).

[2016-01-03 21:00] #617 closed

[2016-01-03 21:01] tjhei commented on #641
fixed by #2005

[2016-01-03 21:01] #641 closed

[2016-01-04 08:24] davydden opened #2033 "Make deal.II uniformly compatible with complex-valued vectors"
move what's left from [complex branch](https://github.com/davydden/dealii/tree/branch_petscscalar_complex) and perhaps [augment configuration system](https://groups.google.com/forum/#!msg/dealii/sfV4J9TlAJc/fmhNOc5NFgAJ).

Also related to https://github.com/dealii/dealii/issues/1894.

[2016-01-05 10:22] davydden commented on #1117
the issue is fixed in the mentioned in the above PR.

[2016-01-05 10:22] #1117 closed

[2016-01-05 18:10] guidokanschat commented on #1156
Just before Christmas I learned more about Arpack again: as long as the number of Arnoldi vectors does not exceed the number of eigenvalues, the two letter codes for choosing eigenvalues do not make any sense, since they choose from the Ritz values. And if you choose n out of n, there is not much of a choice.

We will need somebody who knows more to fix this. I am willing to participate, but I nee

[2016-01-05 21:27] tjhei commented on #1156
So is there anything else that can/should be done for 8.4.0?

[2016-01-06 15:55] guidokanschat commented on #1156
Currently, it does more or less what you expect. It approximates the number of eigenvalues and eigenvectors requested. There is no guarantee, as for any other nonsymmetric method, that these are the lowest ones.

Thus, I would say it is safe to leave it as it is with the restrictions imposed by the interface.

[2016-01-06 19:11] bangerth opened #2038 "Update website generation script for the code gallery"
The script that updates the web site needs to be updated so that there is a copy of the code gallery at the top level of the deal.II directory (i.e., alongside `examples/`, `contrib/`, `include/`, `source/`, etc.). The script that pulls commits for deal.II then also needs to pull the latest patches for the code gallery.

@tamiko -- do you have access to this script?

[2016-01-06 19:12] bangerth commented on #2038
Blocks #1314.

[2016-01-08 17:23] #1365 closed

[2016-01-08 20:59] bangerth opened #2046 "Remove step-19"
step-19 was written at a time when visualization programs were not able to open multiple files written by a parallel program and combine their data into one image. This is clearly no longer the case, so there is no longer a rationale for step-19. It should simply be removed.

[2016-01-08 21:00] bangerth commented on #307
step-18 now uses VTU format, and it uses `parallel::shared::Triangulation`. I think it is generally useful, so I vote to leave it in place, even though it may not be the best parallel program to start with. I've also just verified that the program in its current form actually runs. This seems to address the major points regarding step-18 listed in the current issue.

step-19 is clearly outdated, a

[2016-01-08 21:00] #307 closed

[2016-01-08 21:02] bangerth commented on #1886
@krishnagarikipati -- any updates?

[2016-01-09 03:28] krishnagarikipati commented on #1886
Haven't had a chance to return to it, because I got sucked into other bits
of code. I will need to revisit it about two weeks from now. I'll be in
touch then.

Best,

Krishna
On Jan 8, 2016 4:02 PM, "Wolfgang Bangerth" <notifications@github.com>
wrote:

[2016-01-09 21:50] jppelteret opened #2049 "Doxygen error in Schur Complement linear operator"
In the online documentation, there's a equation thats not rendered due to `\textnormal` being undefined in math mode. However, it builds fine locally (doxygen v1.8.10). If someone can suggest what the correct syntax then I'll correct the issue.

[2016-01-11 03:16] bangerth commented on #2049
For reference, this is https://www.dealii.org/developer/doxygen/deal.II/group__LAOperators.html#ga1cb1a9bb9e30355214718b66ac71d107

[2016-01-11 03:18] bangerth commented on #2049
I think the correct command (used elsewhere) is to simply use `\text`. A patch would be welcome!

[2016-01-11 03:20] bangerth commented on #2049
(By the way, the online website linked to above creates this error because the MathML representation of this formula uses `\textnormal`. It may be that your local installation just runs latex to convert formulas into images, where `\textnormal` is not a problem, where MathML doesn't appear to understand it.)

[2016-01-11 06:53] jppelteret commented on #2049
Thanks @bangerth for providing the correct command and for the explanation! Sorry it took more effort to present the distinction between the online and locally rendered formulas than it did to fix the problem :-)

[2016-01-11 07:06] #2049 closed

[2016-01-11 13:17] bangerth commented on #2049
For completeness, the website seems to show the correct formula now.

[2016-01-11 13:43] jppelteret commented on #2049
Great, thanks a lot!

[2016-01-11 13:44] kronbichler opened #2051 "Deadlock in MG transfer: fill_and_communicate_copy_indices"
The following program deadlocks on `mpirun -n 3` in `mg_level_global_transfer.cc:211 (fill_copy_indices)`:

[code]
Before it stops, the output is:
[code]
More precisely, two processors go beyond this point (as they're likely not performing some communication) whereas the other one waits for some data to arrive in MPI_Probe (the mesh refines into a corner).

After having played around with the prob

[2016-01-11 20:06] bangerth commented on #2038
@ping?

[2016-01-11 21:20] bangerth opened #2053 "DataOutFaces doesn't play nice with parallel::distributed::Triangulation"
See attached testcase by Heikki Virtanen <heikki.a.virtanen@hotmail.com>.

The error message is something of the sort
[code]

[test.txt](https://github.com/dealii/dealii/files/86405/test.txt)

[2016-01-11 21:33] bangerth commented on #2053
The error of course happens because first/next_cell don't ignore cells that are not locally owned.

Do I see it right that you just copied these two functions from DataOutFaces without any change?

[2016-01-12 01:43] #2053 closed

[2016-01-12 16:02] asartori86 opened #2057 "DoFTools::extract_dofs not instantiated for codim != 0"
is there any particular reason for not instantiating `DoFTools::extract_dofs` and `extract_boundary_dofs` for spacedim != dim ?

[2016-01-12 16:06] bangerth commented on #2057
No :-) Feel free to submit a patch!

[2016-01-12 16:38] tjhei opened #2058 "macos el capitan and "make run""
I have heard from several student this week, that "make run" is not working correctly after updating to el capitan. Note that executing the example programs manually still works. Hitting "run" inside an eclipse project fails with the same error.

I didn't have enough time to investigate further, but it looks like the DYLIB path is ignored when executing the program indirectly. There are many hints

[2016-01-12 17:16] luca-heltai commented on #2058
The recommendation is that you should not rely on DYLD_LIBRARY_PATH, and el capitain disables this by default.

Are you compiling libraries?

[2016-01-12 17:19] luca-heltai commented on #2058
Ps: make run works fine on the package I distribute. Are you compiling a project with a library?

If you are, then you should make sure the target for the library is specified in this way:

[code]

[2016-01-12 17:26] tjhei commented on #2058
I don't know. I don't have a mac, I just played with an installation for a few minutes trying to run the standard examples. I will ask them to update to the newest package and see if that fixes it.

[2016-01-12 23:50] bangerth opened #2061 "Set PARALLEL property of tests"
We have struggled in the past with parallel testsuite runs because ctest won't distinguish whether a test runs with `mpirun -np 10` or on only one processor. Consequently, on a 64-core machine, we can't run `ctest -j64` without causing excessive loads.

ctest seems to have acquired a new property `PROCESSORS` on tests, see https://cmake.org/cmake/help/v3.4/manual/cmake-properties.7.html#test-prope

[2016-01-13 00:43] tamiko commented on #2061
The ```PROCESSORS``` property should already be part of cmake-2.8.9 if I recall correctly.

I remember a discussion we had whether this actually improves the situation and I remember that we settled on a compromise. And in fact, (according to ```git blame```) the author of the following 12 lines is you :-D

In ```macro_deal_ii_add_test.cmake```:
[code]

[2016-01-13 03:19] bangerth commented on #2061
Ha, well, who knew :-)

[2016-01-13 03:19] #2061 closed

[2016-01-13 14:37] #2057 closed

[2016-01-13 19:25] drwells commented on #1930
@bangerth Now that #1933 has been merged in this issue may be closed, correct?

[2016-01-13 19:44] bangerth commented on #1930
I think so. @gassmoeller -- it was your report, are you happy with the new function?

[2016-01-13 20:48] gassmoeller commented on #1930
Yes, this can be closed. Thanks for reminding me.

[2016-01-13 20:48] #1930 closed

[2016-01-13 21:57] bangerth opened #2063 "slepc/step-36_parallel.mpirun=3.debug fails"
The test fails with a floating point exception (output intermingled since produced by multiple processors):
[code]

@davydden was going to investigate.

[2016-01-14 01:03] tjhei commented on #2058
Ah, he was using the 8.3.0 package. Everything works with the newest one. Time to ship 8.4.0 soon. :-)

[2016-01-14 01:03] #2058 closed

[2016-01-14 16:43] davydden commented on #2063
If I comment out [#include "../tests.h"](https://github.com/dealii/dealii/blob/master/tests/slepc/step-36_parallel.cc#L1), the segmentation fault goes away....

[2016-01-14 16:54] davydden commented on #2063
will be digging into this header to see what could break things...

[2016-01-14 16:56] bangerth commented on #2063
`tests.h` enables floating point exceptions, i.e., the program aborts if you encounter a signaling NaN. You don't get the floating point exception if you disable this piece of code, but you will likely still get wrong results (unless the code where this happens computes something that ends up not being used later on; otherwise, the NaNs will likely propagate into some result somewhere).

[2016-01-14 16:58] davydden commented on #2063
Ah, i see, makes sense...

[2016-01-14 17:07] davydden commented on #2063
Found it, i was [setting initial vector for Krylov sequence](https://github.com/dealii/dealii/blob/master/tests/slepc/step-36_parallel.cc#L270), but the vector was exactly zero. SLEPc does not check for it, thus the error seemed to occur during mass-matrix orthogonalisation of that vector.

[2016-01-14 19:48] davydden commented on #2032
one should also add support for `STPrecondSetMatForPC(ST st,Mat mat);` for custom matrix used in preconditioner.

[2016-01-15 17:29] #2063 closed

[2016-01-16 23:46] tjhei opened #2069 "fix KellyEstimator for codim one"
The KellyEstimator currently incorrectly uses the same face normal for both parts of the gradient jump. This is incorrect for codim1. I am in contact with Andrea Bonito to get this fixed.

[2016-01-16 23:47] tjhei commented on #2051
I can take a look...

[2016-01-17 07:02] davydden opened #2070 "provide MPIEXEC during CMake configure"
unit test script assumes that mpiexec is found. But on clusters, depending on configuration, the autodecection may fail:
[code]
In my case for Intel MPI it's called `mpiexec.hydra` by sysadmins.

[2016-01-17 07:38] davydden commented on #2070
On a second look, it seems this is stored in `DEAL_II_MPIEXEC` inside `/shared/deal.ii/Make.global_options`. It seems CMake configuration is still successful even when `mpiexec` is not found. So far I have not found a way to specify it during CMake.

Should there be an option to do something like `-D DEAL_II_MPIEXEC=mpiexec.hydra` or alike?

[2016-01-17 08:03] davydden commented on #2070
checked `cmake/configure/configure_1_mpi.cmake`, don't see anything related to `mpiexec`.

[2016-01-17 08:10] davydden commented on #2070
digging further, MPI dependency is handled by CMake's native `FindMPI`. I will see if there is anyway to provide `mpiexec`....

[2016-01-17 08:18] davydden commented on #2070
seems like a known issues: [thread1](https://cmake.org/Bug/view.php?id=14347).
A cure could be to [override MPIEXEC with set()](https://cmake.org/pipermail/cmake/2014-January/056757.html).

[2016-01-17 08:20] davydden commented on #2070
p.s. as a side note, i had environment variable `MPIEXEC` set correctly prior to config.

[2016-01-17 09:22] davydden commented on #2070
ok, here is a solution
[code]

I will workout the patch soon...

[2016-01-17 16:14] tjhei commented on #2051
Reproduced it and found the problem. Fixing it will take some time though. Sigh.

[2016-01-17 19:04] #2070 closed

[2016-01-18 00:38] #814 closed

[2016-01-18 05:26] davydden commented on #2051
i assume this is the cause of `matrix_free/parallel_multigrid_adaptive.mpirun=3` timing-out?

[2016-01-18 06:58] kronbichler commented on #2051
No, parallel_multigrid_adaptive.mpirun=3 should not be affected (at least it runs on my machine and on the testing machines). The test is a bit too large probably (runs for >60s). I will see if I can reduce it.

[2016-01-18 08:20] davydden opened #2075 "matrix_free/parallel_multigrid_adaptive.mpirun=3 times out"
that's the only test which times-out for 6f8ded497403fa13168d9ae1cdcebbdf0bc93df8 on a cluster here with gcc 4.9.2, openmpi/1.8.3-gcc and mkl.

I think the last time i run tests for another commit (aaa9278) it did not time out, but this could be a coincidence.

p.s. @kronbichler I created an issue here so that it's easier to track.

[2016-01-18 08:21] davydden commented on #2075
in reference to https://github.com/dealii/dealii/issues/2051#issuecomment-172445231

[2016-01-18 10:51] davydden commented on #1938
wrt intel compilers, i have a number of tests timed out and a couple failed on `module load gcc/4.9.2 intel64/15.0up02` :
[code]
any1 tried running the test-suite with Intel?

I have a feeling that some of those time-outs are related to extensive output. Interestingly enough, on the same claster GCC+OpenMPI is good.

[2016-01-18 12:47] kronbichler commented on #2075
I tested on a cluster with very similar configuration as yours, gcc 4.8.3 and openmpi/gcc/1.8.8, and did not see any problems:
[code]
(It does not even take particularly long time to run on that machine given that compiling and linking on that test take ~15-20s.)

I also checked on three other systems and the test runs on them all. Would you mind having a look where the test hangs for you?

[2016-01-18 17:23] tjhei commented on #1938
@davydden I am running a nightly tester using intel 15: http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=278

[2016-01-19 02:45] #333 closed

[2016-01-19 02:45] drwells commented on #333
Closed by #1520 and #2078.

[2016-01-19 08:40] davydden commented on #2075
i will have a look...

[2016-01-19 10:54] #2051 closed

[2016-01-19 12:15] CPChang commented on #1921
I also tried to build on msvc 2013, but seems like DEALII_WITH_THREAD=ON won't work either using bundled tbb (4.1) or external tbb (4.4).

[2016-01-19 15:33] srobertp opened #2081 "generalize GridTools::build_triangulation_from_patch() to handle more general triangulations"
It was noted that the current implementation of GridTools::build_triangulation_from_patch() in pull request #1934 has the deficiency that it requires the triangulation to be consistent with the dealii refinement strategy.  That is:

 If we happen to have a grid that has had the vertices perturbed, for instance
 using the GridTools::distort_random() member function (which is useful for
 removing sy

[2016-01-20 17:04] tjhei opened #2088 "doxygen grouping broken"
It seems like grouping of functions into subgroups is broken, see https://www.dealii.org/developer/doxygen/deal.II/namespaceGridGenerator.html for example. Here ```simplex``` is repeated twice, once outside the group and not clickable.

[2016-01-20 17:05] tjhei commented on #2088
Another example is ```get_manifold``` in https://www.dealii.org/developer/doxygen/deal.II/classTriangulation.html

[2016-01-21 06:45] jppelteret commented on #2088
This seems to be a hot topic! Maybe its finally time for it to be dealt with? #1957 #320

[2016-01-21 06:48] jppelteret commented on #2088
The same seems to be the case in [VectorTools](https://www.dealii.org/developer/doxygen/deal.II/namespaceVectorTools.html) for `create_boundary_right_hand_side`. It seems like it appears when there's template specialisations?

[2016-01-21 06:48] jppelteret commented on #2088
And [FETools](https://www.dealii.org/developer/doxygen/deal.II/namespaceFETools.html) for `hierarchic_to_lexicographic_numbering`.

[2016-01-21 06:52] jppelteret commented on #2088
The non-clickable link issue is [all](https://www.dealii.org/developer/doxygen/deal.II/namespaceGridTools.html) [over](https://www.dealii.org/developer/doxygen/deal.II/namespaceDoFRenumbering.html) [the](https://www.dealii.org/developer/doxygen/deal.II/namespaceMatrixTools.html) [place](https://www.dealii.org/developer/doxygen/deal.II/namespaceDoFTools.html) actually.

[2016-01-21 12:36] bangerth commented on #2088
I wonder if this is caused by #1356 that changed things so we now also run doxygen over the .cc files. Anyone want to try out locally whether undoing that change makes the problem go away?

[2016-01-21 13:17] jppelteret commented on #2088
@bangerth Yip, that removed the offending lines in `GridTools` etc. for me at the obvious expense of having access to the source definitions through the documentation.

[2016-01-21 13:20] bangerth commented on #2088
Bummer :-( What to do? We can manually exclude parts of the .cc files via `#ifndef DOXYGEN`, but I suspect just assessing what needs to be excluded is impossible given the number of files and classes we have...

[2016-01-21 15:24] jppelteret commented on #2088
The [`HIDE_UNDOC_MEMBERS`](http://www.stack.nl/~dimitri/doxygen/manual/config.html#cfg_hide_undoc_members) option is the closest to a global setting that would ignore template specialisations that I can find. Changing this entry in `doc/doxygen/options.dox.in` appears (well, to me at least) to produce the desired result `GridTools` and the like. However, since I've only taken a quick glance at the

[2016-01-21 19:18] tjhei commented on #2088
Yes, I tried  HIDE_UNDOC* and this looks good. I will make a PR...

[2016-01-21 19:27] bangerth commented on #2088
I was wondering how many undocumented functions and classes we have that would now become undiscoverable. But I think the answer is likely "very few". This may be the way to go.

[2016-01-21 20:47] davydden opened #2095 "bundled tbb tests fail to compile when testing with already install deal.ii"
subj.
That is, i create a folder and do `cmake /path/to/dealii/distro/tests`.
All tests run fine except everything in `all-headers/bundled/tbb/`.

[code]

[2016-01-21 20:50] davydden commented on #2075
i just recompiled the whole suite with `module load gcc/4.9.2 openmpi/1.8.3-gcc mkl/11.2up05 cmake/2.8.11.2 git/2.2.1` and re-run, still
[code]
i will see where it hangs...

[2016-01-21 20:54] davydden commented on #1938
@tjhei in an attempt to have less things screwed up i just re-installed deal.ii with candi and `gcc/4.9.2 intel64/15.0up05` and have insane amount of tests fail... For the results you showed, what's the gcc version you used? Perhaps some combinations do not play together well...

[2016-01-21 21:00] davydden commented on #2075
that is wierd... when I re-run
[code]
it's all good!...

but it did fail when I started the whole suite via `ctest -j 20`.

[2016-01-21 21:02] tjhei commented on #1938
gcc 4.6.3. can you submit your test results to the cdash?

[2016-01-21 21:05] davydden commented on #1938
I actually just wiped the build it as it was really a lot, like half of the tests... I will re-install with `gcc/4.8.1` and same intel versions to see if that changes anything... In any case, could you please remind me how does one submit results to cdash?

[2016-01-21 22:21] danshapero commented on #898
This feature would be really helpful for me, so I'm going to try and implement it myself. The move constructor for `dealii::Vector` just initializes an empty vector and then invokes the `swap` method on the `Vector&&` argument passed to the constructor; is there a reason to think that this won't work with parallel vectors?

[2016-01-21 22:58] bangerth commented on #2088
I merged #2096. Let's see how that affects the documentation we get updated in a couple of hours.

[2016-01-21 23:01] bangerth commented on #2075
This may have happened because the test ran correctly, produced all of its output correctly, and then hung. The first invocation of `ctest` will say the test timed out and fail. The second invocation will find that there are output files, compare them, and report success. In other words, the failure would be after the last output is produced.

I think your best bet is to run the tests from scratch

[2016-01-21 23:06] bangerth commented on #898
I see no reason why this shouldn't work, but it may require a bit of trying to figure out how to swap things such as the MPI communicator object.

The extra checks are certainly a good idea.

[2016-01-21 23:12] bangerth commented on #2095
I did not realize we ran the all-headers thing on bundled TBB headers!?

[2016-01-21 23:17] tjhei commented on #1938
https://www.dealii.org/developer/developers/testsuite.html#submit

[2016-01-22 08:19] davydden commented on #2075
become more and more interesting. I did `make prune_tests` to make it re-run and judging by the time spent it did
[code]

[2016-01-22 08:22] davydden commented on #2075
the others are also being executed and all pass
[code]

[2016-01-22 08:38] davydden commented on #2075
it seems they hang only when run as a whole test suite, that makes no sense to me...

[2016-01-22 10:19] asartori86 opened #2098 "broken continuation line"
recent PR #2078 changed the behavior of the continuation line in parameter files.  Before that PR this worked for me
[code]

now I got

[code]

[2016-01-22 14:44] drwells commented on #2098
Yes, I bet I know what happened: when I moved the code up I got rid of the extra whitespace trimming, believing it to be not necessary.

Patch incoming.

[2016-01-22 14:48] drwells opened #2099 "Improve finite element name parsing"
As noted in #2098 by @asartori86, some functions which interpret strings as finite element spaces seemingly cannot handle extra whitespace:

[code]

We should improve the parser so that it does not get thrown off by extra whitespace.

[2016-01-22 16:10] asartori86 commented on #2098
thanks

[2016-01-22 18:27] bangerth commented on #2098
The solution is to trim whitespace at the end of the continued line as well as the beginning of the continuing line. This is certainly the element of least surprise. One could argue about leaving a single space  to ensure two numbers provided on successive lines are not just collated.

[2016-01-22 18:38] drwells commented on #2098
I wanted to ask for another opinion before changing the behavior in `ParameterHandler`. In particular, when `cpp` handles continuations, it does not delete whitespace at the start of lines: my concern is that we may accidentally start combining tokens with this behavior. Is this still the right thing to do?

I doubt it will matter in practice; `ParameterHandler` will probably fail in an obvious wa

[2016-01-22 20:29] tjhei commented on #2098
Agreed. This is also in line (pun intended) with how we treat single line values: we strip the white space before and after.

I would prefer we don't do that. If you want a space, insert it before the ``\``.

[2016-01-22 20:51] drwells commented on #2098
I thought about it some more and I believe now my concerns are misplaced. If this does cause any weird tokenization errors they should be easy to spot. How about:
1. If a line ends with something like `\__` (pretend the underscores are spaces), then trim any whitespace after the `\` and continue as usual. `cpp` does this, albeit with a warning.
2. If the current line continues the previous line, t

[2016-01-22 21:48] bangerth commented on #2098
In that case, trimming space at the beginning of the second line makes
no sense, and it just reproduces the current behavior.

People like to align the |\| characters. So I think there will often be
space before it. My take would be that if you rely on a space being
somewhere, make sure it's not the one between the end of the line and
the backslash, or between the beginning of the line and the fir

[2016-01-22 22:15] asartori86 commented on #2098
In my previous PR I kept the \ as continuation line if and only if it was the last character of the line. In my opinion it is an error to put characters after the \. More precisely, the continuation line symbol in my mind is \ plus the symbol of new line (e.g. \n, $ etc..)

[2016-01-23 16:58] bangerth opened #2104 "Pass block_indices_data to FiniteElementData"
This grew out of looking at #1378 and the work done in #2103: `FiniteElementData` has only `const` member variables (whose values are all passed to the constructor and obviously set there) with a single exception `block_indices_data`. It is initialized to a reasonable default value in the constructor, and in fact only a single class (`FESystem`) ever overrides it.

With reasonable effort, we could

[2016-01-23 16:59] bangerth commented on #2104
In reference to #1198.

[2016-01-23 17:10] bangerth opened #2105 "Rewrite documentation of BlockIndices"
I have always been a bit mystified by what the class `BlockIndices` does, so I wanted to read up on it. But I find that the class documentation is rather lacking in that it explains what one can get from this class, but not what it actually represents. In other words, the *concepts* and *ideas* for this class are missing. This ought to be rewritten.

See https://www.dealii.org/developer/doxygen/de

[2016-01-23 18:10] #1378 closed

[2016-01-25 03:43] bangerth commented on #2038
All that is really necessary is, in essence, the following after cloning/updating the deal.II repository from which we generat the website documentation:
[code]
The point is that after this, we have an updated clone of the `code-gallery` repository parallel to the `examples/` directory. The existing scripts should do everything else that is necessary from there.

Who still has access to the websit

[2016-01-25 04:12] bangerth commented on #2088
It looks to me like this is working again now.

[2016-01-25 04:12] #2088 closed

[2016-01-25 13:26] #2104 closed

[2016-01-25 15:13] #1974 closed

[2016-01-25 16:38] jppelteret commented on #2088
Thanks, it seems to have fixed all of the concerns that I had in #1957!

[2016-01-25 16:43] #1957 closed

[2016-01-26 14:00] fsonner opened #2118 "SparseVanka does not use second-order couplings"
The `SparseVanka` solver is supposed to add contributions from second-order couplings to the right-hand side of the local systems. This never happens. The code loops, by accident, over the first-order couplings and immediately filters them out.

The culprit is [this for loop](https://github.com/dealii/dealii/blob/4bb930ae228c42b62495349f14e2ac3d99456e86/include/deal.II/lac/sparse_vanka.templates.h

[2016-01-28 09:46] tjhei commented on #1829
I can no longer reproduce it, which is not surprising, because compute_fill looks different now.

[2016-01-28 09:46] #1829 closed

[2016-01-28 15:30] bangerth opened #2123 "Modularize prepare_coarsening_and_refinement"
#2116 makes `Triangulation::prepare_coarsening_and_refinement` virtual and overloads it in `parallel::distributed::Triangulation`. It then does an outer iteration in the derived class that calls the function of the base class which itself already iterates. This is inefficient.

What would be the ideal solution is if the derived class (and anyone else, really) could register a function that looks a

[2016-01-28 20:27] tamiko commented on #2038
@bangerth No. Only @guidokanschat has access to the homepage.

[2016-01-29 15:22] drwells commented on #2098
@asartori86 Does everything work for you now? I believe the patches resulting from the discussion in #2101 should fix this.

[2016-01-29 18:21] QiaoLei-88 opened #2124 "Add locally_owned_active_cell_iterator ?"
There are lots of code like
[code]

Is is possible and worth to hide ` if (cell->is_locally_owned())` inside `iterator`?

[2016-01-29 18:25] drwells commented on #2118
Closed by #2119.

[2016-01-29 18:25] #2118 closed

[2016-01-29 18:35] Rombur commented on #2124
It already exist look at http://dealii.org/developer/doxygen/deal.II/classFilteredIterator.html with http://dealii.org/developer/doxygen/deal.II/classIteratorFilters_1_1LocallyOwnedCell.html

[2016-01-29 19:05] QiaoLei-88 commented on #2124
WoW, That's nice.

Thank you.

[2016-01-29 19:05] #2124 closed

[2016-01-29 19:55] bangerth commented on #2124
There is also the function `Triangulation::cell_iterators()` (and variant `active_cell_iterators()` as well these functions for just one level) that allow you to get a range of all (active) iterators for use in a C++11 range-based for loop.

I would not be opposed to adding `locally_owned_active_cell_iterators()` to this list.

See https://www.dealii.org/developer/doxygen/deal.II/group__CPP11.html

[2016-02-01 11:12] asartori86 commented on #2098
@drwells , it works. Thanks

[2016-02-01 11:13] asartori86 commented on #2098
Closed #2098 by #2101

[2016-02-01 11:13] #2098 closed

[2016-02-01 20:20] bangerth opened #2128 "Improve ArpackSolver::solve() interface"
#2127 points out (correctly) that `ArpackSolver::solve()` doesn't use its first argument, `system_matrix`. This is in fact documented, but it doesn't make any sense. My best guess is that the `inverse` argument ensures that the system matrix enters the picture somewhere. Either way, this is a wart that should probably be fixed by removing the argument altogether, rather than creating confusion.

[2016-02-02 08:38] davydden commented on #2128
that has to do with `int mode = 3`, which at the end of the day means that shift-and-invert spectral transformation is used to enhanced convergence. Currently only `3` is implemented which needs the following operation on vectors (in real case) `OP = (inv[A - sigma*M])*M`, where `sigma` is a shift value.

Here is a summary from [dnaupd](http://www.caam.rice.edu/software/ARPACK/UG/node137.html):
[c

[2016-02-02 08:41] davydden commented on #2128
related to https://github.com/dealii/dealii/issues/1156 , although i would not call it broken as there is a unit tests for which it works perfectly, but rather incomplete.

[2016-02-02 13:24] bangerth commented on #2128
Ah, thanks for the explanation. I will eventually make this kind of explanation into a comment with the function. It now all makes a lot more sense!

[2016-02-02 19:06] guidokanschat commented on #2038
It's checked out on the web page and I will set up an update script. Hourly or daily sufficient? I do not want to be caught again in a robot detector.

Since these pages will allow people to post executable files, I need help configuring that the web server does not execute anything. Is "NoExec" for dealii sufficient?

[2016-02-02 20:00] tjhei commented on #2038
Even daily is fine but it is probably easier to update it every time you build the documentation?

None of the files need to be visible to the webserver and nothing needs to be executed. When doxygen is run inside deal.II it will process the gallery and generate the doxygen pages.

[2016-02-02 23:37] bangerth commented on #2038
On 02/02/2016 02:02 PM, Timo Heister wrote:

Correct. We also (at least cursorily) review contributions to the code
gallery before we merge them.

Did you see the 8-line code snippet further up in this issue? This is
really the only thing that needs to be added to the script you are
already running to generate the website periodically. Everything else
will continue to work.

[2016-02-03 00:56] danshapero opened #2130 "include directories not set properly in `Make.global_options`"
In the generated `Make.global_options` I have, the include directories appear to not be set correctly:

    DEAL_II_INCLUDE_DIRS = ${DEAL_II_PATH}/include /include/deal.II/bundled /usr/include

This should be:

    DEAL_II_INCLUDE_DIRS = ${DEAL_II_PATH}/include ${DEAL_II_PATH}/include/deal.II/bundled /usr/include

When I try to compile an example program from a Makefile, I get an error because it

[2016-02-03 20:35] tjhei commented on #2038
It looks like it did not work: https://www.dealii.org/developer/doxygen/deal.II/CodeGallery.html

[2016-02-04 14:10] bobmyhill commented on #1876
I've just installed deal.ii (8.3.0) on my Mac (OS X El Capitan), and I get this same problem with the home-brew install of deal.ii. *However*, my own build from the github source (8.4.0-pre) works fine. I have Xcode installed on top of the basic Mac install of all the command line tools - I don't know whether that has made a difference.

[2016-02-04 14:14] davydden commented on #1876
could that be that this test is not there in 8.3.0? in other words, if you install the `HEAD` version (`brew install dealii --HEAD`), then it should be equivalent to the self-compiled one.

[2016-02-04 14:28] bobmyhill commented on #1876
@davydden excellent point; you're quite right. Thanks!

[2016-02-04 18:16] tamiko commented on #2130
This is indeed a bug. I'll have a look.

[2016-02-04 19:02] guidokanschat commented on #2038
Oh, I got that totally wrong. I thought it should go to the web pages.

[2016-02-04 22:33] bangerth commented on #1876
So do I see it right that the check with `-Werror` simply wasn't there with 8.3, consequently caused the warnings for the user, but has since been added, and should consequently no longer cause these warnings?

In that case, we should simply close this issue. I just have no way of testing to see whether the issue is really fixed.

[2016-02-04 22:42] tjhei commented on #1591
I tested version 1.54 (works), 1.56 (works), 1.58 (failed), 1.59 (works). @gassmoeller what test is failing for you?

[2016-02-04 22:57] gassmoeller commented on #1591
There was a segmentation fault during serialization with the ubuntu packaged boost 1.54 reported by Maxwell Rudolph to me. I will give it a try on my machine, and if I can not reproduce it, lets assume it is something related to his machine (he solved the problem by enforcing the deal.ii bundled boost).

[2016-02-04 23:25] tamiko commented on #1876
*ugh* I think we had ```-Werror``` already in place for the 8.3.0 release. I don't understand.

[2016-02-04 23:28] tamiko commented on #1591
boost detection we discussed some time ago later today in a pull
request.

Can someone remind me what I had in mind with "improvement for external boost detection"? :-/

[2016-02-04 23:38] tjhei commented on #1591
Just take a look at #2132 and we call it a day. ;-)

[2016-02-04 23:49] tamiko commented on #1591
Yup.

[2016-02-04 23:49] #1591 closed

[2016-02-05 00:22] gassmoeller commented on #1591
Ok, I can not reproduce the issues with 1.54. The Ubunut-Packaged 1.54 works on my machine, so no need to worry about that anymore.

[2016-02-05 07:21] guidokanschat commented on #2038
The link Timo sent has contents now. Is that what you are looking for?

By the way, please be gentle to our web server and encourage movies on youtube!

[2016-02-05 09:37] bobmyhill commented on #1876
@bangerth At least for me, 8.3.0 throws up loads of these errors, but 8.4.0 (homebrew or my own compile) is fine. So, issue solved? <shrugs>

[2016-02-05 09:45] davydden commented on #1876
indeed, `-Werror` is introduced in https://github.com/dealii/dealii/commit/50d09f5de342d515d9de22f2f07dbc8fe173d3d0 , which is in 8.3.0. But there is also this commit https://github.com/dealii/dealii/commit/6604061a09651f22a7d86b085c59e820d9c3f544 which has `PUSH_CMAKE_REQUIRED("-Werror")`. Could that be the reason? Otherwise, i see no relevant changes to `check_01_compiler_features.cmake` that co

[2016-02-05 18:21] #2099 closed

[2016-02-05 18:30] bangerth commented on #1876
Even if we don't exactly understand *why* it may be fixed, let's just close the issue unless someone can unambiguously show that the problem still exists. Otherwise I think we're just poking in the dark.

[2016-02-05 18:30] #1876 closed

[2016-02-05 22:53] bangerth commented on #2038
Excellent -- thanks, Guido!

[2016-02-05 22:53] #2038 closed

[2016-02-09 15:23] tjhei commented on #1938
What do we do about the new Vector classes? I think our options are:
a) leave them in as is
b) move them into an ``experimental`` namespace
c) remove them completely

thoughts?

[2016-02-09 15:29] bangerth commented on #1938
And/or merge #1901 !

[2016-02-09 15:32] bangerth commented on #1198
This is as far as I intend to take it for now.

[2016-02-09 15:32] #1198 closed

[2016-02-09 15:38] Rombur commented on #1938
Let's not merge it. I am still working on it. In December, we realized that we forgot about some functionality in the new interface. I have been working on this but I have no test and I used C++11 (I plan to change that when I am sure the code works).

[2016-02-09 17:16] tjhei commented on #1938
@Rombur what do you propose we do with the current files then? Can we just remove them for the release?

[2016-02-09 17:24] Rombur commented on #1938
@tjhei Yeah that's fine.

[2016-02-10 22:38] jppelteret opened #2154 "Fix doc for VectorTools::compute_nonzero_normal_flux_constraints"
A portion of the documentation for [VectorTools::compute_nonzero_normal_flux_constraints](https://www.dealii.org/developer/doxygen/deal.II/group__constraints.html#ga5b13c2da1b235c86cdbce2270525db99) appears to belong to [VectorTools::compute_no_normal_flux_constraints](https://www.dealii.org/developer/doxygen/deal.II/group__constraints.html#ga0e8d8c017ac654e24e71ad3fd7e76310). In particular:
- The

[2016-02-10 22:43] jppelteret commented on #2154
For whoever chooses to dig in here, there's also a small typo in [VectorTools::project_boundary_values_curl_conforming_l2](https://www.dealii.org/developer/doxygen/deal.II/group__constraints.html#ga6fca3672ae63b249402460a6ed4538b4). There's an errant trailing ">" in the paragraph header titled "Arguments to this function".

[2016-02-11 03:04] bangerth opened #2155 "Crash with face domination"
The attached program, reported on the mailing list by Korosh Taebi, crashes as follows:

[code]

[2016-02-11 03:05] bangerth commented on #2155
Well, here's the program.
[step-1.txt](https://github.com/dealii/dealii/files/125825/step-1.txt)

[2016-02-11 03:14] bangerth commented on #2081
I would ignore the issue of boundaries. The function is only intended to build the triangulation, which really only stores vertex locations and how they connect to cells. One could in principle attach to this triangulation also the boundary or manifold objects from the parent triangulation, but I would suggest to go one step at a time.

[2016-02-11 03:15] bangerth commented on #2069
@tjhei -- wasn't this fixed by #2092?

[2016-02-11 12:40] tjhei commented on #2069
yes.

[2016-02-11 12:40] #2069 closed

[2016-02-11 14:43] tjhei opened #2166 "update step-15"
- [ ] the default configuration runs several hours in debug mode until completion (use 5e-3 instead?)
- [ ] bool parameters to the functions are not pretty (``setup_system`` can detect if it is the first solve!)
- [ ] there should be a better way to structure ``setup_system`` with ``SolutionTransfer``
- [ ] hanging node constraints are created in ``setup_system`` and ``refine``, why?
- [ ] use a C

[2016-02-11 14:50] tjhei opened #2167 "guard slepc configuration"
I was able to successfully configure with petsc and slepc while slepc was linking to a different petsc installation. I think we should figure out a way to stop this from happening.

[2016-02-11 21:25] bangerth commented on #2155
From an email back on the mailing list again:
................
No problem, Wolfgang.
As far as i ( to be honest together with my office colleague Dustin Kumor ) have found out everything depends on which finite element calls it's compare_for_face_domination method.
The dg version causes no problem because it always returns "no_requirements".
But in the cg version of compare_for_face_domination the

[2016-02-12 15:13] davydden opened #2174 "improve documentation of DoFAccessor constructor"
currently this non-default constructor
[code]
has the following description:
[code]
.

[2016-02-12 19:02] jppelteret opened #2176 "FE_Nedelec constructor fails for degree=8"
As the title says, the FE_Nedelec constructor fails for degree=8 (and possibly > 8 as well).

Git revision: `22044ff0c183976bfdd66ff9e5d9b17dc93d02cd`

Testcase:
[code]
Output:
[code]

[2016-02-12 19:18] bangerth commented on #2176
Most classes make thresholds such as the one involved here dependent on the polynomial degree. In this case, the `FE_Nedelec` constructor calls `compute_face_embedding_matrices()` with the default value 1e-12 for the threshold. I think the right approach is to pass something like `1e-13*degree*degree` or similar for the threshold. The point of the threshold is simply that it should be small enough

[2016-02-12 19:21] bangerth commented on #2081
@srobertp: Do I understand it right that this issue is now fixed? If so, feel free to close it.

[2016-02-12 19:23] srobertp commented on #2081
This issue is now resolved.

[2016-02-12 19:23] #2081 closed

[2016-02-12 19:30] bangerth commented on #1314
I've hooked the code gallery into the websites now, both for the doxygen generated pages and for the front page http://www.dealii.org.

[2016-02-12 19:38] jppelteret commented on #2176
Thanks @bangerth, setting the tolerance as `1e-12*degree*degree` works for `degree <= 10` but it still fails for higher polynomial orders. Personally I don't need anywhere near that high - this was just a bug I found by accident. Besides, it works in release mode. I will set up a PR when I'm done running tests.

I see that there are calls to `compute_embedding_matrix` in `get_restriction_matrix` a

[2016-02-12 19:43] bangerth commented on #1314
I think all of the big steps necessary for this are now done.

[2016-02-12 19:43] #1314 closed

[2016-02-12 19:45] bangerth commented on #2176
On 02/12/2016 01:38 PM, jppelteret wrote:

Take out the assertion and instead print what the value is for different
degrees. You'll see a pattern that you then want to mimic at the calling
site (e.g., if the residual grows cubically, then that's what the
calling site needs to put in as well).

Great, thanks. Same principle as above.

[2016-02-12 21:17] jppelteret commented on #2176
@bangerth So what would you call this limit of ridiculousness here? The growth is exponential but is "closely" bounded until degree 12 by `1E-14 + 1.5E-018 x p^8`. The constant gives some wiggle room at low order. Can this be reliably computed (my knowledge of floating point arithmetic is not fantastic)? At degree 12 the error is already on the order of `2.5e-10`. If you're comfortable with this t

[2016-02-12 21:52] bangerth commented on #2176
This is reasonable -- I don't think any sensible person would use more than 12th order Nedelec elements.

Why a private function? Why not
[code]
?

[2016-02-12 22:07] jppelteret commented on #2176
Sorry, the question was more about adding a class member function since the computation for the prolongation and restriction matrices (presumably) should use the same tolerance. I realised afterwards that this was not the best idea and that I should just put this function in an anonymous namespace. This is my final implementation which bounds the error better:
[code]
Full disclosure: After my modi

[2016-02-12 22:10] bangerth commented on #2176
On 02/12/2016 04:07 PM, jppelteret wrote:

Yes, looks good.

[2016-02-12 22:23] #2176 closed

[2016-02-13 08:51] kronbichler commented on #2176
I know I'm late to the party, but I would like to add the following comment: It seems the condition number grows exponentially with the polynomial degree. This is a strong indication that the basis is ill-conditioned and should not be used. Even though you can fix the constructor with the chosen approach, you are very likely to get problems to converge iterative solvers and the like down the road

[2016-02-13 14:17] drwells opened #2180 "Allow for code gallery entries to specify project names"
Right now we just use the folder name to generate the name of the project, so we have three different formats and it looks a bit odd.

We could probably fix this by allowing an optional file under `doc/` containing a printable name of the project.

[2016-02-13 21:55] #2174 closed

[2016-02-13 22:13] bangerth commented on #2180
Good point. If you create a pull request for the existing code gallery programs, then I'll create the patch to make use of it in generating the pages and the connection graph.

[2016-02-14 17:17] tjhei opened #2192 "gcc 4.8 and pedantic warnings in headers"
I have a problem with gcc 4.8.4 without cxx11. It generates a bunch of warnings in boost of the form
[code]
and I can not suppress them with adding ``DEAL_II_DISABLE_EXTRA_DIAGNOSTICS`` even when adding
[code]
to that macro. I guess pedantic warnings can not be suppressed this way? The only other option I can think of is not enabling ``-pedantic`` by default. Thoughts?

[2016-02-14 17:31] tamiko commented on #2192
Throw non-c++11 support out after the release? :-]

[2016-02-14 17:32] tamiko commented on #2192
I don't think that it is possible to disable ```-pedantic``` via a pragma directive.

[2016-02-15 01:33] tjhei commented on #2192
So what do we do? I find the number of warning I get unacceptable, so my vote would be to disable pedantic.

[2016-02-15 03:17] drwells commented on #2192
Would it be acceptable to disable `pedantic` when `DEAL_II_WITH_CXX11` is not `ON`? Some brief CMake tests imply that we check for C++11 compatibility before setting the `pedantic` flag. Alternatively, we could remove the flag if C++11 is not turned on at some later point in configuration.

Both of these rely on the order in which the CMake tests are run so I don't know which is more feasible.

[2016-02-15 08:57] jppelteret commented on #2176
Hi @kronbichler . Thanks for your insights into this issue. From what you've stated here I think that we've taken the wrong approach in (not) dealing with the problem and I'm comfortable with this PR being reverted. I'm sure that @bangerth would agree. I came across this issue by chance as part of my first look into the Nedelec ecosystem in deal.ii. At this point I'm only trying to determine if I

[2016-02-15 12:37] kronbichler commented on #2176
@jppelteret No, the polynomials 'Legendre' should be fine and this constructor seems appropriate. My idea of using Gauss-Lobatto support points was more related to a finite element with a nodal basis. The polynomials used in `PolynomialsNedelec` are different from that. In particular, the choice of basis looks alright at first sight. I guess the problem is rather that the polynomial coefficients (

[2016-02-15 13:24] tjhei opened #2196 "boost 1.54 and enable_if"
It looks like boost 1.54 doesn't have core/enable_if.hpp but utility/enable_if.hpp, but we require the former in base/std_cxx11/type_traits.h (no cxx11 build).
Options:
1. require a newer version of boost (at least 1.56?)?
2. version specific ifdef in base/std_cxx11/type_traits.h

[2016-02-15 14:19] jppelteret commented on #2176
Thanks again @kronbichler for the detailed and insightful comment. I really appreciate it! As you've inferred at the end, this is definitely out of the scope of what I am interested in (and probably best left to someone with more knowledge on numerical methods applied to FEM). Hopefully what you've mentioned here will be useful for the person who chooses to take on this task! In the mean time I'm

[2016-02-15 14:20] davydden opened #2198 "update_once / update_each is still in documentation"
AFAIK, update_once() / update_each() are gone both from FE and Mapping classes, see https://github.com/dealii/dealii/pull/2113 https://github.com/dealii/dealii/pull/1838 https://github.com/dealii/dealii/issues/1198 .

These methods are still discussed in https://www.dealii.org/developer/doxygen/deal.II/group__UpdateFlags.html .

I only report the issue as i think @bangerth would be the best person

[2016-02-15 14:21] davydden commented on #2198
btw, it seems there are two pages which discuss the same thing: https://www.dealii.org/developer/doxygen/deal.II/group__FE__vs__Mapping__vs__FEValues.html

[2016-02-15 14:22] davydden commented on #2198
maybe one just simply have to go?

[2016-02-15 14:23] davydden commented on #2176
i think it's better to discuss the issues in documentation directly. Github might not exist tomorrow.

[2016-02-15 14:44] kronbichler commented on #2176
@davydden is right. I would vote for putting the long comments comments alongside the respective implementation of `create_polynomials` of `polynomials_nedelec.cc` (my comment seems too ad-hoc for making it straight into the user-visible documentation). The short version according to `Warning: The evaluation of Legendre/Lobatto polynomials becomes inaccurate at polynomial degrees larger than 10.`

[2016-02-15 15:04] bangerth commented on #2192
Alternatively, set `-pedantic` in the same place where you switch on CXX11. I think that's a reasonable approach.

The point of warnings is to alert us to potential risks in our code base. For this, it is not necessary to have them enabled for *every* combination of OS, compiler, external library, etc, but for sufficiently many that we notice these cases. I'm not opposed to disabling `-pedantic` i

[2016-02-15 15:42] bangerth commented on #2196
Fixed by #2197.

[2016-02-15 15:42] #2196 closed

[2016-02-15 15:42] bangerth commented on #2196
I think requiring a newer version of BOOST makes sense as well. What's the current minimum version?

[2016-02-15 15:44] bangerth opened #2199 "Up the minimum acceptable version of BOOST"
#2196 (and the fix in #2197) reports a case where BOOST 1.54 is trouble because a header has moved location since then. We should consider upping the minimum acceptable version of BOOST.

[2016-02-15 15:46] bangerth commented on #2196
See also #2199 for a more general discussion.

[2016-02-15 15:49] bangerth opened #2200 "Use full name of code gallery programs"
We currently only use the directory name of code gallery examples for the list of code gallery programs, and in the connection graph. Since https://github.com/dealii/code-gallery/pull/16 there is now also a "real" name of each program in `doc/entry-name` that should be used.

This should also be added to the list of requirements at http://www.dealii.org/code-gallery.html .

[2016-02-15 16:47] bangerth commented on #2198
Indeed. Will get the outdated reference done before the next release.

I had noticed that there are two pages a good while after writing the second one. I may have to take a look at how they differ and if they could be made to discuss different issues (or should just be combined).

[2016-02-16 03:03] drwells commented on #2180
Superceded by #2200 and implemented (on just the code gallery side) by dealii/code-gallery#16.

[2016-02-16 03:03] #2180 closed

[2016-02-16 03:07] bangerth commented on #2180
Ah, didn't mean to step on you there. I just didn't remember we had this one.

[2016-02-16 13:55] tjhei commented on #1938
I am through with the release steps and I just pushed a pre-release at https://github.com/dealii/dealii/releases/tag/v8.4.0-rc2

The only thing left is the announcement and release paper, I think.

[2016-02-16 14:02] tjhei opened #2203 "intel 16.0.1 issues"
Several tests are failing with intel 16 that were fine with intel 15, see http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=1069

Especially scary are random floating point exceptions inside fe/curl_curl_01.debug (see http://cdash.kyomu.43-1.org/testDetails.php?test=1818226&build=1069) that are related to multithreading in the FE_Nedelec constructor. The test fails about 10% of the time

[2016-02-16 14:07] bangerth commented on #2203
Can you get a backtrace on the curl_curl_01 testcase?

[2016-02-16 14:19] tjhei commented on #2203
Will try, but it only crashes inside solve so I think this is not particularly useful.

[2016-02-16 14:47] drwells commented on #2180
It's not a problem (and I do not feel tepped on). #2200 is more specific.

[2016-02-16 16:41] davydden commented on #1496
i hit that issue again while trying to implement something. It took a while to recall what's happening and why. A workaround could be to delete those constraints from constraint matrix, but this is dirty...

The issue is indeed related to the fact that we have a single matrix to treat/introduce constraints.
In scenarios depicted above we end up with
`case FiniteElementDomination::either_element_ca

[2016-02-16 16:56] bangerth commented on #1496
I'll see whether I can get this done before the next release. But I think the issue is not trivial because there are multiple ways to create a vector FE. FESystem is only one, but you could in principle write your own implementation that works exactly like FESystem but is called differently; in those cases, the implementation of constraints should continue to work the same way it always did, even

[2016-02-16 17:29] davydden commented on #1496
true. The approach I had in mind won't work for a general case. Well, then i guess one has shift the logic into component-by-component basis, introduce interfaces for domination for a given component, projection matrices, etc.

[2016-02-16 18:46] bangerth commented on #1496
Yes, though you can't separate the components of, say, a Raviart-Thomas element. You'll have to work with "blocks". Which of course also yields the question of how to form constraints between, say, a Raviart-Thomas element and a Q(p)^dim...

[2016-02-17 11:03] jppelteret opened #2206 "MappingQEulerian produces strange results in 2-d"
From testing #2205, I've found that using MappingQEularian in conjunction with DataOut in 2-d produces an incompatible displacement field. Attached is an example of this result that illustrates tearing that is not really there. This is a single material with the geometry formed by the GridGenerator::hyper_rectangle function, so all elements are definitely properly connected. Applying the warp func

[2016-02-17 12:09] bangerth commented on #2206
Interesting. Is the displacement field based on a discontinuous finite element?

[2016-02-17 12:45] jppelteret commented on #2206
No it is not - we use `FE_Q`'s. Also this works perfectly fine in 3-d, which is why I hadn't noticed it before :-/

[2016-02-17 14:27] drwells commented on #2200
Closed by #2204.

[2016-02-17 23:55] bangerth commented on #2200
I still have to change the top-level page, so I'll reopen for now.

[2016-02-18 14:55] bangerth commented on #2206
What's the way to reproduce this problem?

[2016-02-18 16:11] jppelteret commented on #2206
I'll see if I can bash out a small testcase later this evening :-)

[2016-02-19 04:09] bangerth commented on #2200
Related to #1314 .

[2016-02-19 04:15] bangerth opened #2208 "Code gallery repository is not updated correctly?"
Looking at https://dealii.org/developer/doxygen/deal.II/CodeGallery.html right now, the entry names of the gallery programs are not printed. I suppose this is because the script that updates the website pulls the latest version of the deal.II library (with the script that generates this page) but does not *also update* the checked out version of the code-gallery sub-repository.

@guidokanschat , c

[2016-02-19 04:15] bangerth commented on #2200
I added the the blurb to the code-gallery website.

The problem is that it doesn't come out right at https://dealii.org/developer/doxygen/deal.II/CodeGallery.html , presumably because the code gallery isn't updated. See #2208.

[2016-02-19 04:15] #2200 closed

[2016-02-19 04:15] bangerth commented on #2208
Related to #1314

[2016-02-19 16:57] jppelteret commented on #2206
Unfortunately I haven't been able to reproduce the issue thus far. The test below works for polynomial degree 1 and 2. I can't imagine that the pathology is somehow specifically related to the solution generated in `step-44`. Maybe what I'll try next is to have a multi-component `DoFHandler` as is the case in that tutorial.

[code]

[2016-02-19 17:03] bangerth commented on #2208
Fixed.

[2016-02-19 17:03] #2208 closed

[2016-02-19 17:30] bangerth commented on #2206
Thanks for trying to come up with something that helps us reproduce this in a smaller setting. From the pictures, is it conceivable that in the output the y-coordinate of every point is computed correctly but the x-coordinate is not? Just trying to poke in the dark here...

[2016-02-19 17:36] bangerth commented on #2033
@davydden -- can you summarize what's left to merge? I fear that the longer we wait with this, the harder it will become to apply these patches.

[2016-02-19 17:37] bangerth commented on #1894
I should add that all of the work above is necessary because we have to separate real and imaginary parts of complex numbers once we want to create graphical output -- no graphical output file I know of understands complex numbers, so we will have to output them as a pair of real values.

[2016-02-19 18:14] davydden commented on #2033
as far as i recall, the only useful thing left are unit tests.
All the important stuff, hopefully, was refactored and introduced to deal.II in spring last year.
One would need to try compiling deal.ii with, say, complex PETSc and mask, for now, what won't compile (like DataOut).

[2016-02-19 18:35] oneliefleft commented on #2033
@davydden We should mask DataOut and get on with the rest. I managed a
dirty hack to get DataOut working with complex a few years ago, but never
patched it in. I can try to revive that code, but I can not promise it will
happen any time soon. :-( I am working on my thesis... :-)

I will check the the compilation of deal.II with complex PETSc during the
next week (SLEPc is easy). That I can promise

[2016-02-19 18:38] davydden commented on #2033
i think the easiest way to mask is to have explicit instantiations for non-working classes / functions when complex-valued PETSc is there.

[2016-02-19 18:47] oneliefleft commented on #2033
Originally I masked functions or classes (that don't work) by using #ifdef
macros. Explicit instantiations that throw an exception is a nice idea.
What do we think about that?

2016-02-19 19:38 GMT+01:00 Denis Davydov <notifications@github.com>:

[2016-02-19 18:53] bangerth commented on #2033
On 02/19/2016 12:47 PM, Toby D. Young wrote:

I think that's a good idea that at least lets us pass the compilation
phase. I'm still in favor of the full plan laid out in #1894, though.

[2016-02-19 18:55] davydden commented on #2033
phase. I'm still in favor of the full plan laid out in #1894, though.

those are not mutually exclusive ;-) I would start with compilation and create issues for everything which does not work to be fixed later.

[2016-02-19 18:57] davydden commented on #2033
In  the last working version in my branch I modified configuration system to split vectors. That was done partly to mask things which do not work (i modified instantiation scripts for some classes to run for real-valued vectors only).

Thinking about it now, explicit instantiation should be easier way of doing it.

[2016-02-19 20:47] tjhei commented on #1523
Just a quick update:
We have been steadily testing and improving https://github.com/koecher/candi and we are now at a point were it is very useful. Thanks to @koecher much of the work. I started using it for all my systems for example.

There are many things left to do:
- hosting it under something like github.com/dealii/candi
- promote on download page
- set up a testing framework for the most co

[2016-02-19 21:08] tjhei opened #2209 "avoid duplicated data in parallel computations"
When using a distributed::Triangulation especially with a large coarse mesh, large amounts of memory are wasted. This is true especially when using an MPI only approach, because a single node will have many (redundant) copies of the data.
There are several things to do here:
- First investigate current memory consumption (p4est, Triangulation, DoFHandler, etc.)
- Use MPI_Win_allocate_shared to all

[2016-02-19 21:13] bangerth commented on #2209
We did part of this in the distributed paper and found that the number of artificial cells is actually quite small. This may not be the case in situations where the coarse mesh has tens of thousands of cells, but that's probably a rare case.

Not storing indices for artificial cells is also something @kronbichler suggested in #2000 and is a no-brainer.

[2016-02-19 21:29] bangerth opened #2210 "[Meta] Removal of deprecated functions and classes for 8.5"
This issue is a catch-all to link to pull requests that remove deprecated functions and classes in the 8.5 release time frame.

[2016-02-19 21:38] tjhei commented on #2203
No, because it is very hard to reproduce (only under heavy load and only one in hundreds of runs). I also couldn't get gdb to work with icc. Grr.
On a different note, Intel just released 16.0.2, which fixed this bug. :-/

Should we blacklist 16.0.1? Or just give up?

(please leave this bug open, I am retesting everything with 16.0.2 now)

[2016-02-19 21:45] tjhei commented on #2209
Yes, except when your coarse mesh is very large. Martin has cases where you end up with millions of artificial coarse cells.

[2016-02-19 21:48] bangerth commented on #2203
On 02/19/2016 03:38 PM, Timo Heister wrote:

They have their own debugger ('idb'?).

Let's just ignore it.

[2016-02-19 21:50] tamiko commented on #2203
On Fri, Feb 19, 2016, at 15:38 CST, Timo Heister <notifications@github.com> wrote:

I don't think it is feasible to provide elaborate workarounds for
serious compiler bugs (if at all possible).

Let's just FATAL_ERROR on this version in check_03_compiler_bugs.cmake
and call it a day. Everyone who has a license for 16.0.1 can upgrade to
16.0.2 anyway.

OK.

[2016-02-19 22:09] koecher commented on #1523
Thx Timo. I would be proud if we can do so.

And I see the same points, we have a very good basis installer, which needs a lot more documentation and HPC platforms.

[2016-02-20 00:34] tjhei commented on #2203
Okay, updating to 16.0.2 leaves us with several other weird issues (only in release mode):
http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=1290
If we ignore the direct solver, linear operator, and rounding issues, we still have
- optimization bugs: base/anisotropic_1.release, bits/chunk_sparse_matrix_vector_05.release, bits/chunk_sparse_matrix_vector_06.release
- multigrid bug: multigr

[2016-02-21 13:42] tjhei opened #2212 "periodicity handling in Triangulation"
The implementation of periodic domains is somewhat inconsistent and there is currently no easy way to find a neighboring cell across a periodic boundary. We should probably either support periodicity correctly in the Triangulation so that neighbor() works correctly or at least implement a nice way to query if a face is on a periodic boundary and allow getting at the neighbor.

[2016-02-21 13:43] tjhei commented on #2212
also see https://github.com/dealii/dealii/issues/2212

[2016-02-21 14:24] #888 closed

[2016-02-21 16:59] davydden commented on #2033
I started looking at it... Explicit instantiations are not enough to fix it, i will bring the modified `/template-arguments.in` and create a PR, hopefully soon...

[2016-02-22 12:57] davydden commented on #2033
ok, i have a compilable/linkable version of deal.ii with complex-valued PETSc.
Will be creating PRs with necessary changes now...

Here are things which are "masked" (will create a PR with the masked things after all proper fixes are merged) :

- [ ] MappingQ1Eulerian and MappingQEulerian (i think here it's a must. though...)
- [ ] max_element() and min_element() in grid_refinement.cc
- [ ] DataEn

[2016-02-22 22:17] drwells opened #2228 "GCC build failures"
I am now getting multiple compilation problems after 519d8b9b6d was merged of the form

[code]

that seem to originate in `point_value_history.cc`.

Edit: fixed formatting

[2016-02-22 22:17] davydden commented on #2228
yeap, i know already, fixing it now.... :smile:

[2016-02-22 22:18] drwells commented on #2228
that was *really* quick.

[2016-02-22 22:19] davydden commented on #2228
i had a typo in `template-arguments.in` so I though i instantiate something, whereas i did not => missed how I introduced this bug.

[2016-02-22 23:31] #2228 closed

[2016-02-23 11:16] bangerth opened #2231 "step-20 no longer builds"
I don't have the time right now (due to travel) to look into this, but step-20 no longer builds on the tester: http://cdash.kyomu.43-1.org/testDetails.php?test=2143279&build=1344

@drwells , I think this was due to your patch. Can you take a look?

[2016-02-23 11:20] bangerth opened #2232 "Test failure in FEValuesBase<dim, spacedim>::get_function_gradients"
Not sure where this started (and don't have the time to check), but the test currently fails on the tester with this exception:
[code]
Should be easy to track down.

Reference here: http://cdash.kyomu.43-1.org/testDetails.php?test=2143281&build=1344

[2016-02-23 11:21] bangerth opened #2233 "Build failure"
Current mainline doesn't build on 'tester':
[code]

@davydden -- I think this is fallout from your patches. Can you take a look?

[2016-02-23 12:38] davydden commented on #2233
both complex-valued and real-valued versions with all dependencies build fine with
[code]
I will check with GCC on Linux now to hopefully reproduce the issue...

[2016-02-23 13:03] davydden commented on #2233
funny enough GCC 4.8 compiled fine, but i think i fixed it (see PR above).

[2016-02-23 13:04] #2233 closed

[2016-02-23 13:05] kronbichler commented on #2233
Let's see if the tester is now happy.

[2016-02-23 13:10] davydden commented on #2232
could be related to https://github.com/dealii/dealii/pull/2219 . I will have a look...

[2016-02-23 15:32] #2232 closed

[2016-02-23 15:39] davydden opened #2236 "fix VectorTools::project for template arguments"
previous PR https://github.com/dealii/dealii/pull/2217 only partly implements what has to be done.
It broke `fe_fieldfunction_02` and `fe_fieldfunction_02_vector`.

[2016-02-23 16:23] kronbichler opened #2237 "FE_Bernstein lacks proper get_interpolation_matrix() implementation"
As reported on the mailing list, FE_Bernstein fails to interpolate data between different meshes. The reason for this is that FE_Bernstein::get_interpolation_matrix() is not implemented in the class itself but inherited from FE_Q_Base which in turn access the unit point support points. FE_Bernstein does not define support points afaik, so there is no such data and thus an invalid access is done. T

[2016-02-23 17:57] lambe commented on #2237
Here's a test case:
[Bernstein_refine_test.zip](https://github.com/dealii/dealii/files/143111/Bernstein_refine_test.zip)

The code runs without issue if we set fe_density in the elasticProblem class to be of type FE_Q<dim>, but we really want it to be FE_Bernstein<dim>. The error lies in the VectorTools::interpolate_to_different_mesh() function.

(Compiling the example can be done with the standar

[2016-02-23 18:09] drwells commented on #2231
whoops, it looks like that must have been me. I'll take a look.

[2016-02-23 18:17] #2231 closed

[2016-02-23 18:35] luca-heltai commented on #2237
`VectorTools::interpolate_to_different_mesh` should not work on non-interpolatory finite elements. In this specific case, I think it could be made to work following the same principles implemented in `VectorTools::get_position_vector`, but this would be a hack. Our definition of "interpolation" in the deal.II library is not compatible with FE_Bernstein (it assumes that u(xi) = u_i for some support

[2016-02-23 19:22] bangerth commented on #2237
But aren't we trying to interpolate *off* a Bernstein FE and *onto* an FE_Q? That should work. The other way around may not.

[2016-02-23 19:57] lambe commented on #2237
@luca-heltai, @bangerth,  I'm basically trying to define some material properties that are location-dependent and using the deal.ii machinery to do a continuous interpolation of these properties over the domain of interest. The Bernstein FEs are necessary in this application because the polynomials stay strictly between zero and one, so I don't have to worry about unrealistic values of these prope

[2016-02-23 20:24] drwells commented on #2236
I am also getting multiple linker errors of the sort

[code]

(this is in my own code). Is this related?

[2016-02-23 20:27] davydden commented on #2236
yes. I am sorry for the issue. I was to quick to think that it's working, will fix ASAP.

[2016-02-23 20:29] drwells commented on #2236
serves me right for relying on `master` to do my research :)

[2016-02-23 23:26] bangerth commented on #1984
For the record, I think option 3 is the most useful one. It doesn't require any external packages, and using no preconditioner at all should work just fine.

[2016-02-24 09:03] luca-heltai commented on #2237
I think `FEFieldFunction` will work as a first attempt. It will be slower than performing the interpolation using `VectorTools` functions. In the mean time (next week) I can look into this with Wolfgang.

[2016-02-24 09:18] davydden commented on #2236
**update**:
The tests `bits/fe_field_function_02` and `bits/fe_field_function_02_vector` are ok now.
Hopefully i made the necessary changes, which cover
[code]
I will try running some other unit tests and see if some instantiations are missing. If all is good, i will be splitting the changes in several PRs to fix the mess i introduced.

[2016-02-24 09:33] davydden commented on #2236
Run tests:
- [x]  `numerics` (`100% tests passed, 0 tests failed out of 259`)
- [ ]  `dofs`
- [ ]  `vector_tools`

[2016-02-24 13:46] agrayver commented on #1984
Just wonder if it would be possible to do this projection cell-wise? Like it is done in p_b_v_curl_conforming.

[2016-02-24 14:01] bangerth commented on #1984
Only if the shape functions defined on faces live only on one cell. So you can do it for DG spaces, for example. Otherwise you won't get the same value for a shared degree of freedom from the two or more adjacent faces.

[2016-02-26 21:17] bangerth opened #2247 "Deprecate FunctionMap"
The discussion in #2241 shows that `FunctionMap<...>::type` is quite generally a bad idea. First, it doesn't provide much clarity what type this actually refers to when reading the code -- one needs to look it up. This is relevant because, unlike things like `std::vector::iterator` or `Triangulation::active_cell_iterator`, one actually needs to know what `FunctionMap::type` is if one wants to use

[2016-02-27 07:43] #2236 closed

[2016-02-28 12:49] davydden opened #2252 "invert mass matrix with complex-valued RHS"
https://github.com/dealii/dealii/pull/2249 extended VectorTools projection functions to complex-valued vectors up to the step when the mass matrix has to be inverted with complex-valued RHS. What remains is either to extend CG solver to that case or write/use another solver.

In reference to https://github.com/dealii/dealii/issues/2033

[2016-02-28 12:56] davydden opened #2253 "extend ConstraintMatrix to complex-valued case"
Constraint matrix has to be extended to at least templated inhomogeneity to allow complex-valued boundary conditions. Although one may come up with cases when values in the matrix could also be complex-valued (fancy periodic boundary conditions), let's ignore this case for now to keep things simple.

In reference to https://github.com/dealii/dealii/issues/2033

[2016-02-28 13:03] davydden opened #2255 "fix max_element() and min_element() in grid_refinement for complex-valued vectors"
Currently these are masked with `Assert(false, ExcNotImplemented())`.

In reference to https://github.com/dealii/dealii/issues/2033

[2016-02-28 13:04] davydden commented on #1894
in reference to https://github.com/dealii/dealii/issues/2033

[2016-02-28 13:05] davydden commented on #2033
i created issues for critical modifications which are still to be done.

[2016-02-28 14:14] bangerth commented on #2255
I think this is the wrong way to go. The `GridRefinement` functions should only get real-valued vectors of refinement indicators. For refinement, one needs to be able to *compare* indicators, but the complex numbers are not comparable (and it wouldn't be clear in any case what that would mean).

[2016-02-28 14:23] bangerth commented on #1760
See also #2033 .

[2016-02-28 14:23] bangerth commented on #2253
This is a duplicate of #1760.

[2016-02-28 14:23] #2253 closed

[2016-02-28 14:28] davydden commented on #1760
so what is the consensus so far, do we introduce a single template for both inhomogeneity and matrix elements?

@tamiko did you pursue this issue? That's one of the few issues left which prevent complex-valued PETSc from working in full with deal.ii.

[2016-02-28 16:04] bangerth opened #2256 "Document that Manifold doesn't actually use its 'dim' template argument"
@luca-heltai -- is it correct that neither `Manifold` not `FlatManifold` actually use their `dim` template argument? My interpretation is that they both just describe general manifolds for which it is not important what their dimensionality actually is. (This does not imply that this is not an issue for derived classes.) In other words, these two classes only have these template arguments because

[2016-02-28 16:17] davydden commented on #2255
you are right! i did not pay much attention to the context of the compilation error.

[2016-02-28 16:19] luca-heltai commented on #2256
Yes, that is correct. I think this is something we should address when we remove backward compatibility from Manifold. In my opinion, we should remove the additional template parameter from this class. When I implemented this the first time, I did not manage to make it work without the `dim` template. I don't remember any more what went wrong. We can look into this next week...

[2016-02-28 17:28] tamiko commented on #2199
The current minimum version is 1.48. What new version minimal version do you have in mind?

[2016-02-28 17:30] tamiko commented on #2192
This is fixed by #2197 if I'm not mistaken.

[2016-02-28 17:30] #2192 closed

[2016-02-28 17:35] tamiko commented on #2167
This is not an easy task. :-/

I don't see any obvious way to achieve this and still support all possible installation scenarios.
I'll have a look at whether we can make a best-effort guess with the configuration files we already parse.

[2016-02-28 18:06] #2255 closed

[2016-02-28 18:09] bangerth commented on #2256
We can think about it. I don't mind leaving the argument. It's not that leaving it in makes our lives actively more complicated.

[2016-02-28 18:18] bangerth opened #2261 "Replace boost::math::iround in lapack_full_matrix.cc"
In `lapack_full_matrix.cc`, we use `boost::math::iround()` in a number of places. Unfortunately, this kills FreeBSD support:
[code]
This should be simple enough to fix -- we could go back to `static_cast<int>` or use one of the standard C functions for this purpose.

@drwells -- this was introduced as part of #1895. Do you recall what problem exactly you were trying to solve?

[2016-02-28 18:20] bangerth commented on #2199
One past the last version we blacklist or for which we know for other reasons that it gives us trouble.

[2016-02-28 18:33] drwells commented on #2261
I switched to `iround` to make it clear that we want the integer value provided by `work[0]`.

`static_cast<int>(work[0] + 1)` should work just as well: the value is the length of a work array and making it one longer shouldn't matter. I don't think the `+ 1` (or rounding) should make a difference but I'd prefer to be a bit conservative. I'll fix this.

[2016-02-28 18:37] tamiko commented on #2261
@drwells: Before you spend any time on this, let me try to compile in my freebsd vm without the offending call.

[2016-02-28 18:59] bangerth commented on #2167
Shouldn't SLEPc store somewhere what PETSc it uses? Or is this never made explicit inside the SLEPc installation?

[2016-02-28 19:51] tamiko commented on #2261
@drwells This is the only compilation issue I have on freebsd. [1]

[1] I have to resolve a strange linker problem in the VM - but this might be unrelated to deal.II.

[2016-02-28 19:51] tamiko commented on #2261
[code]

[2016-02-28 20:46] oneliefleft commented on #2167
What you mean by, "what PETSc it uses"? If you mean version, no it is not
stored, but SLEPc only compiles with the same major and minor versions as
PETSc - if they do not match, SLWPc throws an exception at configure time.

Right?

2016-02-28 19:59 GMT+01:00 Wolfgang Bangerth <notifications@github.com>:

[2016-02-28 20:51] guidokanschat commented on #2261
Great. Thanks!

[2016-02-28 21:03] bangerth commented on #2167
I expected that in some SLEPc configuration file it records against which PETSc installation it was compiled. That may not be true. But it must have accessed *some* PETSc installation's header files and libraries during SLEPc compilation and installation.

[2016-02-28 22:26] tamiko commented on #2261
I will give a compilation on freebsd a second try.

[2016-02-28 22:26] #2261 closed

[2016-02-29 00:53] oneliefleft commented on #2167
Yes, I see. As far as I know SLEPc does not record that information. It
accesses the same info (from petscconf.h) as deal.ii does at configure time
and then stores additional information (in slepcconf.h). Sorry to be a pain
- what was the original problem that this thread concerns? What do we want
to achieve?

2016-02-28 22:03 GMT+01:00 Wolfgang Bangerth <notifications@github.com>:

[2016-02-29 03:17] Rombur opened #2265 "Make deal.II compile on FreeBSD"
deal doesn't compile on FreeBSD. I get this weird error at linking (probably the same as @tamiko in #2261. I will look into this tomorrow

[100%] Linking CXX shared library ../lib/libdeal_II.g.so
numerics/CMakeFiles/obj_numerics.debug.dir/matrix_tools.cc.o: file not recognized: File format not recognized
CC: error: linker command failed with exit code 1 (use -v to see invocation)
--- lib/libdeal_I

[2016-02-29 03:38] tamiko commented on #2265
Same here. :-/

[2016-02-29 04:43] tamiko commented on #2265
@Rombur Release mode compiles fine, it is only the debug library that has problems.

My guess is that with debug symbols and without optimization the ```matrix_tools.cc.o``` object hits some limits for the freebsd linker.

[2016-02-29 07:41] davydden commented on #2167
i agree with @tamiko , unfortunately it is not straight forward to do. The problem is that SLEPc, AFAIK, does not record in any config file what PETSc it built against. Until something changes in this behaviour, that issue is a `wontfix`.

[2016-02-29 07:45] davydden commented on #2167
i wrote to the mailing list to ask for this feature and gave a link to this discussion.

[2016-02-29 07:56] bangerth commented on #2167
Given that it's not trivial and that the issue is obscure and unlikely to happen to a lot of our users, my vote would be to not sink any more resources into it. What do you think,  @tjheister?

[2016-02-29 08:49] bangerth opened #2266 "Change type of 'dim' to 'unsigned int'?"
I got an email with an interesting question: why are we consistent all throughout deal.II in using `unsigned int` for quantities that are logically non-negative, except in the type chosen for `dim`, `spacedim`, etc?

Ultimately, I think it really boils down to laziness back many years ago. Should we change this? It makes no actual difference, I believe, and the number of places that would become i

[2016-02-29 09:01] bangerth commented on #2265
I've seen this kind of error happen if a compile job is killed without the ability to recover (e.g., because it runs out of memory, or a kill -9). In that case, it leaves a written object file on disk that is newer than the source files, but the object file is not valid of course. The `make` job terminates, but if you restart it, the object file is not remade because it is newer than the source fi

[2016-02-29 13:01] bangerth opened #2267 "List pi-DoMUS under "Applications" at dealii.org"
@luca-heltai -- if you give me a web address, then I'll gladly list pi-DoMUS there.

[2016-02-29 13:05] Rombur commented on #2265
I was doing a fresh install with only 1 processor. I will try to split the ```.cc``` and the ```.inst.in`` files tonight.

[2016-02-29 13:21] bangerth opened #2268 "Add action to ParameterHandler::declare_parameter"
@luca-heltai 's group has a nice feature in most of their classes where they don't split declaring and parsing parameters for `ParameterHandler` into two functions, but where it all happens in one function call. In their code, basically what happens is that they call a function of the kind

[code]

This declares a parameter in `prm` and stores a map between the so-declared parameter and the addres

[2016-02-29 13:30] bangerth opened #2269 "Fallout from complex PETSc changes"
Related to the patches recently merged for #2033, there are a couple of tests that now fail and/or produce different answers. See here: http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=1526

@davydden -- would you be willing to take a look?

[2016-02-29 13:31] davydden commented on #2269
will do...

[2016-02-29 13:31] bangerth commented on #2269
Oh, that was quick! :-)

[2016-02-29 14:13] tjhei commented on #2268
I like the idea of removing some of the duplication in declaring/parsing of parameters, but I think your suggestion is too complicated. I wonder if we can have the user define a function that will be called twice, first to declare and then later to parse. That would be in a way similar to boost::serialization where the same function can handle serialization and deserialization. Maybe something lik

[2016-02-29 14:15] tjhei commented on #2167
I would assume that we could check if our libpetsc is the same one slepc pulls in. But I agree, we have plenty of other stuff to do.

[2016-02-29 14:17] tamiko commented on #2265
@bangerth ```matrix_tools.cc.o``` is by far the largest object:
[code]
(This is for release mode, but the same holds true for debug mode.)

[2016-02-29 14:19] tjhei commented on #2265
I am happy to make a PR for splitting the instantiations if you want. Let me know.

[2016-02-29 14:22] tamiko commented on #2265
@tjhei This would be perfect :-)

[2016-02-29 14:23] Rombur commented on #2268
Personally, I have starting to switch from ParameterHandler to boost::property_tree (http://www.boost.org/doc/libs/1_60_0/doc/html/property_tree/tutorial.html). It's a lot easier to use. You just call one function to parse the input file and when you need a variable you just need to do ```get```.  You don't need to declare anything. ```get``` can deduce the type of the variable or you can tell it

[2016-02-29 14:36] tamiko commented on #2265
Debug mode values:
[code]

@bangerth I recompiled everything once more. Just for you. Same result.

[2016-02-29 14:45] luca-heltai commented on #2267
Here it is:

http://github.com/mathLab/pi-DoMUS

[2016-02-29 16:09] bangerth commented on #2265
Wow, 272 MB for a single file!

[2016-02-29 16:20] davydden commented on #2265
i contributed to the size in recent complex-value-related PRs. Unfortunately, all these instantiations (mostly mass matrix in volume or on boundary) are needed to support projection for different vector types.

[2016-02-29 17:59] davydden commented on #2167
from Jose Roman on PETSc mailing list

[2016-02-29 18:03] davydden commented on #2269
i locally made those pass but `hp/matrices_hp`. This one is tricky as it fails on diff stage
[code]
Looks like a roundoff errors. I dig where it comes from...

[2016-02-29 18:51] tjhei commented on #2265
can you test if #2273 helps?

[2016-02-29 19:39] tamiko commented on #2265
It does.
[code]

[2016-02-29 19:42] tamiko commented on #2265
@tjhei I'll run a full build test for freebsd now.

[2016-02-29 20:02] tamiko commented on #2265
http://cdash.kyomu.43-1.org/buildSummary.php?buildid=1543

[2016-02-29 20:40] tjhei commented on #2265
Looks good! :+1:

[2016-02-29 20:40] #2265 closed

[2016-02-29 21:03] bangerth commented on #2167
Well, that's asking for trouble. They're stepping on the PETSc namespace this way. They should name the variable `SLEPC_PETSC_DIR` and then let users figure out whether that equals `PETSC_DIR`.

[2016-02-29 21:04] bangerth commented on #2167
Given @tjhei 's comment, let's close this and not try too hard to come up with a solution at this point. If SLEPc at one point in the future has a mechanism to address this, we can always reopen.

[2016-02-29 21:04] #2167 closed

[2016-02-29 21:11] bangerth commented on #2269
The correct number if likely 3.375 (=3+3/8). The solution is to increase the output precision by one digit. Will work on a patch.

[2016-02-29 21:14] davydden commented on #2269
i think it must be related to https://github.com/dealii/dealii/pull/2249 and/or https://github.com/dealii/dealii/pull/2254 where I changed the order of multiplications for assembly.

[2016-02-29 21:18] bangerth commented on #2267
I added the link. You had a nice intro page for deal.2lkit that outlined what it is and what it provides. You may want to extend your current README.md a little bit by providing at least a paragraph describing the intention and extent of pi-DoMUS. Also, there is a link to the github.io homepage of the project at the top of the page we now link to, but that link is not present in the text generated

[2016-02-29 21:20] tjhei commented on #1938
With all the changes we just made, I think we need another RC. I will do that later.

[2016-02-29 21:20] #2267 closed

[2016-02-29 21:34] #2269 closed

[2016-02-29 22:00] bangerth commented on #2268
On 02/29/2016 08:13 AM, Timo Heister wrote:

Well, I think that's not much clearer either. At the very least I find the
code quite unreadable because the same function call does something very
different in different contexts. In practice you would also often have to
write something like
|
   my_var = Utilities::split_string (Utilities::split_string(
      prm.declare (...), ","), ";");
|
which I f

[2016-02-29 22:04] bangerth commented on #2268
You know that ParameterHandler internally uses boost::property_tree, right? ;-)

We've had the conversation on numerous occasions whether it is worthwhile
declaring parameters or not, but I think that it keeps with the spirit of
deal.II to have checks and assertions in many places so that if you have an
input file in which you have misspelled a parameter, or in which you give a
parameter a value t

[2016-03-01 13:07] Rombur opened #2282 "step 17 and 18 of the RC don't without c++11"
step 17 and 18 of the RC don't work without c++11 :-(
http://cdash.kyomu.43-1.org/testDetails.php?test=2481362&build=1563

[2016-03-01 13:40] bangerth commented on #2282
I'm not sure what this has to do with C++11. Is looks like there is simply a missing instantiation.

[2016-03-01 13:45] Rombur commented on #2282
I know but when we compile with c++11 there is no problem...

[2016-03-01 13:54] bangerth commented on #2282
That might just be coincidence. I bet we forget an *explicit* instantiation, but the compiler does an *implicit* one. For some reason or other, it nevertheless decides to export the symbol in C++11, but not otherwise. In either case, providing the explicit instantiation is the correct solution.

[2016-03-01 15:39] lambe commented on #2237
I've devised a workaround for my specific problem. I use the FEFieldFunction to interpolate the FE_Bernstein mesh data onto an identical FE_Q mesh, then just interpolate between FE_Q meshes in the refinement stage. This is fast enough for my specific problem, so there's no time pressure to solving this issue.

[2016-03-01 16:29] tjhei commented on #2282
I might have messed that up in https://github.com/dealii/dealii/pull/2277 ...

[2016-03-01 16:39] tjhei commented on #2282
I can reproduce the error, but I am confused because this isn't a template function.

[2016-03-01 16:40] tjhei commented on #2282
okay, got it. Patch incoming.

[2016-03-02 06:09] tamiko commented on #1938
Would be nice to have :-)

[2016-03-02 13:41] bangerth opened #2289 "Make Threads::new_task/new_thread work with lambdas"
This doesn't currently work because there are overloads of `new_threads` but none to which a lambda (or, the result of `std::bind`) can be bound to:
[code]

Make this work.

[2016-03-02 14:08] bangerth opened #2290 "1d instantiation of DoFTools::make_flux_sparsity_pattern missing"
As reported by Weixiong Zhang on the mailing list:
...................................

I extended my code from 2D to 1D. It is a vector hyperbolic system. The spatial discretization is DG1. When in 2D, I specified which component coupled to which and then:
DoFTools::make_flux_sparsity_pattern (dof_handler, dsp, cell_coupling, face_coupling);

It was perfectly fine and saved tons of memories for m

[2016-03-02 14:09] bangerth commented on #2290
@drwells already seems to have volunteered to look at the missing instantiation.

[2016-03-02 14:13] Rombur commented on #2282
Fixed

[2016-03-02 14:13] #2282 closed

[2016-03-02 15:24] drwells commented on #2290
Yes, I should probably move the discussion on the mailing list here. Here is what I just posted there:

I don't have the error messages in front of me right now so my following description may be slightly wrong.

 The problem ultimately lies with the fact that a face in 1D resolves to something like TriaAccessor<0, 1, 1>, which does not have a user flag variable; make_flux_sparsity_pattern keeps t

[2016-03-02 15:50] bangerth commented on #2290
Interesting. Aren't there methods where it is enough if a shape function has a nonzero *gradient* to couple to the neighbor?

Yes, I think doing an explicit specialization for the 1d case would be simplest, given that the 1d situation is so much simpler to deal with.

[2016-03-02 16:10] tjhei commented on #1938
done, working on offline-doc now.

[2016-03-02 21:12] tjhei commented on #1938
@luca-heltai can you make another mac bundle please?

[2016-03-03 01:43] drwells opened #2293 "Do not rely on user flags for logic"
There are several places in the library where we do this and I suspect they are all sources of subtle bugs: the issue with `make_flux_sparsity_pattern` (#2290) is a good example because if the user sets all the flags on the triangulation before calling that function then it will not generate a sparsity pattern. In other places we manipulate user flags while violating const correctness.

To this en

[2016-03-03 01:52] drwells opened #2295 "Investigate coupling strategy in make_flux_sparsity_pattern"
As noted by @bangerth in #2290, it seems wrong that `make_flux_sparsity_pattern` only couples DoFs on faces *that both have support* and does not check if the derivatives have support.

This is probably fine in practice since this function will probably only ever be used in a DG setting (where the trial functions won't have derivatives on them) but this fact is not documented.

[2016-03-03 08:23] bangerth commented on #2293
I think this is the correct approach. In many places, we save and later restore the user flags. That at least avoid the problem you describe. But it still doesn't allow the function to be called twice on different threads, even though it claims that it keeps the triangulation `const`. This has been a long-standing wart in many parts of the library.

[2016-03-03 09:43] luca-heltai commented on #1938
Sure. I'm on it.

[2016-03-03 17:00] tjhei commented on #2293
Agreed. I find the whole flags/pointer union approach annoying too. Ideally there would be a way to easily allocate a helper object that can contain arbitrary data per cell (maybe just a ``std::vector<T>`` indexed by ``cell_index``?). Than we could deprecate/remove all of the ``user_flags``.

[2016-03-03 18:21] tjhei opened #2298 "Instrumentation/Eventhooks/etc."
Before I start implementing, I am looking for some ideas for a problem that I would like to solve.

I basically want more insight into certain algorithms deep inside the deal.II library because I am interested in timings/parallel scalability/bottlenecks/etc. For example a call to ``dof_handler.distribute_dofs()`` involves several computation and communication phases and I am trying to figure out w

[2016-03-03 19:16] guidokanschat commented on #2298
It seems that `boost::signal` does create some overhead:

http://stackoverflow.com/questions/359928/which-c-signals-slots-library-should-i-choose

Not sure this applies here, but at least, it is a suggestion to guard it by a switch like `DEBUG`.

I am assuming that `dealii::Events.connect(&my_function)` can also select the events?

[2016-03-03 19:20] tjhei commented on #2298
Expected, yes. I think if the overhead when nobody is connected to the events is close to zero this would be acceptable.

That is an option, even though most of our timings on large machines are done in release mode. We could also add an additional compile time flag though.

Good question, I don't know. It might be easier to have a single signal for everything.

[2016-03-03 20:37] bangerth opened #2299 "Expression template syntax to build FESystem"
The syntax to initialize FESystem objects is not bad, but it occurred to me that with relatively little effort, it should be possible to do something like

[code]

The only things that need to be overloaded are `operator +` and `operator ^` for finite elements and for an fe-composition-expression. A total of 4 operators should be enough.

[2016-03-03 21:12] bangerth commented on #2298
The overhead is O(1), so it goes away if the problem just becomes big enough (unless you want to call it once per cell, for example, deep inside an algorithm). I don't care too much about small problems because they're fast anyway, so I don't see the overhead as a big problem if you're reasonably careful with where you place the signal calls.

We've had good experiences with signals both inside th

[2016-03-03 21:21] tjhei commented on #2298
Thanks for the comments!

@bangerth One signal per object or n signals per object (one per event)?

We could put a pointer to the current object into the event. I am a bit scared that I will be introducing too many slots.

[2016-03-03 21:27] bangerth commented on #2298
I think it depends on what you want to do. The triangulation currently has about half a dozen signals, and I think that's appropriate. They are used for completely different purposes, have different argument lists and different return types. Having different signals is the correct approach. On the other hand, if you want to convey timing information or "here now" information, then maybe one signal

[2016-03-03 22:28] bangerth commented on #2289
This is what's necessary:
[code]

[2016-03-03 22:32] bangerth opened #2300 "Update syntax in tutorials for C++11 in new_thread/new_task calls"
Once we require C++11 (see #1519), we should also see whether there are places in the tutorials where we could introduce a slightly different style. For example, #2289 should allow using a cleaner syntax in some places where we call `Threads::new_task` and `Threads::new_thread`. (There are also places in the library where we currently explicitly cast to a `std::function` object from something that

[2016-03-05 19:28] drwells commented on #2266
I'll contribute to the bikeshedding.

I ran some simple tests and this does not seem to break things that might assume these classes were still templated on `int`s, so it should not break user codes.

I personally find
[code]

approximately as beautiful as
[code]

so I would not oppose this change.

While I do enjoy making dull, systematic changes to deal, this is not something I care about strong

[2016-03-05 19:43] davydden commented on #2266
`unsigned int` is longer to write :smile:

[2016-03-05 21:01] QiaoLei-88 commented on #2266
But,  for quantities that are logically non-negative, if we represent it with `unsigned int` type,
then we just can't check whether it is "really" positive via `Assert(unsigned ui > 0, ...)`.

So I prefer to use `int` instead of `unsigned int` whenever `int` doesn't overflow.
And if positiveness is required, one should use `Assert` to assure this.

Anyway, `int` is shorter to write.

[2016-03-05 22:37] drwells opened #2311 "step-12 compilation fails"
By bisecting I believe the commit that caused this issue is bb57e1883b.

ping @Rombur I think MeshWorker defines FilteredIterator to mean something else but I am not sure of this.

[2016-03-07 03:20] drwells commented on #2293
I looked at `make_flux_sparsity_pattern` more closely; I misread which function was calling which before so the issue I stated does not exist (we use a `const_cast` to clear the flags and then restore them).

Regardless, it is not too hard to get rid of those `const_cast`s, and we can support 1D while we do it.

[2016-03-07 12:51] bangerth opened #2316 "Write changes.h blurb for Manifold::get_tangent_vector"
....once done with implementing it in all classes in manifold_lib.h

[2016-03-07 12:53] bangerth opened #2317 "Document that we don't use the 'dim' template argument at all in class Manifold"
Class `Manifold` doesn't actually use its `dim` argument at all. Mention this in the documentation.

Furthermore, in class `ChartManifold` we have a discussion of possible values for the 3 template arguments that consequently also clearly makes no sense in view of the fact that we don't use `dim` at all.

[2016-03-07 12:53] bangerth commented on #2317
From an email exchange with @luca-heltai :+1:

..........................
Ciao Wolfgang,

Actually, the condition dim<=chartdim does not need to hold at all. Consider for example the case (which we already have) of a spherical manifold, representing a polar coordinate system in three dimensions. In principle you can use this Manifold also to describe the boundary of a sphere (a Tria<2,3>). Here th

[2016-03-07 13:30] bangerth commented on #2311
For reference, here is the error:
[code]

[2016-03-07 13:30] Rombur commented on #2311
Yeah I am on it.

[2016-03-07 13:35] bangerth commented on #2311
Oh, I already have a patch.

[2016-03-07 13:39] #2311 closed

[2016-03-07 13:43] #2290 closed

[2016-03-07 13:50] drwells opened #2319 "Other FilteredIterator issues"
This generalizes #2311 (I now see that they are related). It looks like the tester does not like some of the forward declarations:

http://cdash.kyomu.43-1.org/viewTest.php?onlyfailed&buildid=1701

[2016-03-07 13:53] bangerth commented on #2319
Is this before or after #2318? The issue in loop.h was that we were using `FilteredIterator` in functions inside `namespace internal`, but @Rombur's original test introduced a namespace `internal::FilteredIterator` which changes what name lookup finds in `loop.h`. I fixed this by referencing the correct class by prefixing it by `dealii::FilteredIterator`. I think it's the same problem in all of th

[2016-03-07 13:55] bangerth commented on #2293
The const cast is unpleasant but not wrong in general, but it becomes wrong code if one calls two functions that use user flags this way on different threads. The right thing to do is to replace this mechanism with something that keeps track of everything *on the side of the using function*, not *on the side of the used triangulation*.

[2016-03-07 13:55] drwells commented on #2319
Good point. Let me check.

[2016-03-07 14:07] drwells commented on #2319
Yup, that fixed it.

[2016-03-07 14:07] #2319 closed

[2016-03-07 14:25] drwells commented on #2293
Yes, I agree. It should be possible to do this in many cases (like in #2294) by using the total ordering of cells instead.

[2016-03-07 18:21] tjhei commented on #1938
@luca-heltai The latest .dmg on a macbook with el capitan has the problem that "make run" doesn't work (can't find the .lib) while running the program directly works. Should we set the DY_LIB_PATH or has it something to do with the SIP setting?

[2016-03-07 18:33] tjhei commented on #1938
Note that dealii-8.3.0-el-capitan.dmg is setting a DYLD_LIB_PATH and there "make run" is working.

[2016-03-07 19:23] bangerth opened #2320 "tests/manifold/spherical_manifold_06.cc doesn't currently compile"
I guess that's one for you, @luca-heltai :-)

[code]

By accident, I think you include a file that isn't part of deal.II yet.

[2016-03-07 20:31] bangerth opened #2321 "Segfault in DoFHandlers ParallelShared::distribute_dofs"
This little program segfaults when run with `mpirun -np 2`:
[code]

The reason is that when running with only 2 processors, *all* cells and consequently *all* DoFs are owned by processor 0. Then, we get to `dof_handler_policy.cc`, line 1243:
[code]
The reason this is a problem is because we are on processor 1 (so the index in `[...locally_owned_subdomain]` is 1) but the array has been sized to one

[2016-03-07 20:35] bangerth commented on #2321
(Reduced from a testcase by Artur Safin on something entirely different.)

[2016-03-08 13:41] kronbichler commented on #2298
I am late, but I agree with you guys that action 4 is the best solution.

[2016-03-09 13:51] tjhei commented on #1938
@luca-heltai  ?

Can anybody else please test the OSX builds? I would prefer to bring out the release in the next couple of days.

@bangerth Should we just go ahead and ignore OSX for now?

[2016-03-09 13:53] davydden commented on #1938
@tjhei i will run unit tests on os-x...

[2016-03-09 13:54] davydden commented on #1938
@tjhei or did you mean the .dmg builds?

[2016-03-09 15:43] tjhei commented on #1938
yes, I am talking about the .dmg package, see above.

[2016-03-09 16:08] luca-heltai commented on #1938
I'm rebuilding everything. On my system, everything seems to run fine, so I don't know where the problem may be... and I haven't changed SIP.

[2016-03-09 16:22] davydden commented on #1938
i tested the .dmg build and also have a problem with running:
[code]

[2016-03-09 18:28] luca-heltai commented on #1938
I've just prepared a new package. Can anyone with a mac test this one? @davydden ?

[2016-03-09 18:28] luca-heltai commented on #1938
If this one works, I'll get back the DYLD_LIBRARY_PATH in the configuration file. I guess having it won't hurt, anyway...

[2016-03-09 18:33] luca-heltai commented on #1938
I remember adding to the `setup_cached_variables.cmake` a variation of the following, which forces global paths upon install, but I no longer find this in history. @tamiko , do you think this would be possible?

[code]

[2016-03-09 18:45] davydden commented on #1938
@luca-heltai that one worked!

[2016-03-09 18:47] luca-heltai commented on #1938
:+1:

I'm not happy about that one, because it uses DYLD_LIBRARY_PATH. This will give problems, for example for user codes compiled in XCode, which does not respect DYLD_LIBRARY_PATHS set in the terminal.

The final solution should be the one above, but I'm not confident that this won't break anything for other people without a mac. @tamiko , opinions?

[2016-03-09 19:32] tjhei commented on #1938
Wrap it with ``IF(CMAKE_SYSTEM_NAME MATCHES "Darwin")``?

[2016-03-09 20:04] bangerth opened #2328 "Multigrid enhancements"
@kronbichler -- I have Karl Ljungkvist (@kalj) in my office and we are discussing multigrid in the context of matrix free operations. He says you talked about extensions in this direction. Could you summarize what you have in mind so we can coordinate?

[2016-03-09 23:21] bangerth commented on #1938
On a different note, I've read through the release paper again and made sure it's in good shape. It is now here, and also linked to from the release announcement, so at least this part of the release is good to go:
  https://www.dealii.org/deal84-preprint.pdf

[2016-03-10 19:11] tjhei commented on #1938
okay, are we ready to do tag the final release? @tamiko @bangerth @luca-heltai ?

[2016-03-10 20:04] tamiko commented on #1938
@tjhei I don't see any obstacles for tagging a release. Looks fine from my side.

[2016-03-10 20:05] tamiko commented on #1938
@bangerth We could also mention the Tensor interface/implementation cleanup in section 2.2 :-)

[2016-03-10 20:45] bangerth commented on #1938
On 03/10/2016 02:05 PM, Matthias Maier wrote:

I think if anything it should have a section of its own. But yes, get on it!

[2016-03-10 20:46] bangerth commented on #1938
I'm ok with tagging, but I'd still like to understand whether there are things we need to change for Mac/OS X or whether these are just issues on how things are *packaged*, as opposed to things that need to be changed *in the repository*.

[2016-03-10 21:33] tamiko commented on #1938
As Luca explained some time ago, it is mostly a question of packaging.

Even if it weren't - as opposed to a repository in source form we
provide a fixed, binary mac bundle (I highly doubt that many users use
our packaging scripts to create mac bundles on their own).

[2016-03-10 21:48] bangerth commented on #1938
OK, then let's go!

What are the missing steps for the release if anyone remembers?

[2016-03-11 04:29] drwells opened #2333 "Compilation issues with gcc-4.7"
If I compile with gcc-4.7 in C++11 mode I get the following errors:

[code]

but things work with newer compilers and apparently gcc 4.6. Thoughts?

[2016-03-11 04:51] tamiko commented on #2333
@drwells This is current master? Which gcc-4.7 is this exactly? If gcc-4.7.4 compiles correctly (but gcc-4.7.[1-3] have a problem) I'd suggest we just ignore it.

[2016-03-11 05:27] bangerth commented on #2333
This looks like a compiler error to me. This clearly makes no sense:
[code]
I don't think the compiler should ever deduce a template argument to be `void` when something is passed as a function argument.

[2016-03-11 09:06] luca-heltai commented on #1938
Sorry I'm late for the party... Yes, the question is mostly about packaging, however that change (to the repository) would make sure that people compiling their own library don't need to add DYLD_LIBRARY_PATH to their environment anymore, and this is a much cleaner option, in my opinion...

We can go ahead with the tagging, and I'll need some help from @tamiko with cmake to make this work in a cle

[2016-03-11 11:16] asartori86 opened #2334 "strange error in solution_transfer"
hi, I'am solving the Poisson problem with coarsening and refinement and, depending on the number of initial refinement and/or the combination of the top and bottom fractions in the refinement strategy, I may get this error

[code]

any idea why this happens? thanks

[2016-03-11 11:21] asartori86 commented on #2334
just for reference, this is the movie when every goes fine
![poisson](https://cloud.githubusercontent.com/assets/10710861/13700827/ada2e75c-e783-11e5-8bd2-736b6d410c52.gif)

[2016-03-11 11:25] luca-heltai opened #2335 "Periodicity in ChartManifold"
The test in

https://github.com/luca-heltai/dealii/pull/90

fails. This is probably due to a bug in the periodicity handling of ChartManifold...

[2016-03-11 15:02] tamiko commented on #1938
@luca-heltai Let's get this last fix into the release.

The corresponding configuration is in ```source/CMakeLists.txt```.

[2016-03-11 15:04] tamiko commented on #1938
@luca-heltai Do we need this upon installation?

[2016-03-11 16:14] bangerth commented on #2334
A reproducible testcase would be helpful, I think.

[2016-03-11 16:25] davydden opened #2339 "fix a typo in publications.html"
Here https://www.dealii.org/publications.html there is

followed by **3** references :smile:

[2016-03-11 16:31] bangerth commented on #2339
Fixed. Thanks for pointing it out.

[2016-03-11 16:31] #2339 closed

[2016-03-11 16:37] tjhei commented on #1938
okay, release is tagged. Documentation is compiling right now.

[2016-03-11 16:43] luca-heltai opened #2340 "Compilation issue"
PR #2332 broke compilation on my MAC...

[code]

[2016-03-11 16:49] bangerth commented on #2340
I see it too. Working on a fix.

[2016-03-11 17:19] asartori86 commented on #2334
@bangerth, If you want I may provide a pi-DoMUS test, not sure I can provide a short one that triggers it

[2016-03-11 17:58] #2340 closed

[2016-03-11 20:50] tjhei commented on #1938
@luca-heltai can you please create the .dmg files for 8.4.0?

[2016-03-11 21:42] bangerth commented on #2334
I think anything would help.

I'm going to be traveling for most of the next 2 weeks. I can not say how much time I will have to help with anything that requires more than 10 minutes, but I will try.

[2016-03-12 01:12] drwells commented on #2333
I must not have been on master (after merging the patch for fixing 4.6) when I compiled this because I can build the library just fine now.

[2016-03-12 01:12] #2333 closed

[2016-03-12 10:59] #2320 closed

[2016-03-12 11:00] luca-heltai commented on #2320
Oops... Sorry :-)

[2016-03-13 20:03] tjhei commented on #1938
Thanks, Luca. I am waiting on @guidokanschat uploading the 8.4 docs and will proceed with the announcement directly after.

@bangerth There is nothing else left to do and I have the homepage edits and announcements ready to be pushed online.

[2016-03-14 09:40] #2289 closed

[2016-03-14 15:20] guidokanschat commented on #1938
Documentation is online

https://www.dealii.org/8.4.0/doxygen/deal.II/index.html

Please have a look before we add the link.

[2016-03-14 15:40] guidokanschat commented on #2328
Since Martin is not available right now: he already implemented [MGTransferMatrixFree](https://www.dealii.org/8.4.0/doxygen/deal.II/classMGTransferMatrixFree.html). People in Heidelberg are working on matrix free smoothers.

[2016-03-14 15:46] kalj commented on #2328
Thanks. So, the motivation is that prolongation and restriction was done using matrices previously? In that case, I guess it has similar performance characteristics as the operator application and thus, should also benefit from being matrix free. Am I right?

[2016-03-14 17:25] guidokanschat commented on #2328
Yes. Prolongation and restriction have very regular structures and the matrices only depend on the finite elements chosen, not even on the operator. Therefore, it is even more obvious that they should be implemented matrix free.

[2016-03-14 17:40] luca-heltai opened #2350 "Wrong MPI in Mac OS X package"
In reference to

https://github.com/luca-heltai/dealii/issues/86

I'm removing the newly created dealii-8.4.0 package from github, and I'm building a whole new set of libraries...

[2016-03-14 17:56] kalj commented on #2328
Sounds good. About the smoothing, in my limited understanding, isn't that already matrix free with a MGSmootherPrecondition configured with a matrix-free operator? (I'm thinking of Step-37 now, with the Chebyshev preconditioner)

[2016-03-14 18:54] guidokanschat commented on #2328
That is true, but we are looking into efficient domain decomposition smoothers

[2016-03-14 20:04] kalj opened #2351 "Roadmap for inclusion of GPU implementation of matrix free in Deal.II"
During the last 18 months or so, I've been implementing something equivalent to the matrix free functionality but for execution on a GPU. With good preliminary performance results, and a somewhat decent functionality set, I think it is now time to start sketching on how this should be merged into Deal.II.

After some discussions with @bangerth, I have come to the following conclusions:

a) This sh

[2016-03-14 20:28] Rombur commented on #2351
VectorGpu might be more complicated than you think :-/ We are rewriting the vector interface and VectorGpu will have to derive from VectorSpaceVector or ReadWriteVector (the new dealii::Vector derives from both https://dealii.org/developer/doxygen/deal.II/classLinearAlgebra_1_1Vector.html) and I was told that CUDA doesn't play well with virtual function... The other thing is that while you should

[2016-03-14 21:23] kalj commented on #2351
That's nice -- it's always good with interfaces. It should definitely derive from VectorSpaceVector, and maybe ReadWriteVector too, but again, direct access of entries from the "outside" shouldn't really be done. Virtual function is not a problem in this case since this will be a CPU class with CUDA internals. It may be an issue for classes that live on the GPU themselves. So it would affect the w

[2016-03-14 22:28] bangerth commented on #2351
I think the GPU vector should be class of its own, rather than selected via a template argument. It serves a separate purpose, so deserves a name of its own. For reference, the github issue that discusses everything related to vectors is #745.

[2016-03-15 10:12] luca-heltai commented on #1938
Yesterday I recompiled the whole set of libraries included in the Mac package with openmpi 1.10.2, due to a bug in the openmpi 1.8.5 version, that was downloaded by default by PETSc. The new package seem to work (thanks to @cox), but I'd be happier if someone else could test this before we proceed with the announcement...

[2016-03-15 17:18] davydden opened #2353 "A tester with PETSc complex"
As deal.II now compiles with complex-vaued PETSc/SLEPc, it would be good to have a tester to monitor that this feature is not broken down the road.

It would be enough for the moment to check that deal.II compiles and tests in `petsc_complex`, `slepc_complex` pass.

In reference to https://github.com/dealii/dealii/issues/2033

[2016-03-15 19:46] kalj commented on #2351
@bangerth: That makes a lot of sense, it should be a distinct type after all.

Here is now a relatively cleaned up version of my code as of now: https://github.com/kalj/dealii-cuda
I added some comments, but it is still far from having thorough documentation. (@Rombur: this is the same repo, but will be used from now on).

[2016-03-15 19:48] tamiko commented on #1760
@davydden I need this feature more or less right now. So I'll have a look at it this week :-)

[2016-03-15 19:51] tamiko commented on #1760
@bangerth I'll refactor ```ConstraintMatrix``` into a templated ```AffineConstraints``` object. After that we typedef ```AffineConstraints<double>``` to ```ConstraintMatrix```.

I'm also in favor of imposing the same restriction on ```ConstraintMatrix``` as we did for the VectorTools and MatrixTools stuff. After all ```ConstraintMatrix``` is created by the user beforehand, thus, this should not im

[2016-03-15 19:55] davydden commented on #1760
@tamiko cool!

If I understand you correctly, in VectorTools/MatrixTools you will use `AffineConstraints<number>` where `number` is consistent with `InputVector::value_type`, right? If so, then :+1:

[2016-03-15 19:57] tamiko commented on #1760
Exactly!

[2016-03-16 00:44] danshapero commented on #2299
If you instead write `FE_Q<dim>(1) + FE_Q<dim>(2)^dim`, you'll get a different `FESystem` though, correct? If that's the case, the `+` notation could be considered misleading since the operation isn't actually commutative. It could also be considered perfectly fine and I'm just being pedantic.

Alternatively, one can define a variadic template constructor:
[code]
where each argument is of some typ

[2016-03-16 06:55] ESeNonFossiIo opened #2356 "PETSc + LO"
I would like to use LinearOperators for PETSc. The problem is that PETSc has its own *reinit* that does not combine with *reinit* of *linear_operator*.
I wonder if there is an elegant way to overcome this issue without writing a LinearOperator ad hoc for PETSc.
I used the following code as test:
[code]

[2016-03-16 08:17] luca-heltai commented on #2299
Well, we might have just found a place where `operator,()` could be interesting:

[code]

[2016-03-16 08:22] luca-heltai commented on #2356
Mauro, did you look at the class `ReinitHelper`, in LinearOperator, and how this is implemented for `Trilinos` objects? It is pretty straight forward to extend it for PETSc objects..

[2016-03-16 08:22] davydden commented on #2299
i like `operator,()` idea!

[2016-03-16 08:54] ESeNonFossiIo commented on #2356
Yup, I did it. My problem is that the `reinit` of PETSc is far from `v.reinit(matrix.m(), omit_zeroing_entries);` of `Trilinos`: PETSc requires more variables.

I can write my own PETSc LinearOperattor but I wonder if there is a way to adapt
`ReinitHelper` or `liner_operator` functions in an elegant way... The point is that I would like to avoid to make a mess with `linear_operator.h`.

[2016-03-16 10:28] bangerth commented on #1760
@tamiko -- yes, this sounds like a good plan. I assume you're going to store the expansion coefficients and rhs values with the same type (which seems like the appropriate choice).

[2016-03-16 10:31] bangerth commented on #2299
Basically every binary operator seems to me to be an intuitive choice for combining things, including `operator &&`, `operator |`, and `operator,`.  I know you didn't propose the latter in seriousness, but for completeness: it leads  to awkward situations because
[code]
is a syntax error, whereas
[code]
is correct (and invokes `operator,` on two integers: it simply throws away the first of the two

[2016-03-16 10:34] davydden commented on #2299
how about `operator *` as that's actually what we do - a tensor product of two spaces? It also does not imply any commutative properties and perhaps is less confusing for users.

[2016-03-16 10:41] bangerth commented on #2299
I still think that `operator+` is the most intuitive choice in the sense of "this and that together form a list".

[2016-03-16 12:03] Rombur commented on #2299
I don't like ```operator+``` because like @danshapero said the operation is not commutative. Is there anywhere else in the library where ```a+b``` is different than ```b+a```? I think people are so used to have ```a+b=b+a``` that this will create bugs that are hard to find.

[2016-03-16 21:13] bangerth commented on #2299
Hm. I don't particular care for `operator *`. That's not how I think of connecting two finite elements. What about `operator &&` then?

[2016-03-16 21:41] tamiko commented on #2299
Just about any ```operator▢``` is misleading.

Personally, I think ```{…, …}```, or ```(…, …)``` might be choices we should consider.
@danshapero proposal
[code]
is a pretty nice syntax, isn't it?

[2016-03-16 21:53] danshapero commented on #2299
@tamiko -- I should mention that the `{...}` syntax would require variadic templates and thus be a C++11-only solution. That said, having a variadic constructor could eliminate all the overloads for constructing an `FESystem` with 1...5 different finite elements when #1519 comes to pass.

Alternatively, if there is disagreement on which syntactic sugar to choose, it may be best to go with none at

[2016-03-16 22:06] tamiko commented on #2299
Yes, I was aware of that. :-)
I don't see any necessity for a feature like this to be implemented in C++98.

[2016-03-17 08:59] davydden opened #2360 "submitting tests results for an already installed library"
One can run unit tests for an already installed library.
I don't know how difficult is this, but it would be cool to be able to also submit those results in such a case. Currently `ctest [...] -V -S ../tests/run_testsuite.cmake` fails when being used for an already installed library.

p.s. the usage scenario is when one would like to test multiple versions of deal.ii (say MKL and system blas), but

[2016-03-17 14:08] davydden commented on #2095
does this mean that `all-headers` should be excluded from execution when testing already installed library? If so, that would be a very quick fix in `tests/CMakeLists.txt`, same as `quick_tests`, which are executed only if CMakeList.txt is called from within the deal.II build system.

[2016-03-17 18:16] tjhei commented on #2095
The problem is that we check all headers in ``include/deal.II``, which contains ``include/deal.II/bundled`` but only if this is an installed copy. @davydden can you add a line:
[code]
after the GLOB_RECURSE in tests/all-headers/CMakeLists.txt? (not tested)

[2016-03-17 19:24] tamiko commented on #2360
This should do the trick:

[code]

[2016-03-17 19:29] tamiko commented on #2353
@davydden Enabling complex number support in PETSc/SLEPc changes the PETSC_SCALAR typedef, doesn't it? I.e., we lose plain double support?

[2016-03-17 19:32] davydden commented on #2353
@tamiko correct. PETSc/SLEPc can be either complex or double. That's why `tests/petsc` and `tests/petsc_complex` are mutually exclusive now.

[2016-03-17 19:33] tamiko commented on #2353
ic

[2016-03-17 19:51] tamiko commented on #2130
@danshapero I'm very tempted to finally get rid of ```Make.global_options``` altogether.

[2016-03-17 20:30] danshapero commented on #2130
@tamiko Suits me just fine. I was only using makefiles in example code because I find them more convenient for some tasks (invoking `wget` to download meshes/data, running a plotting script, etc.) than CMake. But one can easily work around this by e.g. using a shell script or top-level makefile.

[2016-03-17 22:21] tamiko opened #2369 "Find a replacement for CDash"
Seriously.

Suggestions?

[2016-03-18 06:44] bangerth commented on #2369
What are the problems you are trying to address?

[2016-03-18 06:51] #2130 closed

[2016-03-18 07:12] bangerth commented on #2360
If you don't have the build directory around any more, where do you run the testsuite? As in @tamiko 's example in *any* directory?

[2016-03-18 07:40] bangerth opened #2372 "Remove AssertGlobalIndexRange"
Once we require C++11 (see #1519), we should clean up this code in `exceptions.h`:

[code]

Rather than having two assertions, we should simply always make sure we use the right type, e.g., via

[code]

[2016-03-18 07:56] bangerth commented on #2351
@kalj -- it's difficult to elucidate the difference between entire repositories. But I know you're already working on breaking the differences into individual patches :-)

[2016-03-18 09:43] luca-heltai commented on #2360
Yes. This has been working for me for quite some time now. I often use this strategy to figure out if the packages I pass around to my colleagues pass or not a specific test.

[2016-03-18 12:43] Rombur commented on #1523
I know that @davydden is looking at spack and I have nothing against it but could we better advertise candi and homebrew on the download page. There is still work to do in candi but I think that it would already help a lot of users. Just this week, someone on the mailing list struggled to install all the dependencies and polluted his environment to the point that he couldn't install deal.II anymor

[2016-03-18 12:53] davydden commented on #2095
@tjhei you mean
[code]
? That did not work, unfortunately...

[2016-03-18 12:57] davydden commented on #2095
damn, i guess you meant to substitute `_headers` by this `REGEX REPLACE`. Trying it now...

[2016-03-18 13:14] davydden commented on #2095
i tried playing around with it, doing regex before `GLOB_RECURSE` and changing it, but I could not make it work. Should be simple, though ;-)

[2016-03-18 13:46] davydden commented on #2095
it worked! It was my misinterpetation of your idea, @tjhei . Will do a PR...

[2016-03-18 13:52] davydden commented on #2360
@bangerth yes, i run it from essentially arbitrary folder and just point to the cmake file in tests.

[2016-03-18 13:57] davydden commented on #2360
thanks @tamiko , that seemed to be working. Could you please update the documentation at https://www.dealii.org/developer/developers/testsuite.html to show this example?

[2016-03-18 14:52] tjhei commented on #1523
Agreed. I will work on this in the next few weeks.

[2016-03-18 21:56] #2095 closed

[2016-03-18 22:06] koecher commented on #1523
If there is something to do with candi, I will have a plenty of time the next weeks. Please let me know about your thoughts by a PR or issue request.

[2016-03-18 22:47] tamiko commented on #2369
@bangerth I was very annoyed by upstream's new mandatory "installer" (```curl [untrusted source] | bash```) introduced in 2.2.3. Further, migrating to 2.2.3 with my custom changes is a lot more difficult than expected. The reason why I want to have the new version is a number of bugfixes for postgresql.

I will give this mess another try later, but in the long run I fear we need something more rob

[2016-03-19 11:41] bangerth commented on #1523
We could definitely put this onto the download page, if y'all think that it's ready to be given to the masses.

[2016-03-19 17:27] kalj opened #2382 "Several warnings when compiling using CUDAs nvcc"
When compiling code using Deal.II with the nvcc compiler of Nvidia CUDA, several new warnings appear.
1. Unreachable statements
2. Implicit type casts
3. Unused function parameters

1 and 2 are quite straightforward to fix, and the pull request #2380 does this.

On the other hand, 3 requires some way of hiding parameters at compile time depending on whether a DEBUG or RELEASE build is being done.

[2016-03-19 17:38] tamiko commented on #2382
For 3 we have used the sledgehammer approach of utilizing otherwise unused function parameters in a cast to void:
[code]
See comment on #2381

[2016-03-19 17:38] tamiko commented on #2382
That's fine :-)

[2016-03-20 01:20] kalj commented on #2382
Another, more severe problem is in the bundled TBB. When compiling with CUDA, this gives errors of the following type:

~/sw/deal.II/include/deal.II/bundled/tbb/concurrent_vector.h(667): error: ambiguous "?" operation: second operand of type "tbb::internal::concurrent_vector_base_v3::size_type" can be converted to third operand type "tbb::atomic<unsigned long>", and vice versa

~/sw/deal.II/includ

[2016-03-20 01:34] bangerth commented on #2382
Please close if you think that the issues are addressed with the merged patches.

[2016-03-20 01:51] #2154 closed

[2016-03-20 02:24] kalj commented on #2382
Not quite done yet. :)

Finally, there are several warning coming from within Boost.

They are all reported upstream, but, except for a simple one, not yet fixed:

https://svn.boost.org/trac/boost/ticket/11763 (fixed)
https://svn.boost.org/trac/boost/ticket/11933
https://svn.boost.org/trac/boost/ticket/11934
https://svn.boost.org/trac/boost/ticket/12078

I have a commit that fixes that first one,

[2016-03-20 03:05] bangerth commented on #2382
These warnings only happen with a compiler few people use, and we don't know yet how they will be fixed upstream. This makes me hesitant.

How often do you get to see these warnings? Do they only happen when building the library, or also when compiling user code? Could we work around them using compiler flags that simply suppress the warnings?

[2016-03-20 03:07] bangerth commented on #2382
(But I'd be quite willing to accept patches for things that were already fixed upstream.)

[2016-03-20 03:08] bangerth commented on #2382
Alternatively, we could just update boost, see #1963.

[2016-03-20 06:07] tjhei commented on #2369
Well, are there alternatives that parse ctest output to display changes in tests?

[2016-03-20 11:32] #2105 closed

[2016-03-20 13:18] kalj commented on #2382
@bangerth True, this is a very narrow scenario at the moment. And as I said, I can only fix one out of maybe 6-10 warnings. The others are too complicated for me to grasp, and upstream hasn't yet done anything about them. So I wouldn't object if we left it as is for now. Still, showing that we are aware of them might be comforting to users.

It does happen when compiling the user code though, as i

[2016-03-20 15:50] bangerth commented on #2382
Feel free to propose patches for everything you find is already fixed upstream. We can reconsider things once we update boost.

[2016-03-20 21:14] #2321 closed

[2016-03-21 12:20] Rombur commented on #1523
For me, it's good enough. We can always improve it when you have some time. What do you think @tjhei ?

[2016-03-21 12:57] tjhei commented on #1523
opinions on
1) create a repo at github.com/dealii/ ?
2) If yes, what to call it "installer" or "candi"?

[2016-03-21 12:58] davydden commented on #1523
1) +
2) "bash-installer" ?

[2016-03-21 13:48] #1788 closed

[2016-03-21 14:00] tamiko commented on #2369
After a bit of digging... out of the box, not really.

[2016-03-21 14:01] tamiko commented on #2369
We'll just keep it as it is for the moment.

[2016-03-21 14:01] #2369 closed

[2016-03-21 22:10] sunnie229 opened #2392 "dyld error with version 8.4.0 on Mac OSX Yosemite"
Hi,
I am trying to install dealii version 8.4.0 on Mac OSX Yosemite. I downloaded the .dmg file and when I try to compile one of the examples, I get the following error:

dyld: Library not loaded: /Applications/deal.II.app/Contents/Resources/opt/openmpi-1.10.2/lib/libmpi_cxx.1.dylib
  Referenced from: /Applications/deal.II.app/Contents/Resources/examples/step-2/./step-2
  Reason: Incompatible libr

[2016-03-21 22:58] bangerth commented on #2353
I've ran the testsuite manually with a complex-valued PETSc. There are many tests that fail, specifically these here:
[code]

I don't have the time right now to check these in detail, but I think that the following probably needs to be done:

* Disable all tests that currently need PETSc and that are outside the `petsc_complex` directory (specifically the `mpi` directory). Or at least take a look

[2016-03-22 00:34] guidokanschat commented on #2351
@kalj: Out of curiosity: from my experience with GPU, you should avoid uploading the whole deal.II library because of its size. Did you start separating local from global code?

[2016-03-22 01:50] kalj commented on #2351
@guidokanschat, thanks for your concern, but I feel that I don't fully understand the question, perhaps you can reformulate it?

The idea is to implement GPU versions of the main building blocks used in a matrix-free operator application, i.e. mainly the FEEvaluation class. Then, only the operations that the user actually uses in their operator will need to be compiled into the executable. As for

[2016-03-22 02:00] bangerth commented on #2351
I think what @guidokanschat was saying is this: compiling the *entire* library to run on GPUs may not be very useful since it's such a huge piece of code that would take up a sizable amount of memory if it has to replicated multiple times for each thread/task/whatever the right terminology is on the GPU.

I don't know whether that's even possible, but it can for example be done for Xeon Phi cards.

[2016-03-22 08:24] kronbichler commented on #2351
I like the general design of the classes and the layout. Regarding some of the details, I have a few questions of course:

1. Regarding templated objects for vectors and MatrixFreeGpu: I think that we should strive to make it relatively easy to switch between a regular CPU-based evaluation and a GPU version. The point is that I would like to write a common code that implements various differential

[2016-03-22 08:39] DAlexis opened #2393 "deal.ii cannot be bundled as a CMake subproject to another project"
During development of another project we decided to bundle deal.ii. We are using CMake and git so we added git submodule to out project and used `add_subdirectory(3rdparty/dealii)` in our CMakeLists.txt

But this does not work because deal.ii's CMakeLists.txt "think" that deal.ii is always root cmake project, i.e. it use ${CMAKE_SOURCE_DIR} variable assuming it points to deal.ii source dir (right

[2016-03-22 13:38] tjhei commented on #2392
I think we only support the newest OSX version with this binary installer. Right, @luca-heltai ?

[2016-03-22 16:38] kalj commented on #2351
Thanks for great comments, @kronbichler!

1. Then I think we all agree that we can have separate classes that behave the same. In some cases, such as for the vector, it is quite natural with a common interface (abstract base class), but for MatrixFree, and FEEvaluation in particular, we should probably go with "duck typing" / static interface.

2.
  - (a) I see the problem. In CUDA, you can pass n

[2016-03-23 01:35] tamiko commented on #1760
@davydden The current state can be found here: https://github.com/tamiko/dealii/tree/affine_constraints

[2016-03-23 07:16] davydden commented on #2353
i have complex-petsc build around, i will check at least some of those and report back here...

[2016-03-23 08:03] davydden commented on #1760
@tamiko i looked through https://github.com/tamiko/dealii/commit/407fa908d5e723f75612701051230dde23f0971e and it all looks good to me! There is only one FIXME, as far as I noticed. Maybe create a WIP PR?

[2016-03-23 08:23] kronbichler commented on #2075
@davydden Do you still observe this issue? I have not seen it on any of my machines. If not, please close this issue.

[2016-03-23 08:26] davydden commented on #2075
i will close it for now.

[2016-03-23 08:26] #2075 closed

[2016-03-23 08:31] kronbichler commented on #2328
I think that the basic matrix-free transfer operations are in place. So I think that you @kalj can start looking into how MGTransferMatrixFree is organized for a variant on the GPU code.

I also have a modification of the main multigrid algorithm in the pipeline which does the transfer of the defects differently to the main Multigrid class which I will prepare for merging at some point during the