[2019-08-08 21:55] rezarastak opened #8520 "Possible performance regression in Debug mode on the stable branch"
Recently I upgraded the Candi deal.II installation (from 9.0.1 to 9.1.0) on my desktop and noticed significant performance degradation (~6-7 times) in the debug mode in my code (no change in the performance of the release mode). Using a profiler, I narrowed down the source of slowness. The tensor operations (double_contract etc) seem to be slowed the most. My hypothesis is that the performance reg

[2019-08-08 22:32] GrahamBenHarper commented on #2046
Also #1973 would be a great issue to address prior to this. I will work on it now and see if I can make some progress.

My initial thoughts tell me most of it will be changing the polynomial classes to have a similar polymorphism structure to how `FE_PolyTensor` and `FE_Poly` derive from `FiniteElement`. Perhaps it would be an abstract class called `PolynomialsBase` with some pure virtual function

[2019-08-08 22:38] drwells commented on #8520
Here is a slightly modified version of the benchmark. This takes me 140 ms with 9.1.1 and 150 ms with the current master branch.

[code]

[2019-08-08 22:51] rezarastak commented on #8520
@drwells using your modified benchmark I ran it again on my machine (all in Debug mode):
* stable installation 9.0.1: 9 milliseconds
* stable installation 9.1.0: 112 milliseconds
* master branch (7d1f025): 53 milliseconds

[2019-08-08 23:17] drwells opened #8525 "Give a more meaningful alias for the indent script"
Right now `indent` also checks file permissions and does a sanity check on user names and emails: we should rename this script to something more meaningful and then symlink it back to `indent` for compatibility.

[2019-08-08 23:22] masterleinad commented on #7524
We didn't change anything in this regard in `deal.II`.
If you want to come up with a way to warn the user, we are happy to discuss your solution. You probably want to add something in `include/deal.II/base/config.h`.

[2019-08-09 07:48] kronbichler commented on #8520
I guess one would need to look into the assembly code to see what has changed. I am willing to believe that the assertion could be part of the reason - however, I want to point out that it is not the check itself that is the problem, but rather the compiler which moves content back and forth between registers and the stack (because you need to be able to access all variables).

Background informat

[2019-08-09 14:14] rezarastak commented on #8506
I am writing a PR related to this. As part of it I have a to make a decision.

 If a material model does not require quadrature point data, such as an elastic solid, we don't need to even initialize the `CellDataStorage` for the cells with that material id. In that case, we need a way to tell whether a `CellDataStorage` object contains data for a specific `cell` or not. What is the best approach?

[2019-08-09 17:07] bangerth opened #8535 "Rename parallel::Triangulation to parallel::TriangulationBase"
@tjhei *loves* the idea.

[2019-08-09 17:41] rezarastak commented on #8520
@kronbichler Thanks for the explanation. It now makes perfect sense to me. I also remember in previous deal.II versions that gdb used to unnecessarily inline or optimize away variables that I wanted to inspect. So I support more powerful debugging in debug mode even if it is slower. I think there are many opportunities to improve the `Assert` statements, such as converting some of them to `static_

[2019-08-09 18:55] philm001 commented on #7524
Yes, I would like to come up with a solution to warn the user. I will take a look at the file and think of some solutions and continue to post in this thread

[2019-08-09 20:34] marcfehling commented on #8506
@jppelteret  Variable size data transfer was only an issue with `parallel::distributed::Triangulations`. There is no need for transfering variable size data for `parallel::shared::Triangulation` objects since all participating processes have access to all data. `SolutionTranser` and `CellDataTransfer` work with `p::s::Triangulation` as well.

---

@rezarastak Our variable data transfer algorithm c

[2019-08-09 20:57] rezarastak commented on #8506
@marcfehling I meant this assertion in `get_data()` method of `CellDataStorage`

https://github.com/dealii/dealii/blob/954642f946d3d456b555ff16f43e2e3adb84be02/include/deal.II/base/quadrature_point_data.h#L667

We have to remove this assertion if we decide to go with option 1.

[2019-08-10 01:47] drwells opened #8544 "Does the build system depend on python?"
We discussed this at the workshop: apparently the canonical link patch introduced an undocumented python dependency on the build system. We should rewrite this script in CMake (or Perl).

[2019-08-10 03:01] marcfehling commented on #8506
Ah, I see. You may remove the assertion if you rather consider a conditional checking `it != map.end()` and return an empty vector if `it == map.end()`.

Give it a try! Awesome work on this PR :)

[2019-08-10 09:32] jppelteret commented on #8506
In contrast to @marcfehling, I think that having a `stores_data()` method [1] should be the preferred approach. There's a difference between checking to see if the map contains the key (i.e. has been initialised for this cell) and whether or not there is a non-zero amount of data stored on the cell (e.g. a deactivated cell or incorrectly initialised cell).

[1] We do similar for the [`GeneralDataS

[2019-08-10 11:47] #8309 closed

[2019-08-12 00:21] drwells opened #8548 "more indent improvements"
We should further amend the `indent` script to check all non-source (e.g., `.dox`, `.bib`, and `.html` files) for trailing whitespace and remove it.

[2019-08-13 00:04] peterrum opened #8558 "Introduction of parallel::fullydistributed::Triangulation"
At the 7th deal.II users and developers workshop, we have agreed on merging the new `parallel::fullydistributed::Triangulation` (short `p:f:t`, see also PR #8418) in at least 5 stages. The name `parallel::fullydistributed::Triangulation` has been accepted. The stages are:

**Step 1:** modify class hierarchy
- [x] rename `parallel::Triangulation` to `parallelTriangulationBase`
- [x]  introduce a ne

[2019-08-13 00:08] peterrum commented on #8558
* In what way is #8535 related to the issue?
* How do we want to call the `ConstructionData`. We discussed the term `MeshPartitionerData`... I prefer the first term. Which term *loves* @bangerth *and* @tjhei?

[2019-08-13 00:14] bangerth commented on #8520
Yes, `-Og` made debugging impossible on many platforms and I thought that was unacceptable.

Since there is little we can do in concrete terms about your observation, should we close this issue? Of course, we'd be happy to convert `Assert`s to `static_assert`s if you can think of any that qualify.

[2019-08-13 03:27] #8520 closed

[2019-08-13 13:02] #8517 closed

[2019-08-13 14:44] drwells opened #8562 "Excise remaining compatibility renumberings"
Followup to #8556. I need to write all this down so that we remember how to actually fix it later.

AFAICT, `GridReordering::invert_all_cells_of_negative_grid` contains a bug where it assumes that the input uses the old-style numbering (i.e., pre 6.0). However, we only call this function immediately before calling `Triangulation::create_triangulation_compatibility`, which also assumes that the cel

[2019-08-13 18:54] tcclevenger commented on #8387
Update: I ran across this same issue again. My solution in my own code was to add `{}` after `result` in lines 1908 and 2116 of the current include/base/tensor.h in master. I am not sure if this is how you guys want it to be fix, let me know if this works and I can make a pull request.

[2019-08-13 18:57] masterleinad commented on #8387
See https://github.com/dealii/dealii/pull/8474.

[2019-08-13 19:01] masterleinad commented on #8387
It seems that I missed one spot over there, so I just pushed some more value initializations. We could of course also split that pull request up.

[2019-08-13 21:33] bangerth opened #8563 "Use cell->face_iterators() in tutorials"
The idiom we now use everywhere for cells is of the form
[code]

It would be nice if we could also do this:
[code]
or similar. That should not be terribly hard to achieve, and would make a *lot* of code a lot simpler.

[2019-08-13 23:25] peterrum commented on #8406
@bangerth @masterleinad is this still an issue after introducing the constructor?

[2019-08-13 23:38] masterleinad commented on #8406
Should be OK after #8443, but I let @bangerth decide to close this issue.

[2019-08-14 00:08] marcfehling opened #8565 "PETSc incompatibility: `Out of memory` error on corner case"
While preparing a scaling plot for the parallel hp-adaptive methods, I ran into the following error that I could only reproduce for one particular scenario, i.e. the parallelized version of `step-27` with `refine_global(6)` and `mpirun -np 20`. With parallel debugging, I encountered the following issues:

---

Five processes reported the following (with `petsc-3.9.1`):
![petsc-A_tmp](https://user-

[2019-08-14 02:59] peterrum commented on #8535
I did understand the result of our discussion as following, expressed as a class hierarchy (see also the discussion in PR#8558):
* Tringulation
  * parallel::Triangulation
    * parallel::shared::Triangulation
    * **parallel::DistributedTrinagulationBase** (?)
      * parallel::distributed::Trianguation
      * parallel::fullydistributed::Trianguation

In this circumstance, we would not have to

[2019-08-14 04:22] bangerth commented on #8565
We don't use PLEX, so that should not be an issue. Can you find out where the Out of Memory allocations happen? These are allocations on the order of 1.5GB -- we should never allocate this much memory...

[2019-08-14 04:25] masterleinad commented on #8563
It looks like you would need to collect all the global indices of the faces, create a container storing the corresponding face iterators and implement the LegacyForwardIterator interface for using it with `IteratorRange`.

[2019-08-14 04:34] peterrum commented on #8563
I am currently working on a draft. What I was thinking about is to introduce a new Iterator, which stores a `CellAccessor`/`TriaCellIterator<TriaAccessor<dim, dim, spacedim>` and a counter [0,2*dim[. The new iterator could simply access the face (`TriaAccessor<dim - 1, dim, spacedim>`) by calling `cell->face(counter)`.

This would be one very simple implementation. The version described by @master

[2019-08-14 12:42] bangerth commented on #8563
I had thought that implementing it via a cell iterator and an index is the easiest way, but it is true that if one just returned a `std::array<face_iterator,2*dim>`, then one doesn't even need to do anything else since that can already serve as the argument to a range-based for.

[2019-08-14 13:49] peterrum commented on #8563
The version with `std::array` makes the implementation really short (19 added loc; see #8569)...

[2019-08-14 13:51] drwells commented on #8565
For what its worth, I once found a similar issue with hypre when using a Q^1 cell adjacent to a Q^8 cell (but it worked for lower orders, IIRC Q^1 next to Q^4 was OK). The first stack trace looks very similar to that (hypre misallocated memory).

[2019-08-14 14:00] masterleinad commented on #8563
Yes, no need to use a customer container if `std::array` does the job.

[2019-08-14 19:46] starki0815 commented on #8321
I believe I fixed the documentation accordingly when I changed the behavior of `extract_boundary_mesh()` in 3ee095da99613918d6256b66d2df8dcaa0ea59b1; also I cannot find the paragraph you are citing in the current documentation ([here](https://dealii.org/current/doxygen/deal.II/namespaceGridGenerator.html#a0998531458df88a603ae008c726c3c6e)). Is it possible that you just used an old version of the d

[2019-08-14 19:55] starki0815 opened #8571 "begin() and end() of PETScWrappers::MPI::SparseMatrix segfaults"
This little example segfaults if run on more than one processor:
[code]

The reason seems to be that  `begin()` and `end()` of the base class `PETScWrappers::MatrixBase` don't check for the local range. So, my suggestion would be to make sure that  `begin()` and `end()` take the local range into consideration. If there's nothing opposed to this approach, I can write a patch for this.

[2019-08-14 20:01] bangerth commented on #8571
My preferred approach would be to put an assertion into `begin()` that says that you can only do that on processor zero, and on all other processors need to call `begin(first_locally_owned_row)` and similarly `end(last_locally_owned_row)`.

I think that silently doing this hides the fact that different processors will loop over a different set of elements, even though that is not obvious to the pe

[2019-08-14 20:01] #8406 closed

[2019-08-14 20:13] starki0815 commented on #8571
Ok, good point. I will just add assertions into `begin()` and `end()`.

[2019-08-14 21:59] marcfehling commented on #8565
@drwells This particular issue occurs in the very first step during consecutive refinement, where all cells are associated with an `FE_Q(2)` element.

My compilation of commits mentioned above does not cover all commits. This representation here is way more exact: https://github.com/petsc/petsc/compare/v3.6.4...v3.7 This doubles the number of possible commits.

All I can say right now is that this

[2019-08-14 22:12] marcfehling commented on #8565
From our side, something may have gone wrong here https://github.com/dealii/dealii/commit/b31f9715d09aea1a1a97a48cfbe4ef86baf59b8a#diff-faca0bcd1c18503846954d10d3fe65c9 or here https://github.com/dealii/dealii/commit/b31f9715d09aea1a1a97a48cfbe4ef86baf59b8a#diff-faca0bcd1c18503846954d10d3fe65c9.

I need to move on to tackle different tasks now, but will come back to it once I find some time.

[2019-08-15 01:42] rezarastak commented on #8506
@jppelteret your reasoning for using option 2 makes sense and I am working on implementing it. It has one disadvantage though. Running the expression
[code]
will redundantly call `map::find()` function twice (once in `stores_data()` and once in `get_data()`) even in release mode.

[2019-08-15 04:06] masterleinad opened #8578 "Improve MGTransferBlockMatrixFree constructor"
Reported in https://groups.google.com/forum/#!topic/dealii/ZcZQfqk1iFk:
Currently, the default constructor for `MGTransferBlockMatrixFree` does not work because `same_for_all` needs an initializer. Furthermore, it should be possible to set the number of blocks (or the number of different `DoFHandler` objects to use) in the constructor. Otherwise, there is no way to support both possibilities for `

[2019-08-15 05:06] masterleinad commented on #8366
We merged the respective pull request.

[2019-08-15 05:06] #8366 closed

[2019-08-15 05:35] jppelteret commented on #8506
I agree that calling `stores_data()` followed by `get_data()` leads to two lookups in the map. For the purpose of _counting_ the number of stored entries then we could have a more specialised function (admittedly at the expense of a little bit of code duplication):
[code]
For user code, or other points in our own code, we could bypass the double check in release mode by using the following idiom (

[2019-08-15 06:11] rezarastak opened #8581 "material_id does not inherit from parent in distributed refinement"
While working on #8533 I found that `p::d::Triangulation` does not always assign material id of a parent cell to its children after local refinement. If I have not made a mistake, this is a bug.

Code that reproduces this bug (`material_info_refinement.cc`):
[code]
Current output using two MPI ranks is shown below. I modified the second column to show what the correct value should be (using `//`).

[2019-08-15 09:54] starki0815 commented on #8571
I am struggling a bit with the following issues:

(1) Even if `begin()` is called only on the first processor, it will still run into an assertion if the first locally owned line on the first processor is actually an empty line. How to deal with that? Just assume that the user checks that the row length of the first row is greater than zero or increment to the first non-zero line if there is one (

[2019-08-15 12:21] peterrum commented on #8581
I do not think this is a bug.

I think if you want to be safe with `p:d:t` and materials (i.e. re-partitioning), you should **set the materials on all the coarse cells**. In your case create instead of `hyper_cube` a `subdivided_hyper_cube` with 2 subsections and *then*  set the material id.

To your particular setup: you refine once the `hyper_cube` and then set the material ids on the locally ow

[2019-08-15 14:15] peterrum commented on #8581
The updated program would look like this:
[code]

The output of rank 0:
[code]
The output of rank 1:
[code]

@rezarastak: is this what you would expect?

[2019-08-15 14:24] peterrum commented on #8581
The important thing is that setting the material ids of the children is purely process-local operation, i.e. there is no communication.  In worst case, the material is taken from the coarse cells (which should be initialized by all processes the same way). Since the coarse grid is duplicated in `p:d:t`, the correctness of setting the material id without the need of communication should be guarante

[2019-08-15 18:07] #8354 closed

[2019-08-16 02:06] rezarastak commented on #8581
@peterrum Thank you for the explanation. Indeed, assigning materials on all active cells (instead of just the locally owned cells) and using `subdivided_hyper_cube` instead of `refine_global` fixes the issue. Reading the details of the documentation of `p::d::Triangulation` also helped.

Perhaps adding a method called `set_collective_material_id()` or `collect(MeshInfo::material_id)` (by declaring

[2019-08-16 15:24] simonsticko opened #8589 "Broken link to ASPECT under "Applications" on dealii.org"
The link directs to
http://aspect.geodynamcs.org/
but there is an missing an "i" in "geodynamics".

[2019-08-16 15:29] drwells commented on #8589
Thanks for pointing this out. Someone with access to the website should take a look.

[2019-08-16 16:27] drwells commented on #8321
AFAICT @starki0815 is correct and this has been fixed. Hence, lets close the issue. @starki0815 thanks for double-checking this issue!

[2019-08-16 16:27] #8321 closed

[2019-08-16 19:10] rezarastak commented on #8581
Since I got my answer for this issue I close this.

[2019-08-16 19:10] #8581 closed

[2019-08-16 20:03] bangerth commented on #8581
This behavior is actually documented in the class documentation for boundary ids. (If it doesn't mention material ids, feel free to add a note there that mentions that the problem is similar.)

@marcfehling wrote a class recently that allows transfering scalar data like the material id upon mesh refinement. That might be worth checking out.

[2019-08-16 20:18] bangerth commented on #8589
Doh... I fixed it -- thanks for the report!

[2019-08-16 20:18] #8589 closed

[2019-08-16 20:42] bangerth commented on #8563
@peterrum fixes this in record time (thank you very much!).

We ought to also make the simplifying changes to the tutorials. (Like for the corresponding cell changes, the entire library is too large a code base to effectively change; that's ok -- but we should try to teach the current best practice in the tutorials.)

[2019-08-16 20:47] bangerth opened #8590 "Introduce std_cxx17::optional"
C++17 includes `std::optional`. We currently use `boost::optional` but what we should probably do for these locations is to introduce a namespace `std_cxx17` that contains either `std::optional` if the compiler has it, or uses `boost::optional` as an alias if it does not.

[2019-08-16 21:01] bangerth commented on #8571
On 8/15/19 3:54 AM, Sebastian Stark wrote:

That's an issue also on sequential cases as well? What the user expects
for `begin()` is to get a pointer to the first element of a matrix,
whichever row it may live in. For `begin(row)`, the user expects a
pointer to the first element of row `row` or, if there are no elements
in this row, the return value of `end(row)`, whatever that may be.

Yes, that

[2019-08-16 21:33] bangerth commented on #8506
Alternatively, you could let the `get_data()` function return a `boost::optional` object. That's an incompatible change, or maybe one could just deprecate the old function and instead introduce a new function `get_data_for_cell(const cell_iterator &)` that does so. Returning an empty `boost::optional` object then simply indicates that the cell has no data stored.

[2019-08-17 00:58] GrahamBenHarper opened #8591 "Update PolynomialsBDM.degree()"
While making changes under #8588, I noticed that `PolynomialsBDM` defines its `degree()` function to return `polynomial_space.degree() - 1`.

The goal is to assign a degree to the base class during construction before the `polynomial_space` is constructed.

I imagine the best way to tackle this is to write down what `polynomial_space` is by hand and see if there is a formula for the polynomial deg

[2019-08-17 08:13] starki0815 commented on #8571
Yes, that does fail in sequential as well. Probably you are right that most of the time the user expects what you describe when using `begin()`, though I was rather convinced that `for(const auto& index : matrix)` loops over the elements the current processor knows about without asking anybody else.
So, for the sequential case, I'll change the behavior so that begin() returns the first element of

[2019-08-17 19:49] peterrum commented on #8558
@bangerth @tjhei  I think the 6 PRs #8567, #8586, #8579, #8587, #8592, and #8593 contain all necessary generalizations of deal.II that are required by `p:f:t` to be able to run simulations on fully distributed triangulations (also for 1D with MG). Let's get these merged step by step!

In the meantime, I will locally update the `p:f:t` classes to the new infrastructure and will update the tutorials

[2019-08-18 03:16] bangerth commented on #8571
I think that's an entirely reasonable approach: `begin()` and `end()` can only be called if a process owns all rows. In all other cases, an assertion triggers. So yes, please go ahead with the approach you suggest!

[2019-08-18 23:05] bangerth commented on #8535
@peterrum Your naming scheme is fine with me. But I also don't see much of a reason to not *also* rename `parallel::Triangulation` to `parallel::TriangulationBase`: it's a rather internal class, so I'm not too worried about it being incompatible.

[2019-08-19 00:42] bangerth commented on #6059
I've come to believe that `FE_Broken` is a better name for this element -- because it relates to the "broken finite element space" as it is often called.

In reading through some other patches, I've discovered that we have the `FE_DGVector` class that actually might already serve this purpose at least for vector valued cases. But one would have to evaluate whether that is actually true.

[2019-08-19 00:47] bangerth commented on #6059
Plus there are classes `FE_DGRaviartThomas`, `FE_DGBDM`, and `FE_DGNedelec`. Who knew. I think they correspond to what we need.

Now we just have to update the step-61 tutorial by using them. @sophy1029 -- if you're adventurous!

[2019-08-19 03:04] #8590 closed

[2019-08-19 03:46] sophy1029 commented on #6059
@bangerth  Yes! I suppose we can use FE_DGRaviartThomas instead of FE_RaviartThomas to calculate discrete weak gradients? And we can also output Darcy velocity by creating a dof_handler associated with it?

[2019-08-19 03:59] bangerth commented on #6059
On a single cell, there should be no difference. So you won't *need* it for computing the weak gradient, though it would probably be the more consistent thing to do.

For outputting the Darcy velocity, this indeed seems like the exact right thing to use! It would be great if you wanted to give this a try!

[2019-08-19 04:06] sophy1029 commented on #6059
Yes! I'd like to try to calculate and output the numerical velocity.

[2019-08-19 07:24] peterrum commented on #8535
@bangerth @tjhei  The updated class hierarchy is as follows:
* Tringulation
  * **parallel::TriangulationBase**
    * parallel::shared::Triangulation
    * **parallel::DistributedTrinagulationBase**
      * parallel::distributed::Trianguation
      * parallel::fullydistributed::Trianguation

[2019-08-19 17:54] bangerth commented on #6059
Then go right ahead!

[2019-08-19 22:57] bangerth opened #8606 "Install a signal handler for SIGFPE"
We use `numbers::signaling_nan()` in a number of places, and that has turned out to be quite useful for finding bugs. But the error message is pretty terrible: In the best case, one gets a printed message that a SigFPE has happened.

We could do better by installing a signal handler for SigFPE that prints a coherent message in the same style as we currently do with ExcNotImplemented.

[2019-08-19 23:21] masterleinad opened #8607 "Whitelist types usuable for std::complex multiplication/devision overloads"
Currently, we allow any type marked with `EnableIfScalar` to be used in the `std::complex` overloads for multiplication and division in `include/deal.II/base/complex_overloads.h`. As #8602 shows, this is problematic in case these types define `operator*` or `operator/` on their own.
We should make the implementation in `include/deal.II/base/complex_overloads.h` less greedy and whitelist suitable t

[2019-08-20 06:10] peterrum commented on #8535
We can close this issue. It has been resolved by PR #8600.

[2019-08-20 12:28] masterleinad commented on #8535
You know that you can close issues automatically by saying "Fixes #..." ? https://help.github.com/en/articles/closing-issues-using-keywords

[2019-08-20 12:28] #8535 closed

[2019-08-20 13:26] simonsticko commented on #1805
Has there been any more discussion on this topic? Or a decision?

One could argue that using a unit testing framework would make it easier for new contributors to write good unit tests.

[2019-08-20 15:12] masterleinad commented on #1805
I don't quite agree. You will still need to learn the unit testing framework and I believe the one we are using right now is simple enough. The only advantage I see is running the test suite in a shorter amount of time.

[2019-08-20 19:26] tjhei commented on #1805
That and having to write less code. This is what we do in ASPECT:
https://github.com/geodynamics/aspect/blob/master/unit_tests/parse_map_to_double_array.cc#L199

[2019-08-21 07:26] anates opened #8612 "Documentation for HDF5-namespace is out-of-date"
The first example on https://www.dealii.org/developer/doxygen/deal.II/namespaceHDF5.html is
[code]
`HDF5::File::Mode::create` does not exist, though, it should be `HDF5::File::FileAccessMode::create`, as far as I know. I assume it is a relic from earlier versions.
Unfortunately I do not have time for opening a PR for that myself atm, thus this issue.

[2019-08-21 12:35] bangerth commented on #8612
@dangars -- FYI.

[2019-08-21 13:42] dangars commented on #8612
Thanks @anates !
That is right, it is a relic from an earlier version.
I fixed it in #8615

[2019-08-21 14:41] #8612 closed

[2019-08-21 14:42] bangerth commented on #8612
Thanks, everyone, for the quick turnaround!

[2019-08-21 14:51] peterrum commented on #8558
@bangerth @tjhei @kronbichler Regarding the next PR (which will contain the actual `p:f:t`)

Do you have any special tests in mind? I was thinking that I add step 1, 3, 4, 5, 7, and 8 from my [documentation](https://github.com/peterrum/dealii-pft). I leave (de)serialization and the advanced partitioning techniques for a later PR.

Side note: `p:f:t` seems to work with the new infrastructure after

[2019-08-21 17:46] #8607 closed

[2019-08-21 18:46] bangerth opened #8616 "New test fails"
The new test that came in via #8555 fails on my system with the following error message. @marcfehling -- any idea? Does the test succeed on your system?

[code]

[2019-08-21 19:51] tcclevenger commented on #8387
Thanks @masterleinad! I'm now compiling error free on that cluster.

[2019-08-22 05:12] #8571 closed

[2019-08-22 20:43] #8387 closed

[2019-08-22 21:34] dangars opened #8625 "DataPostprocessor fails with std::complex Vector"
Following up on #8617, in step-68 I calculate the eigenmodes of an electromagnetic cavity. The variable is the complex vector `electric_field`. To calculate `h_field= i*curl(E)/(omega*mu)` I use `DataPostprocessor` which seems to work fine except that it repeats names.

The problem is that `h_field` and `electric_field` are std::complex vectors. In the case of `electric_field` I can choose `DataCo

[2019-08-22 21:42] dangars commented on #8625
Right now the current function for DataPostprocessor is:
[code]

I guess that the solution to this issue would be to add the following function:
[code]

If this is a good solucion, let me know and I can write the PR, otherwise which would be the solution?

[2019-08-22 22:04] dangars commented on #8625
Another issue is that `DataOut` does not allow to put a complex vector in two separate vectors one for the real part and another one for the imaginary part. For example for the vector `electric_field` I get:
[code]
If I have several eigenmodes that makes a huge list in Paraview. It would be better to have just two vectors per complex vector. One for the real part and another one for the imaginary

[2019-08-22 23:02] dangars commented on #8625
Thinking about `DataOut`, I realized that another issue is that the separation is done before `DataPostprocessor`, that means that it is not possible to do complex operations. For example the magnetic field is `h_field = i*curl(E)/(omega*mu)`, although I can always output `curl(E)` with deal.II and then calculate the magnetic field with Paraview.

[2019-08-23 11:33] krishnakumarg1984 opened #8628 "[minor] Improve the wording on documentation of Step-3"
In step-3 of the tutorials, we have

Only the object A is SparseMatrix.  The objects U & F are both of type Vector.  It would be great if the language/wording of the tutorial page is updated to better reflect this with clarity.

[2019-08-23 11:58] peterrum commented on #8628
If you want, you can help us and create a pull request.

[2019-08-23 11:59] krishnakumarg1984 commented on #8628
@peterrum I have never done this before, can you please point me to a recommended online tutorial on how to do this?

[2019-08-23 12:03] peterrum commented on #8628
It is explained here: https://github.com/dealii/dealii/wiki/Contributing

In a nutshell: you fork deal.II, make the modifications locally, then you push to your fork and click on the create a pull request button.

[2019-08-23 12:06] krishnakumarg1984 commented on #8628
@peterrum thanks a lot. I shall do this.

Also, the wording like "integral type" should actually be "integer type" I guess.  In this context, the data-type in C++ has nothing to do with the mathematical integrals discussed in the preceding section of this tutorial (step-3).

[2019-08-23 15:58] bangerth commented on #8628
On 8/23/19 6:06 AM, Krishnakumar wrote:

Yes, I think that would be fantastic!

"integral" is the adjective that corresponds to the noun "integer". I agree
that it's slightly confusing, but it's also used widely in the C++ language:
   https://en.cppreference.com/w/cpp/types/integral_constant
   https://en.cppreference.com/w/cpp/types/is_integral
We could add a note about the adjective use of that

[2019-08-23 16:22] bangerth commented on #8628
I've clarified the issue with "integral" in #8632.

[2019-08-23 22:07] jppelteret opened #8634 "Plot shape functions for vector-valued FE's"
Some (if not all?) vector-valued FE's lack images of what their basis functions look like. Somewhere there's a tool to plot the nice pictures of the shape functions for the [FE_Q class](https://dealii.org/developer/doxygen/deal.II/classFE__Q.html), but maybe we're lacking one that might work for the vector-valued elements. Perhaps this code snippet could be improved / generalised to help in this r

[2019-08-23 23:52] marcfehling commented on #8616
Interesting. All I wanted to do is to impose a specific type of boundary conditions on the leftmost cell.

Instead of checking for `CellIDs` and verfiying the position via `Assert`, I could directly decide by their position. I'll come up with a fix.

[2019-08-23 23:57] marcfehling commented on #8581
The class @bangerth was talking about is called `p::d::CellDataTransfer` and can be used to send any kind of cell-related data (as long as serializable) across meshes.

[2019-08-24 10:51] krishnakumarg1984 commented on #8628
@bangerth and @peterrum Yay! I have created my first pull-request for this incredibly minor issue :). I shall be happy to amend it further based upon your review.

[2019-08-24 18:43] dangars commented on #8634
@jppelteret Thanks for this code! Now that I'm working with Nedelec, this is very helpful!

[2019-08-24 23:41] marcfehling commented on #8616
With how many processes does this test fail?

[2019-08-25 01:19] bangerth commented on #8616
I think this was with just one process.

[2019-08-26 12:01] anates opened #8643 "Documentation for HDF5-Namespace is out-of-date, II"
The example for writing a hyperslab (given here: https://www.dealii.org/developer/doxygen/deal.II/namespaceHDF5.html) is
[code]
`data` is never used, and `hyperslab_data` is never introduced. I assume it is a leftover bug (similar to issue https://github.com/dealii/dealii/issues/8612#issue-483245491). The same problem is visible below, in section "Rank of HDF5 datasets".

[2019-08-26 13:03] bangerth commented on #8643
@dangars -- any suggestions?

[2019-08-26 21:34] dangars commented on #8643
@anates Thanks a lot for your feedback! I fixed it in #8645
I added references to step-62. Did you take a look to step-62?

[2019-08-26 22:33] marcfehling opened #8647 "Discrepancies in refinement between p4est and Triangulation"
PR #8637 introduced a scenario in which the refinement and coarsening flags left after calling `prepare_coarsening_and_refinement()` do not represent how refinement will be performed by `p4est` during `execute_coarsening_and_refinement()`.

The fix introduced in this PR will ultimately rely on `p4est`'s refinement behavior. However as @bangerth stated, we are supposed to be predicting during `prep

[2019-08-27 07:18] anates commented on #8643
@dangars No, not yet. I wanted to write HDF5-files in a separate project unrelated to deal.II, and found it convenient to use the functionality built into deal.II. Thus I mainly used the documentation itself, but not step-62. Thanks for the hint!

[2019-08-27 11:10] krishnakumarg1984 opened #8653 "[minor] Definition of K & \mathbb{T} is missing in step-3 documentation"
We need a way to form the integrals. In the finite element method, this is most commonly done using quadrature, i.e. the integrals are replaced by a weighted sum over a set of points on each cell. That is, we first split the integral over Ω into integrals over all cells,

\begin{align*}
A_{ij} &= (\nabla\varphi_i, \nabla \varphi_j) = \sum_{K \in {\mathbb T}} \int_K \nabla\varphi_i \cdot \nabla \va

[2019-08-27 18:52] dangars commented on #8625
@bangerth You can find the test in #8657, I think that #8648 does not solve the problem.

I managed to calculate `H=i*curl(E)/(omega*mu)` but I had to separate the solution in real and imaginary before DataPostprocessor and DataOut. Then I tell `DataProcessor` if I'm giving him the real or the imaginary part. I can do this because Re(H) depends only on Im(E) and Im(H) depends only on Re(E).

The p

[2019-08-27 19:02] Laar opened #8658 "FE_FaceQ does not support update_gradients from FEFaceValues"
Using update_gradients in FEFaceValues with a FESystem that contains an FE_FaceQ is not possible as FE_FaceQ throws an ExcNotImplemented. Thus implementing a discretization [like this](https://epubs.siam.org/doi/abs/10.1137/090775464), which on the face needs the normal derivatives and traces of FE_DGQ and the traces of FE_FaceQ, is not possible as passing update_gradients to FEFaceValues triggers

[2019-08-30 22:32] marcfehling commented on #8565
Using `git bisect` with this [shell script](https://github.com/dealii/dealii/files/3561734/git-bisect.txt), it appears that https://github.com/petsc/petsc/commit/c1a91092286e882c060e516e7ba200473ad3b05b is the first bad commit.

It seems like an update of `hypre` in `petsc` is responsible for this issue, so I guess we need to look at https://github.com/LLNL/hypre...

[2019-08-30 22:49] marcfehling commented on #8565
I'll extend the shell script tomorrow to also take into account `hypre`. So we'll need to build `hypre`, then `petsc`, then `deal.II`, then the failing testcase which needs to be run in the end. I am glad that `git bisect run` exists :)

[2019-08-31 13:51] drwells commented on #8565
This is probably related to what I saw a year and a half ago (and ignored at the time). Thanks for chasing this down!

[2019-09-02 07:50] kronbichler commented on #7357
Just as a remark, an easier fix in the multigrid context of this problem is to use `MappingFEField` on the finest level with `VectorTools::get_position_vector`, and then use `MGTransferMatrixFree::interpolate_to_mg` as in https://github.com/dealii/dealii/blob/master/tests/mappings/mapping_fe_field_05.cc
This should give consistent fields between the levels present in the grid, but of course does n

[2019-09-03 00:52] GrahamBenHarper opened #8682 "Rename AnisotropicPolynomials::compute() to evaluate()"
This is a follow-up to #8619 to make all the polynomials classes consistent; however, this is used in many test files and also referred to by classes like `PolynomialsBernardiRaugel`, so the changes for this will likely span many files.

This was made obvious in  #8678 while changing the test `anisotropic_1.cc`. Now there are two polynomial spaces side-by-side, one is `TensorProductPolynomials<dim

[2019-09-03 02:55] #8591 closed

[2019-09-03 03:43] bangerth commented on #8682
Yes, we should clean that up as well. Couldn't we also derive `AnisotropicPolynomials` from `ScalarPolynomialsBase` eventually? (In a follow-up, once everything else is settled?)

Part of #1973.

[2019-09-03 06:09] rezarastak opened #8683 "Compile error with BlockVectorBase<VectorType>:equ"
Class `BlockVectorBase<VectorType>` and consequently all of its child classes contain the method `equ(a, U, b, V)` [here](https://github.com/dealii/dealii/blob/93c23a153520ca3715b83f06eee4331b26772427/include/deal.II/lac/block_vector_base.h#L942) and it is implemented by calling the corresponding method `VectorType.equ(a, U[i], b, V[i])`, but there is no `equ` method with 4 arguments in vector cla

[2019-09-03 10:50] krishnakumarg1984 opened #8684 "Consider replacing int by uint8_t for all dimension variables"
In step-4 of the tutorial program, the benefits of dimension independent coding is very convincingly presented. However, with so much careful attention to `types`, it is a bit surprising that the `dim` parameter is left as a plain old `int`.

For instance, `dim` cannot be negative nor can it practically be `65535`.  With bare int, there is also compiler/platform dependent ambiguity on the integer

[2019-09-03 11:02] peterrum commented on #8684
I agree that dimension independent coding is a cool feature.

Also, I agree with `int` being an odd type for `dim`. I would rather use `unsigned int`. But changing `int` to any other type (`int8_t` or `unsigned int`) internally would be quite a lot of work (for hardly any performance benefit since dim is in most cases just a template parameter)...

[2019-09-03 11:04] krishnakumarg1984 commented on #8684
@peterrum thank you.

IMHO, `int` should have failed `deal.ii`'s suite of tests, isn't it? Or is there no assertion to test for zero or negative values for `dim` in the test-suite?

[2019-09-03 11:13] krishnakumarg1984 opened #8685 "Get rid of convoluted syntax to set up RHS and BoundaryCondition constructors"
As per the [release notes](https://github.com/dealii/dealii/releases/tag/v9.0.0) of deal. ii v9.0.0,

However. step-4 of the tutorial goes to great lengths to provide a default constructor for the RHS & BoundaryValues. To quote,

GCC pre 4.3 does not anyway support C++11 standards: [Reference](https://en.cppreference.com/w/cpp/compiler_support#cpp11). Consequently, I believe that it may be possibl

[2019-09-03 12:51] drwells commented on #8684
I think that we have had this discussion in the past but I cannot locate the issue right now. I would appreciate it if someone would find it.

A few quick comments:
1. Since this is a template parameter it is almost always optimized away by the compiler. While I have not checked, I very strongly doubt that changing the numerical type will change the generated code in any way inside hot loops.
2. C

[2019-09-03 13:11] Rombur commented on #8684
See here https://github.com/dealii/dealii/issues/2266 The TLDR is that we could change it but nobody had a really good reason why we should.

[2019-09-03 13:22] krishnakumarg1984 commented on #8684
@drwells if not the size_t version, at the least, `dim` and `spacedim` should be `unsigned`. This won't break anything, while logically conveying the idea that these can't be negative.

[2019-09-03 13:46] bangerth commented on #8683
Go with 2. It is strictly speaking an incompatible change, but nobody can have used this function (because it doesn't compile) and so there is no harm to just removing it.

[2019-09-03 13:47] bangerth commented on #8685
Yes, that's a left-over from long ago. Want to write a patch that just removes the workaround in step-4?

[2019-09-03 13:49] krishnakumarg1984 commented on #8685
@bangerth Is this only present in step-4? I am still a (slow) learner. I can certainly write a patch after testing on my machine (in the next week or so, if that's okay with you?).

[2019-09-03 13:54] bangerth commented on #8684
I am to fault for the choice. I made it back in the summer of 1997 in a pre-decessor set of classes to deal.II. I was young and inexperienced :-)

@drwells summarizes the issue well: `uint8_t` is awkward because it doesn't print well. `unsigned int` would be more appropriate and if we had to redo it today, that's what we would choose. One could write a patch with several 1000 lines that changes th

[2019-09-03 13:56] bangerth commented on #8685
I don't know -- the comment is probably only in step-4, but the default constructor might be in other places as well. Feel free to look around -- though I'm an incrementalist and consequently think that a patch that even just fixes the issue in one place is a good patch.

[2019-09-03 14:14] krishnakumarg1984 commented on #8685
Okay, I'll try to give this a go.

[2019-09-03 14:17] krishnakumarg1984 commented on #8684
If it's a simple project-wide `find-and-replace` kind of thing, I am up for the challenge. The task is to
replace all
`int dim` and `int spacedim`
with

`unsigned int dim` and `unsigned int spacedim`

right?

[2019-09-03 14:26] masterleinad commented on #8684
Yes, and compiling and testing. I would assume that you get a number of warnings of the kind "empty loops don't make sense" for code using loops like
[code]
which is pretty annoying.

[2019-09-03 14:33] peterrum commented on #8684
And comparing `int` with `unsigned int`...

[2019-09-03 14:33] drwells commented on #8684
We would also have to change template-templates, e.g., `template <int, int> class DoFHandlerType`, forward declarations, etc.; its a very involved change.

[2019-09-03 15:03] GrahamBenHarper commented on #8682
Yes deriving it from `ScalarPolynomialsBase` would be the best idea. From what I saw, there's enough work that I could tackle it as its own PR in the next week.

[2019-09-03 15:09] simonsticko opened #8689 "Possibly incorrect statement on maximum number of dofs in documentation"
On the page [Parallel computing with multiple processors using distributed memory](https://www.dealii.org/developer//doxygen/deal.II/group__distributed.html#details) the following statement is made:

"we do not have solvers that are capable of more than 2^31 degrees of freedom due to the use of signed int as index"

Is this statement still valid? Isn't the purpose of DEAL_II_WITH_64BIT_INDICES to

[2019-09-03 19:00] tjhei commented on #8684
Is is a _lot_ more involved than replacing "int dim" by "unsigned int dim".
This also has the potential to break (or at least encourage changes to) every single code written based on deal.II with no advantage, so I am against making this change.

[2019-09-03 19:09] bangerth commented on #8689
On 9/3/19 9:09 AM, Simon Sticko wrote:

No. Yes.

Want to write a patch to fix this statement?

[2019-09-03 19:09] #8683 closed

[2019-09-03 19:09] bangerth commented on #8682
Separate PR would be great -- thanks for considering it!

[2019-09-03 19:27] tjhei opened #8691 "doxygen: broken base class for hp::FEValues"
It seems doxygen doesn't understand the base class, see https://www.dealii.org/developer/doxygen/deal.II/classhp_1_1FEValues.html so functions like get_present_fe_values() don't show up.

[2019-09-03 19:33] simonsticko commented on #8689
Removed the statement in #8692.

[2019-09-03 19:33] #8689 closed

[2019-09-03 20:00] masterleinad commented on #8689
FYI, the `GitHub` way for closing issues addressed in pull requests is to mention a keyword in the commit message (https://help.github.com/en/articles/closing-issues-using-keywords).

[2019-09-04 10:00] krishnakumarg1984 commented on #8684
Okay, after reading all the insightful comments here, I concur that making any changes has a disproportionately high cost for little technical benefit (apart from a small semantic/logical improvement).  Hence, I am voting to close this issue.

[2019-09-04 11:40] marcfehling commented on #8565
I guess I found two successive commits in `hypre` that may be responsible for the issue. My testcase works at https://github.com/hypre-space/hypre/commit/f5342061505564d8ce85f94a1830fe97caafe43f, but fails at https://github.com/hypre-space/hypre/commit/f4e70c897bb0296f244ff25911cfe413b679d679. The changes between these commits https://github.com/hypre-space/hypre/compare/f5342061505564d8ce85f94a18

[2019-09-04 11:48] marcfehling commented on #8565
Just to make sure that I did not screw anything up, I'll double check my findings with completely clean builds of all involved libraries. I'll keep you informed.

[2019-09-04 12:34] drwells commented on #8684
Its a good question but I think we have reached a consensus to let it be.

[2019-09-04 12:34] #8684 closed

[2019-09-04 14:36] marcfehling commented on #8565
I did indeed screw things up: My test works in both commits. I enhanced my shell script to clean-build every library from scratch and will continue investigations. I know suspect this commit https://github.com/hypre-space/hypre/commit/f8b2fa91b2189361a8e6050630a5db52a7a970e1 to be responsible for this issue, since it introduced a new memory handling model in `hypre`.

[2019-09-04 14:43] tjhei commented on #8565
What is the smallest test case that breaks (how many cores do you need?)? Did you try running under valgrind or clang address sanitizer in parallel?

[2019-09-04 15:25] marcfehling commented on #8565
@tjhei It is the parallel version of `step-27` with exactly 6 global refinements on exactly 20 processes. I could not reproduce this issue with any other combination. I haven't tried valgrind or equivalent tools yet since I wanted to find the responsible commit first.

I just found a good https://github.com/hypre-space/hypre/commit/f4e70c897bb0296f244ff25911cfe413b679d679 and bad commit https://gi

[2019-09-04 16:15] krishnakumarg1984 opened #8696 "Step-4 documentation: Explanation of keywords virtual & override in RHS/BC template functions"
Step-4 tutorial explains the idea of deriving the `RHS` and `BC` classes from the general `Function` class. However, there is a sudden mental jump for the reader upon encountering the actual `c++` code.

In particular, the line
`virtual double value(const Point<dim> & p, const unsigned int component=0) const override;`

might be confusing to a newbie (it certainly is for me).  I don't know much ab

[2019-09-04 16:30] masterleinad commented on #8696
As always, we are happy to discuss any contribution in the form of a pull request. Currently, you are in a good position to tell what would have been helpful for you by adding it directly to the documentation for `step-4`.

[2019-09-04 16:32] krishnakumarg1984 commented on #8696
@masterleinad I don't understand these keywords myself (they caught me by surprise), and hence don't feel qualified to offer a pull request.

[2019-09-04 17:52] krishnakumarg1984 opened #8697 "Step-4 documentation (possible) mistake: 2D-solution plot is incorrect (looks like from step-3)"
In step-4, we solve $\nablaLaplacian u = 4(x^2+y^2)$ for the 2D case with BC = $x^2+y^2$.  However, the plot on the `dev` version is that corresponding to the step-3 (RHS=1 and zero BC), which is also what is shown from `13:00` to `14:10` in the corresponding [video lecture](https://www.youtube.com/watch?time_continue=731&v=l9XSA6pRs9w).

If the maintainers concur that this is indeed the case, I s

[2019-09-04 18:44] #8691 closed

[2019-09-04 20:13] masterleinad commented on #8697
For me, the pictures in step-4 look much different from the ones in step-3. In particular, I don't see homogeneous Dirichlet boundary conditions. Can you post a link to the plot that you think is wrong?

[2019-09-04 20:21] krishnakumarg1984 commented on #8697
Aargh. Indeed I am sorry. I saw some differences between the tutorial image and my simulation output image and jumped to a wrong conclusion. Sorry for the noise. Shall close this issue.

[2019-09-04 20:21] #8697 closed

[2019-09-04 21:23] dsambit commented on #7053
@tjhei@tamiko I am planning to work on making a cleaner fix for this issue. I am wondering if you have any suggestions regarding this.

[2019-09-06 12:34] marcfehling commented on #8565
I was able to locate the introduction of the error in a range of 65 commits https://github.com/hypre-space/hypre/compare/f4e70c8...a08bfa5. My test completes with https://github.com/hypre-space/hypre/commit/f4e70c8 and fails with https://github.com/hypre-space/hypre/commit/a08bfa5 for the first time. I was not able to narrow the selection of commits down any further, since I was not able to build

[2019-09-06 13:03] marcfehling commented on #8565
Or use [`petsc v3.6.4`](https://github.com/petsc/petsc/releases/tag/v3.6.4) which is configured to use the last working version of `hypre`.

[2019-09-06 13:12] tjhei commented on #8565
You narrowed it down to a very small set of patches. Maybe it is worth opening a bug report for hypre (and let them worry about how to fix it).

[2019-09-06 15:10] masterleinad commented on #8565
We could also report this problem on https://www.dealii.org/current/external-libs/petsc.html and recommend people to not use anything newer than version 3.6.4 if they are concerned about running into this corner case.

[2019-09-08 11:16] dangars opened #8710 "Fichera corner Maxwell simulation fails"
@bangerth , @tamiko and @tjhei During the workshop I showed you some Maxwell simulations in which the solution was discontinuous. I've been working on this and I've been able to isolate the problem. I find these discontinuities when I have sharp metallic corners.

I find the same problem for `Nedelec` and for `NedelecSZ`. I don't know if the problem is related to the finite element. @rosskynch any

[2019-09-08 11:23] rosskynch commented on #8710
How do things behave if you try to isolate the singularity with h refinement?

[2019-09-08 12:23] dangars commented on #8710
@rosskynch Thanks for the quick reply!

I'll try h refinement. I just tried a global refinement, but it does not help as you can see below. In "average" the solution is good, but there are discontinuities. I'm using `std::complex`, I don't think that the origin is the `std::complex` algebra, but I can do the same test for a `real` simulation.

I din't use the `hyper_L` geometry for the test. In or

[2019-09-08 12:27] rosskynch commented on #8710
I always solved the real and imaginary parts separately rather than using complex numbers, but I don't see why it shouldnt work.

I don't think uniform refinement helps you here, you need to mesh tightly around the singularity. This may be tricky as nedelecSZ doesn't support hanging nodes (possibly the old element can handle it though).

[2019-09-08 12:47] dangars commented on #8710
All my tests with `std::complex` that don't have singularities give good results, but I'll try real algebra.

I'll try h-refinement with the old element.

This is a very basic question: I've been reading Peter Monk book, but it is still not clear to me how the continuity is enforced with the Nedelec element. The electric field should be continuous if there is no dielectric boundary, in fact the co

[2019-09-08 17:07] dangars commented on #8710
@rosskynch I found something very interesting, the Nedelec element is very sensitive to the quadrature degree when you have singularities.

I realized that in your implementation you have the degrees of freedom for the edges, faces and volume. That makes lot of degrees of freedom per cell. I was using `QGauss<dim>(degree + 1)` I noticed that you used `QGauss<dim>(2 * degree + 3)` in `fe_nedelec_sz

[2019-09-08 20:23] dangars commented on #8710
The element `FE_NedelecSZ(1)` has 54 degrees of freedom in 3D. This improves the precision but it can be confusing and may have some drawbacks. For example in my code I do a frequency sweep and I have a "cache" for the quadrature points (see step-62). An element with 54 degrees of freedom explodes that "cache".

Acording to Peter Monk's book the linear Nedelec element has only degrees of freedom o

[2019-09-08 20:54] rosskynch commented on #8710
On the quadrature - I remember it needing to be higher but I can't remember the precise reason. If you look at the basis set I think you'll see there are polynomials with higher degrees than degree+1 in them.

Peter Monk's book is excellent on the subject but I'd also point you to the thesis of Sabine Zaglmayr which I based a lot of the code on (and where the SZ comes from): https://www.applied.ma

[2019-09-08 21:29] dangars commented on #8710
@rosskynch Thanks a lot for all your answers, they helped me a lot!

That is right `FE_NedelecSZ(0)` has 12 degrees of freedom in 3D, therefore there is no need to add any additional option.

I'm going to read the Sabine Zaglmayr thesis to see if I can come with a better Quadrature formula for Nedelec.

I'm going to update the documentation for `FE_NedelecSZ` and `FE_Nedelec` and add what we have

[2019-09-08 21:29] #8710 closed

[2019-09-08 21:48] rosskynch commented on #8710
Glad I could be of some help!

[2019-09-09 08:56] agrayver commented on #8710
FWIW, Markus Bürg has considered many singular cases, including L-shape domains, in his PhD thesis for Maxwell's equations (he used FE_Nedelec).

Perhaps part of the issue owns to the fact that your equation is indefinite, thereby imposing constraints on the mesh.

[2019-09-09 09:36] dangars commented on #8710
@agrayver Could you add the link to the pdf version of Markus Burg thesis? I couldn't find it

If the Markus thesis can not be found online, I'll send you an email. I found your email at your ETH website.

[2019-09-09 09:43] agrayver commented on #8710
Yes, sure: https://publikationen.bibliothek.kit.edu/1000029034

[2019-09-09 09:47] dangars commented on #8710
Thanks!

[2019-09-09 11:28] fvanmaele opened #8714 "doxygen: ordinal not in range (Ubuntu 18.04)"
I am trying to build `dealii 9.1.1` using the [`debian sid` source package](https://packages.debian.org/source/sid/deal.ii) on `Ubuntu 18.04 x86_64`. (This package appears identical to the `Ubuntu eoan` version, an [`arm64` issue](http://changelogs.ubuntu.com/changelogs/pool/universe/d/deal.ii/deal.ii_9.1.1-4ubuntu1/changelog) aside.)

Using `pbuilder`, the build completes except for the last `Dox

[2019-09-09 13:13] melaniegerault opened #8715 "Failing to install deal.II on an old Mac using Spack"
When I used the standard .dmg file to install deal.II on my old MacBook (late 2010, running 10.13.6), I ran into the documented issue "illegal instruction: 4", so I've been following the instructions [here](https://github.com/dealii/dealii/wiki/deal.II-in-Spack#using-macos) to install it via Spack.

However, the "git reset --hard 09033e991ef390370955eebecb2c0f734994d16b" causes issues because the

[2019-09-09 13:26] drwells commented on #8714
This is a really bizarre error: it implies that we cannot compile the documentation on 9.1.1, but we (at least me) have done this.

My best guess (which is not that great) is something wrong with the version of python that we rely on (which is not well documented at all) with sid.

[2019-09-09 15:46] tamiko commented on #8714
This is definitely a python 2 versus 3 issue.
We switched to python3 in the current sid package because it looked quite save to do so. So I am a bit surprised to see this exploding.

@fvanmaele

We provide a ppa with a backported dealii-9.1.1 here: https://launchpad.net/~ginggs/+archive/ubuntu/deal.ii-backports Would you mind to either use that (or the corresponding source package) instead?

[2019-09-09 17:22] bangerth commented on #8710
Yes, the polynomial degree of the `FE_Nedelec(0)` element is one, so you need a quadrature formula with at least 2 points per direction. People define the "order" of an element in inconsistent ways, independent of the degree of the polynomial.

I think you've already found help here, but I'd like to add a couple of ideas:
* I've learned to distrust images. I would have written independent code to

[2019-09-09 18:47] fvanmaele commented on #8714
Thank you! I was not aware there was already a backported package
available. deal.ii - 9.1.1-2~ubuntu18.04.1~ppa1 compiled without issue.

On 9/9/19 5:46 PM, Matthias Maier wrote:

[2019-09-09 18:47] #8714 closed

[2019-09-09 18:56] drwells commented on #8714
We talked at the workshop about getting rid of the additional python dependency. Did we ever open an issue to track it?

[2019-09-09 19:12] tjhei commented on #8715
I assume you don't need the gmsh features inside deal.II, so you can try disabling gmsh by running ``spack install dealii%clang~gmsh`` instead.

[2019-09-09 19:50] tamiko opened #8718 "Step-56: Error in debug configuration"
When running step-56 as is on my machine it crashes with the following error:
[code]

[2019-09-09 19:50] tamiko commented on #8718
@tjhei @rrgrove6 *ping*

[2019-09-09 20:06] tjhei commented on #8718
huh, found it. PR coming.

[2019-09-09 21:18] dangars commented on #8710
I added PR #8720 to clarify in the documentation the oder/degree and the required number of quadrature points.

How do you do the interpolation and in which part of the program would you do that? You would do the interpolation in `assemble_system()`?

[2019-09-09 21:36] bangerth commented on #8710
There is not going to be any linear system to solve, so you just comment out the calls to `assemble_system` and `solve` and instead call the interpolation or projection function.

[2019-09-09 21:37] bangerth commented on #8710
I wanted to suggest that you use `VectorTools::interpolate()`, but I'm not sure it works for Nedelec elements. I think it does. If it doesn't, use `VectorTools::project()`.

[2019-09-09 22:06] dangars commented on #8710
Ok, I'll try that!

[2019-09-09 22:28] #8718 closed

[2019-09-10 14:45] melaniegerault commented on #8715
Thank you Timo, that worked!

[2019-09-10 14:45] #8715 closed

[2019-09-10 19:01] marcfehling opened #8729 "PETSc issue: Convergence failure with hp-adaptivity"
I continued to prepare scaling plots with parallel hp-adaptivity for my graduation after tracing back some issues to `hypre` in #8565. But I encountered a different issue with `PETSc`, which also occurs with the 'compatible' version of `hypre`: The `SolverCG` object does not converge by solving the Poisson equation from `step-27`, even when using `PreconditionJacobi`. I am still working with the s

[2019-09-10 19:21] marcfehling commented on #8729
I am confused that there are differences in the convergence error messages for different values for `data.symmetric_operator`. Is it possible that something went wrong during the assembly of the equation system, so that the matrix is no longer symmetric? But if that is the case, why doesn't `Trilinos` complain about it?

[2019-09-10 21:19] bangerth commented on #8729
The wisdom of the community is that hypre is better for Q1 elements, and ML is better for higher order elements. Since you do have higher order elements, the use of the `higher_order_elements` flag seems useful.

The growth in the number of iterations is disappointing. This makes the whole method rather unusable. Is what you see here dependent on having adaptively refined meshes, or do you see the

[2019-09-10 21:21] bangerth commented on #8729
As for the symmetric flag: When you specify it, you get one refinement step further, so clearly the preconditioner is better than the one you get if you don't set that flag. That seems reasonable to me. Or do I misunderstand?

[2019-09-10 21:31] marcfehling commented on #8729
Yes, we get an additional refinement step with that flag.

I was confused that the error message with `symmetric_operator = true` says that the `iterative method reported convergence failure in step 5`, which appears to me that it is giving up way too early. Maybe `PETSc` complains about something, which is interpreted by `deal.II` as some complaint about convergence, but is in fact something comp

[2019-09-10 21:37] marcfehling commented on #8729
I just tried setting the `higher_order_elements` flag on our supercomputer, but I cannot observe any reduction on the number of iterations :(

I know :(

I haven't tried that kind of 'divide of conquer' approach yet, but will do tomorrow. I may also try to switch back to a non-hp `DoFHandler` to check if that issue is related to the domain shape or adaptive mesh refinement in general.

[2019-09-10 21:39] marcfehling commented on #8729
We should think about tackling this in a later PR: Either by overwriting these defaults (if they exists), or warning the user that their provided maximum number of iterations will be overwritten by these defaults.

[2019-09-10 21:44] bangerth commented on #8729
On 9/10/19 3:39 PM, marcfehling wrote:

Yes -- feel free to open an issue about this.

[2019-09-10 21:54] marcfehling opened #8733 "PETSc SolverControl: Maximum number of iterations truncated?"
As noticed in #8729, `PETSc` does not seem to follow the user's specification on the maximum number of iterations given by the `SolverControl` object: It forces an own maximum of `10000` iterations if the user's value exceeds this threshold. The question came up whether `PETSc` sticks to some own default value, or truncates it to some own maximum value.

We should either overwrite these defaults (

[2019-09-10 22:53] fvanmaele commented on #8714
I think it should be feasible to rewrite set_canonical_doxygen in Perl
(similar to most of the other doxygen scripts). If there is no existing
issue for it, I could open one + resulting PR?

On 9/9/19 8:56 PM, David Wells wrote:

[2019-09-11 03:06] drwells commented on #8714
@fvanmaele we need to do this, so go ahead please!

[2019-09-11 12:25] tjhei commented on #8729
Two quick comments:
You are using CG, which means your system and preconditioner need to be SPD. If they are not, CG can fail at any time (break down) or not converge. So you need to use ``data.symmetric_operator=true``, otherwise PETSc might use a smoother or coarse solver that is not symmetric.

Secondly, I would suggest experimenting with GMRES first as it is typically the most robust method an

[2019-09-11 12:30] peterrum opened #8734 "Treat periodic neighbors correctly in compute_vertices_with_ghost_neighbors"
Inside of `source/distributed/tria_base.cc` we can find the problematic implementation:
[code]
where the first comment states that it does not work for periodicity properly in the case for distributed triangulations. As a workaround the job is passed over to p4est in the case of `p:d:t`. However, this is not possible in the case of `p:f:t`. @bangerth  and I think, it would be nice if we/I would fi

[2019-09-11 12:34] tjhei commented on #8733
I don't think it is useful to do more than 10000 iterations, but 10000 is the default for PETSc. This should be fixable by calling KSPSetTolerances with a very large number for the last argument (similar to what we do for SolverRichardson)

[2019-09-11 12:36] peterrum commented on #8734
In PR #8622, I have implemented a working specialization for `p:f:t` (which will be merged as part of that PR):
[code]
As you can see it is quite similar to the implementation in `tria_base.cc` (with some additional stuff). Maybe it would be already a solution to move my code in `tria_base.cc` (in a next PR)...

It would be nice if someone could help me and point out what the issue with the origin

[2019-09-11 12:47] fvanmaele opened #8735 "doxygen: avoid Python dependency for setting canonical links"
`set_canonical_doxygen.py` may lead to errors when using certain Python3 versions (`UnicodeDecodeError` on `/usr/bin/python3.6`, see issue #8714).

Having the script in Perl (as most of the other `doxygen` scripts) avoids these issues and the additional Python dependency.

----
While rewriting the script, I noticed that `# Do not add canonical link twice` does not actually work, since the `canonic

[2019-09-11 12:58] fvanmaele commented on #8735
PR #8736

[2019-09-11 14:21] marcfehling commented on #8729
I redid calculations with only one type of elements (`FE_Q(2)` and `FE_Q(7)` respectively) and the combination of solver and preconditioner scales about linearly with the number of degrees of freedom, so as expected. The more different finite elements are involved in constructing the equation system, the worse is the performance of the solver, i.e. see the example above which was using finite elem

[2019-09-11 14:23] tjhei commented on #8729
No, but they kind of work. I wouldn't expect an FE_Q(13) to work well (even without h or p adaptivity).

[2019-09-11 14:38] marcfehling commented on #8729
Maybe I was expecting too much of a miracle...

Comparing wallclock times for the solution process between the adaptive case `FE_Q(2) ... FE_Q(7)` and the static case `FE_Q(7)` shows that the adaptive one is actually faster. I'll come up with a reasonable presentation of these results that we could discuss later at some stage. Anyways, thanks for the hint that I should not expect too much of the A

[2019-09-11 14:38] marcfehling commented on #8729
However, the issue with PETSc still persists, so I'll keep this issue open.

[2019-09-11 14:41] marcfehling commented on #8729
Sorry, I missed that comment...

I tried `GMRES` with `Trilinos` on that case to check if there are any performance differences, but there really is none. Haven't tried that with `PETSc` yet -- Will do!

[2019-09-11 19:46] kronbichler commented on #8729
A quick answer before I find more time: I would not expect AMG to do well for polynomials of degree higher than 5 in 2D and higher than 3 in 3D because it tends to coarsen too much, be it DG or continuous elements. One needs quite some hand-tuning to make AMG run well, and most successful strategies I am aware of are not really black box any more. I would prefer some geometric/p-coarsening. Let's

[2019-09-12 15:57] kronbichler opened #8740 "CellDataTransferBuffer in dof handler is super slow"
When re-evaluating #8293, I discovered that `DoFHandler::distribute_mg_dofs()` takes an unproportional amount of time. After putting some timers, I discovered the culprit: `CellDataTransferBuffer` and in particular the `pack_data` function.

When running on 50k MPI ranks (to make sure I do not underestimate the cost of MPI communication) with 270b dofs, the two `communicate_mg_ghost_cells` phases

[2019-09-13 02:52] rezarastak opened #8744 "Adding deal.II to Compiler Explorer"
[Compiler Explorer](https://godbolt.org) is a fantastic online tool for teaching and communication of coding information. It now allows the users to incorporate external libraries in their code and the main website offers 36 pre-installed libraries. Additionally, it allows execution of the code and shows the standard output.

It would be great if we also install `deal.II` in Compiler Explorer. It

[2019-09-13 17:44] tjhei commented on #8374
The hack I am using:
[code]

[2019-09-13 20:39] #8740 closed

[2019-09-14 10:39] fvanmaele commented on #8714
@tamiko Just one more question, are the debug symbols (`-dbg` or `-dbgsym`) for the `9.1.1-2~ubuntu18.04.1~ppa1` packages also available?

[2019-09-14 15:48] tjhei opened #8755 "intel 19.0.5 tuple compile error"
Intel compiler produces various errors of this kind for me
[code]
when using stdcxx17 mode (It seems like tuple support is broken). Errors look like:
[code]

the offending code:
[code]

Minimal repo with ``icpc -std=cxx17 test.cc``:
[code]
By switching to cxx14 mode, everything compiles cleanly. I reported the bug to intel but we might need to blacklist/test/something for this.

[2019-09-15 22:44] bangerth commented on #8755
:-( Can you at least work around this somehow?

[2019-09-15 23:44] tjhei commented on #8755
Yes, by compiling with DEAL_II_WITH_CXX17=off.

[2019-09-16 12:31] tjhei opened #8757 "intel 19.0.5 always inline warning"
[code]
confuses me. If I add ``DEAL_II_ALWAYS_INLINE`` to the declaration, the compiler complains
[code]
any suggestions?

[2019-09-16 13:25] tjhei opened #8758 "intel 19.0.5 DEAL_II_HAVE_CXX14_CONSTEXPR_CAN_CALL_NONCONSTEXPR bug"
intel 19.0.5 passes the DEAL_II_HAVE_CXX14_CONSTEXPR_CAN_CALL_NONCONSTEXPR check but fails with:
[code]

[2019-09-16 20:21] #8682 closed

[2019-09-16 20:57] bangerth opened #8764 "Algorithms::TimestepControl has security problem"
We have
[code]
but `format` is declared as
[code]

So `strcpy` will in general not notice when it writes past the end. That's why the man page says this:
[code]

[2019-09-16 21:38] bangerth commented on #8696
@krishnakumarg1984 -- take a look at #8766.

[2019-09-16 22:53] GrahamBenHarper opened #8768 "Touch up TensorProductPolynomials classes"
This is more really just a laundry list of small things to tackle while I tackle bigger PRs as well.

First, to remove friendship between `TensorProductPolynomials` and `TensorProductPolynomialsBubbles` and `TensorProductPolynomialsConst`, the use of private variables needs to be modified. Private members of `TensorProductPolynomials` are:
  - `std::vector<std::vector<Polynomials::Polynomial<doubl

[2019-09-17 01:05] bangerth commented on #8768
On 9/16/19 4:53 PM, Graham Harper wrote:

The TPPConst class only adds a zeroth order polynomial to the ones it
already has in its TPP member variable, so the right value to report is
the value of the TPP member variable.

[2019-09-17 01:05] bangerth commented on #8768
Good plan overall. Address it one issue at a time.

[2019-09-17 02:37] GrahamBenHarper commented on #8768
As mentioned in #8761, it would be nice to look into if the functions `output_indices()`, `set_numbering()`, `get_numbering()`, and `get_numbering_inverse()` are used by the TPPBubbles or TPPConst classes anywhere.

[2019-09-17 02:38] rezarastak opened #8771 "Definition of TimestepControl::tolerance"
The variable `tolerance_val` and its corresponding get and set methods in `TimestepControl` do not provide a good documentation of exactly how it is used in the algorithm.

I assume that it determines how much the size of a time step can be increased at the last step in order to reach the final time. However, my assumption is not reflected in the implementation of the `advance()` method. So I am s

[2019-09-17 13:08] bangerth commented on #8771
I'm afraid that knowledge has been lost. You'll have to reverse engineer what the class does, and how it does it.

[2019-09-17 13:30] #8696 closed

[2019-09-17 14:26] peterrum commented on #8558
@tamiko I have slightly updated your code from #7988 for the new distributed triangulation:

[code]

[2019-09-17 14:38] peterrum commented on #8558
If I have not done any major mistake, this is my timings (on Intel(R) Xeon(R) CPU E5-2690 v4 with 28 cores):
[code]

ping @bangerth @tjhei @kronbichler @tamiko

[2019-09-17 16:26] GrahamBenHarper opened #8776 "Update `FE_BernardiRaugel` to use physical normal vectors and not reference normal vectors"
I've been meaning to do this before version 9.2 is released, but I didn't find time yet. We even wrote in the 9.1 paper "this functionality is planned for the next release," so I'm documenting this now to hold myself accountable and ask for feedback on the approach.

Currently `FE_BernardiRaugel` calls the base implementation of `fill_fe_values()`, but it's only correct for uniform rectangular/cub

[2019-09-17 17:30] peterrum opened #8778 "Remove parallel::TriangulationBase::NumberCache::n_locally_owned_active_cells"
`parallel::TriangulationBase::NumberCache::n_locally_owned_active_cells` stores the number of locally owned active cells per MPI rank. This data structure does not scale with the number of processes.

The question is can we eliminate it? If not, we should only fill it need based. It would be nice to get rid of the `MPI_Allgather` in `parallelTriangulationBase::update_number_cache()`...

FYI @kronb

[2019-09-17 17:42] peterrum commented on #8778
By the way, you could assign me ;)

[2019-09-17 19:49] #8758 closed

[2019-09-17 23:54] dougshidong opened #8780 "Casting unsigned integer to Sacado AD types during Vector instantiation"
This issue comes from [this thread](https://groups.google.com/forum/#!topic/dealii/wbj-K5Xf4G4).

When instantiating a Vector of Sacado AD types such as Vector< Sacado::Fad::DFad<double> >, there are multiple casting calls that are not defined by Sacado. For example, in

lac/la_parallel_vector.templates.h
line 1844    static_cast<real_type>(partitioner->size());
lac/la_vector.templates.h
line 442

[2019-09-18 00:10] dougshidong opened #8781 "AssertIsFinite for Sacado AD type"
This issue comes from [this thread](https://groups.google.com/forum/#!topic/dealii/wbj-K5Xf4G4).

When instantiating a Vector of Sacado AD types such as Vector< Sacado::Fad::DFad<double> >, the AssertIsFinite is not defined for Sacado AD types and occurs multiple times. For example,
lac/la_parallel_vector.templates.h
line 1517  AssertIsFinite(a);
lac/la_vector.templates.h
line 288   AssertIsFinite

[2019-09-18 00:12] masterleinad commented on #8781
That sounds reasonable. Would you be willing to try to implement and fix that in a pull request?

[2019-09-18 00:39] dougshidong commented on #8781
I can definitely try. Haven't contributed to open-source code before, but this seems simple enough.

[2019-09-18 01:11] masterleinad commented on #8781
If you have any questions or need help, don't hesitate to ask.

[2019-09-18 01:21] bangerth commented on #8780
Can you provide a minimal example here that illustrates the issue?

[2019-09-18 01:57] dougshidong commented on #8780
Strangely enough, I am unable to replicate the issue for a small example.

[code]
Works just fine... Same when I instantiate the vector (apart from the complex constructor in the other issue) by including include/deal.II/lac/la_parallel_vector.templates.h

I guess the way I was instantiating it using the la_parallel_vector.inst.in could have caused that.

[2019-09-18 10:31] kronbichler commented on #8558
For reference of these timings, can you measure how much time is needed if you do not initially create a serial triangulation, flatten it, and copy to a parallel distributed triangulation, but create a parallel distributed straight away, so a hyper-cube and then 8-11 refinements?

[2019-09-18 11:13] kronbichler opened #8785 "Speed up ComputeIndexOwner::Dictionary"
While working on #8772, I noticed two things we should improve for the dictionary class of `ComputeIndexOwner`:
1. `reinit()` is slower than it needs to be (and slow enough to be noticed in profiles) because it expands the indices of the locally owned range one by one, and computes the rank one by one. We should do this in terms of intervals. Unfortunately a bit of interval intersection stuff, but

[2019-09-18 11:33] peterrum commented on #8785
The second point is easily made by replacing:
[code]
by:
[code]
But in a second step, we should distributed more smarter the load among nodes/islands...

[2019-09-18 11:37] kronbichler commented on #8785
The question is how expensive that would be in terms of implementation and in terms of communication. My rationale is that it probably won't matter much even if communication is heavily skewed to the lower ranks: This is a setup routine and we won't need an optimal decision here; point-to-point is cheap also when 90% goes to rank 0 as in that case the global problem is small and not using too many

[2019-09-18 12:10] peterrum commented on #8558
@kronbichler  I have updated the numbers and measurements with your suggestion!

[2019-09-18 13:57] bangerth opened #8786 "Bug with face orientations in FEInterfaceValues"
I woke up last night at 2am and realized that there is a bug in the `FEInterfaceValues` class (#8660) that I approved a couple of days ago. It took me an hour to go back to sleep.

The bug is that the class assumes that quadrature points are sorted in the right order on the faces of the two adjacent cells. In other words, that `fe_interface_values.get_fe_face_values(0).quadrature_point(q)` is at t

[2019-09-18 14:01] bangerth commented on #8786
I'll have a test that checks this later today.

[2019-09-18 14:16] tjhei commented on #8786
Ouch. I can prep a PR that adds this assert if that helps?

[2019-09-18 15:19] bangerth commented on #8786
Let me work on this for a few minutes. I may just be wrong -- if what I dreamed up was true, every DG code would be wrong on such meshes.

[2019-09-18 16:08] bangerth commented on #8786
Turns out I'm wrong. Test demonstrating this coming soon. Apparently the people who wrote `FEFaceValues` thought about this issue at some point. I should remember this when I'm lying awake over a bug next time...

[2019-09-18 16:08] #8786 closed

[2019-09-18 19:06] tjhei opened #8791 "undefined references linker errors with intel 19.0.5"
I don't have time to investigate but I see the following:
[code]

[2019-09-18 19:55] luca-heltai commented on #8786
I think you got caught in the discussion we were having on the mailing list with Alberto Salvadori. This is true for the coupling between faces and co-dimension one cells, but it is taken care of between neighboring cells.

[2019-09-18 20:21] bangerth commented on #8786
On 9/18/19 1:55 PM, Luca Heltai wrote:

Yes. My brain --unsurprisingly -- did not work well in the middle of the
night and then I was so spooked that I needed to double check myself :-)

[2019-09-18 20:22] bangerth commented on #8791
Hm. Do you have an idea of where these are instantiated?

[2019-09-19 00:55] rezarastak opened #8793 "std::uncaught_exception() is deprecated in c++17"
[std::uncaught_exception() is deprecated in c++17 and should be replaced with std::uncaught_exceptions()](https://en.cppreference.com/w/cpp/error/uncaught_exception)

We didn't remove this deprecated function in #2882, but we can think about it now.

We use `std::uncaught_exception()` in three places inside the code.
[code]

The compiler should already give us a [warning](https://godbolt.org/z/R4T

[2019-09-19 03:13] bangerth commented on #8793
For reference, here are two ASPECT commits where we already did this replacement: https://github.com/geodynamics/aspect/pull/2728 and https://github.com/geodynamics/aspect/pull/2846

[2019-09-19 04:32] peterrum commented on #8785
Essentially, we would need to inroduce `dofs_per_group < group_size * dofs_per_process`. Then it would look like this :
[code]
Note: This took me 5 minutes (and I did not try it out)...

Note: I will introduce in one of my next PRs a function to determine the size a compute node.

[2019-09-19 06:15] #8764 closed

[2019-09-19 07:01] #8793 closed

[2019-09-19 07:56] kronbichler commented on #8785
There is some infrastructure here:
https://github.com/dealii/dealii/blob/master/source/base/mpi.cc#L643-L682

You might want to look for something similar and/or adapt it so we can keep functionality in one place.

[2019-09-19 12:31] anates commented on #8791
The same thing happens for icc 18.0.3 20180410 here.

[2019-09-19 12:32] kronbichler opened #8801 "Definition of subdomain_id() on serial triangulation"
While looking into #8772, I saw that `TriaAccessor::is_locally_owned()` etc all perform a `dynamic_cast` to see whether the triangulation is actually a more derived (parallel) class. This is reflected in the documentation https://www.dealii.org/current/doxygen/deal.II/classCellAccessor.html#a87a3ff6217f3b5b4537f6a101560f493 where we state that this is always true for serial triangulation. I find i

[2019-09-19 18:57] tjhei commented on #8791
I don't know. This only happens when linking applications based on deal.II. @bangerth how do I find out who instantiates it?

[2019-09-19 19:03] tjhei commented on #8791
actually, I found a way: by specializing the dim=0 case...

[2019-09-19 19:06] tjhei commented on #8791
https://github.com/dealii/dealii/blob/ec03a88e9f92cdd26f591ebf55983e307a4c973c/source/fe/fe_abf.cc#L187
is the first offender...

[2019-09-19 19:14] tjhei commented on #8791
2:
https://github.com/dealii/dealii/blob/ec03a88e9f92cdd26f591ebf55983e307a4c973c/include/deal.II/base/tensor_product_polynomials_const.h#L263-L268
3:
https://github.com/dealii/dealii/blob/ec03a88e9f92cdd26f591ebf55983e307a4c973c/include/deal.II/base/tensor_product_polynomials_bubbles.h#L248-L253

[2019-09-19 19:23] tjhei commented on #8791
https://github.com/dealii/dealii/blob/ec03a88e9f92cdd26f591ebf55983e307a4c973c/source/fe/fe_raviart_thomas.cc#L168-L172

[2019-09-19 19:25] tjhei commented on #8791
So, I am not sure how to fix this, but it seems easiest to instantiate things even for dim=0. Thoughts?

[2019-09-19 21:00] bangerth commented on #8791
Yes, just instantiate `TensorProductPolynomials<0>`. Is `PolynomialsBase<0>` instantiated?

[2019-09-19 22:12] bangerth commented on #8801
It used to be that `subdomain_id` was a user-settable field, and that's how we treated it. For example, that's how step-18 was implemented for the first ten years: Via a regular (=sequential) triangulation on which we somehow set the `subdomain_id`s. It was only when @davydden wrote the `parallel::shared::Triangulation` that we gained a way to make setting the `subdomain_id` something that's autom

[2019-09-20 13:55] tjhei opened #8814 "Function<dim> default constructor in examples and intel compiler"
Intel 19.0.5 gives the following warnings:
[code]
I think this comes from removing it in #8767
@bangerth thoughts?

[2019-09-20 14:00] bangerth commented on #8814
The particular change you run into is in #8766. Do you get the same warning in the other tutorials where I removed the default constructor in #8767?

I think we had gotten past the point where the compiler warns about this issue :-(

[2019-09-20 14:48] tjhei commented on #8814
Yes.

Well, it is only a warning and we could try to silence it.

On the other hand, I don't mind having the constructor there to explicitly call the ``Function<dim>`` constructor: more verbose, but it makes it obvious what to change if you want more than one component.

[2019-09-20 15:45] bangerth commented on #8814
So we'd have to revert #8767 and that part of #8766. That's a bummer. It's not wrong, it's just one more thing one has to explain.

Before we do this, can someone point out where in the standard it says that such classes should have user-defined constructors? Would an `=default` constructor do?

[2019-09-20 15:54] marcfehling commented on #8729
@kronbichler Thank you for your feedback! I didn't expect that aggressive coarsening would be the main reason for poor performance. Maybe changing a few parameters for the AMG algorithms will yield some performance benefits. I do not expect miracles, though.

For [hypre](https://www.dealii.org/current/doxygen/deal.II/structPETScWrappers_1_1PreconditionBoomerAMG_1_1AdditionalData.html), I had in mi

[2019-09-20 17:49] rezarastak commented on #8814
Obeservations from [here](https://godbolt.org/z/TI96Ii)

* The warning only appears when we define `RightHandSide right_hand_side` with `const` specifier.
* Changing the constructors or changing the member initialization of `Function` or `FunctionTime` does not help.
* Setting `= default` works.

[2019-09-20 18:06] rezarastak commented on #8814
Also, this one works too (without a need to add default constructor).
[code]

[2019-09-20 22:58] bangerth opened #8820 "Better document 'direction' of DoFTools::make_periodicity_constraints"
From the mailing list today:

Good question -- I don't really know either. It's the same as in GridTools::collect_periodic_faces(), but the documentation there is also not much better. We may have to ask @tamiko (Matthias).

[2019-09-20 23:10] #8778 closed

[2019-09-21 09:54] alexrobomind opened #8826 "Does MGMatrixSimple fill in edge_out and edge_in correctly?"
When looking through the multigrid code I was confused concerning the conventions for the edge_in and edge_out matrices.

In the multigrid code, the matrices are used as
https://github.com/dealii/dealii/blob/5f456c60f5671773fe1c1cb97cc67f44fb22b6df/include/deal.II/multigrid/multigrid.templates.h#L143
https://github.com/dealii/dealii/blob/5f456c60f5671773fe1c1cb97cc67f44fb22b6df/include/deal.II/mul

[2019-09-21 10:33] peterrum commented on #8801
@bangerth I would like to point out that `cell->set_subdomain_id()` is currently used during partitioning of serial triangulations (see `GridTools` and `parallel::fullydistributed::Utilities`).

[2019-09-23 02:40] masterleinad commented on #8814
This is DR35 (http://open-std.org/jtc1/sc22/wg21/docs/cwg_defects.html) with C++17 status. It seems that Intel didn't implement the new behavior yet.

[2019-09-23 20:56] bangerth commented on #8801
Oh, that's unfortunate.

So what concretely *is* @kronbichler 's suggestion then, if this field is currently used for serial triangulations as well?

[2019-09-23 21:14] tjhei commented on #8814
Okay, I will just disable the warning as this is considered a "defect".

[2019-09-23 21:50] bangerth commented on #8814
Is DR35 really the right number? It's 20 years old and has been resolved since TC1. For reference, this link takes you directly to #35: http://open-std.org/jtc1/sc22/wg21/docs/cwg_defects.html#35

[2019-09-23 21:54] bangerth commented on #8814
@tjhei: Can you try something else? I wonder whether the issue is that icc doesn't want to create a default constructor of the derived class because the base class has no default constructor. All it has is this:
[code]
I wonder what would happen if we did the following:
[code]
and then implement
[code]
Does that address the problem?

[2019-09-24 06:20] kronbichler commented on #8801
I did not have a suggestion at the point when opening the issue - I was wondering if we could streamline the use within the library, i.e., have `cell->subdomain_id()` matching with `Triangulation::locally_owned_subdomain()`. Furthermore, I wanted to know about use cases others know before I searched the whole library. The use cases suggest that it is a bit more complicated than I thought, and as @

[2019-09-24 08:13] peterrum commented on #8801
Or alternatively we do a simple or `locally_owned_subdomain()==numbers::invalid_subdomain_id || cell->subdomain_id() == tria.locally_owned_subdomain()`.

[2019-09-24 13:12] masterleinad commented on #8814
Oops, I meant http://www.open-std.org/jtc1/sc22/wg21/docs/cwg_defects.html#253.

[2019-09-24 13:37] kronbichler commented on #8801
To avoid the dynamic cast, I will use the `invalid_subdomain_id` for now, which avoids at least the cost of the dynamic cast, without yet reflecting what we would like the class to look like. Let me see how that works out.

[2019-09-24 14:31] bangerth commented on #8814
I'd suppress the warning. The DR was only accepted for C++17, but I think it was always considered a defect. I can't imagine icc implementing anything other than what gcc does, even though it warns.

[2019-09-24 14:40] tjhei commented on #8814
no, doesn't work.

Will do.

[2019-09-24 14:50] #8814 closed

[2019-09-25 00:13] dougshidong opened #8850 "Disagreement between MappingQ and MappingFEField using find_all_active_cells_around_point"
I am trying to use the GridTools function find_all_active_cells_around_point with a MappingFEField in [this post](https://groups.google.com/d/msg/dealii/8ta3DmMCwsE/EJhfX71qBAAJ) and there is unfortunately some error I can't catch using gdb.

I then wanted to confirm that MappingFEField could be used with that function and created the following test

[find_all_active_cells_around_point_mapping_fe_

[2019-09-25 07:22] #8734 closed

[2019-09-25 07:58] kronbichler opened #8852 "Performance tests"
Now that we did spend some effort in improving performance in various places, I think we should again consider setting up (or improving some of the existing) performance tests to make sure we do not regress from where we are now - or at least do so intentionally. We have some results that [Timo put on some server](http://www.math.clemson.edu/~heister/bench/) but those are a bit dated. I would like

[2019-09-25 08:13] kronbichler commented on #8293
I will consider this fixed when we have #8813 merged (even though we only addressed a small subset of the sub-communicators in my third bullet point for setup of a fully distributed triangulation, but that is a different topic), so I put the marker there.

[2019-09-25 08:42] kronbichler commented on #8293
To document the progress, here are two figures both run with 1024 nodes (49,152 MPI ranks) on my favorite multigrid benchmark (`FE_DGQHermite` of degree 5, using coarsening via `FE_Q` of degree 5), recording setup costs only, listed as a function of the problem size. Ideally, we would expect a linear increase with the problem size (or decrease if you read the plots from right to left).

This is th

[2019-09-25 13:32] bangerth commented on #8852
It might be worth looking around a bit to see what other large projects use for this.

[2019-09-25 13:33] #8801 closed

[2019-09-25 13:37] bangerth commented on #8293
Impressive!

[2019-09-25 14:09] Rombur commented on #8565
@marcfehling did you open an issue for hypre? If you did, can you point it to me.

[2019-09-25 15:30] tjhei commented on #8852
Yes, it would be great to survive this.

@kronbichler how do you feel about using callgrind instruction counts for the output? If this works for you, we could use the CI infrastructure to run a nightly or weekly computation as the machine and load doesn't matter. Otherwise it is difficult to get deterministic measurements without a tool like https://github.com/google/benchmark

[2019-09-25 15:45] bangerth commented on #8852
On 9/25/19 9:30 AM, Timo Heister wrote:

Oh, we better *survive* this! :-)

[2019-09-26 00:46] Rombur commented on #7191
Better late than never but I finally found the time to look at this. I am not sure this is a real bug or not. Basically the problem is that when assembling the system matrix, I use `constraint_matrix.distribute_local_to_global` Because of that the system matrix is missing the coupling terms between the dofs on the Dirichlet boundary and the other dofs and so non homogeneous Dirichlet boundary cann

[2019-09-26 13:42] #8820 closed

[2019-09-26 13:54] tjhei commented on #8791
I can now link without errors...

[2019-09-26 13:54] #8791 closed

[2019-09-26 14:44] masterleinad commented on #8791
Even better!

[2019-09-27 11:32] kronbichler opened #8873 "CMake configuration with CUDA/MPI code"
When I compile the deal.II library with CUDA and MPI, the step-64 tutorial program is compiled fine. However, when I instead create a separate project with `CMakeLists.txt` copied from step-64, the compilation unit misses the MPI part and I get an error about a missing `mpi.h` header file.
When I inspect the compilation with `make VERBOSE=1`, I see that the compiler is invoked as:
[code]
When I in

[2019-09-27 11:54] masterleinad commented on #8873
I'll have a look.

[2019-09-27 11:55] marcfehling commented on #8565
@Rombur I just summarized our previous efforts for the `hypre` community and opened an issue in their repository. See https://github.com/hypre-space/hypre/issues/50

[2019-09-27 12:23] masterleinad commented on #8873
What is `CMAKE_CXX_COMPILER` for you? Is it `g++` or `mpicxx`?

[2019-09-27 12:25] kronbichler commented on #8873
`CMAKE_CXX_COMPILER=mpicxx` (or some more complicated thing on Piz Daint, `/opt/cray/pe/craype/2.6.0/bin/CC`, but yes, the MPI wrapper).

[2019-09-27 12:30] masterleinad commented on #8873
We set `CMAKE_CUDA_HOST_COMPILER` to "CMAKE_CXX_COMPILER" both in `cmake/configure/configure_1_cuda.cmake` and in `cmake/macros/macro_deal_ii_invoke_autopilot.cmake` but neither of them seems to take effect here. I will investigate further.

[2019-09-27 15:56] masterleinad commented on #8873
OK. I can confirm what your are seeing. I just don't see the problems since the include directories and libraries are present on the link line using `g++`.

[2019-09-27 20:44] dougshidong opened #8877 "Setting all cells to artificial prior to refinement"
I am currently using a `Manifold` that depends on a `MappingFEField` in the refinement process. However, in the current implementation of the `parallel::distributed::Triangulation`, all the cells are set to artificial. As a a result, the MappingFEField cannot reference to those cells since they are not locally_owned anymore.

https://github.com/dealii/dealii/blob/7751fe97701aa70188530a8e77e0fcac5a

[2019-09-27 21:22] peterrum commented on #8877
@dougshidong Could you add an example code that demonstrates your issue?

[2019-09-28 12:24] #8873 closed

[2019-09-28 21:33] #8293 closed

[2019-09-28 21:33] #8785 closed

[2019-09-28 23:58] Rombur commented on #8565
@marcfehling  Thanks!

[2019-09-30 02:23] #8757 closed

[2019-09-30 05:12] dougshidong commented on #8877
This is related with my current effort to basically have a high order mesh that I can deform and adapt as described by my [post](https://groups.google.com/d/msg/dealii/8ta3DmMCwsE/EJhfX71qBAAJ ). It is rather hard to provide a succinct code without going into some details. I think this issue can be explained just by showing the class I'm trying to derive from `Manifold`.

Below is a snippet of the

[2019-09-30 13:55] tjhei commented on #8877
Ah, that makes sense. You need access to the DoFs on the old mesh, while generating the new mesh during refinement.

Ideally, we would keep the old mesh intact while creating the new mesh, but we can't easily do that. We also need to first set all ids to invalid before setting exactly the ones we need. Otherwise, we might end up with invalid ids set in parts that are no longer on this machine (whe

[2019-09-30 16:34] dougshidong commented on #8877
Can we go through those cells after and set them to artificial? I can hold a list of visited cells that have been tagged as locally owned or ghost cells, then go through the other cells and tag them as artificial.

Yes, that is true. Currently, my solution to this is to perform a `SolutionTransfer` on the degrees of freedom `euler_vector`. Not 100% sure that would work, but I don't currently see a

[2019-09-30 18:00] tjhei commented on #8877
yes, we could do that, but it doesn't fix the problem I mention below.

No, this won't work in general. It is likely that you have to refine a cell on a processor that did not have the parent before. So your solution won't work. The SolutionTransfer will be done after the mesh has been refined, but you will need the information during the refinement to place new points.

Have you considered using

[2019-09-30 19:58] dougshidong commented on #8877
Oh I see where the issue lies, the processor doesn't necessarily own the cell it is refining. Had to re-read your first reply.

Wouldn't the same issue arise with MappingQEulerian? From my understanding, it is basically identical to MappingFEField, except that it takes relative positions instead of absolute. During the refinement process, I would still need to use `transform_real_to_unit_cell` and

[2019-09-30 22:15] tjhei commented on #8877
wait, now I am confused. Why do you need anything but a flat manifold when using Eulerian or FEField mapping? They are made in such a way that the mesh stays in reference configuration. SolutionTransfer takes care of interpolation of your displacement vector.

[2019-10-01 02:25] dougshidong commented on #8877
Oh wow, ok yeah. That completely solves the issue. We don't need to move the code to change the artificial cells.

I guess that I did not fully understand how `MappingFEField` works. I thought that the cells vertices had to match between the `Triangulation` and the `MappingFEField`, or at least that there was a link from the `Triangulation` to the `MappingFEField`.

I now realize that when using t

[2019-10-01 02:25] #8877 closed

[2019-10-02 09:37] starki0815 opened #8883 "make_hanging_node_constraints() with hp::DoFHandler and FE_Nothing"
The result of the following program is not quite as I would expect it:
[code]
This example is a rectangle composed of two cells. The first cell is associated with the finite element FE_Nothing x FE_Q(1) and the second cell with FE_Q(1) x FE_Q(1). Now, if the second cell is refined once and hanging node constraints are built, it turns out that the FE_Q(1) of the first component on the second cell i

[2019-10-02 17:23] tjhei opened #8884 "FEInterfaceValues (meta)"
meta issue to keep track of the work as the PR #8541 is now dead.

TODO list:
- [x] base FEInterfaceValues #8660
- [x] ~~correct behavior on boundaries: #8706~~
- [ ] convert step-12 and update documentation #8661
- [ ] extractors
- [ ] do we want additional functionality liike get_function_values?
- [ ] DG laplace example
- [ ] Stokes h-div example
- [ ] test GMG
- [ ] test MPI parallel computati

[2019-10-09 04:17] peterrum opened #8896 "Implement range-based iterators for VectorizedArray"
This topic came up in PR #8893. The aim is that we can write
[code]
as it is familiar from std containers

assign: @peterrum and @kronbichler

ping: @masterleinad @tamiko

[2019-10-09 04:36] masterleinad commented on #8896
Sure. Sounds like a good plan. Thanks for volunteering!

[2019-10-10 01:20] dougshidong opened #8897 "Incorrect count on DoFHandler::n_boundary_dofs() for distributed Triangulations"
Found this bug while cross-checking my own count.

https://github.com/dealii/dealii/blob/f538a13de76f5c9fb0f8744e036ec57c81cf6c79/source/dofs/dof_handler.cc#L1095-L1129

This is problematic when the Triangulation is distributed.

`cell->face(f)->get_dof_indices(dofs_on_face);`

will return `numbers::invalid_dof_index`, and this index (4294967295 in my case), will get inserted into the set once.

A

[2019-10-10 03:53] masterleinad commented on #8897
Yes, that is one of the functions we didn't update for `parallel::Triangulation` objects yet. Do you want to give improving the behavior a shot?

You would likely need to try to cast the `Triangulation` object to a `parallel::Triangulation` object and in case of success perform the `MPI_Reduce` operation.

[2019-10-10 14:00] tjhei commented on #8897
How do want to do handle this? Many other functions have "global" versions: n_active_cells() vs n_global_active_cells(). I also don't think we have any of these n_* functions do an MPI communication. This would make the call a collective call (every processor needs to call it), which is surprising (at least to me).
So, my suggestions would be to just fix n_boundary_dofs to return something sensibl

[2019-10-10 14:01] tjhei commented on #8897
That said, @dougshidong : what do you want to use this information for? If you care about the global number of boundary dofs, having this function return the locally_owned boundary dofs might be enough (you can then do an MPI::sum() outside).

[2019-10-10 15:09] dougshidong commented on #8897
Yes, that is what I was thinking. Performing a collective call inside doesn't sound like the best practice. I think that returning the number of locally owned boundary dofs sounds reasonable. Will have to add some documention about this though.

I personally ended up coding my own count before I knew this function existed because I needed to serialize my boundary points. Just wanted to check that

[2019-10-11 17:41] masterleinad commented on #8897
That would be much appreciated. It should be pretty straight-forward to write a test for this, but we can help with that if you fix it the function in a pull request.

[2019-10-11 18:51] marcfehling commented on #8565
Just a minor update: The cause of the problem has been located and fixed. I'll close this issue once the corresponding branch has been merged with their master.

How do we deal with this incompatibility? Shall we publish a warning on our [Interfacing deal.II to PETSc](https://dealii.org/developer/external-libs/petsc.html) website?

[2019-10-13 18:32] dangars commented on #8852
@kronbichler In case you are interested, I'm happy to help here. I don't need access to the machine. I can just post the code in github and then you can install it.

I would use:
* [PostgresSQL](https://www.postgresql.org/): I used MySQL and PostgreSQL. I think that PostgresSQL is more powerful than MySQL (but that is just my opinion).
* [SQLAlchemy](https://www.sqlalchemy.org/): It simplifies a l

[2019-10-13 18:47] dangars commented on #8852
Or the code that was already developed by @tjhei can be used. Let me know if you want to use to the [benckmark](http://www.math.clemson.edu/~heister/bench/) developed by @tjhei or you want me to start from scratch and write a code based on PostgreSQL/SQLAlchemy/Boken

[2019-10-14 07:08] #8896 closed

[2019-10-14 19:29] kronbichler opened #8905 "Matrix-Free DG with hanging nodes over periodic faces"
As reported on the mailing list at https://groups.google.com/forum/#!topic/dealii/okNWVIHwcTA , there is a bug in the setup the matrix free face pair in case we have hanging nodes over periodic faces, i.e., a level difference of one over periodic faces. To reproduce, change the initialization from `step-59` into
[code]
(slightly reduced from the post on the mailing list.)

[2019-10-14 19:40] kronbichler opened #8906 "Functionality of FE(Face)Evaluation to fill matrices?"
Inspired by the following post on the mailing list https://groups.google.com/forum/#!topic/dealii/sAtBl045jb4 , I think we should think about providing the following functionality in `MatrixFree` or `FEEvaluation`:
- [ ] Provide access to cell iterator on face: `MatrixFree::get_cell_iterator_from_face_index(const unsigned int face_index, const bool interior_side, const unsigned int dof_handler_ind

[2019-10-14 20:52] mwichro commented on #8905
This is not related periodic faces, I just forgotten to remove some code from step-59. The following code also reproduces the problem:
[code]

[2019-10-15 06:13] kronbichler commented on #8852
It would be great if you are willing to help @dangars. I guess the first question to clarify is what we want to measure. While there might be some value in tracking things deterministically like with valgrind, that would hide other effects not related to instruction counts or also report false positives  when there is a busy-wait due to the MPI library with some other load on the machine. So I thi

[2019-10-15 09:59] kronbichler commented on #8905
You are right - this is related to the setup of level matrix-free objects in the presence of hanging nodes. I'm investigating.

[2019-10-15 10:09] dangars commented on #8852
@kronbichler That sounds good! I'm going to work on this. I'll prepare Doker container with Postgresql, the tools, and example data. That way you and the other deal.ii developers can test it. No need to provide data. I'll make up some data.

I'll prepare a bokeh plot in the Doker container with your suggestions.

* I would record the the machine status vs time, for example every minute (memory usa

[2019-10-15 11:01] kronbichler commented on #8905
Closer investigating this topic revealed that we currently do not support the computation of the DG level matrices with the matrix-free framework in the presence of hanging nodes (aka "refinement edges" in the multigrid speak). We did not currently have a good assertion for that, so I started looking in the wrong place. I have added the assertion in #8910.

The question to you @mwichro is whether

[2019-10-15 11:27] mwichro commented on #8905
I'm working on a multigrid method for DG formulation of Stokes problem. The MG requires DG formulation, so DG level matrices  are essential for me. I've got very promising results on uniformly refined meshes (also DG matrix-free)

For my method I need homogeneous Dirichlet boundary condition on refinement edges, that  can be also applied by AffineConstrains. So in my case I can manage without comp

[2019-10-15 11:31] dangars commented on #8852
How about the PostgreSQL sever is in the cloud? You would run the performance tests in your machine and then you _"push"_ the performance results to the server. Then the server can generate the bokeh plots. That way you don't have to have to open a network port and install PostgreSQL in your machine. In addition other deal.II developers could push as well performance results to the PostgreSQL serv

[2019-10-15 12:28] kronbichler commented on #8905
We could also treat the edge faces as if they were boundaries, so applying homogeneous Dirichlet would not be very much work. The thing I'm concerned about in terms of data structures is that an optimal MG algorithm with those faces needs the flux terms of the residual you restrict to the next coarser level, and similarly the contribution of the flux corrections to the solution from the coarser si

[2019-10-15 15:36] pcafrica opened #8911 "Wrong solution using Raviart-Thomas element on 3D distorted meshes"
Dear deal.II community,

@sdigre and I encountered an issue when computing a finite element solution to a Darcy equation using Raviart-Thomas(0) elements on 3D distorted (non-Cartesian) meshes.

The minimal steps to reproduce the issue (summed up in the [code attached](https://github.com/dealii/dealii/files/3730119/step20_3D.cpp.txt)) are inspired by the [step-20](https://www.dealii.org/current/do

[2019-10-15 16:40] tjhei commented on #8852
Yes, @dangars, your help is appreciated but we should continue the conversation about this first.

How important is MPI related performance? I thought the main point of interest is tracking inlining or other regressions.

[2019-10-16 09:59] mwichro commented on #8905
I'll look into that  (and step-39 )  and see what I need.  Am I guessing correctly that the missing part correspond to lines:
[code]
in step-39? And corresponding assembler for matrix-based program is defined here:
https://dealii.org/developer/doxygen/deal.II/classMeshWorker_1_1Assembler_1_1MGMatrixSimple.html#ad854b648b394a116f6e0a6f9cf712a9b
?

[2019-10-16 10:05] nfehn opened #8914 "Can one keep manifolds when merging triangulations?"
``GridGenerator::merge_triangulations()`` forgets about the manifolds, see

https://www.dealii.org/current/doxygen/deal.II/namespaceGridGenerator.html#a7cd88e7eacd46697dee80ad2b8438d54

Is there a way to keep manifolds or simplify usability as it can become very complicated to reset manifolds after ``merge_triangulation()``?

What happens with manifolds when applying functions like ``GridTools::sh

[2019-10-16 12:17] masterleinad commented on #8914
That's not quite true. The documentation also says

The manifolds assigned to objects stay the same if the position in space is altered.

[2019-10-16 12:19] masterleinad commented on #8914
As long as the `Manifold` objects are invariant under the transformation, you should not have any problems after moving vertices.

[2019-10-16 16:08] peterrum commented on #8852
If performance is what you want, you might want to check out the highly templated and optimized `MatrixFree` infrastructure. It skips the assembly ;)

[2019-10-16 16:12] dangars commented on #8852
Thanks @peterrum :) I'll check it out!

[2019-10-16 19:35] bangerth commented on #8897
I'd say that the function should return the global number. I don't see a problem with the fact that the function becomes collective this way, but if that is ever an issue, we can always move the number of boundary DoFs into the number cache where we also store the total number of DoFs, and then `n_boundary_dofs()` just reads the number from the cache.

[2019-10-16 19:37] masterleinad commented on #8897
#8901 fixed this. Do you insist on returning the global number instead?

[2019-10-16 20:08] bangerth commented on #8897
Oh, I'm just catching up from two weeks and didn't read chronologically through my inbox. I'll go through that PR later and comment there.

[2019-10-17 07:06] nfehn commented on #8914
Thanks for the explanations. I want to give further information on the second point mentioned above (moving the grid).

Let's consider the ``GridTools::rotate()`` function by the example of ``GridGenerator::torus<3,3>()``:
The code is the following
[code]
This works fine and ``rotate()`` does not pose problems as the torus geometry is rotationally symmetric w.r.t. the y-axis. The result looks like

[2019-10-17 07:50] elauksap commented on #8911
We have been investigating the error and we suspect that it is related to the issue
[#7970](https://github.com/dealii/dealii/issues/7970)
that has been assigned to the milestone "Release 9.2".

In particular I think that it is due to the missing implementation of `get_face_sign_change_rt` in 3D
(see https://github.com/dealii/dealii/blob/master/source/fe/fe_poly_tensor.cc#L111)

We will be thinking

[2019-10-17 09:06] tjhei commented on #8897
That would be inconsistent with every other n_* function inside ``Triangulation``.

I would find that quite surprising.

[2019-10-17 10:06] nfehn opened #8918 "Improve documentation of DataOutFaces"
I wanted to use ``DataOutFaces`` recently and want to share some obstacles that I have noticed in this context. The code
[code]
compiles, the constructor runs successfully, but gives a segmentation fault in ``build_patches()``. I think the documentation could be improved regarding the following aspects:

- which combinations of attach_triangulation/attach_dof_handler/add_data_vector are necessary

[2019-10-17 12:42] nfehn opened #8920 "Documentation of GridGenerator::cylinder() incomplete and incorrect."
1. The documentation of ``GridGenerator::cylinder()`` (https://www.dealii.org/current/doxygen/deal.II/namespaceGridGenerator.html#a5cdda7b4a76d509af7d1a8dc1320ddb0)
does not give information on how many elements are used in axial direction. It would make sense to extend the implementation so that the number of axial cells becomes a parameter of this function. No information is given how the 2D mes

[2019-10-17 13:13] masterleinad commented on #8914
The history for this is as follows:
We had the functions in namespace `GridGenerator` a long time before introducing the `Manifold` classes. When introducing these classes manifolds were not set by the `GridGenerator` functions. Instead, users had to deal with refining completely on their own. Sometime later, we noticed that it is annoying for the user to always set the same manifold objects for t

[2019-10-17 15:47] nfehn commented on #8918
No, in debug mode it says
"For the operation you are attempting, you first need to tell the DataOut or related object which DoFHandler or triangulation you would like to work on."

[2019-10-18 04:32] bangerth commented on #8920
The problem with the documentation here is that it predates the time when we attached manifolds to all parts of the geometries generated by `GridGenerator`. In other words, when the documentation was written, the geometry creates was using default (=straight) manifolds for all parts of the mesh, and those were allowed when used with `GridTools::transform()`. But now that we use manifolds, we also

[2019-10-18 04:35] bangerth commented on #8914
Same issue as #8920.

What if we replace the manifolds in the triangulation with ones where we "wrap" the original manifold with one level of transformation, using the same transformation as use in `GridTools::transform`?

[2019-10-18 04:36] bangerth commented on #8918
Well, did you call `DataOutFaces::attach_dof_handler()`? As @drwells already said, a little testcase would be useful :-)

[2019-10-18 04:39] bangerth commented on #8897
I agree that it is inconsistent with the functions in `Triangulation`, but not with the ones in `DoFHandler`. Either way, it's settled :-)

[2019-10-18 04:52] bangerth commented on #8565
On 10/16/19 8:39 AM, marcfehling wrote:

I assume that the coarse solver has little overall impact on performance. If
we can switch the default, that might be the easiest fix.

In general, we have to live with bugs in upstream packages. We've been using
hypre for many years, and you're the first to hit this particular bug. I don't
think we need to explicitly warn about it.

[2019-10-18 06:27] nfehn commented on #8918
That's my point. I can imagine that it is pretty clear for a deal.II developer that one must call `attach_dof_handler()`. I expected the documentation to make me aware of the prerequisities of `build_patches()`. The code that does the job in my case is
[code]
I only want to write the surface mesh in order to visualize the contours of the geometry. What I also found out is that `attach_dof_handler(

[2019-10-18 06:44] nfehn commented on #8914
I like that idea. @bangerth What do you mean with "one level of transformation"? It should also work when applying an arbitrary sequence of shift/rotate operations. For a general ``GridTools::transform()`` operation this is probably not possible?

Nevertheless, I could make sense to now explicitly deactivate manifolds when applying grid manipulations and adapt the documentation in a first step (to

[2019-10-18 06:58] nfehn commented on #8914
@masterleinad Regarding the original question related to ``merge_triangulations()``:

I think I did not completely get your point. What are the current capabilities and limitations of ``merge_triangulations()``? You talked about manifold_ids but I also mean the manifolds, for example the question, whether the grid will be refined according to the manifolds when calling a ``refine_global()`` after

[2019-10-18 13:25] masterleinad commented on #8914
Ah, I see, I misread your question. Manifolds are indeed not copied since it was not obvious what to do if multiple triangulations to be merged use the same manifold id, but have different `Manifold` objects attached.

[2019-10-18 13:42] nfehn commented on #8914
If I understand you correctly it would be possible and it is a question of how to update the data structures. For example, can one increment the manifold_ids of one triangulation by the maximum manifold_id of the other one, and then merge the two triangulations?

[2019-10-18 14:38] masterleinad commented on #8914
From a user perspective, you can just loop over the manifold indicators of the input triangulations, obtain the correct object via `Triangulation::get_manifold()` and attach it to the new triangulation via `Triangulation::set_manifold`. This does not require any changes to `merge_triangulations`.

For me, it would be confusing if `merge_triangulations` would shift manifold ids on its own, though.

[2019-10-18 15:28] nfehn commented on #8914
The concerns that I have regarding the user perspective or the documentation is that some GridGenerator functions implicitly attach manifolds, so the user does not get into contact with the manifolds, i.e., we consider manifolds as part of a triangulation. This is why I would vote for a solution where ``merge_triangulation()`` cares about that. Otherwise, responsibilities are no longer clear. For

[2019-10-18 19:41] tjhei opened #8929 "SegFault in ConsensusAlgorithmProcess::process_request"
I am seeing the following crash (intel 19.0.5 with 1792 MPI ranks and about 2 million DoFs):
[code]
I find it scary to ``emplace_back()`` for ``request_buffers`` and ``request_requests`` followed by an ``MPI_Isend`` because this could cause an allocation invalidating the memory, or not?
Before I dig much deeper into the code, @peterrum @kronbichler do you have an idea what the problem might be?

F

[2019-10-18 20:18] kronbichler commented on #8929
I think `request_requests` looks indeed safe because it is of type `std::vector<std::shared_ptr<MPI_Request>>`, so the shared pointer makes sure that the ownership is transfered when `emplace_back` reallocates. On the other hand, that is likely not the case for `request_buffers` of type `std::vector<std::vector<T2>>`, where we copy the vector upon reallocation of the outer `std::vector`. @peterrum

[2019-10-19 06:39] tjhei commented on #8929
I would have guessed that the vector<vector<T2>> should be safe as well because the outer one should do a move assignment. I don't see any other obvious place where we can segfault though.

[2019-10-19 17:08] masterleinad commented on #8914
Changing the manifold ids (in case they should be copied from the input triangulations) would not be backwards-compatible. Furthermore, the manifold ids would then depend on the order in which triangulations are merged. This makes it also pretty hard to argue about the manifold ids and which manifold object should be attached to which id afterwards.

In any way, I am happy to change the function s

[2019-10-20 11:37] tjhei commented on #8929
This seems to fix the crashes for me: https://github.com/dealii/dealii/compare/master...tjhei:pr8930

It contains #8930, #8933, and most notably two MPI_Barrier() around the constructor of Partitioner. While not elegant, it is better than crashing in weird places. :-)
I am trying to see if the Barrier alone makes it work now.
Any suggestion for something less aggressive than these barriers, @peter

[2019-10-20 11:38] tjhei commented on #8929
update: I can confirm that #8930 is needed, so we should merge it.

[2019-10-20 12:21] peterrum commented on #8929
@tjhei thanks for debugging and finding the issue! I can see that you have removed a `#  ifdef DEBUG` around a barrier. Did that make any difference?

I have the feeling that multiple calls to the consensus algorithm (originating from different multigrid levels) get mixed up... I think @kronbichler had a similar issue, but I thought we fixed it...

If we have to add a barrier. Let's choose another

[2019-10-20 12:24] tjhei commented on #8929
I am checking right now which of the changes are indeed necessary. Will report back.
The comment left there made me think this is indeed a problem (that we did not understand fully at that time).

Yes, this is why I started adding barriers :-)

[2019-10-20 12:25] tjhei commented on #8929
Oh no, this is the first time I see this line of code. I have seen several other bugs over the last couple of weeks that only seem to show up with 100+ MPI ranks... :-(

[2019-10-20 12:29] peterrum commented on #8929
Sorry about that. This was intended to be some kind of optimization. `ConsensusAlgorithm_NBX` is supposed to be faster and less memory hungry for large number of processes.

[2019-10-20 12:58] tjhei commented on #8929
it looks like I need:
a) #8930
b) barriers around the Partitioner() constructor
c) barrier in clean_up_and_end_communication()

If I leave out any of one them, I will crash at some point.

[2019-10-20 13:00] peterrum commented on #8929
Same issue with `ConsensusAlgorithm_PEX`?

[2019-10-20 13:08] peterrum commented on #8929
Putting the barriers into the constructor of `Partitioner` is really odd. The second barrier should not be necessary since there is already one at `clean_up_and_end_communication`. It would be great if the first barrier could be moved closer to the consensus algorithm. First try: add the barriers here:
https://github.com/dealii/dealii/blob/a5ed68a04ac4966e6acab48fa428dc414e618bb1/source/base/mpi.c

[2019-10-20 13:09] kronbichler commented on #8929
I guess for the final code we want to move the barriers either [here](https://github.com/dealii/dealii/blob/master/source/base/partitioner.cc#L222) and [here](https://github.com/dealii/dealii/blob/master/source/base/partitioner.cc#L238) or within the `ConsensusAlgorithmSelector::run()` function - depending on whether the necessary locking is within the constructor of `ConsensusAlgorithmPayload`.

[2019-10-20 13:10] kronbichler commented on #8929
@peterrum you were a few seconds faster than me... :wink:

[2019-10-20 13:30] peterrum commented on #8929
That should not happen. If that happens some communications (possible in the user code) have not terminated yet...

[2019-10-20 14:23] tjhei commented on #8929
I am sure I don't understand things fully and I don't claim the current approach has the minimum number of barriers. I am just showing you what works and what doesn't in the hope that you two can figure out what is happening. ;-)

[2019-10-20 14:25] tjhei commented on #8929
With master + disabling NBX I get the partitioner segfault (which I assume would be fixed with the barrier around set_ghost_indices (in the constructor):
[code]

[2019-10-20 14:28] peterrum commented on #8929
It is much appreciated! Can you share a failing program?

[2019-10-20 14:51] marcfehling commented on #8565
`PETSc 3.12.0` now builds `hypre 2.18.1` by default, which includes the fix for this issue.

[2019-10-20 15:21] tjhei commented on #8374
@tamiko how do you feel about
[code]

[2019-10-21 02:53] bangerth commented on #8929
On 10/20/19 6:21 AM, Peter Munch wrote:

If that is so, then usually because you call send/receives from the same
process with the same MPI tag. You could do something like this:

   static int mpi_tag = 1234;   // starting tag
   ...
   MPI_Send (..., mpi_tag);
   ...
   MPI_Recv (..., mpi_tag);

   ++mpi_tag;    // make sure the next call uses a different tag.

[2019-10-21 08:25] tjhei commented on #8929
I can, but it is somewhat messy as you need a specific ASPECT branch (and as such Trilinos as well).

[2019-10-21 11:07] tjhei commented on #8929
This is a good suggestion, but I have two practical concerns:
1. There can still be the (rare) crash if one of the fixed ids happens to be the same as the one here. This will be impossible to debug or find.
2. This assumes that every rank enters the function the same number of times. It will break if you have two different communicators (that don't span all ranks).

So, one would need a rotating t

[2019-10-21 11:10] tjhei commented on #8929
By the way, I am fairly certain there is a race condition based on MPI tag in ConsensusAlgorithmPayload::get_requesters() if called twice in succession.

[2019-10-21 11:28] tjhei commented on #8929
or, we could duplicate the communicator for complicated algorithms like ConsensusAlgorithm, which will fix all of these problems. I am not sure what the cost of doing that is,  @kronbichler @peterrum ? I think it involves some global communication at least for some MPI implementations. Maybe an MPI reduce from rank 0 to get a unique tag would be cheaper. ;-)

[2019-10-21 13:22] bangerth commented on #8929
On 10/21/19 5:07 AM, Timo Heister wrote:

Correct. But that's the same as currently where we have no control at all over
which tags are used.

Ah yes, good point. That's bad. We don't know how to make this work
per-communicator because we have no way to id a communicator uniquely across
processors...

[2019-10-21 14:41] tjhei commented on #8929
I rather have something that is easier to reproduce, which allows us to fix things correctly.

Option 1: MPI_Broadcast from rank 0 who increments tags.
Option 2: Same tag, but with a duplicated communicator.

[2019-10-21 16:28] kronbichler commented on #8929
I would be fine with duplicating communicators. These functions are rather expensive anyway so a barrier (or even broadcast) does not matter - as long as the cost does not approach that of a `Allgather` or similar collective where all processors send to all, i.e., `O(N^2)` messages in the end rather than `O(N log(N))`.

[2019-10-21 16:29] kronbichler commented on #8929
To be more specific, we could duplicate the communicators for the sake of setting up these data structures, and then resort to a standard communicator again. (If we cannot find the few spots necessary to place the barriers, which I assume is difficult.)

[2019-10-21 17:37] tjhei opened #8937 "Hang with 4+ billion DoFs"
I am experiencing a deterministic hang for large problem sizes. This is likely related to #8929 but only appears to happen with 64bit indices and >2^32 DoFs. This happens on a branch that contains a bunch of barriers that seem to work around the crashes in #8929.
The offending function in the user code is
[code]

I haven't been able to find the exact place inside deal.II but I realized that the ca

[2019-10-21 17:43] tjhei commented on #8937
I am also a bit disappointed that we run an expensive consensus algorithm every time we call constraints.distribute(). :-(

[2019-10-21 17:46] drwells opened #8938 "Update paths for MathJax 3.0"
I finally installed the latest version of MathJax and it looks like there are some breaking changes; for example, `MathJax.js` is now `tex-mml-chtml.js` (my installation does not even include `MathJax.js`).

I don't know if anyone else regularly builds the documentation with offline MathJax besides me so I will try to put together a patch for this later.

[2019-10-21 17:53] tjhei commented on #8937
Got it, the call stacks are:
[code]
and
[code]

[2019-10-21 17:59] peterrum commented on #8937
Is there a possibility to go back in history where #8772 was merged?

[2019-10-21 18:03] tjhei commented on #8937
I could, but I remember that the old all-to-all was terribly slow on this machine. :-(
I can see from the call stack what is going on and I will try to mess with the communicators for now. Will report back.

[2019-10-21 19:09] drwells commented on #8938
It looks like the problem is with doxygen, not us.

[2019-10-21 19:23] drwells commented on #8938
There is nothing we can do to fix this since doxygen generates an incorrect path. I opened an issue there instead:

https://github.com/doxygen/doxygen/issues/7346

[2019-10-21 19:23] #8938 closed

[2019-10-22 01:25] dougshidong commented on #8897
I can always change the name to `n_locally_owned_boundary_dofs()`. This would be consistent with `DoFHandler::n_locally_owned_dofs()`. Let me know if that's preferable. Otherwise, we can close this issue.

[2019-10-22 01:25] #8897 closed

[2019-10-24 02:46] rezarastak opened #8951 "compile error with std::vector<FunctionParser<dim>>"
I am getting a compile error when I `push_back` (or `emplace_back`) data into an object of type `std::vector<FunctionParser<dim>>`.

There are multiple compile errors. All of them are related to the following member variable.
[code]
One error is caused due to the forward declaration of `mu::Parser`. However, even after fixing that, I saw more compile errors which I couldn't fix.

The necessary fil

[2019-10-24 03:21] bangerth commented on #8951
Yes, `FunctionParser` objects can't be copied, but `std::vector<T>` requires that `T` is copyable. So you can't have a vector of `FunctionParser` objects.

[2019-10-24 04:08] rezarastak commented on #8951
Thank you for explaining that. I will store my expressions in `std::vector<std::string>` instead of `std::vector<FunctionParser<dim>>` and use a single `FunctionParser` to create the functions later from the expressions. So, my issue is solved.

Even though `FunctionParser` is is not copiable, I think it should allow us to move it into a container or construct it in-place using `emplace_back`. Sin

[2019-10-24 07:44] tjhei commented on #8929
@kronbichler @peterrum : What is reason for this logic:
https://github.com/dealii/dealii/blob/90bf29cd84c235b2ab5cf209700c3defdeb5537b/source/base/mpi.cc#L1309-L1310
?

[2019-10-24 08:50] tjhei commented on #8929
I agree. I added duplicated communicators in all places that showed up in my hangs and crashes, see the separate PRs that I opened: #8956 #8955 #8953

While there is many different places where the duplication can be done, I put it as close as possible to the nonblocking communications itself (see Dictionary for example) to make all individual operations safe. Otherwise, one might forget to do the

[2019-10-24 09:30] agrayver opened #8957 "deal.II does not see the HDF5 package on Ubuntu 18.04"
I'm on master. I did (Ubuntu 18.04)

It installed the library to /usr/lib/x86_64-linux-gnu/ and the include to ./include/hdf5/mpich/hdf5.h

Now I have added -DDEAL_WITH_HDF5=ON, but deal.II did not find the library. Adding HDF5_DIR also didn't help because include and lib paths are different.

Eventually I compiled it by specifying everything myself, i.e.:

However, this is difficult for users. Ca

[2019-10-24 10:27] kronbichler commented on #8929
This is a left-over from experimenting with the large-scale implementation. I think we can remove the `else` case and the parameter. @peterrum?

[2019-10-24 12:22] tjhei commented on #8957
1. Can you look at the output when running ``cmake`` to see if anything is reported about the search?
2. Here is the code that finds hdf5: https://github.com/dealii/dealii/blob/master/cmake/modules/FindHDF5.cmake
You could try adding the relative path ``hdf5/mpich`` to the ``PATH_SUFFIXES`` to make deal.II find it.

[2019-10-24 13:02] masterleinad commented on #8957
We could also try if CMake's FindHDF5 (https://cmake.org/cmake/help/v3.16/module/FindHDF5.html) works better.

[2019-10-24 13:12] agrayver commented on #8957
Well, adding relative path will only work for include. The lib path depends on the architecture (returned by the ${CMAKE_LIBRARY_ARCHITECTURE}). Additionally, one needs to distinguish between serial/parallel (the latter depends on the MPI installed).

The best way is to get all this from the package-config, which, I believe, CMake's FindHDF5 does.

[2019-10-24 14:47] bangerth commented on #8951
Yes, that's possible.

You can of course also store *pointers* to `FunctionParser* objects in your vector.

[2019-10-24 14:56] bangerth commented on #8929
I'll add a story about duplicating communicators that some of you know: Some ten years ago, I struggled with finding a bug for about a week because it only led to segfaults many thousands of time steps into long running simulations. The ultimate cause was that the MPI implementation at the time just assigned each new communicator a short int, and when you had ended up duplicating communicators 65k

[2019-10-24 16:52] peterrum commented on #8929
@bangerth thanks for you comment!

[2019-10-24 16:56] peterrum commented on #8929
Not, quite.  The idea (of which I did forget till now) was to move the else implementation in `compute_point_to_point_communication_pattern`. I will create a PR for that once we have converged to a solution which works on Frontera!

[2019-10-24 17:36] bangerth opened #8958 "How to deal with MPI P2P communication using the same MPI tag"
We've had a good amount of discussion over the last few days about the potential for deadlocks and other Bad Things (TM) happening in functions that do point-to-point communication when they are called multiple times in a row. That's because it is conceivable that we get into the following scenario:
[code]
In these cases, if the function is called twice in a row and if a processor ends up not expe

[2019-10-24 17:37] bangerth commented on #8958
@tjhei @kronbichler @peterrum -- FYI.

[2019-10-24 17:52] tjhei commented on #8958
Yes, this does what you describe, but it does require global communication (I assume a barrier is basically MPI_Reduce followed by MPI_Broadcast).
One problem that remains with this solution is that the tags we use across the whole library need to be unique, otherwise processors can mix up messages between two different routines.

This might not be needed, I think. With your pseudo-code, you will

[2019-10-24 17:57] peterrum commented on #8929
@tjhei Thanks for your efforts! Let's discuss the options in PR #8955 first.

[2019-10-24 18:08] peterrum commented on #8958
What about `MPI_InitFinalize`?

[2019-10-24 18:27] bangerth commented on #8958
On 10/24/19 11:52 AM, Timo Heister wrote:

True, but these global communications happen in the background. Nobody is
waiting on the communication to finish -- these are all IReduce and IBroadcast
operations.

Correct. But that is the same as currently -- we probably ought to have some
central register for tags. (I have had this thought for ~18 years now but
never felt the need to actually do it...

[2019-10-24 18:31] tjhei commented on #8958
if MPI_Wait[all] succeeds, it will free the request: http://mpi.deino.net/mpi_functions/MPI_Wait.html

[2019-10-24 18:32] tjhei commented on #8958
@peterrum says it is a problem (see above)

[2019-10-24 18:39] bangerth commented on #8958
On 10/24/19 12:31 PM, Timo Heister wrote:

Ah. I guess that also means one can't call MPI_Wait on the same request
multiple times. (One can: MPI_Wait sets it to an invalid request, and on that
invalid request, MPI_Wait immediately returns; but in these latter calls, the
status argument is no longer filled.)

So yes, I guess that means that every user-side MPI_Request is associated with
some intern

[2019-10-24 18:46] bangerth commented on #8914
I like the idea of re-attaching manifolds (by default, or by option). We've made an effort to move attaching the correct manifold to triangulations from user space into the library, and it's a bit of a shame that we don't do it here. It might be nice if we could do it here as well. That's particularly true because the function internally knows the mapping from old to new cells and can set manifold

[2019-10-24 18:49] bangerth commented on #8918
Yes, `attach_dof_handler()` implies `attach_triangulation()`. And I agree that all of these things should be documented better -- it's one of our oldest classes, its documentation largely predates the time when we became good at documenting. Patches are always welcome :-)

As for the need to call `attach_*()` before `build_patches()` -- that could be checked by an assertion. Regular `Assert()` is

[2019-10-24 19:48] masterleinad commented on #8914
I am against changing default behavior when we can't deprecate. Hence, we likely need two additional parameters with your suggestion and the number of options seems to be getting a little bit out of hand. If you really want this functionality, I would rather propose to have a separate function that always shifts manifold ids and always re-attaches manifolds.

[2019-10-24 20:54] nfehn commented on #8914
From my perspective, the current implementation is a bug somehow (since properties that belong to the triangulation get lost), or at least an inconsistent behavior. In this sense, I think one can accept that the default behavior changes. I would be more happy with the additional parameter variant (with a default value to not change the interface), since a new function ``merge_triangulations_and_ke

[2019-10-25 01:14] bangerth commented on #8914
I tend to agree with @nfehn here. @dealii/dealii -- anyone else want to join in?

[2019-10-25 03:37] #8951 closed

[2019-10-25 07:12] tamiko commented on #8957
The current PPA [1] for 18.04 uses the stock debian package and picks up HDF5.
In it, I set the relevant paths simply via `CMAKE_PREFIX_PATH`:
[code]

I am not sure whether there is really much we can do here - we could of course add mpi-specific hints for the library and include paths - but that's messy at best.

@masterleinad We could look into relaying to CMake's FindHDF5 module (as we do for b

[2019-10-25 07:31] agrayver commented on #8957
I agree manual tweaking is a messy path...

At the same time, it worries me more and more than each dependency I add to my software requires a user to be an expert so she knows where the libraries are installed and how to tell CMake about it...

[2019-10-25 08:56] nfehn opened #8960 "Update tutorials step-37/18/32/45/55/48/42/64/50/40 to recent changes in PR #8904"
The code for generating both .vtu and .pvtu output files has been simplified in PR #8904. Since several tutorials (step-37/18/32/45/55/48/42/64/50/40) write .vtu output, the code could be simplified according to the "Don't repeat yourself" paradigm.

[2019-10-25 12:12] Rombur commented on #8914
I agree with @nfehn. I think we should change the default behavior.

[2019-10-25 12:14] luca-heltai commented on #8914
I think @nfehn has a point. The current implementation is not functional, and it is confusing to users = it is a bug. We should fix bugs, not maintain backward compatibility with them. I would be in favor of simply documenting what the behavior is, and fixing it according to what we expect it to do.

Merge triangulation should shift the manifold ids of the second triangulation by the maximum id of

[2019-10-25 14:25] agrayver opened #8961 "Failure to configure with python bindings on Ubuntu"
I get this error when trying to compile with python bindings:

This error comes from this snippet in '/dealii/contrib/python-bindings/source':

[code]
This indeed seems fragile... The external boost.python v. 1.71 is compiled and installed correctly and passes independent tests. Is there a better way to add boost.python to the configuration?

[2019-10-25 17:22] tamiko commented on #8957
Honest question: We put quite some effort into packaging deal.II in Debian and Ubuntu, why not using the packaged version? :-) It is fairly feature complete [1,2].

On that line, we could try to also package the library for mpich - but that would already be quite a bit more advanced use case.

That said, it is a bit of a personal agenda for me to make configuration as easy as possible. Would you m

[2019-10-26 09:04] tjhei commented on #8958
I am working on a draft for this: https://github.com/tjhei/dealii/commits/mpi_wait_finalizer

[2019-10-26 11:06] peterrum commented on #8958
On the first glance it looks good @tjhei !

[2019-10-26 13:04] tjhei commented on #8958
And it seems to work for my toy unittest. :-)

okay, I cleaned things up some more and will open a PR in a minute.

[2019-10-27 12:38] peterrum opened #8966 "MPI tests can be only run with p4test"
I wanted to test some deal.II MPI features (which I know do not depend on p4est) with a minimal build (with as few external libraries as possible, i.e without p4est). However, this did not work because these tests are only build if deal.II is built with p4est.

The reason:
https://github.com/dealii/dealii/blob/c223f4e0c4256f9f9ca9816500bf07fb25989bb2/tests/mpi/CMakeLists.txt#L4-L6

Can we remove t

[2019-10-27 13:10] masterleinad commented on #8966
This will likely break tests that in fact need `p4est` in that folder (and don't have `with_p4est=on` in the output filename).

[2019-10-27 13:14] peterrum commented on #8966
@masterleinad  This can be changed (with some work) without problem, cannot it?

[2019-10-27 14:05] agrayver commented on #8961
I tried with a new CMake, but it still does not add the suffix itself, although it [documents](https://cmake.org/cmake/help/v3.11/module/FindBoost.html) this as of 3.11:

From boost 1.67 on, one has to do it manually:

`_FIND_PACKAGE(Boost 1.67 COMPONENTS python${PYTHON_VERSION_MAJOR}${PYTHON_VERSION_MINOR} REQUIRED)`

Shall we fix this in deal.II by adding the above line and bumping the minimum v

[2019-10-27 18:44] bangerth commented on #8966
On 10/27/19 7:14 AM, Peter Munch wrote:

Yes. You probably just need to identify which of these tests don't have
`with_p4est=on` in the test output name, and still use `p::d::Triangulation`.

[2019-10-27 18:57] bangerth commented on #8958
I've thought about this some more, and here is an alternative approach that
* uses no communication (even in the background) at all
* avoids the issue of clean-up
* avoids the issue that different parts of the program might inadvertently use the same tag:
[code]

Then the original function would simply look like this:
[code]
This way, we simply use a new tag every time we work on an operation, and

[2019-10-27 22:49] #8966 closed

[2019-10-28 00:24] masterleinad commented on #8961
If you could provide a pull request just for making it work with boost version >= 1.67 that would be great. Let's not bump the required version, yet (although we are requiring boost 1.59 anyway, so we could just go with that version still being backward-compatible).

[2019-10-28 08:13] tjhei commented on #8958
This is likely to work as well. A few things come to my mind:
1. We need to be careful with ints wrapping around (okay, 4b communication steps is not very likely, but still).
2. Can the MPI library re-use communicator ids? If yes, this can lead to a problem. For example:
    a) half of the ranks duplicate a communicator (and get id=1)
    b) they grab a tag (for example tag 5 and store 6 as the ne

[2019-10-28 09:29] agrayver commented on #8957
I would like to experiment with some master-only features. Besides, all my tool-chain is built for MPICH.

Here is the line:
`cmake -DDEAL_II_WITH_HDF5=ON -DHDF5_DIR=/usr/include/hdf5/mpich -DHDF5_LIBRARY=/usr/lib/x86_64-linux-gnu/libhdf5_mpich.so -DHDF5_HL_LIBRARY=/usr/lib/x86_64-linux-gnu/libhdf5_mpich_hl.so -DDEAL_II_WITH_MPI=ON ../`

Out of interest, why don't you invoke CMake's FindHDF5? I wo

[2019-10-28 09:52] agrayver opened #8969 "Do not transfer MPI communicator for p::s::Tria::copy_tria"
I use p::s::Tria::copy_triangulation and it turns to copy the MPI communicator:

https://github.com/dealii/dealii/blob/1634ecf9dd790e9a0d132711586f180c8c9f2f2e/source/distributed/tria_base.cc#L74-L80

This breaks my workflow where I create p::s::Tria on a sub-communicator and want to copy only the content of p::s::Tria, but not the communicator ownership.

Can we make the line 80 above optional? I

[2019-10-29 18:44] masterleinad commented on #8969
What is your use case here? Do you want to drop processors that contain no cells or do you simply want to duplicate the communicator?
I could see to make it an option as long as the default case is not changed.

[2019-10-29 21:45] bangerth commented on #8958
Yes, I thought of that as well -- it should be easy to check this using
`std::numeric_limits<decltype(MPI_ANY_TAG)>::max()`. It might be substantially
less than 4B, depending on the actual data type. We also need to avoid the
special tags such as MPI_ANY_TAG.

Ah yes, that's awkward. That might be a killer argument :-( I wonder if we
could think about releasing numbers by wrapping MPI_Comm_free().

[2019-10-30 09:00] winnifried opened #8974 "VectorTools::project_boundary_values_curl_conforming_l2 fails in 3d on FESystems containing FE_Nedelec and FE_Q"
This is issue 2 described in detail in
https://groups.google.com/forum/#!topic/dealii/taFA8q2ugsg

When trying to use VectorTools::project_boundary_values_curl_conforming_l2 to apply boundary values to the FE_Nedelec component of a FESystem containing also one FE_Q element the application fails with the error

"Error: Unexpected number of 3D edge DoFs"

[2019-10-30 12:54] winnifried opened #8975 "Failing build with Tpetra"
Would you mind opening another issue for this? Our regression tests (https://cdash.43-1.org/index.php?project=deal.II) don't indicate any problem, though.

[2019-10-30 12:56] masterleinad commented on #8975
Oh, I mean telling us the problem you are seeing.

[2019-10-30 12:58] winnifried commented on #8975
I have configured the current deal.II git master branch
(1d48c9c5d8c0d075d3b351ff2d94dcbd0833a8b1)
with p4est 2.0, petsc 3.9.4, scalapack 2.0.2, slepc 3.9.2, trilinos 12.12.1
when compiling I get the following error

In file included from [...]dealii-git-sources/source/numerics/vector_tools_integrate_difference.cc:22:0:
[...]dealii-git-build/source/numerics/vector_tools_integrate_difference.inst:3

[2019-10-30 13:00] winnifried commented on #8975
The compiler is the mpich wrapper for gcc 5.4.0.
This setup worked well with the latest release.

[2019-10-30 13:03] masterleinad commented on #8975
How do the lines around `dealii-git-build/source/numerics/vector_tools_integrate_difference.inst:31045:2` look like?

[2019-10-30 13:06] winnifried commented on #8975
# ifdef DEAL_II_TRILINOS_WITH_TPETRA
 template void
 integrate_difference< 1 ,
 LinearAlgebra::TpetraWrappers::Vector<float>,
 Vector<float>,
  1 >(
 const DoFHandler< 1 ,  1 > &,
 const LinearAlgebra::TpetraWrappers::Vector<float>,
 &,
 const Function< 1 > &,
 Vector<float> &,
 const Quadrature< 1 > &,
 const NormType &,
 const Function< 1 > *,
 const double);
# endif

[2019-10-30 13:22] winnifried commented on #8975
To me it looks like line 323 in sources/numerics/vector_tools_integrate_difference.inst.in creates this, and there a  `const LinearAlgebra::TpetraWrappers::Vector<float>, &,` should in fact be
`const LinearAlgebra::TpetraWrappers::Vector<float> &,`
I will see if that is solves the issue and then open another pull request.

[2019-10-30 13:29] masterleinad commented on #8975
Yes, that looks wrong.

[2019-10-30 17:32] winnifried commented on #8975
It seems changing line 323 in sources/numerics/vector_tools_integrate_difference.inst.in fixes the compile issue. I have added this to the pull request, and close this issue.

[2019-10-30 17:32] #8975 closed

[2019-10-30 17:34] masterleinad commented on #8975
Do you know that you can automatically close issues when you refererence them from the initial comment on a pull request by "Fixes #..."?

[2019-10-30 21:14] bangerth opened #8978 "Use FE_DGRT everywhere in step-61"
step-61 still uses `FE_RaviartThomas` in a number of places. We should really be using `FE_DGRT` everywhere -- not because it makes a difference (all of the places do cell-local computations), but because it's the right thing to do (precisely because we're doing cell-local computations: All of the things we compute only live on a single cell, with no shape functions extending to neighboring cells.

[2019-10-30 21:14] bangerth commented on #8978
Follow-up to #8898.

[2019-10-31 05:15] sophy1029 commented on #8978
Yes, I will change that.

[2019-10-31 09:04] agrayver commented on #8969
I split communicator (MPI_Comm_split) and create a set of p::s::Tria for each subcommunicator. Smth like:

[code]

Yes, essentially I am thinking of replacing the current method signature with (note optional bool):

[code]

Depending on the flag, the communicator won't be copied.

[2019-10-31 13:22] bangerth commented on #8969
On 10/31/19 3:04 AM, Alexander Grayver wrote:

I don't think I understand this statement. Are you saying that `tria` now
operates on `subcom` or `MPI_COMM_WORLD`? I think it should continue to work
on subcom because that's what the triangulation was initialized with -- in
other words, copying the communicator would *always* be a wrong, and so be a
bug that I think ought to be fixed.

Want to write

[2019-11-01 12:38] paijian09 commented on #1921
I  also meet with this problem.  Have you solved it? Could you tell me how you deal with this problem?

[2019-11-02 18:24] #8374 closed

[2019-11-02 20:28] marcfehling opened #8990 "Indentation fails"
When running the indentation script, this error occurs:
[code]

This has probably been introduced in #8968. @agrayver Would you add `firstname` and `lastname` to your `git config`?

[2019-11-02 20:29] marcfehling commented on #8990
See also https://github.com/dealii/dealii/pull/8979#issuecomment-548835952

[2019-11-02 21:58] #8990 closed

[2019-11-02 22:02] agrayver commented on #8961
Resolved by #8968

[2019-11-02 22:02] #8961 closed

[2019-11-03 20:24] tamiko commented on #8374
@tjhei Sorry for missing your ping. I am absolutely fine with the workaround.

[2019-11-04 11:25] #8969 closed

[2019-11-04 12:30] BenBrands opened #8993 "Assert for parallel::distributed::Triangulation and hp::DoFHandler"
I have created an example (extension of step-4) using both the hp::DoFHandler and the distributed Triangulation to illustrate the problem.

As soon as I use local refinement, the following assertion is thrown:

    void dealii::DoFTools::internal::make_hp_hanging_node_constraints(const DoFHandlerType&, dealii::AffineConstraints<number>&) [with DoFHandlerType = dealii::hp::DoFHandler<2, 2>; number

[2019-11-04 13:39] tjhei opened #8995 "inconsistent constraints by machine eps"
I wrote the function ``AffineConstraints::is_consistent_in_parallel`` a while ago and we started using it in ASPECT. We now run into an issue that constraints are incorrect by a small epsilon:
[code]
One might argue that the implementation of this function should use an eps when comparing floats: https://github.com/dealii/dealii/blob/master/include/deal.II/lac/affine_constraints.templates.h#L184
B

[2019-11-04 14:55] bangerth commented on #8565
I don't know -- I'm not sure anyone still remembers how the preconditioners are set up given that that code hasn't changed in 15 years :-)

But it shouldn't be very hard to find out where the setup happens. Take a look at the `PETScWrappers::PreconditionerBase` class, how the derived class for AMG implements the interface, and then find out where the `PETScWrappers::SolverBase` calls the functions

[2019-11-04 14:55] tjhei commented on #8958
skype call with @bangerth @kronbichler @peterrum and me:
- We will go forward with #8964 and two blocking barriers as soon as possible
- Use the new CollectiveMutex in the places necessary: #8997
- Later we can try to optimize and simplify the code (the IBarrier does not seem to be correct on my system)

[2019-11-04 14:55] bangerth commented on #8974
Can you copy a minimal testcase here, so that the issue is recorded completely in github?

[2019-11-04 15:33] winnifried commented on #8974
Shure: Here it is

[main.cc](https://github.com/dealii/dealii/files/3804703/main.txt)

[2019-11-04 19:18] marcfehling commented on #8993
It is basically the following sanity check that will be triggered by your code:
https://github.com/dealii/dealii/blob/ba3e307eabc80e7eae43a76be1d5e2de21793e0c/source/dofs/dof_tools_constraints.cc#L1105-L1120

I already loosened this assertion in https://github.com/dealii/dealii/pull/8365, but this did not seem to do the trick for you. I assume your issue only occurs with at least two MPI processes

[2019-11-04 19:36] marcfehling commented on #8993
I could not reproduce your assertion with my build of `deal.II`.

Are you linking your scenario against the most recent version of [`deal.II master`](https://github.com/dealii/dealii/tree/master)? I suspect that your build does not incorporate changes made in #8365. Otherwise, I'm out of ideas for now...

[2019-11-04 20:43] BenBrands commented on #8993
That's absolutely true. I was using an obsolete version.
Thank you very much, @marcfehling!

[2019-11-04 20:43] #8993 closed

[2019-11-04 21:38] marcfehling commented on #8993
You are very welcome! This shows us that these 'special cases' we stumble upon once in a while are indeed scenarios that reappear in the work of others. We need this kind of input to know that we are on the right track. Thank you for sharing your application example :)

[2019-11-04 23:13] bangerth commented on #8993
Would it make sense to turn the code into a testcase?

[2019-11-04 23:33] BenBrands commented on #8993
I would not mind creating a small test if you consider it useful.
@marcfehling: Is there already a test for this particular functionality?

[2019-11-05 00:58] bangerth commented on #8993
On 11/4/19 4:33 PM, BenBrands wrote:

Yes, always! More tests = more better. Especially, if they are
real-world cases, rather than artificially constructed ones.

[2019-11-05 08:57] marcfehling commented on #8993
There is a testcase in #8365. But as @bangerth states, you can't have enough of them!

[2019-11-05 14:45] tjhei commented on #8958
I have a list with source location and MPI tag for all places where we use MPI_ANY_SOURCE and was thinking that should go into the repo somewhere. Should I just make a table in doc/doxygen/headers/ ?

[2019-11-05 15:31] bangerth commented on #8958
I wonder whether we should have
[code]
This way, things just stay in sync. It's a bit clunky, but the list does not change very often.

[2019-11-05 15:34] tjhei commented on #8958
Neat idea, will try something like that.

[2019-11-05 19:55] peterrum opened #9006 "Improve indent error message"
In the last few weeks, we had a lot of new user (which is good) who got during their first PR the following error message:

and in some cases we had to help them fix this issue. Could we improve the error message here

https://github.com/dealii/dealii/blob/5e6bc00896e6eebccaaf0105f52c166dbcfe2005/contrib/utilities/indent_common.sh#L88

somehow?

Maybe with a link to a new (?) wiki entry, which des

[2019-11-05 20:57] bangerth commented on #8995
That still bothers me. We should be computing the exact same constraints everywhere. I know the difference is small, but can you find out where exactly the difference is coming from? Why would the cell mapping be different depending on the order of cells?

[2019-11-05 22:28] tjhei commented on #8995
I am not sure why and it is not quite easy to figure out.

My best guess: I know that we use a caching mechanism when doing FEValues::reinit() that checks for cell similarity (and skips recomputation). I assume this might be enough to give epsilon difference in quadrature point location, etc..

[2019-11-05 22:38] tjhei commented on #9006
That would be useful, I agree. Instead of writing a lot of text, can you suggest links that show how to edit the username and rewrite the history?

[2019-11-05 22:46] peterrum commented on #9006
Maybe: https://makandracards.com/makandra/1717-git-change-author-of-a-commit

[2019-11-06 01:35] bangerth commented on #8995
On 11/5/19 3:28 PM, Timo Heister wrote:

The caching is disabled if you run multithreaded. That would be easy to
test.

[2019-11-06 04:13] masterleinad commented on #9006
I like https://www.git-tower.com/learn/git/faq/change-author-name-email. That also covers setting it globally.

[2019-11-06 08:52] winnifried commented on #8974
I will have a look if that works.

For your reference, I have a more elaborate test program that not
only tests if the assertions passes, but also if the values are correctly applied.
The code is here for your use:
[main.cc](https://github.com/dealii/dealii/files/3813404/main.txt)

[2019-11-06 09:33] BenBrands commented on #8993
In which directory should I put the test?

[2019-11-06 13:13] tjhei commented on #9006
great resource. I would create a wiki page and link to this document instead of directly linking to this URL, though. Let me prep that...

[2019-11-06 13:28] tjhei commented on #9006
see https://github.com/dealii/dealii/wiki/Indentation
edits welcome.

[2019-11-06 14:05] peterrum commented on #9006
@tjhei thanks!

[2019-11-06 14:07] bangerth commented on #8993
It does not really matter very much, but maybe `mpi/` since it runs in parallel?

[2019-11-06 15:08] lwy5515 opened #9009 "FullMatrix<number>::gauss_jordan() returns incorrect inverse in multithreading."
I am trying to run step-51 with the development version of dealii (installed by spack). It turns out that the solver fails to converge at a certain cycle and the resulting residual is above 1e18. One problem is that `FullMatrix<number>::gauss_jordan()` used the local assembling part may return incorrect inverse in multithreading and the correct error table can be obtained when running in one threa

[2019-11-06 15:22] #9006 closed

[2019-11-06 16:44] tjhei commented on #8958
sadly, it is needed in mpi.h...

[2019-11-06 20:26] marcfehling commented on #8993
The test from #8365 is called `tests/mpi/hp_hanging_node_constraints.cc`. Maybe something similar would be suitable, e.g. `tests/mpi/hp_step-4.cc`? There is already a test `tests/mpi/hp_step-40.cc` so I think this is a good pick.

[2019-11-07 09:29] agrayver opened #9015 "Python bindings for pre-/post-processing"
@dealii

I have decided to turn this into a meta-issue that will track my efforts towards a better python support in deal.II.

- [x] Add support for faces and boundary ids (fixed by #9023).
- [x] Enable indentation for python bindings (fixed by #9028).
- [x] Add interface for mapping objects (see #9055).
- [x] Enable working with manifolds (see #9109 #9179)
- [x] Extend GridTools support (see #914

[2019-11-07 09:33] agrayver commented on #9015
@Rombur I see you already implemented merge/shift -- do you see any caveats for other functions?

[2019-11-07 10:23] luca-heltai commented on #9009
I can reproduce the issue. If multi threading is disabled, everything works as expected.

[2019-11-07 13:54] Rombur commented on #9015
Being able to do step-49 in python would be really great! I think that it should be straight forward. You should be able to follow the recipe used for the functions that have already been ported but let me know if you encounter any problem.

[2019-11-07 16:40] bangerth commented on #9009
Are you using LAPACK? If so, can you try to disable the LAPACK path in `FullMatrix::gauss_jordan()` and see whether that avoids the problem? It may be that the LAPACK installation you have is just not thread-safe -- in which case we need to put a mutex around that call.

[2019-11-07 16:45] drwells commented on #9009
I don't think that this is related to LAPACK: we only switch to LAPACK if the matrix has at least 15 columns, but the one here only has twelve.

[2019-11-07 16:46] bangerth commented on #9009
Then we must be using some other variable at the same time on multiple threads...

[2019-11-09 04:53] GrahamBenHarper opened #9029 "Import .stl files for meshes?"
Many data sets for 3D scanning and 3D printing are given in the `.stl` file format. While deal.II doesn't directly support the import of `.stl` files, other programs like GMSH may be used to work around that to generate a `.msh` file that can be imported.

Have there ever been considerations of cutting out the middle program and directly importing `.stl` files as 2-manifolds in 3D space? deal.II w

[2019-11-09 21:00] tjhei opened #9031 "broken :ComputeIndexOwner::ConsensusAlgorithm if not all dofs are covered"
The test /tests/mpi/parallel_vector_16.cc hangs since the new consensus algorithm is used to determine ghost ownership. The test is there to test 64 bit indices and has a vector where the first 2^32 indices are not available on either processor. The test (even if you run with 2 ranks hangs in):
[code]
[code]

@kronbichler @peterrum ?

[2019-11-09 21:02] tjhei commented on #9031
noticed while working on #9024

[2019-11-09 23:12] peterrum commented on #9031
@tjhei This is related to an assumption within the `Dictionary` (and not the `ConsensusAlgorithm`). I am assuming that the index space [0,size[ is partitioned uniquely (this does not allow any gaps), which is also described here:

https://github.com/dealii/dealii/blob/88b8ad843f656776ab92b9a1ab7b8f82ee4f0654/include/deal.II/base/mpi.h#L1401-L1402

If this is not the case, the following while-loop

[2019-11-10 16:42] tjhei commented on #9031
We should (at least in debug mode) assert this precondition.

[2019-11-10 16:44] tjhei commented on #9031
It is not a very popular feature, but the vector class does support it (we only seem to have a single test that exercises this it seems). We either need to drop support, delete the test, and check that the owned range is 1:1, or work on the implementation.

[2019-11-10 16:45] peterrum commented on #9031
Have a look at PR #9032 ;)

[2019-11-12 14:47] MPhysXDev opened #9043 "Support for iterators within HDF5::Files or Groups"
Dear deal.II developers,

the initial support for HDF5 in v9.1 is a great addition, specially in the context of python script interactions with deal.II.

However adding interfaces to the built-in iterators over hdf5 groups or attributes (see for instance the h5py python interface package for comparison) would be a VAST improvement opening up greatly the use cases...

If this is already in a develo

[2019-11-12 20:10] bangerth commented on #9029
It turns out that we've debated patches for exactly this over the past couple of weeks. Take a look at #9029 and before that #8976/#9026.

[2019-11-12 20:10] bangerth commented on #9029
Any help as always appreciated!

[2019-11-12 21:40] bangerth commented on #9043
I think this would be a question for @dangars -- though I suspect that the answer is that no iterators are currently planned. Obviously, however, any help with writing such iterators would be greatly appreciated!

[2019-11-13 07:22] dangars commented on #9043
I tried to keep the HDF5 interface as close as possible to hd5py which is a great library!
I agree that iterators would be a vast improvement.
I'm going to write the feature that you requested, iterators to be able to loop over the groups and attributes. When I have a proof of concept I'll ping you!

[2019-11-13 08:07] MPhysXDev commented on #9043
@dangars, great ! We are looking forward to hear back about your progress on this. h5py is really a good one indeed.

Best regards,

MPhysX Development Team

[2019-11-13 08:31] luca-heltai opened #9046 "Inconsistent ParticleHandler numbering"
While working with @blaisb, we found out that the `insert_particles` method is inconsistent w.r.t. numbering of the particles. In particular, lines 136 to 139 of particle_handler.cc show that if we have no particles, the next_free_particle_index will be 1, instead of 0 (the logic is correct whenever we have particles, but not if no particles are present yet), meaning that the indices of particles,

[2019-11-13 08:36] stefan-kaessmair opened #9047 "Assertion during refinement of parallel distributed GridGenerator::quarter_hyper_ball"
Dear all,
I encountered an error during refinement of a quarter hyper ball, therefore Daniel Arndt asked me to open a new issue. In several cycles I refine the boundary cells of the triangulation.
This simple example fails:

[code]
I receive the following error when running on a single core:

[code]

When running on multiple cores I hit another error message (probably because there are no ghosts w

[2019-11-13 08:53] GrahamBenHarper commented on #9029
Perfect! I'll check those out.

[2019-11-13 14:44] dangars commented on #9043
@MPhysXDev I gave it a another thought, and I realized that it is not possible to add iterators in the same way that h5py works.

A HDF5 attribute, can be a double, int, string, a matrix, compound type, etc. And there is no way to know at compile time the type of a particular HDF5 attribute.

Python is a dynamic typed language, this allows to create the iterators that you find in the h5py library.

[2019-11-13 21:38] bangerth commented on #9043
You can let the iterator return a `boost::any` object that you initialize based on the type of the attribute. (I assume you can query HDF5 for the type, or at least ask whether it is of a specific type.) The user then has to know what type a particular attribute has to decode the `boost::any`, but at least you can write iterators.

[2019-11-14 10:58] dangars commented on #9043
@bangerth That is a good point :)
boost::any or std::any (C++17) can be used in this context. The HDF5 library can be used to query the type. Then `std::any::type()` can be used to query the contained type.

Although I think that I would prefer `std::variant` (C++17) it seems safer to me as it explicitly states the list of allowed types and it is easier to use it in a templated environment. `std::

[2019-11-14 13:43] masterleinad commented on #9043
Make sure that it works both for `boost::variant` and `std::variant` such that we can use a compatibility wrapper.

[2019-11-14 13:48] dangars commented on #9043
Sounds good!

[2019-11-14 14:38] bangerth commented on #9043
Yes, if you can enumerate the possible types of an attribute, then `***::variant` is the right choice!

If you want to write things in a generic way, take a look at what we have done in `include/deal.II/base/std_cxx17/optional.h`. It should be easy to replicate this for `std::variant`.

[2019-11-14 23:36] tamiko commented on #7597
@luca-heltai @masterleinad *ping* Is this on someone's radar at the moment?

[2019-11-15 03:38] masterleinad commented on #7597
Not on mine.

[2019-11-15 20:33] gassmoeller commented on #9046
Hi Luca,
you are right the two functions insert_particles handle this inconsistently. I think the reason for that is the consistency of the particle indices (i.e. that even in parallel computations each particle should get a unique index). The one function takes already generated particles, i.e. the user must have taken care to generate unique IDs. The other only takes positions and generates part

[2019-11-16 10:48] blaisb commented on #9046
Hi Rene/Luca
I think this could be a good simple fix. Following Rene explanation, the `insert_particles` would need to call `update_cached_numbers` twice if we want it guarantee that a unique ID per particle is used.
Do you want me to open a pull request for this?

[2019-11-19 17:25] branch171 opened #9060 "Compilation on MSVS 2019 dealii.master"
Hi, I'm try deal.ii for the first time. I have MSVS 2019 and I have managed to run cmake as instructed. However I get compilation errors. I know its experiemental but would appreciate some help.

C:\dealii\include\deal.II/base/symmetric_tensor.h(2428,1): error C2668: 'dealii::internal::SymmetricTensorImplementation::unrolled_to_component_indices': ambiguous call to overloaded function

C:\dealii\i

[2019-11-19 18:07] marcfehling commented on #8647
See also #8993 and #9036.

[2019-11-19 20:17] masterleinad commented on #9060
As you have already discovered support for Windows and in particular MSVC is experimental and we don't check that the master branch compiles with that compiler regularly.
If you really have to use Windows, we highly recommend using the Windows subsystem for Linux (https://github.com/dealii/dealii/wiki/Windows#using-dealii-with-the-windows-subsystem-for-windows) instead of MSVC.
On the other hand,

[2019-11-19 20:39] branch171 commented on #9060
Thanks

here is my output from the compile

1>------ Build started: Project: ZERO_CHECK, Configuration: Debug x64 ------
1>Checking Build System
2>------ Build started: Project: expand_instantiations_exe, Configuration: Debug x64 ------
3>------ Build started: Project: obj_sundials_inst, Configuration: Debug x64 ------
4>------ Build started: Project: obj_boost_serialization_debug, Configuration:

[2019-11-19 20:45] branch171 commented on #9060
There seems to be issues with 'constexpr'.

Also templates are not being resolved. The SymmetricTensorImplementation::unrolled_to_component_indices is the main one. I could change the rank 2 name and use an if statement.

[2019-11-19 20:53] branch171 commented on #9060
I will try the last release instead of the master. I chose the master as the boost libraries complied cleaner so though it would be better

[2019-11-19 21:15] branch171 commented on #9060
I have tried the 9.1.1 release and have the same issues. first error is the SymmetricTensorImplementation::unrolled_to_component_indices. I will try MSVS 2017 incase its a 2019 thing

[2019-11-19 21:19] masterleinad commented on #9060
Can you check that
[code]
helps with the first issue?

[2019-11-19 21:52] branch171 commented on #9060
I only get 2 errors now they are both:

58>'rm' is not recognized as an internal or external command,
58>operable program or batch file.
58>C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\VC\v160\Microsoft.CppCommon.targets(230,5): error MSB6006: "cmd.exe" exited with code 9009.
58>Done building project "kill-step.release-OK.vcxproj" -- FAILED.

the other the deb

[2019-11-19 21:53] masterleinad commented on #9060
Is that after applying the patch to `master`?

[2019-11-19 21:56] masterleinad commented on #9060
Does
[code]
fix the second problem with `TensorProductPolynomials`?

[2019-11-19 21:57] branch171 commented on #9060
I will check now

[2019-11-19 22:14] branch171 commented on #9060
Almost
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2664	'void dealii::TensorProductPolynomials<0,dealii::Polynomials::Polynomial<double>>::compute_index(const unsigned int,unsigned int (&)[1]) const': cannot convert argument 2 from 'std::array<unsigned int,0>' to 'unsigned int (&)[1]'	obj_base_release	C:\dealii\include\deal.II\base\tensor_product_polynomials.h	484

[2019-11-19 22:36] branch171 commented on #9060
This seems to work:

  unsigned int indices[(dim > 0 ? dim : 1)];
  compute_index(i, indices);

  double v[(dim > 0 ? dim : 1)][5];

[2019-11-19 22:41] branch171 commented on #9060
I am down to errors with these lines:

#ifdef DEAL_II_HAVE_CXX14_CONSTEXPR_CAN_CALL_NONCONSTEXPR
        = unit_symmetric_tensor<dim>()
#endif

[2019-11-19 22:45] branch171 commented on #9060
Its 11 pm here I will be back tomorrow. Thanks for all your help so far. I am happy to keep helping with the build to get it going.

[2019-11-19 22:51] branch171 commented on #9060
PS I'm working on the master now. 9.1.1 built with only 2 errors:

58>'rm' is not recognized as an internal or external command,
58>operable program or batch file.
58>C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\VC\v160\Microsoft.CppCommon.targets(230,5): error MSB6006: "cmd.exe" exited with code 9009.
58>Done building project "kill-step.release-OK.vcxproj" --

[2019-11-20 08:08] ermore opened #9064 "installed dealii on our school's cluster，get error？"
Hi all,
I recently installed dealii on our school's cluster (which is not allowed to access the internet).
When I run step-2 I got the error "Segmentation fault (core dumped)".

The following is the warning I got when I run "cmake":

[code]

And the following is the error I got when I run step-2 by "gdb ./step-2":

[code]

In the last four lines of the error, it seems that it is the "tbb" that lea

[2019-11-20 11:21] branch171 commented on #9060
Hi if there is any need to check the issue with the remaining errors I am available. The #9062 and #9063 work.

What remain in the master is mostly below

Severity Code Description Project File Line Suppression State
Error C3615 constexpr function 'dealii::Tensor<1,1,double>::Tensor' cannot result in a constant expression obj_physics_elasticity_debug C:\dealii\include\deal.II\physics\elasticity\st

[2019-11-20 11:39] branch171 commented on #9060
More specific error

27>kinematics.cc
26>kinematics.cc
27>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(72,37): error C3615: constexpr function 'dealii::Tensor<1,1,double>::Tensor' cannot result in a constant expression
26>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(72,37): error C3615: constexpr function 'dealii::Tensor<1,1,double>::Tensor' cannot result in a

[2019-11-20 13:32] tjhei commented on #9064
Hi,
it seems that your configuration picks up two different versions of the MKL (see the warnings in the first block). Nothing good comes out of that and it is not surprising that you see crashes or weird behavior. You need to go back and reconfigure deal.II and its dependencies to make sure you only have one version of the MKL pulled in. Are you using any system installed packages (hdf5, petsc, t

[2019-11-20 13:46] masterleinad commented on #9060
Can you check if #9065 helps?

[2019-11-20 14:44] tjhei commented on #8647
Hey Marc, do you know what causes the difference between prepare and what p4est decides to do?

Something related has been on my todo list for a long time and I have (had?) a working implementation at some point. The idea was basically:
1. Turn off any smoothing/ 2-to-1 handling inside p4est.
2. Only use refinement flags on locally owned cells and perform "smoothing" (based on flags) correctly in

[2019-11-20 16:54] branch171 commented on #9060
Hi

It came up with

Severity	Code	Description	Project	File	Line	Suppression State
Error	C2131	expression did not evaluate to a constant	obj_physics_elasticity_debug	C:\dealii\include\deal.II\physics\elasticity\standard_tensors.h	72

[2019-11-20 17:07] branch171 commented on #9060
and same on line 121

error output

50>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(72,37): error C2131: expression did not evaluate to a constant
50>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(74,1): message : failure was caused by call of undefined function or one not declared 'constexpr'
50>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(74

[2019-11-20 19:46] masterleinad commented on #9060
I don't have a good idea. As a workaround you could try to just disable C++17 and C++14 support.

[2019-11-20 19:51] bangerth commented on #9060
@branch171: First, thanks for all of the testing help!

Let's get all of the patches merged that @masterleinad has proposed, and then try again. I have a suspicion that when all of these commits are in, we're down to a handful of issues that shouldn't be that hard to fix.

[2019-11-20 20:37] branch171 commented on #9060
No problem with the help. I will  try disable C++17 and C++14 support as a test and feedback what I see. At the moment I can use release 9.1.1 for my actual finite element work. Once you have merged the patches I will download the master to test and see where we are.

[2019-11-20 23:59] marcfehling commented on #8647
Thank you for pointing out your idea! I am still not sure how this happens, but I ran into this problem again just today: `p4est` refined cells that did not have a `refine_flag` set from the `deal.II` side.

For now, I will continue to tie critical operations to the `p::d::Triangulation` callbacks, since the oracle specifies which cells will be refined in the end. I need to postpone tackling this

[2019-11-21 00:14] bangerth commented on #9009
How do we want to attack this issue? @lwy5515 -- can you say how you modified the program to show that the matrix inversion really is the problem?

[2019-11-21 00:20] bangerth commented on #8978
This is addressed in #8999.

[2019-11-21 12:53] lwy5515 commented on #9009
@bangerth @luca-heltai
Here is the convergence table (for Q3 elements with the global refinement) I got from the original step-51 code.
[code]
It seems that something behaves strange when n DoFs is large. If I guard the function call of `gauss_jordan()` (at line 926) with `Threads::Mutex` like
[code]
I get the expected convergence table:
[code]

[2019-11-21 13:41] branch171 commented on #9060
Hi I complied the new master. Its failing in the same place where it says for #9065

50>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(72,37): error C2131: expression did not evaluate to a constant
50>C:\dealii\include\deal.II/physics/elasticity/standard_tensors.h(74,1): message : failure was caused by call of undefined function or one not declared 'constexpr'

and using the maste

[2019-11-21 13:48] masterleinad commented on #9060
Yes, you can see the current build status here: https://ci.appveyor.com/project/masterleinad/dealii
This branch is replacing the default constructor by explicitly initializing `values`. This leaves us with an internal compiler error and disabling C++14 (and C++17 support) as well as `DEAL_II_HAVE_CXX14_CONSTEXPR_CAN_CALL_NONCONSTEXPR` doesn't change anything.

[2019-11-21 13:49] masterleinad commented on #9060
Yes, the CMake options are `DEAL_II_WITH_CXX_14` and `DEAL_II_WITH_CXX_17`.

[2019-11-21 16:47] branch171 commented on #9060
I wanted to try this:

template <typename T, unsigned S> struct _array : public std::array<T,S> {};
Using _array in place of std::array

But not sure were to put it.

[2019-11-21 17:00] branch171 commented on #9060
Didn't work!

[2019-11-21 18:15] luca-heltai opened #9068 "Reserve step-70"
@blaisb and I have been working for a couple of weeks on massively parallel immersed boundary computations.
We came up with (what we think is) a very nice tutorial program showing the following features (most of which are new, and will be added as pull requests shortly):

- Use of particles (tracing in a stokes flow)
- Fluid structure interaction on non-matching grids in a fully distributed manner

[2019-11-21 22:14] bangerth commented on #9068
Nice! And cool to see a tutorial program that uses particles!

[2019-11-22 12:50] branch171 commented on #9060
Hi, I wanted to check if using INTELS c++ compiler inside MSVS would be better for compiling the library, maybe its more compliant with c++17 . Is there a cmake command to build using INTELS c++ instead of MSVS c++ or do I need to change the compilier in all the projects by hand?

Thanks

[2019-11-22 13:23] masterleinad commented on #9060
You can pass the compiler to use via `-DMAKE_CXX_COMPILER=...` but we don't have any experience with `Intel` on Windows. It seems that Visual Studio 2017 should work better, so you might try that if it is an option.

The current problem with VS2019 not that much related to C++17 support, but rather an internal compiler error. Not sure if we can hunt it down easily. Again, you're happily invited to

[2019-11-22 14:03] branch171 commented on #9060
Hi I experimented with INTEL c++ in the hope the error would be clearer. They are related but different.

This is the first

33>C:\dealii\include\deal.II/base/thread_management.h(112): error : attribute does not apply to any entity
33>      using ScopedLock DEAL_II_DEPRECATED = std::lock_guard<std::mutex>;
33>                       ^
33>
its the DEAL_II_DEPRECATED it has a problem with

This is th

[2019-11-22 14:07] masterleinad commented on #9060
So does it work if you remove DEAL_II_DEPRECATED and AssertIndexRange in the respective places?

[2019-11-22 14:59] branch171 commented on #9060
Its getting there. I have comments out all AssertIndexRange and Asserts removed DEAL_II_DEPRECATED and there was an issue with __PRETTY_FUNCTION__ which I've commented out the if it was in.

I get lots of warnings associated with boost where its recommed to _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING

but so far no errors and I'm half way through the build

[2019-11-22 17:12] branch171 commented on #9060
Success using MSVS 2019 with INTEL 19.0 C++17 with commenting out all AssertIndexRange and Asserts in:

table_indices.h, symmetric_tensor.h, tensor.h, and standard_tensor.h

and removal of DEAL_II_DEPRECATED

implementation of:
#9062 #9063  and #9065

Also

// CAB    if (!(iexp >= 0))
		// CAB      ::dealii::deal_II_exceptions::internals::issue_error_noreturn(
		  // CAB        ::dealii::deal_II_e

[2019-11-22 17:15] branch171 commented on #9060
no allocator_traits didn't work. SO I not sure how to fix that. Buts its only a warning for now,

[2019-11-22 19:29] masterleinad commented on #9060
See #9080.

[2019-11-22 21:37] #9060 closed

[2019-11-22 21:47] branch171 commented on #9060
Thankyou for all your help. I can confirm a clean build with MSVS 2019 C++17 using #9080

I got the libraries and built step-26 and reproduced the tutorial results.

[2019-11-23 13:34] peterrum opened #9084 "MatrixFree: usage of FE_Q and mapping_update_flags_inner/boundary_faces"
The following code asserts:
[code]
with the following message:
[code]
The reason for this crash is that we have accidentally set the:
[code]

for `FE_Q` (since we simply copied a `FE_DGQ`) code. The assert message did not really help to find the reason. @kronbichler: Is it an option to check in `MatrixFree::reinit()` that if `FE_Q` is used the face flags should not be set?

FYI @lpsaavedra

[2019-11-23 15:47] kronbichler commented on #9084
This code should work, even when we set up the data structures for the faces.

[2019-11-25 03:16] #9031 closed

[2019-11-25 09:52] #8978 closed

[2019-11-26 13:56] masterleinad commented on #9064
There is an answer at the appropriate place at https://groups.google.com/forum/#!topic/dealii/cQF73jdED7M.

[2019-11-26 13:56] #9064 closed

[2019-11-26 17:44] peterrum opened #9099 "Extend DataOut for multigrid levels"
@tamiko, @tjhei, and me were working independently on the extension of `DataOut` for multigrid levels. In my opinion, we should be able to output the results on the active levels and on each (!) multigrid level, as shown in the following code:

[code]
This code snippet merges what I want to do and @tamiko wants to do (output on a coarser grid) and uses the implementation by @tjhei. In a first test

[2019-11-27 09:59] peterrum opened #9102 "FE_DGQ::memory_consumption() is not implmented"
The method `FE_DGQ::memory_consumption()` is not implemented:

https://github.com/dealii/dealii/blob/fe4975c998b1fdc124aef18238e3eb06d7ab88ed/source/fe/fe_dgq.cc#L822-L828

so that the following program fails:

[code]

Is there a particular reason we cannot use the implementation from `FiniteElement`?

[2019-11-28 08:07] dangars opened #9107 "SSL problem with www.dealii.org"
Hi, when I try to access www.dealii.org, I get the warning message "Your connection is not private". I'm using Debian stretch and I get the same message with chromium and firefox.

I think that it is either, the server is down or there is a problem with the SSL signature.

Do other people get the same warning?

[2019-11-28 08:08] peterrum commented on #9107
The same here (I noticed it an hour ago - but did not care).

[2019-11-28 08:09] peterrum commented on #9107
The same is for the doxygen side, which is really annoying!

[2019-11-28 16:52] tjhei commented on #9107
fixed!

[2019-11-28 16:52] #9107 closed

[2019-11-28 17:08] dangars commented on #9107
Thanks @tjhei :)

[2019-11-30 07:35] rezarastak opened #9112 "linking error with Utilities::MPI::min only in release mode"
The following code compiles and runs perfectly in debug mode
[code]
but fails in release mode with the error:
[code]
could be related to #2739. I will try to add some function template instantiations.

[2019-11-30 08:41] peterrum commented on #9112
Does it help if you extend the following lines:

https://github.com/dealii/dealii/blob/e48ae3320d44f3a6ef363887da4c06b8522b4c7b/source/base/mpi.inst.in#L48-L58

with

[code]

?

[2019-11-30 09:21] alexrobomind opened #9114 "include/deal.II/bundled added to DEAL_II_INCLUDE_DIRS in deal.IIConfig.cmake even when it doesn't exist"
If deal.II is compiled with DEAL_II_ALLOW_BUNDLED=Off (as it is done by the spack package), the include/bundled directory is never created. It is however added to the list of include directories in DEAL_II_INCLUDE_DIRS. This is not a problem when setting up a target via dealii_setup_target, but when I create a dependent library that exports this directory in its INTERFACE_INCLUDE_DIRECTORIES prope

[2019-11-30 16:11] tamiko commented on #9114
@alexrobomind Will fix it in a minute.

We actually merged this changeset already two times (over the last 5 years) and reverted it again due to some older cmake versions having massive problems with it. We might revisit this again for the next release and increase the minimal supported version.

[2019-11-30 16:19] masterleinad commented on #9047
Also, see #8603.

[2019-11-30 17:09] #9112 closed

[2019-11-30 17:56] #9084 closed

[2019-11-30 18:15] marcfehling opened #9116 "CMake 3.16.0: Mandatory test fails"
After upgrading `CMake` from version `3.15.5` to `3.16.0`, the mandatory test `DEAL_II_HAVE_USABLE_FLAGS_DEBUG` fails on my machine with the following `CMakeError.log`. Configured with `MPI=ON, P4EST=ON, TRILINOS=ON` together with `gcc 9.2.0` and `openmpi 4.0.2`.

---

[code]

---

It appears that the most recent `CMake` does not get a reference to the `POSIX Threads` API.

[2019-11-30 18:43] marcfehling commented on #9116
Maybe related, since it is the only functionality change to `FindThreads.cmake` made in version `3.16.0`.
https://gitlab.kitware.com/cmake/cmake/commit/de5f123d3afd2dc4b82c66f760615e4034675418

[2019-11-30 18:45] marcfehling commented on #9116
As a side note: The `FindThreads` [module documentation](https://cmake.org/cmake/help/latest/module/FindThreads.html) is outdated:
https://gitlab.kitware.com/cmake/cmake/issues/19823

[2019-11-30 18:45] masterleinad commented on #9116
Hmm... I can't reproduce this problem, but I also get
[code]

[2019-11-30 18:52] masterleinad commented on #9116
What does `DEAL_II_HAVE_FLAG_pthread` print for you? I get
[code]

[2019-11-30 19:08] marcfehling commented on #9116
Test `DEAL_II_HAVE_FLAG_pthread` passes, while `DEAL_II_HAVE_USABLE_FLAGS_DEBUG` does not.

I reduced my cmake configuration to the default one, which sets `DEAL_II_WITH_THREADS=ON`. Let me try to be more verbose on the configuration results:

---

`CMake` console output
[code]

---

`CMakeFiles/CMakeOutput.log`
[code]

---

`CMakeFiles/CMakeError.log`
[code]

[2019-11-30 19:10] marcfehling commented on #9116
Wait, did `CMake` drop the dash in `-pthread`?
[code]

[2019-11-30 19:15] masterleinad commented on #9116
Isn't that was https://gitlab.kitware.com/cmake/cmake/commit/de5f123d3afd2dc4b82c66f760615e4034675418 is about? I don't see this bare `pthread` in my configuration, though.

[2019-11-30 19:20] marcfehling commented on #9116
Correct, this is what the commit was about. Somehow, we translate this information incorrectly to the linker flags though.

With `CMake 3.15.5`, test `DEAL_II_HAVE_FLAG_pthread` passes with:
[code]

With `CMake 3.16.0`, test `DEAL_II_HAVE_FLAG_pthread` fails with:
[code]

[2019-11-30 19:33] masterleinad commented on #9116
So we need to convert ` pthread` into `-pthread` in `CMAKE_THREAD_LIBS_INIT` similar as we convert `-lpthread` into `-pthread`.

[2019-11-30 19:44] marcfehling commented on #9116
I'll prepare a pull request.

[2019-12-01 01:35] #8960 closed

[2019-12-01 21:25] VictorEijkhout opened #9120 "What is the most recent compatible petsc?"
The version 9 cmake doesn't seem to recognize 3.11 as newer than 3.3.

Stick with 3.9 for a while?

Victor.

[2019-12-01 21:28] masterleinad commented on #9120
This was fixed in https://github.com/dealii/dealii/pull/7203 which is part of version 9.1.1.

[2019-12-01 21:28] #9120 closed

[2019-12-02 00:10] tjhei commented on #9120
Yes, I don't think you get any big advantages from going to a very new version.

In candi we install 3.11.3 for deal.II 9.1 for example: [source](https://github.com/dealii/candi/blob/dealii-9.1/deal.II-toolchain/packages/petsc.package#L1) while we use 3.7 for 9.0.

[2019-12-02 08:52] #9046 closed

[2019-12-02 16:13] luca-heltai commented on #1681
Could we also export the built libraries as artifacts in appveyor for master merges? This would allow us to distribute to Windows users also a prebuilt binary with the latest version of deal.II.

[2019-12-02 16:47] davydden opened #9123 "LAPACK template wrappers should probably have an additional parameters for every char*"
see https://bitbucket.org/blaze-lib/blaze/issues/251/undefined-behaviour-due-to-lapack

[2019-12-02 17:08] drwells commented on #9123
It should be possible to do this semi-automatically by modifying the script that generates wrappers. Have we observed this problem yet?

[2019-12-02 17:14] masterleinad commented on #9123
This would likely also fix the problem with the unity build with `Tpetra`.

[2019-12-02 17:29] drwells commented on #9123
@masterleinad Do we have an open issue for the problem with Tpetra + unity build?

[2019-12-02 18:37] masterleinad commented on #9123
No, we don't.

[2019-12-02 22:40] #9114 closed

[2019-12-03 02:18] bangerth commented on #9102
What is the error message you get? Does one of the intermediate classes intercept the virtual function and produce an error of its own?

I believe that we should just implement this in the last class before `FE_DGQ` that actually stores data.

[2019-12-03 04:52] VictorEijkhout opened #9134 "bessel_j undeclared"
[deallog.zip](https://github.com/dealii/dealii/files/3914666/deallog.zip)
I'm trying to build with gcc 7.1

[code]

Do you want the log file which is only 19k lines?

[2019-12-03 13:11] masterleinad commented on #9134
You have

for configuring `deal.II`. Since you didn't set `DEAL_II_WITH_CXX17=OFF` and `gcc-7.1` supports C++17, this results in `DEAL_II_WITH_CXX17=ON`. On the other hand, you are setting version flags (`-std=c++14` manually) and we end up with different effective flags for the feature check and at build time.
Just don't do that. It should work once you remove the explicit version flags in `DEAL_

[2019-12-03 13:13] Rombur commented on #9134
Looks like deal.II was configured with c++ 17 but it is not compiled with the c++17 flag.

[2019-12-03 15:59] #9116 closed

[2019-12-03 16:19] drwells opened #9135 "Conflict in LAPACK function prototypes"
This came up in the slack channel but we should track it here so it doesn't get lost. @masterleinad wrote

We declare our own LAPACK prototypes in the header `lapack_templates.h`. These may not be compatible with other declarations since those prototypes try to enforce const-correctness based on LAPACK's own documentation. Note that overloading is not allowed since we have to use `extern "C"` to c

[2019-12-03 16:19] drwells commented on #9135
@masterleinad out of curiousity, would you please point me to where Kokkos defines its own LAPACK wrappers?

[2019-12-03 16:47] masterleinad commented on #9135
It's in `kokkos/kokkos-kernels`, not `kokkos/kokkos`:
https://github.com/kokkos/kokkos-kernels/blob/master/src/impl/tpls/KokkosBlas_Host_tpl.cpp

[2019-12-03 16:59] drwells commented on #9135
I am surprised that we haven't run into this before - we are clearly not the only project that wrote our own header for LAPACK.

[2019-12-03 17:13] drwells commented on #9135
I think the right solution would be to require `lapacke` which is the approved C interface to LAPACK. The UNC clusters have it. Switching would also, I believe, fix #9123. A disadvantage is that `lapacke` doesn't provide a direct interface and instead makes us specify the matrix order for each function call.

[2019-12-03 18:00] Rombur commented on #9135
I've used `lapacke` in one project and it was kind of a mess to know if it was installed and if not how to install it. It was different for each LAPACK library. Overall I don't recommend using it.

[2019-12-03 18:10] bangerth commented on #9135
It's hard to believe that calling a function with the wrong number of arguments yields anything that even remotely works. My only explanation is that we've only ever used Lapack implementations that really do have that argument list, and no hidden arguments. I mean, with as many arguments as these functions have, arguments get pushed onto the stack and the implementation would access random memory

[2019-12-03 18:34] drwells commented on #9135
@bangerth I agree with everything you wrote, but isn't that the issue tracked by #9123?

[2019-12-03 18:51] bangerth commented on #9135
Yes, should have been there.

[2019-12-03 18:51] bangerth commented on #9123
It's hard to believe that calling a function with the wrong number of arguments yields anything that even remotely works. My only explanation is that we've only ever used Lapack implementations that really do have that argument list, and no hidden arguments. I mean, with as many arguments as these functions have, arguments get pushed onto the stack and the implementation would access random memory

[2019-12-03 18:55] drwells commented on #9135
@masterleinad one more question: you mentioned that this was fixed in kokkos-kernels. What released version of Trilinos causes the problem with the unity build?

[2019-12-03 19:29] masterleinad commented on #9135
It's a problem up to (and including) Trilinos 12.14 (see https://github.com/trilinos/Trilinos/blob/trilinos-release-12-14-branch/packages/kokkos-kernels/src/impl/tpls/KokkosBlas1_axpby_tpl_spec_decl.hpp)

[2019-12-06 09:30] agrayver commented on #7021
@bangerth any news?

Since I was involved in adding this functionality, I am willing to update at least step-53 with the high-order meshes. It makes sense to do this before I implement step-53 in python as a part of #9015

Regarding other steps:
step-10: not sure this step will benefit from the new high-order output. Images there deliver the message pretty well. Perhaps just a mention of the other

[2019-12-06 11:13] agrayver commented on #7023
I have created a wiki page: https://github.com/dealii/dealii/wiki/Notes-on-visualizing-high-order-output

Let me know what you think (@bangerth probably of interest...).

This is in preparation for #7021

[2019-12-08 14:52] peterrum opened #9153 "Introduce element-centric loops (ECL)"
In collaboration with @kronbichler, I will integrate element-centric loops (ECL) into the matrix-free framework. ECL can be used for `FE_DGQ` and `FE_DGQHermite`; in contrast to the face-centric loop `MatrixFree::loop` (FCL), which processes cells, faces, and boundary faces independently, the new loop will process a cell and all its faces in one go. As a consequence, faces will be processed two ti

[2019-12-09 12:24] #8275 closed

[2019-12-11 19:32] wonderfulzzd opened #9163 "Typo on Step-40's webpage"
I tried to run the code from Step-40's webpage,
https://www.dealii.org/current/doxygen/deal.II/step_40.html

However, I encountered errors: error: ‘LinearAlgebraPETSc’ is not a namespace-name
   using namespace ::LinearAlgebraPETSc;

So I compared the code from the locally installed file of Step-40 and found there is a slight difference:

Webpage:
[code]

Locally installed source code:
[code]

The

[2019-12-11 20:21] jfriedlein opened #9164 "Mismatch in vectorization capabilities (AVX) on i7-Comet Lake"
I run dealii@9.1.1 installed via spack on a laptop with a Comet Lake processor (more system details see below). When calling "make" on a script that contains a header that uses "vectorization.h", I receive the following error message leading to a failed compilation:

$ make
Scanning dependencies of target step-1_with_vectorization_header
[ 50%] Building CXX object CMakeFiles/step-1_with_vectorizat

[2019-12-11 20:40] kronbichler commented on #9164
I am not familiar with all specific settings of spack, so I could miss some parts there, but I wrote most of the mechanisms that trigger here. What I believe happens is that you compiled deal.II with `-march=native`, but when compiling the program like step-1 in your case, the compile line does not include `-march=native`. To assess whether that is really the case, I would need the `detailed.log`

[2019-12-11 20:42] Rombur commented on #9164
Can you show the flags that are used when using spack? Not long ago, spack decided to compile every library for the specific architecture you are compiling on and I bet that deal.II and spack disagree on the architecture. What I think happens is that deal.II correctly finds that your processor support AVX but spack injects the wrong flags because it found the wrong architecture.

[2019-12-11 20:43] masterleinad commented on #9164
What is the configuration that `spack` installs? In particular, what is `DEAL_II_CXX_FLAGS`, `DEAL_II_CXX_FLAGS_DEBUG` and `DEAL_II_CXX_FLAGS_RELEASE` in `deal.IIConfig.cmake`?

[2019-12-13 12:44] zhiyuanzhai opened #9169 "CMake cannot find LAPACK"
I was trying to build deal.II from source :
[code]
The following error occurred :
[code]
It looks like an issue with my LAPACK installation. But I think it's not likely to go wrong as I've installed the lapack through MacPorts.
Then I'm stuck.

Error Log : [CMakeError.log](https://github.com/dealii/dealii/files/3960791/CMakeError.log)

OS : macOS Catalina 10.15.2
Fortran Compiler : `ifort`
C/C++ C

[2019-12-13 12:49] jfriedlein commented on #9164
First of all, thank you for your replies and insight into what's going on.
I attached the files: `detailed.log`, `deal.IIConfig.cmake` and the output of `make VERBOSE=1`. Here an extract based on `deal.IIConfig-cmake`:
- SET(DEAL_II_CXX_FLAGS "-pedantic -fPIC -Wall -Wextra -Woverloaded-virtual -Wpointer-arith -Wsign-compare  -Wswitch -Wsynth -Wwrite-strings  -Wno-literal-suffix -Wno-psabi -fopenmp

[2019-12-13 14:45] tamiko commented on #9169
You specified a directory instead of a library. In order for deal.II to
pick up lapack you either have to specify the full path to the library

  -DLAPACK_LIBRARIES="/opt/local/lib/lapack/liblapack.so"

or specify the directory via

  -DCMAKE_PREFIX_PATH="/opt/local/lib/lapack"

[2019-12-14 10:53] #5019 closed

[2019-12-17 01:17] bangerth opened #9177 "FunctionParser still uses boost::random"
#9125 alerts me to the fact that the `source/base/function_parser.cc` file still uses the BOOST random number facilities. #9125 moves this functionality to `source/base/mu_parser_internal.cc`, so we should wait till that PR has been merged, but after that, we should replace the BOOST random facilities by the corresponding C++11 facilities.

@konsim83 -- FYI.

[2019-12-17 21:45] dougshidong opened #9180 "LinearOperator on Trilinos using MPI_COMM_SELF"
I am constructing a LinearOperator using a Trilinos PreconditionILU just like in test linear_operator_10a.cc. However I am using MPI to run the code

[code]
serially, it works just fine. However when run with more than 1 MPI process, I get the following error and stack trace:
[code]
The error message is from the run, stack trace itself is from gdb so that I could show the line numbers of the funct

[2019-12-19 21:36] peterrum commented on #9153
FYI @nfehn

[2019-12-19 21:48] peterrum commented on #9153
I think these 5 PRs are enough for first working ECL implementation. They have added:
- the capability to access neighboring cells even if `FEFaceEvaluation::reinit(cell, face)` was celled
- a cell loop with the capability to update the ghost values of a vector and to compress (so that all ghost faces/cells are updated)
- the capability to read/write mapping information and values (even for neighb

[2019-12-21 13:48] simonsticko opened #9184 "Build of static library possibly broken"
According to the documentation (dealii.org/current/users/cmake.html) it should be possible to build a static library by setting DEAL_II_STATIC_EXECUTABLE=ON.

But calling

`cmake -DDEAL_II_STATIC_EXECUTABLE=ON -DDEAL_II_FORCE_BUNDLED_THREADS=ON ..`

gives me the following error:

[code]

As far as I understand, the problem is that LIBRARIES contain gcc_s. This is shared library, but when we link s

[2019-12-22 18:33] #9102 closed

[2019-12-23 13:56] luca-heltai opened #9192 "Create/Load grid with local refinement"
@nicola-giuliani

In a project we are following, it has become necessary to have an input-output format that supports grids with local refinement.

While it is quite easy to store this information in a vtk file (we just save all cells, including inactive ones, maybe with information about what level they belong to in a cell-data field), it is not so trivial to create a triangulation from this info

[2019-12-23 14:42] peterrum commented on #9192
@luca-heltai This sound similar to what I have implemented in `parallel::fullydistributed::Triangulation`. There we have `create_triangulation()` which takes a `ConstructionData`:

https://github.com/dealii/dealii/blob/1759d6ebcf275384e21e1fe02e369cc9d514fc88/include/deal.II/distributed/fully_distributed_tria.h#L311-L312

`ConstructionData` contains the information to construct each level of the t

[2019-12-23 15:42] bangerth commented on #9192
There is also the `PerisistentTriangulation` class that can do this already in the case where the triangulation is both read and written by deal.II.

I have often thought that it might make sense to actually define a file format for hierarchically refined meshes, for example based on the XML-based VTU format with some extensions. I could imagine this turning into a nice ACM TOMS paper :-)